<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>28e71c68-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[28e71c68-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>0d196f78-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>28e93f4d-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[28e93f4d-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>d0e949b5-cfe9-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/side</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>28ecc1c4-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssVisibility]]></Name>
          <Value>
            <String><![CDATA[hidden-xs hidden-sm hidden-md]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>a4cd43f7-d041-11ec-844e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section-ext/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-ext-m/ecs_00007.xml]]></target>
            <uuid>a797fcbc-d041-11ec-844e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[feature-list col-red]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>6bc5a857-d041-11ec-844e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section-ext/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-ext-m/ecs_00003.xml]]></target>
            <uuid>b3c7db03-d03b-11ec-844e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[feature-list col-cyan]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2bdd1427-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>61d1f1e3-d0a9-11e9-a899-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00027.xml]]></target>
            <uuid>650d6dd4-d0a9-11e9-a899-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>8212c7e7-d0a9-11e9-a899-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00028.xml]]></target>
            <uuid>84ee97a8-d0a9-11e9-a899-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
