<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>a3435151-812d-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>59535163-812b-11e9-9cd8-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[59535163-812b-11e9-9cd8-d529725938a7]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>05e5244b-4e73-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>0db0fdcc-4e73-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>d11f5fb5-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[d11f5fb5-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[05e5244b-4e73-11ea-a7f8-0242ac11002b-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[05e5244b-4e73-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>f00ac18d-5886-11ea-bfef-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/filter</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00007.xml]]></target>
            <uuid>c15b2443-4e74-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[showarchive]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showcategories]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>0f9749fd-4e73-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00003.html]]></target>
            <uuid>f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[05e5244b-4e73-11ea-a7f8-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[05e5244b-4e73-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>c983cc53-812d-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[c983cc53-812d-11e9-9cd8-d529725938a7-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[c983cc53-812d-11e9-9cd8-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>46e17955-4eff-11ea-bc34-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/sortoptions</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00003.xml]]></target>
            <uuid>279fede5-808c-11e9-9d43-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>5d717ca3-5ec8-11ea-93df-0242ac11002b</ElementInstanceId>
        <FormatterKey>f7ea58ea-5ec5-11ea-93df-0242ac11002b</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00003.xml]]></target>
            <uuid>279fede5-808c-11e9-9d43-d529725938a7</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>19acec80-4e73-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/dynamic</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00003.xml]]></target>
            <uuid>279fede5-808c-11e9-9d43-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[appendSwitch]]></Name>
          <Value>
            <String><![CDATA[md-sm-xs-lg-xl]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[intra-list-mark-inactive]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[itemsPerPage]]></Name>
          <Value>
            <String><![CDATA[100]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listHsize]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listPaginationPosition]]></Name>
          <Value>
            <String><![CDATA[pagination-center]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
