// Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
//
// All Rights Reserved.
// Unauthorized copying of this file, via any medium is strictly prohibited.

/**********
 * Theme file: commons/_additions.scss
 */

// Additions shared by Alkacon and OpenCms web

.detail-page {
    .detail-visual {
        &.piece .heading .visual-info.date-only {
            justify-content: flex-start;
            margin-bottom: var(--#{$prefix}piece-paragraph-margin-bottom);
        }
    }
}