// Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
//
// All Rights Reserved.
// Unauthorized copying of this file, via any medium is strictly prohibited.

/**********
 * Theme file: alkacon-web/_additions.scss
 */

@media (min-width: 1400px) {

    header .h-bc,
    main.area-content {
        background-color: $grey-lighter;
        > .container {
            max-width: 1400px;
            padding-right: 50px;
            padding-left: 50px;
            background-color: $body-bg;
        }
    }

    header {
        &.area-header:not(.no-margin) {
            margin-bottom: 0;
            .h-bc > .container {
                padding-bottom: $default-margin;
            }
        }
    }

    .pt-head {
        padding-top: $default-margin !important;
    }
}

.piece {
    &.ul-style-none {
        ul {
            list-style: none;
        }
    }

    &.box {
        .body.default {
            flex-grow: 1;
        }
    }
}

.detail-page {
    margin-bottom: $default-margin;
    &.element {
        .detail-content {
            margin-bottom: 0;
        }
    }
}

// do not show service links on fixed header
header.fh {
    .head.isfixed {
        .h-meta {
            display: none;
        }
    }
}

// make the copyright footer smaller, otherwise bad linebreaks may occur
@include media-breakpoint-down(md) {
    footer {
        .subfoot {
            .ls-row li {
                display: block;
            }
            .ls-row.line-icon li:not(:last-child)::after {
                display: none;
            }
        }
    }
}

.flex-col {
    > .list-content:only-child {
        .teaser.piece {
            > .link .teaser-btn {
                padding: $btn-def-padding;
            }
        }
    }
}

main {
    a {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--#{$prefix}body-color);
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 2px;
    }
    // h1, h2, h3, h4, h5, h6,
    nav {
        a {
            text-decoration: none;
        }
    }
}

// stetch list box for homepage
@include media-breakpoint-up(md) {

    .flex-col {
        > .list-content:only-child {
            // required for alkacon homepage
            // this makes single content elements in a .flex-col using the complete element height
            // and allows to align links at the bottom
            flex-grow: 1;
            @include text-tile(false);
            .list-box,
            .list-entries,
            .list-entry,
            .teaser,
            .body {
                display: flex;
                flex-direction: column;
                width: 100%;
                flex-basis: auto;
                flex-grow: 1;
            }
            .teaser.piece {
                > .body {
                    .text {
                        flex-basis: auto;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}

// remove padding right of last visible menu entry
@include media-breakpoint-desktop {
    .nav-main-items {
        > li:nth-last-of-type(2) > a {
            padding-right: 0;
        }
    }
}
