// Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
//
// All Rights Reserved.
// Unauthorized copying of this file, via any medium is strictly prohibited.

/**********
 * Theme file: alkacon-web/_variables.scss
 */

// Main theme colors

$text-use-wcag-contrast:            true !default;

$oc-blue:                           #144382 !default;
$oc-red:                            #b31b34 !default;
$oc-orange:                         #ffa826 !default;
// $oc-orange:                         #333333  !default;
$oc-red-light:                      #ff264a !default;
$white:                             #fff !default;
$grey-lighter:                      #f4f4f4 !default;
$grey-light:                        #ddd !default;
$grey:                              #aaa !default;
$grey-dark:                         #888 !default;
$black:                             #000 !default;

$cyan:                              #1bb39a !default;
// $cyan:                              #137C6B !default;
$cyan-light:                        #ace3da !default;

$text-dark:                         #555 !default;

$main-theme:                        $oc-blue; // dark blue
$main-theme-hover:                  $oc-red; // opencms red

$body-bg:                           $white !default;
$link-color:                        $oc-red !default;
$link-hover-color:                  $oc-red-light !default;
$headings-color:                    $main-theme !default;
$line-height-base:                  1.4 !default;
$headings-line-height:              1.25 !default;

$foot-top-bg-color:                 $oc-blue !default;
$foot-sub-bg-color:                 $oc-red !default;

$font-size-base:                    1.8rem !default;
$font-size-headings:                2.4rem !default;
$font-rem-base-mobile-size:         11px !default;
$font-family-base:                  -apple-system !default;
$font-family-headings:              $font-family-base !default;
$font-weight-base:                  300 !default;
$font-weight-bold:                  600 !default;

$social-links-color:                $main-theme !default;
$social-links-bg:                   $white !default;

$default-margin:                    3.0rem !default;
$paragraph-margin:           1.5rem !default;

// navigation
// $nav-breakpoint-mobile:             xl !default; // always show mobile menu
// $nav-breakpoint-desktop:            none !default; // always show mobile menu
// $nav-setting-fixheader:             true !default; // show sticky headers
// $nav-breakpoint-sticky-header-size: 2 !default; // show sticky header on small screens
// $nav-breakpoint-sticky-header:      xs !default; // show sticky header on small screens
$nav-setting-fixheader:             true !default;
$nav-head-fixed-opacity:            1 !default;
$nav-font-size:                     16px !default; // font size of dropdown entries and side navigation
$nav-line-height:                   24px !default; // line hight of dropdown entries and side navigation
$nav-header-font-size:              18px !default;
$nav-header-font-weight:            $font-weight-bold !default;
$nav-header-show-arrows:            false !default;
$nav-header-float:                  right !default;
$nav-toggle-size:                   42px !default;
$nav-toggle-stroke-height:          2px !default;
// $nav-menu-font-weight:              $font-weight-bold !default;
$nav-menu-entry-border-bottom:      none !default;
$nav-mobile-position:               right !default;
$nav-mobile-smaller-xs-toggle:      false !default;
$nav-mobile-toggle-side-xs:         10px !default;
$nav-mobile-box-offset-xs:          $nav-mobile-toggle-side-xs !default;
$nav-mobile-line-target-height:     50px !default;
$nav-mobile-line-padding:           13px  !default;
$nav-mobile-font-size:              18px !default;

$policy-banner-accept-button-color: $cyan !default;
$policy-banner-accept-hover-color:  $oc-blue !default;

$theme-colors: (
    ("red",            $oc-red),
    ("orange",         $oc-orange),
    ("blue",           $oc-blue),
    ("cyan",           $cyan),
    ("cyan-light",     $cyan-light),
    ("default",        $oc-blue)
);

$match-defaults-dark: (
    "body-color": $text-dark,
    "link-color": $main-theme,
    "link-hover-color": $main-theme-hover
);

$match-defaults-light: (
    "body-color": $white,
    "link-color": $white,
    "btn-bg": $oc-blue,
    "btn-fg": $white
);

$theme-matched-colors: (
    $oc-blue: map-merge(
        $match-defaults-light, (
            "btn-bg": $oc-red,
        ),
    ),
    $cyan-light: map-merge(
        $match-defaults-dark, (
            "btn-bg": $oc-blue,
            "btn-fg": $white
        ),
    ),
    $oc-red:        $match-defaults-light,
    $oc-orange:     $match-defaults-light,
    $cyan:          $match-defaults-light,
    $grey:          $match-defaults-dark,
    $grey-light:    $match-defaults-dark,
    $grey-lighter:  $match-defaults-dark,
    $white:         $match-defaults-dark
);