<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>a3435151-812d-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>59535163-812b-11e9-9cd8-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[59535163-812b-11e9-9cd8-d529725938a7]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>b00844da-52ed-11ea-a6ea-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b00844da-52ed-11ea-a6ea-0242ac11002b-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[b00844da-52ed-11ea-a6ea-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>929f87fd-57e4-11ea-bfef-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/filter</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00007.xml]]></target>
            <uuid>c15b2443-4e74-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[showarchive]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showcategories]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>c34c0fef-52ed-11ea-a6ea-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00003.html]]></target>
            <uuid>f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b00844da-52ed-11ea-a6ea-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[b00844da-52ed-11ea-a6ea-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>c983cc53-812d-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[detailContainer]]></Name>
          <Value>
            <String><![CDATA[maincol]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[c983cc53-812d-11e9-9cd8-d529725938a7-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[c983cc53-812d-11e9-9cd8-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>9e734bc8-59ff-11ea-bfef-0242ac11002b</ElementInstanceId>
        <FormatterKey>aae3b6eb-8144-11e9-9cd8-d529725938a7</FormatterKey>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
