<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>e3027872-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3027872-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>0d196f78-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>e3064907-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2bdd1427-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>ac31f860-91ec-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00006.xml]]></target>
            <uuid>f517da43-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>c45b324d-9204-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00006.xml]]></target>
            <uuid>f517da43-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>a8cc90f1-91ed-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[containerSubType]]></Name>
          <Value>
            <String><![CDATA[home-tile-col]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>268aa8ab-91ee-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00010.xml]]></target>
            <uuid>f51a243f-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>b4922c93-91f8-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00009.xml]]></target>
            <uuid>f51987fc-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[containerSubType]]></Name>
          <Value>
            <String><![CDATA[teaser-direct-col]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b4922c93-91f8-11ef-bb9c-0242ac11002b-addcol1]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[b4922c93-91f8-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>296876d1-91fd-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/display/decoy-elaborate</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/decoy-m/de_00001.xml]]></target>
            <uuid>2ce89ce7-91fd-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-high]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textLength]]></Name>
          <Value>
            <String><![CDATA[250]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b4922c93-91f8-11ef-bb9c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[b4922c93-91f8-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>d03fe5ff-91f8-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/display/article-elaborate</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/shared/web/imported/.content/article-m/141111-opencms-v950-docker.html]]></target>
            <uuid>af87207b-69ab-11e4-826d-7fde8b0295e1</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[buttonText]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-high]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[dateFormat]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceLayout]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeMobile]]></Name>
          <Value>
            <String><![CDATA[6]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b4922c93-91f8-11ef-bb9c-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[b4922c93-91f8-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>b7170578-91fc-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/display/decoy-elaborate</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/shared/web/elements/.content/decoy-m/de_00001.xml]]></target>
            <uuid>9cedd7f7-3ad6-11ef-a91d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[textLength]]></Name>
          <Value>
            <String><![CDATA[250]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b-addcol1]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>6e4fc4be-91ee-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00037.xml]]></target>
            <uuid>70fedf32-91ee-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-akzent1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textAlignment]]></Name>
          <Value>
            <String><![CDATA[pac]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b-addcol2]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2d85f66f-91ef-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00038.xml]]></target>
            <uuid>30b7fc83-91ef-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-akzent3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[box-stretch stretch-right]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textAlignment]]></Name>
          <Value>
            <String><![CDATA[pac]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>c56d4b25-91ef-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00039.xml]]></target>
            <uuid>c75e45b8-91ef-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-theme]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[box-stretch stretch-left]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textAlignment]]></Name>
          <Value>
            <String><![CDATA[pac]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[268aa8ab-91ee-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2dbb53a4-91ee-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00036.xml]]></target>
            <uuid>2f63fa98-91ee-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-akzent2]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textAlignment]]></Name>
          <Value>
            <String><![CDATA[pac]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[a8cc90f1-91ed-11ef-bb9c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[a8cc90f1-91ed-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>e5742e6a-c9b3-11ef-a61c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/dynamic</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/list-m/list_00006.xml]]></target>
            <uuid>e8ee12ee-c9b3-11ef-a61c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[appendSwitch]]></Name>
          <Value>
            <String><![CDATA[md-sm-xs-lg-xl-xxl]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[buttonText]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[itemsPerPage]]></Name>
          <Value>
            <String><![CDATA[4]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listDisplay]]></Name>
          <Value>
            <String><![CDATA[default-display mobile-small-image]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listEntryWrapper]]></Name>
          <Value>
            <String><![CDATA[teaser-tile tile-col col-md-6 col-lg-3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textLength]]></Name>
          <Value>
            <String><![CDATA[150]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>825e999c-bd47-11ef-ab48-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/meta-info</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/metainfo-m/meta_00005.xml]]></target>
            <uuid>88c516c1-bd47-11ef-ab48-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[c45b324d-9204-11ef-bb9c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[c45b324d-9204-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>cc68cfc6-9204-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00040.xml]]></target>
            <uuid>cedfc33a-9204-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-akzent1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[button-sm]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[c45b324d-9204-11ef-bb9c-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[c45b324d-9204-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>f940e958-9204-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00041.xml]]></target>
            <uuid>ffb7e13e-9204-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-akzent3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[box-stretch stretch-right]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[button-sm]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[ac31f860-91ec-11ef-bb9c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[ac31f860-91ec-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>bbb4008c-91ec-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00034.xml]]></target>
            <uuid>be928f71-91ec-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-theme]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[box-stretch stretch-left]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[button-sm]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[ac31f860-91ec-11ef-bb9c-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[ac31f860-91ec-11ef-bb9c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>05158dca-91ed-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/linkbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00035.xml]]></target>
            <uuid>0693060e-91ed-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-akzent2]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[button-sm]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>df742e6f-91eb-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/slider-timed</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/slider-m/slider_00001.xml]]></target>
            <uuid>e09d1e15-91eb-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[mobile-full]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[imageRatioSmall]]></Name>
          <Value>
            <String><![CDATA[4-3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[rotationTime]]></Name>
          <Value>
            <String><![CDATA[1000]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showArrows]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showDots]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>182d5cb8-91ec-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00033.xml]]></target>
            <uuid>19e6a57d-91ec-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
