<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>409780e6-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-group/lg_00006.xml]]></target>
            <uuid>7bf6ef22-c33e-11e9-9daf-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-breadcrumbs]]></Name>
      <Type><![CDATA[nav-breadcrumbs]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>50970109-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/breadcrumbs</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>28ecc1c4-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[breadcrumbsIncludeHidden]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssVisibility]]></Name>
          <Value>
            <String><![CDATA[hidden-xs hidden-sm hidden-md]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-config]]></Name>
      <Type><![CDATA[header-config]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>49e7d787-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/functions/header-config</FormatterKey>
        <Properties>
          <Name><![CDATA[logoPadding]]></Name>
          <Value>
            <String><![CDATA[pad-md]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[logoSize]]></Name>
          <Value>
            <String><![CDATA[ls-3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[navAlignment]]></Name>
          <Value>
            <String><![CDATA[nav-right]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showTitle]]></Name>
          <Value>
            <String><![CDATA[hide-title]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-image]]></Name>
      <Type><![CDATA[image-minimal]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>593c18e8-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/image-minimal</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00001.xml]]></target>
            <uuid>28f1a3ce-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-linksequence]]></Name>
      <Type><![CDATA[linksequence-header]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>1a37216a-307c-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence-header</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/linksequence-m/ls_00002.xml]]></target>
            <uuid>28e48453-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-nav-main]]></Name>
      <Type><![CDATA[nav-main]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>3716af03-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/main</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>28ecc1c4-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[metaLinks]]></Name>
          <Value>
            <String><![CDATA[bottom]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showSearch]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textDisplay]]></Name>
          <Value>
            <String><![CDATA[cap-none]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
