<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>ba82c9ab-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-group/lg_00002.xml]]></target>
            <uuid>f5132039-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::source_containerpage_id]]></Name>
          <Value>
            <String><![CDATA[28e93f4d-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b-subfoot]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>eb5012ee-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::source_containerpage_id]]></Name>
          <Value>
            <String><![CDATA[28e93f4d-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[eb5012ee-cfe3-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[eb5012ee-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>f612be40-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/linksequence-m/ls_00001.xml]]></target>
            <uuid>28e2af90-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[noGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[line]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linksequenceType]]></Name>
          <Value>
            <String><![CDATA[ls-row]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b-topfoot]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>cd86a58d-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00009.xml]]></target>
            <uuid>f51987fc-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::source_containerpage_id]]></Name>
          <Value>
            <String><![CDATA[28e93f4d-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[cd86a58d-cfe3-11e9-8fbe-0242ac11002b-addcol1]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[cd86a58d-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>b5677f64-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/contact-m/ci_00001.xml]]></target>
            <uuid>28da7226-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[4]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showEmail]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showVcard]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[cd86a58d-cfe3-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[cd86a58d-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>9b113fb8-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00002.xml]]></target>
            <uuid>28f32a71-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[4]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[cd86a58d-cfe3-11e9-8fbe-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[cd86a58d-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>a4b18b1d-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/flexible</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/flexible-m/fc_00001.xml]]></target>
            <uuid>28df7b3b-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[4]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
