<?xml version="1.0" encoding="UTF-8"?>

<RedirectPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.sitemap/schemas/redirect.xsd">
  <RedirectPage language="en">
    <Link>
      <link internal="true" type="WEAK">
        <target><![CDATA[/sites/web/opencms/de/]]></target>
        <uuid>e335e3b6-77e4-11ea-8d2f-0242ac11002b</uuid>
      </link>
    </Link>
    <Type><![CDATA[307]]></Type>
  </RedirectPage>
</RedirectPages>
