<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>8748977c-4e6b-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>59535163-812b-11e9-9cd8-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[59535163-812b-11e9-9cd8-d529725938a7]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showBreadcrumbs]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>bc611af6-8075-11e9-8053-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>f9c26683-4e6d-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>d11f5fb5-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[d11f5fb5-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[bc611af6-8075-11e9-8053-d529725938a7-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[bc611af6-8075-11e9-8053-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>803a60b0-4e6e-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00003.html]]></target>
            <uuid>f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[bc611af6-8075-11e9-8053-d529725938a7-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[bc611af6-8075-11e9-8053-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>d3235e67-8075-11e9-8053-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[d3235e67-8075-11e9-8053-d529725938a7-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[d3235e67-8075-11e9-8053-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>73d1e1c0-5c8d-11ea-b47c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/slider-hero</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/slider-m/slider_00001.xml]]></target>
            <uuid>76c669a3-5c8d-11ea-b47c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[imageRatioLarge]]></Name>
          <Value>
            <String><![CDATA[16-9]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
