<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>a3435151-812d-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>59535163-812b-11e9-9cd8-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[59535163-812b-11e9-9cd8-d529725938a7]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>83989273-4e6c-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>3a7ce329-4e73-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>d11f5fb5-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[d11f5fb5-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[83989273-4e6c-11ea-a7f8-0242ac11002b-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[83989273-4e6c-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>3c7be77a-4e73-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00003.html]]></target>
            <uuid>f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[83989273-4e6c-11ea-a7f8-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[83989273-4e6c-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>c983cc53-812d-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[c983cc53-812d-11e9-9cd8-d529725938a7-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[c983cc53-812d-11e9-9cd8-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>51380acc-6367-11ea-9371-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/section-m/cs_00009.xml]]></target>
            <uuid>53266d4d-6367-11ea-9371-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>bd4facad-62d6-11ea-9371-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00001.xml]]></target>
            <uuid>be50f010-62d6-11ea-9371-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>d0dd5019-6444-11ea-9371-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00002.xml]]></target>
            <uuid>d7acef4a-6444-11ea-9371-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>371d30e8-6520-11ea-8f9e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00004.xml]]></target>
            <uuid>3c799109-6520-11ea-8f9e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>2ca2a13f-74ff-11eb-a7d1-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00009.xml]]></target>
            <uuid>2fae3390-74ff-11eb-a7d1-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>807bbbcd-6521-11ea-8f9e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00005.xml]]></target>
            <uuid>84f499be-6521-11ea-8f9e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>979a5aa1-6522-11ea-8f9e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00006.xml]]></target>
            <uuid>9c2d9e62-6522-11ea-8f9e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>39b3da05-6523-11ea-8f9e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00007.xml]]></target>
            <uuid>42426746-6523-11ea-8f9e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>cecdb66d-6523-11ea-8f9e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00008.xml]]></target>
            <uuid>d373bede-6523-11ea-8f9e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>4d4b3b26-6462-11ea-9371-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/contact</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/contact-m/ci_00003.xml]]></target>
            <uuid>4edb02e7-6462-11ea-9371-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
