/*!
<%@page pageEncoding="UTF-8"
    session="false"
    trimDirectiveWhitespaces="true"
    isErrorPage="true"
    contentType="text/html"
    import="org.opencms.jsp.util.CmsJspStatusBean" %><%

    // initialize the error status bean
    CmsJspStatusBean cms = new CmsJspStatusBean(pageContext, request, response, exception);
    // select effect based on URI
    // to disable effects, set ani = 0
    int ani = 1 + (Math.abs(("".concat(cms.getRequestUri())).hashCode()) % 2);
%>
<!DOCTYPE html>
<html lang="#{$error-lang}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= cms.keyStatus("error_message") %></title>
<style><%--
--%>!*/

@import 'mercury-template/template-src/scss/main/functions';
@import 'configuration';

@include css-main;

.ecs > span::after {
    content:"<%= cms.getStatusCode() %>";
}

/*!<%

if (ani == 1) {
// "snow" animation CSS

%>!*/

@include css-ani-snow;

/*!<%

} else if (ani == 2) {
// "spin" animation CSS

%>!*/

@include css-ani-spin;

/*!<%

}
%></style>
</head><%----%>

<body>
<div class="wrapper"><%----%>

<header>
<a href="#{$html-link-home}" class="logo">Error</a>
<div class="error">
<h1><%= cms.getStatusCode() %></h1>
<h2><%= cms.keyStatus("error_message") %></h2>
</div>
</header><%----%>

<main>
<div><%= cms.getRequestUri() %></div>
<div><%= cms.keyStatus("error_description") %></div>
</main><%----%>

<footer>
<a href="#{$html-link-home}">#{$html-msg-bottom}</a>
</footer><%----%>

</div><%

if (ani == 1) {
// "snow" animation HTML
%>
<span class="ecs" aria-hidden="true"><%----%>
  <span class="ec0"></span><%----%>
  <span class="ec1"></span><%----%>
  <span class="ec2"></span><%----%>
  <span class="ec3"></span><%----%>
  <span class="ec4"></span><%----%>
  <span class="ec5"></span><%----%>
  <span class="ec6"></span><%----%>
  <span class="ec7"></span><%----%>
  <span class="ec8"></span><%----%>
  <span class="ec9"></span><%----%>
</span>
<% } %>

</body>
</html>
!*/