<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>e3027872-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3027872-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>907c7b8c-d07c-11e9-861d-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00001.xml]]></target>
            <uuid>f50e8c42-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>e3064907-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>a866cd22-b3b0-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-small]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[a866cd22-b3b0-11ef-bf03-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[a866cd22-b3b0-11ef-bf03-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>50849451-9211-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00046.xml]]></target>
            <uuid>558d7d46-9211-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-theme box-stretch stretch-right]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>df400fe3-b934-11ef-ab48-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00012.xml]]></target>
            <uuid>e0bf83f7-b934-11ef-ab48-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>c47464a1-b3d6-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00004.xml]]></target>
            <uuid>c664c2f6-b3d6-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[dateFormat]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[imageRatioParagraphs]]></Name>
          <Value>
            <String><![CDATA[no-img]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[imageRatioParagraphsLg]]></Name>
          <Value>
            <String><![CDATA[no-img]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[keyPieceLayout]]></Name>
          <Value>
            <String><![CDATA[5]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>7a195ef5-b3aa-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00001.xml]]></target>
            <uuid>7c49374b-b3aa-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>bd4132d6-b3d4-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00002.xml]]></target>
            <uuid>bfea32ca-b3d4-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>137a25f4-b3d6-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00003.xml]]></target>
            <uuid>14be17a8-b3d6-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>12135085-b937-11ef-ab48-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00014.xml]]></target>
            <uuid>14eed22b-b937-11ef-ab48-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>2a3164e5-b935-11ef-ab48-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00013.xml]]></target>
            <uuid>2d9c0729-b935-11ef-ab48-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>c1db26d1-b618-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00010.xml]]></target>
            <uuid>1c433a0e-b619-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>a57d3a35-b3d8-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00005.xml]]></target>
            <uuid>a8c8bbba-b3d8-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>ca51e57c-b3d7-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00006.xml]]></target>
            <uuid>00716aa0-b3da-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>4c670117-b612-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00007.xml]]></target>
            <uuid>4de6c386-b612-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>49945195-b615-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00008.xml]]></target>
            <uuid>4acd46ca-b615-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>3846c609-b617-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00009.xml]]></target>
            <uuid>3ac88eee-b617-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>aec0cac2-b61a-11ef-bf03-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/faq</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/faq-m/faq_00011.xml]]></target>
            <uuid>82209418-b61b-11ef-bf03-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
