<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>e3027872-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3027872-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>907c7b8c-d07c-11e9-861d-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00001.xml]]></target>
            <uuid>f50e8c42-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>e3064907-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2bdd1427-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-small]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>930820cf-92af-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00051.xml]]></target>
            <uuid>940bfb43-92af-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-theme]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[box-stretch stretch-right]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>121107e0-92b0-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00054.xml]]></target>
            <uuid>132473b5-92b0-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>bce2b1ba-92af-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00052.xml]]></target>
            <uuid>be3633ce-92af-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>422dc5f8-92b0-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00055.xml]]></target>
            <uuid>4354b9cd-92b0-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>3ea1af7f-9abb-11ef-996c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00068.xml]]></target>
            <uuid>40e5fa34-9abb-11ef-996c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>feda5c0f-92af-11ef-bb9c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00053.xml]]></target>
            <uuid>0008a2e3-92b0-11ef-bb9c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>85f4f500-be0d-11ef-b71b-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/meta-info</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/metainfo-m/meta_00008.xml]]></target>
            <uuid>88c55314-be0d-11ef-b71b-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
