
// Make nav entries on the site bold
.nav-side li.currentpage > a:not(.btn) {
    font-weight: $font-weight-bold;
}


// Buttons for detail pages
$intra-btn-margin-bottom: $default-margin-small !default;

.intra-btn-block {
    @include make-row();
    margin-bottom: $default-margin - $intra-btn-margin-bottom;

    .intra-btn {
        @include make-col-ready();
        margin-bottom: $intra-btn-margin-bottom;

        @include media-breakpoint-up(md) {
            @include make-col(6)
        }

        @include media-breakpoint-up(xl) {
            @include make-col(4)
        }

        .btn {
            width: 100%;
        }
    }
}

// Special buttons coloring and other adjustments
.intra-btn-block-mail {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $grey;

    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0.5rem;
}

.acco-header {
    font-weight: 400;
}

.intra-btn-block-mail,
.intra-products,
.intra-keys,
.intra-btn-block-addoceekey,
.intra-btn-block-addproduct {
    .btn {
        --#{$prefix}btn-bg: #{$intra-btn-color};
        --#{$prefix}btn-fg: #{get-text-color($intra-btn-color)};
        // @include button-color($intra-btn-color, $color-oc-red-light);
    }
}

// Remove edit point "the old way"
.intra-btn.no-edit-point {
    oc-editpoint {
        display: none;
    }
}

// Form adjustments

.styled-form.intra-form {

    section.compact {
        &.compact-cols {
            .input-col-1 {
                margin-bottom: $default-margin-small;
            }
        }
    }

    @include media-breakpoint-up(md) {
        section.compact {
            display: block;

            .label {
                width: 10%;
                display: inline-block;
            }
            .input {
                width: 90%;
                display: inline-block;
            }

            &.compact-cols {
                .input {
                    width: 45%;
                }
                .input-col-1 {
                    margin-bottom: 0;
                    padding-right: $default-margin-verysmall;
                }
                .input-col-2 {
                    padding-left: $default-margin-verysmall;
                }
            }
        }
    }

    .from-btn {
        .btn {
            width: 100%;
            display: inline-block;

            &.btn-submit {
                margin-bottom: $default-margin-small;
            }

            @include media-breakpoint-up(md) {
                width: 33%;

                &.btn-submit {
                    float: left;
                    margin-bottom: 0;
                }
                &.btn-cancel {
                    float: right;
                }
            }
        }
    }
}

.online-warn {
    margin-bottom: $default-margin;

    &.intra-inactive {
        background-color: $grey-light;
        color: $body-color;
    }
}


// Homegrown tables
.intra-table {
    display: flex;
    flex-direction: column;

    .tr {
        display: flex;
        flex-direction: column;

        .td {
            word-break: break-all;
        }

        .td-label {
            font-style: italic;
        }

        &.tr-warning {
            .td-content {
                color: $online-warn-color;
                font-weight: $font-weight-bold;

                .message {
                    font-weight: $font-weight-base;
                    font-family: $font-family-base;
                }
            }
        }
    }

    &.loose {
        // table with additional paddings for customers and ocee keys
        margin-bottom: $default-margin-small;

        .tr {
            margin-bottom: $default-margin-verysmall;
        }
    }

    @include media-breakpoint-up(md) {
        .tr {
            flex-direction: row;

            .td-label {
               width: 20%;
               min-width: 20%;
            }
        }

        &.loose {
            .tr {
                margin-bottom: #{0.5 * $default-margin-verysmall};
            }
        }
    }

    .tr:last-of-type,
    .tr.notes .td p:last-of-type {
        margin-bottom: 0;
    }
}

// Customer lists (these also use tables)
.intra-list {
    .list-entry {
        a {
            padding: 1px 50px 1px 2px;
            color: $text-dark;

            &:hover {
                color: $link-hover-color;
                text-decoration: none;
            }
        }
        &:nth-child(odd) {
            // alterating color
            background-color: $highlight-color;
        }
        &:hover {
            // hover color
            background-color: $color-table-highlight;
        }

        // specific cell formatting used in list tables

        .td {
            &.customer-name {
                font-weight: $font-weight-bold;
            }

            @include media-breakpoint-up(md) {
                &.product-type,
                &.customer-name {
                    flex-grow: 1;
                }
                &.product-daterange,
                &.customer-country {
                    text-align: right;
                }
            }
        }
    }

    .list-pagination {
        margin-top: $default-margin;
    }
}

.intra-block {
    padding: $default-margin-verysmall;
    border: 1px solid $color-oc-blue;

    // Table of OCEE keys
    &.intra-block-ocee-keys {

        .ocee-key-name .td-content {
            font-weight: $font-weight-bold;
        }

        .ocee-key-monospace,
        .ocee-key-activation,
        .ocee-key-licence {
            .td-content {
                font-family: $font-family-monospace;
                white-space: pre-wrap;
            }
        }

        .ocee-key-type-fromkey .td-content {
            text-transform: capitalize;
        }
    }

    // Table for contacts
    &.intra-block-contacts {
        .contact-name .td-content {
            font-weight: $font-weight-bold;
        }
    }

    // Table for incidents
    .intra-block-incident {
        .incident-closed .td-content {
            font-style: italic;
        }
    }

    // Table for product
    &.intra-block-product {
        .product-accountid,
        .product-keyname,
        .product-type {
           .td-content {
                font-weight: $font-weight-bold;
           }
        }

        .product-billingid {
            .td-content {
                font-family: $font-family-monospace;
                white-space: pre-wrap;
            }
        }

        &:last-of-type {
            margin-bottom: $default-margin;
        }
    }

}

// Less padding for the breadcrumbs
header.fh .h-bc .nav-breadcrumbs {
    padding-top: 2px;
    padding-bottom: 5px;
}

%font-aewsome-base {
    @include icon-font();
    display: inline-block;
    font-weight: 400;
    margin: 0;
    border: none;
    text-align: center;
    border: none;
}

// Product boxes (mostly for icons)
.product-box {
    position: relative;

    &.status-inactive::after,
    &.status-unpaid::after,
    &.status-v1invalid::after,
    &.status-expired::after,
    &.status-active::after {
        @extend %font-aewsome-base;

        position: absolute;
        color: $white;
        width: 30px;
        height: 30px;
        right: 25px;
        font-size: 20px;
        line-height: 30px;
        border-radius: 4px;
    }

    &.status-inactive::after {
        background-color: $grey-light;
        content: "\f00d"; // mercury:icon - fa-times
    }

    &.status-unpaid::after {
        background-color: $color-oc-red;
        content: "\f153"; // mercury:icon - fa-eur
    }

    &.status-v1invalid::after {
        background-color: $color-oc-red;
        content: "\f00d"; // mercury:icon - fa-times
    }

    &.status-expired::after {
        background-color: $color-oc-orange;
        content: "\f273"; // mercury:icon - fa-calendar-times-o
    }

    &.status-active::after {
        background-color: $color-cyan;
        content: "\f00c"; // mercury:icon - fa-check
        font-size: 18px;
    }
}

.intra-list .product-box {
    &.status-inactive::after,
    &.status-unpaid::after,
    &.status-v1invalid::after,
    &.status-expired::after,
    &.status-active::after {
        width: 18px;
        height: 18px;
        top: 3px;
        right: 25px;
        font-size: 12px;
        line-height: 18px;
        border-radius: 2px;
    }
}

// Customer headers
.customer-title {
    display: block;
    margin-bottom: $headings-margin-bottom;

    h1, h2, h3 {
        margin-bottom: 0;
    }
}

// Link markers
.intra-intro-customer a.customer-title h1,
.product-box a.box-link {
    &::after {
        @extend %font-aewsome-base;
        position: relative;
        color: $link-color;
        margin-left: 0.7rem;
        content: "\f14c";
    }

    &:hover::after {
        color: $link-hover-color;
    }
}

// Uncolor the links
.product-box a.box-link,
.intra-intro-customer a.customer-title,
.intra-contacts a {
    color: $text-dark;
    h1, h2, h3 {
        color: inherit;
    }

    &:hover {
        text-decoration: none;
        color: $link-hover-color;
    }
}

// Inactive products
.intra-list-mark-inactive .product-box,
.intra-block.product-box {
    &.status-inactive {
        border-color: $grey;
        color: $grey;

        a, a::after {
            color: inherit;

            &:hover {
                text-decoration: none;
                color: $main-theme-hover;
            }
        }
    }
}

.intra-list.intra-list-mark-inactive {
    .list-entry {
        a {
            &.status-inactive {
                color: $grey;
            }
            &:hover {
                color: $link-hover-color;
                text-decoration: none;
            }
        }
    }
}

// Smaller headings for Customer on product and keygen pages
.type-intra-product,
.type-intra-keygen {
    .intra-intro-customer{
        h1 {
            @extend .h2;
        }
    }
}

// Hghlight for "pre" fields
.mark-pre pre {
    background-color: $grey-lighter;
    border: 1px solid $grey;
    padding: $default-margin-small;
}