/**
 * This program is part of the OpenCms Mercury Template.
 *
 * Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**********
 * Theme file: alkacon.scss
 */

// Main theme colors
$color-oc-blue:                     #144382 !default;
$color-oc-red:                      #b31b34 !default;
$color-oc-orange:                   #ffa826 !default;
$color-oc-red-light:                #ff264a !default;
$white:                             #fff !default;
$grey-lighter:                      #f4f4f4 !default;
$grey-light:                        #ddd !default;
$grey:                              #aaa !default;
$grey-dark:                         #888 !default;
$black:                             #000 !default;
$color-cyan:                        #1bb39a !default;
$color-cyan-light:                  #ace3da !default;

$text-dark:                         #444 !default;

$color-blue-light:                  #becbdc;
$color-table-highlight:             $color-blue-light;
$intra-btn-color:                   $color-blue-light;

$main-theme:                        $color-oc-blue; // dark blue
$main-theme-hover:                  $color-oc-red-light; // opencms red

$body-bg:                           $white !default;
$link-color:                        $color-oc-red !default;
$link-hover-color:                  $color-oc-red-light !default;
$headings-color:                    $main-theme !default;
$line-height-base:                  1.4 !default;
$headings-line-height:              1.25 !default;

$foot-top-bg-color:                 $color-oc-blue !default;
$foot-sub-bg-color:                 $color-oc-red !default;

$font-size-base:                    1.6rem !default;
$font-size-headings:                2.2rem !default;
$font-rem-base-mobile-size:         11px !default;
$font-family-monospace:             SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:                  -apple-system !default;
$font-family-headings:              $font-family-base !default;
$font-weight-base:                  300 !default;
$font-weight-bold:                  600 !default;

$at-border:                         none;
$at-header-color:                   $text-dark;
$at-header-bg:                      $intra-btn-color;
$at-header-bg-hover:                $link-hover-color;
$at-header-font-size:               $font-size-base;
$at-header-font-size-md:            $font-size-base;
$at-spacing-x:                      1.2rem; // like $btn-def-padding;
$at-spacing-y:                      0.6rem; // like $btn-def-padding;
$at-header-line-height:             inherit;

$form-text-color:                   $color-oc-blue;
$form-text-color-input:             $text-dark;
$form-background:                   $grey-lighter;
$online-warn-color:                 $color-oc-red-light;

$social-links-bg:                   $white !default;
$ls-li-padding:                     2rem !default;

$nav-setting-fixheader:             true !default;
$nav-head-fixed-opacity:            1 !default;
$nav-font-size:                     16px !default; // font size of dropdown entries and side navigation
$nav-line-height:                   24px !default; // line hight of dropdown entries and side navigation
$nav-header-font-size:              18px !default;
$nav-header-font-weight:            $font-weight-bold !default;
$nav-header-show-arrows:            false !default;
$nav-header-float:                  right !default;
$nav-toggle-size:                   42px !default;
$nav-toggle-stroke-height:          2px !default;
$nav-menu-entry-border-bottom:      none !default;
$nav-mobile-position:               right !default;
$nav-mobile-smaller-xs-toggle:      false !default;
$nav-mobile-toggle-side-xs:         10px !default;
$nav-mobile-box-offset-xs:          $nav-mobile-toggle-side-xs !default;
$nav-mobile-line-target-height:     50px !default;
$nav-mobile-line-padding:           13px  !default;
$nav-mobile-font-size:              18px !default;
$nav-head-border:                   none !default;
$nav-breadcrump-bg-color:           $grey-light !default;
$nav-breadcrump-separator:          '/' !default;
$nav-breadcrump-separator-font:     $font-family-base !default;


$nav-theme:                         $color-oc-red !default;

$policy-banner-accept-button-color: $color-cyan !default;
$policy-banner-accept-hover-color:  $color-oc-blue !default;

$theme-colors: (
    ("grey-light",     $grey-light),
    ("grey-lighter",   $grey-lighter),
    ("red",            $color-oc-red),
    ("orange",         $color-oc-orange),
    ("blue",           $color-oc-blue),
    ("cyan",           $color-cyan),
    ("cyan-light",     $color-cyan-light),
    ("default",        $main-theme)
) !default;

$match-defaults-light: (
    "body-color": $text-dark,
    "link-color": $main-theme,
    "link-hover-color": $main-theme-hover
);

$match-defaults-dark: (
    "body-color": $white,
    "link-color": $white,
    "btn-bg": $color-oc-blue,
    "btn-fg": $white
);

$theme-matched-colors: (
    $color-oc-blue: map-merge(
        $match-defaults-dark, (
            "btn-bg": $color-oc-red,
        ),
    ),
    $color-cyan-light: map-merge(
        $match-defaults-light, (
            "btn-bg": $color-oc-blue,
            "btn-fg": $white
        ),
    ),
    $color-oc-red:      $match-defaults-dark,
    $color-oc-orange:   $match-defaults-dark,
    $color-cyan:        $match-defaults-dark,
    $grey:              $match-defaults-light,
    $grey-light:        $match-defaults-light,
    $grey-lighter:      $match-defaults-light,
    $white:             $match-defaults-light
);


@import 'mercury-template/template-src/scss/imports';
@import 'mercury-bistuemer/template-src/scss/features/intra-fullwidth';
@import 'intra-specials';


