/**
 * This program is part of the OpenCms Mercury Template.
 *
 * Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**********
 * Theme file: _article-as-bullets.scss
 */

%feature-list-heading {
    color: var(--#{$prefix}main-theme-fg);
    background-color: var(--#{$prefix}main-theme);
    padding: var(--#{$prefix}default-margin-small) var(--#{$prefix}default-margin);

    h1, h2, h3, h4, h5, h6, .intro {
        // required in order to override colors set in headings
        color: var(--#{$prefix}main-theme-fg);
        margin-bottom: 0;
    }
}


.type-section-ext {

    &.feature-list {
        .sectiontitle.subsection.piece.only-heading { // must be so specific to override default
            @extend %feature-list-heading;
            margin-bottom: 0;
        }

        .subsections {
            list-style-type: none;
            margin: 0;
            padding: var(--#{$prefix}default-margin);
            color: var(--#{$prefix}highlight-color-fg);
            background-color: var(--#{$prefix}highlight-color);

            > .subsection {
                margin-bottom: var(--#{$prefix}default-margin);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        // background color variations
        @each $color, $value in $theme-colors {

            &.col-#{$color} {
                .sectiontitle.subsection.piece.only-heading {
                    --#{$prefix}main-theme: #{$value};
                }
            }
        }
    }
}

// in desktop mode reduce the margins in the side column
@include media-breakpoint-up(lg) {
    aside {
        .type-section-ext.feature-list {
            .sectiontitle.subsection.piece.only-heading {
                padding: var(--#{$prefix}default-margin-verysmall) var(--#{$prefix}default-margin-small);
            }
            .subsections {
                padding: var(--#{$prefix}default-margin-small);
            }
        }
    }
}