<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>9f9a4c35-cff4-11e9-afd7-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>28e71c68-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[28e71c68-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showBreadcrumbs]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>b877681e-3063-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00001.xml]]></target>
            <uuid>f50e8c42-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>28e93f4d-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[28e93f4d-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b877681e-3063-11ea-b60c-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[b877681e-3063-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>159943c0-3064-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>b94a8f80-314f-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00009.xml]]></target>
            <uuid>f51987fc-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>bc68c4d2-32ba-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00010.xml]]></target>
            <uuid>f51a243f-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b-addcol1]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>909d86ac-32ba-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/iconbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00025.xml]]></target>
            <uuid>924431cd-32ba-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box-blue]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[github]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b-addcol2]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>45bc85e3-32ba-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/iconbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00024.xml]]></target>
            <uuid>50d76354-32ba-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box-red]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[my-edit-point]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>e04a4135-32ba-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/iconbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00026.xml]]></target>
            <uuid>e2d90266-32ba-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box-orange]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[heart]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[bc68c4d2-32ba-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>52045458-32bb-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/iconbox</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00055.xml]]></target>
            <uuid>5f099ca9-32bb-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box-cyan]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[youtube-square]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b94a8f80-314f-11ea-b60c-0242ac11002b-addcol1]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[b94a8f80-314f-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>1b3e8cc6-3150-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00052.xml]]></target>
            <uuid>1d90ba27-3150-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-blue]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b94a8f80-314f-11ea-b60c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[b94a8f80-314f-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>c711a132-314f-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/static</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/list-m/list_00004.xml]]></target>
            <uuid>c8e094d3-314f-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[buttonText]]></Name>
          <Value>
            <String><![CDATA[Weiterlesen]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-red]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[dateFormat]]></Name>
          <Value>
            <String><![CDATA[fmt-LONG]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[itemsPerPage]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textLength]]></Name>
          <Value>
            <String><![CDATA[250]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[b94a8f80-314f-11ea-b60c-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[b94a8f80-314f-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>5f2275a3-3150-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00053.xml]]></target>
            <uuid>60b375e4-3150-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-cyan]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[159943c0-3064-11ea-b60c-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[159943c0-3064-11ea-b60c-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>a0ae2a04-314e-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/slider-hero</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/slider-m/slider_00001.xml]]></target>
            <uuid>8772414c-312e-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[pt-head]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[rotationTime]]></Name>
          <Value>
            <String><![CDATA[5000]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageCopyright]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>463821c0-3072-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00012.xml]]></target>
            <uuid>4cd56651-3072-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceLayout]]></Name>
          <Value>
            <String><![CDATA[5]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageCopyright]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageSubtitle]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageZoom]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>b71f81ba-35fb-11ea-979a-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/meta-info</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/metainfo-m/meta_00001.xml]]></target>
            <uuid>dc08eda6-35fa-11ea-979a-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
