<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>e3027872-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3027872-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>907c7b8c-d07c-11e9-861d-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00001.xml]]></target>
            <uuid>f50e8c42-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>e3064907-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2bdd1427-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-small]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>94102d09-92d2-11ef-b29b-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00057.xml]]></target>
            <uuid>95baa8bc-92d2-11ef-b29b-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-theme box-stretch stretch-left]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-item fluid-raster-small]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>d6f542a8-ad93-11ef-b234-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/filter</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/list-m/list_00004.xml]]></target>
            <uuid>43b1f8fb-9dab-11ef-8415-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[catdisplayoptions]]></Name>
          <Value>
            <String><![CDATA[onlyleafs]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[partner-regions]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[headline]]></Name>
          <Value>
            <String><![CDATA[Partner für ausgewählte Länder oder Regionen anzeigen:]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showCatCount]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showarchive]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showsearch]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>41c9b0f3-9dab-11ef-8415-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/dynamic</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/list-m/list_00004.xml]]></target>
            <uuid>43b1f8fb-9dab-11ef-8415-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[appendSwitch]]></Name>
          <Value>
            <String><![CDATA[md-sm-xs-lg-xl-xxl]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[itemsPerPage]]></Name>
          <Value>
            <String><![CDATA[100]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkTarget]]></Name>
          <Value>
            <String><![CDATA[detail]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceLayoutList]]></Name>
          <Value>
            <String><![CDATA[7]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showAddress]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showEmail]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showNotice]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showPhone]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showTitle]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showWebsite]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>480f426f-bd44-11ef-ab48-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/meta-info</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/metainfo-m/meta_00003.xml]]></target>
            <uuid>4a2f1533-bd44-11ef-ab48-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
