<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>e3027872-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3027872-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>907c7b8c-d07c-11e9-861d-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00001.xml]]></target>
            <uuid>f50e8c42-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>e3064907-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2bdd1427-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-small]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[detailContainer]]></Name>
          <Value>
            <String><![CDATA[maincol]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>d94a7256-aafc-11ef-9de1-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/detail/article</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/shared/web/imported/.content/article-m/190904-opencms-v1101.html]]></target>
            <uuid>83577ba6-ce43-11e9-8925-7fde8b0295e1</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[kp-boxed @kp= box box-grey]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[@kp= box-stretch stretch-right]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[dateFormat]]></Name>
          <Value>
            <String><![CDATA[fmt-LONG]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[imageRatio]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[keyPieceLayout]]></Name>
          <Value>
            <String><![CDATA[10]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[keyPieceOrigin]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceLayout]]></Name>
          <Value>
            <String><![CDATA[9]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showAuthor]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageCopyright]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageSubtitle]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
