// Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
//
// All Rights Reserved.
// Unauthorized copying of this file, via any medium is strictly prohibited.

/**********
 * Source file: opencms-web/_additions.scss
 */

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

// fluid font size
@include media-breakpoint-up(lg) {
    $font-clamp-max: map.get($container-max-widths, 'xxl');
    $font-clamp-min: map.get($grid-breakpoints, 'lg');
    html {
        font-size: #{fluid-size-clamp(
            $font-rem-base-desktop-maxsize,
            $font-rem-base-mobile-size,
            $font-clamp-max,
            $font-clamp-min)};
    }
    h1, .h1 {
        font-size: #{fluid-size-clamp(
            strip-unit($h1-font-size) * $font-rem-base-desktop-maxsize,
            strip-unit($h1-font-size-mobile) * $font-rem-base-mobile-size,
            $font-clamp-max,
            $font-clamp-min)};
    }
    h2, .h2 {
        font-size: #{fluid-size-clamp(
            strip-unit($h2-font-size) * $font-rem-base-desktop-maxsize,
            strip-unit($h2-font-size-mobile) * $font-rem-base-mobile-size,
            $font-clamp-max,
            $font-clamp-min)};
    }
    h3, .h3 {
        font-size: #{fluid-size-clamp(
            strip-unit($h3-font-size) * $font-rem-base-desktop-maxsize,
            strip-unit($h3-font-size-mobile) * $font-rem-base-mobile-size,
            $font-clamp-max,
            $font-clamp-min)};
    }
}


@include media-breakpoint-down(lg) {
    .box-desk {
        --#{$prefix}body-bg: #{$body-bg};
        --#{$prefix}body-bg-rgb: #{to-rgb($body-bg)};
        --#{$prefix}body-color: #{$body-color};
        --#{$prefix}body-color-rgb: #{to-rgb($body-color)};

        --#{$prefix}link-color: #{$link-color};
        --#{$prefix}link-color-rgb: #{to-rgb($link-color)};
        --#{$prefix}link-hover-color: #{$link-hover-color};
        --#{$prefix}link-hover-color-rgb: #{to-rgb($link-hover-color)};
        --#{$prefix}link-fg-color: #{$link-fg-color};
        --#{$prefix}link-hover-fg-color: #{$link-hover-fg-color};
        --#{$prefix}link-opacity: 1.0;

        --#{$prefix}main-theme: #{$main-theme};
        --#{$prefix}main-theme-rgb: #{to-rgb($main-theme)};
        --#{$prefix}main-theme-fg: #{$main-theme-fg};
        --#{$prefix}main-theme-hover: #{$main-theme-hover};
        --#{$prefix}main-theme-hover-fg: #{$main-theme-hover-fg};

        --#{$prefix}headings-color: #{$headings-color};

        @if ($linked-headings-color != unset) {
            --#{$prefix}linked-headings-color: #{$linked-headings-color};
        }
        @if ($linked-headings-hover-color != unset) {
            --#{$prefix}linked-headings-hover-color: #{$linked-headings-hover-color};
        }
        --#{$prefix}intro-headings-color: #{$intro-headings-color};

        --#{$prefix}highlight-color: #{$highlight-color};
        --#{$prefix}highlight-color-rgb: #{to-rgb($highlight-color)};
        --#{$prefix}highlight-fg-color: #{$highlight-fg-color};
        --#{$prefix}highlight-border-color: #{$highlight-border-color};
        --#{$prefix}highlight-border-fg-color: #{$highlight-border-fg-color};

        // buttons
        --#{$prefix}btn-bg: #{$btn-bg};
        --#{$prefix}btn-fg: #{$btn-fg};
        --#{$prefix}btn-hover-bg: #{$btn-hover-bg};
        --#{$prefix}btn-hover-fg: #{$btn-hover-fg};
        --#{$prefix}btn-border: #{$btn-border};
        --#{$prefix}btn-hover-border: #{$btn-hover-border};
    }
}

.pivot,
.piece {
    .pivot,
    .piece {
        margin: 0;
        padding: 0;
    }
}

.piece {
    &[class*="p-xs-"] {
        > .visual {
            margin-left: 0;
        }
    }
    .body {
        ul, p {
            &+h1, &+h2 {
                margin-top: var(--#{$prefix}element-margin);
            }
            &+h3 {
                margin-top: var(--#{$prefix}default-margin);
            }
        }
        ul {
            margin-bottom: var(--#{$prefix}paragraph-margin-bottom);
        }
    }
}

.type-privacy-policy {
    .toggle-text {
        font-weight: var(--#{$prefix}font-weight-bold);
    }
}


.detail-page {
    .detail-content > .piece {
        width: unset;
    }
}


@each $space in $list-tile-spacers {

    .tile-margin-#{$space} {
        &.row {
            $unit-factor: 4;
            --#{$prefix}gutter-y: #{$space * $unit-factor}#{$list-tile-spacer-unit};
        }
    }
}


header.fh {

    .h-group {
        padding-left: var(--#{$fluid}-pp-padding-lr) !important;
        padding-right: var(--#{$fluid}-pp-padding-lr) !important;
    }
    .h-logo {
        padding-left: 0 !important;
        align-items: flex-start !important;
    }
    .h-info {
        --#{$fluid}-pp-margin-lr: 0;
        --#{$fluid}-pp-padding-lr: 0;
        flex-grow: 10;
    }

    &:not(.header-isfixed) {
        .h-logo {
            width: 33%;
            min-width: 250px;
            max-width: 375px;
        }
        .h-info {
            width: auto;
        }
    }
    &.header-isfixed {
        .h-logo {
            width: 25%;
            min-width: 180px;
            max-width: 250px;
        }
        .h-meta {
            display: none;
        }
    }
}

main {
    a {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--#{$prefix}body-color);
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 2px;
    }
    h1, h2, h3, h4, h5, h6, nav {
        a {
            text-decoration: none;
        }
    }
}

.topfoot {
    .type-linksequence.ls-bullets {
        .ls-li + .ls-li {
            margin-top: 0.7rem;
        }
    }
}

.type-search {
    .search-result-row {
        --#{$prefix}gutter-x: #{$grid-gutter-width};
    }
}

.type-list-filter {
    .filterbox{
        margin-bottom: var(--#{$prefix}default-margin);
    }
}

.type-linkbox {
    width: auto;
    &.fully-linked {
        > a {
            padding: 0;
        }
        .linkbox-content {
            &.pnl {
                > .body {
                    justify-content: flex-end;
                }
            }
        }
    }
}

.type-tab {
    .accordion {
        .acco-body {
            .piece,
            .pivot {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                &.box {
                    margin-top: 0;
                }
            }
        }
    }
}

.type-iconbox {
    &.box.fully-linked > a {
        padding: 0;
    }
}

// leftover from EBK portal - still needed?
.type-grid-element {
    border-bottom: 5px solid $white;
    .fluid-item em {
        display: block;
        background-color: #999;
    }
    .fluid-row {
        background-color: #fbb;
        @include media-breakpoint-up(lg) {
            > .flex-col:not(:last-of-type) {
                border-right: 1px solid $white;
            }
        }
    }
}

.type-section-ext {
    .sectiontitle {
        margin-bottom: var(--#{$prefix}headings-margin-bottom);
    }
    .subsections {
        .subsection {
            &:not(:last-of-type) {
                margin-bottom: var(--#{$prefix}default-margin);
            }
            &:has(+ .only-link),
            &.only-text:has( +.phh.phl.pnv) {
                margin-bottom: var(--#{$prefix}paragraph-margin-bottom);
            }
        }
    }

    &.large-margins {
        .sectiontitle {
            margin-bottom: var(--#{$prefix}element-margin);
        }
        .subsections {
            .subsection {
                &:not(:last-of-type) {
                    margin-bottom: var(--#{$prefix}element-margin);
                }
            }
        }
    }
}

.type-tab {
    &.variant-accordion {
        .collapse:not(.show) {
            display: block;
            max-height: 0px;
        }
    }
}

.btn {
    text-align: left;
}

.type-webform .formbtn.btn {
    text-align: center;
}

.partner-regions,
.reference-sites {

    &.type-list-filter {
        .filterbox.categories {
            .btn.li-label:before {
                content: none;
            }
            ul li a::before {
                content: "\f041"; // mercury:icon - fa-marker
            }
            ul li {
                display: inline-block;
            }
        }
    }
}

.list-append {
    .list-pagination {
        .btn-append {
            text-align: center;
        }
    }
}

@include media-breakpoint-down(md) {

    .list-content {
        &.mobile-small-image .piece.full {
            --#{$prefix}piece-visual-size: #{get-col-size-var(8, 'visual')};
            > .visual {
                margin-left: 0;
            }
        }
    }

    .list-teaser-text-tile {
        > .heading {
            margin-bottom: 0;
        }
        .row.list-entries {
            margin-top: 0;
        }
    }

    .type-slider {
        &.hero-slider {
            &.mobile-full {
                --#{$prefix}slider-slide-border-radius: 0;
                --#{$prefix}image-border-radius: 0;
                --#{$fluid}-pp-padding-lr: 0;
                &.text-below-on-xs {
                    .caption strong,
                    .subcaption {
                        padding-left: var(--#{$fluid}-box-padding-base);
                        padding-right: var(--#{$fluid}-box-padding-base);
                    }
                }
            }
        }
    }

}


.partner-regions {

    &.cat-list {
        .cat-label {
            font-weight: $font-weight-bold;
        }
        .cat-item {
            margin-right: var(--#{$prefix}ws-margin);
            @include list-category-label(false, false);
            &::before {
                content: "\f041"; // mercury:icon - fa-marker
                padding-right: 0.5rem;
            }
        }
    }

    &.type-list-filter {
        .filterbox.categories {
            ul li a::before {
                content: "\f041"; // mercury:icon - fa-marker
            }
        }
    }
}

.reference-sites {

    &.type-list-filter {
        .filterbox.categories {
            ul li a::before {
                content: "\f054"; // mercury:icon - fa-chevron-right
            }
        }
    }
}

span.piece-text-link,
a.piece-text-link {
    font-weight: var(--#{$prefix}font-weight-bold);
}

@font-face {
    font-family: 'uqglyphs';
    src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAI4AAsAAAAABYQAAAHtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmAAXBEICoIoggEBNgIkAxgLDgAEIAWEFgcgG4wEyC4ObDpdIW/4MxaDPkldkas1cUZQrJU9u/tAHFBIoMIyrBgtOJDA5YlsIlNxpO9y20MoEOKOvpGShzZBdOKNkAmAplag+9r/F/3j7/8m/4aPCXIo0SduGBRIL4yWYSCBlE2QE2xMTRdob5sqrkBcnRAaEngbQcPRq4Y0+RgX5JHcTN7gvOaJ34ZEETWLStgT4Zd0Z+79051+BAA6QYoUrQLlVNybmQhKFUpkQqeBv+QOuEWRG+VJBcIOkaMC5INS5GM12AkgA4QISZpSfftG9DlwavTTT/0fxLEBDz+PeVZyetSTj/3uazq6FDmD4vT3CddvN1y5Ux7JwtWDQ/9jR98UNvbv31j45uix/i5csa57YbMo56mf2rpv4tu3x/8cup4VfA4IBIOe3Z21auz/wpIM/Ohf8qiVZ5G8RqEEhL0thgw5WQhGy898Yh9kyCCQb34JEjCEcg8ECDUIkCjwRoBUjdUFyNT4KUCeEqMEyFfjsgDFmqNZKrIioY+aAYlynyHVx06S8f8gT72pkK+Pe36xoTH0ggesM1ThU0QCJqWzzlCF7V/uhbtDviXeG9R/oOVTxdjCIIP0NzA1niX369jFwLxs/qYmyXqaRoqmMYvL7r+/xHT5OmTH8i6GukUgmzMyi8tOypdIGQ==") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.detail-page {
    &.showcase {
        .detail-visual {
            margin-bottom: 0;
        }
        .detail-content {
            margin-top: calc(0.5 * var(--#{$prefix}detail-content-spacer-y)) !important;
            > div.paragraph.only-text:first-of-type {
                .text {
                    font-size: $h4-font-size;
                    font-weight: var(--#{$prefix}font-weight-headings);
                    line-height: 1.25;
                }
            }
        }

        blockquote.uq {
            --#{$prefix}uq-border: 0.5rem;
            --#{$prefix}uq-padding: 4rem;
            --#{$prefix}uq-hor: max(25%, 12rem);
            --#{$prefix}uq-ver: 6rem;
            position: relative;
            margin: 0;

            .uq-wrapper {
                border: var(--#{$prefix}uq-border) solid var(--#{$prefix}main-theme);
                border-radius: var(--#{$prefix}box-border-radius);
                padding: var(--#{$prefix}uq-padding);

                clip-path: polygon(
                    calc(100% - var(--#{$prefix}uq-hor)) 0%,
                    calc(100% - var(--#{$prefix}uq-hor) - var(--#{$prefix}box-border-radius)) var(--#{$prefix}box-border-radius),
                    var(--#{$prefix}box-border-radius) var(--#{$prefix}box-border-radius),
                    var(--#{$prefix}box-border-radius) calc(100% - var(--#{$prefix}uq-ver) - var(--#{$prefix}box-border-radius)),
                    0 calc(100% - var(--#{$prefix}uq-ver)),
                    0 100%,
                    var(--#{$prefix}uq-hor) 100%,
                    calc(var(--#{$prefix}uq-hor) + var(--#{$prefix}box-border-radius)) calc(100% - var(--#{$prefix}box-border-radius)),
                    calc(100% - var(--#{$prefix}box-border-radius)) calc(100% - var(--#{$prefix}box-border-radius)),
                    calc(100% - var(--#{$prefix}box-border-radius)) calc(var(--#{$prefix}uq-ver) + var(--#{$prefix}box-border-radius)),
                    100% calc(var(--#{$prefix}uq-ver)),
                    100% 0%
                );
            }

            &::after,
            &::before {
                font-family: uqglyphs;
                display: block;
                position: absolute;
                font-size: var(--#{$prefix}uq-padding);
                line-height: 1;
                content: "\e900";
                color: var(--#{$prefix}main-theme);
                z-index: 10;
            }

            &::before {
                left: 0;
                top: 0;
            }

            &::after {
                right: 0;
                bottom: 0;
                rotate: 180deg;
            }

            .uq-text {
                margin-bottom: var(--#{$prefix}paragraph-margin-bottom);
                @include text-lead;

                &:first-letter {
                    background: var(--#{$prefix}main-theme);
                    color: var(--#{$prefix}main-theme-fg);
                    padding: 0.75rem;
                    margin-right: 0.5rem;
                    box-sizing: border-box;
                    line-height: 1;
                    font-size: 200%;
                    float: left;
                }
            }
            .uq-name {
                font-style: italic;
            }

            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}