// Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
//
// All Rights Reserved.
// Unauthorized copying of this file, via any medium is strictly prohibited.

/**********
 * Source file: opencms-web/_fluid-raster.scss
 */

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

$fluid: '#{$prefix}fluid' !default;

$fluid-breakpoint: map.get($grid-breakpoints, 'lg') !default;

$fluid-gutter: 0.5 * $grid-gutter-width !default;
$fluid-raster-md-width: map.get($container-max-widths, 'md') !default;

$fluid-container-aliases: (
    small: lg,
    large: xl,
    full:  xxl
) !default;

$fluid-keys: map.keys($fluid-container-aliases);

$fluid-max-widths: (
    list.nth($fluid-keys, 1): 900px,
    list.nth($fluid-keys, 2): map.get($container-max-widths, 'xl'),
    list.nth($fluid-keys, 3): map.get($container-max-widths, 'xxl')
) !default;

:root {
    --100vw: calc(100vw - var(--sbw));
    --#{$fluid}-raster-md-width: #{$fluid-raster-md-width};

    --#{$fluid}-inner-gutter: #{$fluid-gutter};
    --#{$fluid}-gutter: var(--#{$fluid}-inner-gutter);

    --#{$fluid}-raster-size: calc(var(--100vw) - 2 * var(--#{$fluid}-gutter));
    --#{$fluid}-over: 0px;
    --#{$fluid}-side-space: var(--#{$fluid}-gutter);

    @each $key in $fluid-keys {
        --#{$fluid}-over-#{$key}: 0px; // adding 'px' is required otherwise calc() will fail for side-space
        --#{$fluid}-side-space-#{$key}: calc(var(--#{$fluid}-gutter) + var(--#{$fluid}-over-#{$key}));
        --#{$fluid}-raster-size-#{$key}: calc(var(--100vw) - 2 * var(--#{$fluid}-gutter));
        --#{$fluid}-over-maxed-#{$key}: var(--#{$fluid}-over-#{$key});

        @if ($key != list.nth($fluid-keys, -1)) {
            $parent: list.nth($fluid-keys, list.index($fluid-keys, $key)+ 1);
            --#{$fluid}-parent-#{$key}: #{$parent};
            --#{$fluid}-parent-offset-#{$key}: calc(0.5 * (var(--#{$fluid}-raster-size-#{$parent}) - var(--#{$fluid}-raster-size-#{$key})));
            --#{$fluid}-parent-over-#{$key}: var(--#{$fluid}-over-#{$parent});
        }
    }

    @each $key in $fluid-keys {
        $max: map.get($fluid-max-widths, $key);
        @if ($key != list.nth($fluid-keys, 1)) {
            @media (min-width: #{map.get($grid-breakpoints, map.get($fluid-container-aliases, $key))}) {
                --#{$fluid}-raster-size-#{$key}: min(var(--100vw) - 2 * var(--#{$fluid}-gutter), #{$max});
                --#{$fluid}-over-#{$key}: max(0px, 0.5 * (var(--100vw) - var(--#{$fluid}-raster-size-#{$key}) - 2 * var(--#{$fluid}-gutter)));
            }
        } @else {
            @media (min-width: #{map.get($grid-breakpoints, 'lg')}) {
                --#{$fluid}-raster-size-#{$key}: #{fluid-size-clamp($max, $fluid-raster-md-width, map.get($grid-breakpoints, 'xl'), $fluid-breakpoint)};
                --#{$fluid}-over-#{$key}: max(0px, 0.5 * (var(--100vw) - var(--#{$fluid}-raster-size-#{$key}) - 2 * var(--#{$fluid}-gutter)));
            }
            @media (min-width: #{map.get($grid-breakpoints, 'xl')}) {
                --#{$fluid}-raster-size-#{$key}: #{$max};
            }
        }

        @if ($key == list.nth($fluid-keys, -1)) {
            @media (min-width: #{map.get($grid-breakpoints, 'xl')}) {
                --#{$fluid}-over-maxed-#{$key}: calc(var(--#{$fluid}-over-#{$key}) + min(calc(0.5 * (var(--100vw) - #{$max})), var(--#{$fluid}-gutter)));
            }
        }
    }
}

@each $key, $max in $fluid-max-widths {
    .fluid-raster-#{$key} {
        --#{$fluid}-raster-size: var(--#{$fluid}-raster-size-#{$key});
        --#{$fluid}-over: var(--#{$fluid}-over-#{$key});
        --#{$fluid}-side-space: var(--#{$fluid}-side-space-#{$key});
        --#{$fluid}-over-maxed: var(--#{$fluid}-over-maxed-#{$key});
        @if ($key != list.nth($fluid-keys, -1)) {
            --#{$fluid}-parent-offset: var(--#{$fluid}-parent-offset-#{$key});
            --#{$fluid}-parent-over: var(--#{$fluid}-parent-over-#{$key});
            --#{$fluid}-parent-side-space: calc(var(--#{$fluid}-gutter) + var(--#{$fluid}-parent-over-#{$key}));
        } @else {
            --#{$fluid}-parent-offset: 0px;
            --#{$fluid}-parent-over: var(--#{$fluid}-over);
            --#{$fluid}-parent-side-space: var(--#{$fluid}-side-space);
        }
    }
}

.fluid-row {
    // fluid rows do not use the Bootstrap gutter, but the "fluid-gutter" (see above)
    --#{$prefix}gutter-x: 0px;
    --#{$fluid}-box-padding-base: var(--#{$fluid}-inner-gutter);
    --#{$fluid}-box-margin-base: 0px;

    .fluid-maxed {
        --#{$fluid}-box-padding-base: 0px;
        --#{$fluid}-box-margin-base: 0px;
    }

    .box {
        --#{$prefix}box-border-radius: 0;
    }

    &,
    .box,
    .fluid-maxed {
        --#{$fluid}-box-padding-t: var(--#{$fluid}-box-padding-base);
        --#{$fluid}-box-padding-b: var(--#{$fluid}-box-padding-base);
        --#{$fluid}-box-margin-t: var(--#{$fluid}-box-margin-base);
        --#{$fluid}-box-margin-b: var(--#{$fluid}-box-margin-base);

        --#{$fluid}-pp-padding-lr: var(--#{$fluid}-box-padding-base);
        --#{$fluid}-pp-margin-lr: var(--#{$fluid}-box-margin-base);
    }

    @include media-breakpoint-up(lg) {

        --#{$fluid}-box-padding-base: calc(0.5 * var(--#{$fluid}-inner-gutter));
        --#{$fluid}-box-margin-base: calc(0.5 * var(--#{$fluid}-inner-gutter));

        .box {
            --#{$prefix}box-border-radius: #{$box-border-radius};
            --#{$fluid}-box-padding-base: calc(0.5 * var(--#{$fluid}-inner-gutter));
            --#{$fluid}-box-margin-base: calc(0.5 * var(--#{$fluid}-inner-gutter));
            --#{$fluid}-box-margin-t: calc(0.5 * var(--#{$fluid}-inner-gutter));
            --#{$fluid}-box-margin-b: var(--#{$fluid}-box-margin-t);
        }
    }

    .box {
        // reset box rules for special fluid handling
        // IMPORTANT: box must NEVER add space left or right, only top or bottom - left / right will be added by piece / pivot (see below)
        margin-left: 0;
        margin-right: 0;
        margin-top: var(--#{$fluid}-box-margin-t);
        margin-bottom: var(--#{$fluid}-box-margin-b);
        padding-left: 0;
        padding-right: 0;
        padding-top: var(--#{$fluid}-box-padding-t);
        padding-bottom: var(--#{$fluid}-box-padding-b);

        + .detail-page,
        + .element:not(.box),
        + .fluid-item:not(.box){
            // if a not-boxed element follows a boxed element, add a margin-top
            margin-top: var(--#{$fluid}-box-padding-t); // 'padding' is correct here because this will be set for fill AND nofill
        }

        &.element-margin {
            margin-bottom: var(--#{$prefix}element-margin);
        }
    }

    &.box {
        --#{$prefix}box-padding: #{$box-padding} 0;
    }

    @each $color, $value in $theme-colors {
        // if two boxed content sections of the same color are on top of each other, do not add top padding to the 2nd section
        .box-#{$color}.box-stretch.stretch-full:has( + .box-#{$color}.box-stretch.stretch-full) {
            --#{$fluid}-box-margin-b: 0;
        }
        .box-#{$color}.box-stretch.stretch-full + .box-#{$color}.box-stretch.stretch-full {
            --#{$fluid}-box-padding-t: 0;
            --#{$fluid}-box-margin-t: 0;
        }
        &.box-#{$color} + &.box-#{$color} {
            --#{$prefix}box-padding: 0 0 #{$box-padding} 0;
        }
    }

    .list-teaser-text-tile:not(.box) .list-box,
    .piece,
    .pivot {
        margin-left: var(--#{$fluid}-pp-margin-lr);
        margin-right: var(--#{$fluid}-pp-margin-lr);
        padding-left: var(--#{$fluid}-pp-padding-lr);
        padding-right: var(--#{$fluid}-pp-padding-lr);
    }

    .list-teaser-text-tile:not(.box) {
        .teaser-text-tile:not(.box) {
            --#{$fluid}-pp-padding-lr: 0px;
            --#{$fluid}-pp-margin-lr: 0px;
        }
    }

    + .fluid-row {
        > [class*=col-] > .fluid-item {
            &:first-child:not(.box) {
                // in the following fluid row, add a margin-top on the first child if this has no box
                // make sure this is placed directly in a column, otherwise this would affect elements in lists as well
                margin-top: var(--#{$fluid}-box-margin-t);
                padding-top: var(--#{$fluid}-box-padding-t);
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    :root {
        // reduce the gutter on very small screens
        --#{$fluid}-inner-gutter: calc(0.5 * #{$fluid-gutter});
    }

    .fluid-row {
        &,
        .box,
        .fluid-maxed {
            --#{$fluid}-box-padding-t: #{$fluid-gutter};
            --#{$fluid}-box-padding-b: #{$fluid-gutter};
        }
    }
}

@include media-breakpoint-between(md, lg) {
    :root {
        --#{$fluid}-gutter: max(#{$fluid-gutter}, calc(0.5 * (var(--100vw) - var(--#{$fluid}-raster-md-width))));
    }
    .fluid-row {
        --#{$fluid}-side-space: var(--#{$fluid}-gutter);
        --#{$fluid}-raster-size: var(--#{$fluid}-raster-md-width);
        .list-teaser-text-tile .list-box,
        .fluid-item,
        .piece,
        .pivot {
            &:not(.box) {
                --#{$fluid}-pp-padding-lr: 0;
                --#{$fluid}-pp-margin-lr: var(--#{$fluid}-side-space);
            }
        }
        .box {
            --#{$fluid}-pp-padding-lr: var(--#{$fluid}-side-space);
            --#{$fluid}-pp-margin-lr: 0;
        }
        .list-teaser-text-tile {
            &.box .list-box {
                margin-left: var(--#{$fluid}-side-space);
                margin-right: var(--#{$fluid}-side-space);
            }
            .teaser-text-tile:not(.box) {
                --#{$fluid}-pp-padding-lr: 0px;
                --#{$fluid}-pp-margin-lr: 0px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .list-content.box {
        margin-left: var(--#{$fluid}-pp-margin-lr);
        margin-right: var(--#{$fluid}-pp-margin-lr);
        padding-left: var(--#{$fluid}-pp-padding-lr);
        padding-right: var(--#{$fluid}-pp-padding-lr);

        .pivot,
        .piece,
        .teaser {
            --#{$fluid}-pp-padding-lr: 0;
            --#{$fluid}-pp-margin-lr: 0;
        }
    }

    .fluid-row-cols {
        padding-left: 0;
        padding-right: 0;

        .fluid-item,
        .fluid-row-cols {
            // col row in another col row - over must be 0
            --#{$fluid}-over: 0;
        }

        > .flex-col {

            $col-sizes: (8, 9, 4, 3, 2);
            @each $col-size in $col-sizes {
                $col-factor: math.div($col-size, 12);
                $col-inner: math.div(12, $col-size) - 2;
                &.col-lg-#{$col-size} {
                    --#{$fluid}-raster-inner: calc(#{$col-factor} * (var(--#{$fluid}-raster-size) + 2 * var(--#{$fluid}-gutter)));
                    width: var(--#{$fluid}-raster-inner);
                }
                &.col-lg-#{$col-size}:first-of-type,
                &.col-lg-#{$col-size}:last-of-type {
                    width: calc(0.5 * (var(--100vw) - (#{$col-inner} * var(--#{$fluid}-raster-inner))));
                }
            }
        }

        &:not(.fluid-cols-reversed) {
            > .flex-col {
                &:first-of-type {
                    > * {
                        margin-left: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-pp-margin-lr));
                        &.box.box-stretch {
                            padding-left: var(--#{$fluid}-side-space);
                            margin-left: 0;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                        .piece,
                        .pivot {
                            margin-left: 0;
                        }
                    }
                }
                &:last-of-type {
                    > * {
                        margin-right: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-pp-margin-lr));
                        &.box.box-stretch {
                            padding-right: var(--#{$fluid}-side-space);
                            margin-right: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                        .piece,
                        .pivot {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &.fluid-cols-reversed {
            > .flex-col {
                &:last-of-type {
                    > * {
                        margin-left: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-pp-margin-lr));
                        &.box.box-stretch {
                            padding-left: var(--#{$fluid}-side-space);
                            margin-left: 0;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }
                &:first-of-type {
                    > * {
                        margin-right: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-pp-margin-lr));
                        &.box.box-stretch {
                            padding-right: var(--#{$fluid}-side-space);
                            margin-right: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                }
            }
        }

        &,
        > .flex-col > .fluid-item {
            --#{$fluid}-pp-margin-lr: var(--#{$fluid}-box-margin-base);
            --#{$fluid}-pp-padding-lr: var(--#{$fluid}-box-padding-base);
        }

        > .flex-col {
            > .fluid-item,
            > .type-list-filter,
            > .list-content {
                &:not(.box) {
                    --#{$fluid}-pp-padding-lr: 0px;
                }
            }
        }
    }

    .fluid-row-full {
        &,
        > .flex-col > .fluid-item,
        .acco-body > * > *,
        .detail-page > .fluid-item,
        .detail-page > .attachment-container > .fluid-item {
            --#{$fluid}-pp-margin-lr: calc(var(--#{$fluid}-over) + var(--#{$fluid}-box-margin-base));
            --#{$fluid}-pp-padding-lr: 0;
        }

        > .flex-col > .box.box-stretch,
        .acco-body > * > .box.box-stretch,
        .detail-page > .box.box-stretch,
        .detail-page > .attachment-container > .box.box-stretch {

            &.stretch-full,
            &.stretch-left,
            &.stretch-right {
                --#{$fluid}-pp-margin-lr: 0;
                --#{$fluid}-pp-padding-lr: calc(var(--#{$fluid}-over) + var(--#{$fluid}-box-margin-base));
            }

            &.stretch-full {
                --#{$prefix}box-border-radius: 0;
            }

            &.stretch-left {
                margin-right: var(--#{$fluid}-pp-padding-lr);
                padding-right: var(--#{$fluid}-box-margin-base);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.stretch-right {
                margin-left: var(--#{$fluid}-pp-padding-lr);
                padding-left: var(--#{$fluid}-box-margin-base);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        > .flex-col > .box:not(.box-stretch),
        .acco-body > * > .element.box:not(.box-stretch),
        .detail-page > .box:not(.box-stretch),
        .detail-page > .attachment-container > .box:not(.box-stretch) {
            --#{$fluid}-pp-margin-lr: calc(var(--#{$fluid}-over) + var(--#{$fluid}-box-margin-base));
            // --#{$fluid}-pp-margin-lr: var(--#{$fluid}-side-space);
            --#{$fluid}-pp-padding-lr: var(--#{$fluid}-box-padding-base);
        }

        > .flex-col > .fluid-maxed,
        .detail-page > .fluid-maxed,
        .detail-page > .attachment-container > .fluid-maxed {
            --#{$fluid}-pp-margin-lr: 0;
            --#{$fluid}-pp-padding-lr: calc(var(--#{$fluid}-over-maxed) + var(--#{$fluid}-box-padding-base));
        }
    }
}

// optimize opencms edit point for fluid rows
// optimize containers for fluid rows
.fluid-row {
    --#{$fluid}-oc-offset: 0px;
    oc-editpoint {
        right: calc(2px + var(--#{$fluid}-oc-offset)) !important;
    }
    > .flex-col:last-of-type {
        > .box.box-stretch {
            &.stretch-full,
            &.stretch-right {
                --#{$fluid}-oc-offset: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-box-padding-base));
            }
        }
    }
    &.fluid-row-cols {
        .container-box {
            --#{$fluid}-inner-gutter: calc(0.5 * #{$fluid-gutter});
            margin-left: var(--#{$fluid}-inner-gutter);
            margin-right: var(--#{$fluid}-inner-gutter);
            @include media-breakpoint-between(sm, lg) {
                margin-left: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-box-margin-base));
                margin-right: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-box-margin-base));
            }
        }
    }
    &.fluid-row-full {
        > .flex-col > .detail-page:not(.pivot),
        > .flex-col > .list-content {
            --#{$fluid}-oc-offset: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-box-padding-base));
            &.box {
                --#{$fluid}-oc-offset: 0px;
            }
        }
        > .flex-col > .list-content {
            &.list-teaser-text-tile .list-entry {
                --#{$fluid}-oc-offset: calc(0.5 * var(--#{$prefix}gutter-x));
            }
        }
        .container-box {
            margin-left: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-box-margin-base));
            margin-right: calc(var(--#{$fluid}-side-space) - var(--#{$fluid}-box-margin-base));
        }
    }
}

#modelinfo-border {
    border-left: 0 !important;
    border-right: 0 !important;
}
