// Copyright (c) Alkacon Software GmbH & Co. KG (http://www.alkacon.com)
//
// All Rights Reserved.
// Unauthorized copying of this file, via any medium is strictly prohibited.

/**********
 * Source file: opencms-web/_variables.scss
 */

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';

 // Color constants

$oc-blue:                           #144382;
$oc-red:                            #b31b34;
$oc-orange:                         #ffa826;
$oc-cyan:                           #1bb39a;

$cyan-dark:                         #008489;
$purple:                            #c03bc0;

$white:                             #fff;
$grey-lighter:                      #f4f4f4;
$grey-light:                        #ddd;
$grey:                              #aaa;
$grey-dark:                         #888;
$black:                             #000;

$text-light:                        #fff;
$text-dark:                         #555;

$color-theme:                       $oc-red;
$color-akzent1:                     $oc-blue;
$color-akzent2:                     $purple;
$color-akzent3:                     $cyan-dark;

$main-theme:                        $color-theme;
$main-theme-hover:                  $color-akzent1;
$highlight-color:                   $grey-lighter;

$foot-top-bg-color:                 $color-akzent1 !default;
$foot-sub-bg-color:                 $color-theme !default;

$prefix:                            'my-' !default; // prefix for the generated CSS variables

$font-rem-base-desktop-size:        10px !default;
$font-rem-base-desktop-maxsize:     13px !default;
$font-rem-base-mobile-size:         $font-rem-base-desktop-size !default;

$font-size-base:                    1.7rem;
$font-weight-bold:                  700;

$piece-desktop-breakpoint:          lg !default;

$font-size-headings:                2.4rem; // actually not used much since all headings are set manually below
$h1-font-size:                      3.2rem; // grow with clamp
$h1-font-size-mobile:               $h1-font-size;
$h2-font-size:                      2.8rem; // grow with clamp
$h2-font-size-mobile:               $h2-font-size;
$h3-font-size:                      2.4rem; // grow with clamp
$h3-font-size-mobile:               $h3-font-size;
$h4-font-size:                      2.2rem; // grow with clamp
$h4-font-size-mobile:               $h4-font-size;
$h5-font-size:                      $h4-font-size;
$h6-font-size:                      $h4-font-size;

$line-height-base:                  1.4;
$headings-line-height:              1.25;
$line-height-lead:                  $line-height-base;

$default-margin:                    30px;
$element-margin:                    60px;

$fluid-gutter:                      var(--#{$prefix}element-margin);
$grid-gutter-width:                 40px;
$fluid-raster-stretch-width:        744px;

$default-border-radius:             10px;
$btn-border-radius:                 5px;
$box-border-radius:                 20px;
$btn-border-style:                  1px solid var(--my-btn-border) !default;

$form-border-radius:                $box-border-radius;
$form-background:                   $grey-lighter;

$list-teaser-margin:                $element-margin;
$list-tile-spacers:                 (0, 2, 5, 10, 15, 30);
$list-border-radius:                $box-border-radius;
$list-filter-background:            $cyan-dark;

$at-margin-between:                 $default-margin;

$at-content-padding-x:              0;
$at-border-radius:                  $box-border-radius;
$at-border:                         none;

$nav-header-hor-padding:            1.4rem;
$nav-menu-min-width:                25rem;
$nav-font-size:                     1.5rem;
$nav-mobile-smaller-xs-toggle:      false;
$nav-header-font-size:              $font-size-base;
$nav-header-font-weight:            $font-weight-bold;
$nav-mobile-font-size:              $nav-header-font-size;
$nav-border-radius:                 $btn-border-radius;

$fh-grid-gutter-width:              20px; // must be px
$fh-meta-font-size:                 1.3rem;

// $link-decoration:                   underline;
$link-external-icon:                false;

$btn-white-space:                   normal;

$text-use-wcag-contrast:            true;
$wacg-conformance-level:            "AA";

$grid-breakpoints: (
    xs: 0,
    sm: 552px,
    md: 764px,
    lg: 1014px,
    xl: 1200px,
    xxl: 1400px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 744px,
    lg: 992px,
    xl: 1170px,
   xxl: 1320px
) !default;

$theme-colors: (
    ("theme",          $color-theme),
    ("akzent1",        $color-akzent1),
    ("akzent2",        $color-akzent2),
    ("akzent3",        $color-akzent3),
    ("grey",           $grey-light)
);

$match-defaults-dark: (
    "body-color": $text-dark,
    "link-color": $main-theme,
    "link-hover-color": $main-theme-hover
);

$match-defaults-colored: (
    "link-color": $grey-light,
    "btn-fg": $text-light,
    "btn-border": $text-light,
    "btn-hover-bg": $text-light,
    "btn-hover-fg": $text-dark,
    "btn-hover-border": $text-light
);

$theme-matched-colors: (
    $color-theme: map-merge(
        $match-defaults-colored, (
            "btn-bg": $color-theme
        ),
    ),
    $color-akzent1: map-merge(
        $match-defaults-colored, (
            "btn-bg": $color-akzent1
        ),
    ),
    $color-akzent2: map-merge(
        $match-defaults-colored, (
            "btn-bg": $color-akzent2
        ),
    ),
    $color-akzent3: map-merge(
        $match-defaults-colored, (
            "btn-bg": $color-akzent3
        ),
    ),
    $grey:          $match-defaults-dark,
    $grey-light:    $match-defaults-dark,
    $grey-lighter:  $match-defaults-dark
);

$font-family-base:                  -apple-system !default;
$font-family-headings:              -apple-system !default;

