<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>28e71c68-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[28e71c68-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>0d196f78-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>28e93f4d-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[28e93f4d-d070-11e9-861d-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>d0e949b5-cfe9-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/side</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>28ecc1c4-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssVisibility]]></Name>
          <Value>
            <String><![CDATA[hidden-xs hidden-sm hidden-md]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>43356de1-d03d-11ec-844e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section-ext/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-ext-m/ecs_00002.xml]]></target>
            <uuid>993d4214-d037-11ec-844e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[feature-list col-red]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[3]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>713a0f19-3608-11ea-979a-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/meta-info</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/metainfo-m/meta_00003.xml]]></target>
            <uuid>72f1aa2a-3608-11ea-979a-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[0d196f78-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2bdd1427-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[2bdd1427-cfe5-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>afc14ee8-d085-11e9-a899-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00009.xml]]></target>
            <uuid>b12ffa19-d085-11e9-a899-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[imageRatio]]></Name>
          <Value>
            <String><![CDATA[4-3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceLayout]]></Name>
          <Value>
            <String><![CDATA[5]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageCopyright]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageSubtitle]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showImageZoom]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[visualOption]]></Name>
          <Value>
            <String><![CDATA[6]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>8c733190-d03b-11ec-844e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section-ext/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-ext-m/ecs_00001.xml]]></target>
            <uuid>49090fb7-d034-11ec-844e-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>04961870-321c-11ea-b60c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-m/cs_00023.xml]]></target>
            <uuid>9afe0a78-321a-11ea-b60c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[text]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>4989c2a9-d03d-11ec-844e-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section-ext/text-image</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/alkacon/.content/section-ext-m/ecs_00003.xml]]></target>
            <uuid>b3c7db03-d03b-11ec-844e-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[feature-list col-cyan]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
