<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Futter für RSS Reader]]></Title>
    <Date>1188392220000</Date>
    <Preface><![CDATA[Die letzten Neuigkeiten den der opencms.org und alkacon.com Webseiten sind ab sofort auch als RSS 2.0 verfügbar.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die letzten Neuigkeiten den der <a target="_self" href="%(link0)">opencms.org</a> und <a target="_self" href="%(link1)">alkacon.com</a> Webseiten sind ab sofort auch als RSS 2.0 Feeds verfügbar. Die Feeds können mit Standard RSS Readern abonniert werden.</p> <p>Weiterhin sind auch die Liste der letzten OpenCms Referenzen, sowie die aktuellen OpenCms Core Downloads, als RSS Feeds verfügbar.</p> <p>Durch das abonnieren der Feeds können Sie leicht auf dem letzten Stand der OpenCms Entwicklungen bleiben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<h3>Die folgenden Feeds sind ab sofort verfügbar:</h3>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon bietet ab sofort RSS Feeds für OpenCms an.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Feed your RSS reader]]></Title>
    <Date>1188392220000</Date>
    <Preface><![CDATA[The latest news from the opencms.org and alkacon.com websites are now available as RSS 2.0 feeds.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>The latest news from the <a href="%(link0)" target="_self">opencms.org</a> and <a href="%(link1)" target="_self">alkacon.com</a> websites are now available as RSS 2.0 feeds. The feeds can be subscribed using the standard RSS feed readers.</p> <p>Moreover, RSS feeds have been generated for the latest reference sites, as well as for the current OpenCms downloads.</p> <p>We invite everyone to subscribe to these feeds to stay tuned with the lastest developments in OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<h3>The following feeds are currently available:</h3>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon is now offering RSS feeds for OpenCms.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
