<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Neue Website mit OpenCms 7 fertig gestellt]]></Title>
    <Date>1183492800000</Date>
    <Preface><![CDATA[Alkacon Software hat die Webseiten opencms.org und alkacon.com mit OpenCms 7 neu gestaltet.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die opencms.org und alkacon.com Webseiten wurde neu von Alkacon gestaltet. Die neuen Seiten basieren auf OpenCms 7 und verwenden&nbsp; bereits viele neue Funktionen dieser Version.</p> <p>Alexander Kandzior, Gesch&auml;ftsf&uuml;hrer der Alkacon Software GmbH:<em> F&uuml;r die Ver&ouml;ffentlichung von OpenCms 7 wollten wir sicher stellen, dass unsere Webseiten diese letzte Version benutzen. Die Arbeiten an den neuen Seiten wurden kurz vor der Ver&ouml;ffentlichung von OpenCms 7 abgeschlossen. Der Inhalt wurde gr&ouml;&szlig;enteils von der alten Seite kopiert, aber das wird sich in K&uuml;rze &auml;ndern, da wir viele neue Funktionen anbieten wollen. Unsere eigenen Erfahrungen in der Arbeit an den Webseiten belegen, dass OpenCms 7 ein gro&szlig;artiges Produkt und eine deutliche Verbesserung gegen&uuml;ber &auml;lteren Versionen ist.</em></p> <p>Die neuen Webseiten haben ein verbessertes und modernes &quot;look and feel&quot; welches ausschlie&szlig;lich CSS f&uuml;r das Layout verwendet. Die Seiten wurden au&szlig;erdem Barrierefrei angelegt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, einfach zu bedienendes, professionelles Open Source CMS in Java und XML]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[New Website Based on OpenCms 7 Launched]]></Title>
    <Date>1183492800000</Date>
    <Preface><![CDATA[Based on OpenCms 7, Alkacon Software has updated the opencms.org and alkacon.com websites with a new look and feel. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>The opencms.org and alkcon.com websites have been relaunched by Alkacon Software. The new sites are based on OpenCms 7 and take advantage of the latest OpenCms features.</p> <p>Alexander Kandzior, CEO of Alkacon Software:  <em>For the launch of OpenCms 7, we wanted to make sure our own websites use this latest version. We just finished work on the sites before the launch date of OpenCms 7. The content was mostly copied from the old sites, but this will change soon as we plan to extend and enhance the sites features. The experience we have had creating working on the relaunch confirms that OpenCms 7 is a great product and a huge step ahead.</em></p> <p>The new sites feature an improved, modern look and feel using CSS styles only for layout. The templates have been created using W3C accessibility features.</p><p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
