<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.0.1 verfügbar]]></Title>
    <Date>1184169600000</Date>
    <Preface><![CDATA[OpenCms version 7.0.1 is now available for download. This is a maintenance release which fixes a critical issue in 7.0.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/070711_v701_releasenotes.html]]></target>
            <uuid>3707cddb-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.1 of OpenCms is now available for download. This is a maintenance release which
fixes a critical issue in 7.0.0 that made it impossible to apply permissions to resources outside
the
<code>/system/</code> folder. A number of other issues reported by the OpenCms community since the
release of 7.0.0 have also been fixed.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. The new version was
developed by&nbsp;Alkacon Software GmbH with the support of an international OpenCms developer
community.</p>
<p>OpenCms 7 contains many enhancements and improvements compared to older OpenCms versions.</p>
<h2>Major new features in OpenCms 7</h2>
<ul>
<li>The internal link management has been greatly improved.</li>
<li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>
<li>Deleting a resource that is linked by other resources does now display a warning / confirmation
dialog.</li>
<li>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms
resources.</li>
<li>Native support for WebDAV access to the OpenCms VFS has been added.</li>
<li>The concept of "Organization Units" (OUs) has been added to the internal user management.</li>
<li>System permissions are now based on a complete new set of "Roles".</li>
<li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
<li>A "switch user" (su) function for Administrators in the OpenCms Workplace is now
available.</li>
<li>Because of the use of Ajax technologies, the OpenCms Workplace is more responsive.</li>
<li>A new "Undelete" function is available on the context menu to restore deleted resources,
including complete deleted subtrees.</li>
<li>A "time warp" feature in the Workplace now allows users to view resources with date expired /
date released settings.</li>
<li>Many other improvements...</li>
</ul>
<h2>Important improvements in 7.0.1</h2>
<ul>
<li>Fixed critical issue that makes it impossible to apply permissions to resources outside the
<code>/system/</code> folder.</li>
<li>Fixed issue with broken support for MySQL version 4.0.</li>
</ul>
<p>Please check out the
<a href="%(link0)">release notes</a> for further
details.</p>
<p>OpenCms 7 is highly backward compatible with version 6. An easy to use update wizard for OpenCms
Version 6 and 7.0.0 installations based on MySQL and Oracle is available.</p>
<h2>OpenCms already in widespread use</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS
systems. The software has been in continuous development for the last 7 years and has an active
community of Open Source developers.</p>
<p>More than&nbsp;100 international IT companies have been registered as official '
<a href="%(link1)">OpenCms Solution Provider</a>' on
the OpenCms website. A steadily growing list of
<a href="%(link2)">reference sites</a> also shows the
increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready content management solution build in Java and XML from open
source components. OpenCms can easily be deployed on almost any existing IT infrastructure and
provides powerful features especially suited for medium and large enterprise internet or intranet
applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms
is a leading open source CMS solution in widespread use all over the world. Many businesses and
organizations use OpenCms as a cost effective, professional alternative to expensive license
products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms.
This gives our customers a layer of security and convenience often required for mission critical
OpenCms installations. Please see the
<a href="%(link3)">Alkacon product website</a> for more details.</p>
<p>The team at
<a href="%(link4)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who
has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.0.1 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.0.1 available]]></Title>
    <Date>1184169600000</Date>
    <Preface><![CDATA[OpenCms version 7.0.1 is now available for download. This is a maintenance release which fixes a critical issue in 7.0.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/070711_v701_releasenotes.html]]></target>
            <uuid>3707cddb-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.1 of OpenCms is now available for download. This is a maintenance release which
fixes a critical issue in 7.0.0 that made it impossible to apply permissions to resources outside
the
<code>/system/</code> folder. A number of other issues reported by the OpenCms community since the
release of 7.0.0 have also been fixed.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. The new version was
developed by&nbsp;Alkacon Software GmbH with the support of an international OpenCms developer
community.</p>
<p>OpenCms 7 contains many enhancements and improvements compared to older OpenCms versions.</p>
<h2>Major new features in OpenCms 7</h2>
<ul>
<li>The internal link management has been greatly improved.</li>
<li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>
<li>Deleting a resource that is linked by other resources does now display a warning / confirmation
dialog.</li>
<li>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms
resources.</li>
<li>Native support for WebDAV access to the OpenCms VFS has been added.</li>
<li>The concept of "Organization Units" (OUs) has been added to the internal user management.</li>
<li>System permissions are now based on a complete new set of "Roles".</li>
<li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
<li>A "switch user" (su) function for Administrators in the OpenCms Workplace is now
available.</li>
<li>Because of the use of Ajax technologies, the OpenCms Workplace is more responsive.</li>
<li>A new "Undelete" function is available on the context menu to restore deleted resources,
including complete deleted subtrees.</li>
<li>A "time warp" feature in the Workplace now allows users to view resources with date expired /
date released settings.</li>
<li>Many other improvements...</li>
</ul>
<h2>Important improvements in 7.0.1</h2>
<ul>
<li>Fixed critical issue that makes it impossible to apply permissions to resources outside the
<code>/system/</code> folder.</li>
<li>Fixed issue with broken support for MySQL version 4.0.</li>
</ul>
<p>Please check out the
<a href="%(link0)">release notes</a> for further
details.</p>
<p>OpenCms 7 is highly backward compatible with version 6. An easy to use update wizard for OpenCms
Version 6 and 7.0.0 installations based on MySQL and Oracle is available.</p>
<h2>OpenCms already in widespread use</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS
systems. The software has been in continuous development for the last 7 years and has an active
community of Open Source developers.</p>
<p>More than&nbsp;100 international IT companies have been registered as official '
<a href="%(link1)">OpenCms Solution Provider</a>' on
the OpenCms website. A steadily growing list of
<a href="%(link2)">reference sites</a> also shows the
increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready content management solution build in Java and XML from open
source components. OpenCms can easily be deployed on almost any existing IT infrastructure and
provides powerful features especially suited for medium and large enterprise internet or intranet
applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms
is a leading open source CMS solution in widespread use all over the world. Many businesses and
organizations use OpenCms as a cost effective, professional alternative to expensive license
products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms.
This gives our customers a layer of security and convenience often required for mission critical
OpenCms installations. Please see the
<a href="%(link3)">Alkacon product website</a> for more details.</p>
<p>The team at
<a href="%(link4)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who
has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.0.1 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
