<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Nominate OpenCms as best Open Source CMS 2007!]]></Title>
    <Date>1185530400000</Date>
    <Preface><![CDATA[Packt Publishing has launched this years edition of their annual award to find the best open source Content Management System. 
Nominations for the Open Source CMS Award 2007 are open now. Please nominate OpenCms, it may be your vote that counts!]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/nominations-homepage]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/nominations-homepage]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/article/nominate-best-other-open-source-cms]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/article/nominate-most-promising-open-source-cms]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/article/nominate-overall-open-source-cms-winner]]></target>
          </link>
        </links>
        <content><![CDATA[<p><a target="_blank" href="%(link0)">Packt Publishing</a> has launched this years edition of their annual award to find the best open source Content Management System.</p> <p>Please nominate OpenCms for the <strong><a target="_blank" href="%(link1)">Open Source CMS Award 2007</a></strong>.</p> <h2>Nominate OpenCms now!</h2> <p>This years award has 5 categories. We suggest you nominate OpenCms for the following 3 categories, in that order:</p> <ol>     <li><a target="_blank" href="%(link2)">Best Other Open Source Content Management System</a></li>     <li><a target="_blank" href="%(link3)">Most Promising Open Source Content Management System</a></li>     <li><a target="_blank" href="%(link4)">Overall Winner, Open Source CMS Award</a></li> </ol> <p>We belive our best chances to get nominated are in the &quot;Other&quot; category, since from last years award we know the PHP based systems will likley collect more votes for the &quot;Overall&quot; and possibly also for the &quot;Most Promising&quot; category.</p> <h2>It is your vote that counts!</h2> <p>Help us to further establish OpenCms as the leading Open Source CMS solutions in Java. Every OpenCms user will benefit if we get more public recognition, and this award may certainly help!</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/vote-now-07.gif]]></target>
            <uuid>05dab10d-3c3a-11dc-b4ef-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Vote for OpenCms in the Open Source CMS Award 2007]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Nominate OpenCms in Category "Best Other Open Source CMS"]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/article/nominate-best-other-open-source-cms]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Nominations for the Open Source CMS Award, 2007 are open, help promote OpenCms.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Packt, Open Source, Competition, Nomination, Award]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1155376800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
