<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE für OpenCms 7 jetzt verfügbar]]></Title>
    <Date>1187679600000</Date>
    <Preface><![CDATA[Nach mehreren Wochen zusätzlicher Tests ist Alkacon OCEE für OpenCms 7 nun verfügbar. Kunden von Alkacon, die ein gültiges OCEE Update Abonnement haben, erhalten die neue OCEE Version kostenlos.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/kontakt/index.html]]></target>
            <uuid>96d3de5e-3091-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Nach mehreren Wochen zusätzlicher Tests ist Alkacon OCEE für OpenCms Version 7 nun verfügbar.</p>
<p>Bei den Alkacon OpenCms Enterprise Extensions (auch OCEE genannt) handelt es sich um eine kommerzielle Erweiterung von OpenCms. Alkacon OCEE fügt Funktionen zu OpenCms hinzu, die für den Betrieb von OpenCms in mittelständigen oder großen Unternehmen benötigt werden und für die Datenkonsistenz, Sicherheit und Ausfallsicherung von großer Bedeutung sind.</p>
<p>Alkacon OCEE für OpenCms version 7 verfügt über die gleichen Funktionen wir die Version für OpenCms 6. Die neue Version wird weden der Verbesserungen und Änderungen in der Datenbankstruktur von OpenCms 7 benötigt.</p>
<p>Kunden von Alkacon, die ein gültiges OCEE Update Abonnement erworben haben, erhalten die neue OCEE Version kostenlos. Bitte verwenden Sie in diesem Fall das Alkacon <a href="%(link0)" target="_self">Kontaktformular</a>, oder senden Sie eine Email an die reguläre Supportaddresse von Alkacon.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OCEE für OpenCms version 7 ist ab sofort verfügbar von Alkacon Software.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, OCEE, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE for OpenCms 7 now available]]></Title>
    <Date>1187679600000</Date>
    <Preface><![CDATA[After several weeks of testing, Alkacon OCEE for OpenCms 7 is now available. Alkacon customers with a valid OCEE update subscription can request the new OCEE version free of charge.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/contact/index.html]]></target>
            <uuid>7100f6f9-308a-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>After several weeks of additional testing, Alkacon OCEE for OpenCms version 7 is now available.</p> <p>The Alkacon OpenCms Enterprise Extensions (also called OCEE) are a commercial  extension for OpenCms. Alkacon OCEE adds features to OpenCms that are often  required for running OpenCms in a medium or large Enterprise, where data  consistency, security and fail over are highly important.</p> <p>Alkacon OCEE for OpenCms version 7 has the same great features as the version for OpenCms 6. The new version is required because of the improvements and additions in the database structure of OpenCms 7.</p> <p>Alkacon customers which have purchased a valid OCEE update subscription from Alkacon can request the new OCEE version free of charge. Please use the Alkacon <a href="%(link0)" target="_self">contact form</a>, or send an email to the regular Alkacon support address.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OCEE for OpenCms version 7 is now available from Alkacon Software.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, OCEE, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
