<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms nominated as best Open Source CMS!]]></Title>
    <Date>1189418400000</Date>
    <Preface><![CDATA[OpenCms has been nominated as one of the final systems in this years edition of the Packt Publishing award for the best open source CMS. 
[Update October 31, 2007]: Unfortunately OpenCms did not win the Award. Anyway, we believe that even being nominated is a big success already.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/article/best-other-open-source-cms-award-final-opencms]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms has been nominated as one of the finalists in this years edition of <a target="_blank" href="%(link0)">Packt Publishings</a> annual award to find the best open source Content Management System.</p>
<p>Voting for the winner of the Open Source CMS Award 2007 continues until October 26. The final winner is selected from the public votes and from the votes of an independent panel of judges.</p>
<p><strong>Many thanks to everyone who has nominated OpenCms!</strong></p>
<p>Now it's time to vote for the winner.</p>
<h2>Vote for OpenCms now!</h2>
<p>OpenCms has been nominated in the "Best Other Open Source CMS" category of the award. Please cast your vote for OpenCms as the winner of this category.</p>
<h2>It is your vote that counts!</h2>
<p>Help us to further establish OpenCms as the leading Open Source CMS solutions in Java. Every OpenCms user will benefit if we get more public recognition, and this award may certainly help!</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/vote-now-07.gif]]></target>
            <uuid>05dab10d-3c3a-11dc-b4ef-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Vote for OpenCms in the Open Source CMS Award 2007]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p><strong>Update - October 31, 2007:</strong></p>
<p>Unfortunately OpenCms did not win the Award, which goes to a C# based system. Anyway, we believe that even being nominated is a big success already.</p>
<p>Work on OpenCms will continue, and we will see what next years edition of the award (if there is any) brings.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Vote for OpenCms in the Open Source CMS Award 2007, help promote OpenCms.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Packt, Open Source, Competition, Nomination, Award, Vote]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1189418400000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
