<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Erweiterter Datenbanksupport für OpenCms 7]]></Title>
    <Date>1189001280000</Date>
    <Preface><![CDATA[Alkacon Software bietet ab sofort erweiterten professionellen Support und OCEE Module für OpenCms 7 mit PostgreSQL und MS SQL Server an.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Mit der anstehenden Veröffentlichung von OpenCms 7.0.2 bietet Alkacon Software nun auch erweiterten professionellen Support für die Datenbanken PostgeSQL und MS SQL Server an.</p> <p>Alexander Kandzior, Geschäftsführer von Alkacon Software:</p> <blockquote> <p><em>Ich freue mich bekannt geben zu können, dass wir ab sofort alle unsere professionellen Dienstleistungen und Produkte auch Kunden anbieten können, die PostgeSQL und MS SQL Server verwenden.</em></p> <p><em>Unser anfrageabhängiger OpenCms Support, ebenso wie unser Premium Support, ist nun für diese Datenbanken verfügbar. Außerdem unterstützt die neueste Version unserer OpenCms Enterprise Extensions (OCEE) jetzt ebenfalls PostgreSQL und MS SQL Server.</em></p> <p><em>Es ist großartig zu sehen, wie OpenCms in immer mehr Umgebungen eingesetzt wird. Wir werden unsere professionellen OpenCms Dienstleistungen und Produkte in der Zukunft weiter nach den Wünschen unserer Kunden ausbauen.</em></p> </blockquote> <p>Die folgenden Datenbanken werden unterstützt:</p> <ul>     <li>PostgreSQL ab Version 8.x</li>     <li>MS SQL Server 2000 and 2005</li> </ul> <p>Der erweiterte OpenCms Support und die OCEE Produkte von Alkacon Software für diese Datenbanken setzt OpenCms 7.0.2 oder neuer voraus.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms 7.0.2 wird am 12. September 2007 veröffentlicht.</p> <p>Bitte folgen Sie den Links unten für weitere Informationen zu den professionellen OpenCms Dienstleistungen und Produkten von Alkacon Software:</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon bietet ab sofort erweiterten Support für OpenCms mit PostgreSQL und MS SQL Server.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, PostgreSQL, MS SQL Server, Support, OCEE, Incident, Erweitert, Datenbank]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Extended database support for OpenCms 7]]></Title>
    <Date>1189001280000</Date>
    <Preface><![CDATA[Alkacon Software now offers extended OpenCms 7 professional support and OCEE modules for PostgreSQL and MS SQL Server. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>With the upcoming release of OpenCms 7.0.2, Alkacon Software now offers extended professional support for the databases PostgreSQL and MS SQL Server.</p> <p>Alexander Kandzior, CEO of Alkacon Software:</p> <blockquote><p><em>I am happy to announce that we can now offer the full range of our OpenCms professional services and products to customers using PostgreSQL or MS SQL Server.  </em></p><p><em>Our standard OpenCms incident support, as well as our premium support, is now available for these databases. Moreover, we have also added support for PostgreSQL and MS SQL Server to the latest version of our OpenCms Enterprise Extension (OCEE) software.   </em></p><p><em>It’s great to see increased adoption of OpenCms with other databases and platforms. We will continue to expand our professional OpenCms services and products in the future based on customer demand.  </em></p></blockquote>    <p>The following database versions are supported:</p> <ul>     <li>PostgreSQL from version 8.x</li>     <li>MS SQL Server 2000 and 2005</li> </ul> <p>The extended support services and OCEE products from Alkacon Software for these databases require OpenCms 7.0.2 or newer.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms 7.0.2 will be available September 12, 2007.</p><p>Please check the links below for more information about the professional OpenCms services and products from Alkacon Software:</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon now offers extended OpenCms 7 support for PostgreSQL and MS SQL Server.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, PostgreSQL, MS SQL Server, Support, OCEE, Incident, Extension]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
