<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 7.0.2 Release Notes]]></Title>
    <Date>1189598400000</Date>
    <Preface><![CDATA[The OpenCms 7.0.2 release notes contain detailed information about the new features in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 7.0.2. OpenCms 7.0.2 contains some new features and improvements compared to version 7.0.1. Moreover, a number of issues that persisted in the 7.0.1 release have been fixed.</p>
<p>OpenCms 7 is a major upgrade, and it vastly expands the features of OpenCms 6.</p>
<h2>General Features of the OpenCms 7 release</h2>
<ul>
    <li>An update Wizard for OpenCms 6 installations on MySQL, Oracle and PostgeSQL is available.</li>
    <li>Support for the PostgreSQL and MS SQL Server databases now included.</li>
    <li>The internal link management has been greatly improved.</li>
    <li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>
    <li>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</li>
    <li>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms resources.</li>
    <li>Native support for WebDAV access to the OpenCms VFS has been added.</li>
    <li>Publishing of resources is now done using a queue, so a user can continue to work after publishing has started.</li>
    <li>The concept of "Organization Units" (OUs) has been added to the internal user management.</li>
    <li>System permissions are now based on a complete new set of "Roles".</li>
    <li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>A "switch user" (su) function for Administrators in the OpenCms Workplace is now available.</li>
    <li>Many usability improvements for the OpenCms Workplace have been made, especially concerning the handling of other users locks.</li>
    <li>Many dialogs in the OpenCms Workplace are more responsive because of the use of Ajax technologies.</li>
    <li>The context menus in the Workplace are now cascading and can be configured individually based on the users permissions.</li>
    <li>A new "Undelete" function is available on the context menu to restore deleted resources, including complete deleted subtrees.</li>
    <li>The full text search has been greatly improved so that individual resource properties or fields from XML content can be searched directly.</li>
    <li>A "time warp" feature in the Workplace now allows users to view resources with date expired / date released settings.</li>
    <li>Auto correction for structured XML contents now allows changes to the XML schema of existing resources.</li>
    <li>A configurable search tool is now available for content managers in the Workplace.</li>
    <li>A "permalink" handler for resources is available for external references in case a resource is moved or renamed.</li>
    <li>Link management support has been added in editors for standard HTML tags 'area', 'object' &amp; 'embed'.</li>
    <li>The core database structure has been optimized.</li>
    <li>JSP 2.0 and Servlet 2.4 are now used by default.</li>
</ul>
<h2>New Features in OpenCms 7.0.2</h2>
<ul>
    <li>An update wizard for PostgreSQL is now available.</li>
    <li>The notification popup that appears after a publish job can now be switched off in the user preferences.</li>
    <li>Added JSP EL ${cms:...} functions that allow convenient access to the OpenCms VFS.</li>
    <li>Added &lt;cms:contentaccess&gt; tag for easy access to XML contents with the JSP EL inside a &lt;cms:contentload&gt; block.</li>
    <li>Added new option "searchsettings" to XML content handler, which can be used to reduce the visibility of fields in the search "content".</li>
    <li>Added possibility to limit searches to time ranges of the creation and last modification date of resources.</li>
    <li>Added support for multiple mappings of the same value to different properties to the default XML content handler.</li>
    <li>The XML content editor will now copy a locale from a configured list of defaults in case a selected locale does not exist.</li>
    <li>Added a new CmsDateResourceCollector that uses a configurable list of dates to collect the resources.</li>
    <li>Added a new column to the publish report list that indicates if a publish job finished with errors or warnings.</li>
    <li>Added new database tool to remove "hanging" publish locks.</li>
</ul>
<h2>Fixed issues and other changes in OpenCms 7.0.2</h2>
<ul>
    <li>Fixed issue #1291: Now using the correct line break format for UNIX in cmsshell.sh.</li>
    <li>Fixed issue #1460: Parent locks are now correctly filtered by the CmsLockFilter.</li>
    <li>Fixed issue #1486: Added missing CmsPrincipal comparator.</li>
    <li>Fixed issue #1499: Extended context menu rules to prevent direct publishing of files in unpublished folders.</li>
    <li>Fixed issue #1503: CmsScheduleManager now uses the current time as the request time.</li>
    <li>Fixed issue #1508: Publish notification popup can now be switched off in the user preferences dialog (errors are always shown).</li>
    <li>Fixed issue #1513: Trying to disable an indirect assigned role now displays an error message.</li>
    <li>Fixed issue #1516: Resource type array has been replaced by a self-expanding HashMap.</li>
    <li>Fixed issue #1519: Roots field in search index now always uses Whitespace analyzer (search index rebuild is required).</li>
    <li>Fixed issue #1521: The change navigation dialog was having problems with special characters like '+'.</li>
    <li>Fixed issue #1522: Problems with temporary file creation when the user does not have write permissions on the parent folder.</li>
    <li>Fixed issue #1523: Problems with implementation of the deprecated version of the CmsObject#importUser method.</li>
    <li>Fixed issue with validation errors using the display widget on boolean values.</li>
    <li>Fixed several spelling issues in the German locale.</li>
    <li>Fixed issue with "new" siblings causing content changes in "old" siblings not to be published.</li>
    <li>Fixed issue with handling of DB statements and result sets in update wizard.</li>
    <li>Fixed issue with A_CmlXmlDocument where the xpath for #getValues(...) was not correctly accessing the bookmarks.</li>
    <li>Fixed issue with workplace encoding being system default while workplace folder was set to UTF-8.</li>
    <li>Fixed issue with no Exception being thrown in case a &lt;cms:include&gt; of a non-existing file is done.</li>
    <li>Fixed issue with deleting groups.</li>
    <li>Fixed issue with moving a folder with deleted subresources.</li>
    <li>Fixed issue with the 'publish with related resources' feature.</li>
    <li>Fixed issue with the 'before publish' event.</li>
    <li>Fixed issue with siblings in the history.</li>
    <li>Fixed issue with anchor links in XML Pages.</li>
    <li>Fixed issue with imported overwriting files not being correctly published.</li>
    <li>Fixed issue with workplace AJAX requests not working in IE if ActiveX is disabled.</li>
    <li>Fixed issue with context menu sometimes appearing at the wrong position in the workplace explorer.</li>
    <li>Fixed issue with aging request time in combination with date released in CmsObject instances stored by core classes.</li>
    <li>Fixed issue with creating a new resource in a locked folder.</li>
    <li>Fixed issue with validating links during publishing while deleting several linked resources.</li>
    <li>Fixed issue with FCKeditor saving HTML contents in one long line.</li>
    <li>Changed location of libaries in CVS for better handling of runtime and compile-time dependencies</li>
    <li>Refactored setup/update wizard to a separate opencms-setup.jar</li>
    <li>Updated Lucene to version 2.2.0</li>
    <li>Updated jug.jar used by CmsUUID to version 2.0.0 (from doomdark.org to safehaus.org version).</li>
</ul>
<h2>Backward compatibility</h2>
<p>OpenCms 7.0.2 is fully backward compatible to version 7.0.0 and 7.0.1. We recommend everyone who uses an earlier version of OpenCms to update to the 7.0.2 release.</p>
<p>OpenCms 7 is largely backward compatible with version 6. Most templates and other OpenCms developed code from version 6 should work "out of the box" with version 7. A number of API methods from OpenCms 6 have been marked as "deprecated". In case you have made extensive use of OpenCms internal classes and APIs from version 6, there may be some changes required in your code. However, in most cases this should not take longer than a couple of hours.</p>
<p>Please note that since OpenCms 7 uses JSP 2.0 and Servlet 2.4 standards by default, you may have to change that back to JSP 1.2 / Servlet 2.3 so your existing OpenCms JSP templates run without change. You must edit the "web-app" node in the OpenCms web.xml file to do that.</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 7 has been written and tested using Java 1.5 / 1.6. It works well with Java 1.4 using the optional "Java 1.4 compatibility package". We have tested only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 5.5, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA and Websphere. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 4.0.x, MySQL 4.1, MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x and MS SQL Server 2000 / 2003. The automatic update wizard for OpenCms 7 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and CVS build tags</h2>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS tag numbers for all OpenCms 7 final releases are "build_7_0_x", so the 7.0.2 release is tagged "build_7_0_2". Development of maintenance releases (like 7.0.2) is currently done in CVS HEAD.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a target="_blank" href="%(link0)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p>Please use our Bugzilla to report bugs in this release: <a href="%(link1)" target="_blank">http://bugzilla.opencms.org/<br />
</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 7.0.2 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 7.0.2, the popular Open Source CMS version 7.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
