<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms auf der 'Online Information' Konferenz 2007]]></Title>
    <Date>1193665140000</Date>
    <Preface><![CDATA[Alexander Kandzior, Geschäftsführer von Alkacon Software und führender OpenCms Kernentwickler, diskutiert über die wachsende kommerzielle Bedeutung von Open Source Content Management Systemen mit Schwerpunkt auf OpenCms auf der 'Online Information' Konferenz 2007 in London.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/kontakt/index.html]]></target>
            <uuid>96d3de5e-3091-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alexander Kandzior, Geschäftsführer von Alkacon Software und führender OpenCms Kernentwickler, diskutiert über die wachsende kommerzielle Bedeutung von Open Source Content Management Systemen mit Schwerpunkt auf OpenCms auf der 'Online Information' Konferenz 2007 in London.</p>
<p>Die jährlich statt findende Online Information Konferenz ist einer der bekanntesten internationalen Events der Informationsbranche. Die Konferenz zieht jedes Jahr über 800 Besucher aus 45 Ländern aller Kontinente an, welche sich zum gemeinsamen Meinungs- und Wissensaustausch treffen.</p>
<p>Die Konferenz findet dieses Jahr vom 4. bis zum 6. Dezember 2007 in London (England) auf dem Gelände der Olympia Grand Hall statt.</p>
<p>Alexander Kandzior nimmt an der Diskussionsrunde <em>"The rise of open source software and the death of proprietary CM"</em> teil, welche während des dritten Tages der Konferenz am 6. Dezember durchgeführt wird.</p>
<p>Wenn Sie Alexander Kandzior in London währed der Konferenz treffen wollen, so benutzen Sie bitte das <a href="%(link0)">Alkacon Kontaktformular</a>, um einen Termin zu vereinbaren.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_2007.gif]]></target>
            <uuid>2ff58c6b-8627-11dc-bdd1-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Das Logo der Online Information Konferenz 2007]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Die Webseite der Online Information Konferenz 2007]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.online-information.co.uk/]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alexander Kandzior spricht über OpenCms auf der Online Information Konferenz 2007]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Online Information 2007, Konferenz, EXPO, Messe, Treffen, Ausstellung]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms at the Online Information Conference 2007]]></Title>
    <Date>1193665140000</Date>
    <Preface><![CDATA[Alexander Kandzior, CEO of Alkacon Software and leading OpenCms core developer, will discuss the rise of open source software and the death of proprietary CM with focus on OpenCms at the Online Information Conference 2007 in London, UK.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/contact/index.html]]></target>
            <uuid>7100f6f9-308a-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alexander Kandzior, CEO of Alkacon Software and leading OpenCms core developer, will discuss the rise of open source software and the death of proprietary CM with focus on OpenCms at the Online Information Conference 2007 in London, UK.</p>
<p>The Online Information Conference is the world's no. 1 conference for the information industry. The  conference attracts over 800 delegates from over 45 countries across all continents, providing a forum dedicated to learning, debate, professional development, technology reviews and assessments, expert discussion as well as case-study presentations and the sharing of research results and opinion.</p>
<p>The 2007 conference will be held from December 4 to December 6, 2007 in located in Olympia Grand Hall, London, UK.</p>
<p>Alexander Kandzior will take part in the discussion panel "The rise of open source software and the death of proprietary CM" at day 3 (December 6, 2007) of the conference.</p>
<p>In case you want to use to opportunity to meet with Alexander Kandzior in London while he stays  at the conference, please use the <a target="_self" href="%(link0)">Alkacon contact form</a> to make an appointment.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_2007.gif]]></target>
            <uuid>2ff58c6b-8627-11dc-bdd1-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[The Online Information Conference 2007 Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[The Online Information Conference 2007 website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.online-information.co.uk/]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alexander Kandzior will discuss OpenCms at Online Information Conference 2007]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Online Information 2007, Conference, EXPO, Meeting, Fair]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
