<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Benutzergruppen auf Xing und Facebook]]></Title>
    <Date>1195219260000</Date>
    <Preface><![CDATA[OpenCms Benutzergruppen sind jetzt auf Xing und Facebook eingerichtet. Diese sind offen für alle OpenCms Benutzer, Entwickler, Solution Provider, Kunden und alle anderen, die sich für OpenCms interessieren.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.xing.com/net/opencmsusergroup/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.xing.com]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.facebook.com/group.php]]></target>
            <query><![CDATA[gid=7264892441]]></query>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.facebook.com]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Offizielle OpenCms Benutzergruppen sind jetzt auf Xing und Facebook eingerichtet.</p>
<p>Diese Gruppen sind offen für alle OpenCms Benutzer, Entwickler, Solution Provider, Kunden und alle anderen, die sich für OpenCms interessieren. Die Gruppen bieten der OpenCms Community einer Plattform um Gedanken, Ideen und Informationen auszutauschen.</p>
<p>Die <strong><a target="_blank" href="%(link0)">OpenCms User Group auf Xing</a></strong> ist für die Deutsch sprechende OpenCms Community.</p>
<p class="sml">Mit Xing (<a target="_blank" href="%(link1)">http://www.xing.com</a>) wird das berufliche und geschäftliche Netzwerk zu einer aktiv genutzten Ressource, denn Xing ist weit mehr als ein Verzeichnis von Geschäftskontakten. Dank der erweiterten Funktionen für Kontakt-Suche und -Management entdecken Mitglieder auf der Plattform Geschäfts- und Fachleute, Chancen sowie auf sie zugeschnittene Angebote.</p>
<p>Die <strong><a target="_blank" href="%(link2)">OpenCms User Group auf Facebook</a></strong> ist für die internationale, Englisch sprechende  OpenCms community.</p>
<p class="sml">Facebook (<a target="_blank" href="%(link3)">http://www.facebook.com</a>) ist ein soziales Netzwerk das Mitgliedern hilft, effizienter mir Ihren Freunden, Familien und Kollegen zu kommunizieren. Facebook ist Teil des täglichen Lebens von Millionen von Mitgliedern, von denen mehr als die Hälfte die Plattform täglich nutzen.</p>
<p>Wie bei sozialen Netzwerken üblich ist eine Anmeldung am Netzwerk notwendig, um den OpenCms Benutzergruppen beizutreten. Die Anmeldung bei Xing und Facebook ist kostenfrei.</p>
<p><strong>Hinweis: </strong>Die neuen OpenCms Benutzergruppen sollen primär keinen technischen Support für OpenCms bieten, sondern haben den Schwerpunkt auf Kontaktpflege und Anbahnung von Geschäftsbeziehnungen. Der beste Ort, um technische Unterstützung zu OpenCms zu erhalten, ist weiterhin die <a target="_self" href="%(link4)">opencms-dev</a> Mailing Liste.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/facebook_xing.jpg]]></target>
            <uuid>059e8fd8-a069-11dc-98c5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Facebook and Xing Logos]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[OpenCms User Group auf Xing [Deutsch]]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.xing.com/net/opencmsusergroup/]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Offizielle OpenCms Benutzergruppen wurden auf Xing und Facebook gegründet.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, CMS, Facebook, Xing, Social Network, Community, Content Management]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms User Groups on Facebook and Xing]]></Title>
    <Date>1195219260000</Date>
    <Preface><![CDATA[OpenCms User Groups have been founded on Facebook and Xing. These groups are open for users, developers, solution providers, customers and all people otherwise interested in OpenCms. They are places to exchange thoughts, ideas and information regarding OpenCms in a social network. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.facebook.com/group.php]]></target>
            <query><![CDATA[gid=7264892441]]></query>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.facebook.com]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.xing.com/net/opencmsusergroup/]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.xing.com]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Official OpenCms User Groups have been founded on Facebook and Xing.</p>
<p>These groups are open for users, developers, solution providers, customers and all people otherwise interested in OpenCms. They are places to exchange thoughts, ideas and information regarding OpenCms in a social network.</p>
<p>The <strong><a target="_blank" href="%(link0)">OpenCms User Group on Facebook</a></strong> is for the international, English speaking community.</p>
<p class="sml">Facebook (<a target="_blank" href="%(link1)">http://www.facebook.com</a>) is a social utility that helps people communicate more efficiently with their friends, family and coworkers.  Anyone can sign up for Facebook and interact with the people they know in a trusted environment. Facebook is a part of millions of people&rsquo;s lives and half of the users return daily.</p>
<p>The <strong><a target="_blank" href="%(link2)">OpenCms User Group on Xing</a></strong> is for the German speaking community.</p>
<p class="sml">Xing (<a target="_blank" href="%(link3)">http://www.xing.com</a>) makes your professional network an active part of your life.  Far more than a directory of business contacts, Xing enables its members to discover professional people,  opportunities and privileges through its unique discovery capability and advanced contact management tools. XING is especially popular in German speaking countries.</p>
<p>As usual with social networks, you need to have an account in order to join the OpenCms user groups. Creating an account is free of charge for both Facebook and Xing.</p>
<p><strong>Please note:</strong> These new groups are not intended to be technical OpenCms support groups, but will rather have a people and business oriented focus. The best platform of OpenCms technical support still is the <a href="%(link4)" target="_self">opencms-dev mailing list</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/facebook_xing.jpg]]></target>
            <uuid>059e8fd8-a069-11dc-98c5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Facebook and Xing logos]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[OpenCms User Group on Facebook [English speaking]]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.facebook.com/group.php]]></target>
            <query><![CDATA[gid=7264892441]]></query>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Official OpenCms User Groups have been founded on Facebook and Xing]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, CMS, Facebook, Xing, Social Network, Community, Content Management]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
