<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.0.3 verfügbar]]></Title>
    <Date>1194447600000</Date>
    <Preface><![CDATA[OpenCms Version 7.0.3 ist ab sofort verfügbar. Es wurden hauptsächlich Fehler der Version 7.0.2 behoben. Weiterhin wurden verschiedene neue Funktionen hinzugefügt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/071107_v703_releasenotes.html]]></target>
            <uuid>88637cce-8c6c-11dc-8d46-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.3 von OpenCms ist ab sofort verfügbar und kann von der <a href="%(link0)" target="_self">OpenCms Website</a> herunter geladen werden.</p>
<p>Mit OpenCms 7.0.3 wurden hauptsächlich Fehler der Version 7.0.2 behoben. Weiterhin wurden verschiedene neue Funktionen hinzugefügt.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch die internationale Community von OpenCms Entwicklern.</p>
<p>OpenCms 7 bietet zahlreiche funktionale und technische Verbesserungen gegenüber älteren Versionen.</p>
<h2>Funktionen von OpenCms 7</h2>
<ul>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2 sowie HSQL.</li>
    <li>Durch das stark verbesserte Linkmanagement auf Basis der neuen "Content Relationship Engine" (CRE) ist es noch einfacher, die Korrektheit aller Links innerhalb einer Website zu gewährleisten. Auch das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist nun problemlos möglich.</li>
    <li>Die neue WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme. So können zum Beispiel Entwickler aus einem Werkzeug wie Eclipse JSP Seiten unmittelbar in OpenCms bearbeiten.</li>
    <li>Weiterhin wurde die Benutzerverwaltung in OpenCms 7 stark erweitert. Benutzer und Gruppen können nun dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden, die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Durch die Integration von Ajax-Technologie in verschiedene Bereiche der OpenCms Oberfläche wurde diese reaktionsschneller und benutzerfreundlicher.</li>
</ul>
<h2>Verbesserungen in OpenCms 7.0.3</h2>
<ul>
    <li>Datenbankunterstützung von DB2</li>
    <li>Datenbankunterstützung von HSQL, eingereicht von Sebastian Himberger</li>
    <li>Verbesserter HTML Import mit Standardeinstellungen und HTTP Upload von Zip-Dateien.</li>
    <li>… und einiges mehr.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a target="_self" href="%(link1)">englischen Release Notes</a> einsehen.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a target="_self" href="%(link2)">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a target="_self" href="%(link3)">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a target="_self" href="%(link4)">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a target="_self" href="%(link5)">Alkacon Software – Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms in der Version 7.0.3 ist nun verfügbar.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.0.3 available]]></Title>
    <Date>1194447600000</Date>
    <Preface><![CDATA[OpenCms version 7.0.3 is now available for download. With this version, a number of issues that persisted in the 7.0.2 release have been fixed. Some new feature have been added as well.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/071107_v703_releasenotes.html]]></target>
            <uuid>88637cce-8c6c-11dc-8d46-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/070910_award.html]]></target>
            <uuid>a4e7ae6a-6071-11dc-bdd1-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.3 of OpenCms is now available for <a href="%(link0)" target="_self">download</a>.</p>
<p>With OpenCms 7.0.3, a number of issues that persisted in the 7.0.2 release have been fixed. Some new feature have been added as well.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. The new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 7 contains many enhancements and improvements compared to older OpenCms versions.</p>
<h2>General Features of OpenCms 7</h2>
<ul>
    <li>Support for Oracle, MySQL, PostgreSQL, MS SQL Server, DB2 and HSQL databases included.</li>
    <li>The internal link management has been greatly improved.</li>
    <li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>
    <li>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</li>
    <li>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms resources.</li>
    <li>Native support for WebDAV access to the OpenCms VFS has been added.</li>
    <li>The concept of "Organization Units" (OUs) has been added to the internal user management.</li>
    <li>System permissions are now based on a complete new set of "Roles".</li>
    <li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>A "switch user" (su) function for Administrators in the OpenCms Workplace is now available.</li>
    <li>Because of the use of Ajax technologies, the OpenCms Workplace is more responsive.</li>
    <li>A new "Undelete" function is available on the context menu to restore deleted resources, including complete deleted subtrees.</li>
    <li>A "time warp" feature in the Workplace now allows users to view resources with date expired / date released settings.</li>
</ul>
<h2>New Features in OpenCms 7.0.3</h2>
<ul>
    <li>Added database support for DB2.</li>
    <li>Added database support for HSQL, contributed by Sebastian Himberger.</li>
    <li>The extended HTML import is now available in the 'new' dialog to import a site structure to the current folder.</li>
    <li>The suffix added to new resources is now taken from the first configured default file instead of always being ".html".</li>
</ul>
<p>Please check out the  <a href="%(link1)">release notes</a> for further details.</p>
<p>OpenCms 7 is highly backward compatible with version 6. An easy to use update wizard for OpenCms Version 6, 7.0.0, 7.0.1 and 7.0.2 installations for MySQL, Oracle and PostgreSQL is available.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 7 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official '  <a href="%(link2)">OpenCms Solution Provider</a>' on the OpenCms website. A steadily growing list of  <a href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>Recently, OpenCms was nominated as one of the finalists for the <a target="_self" href="%(link4)">Open Source CMS Award</a>. This also displays the widespread use of OpenCms today.</p>
<p>OpenCms is an enterprise - ready content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a href="%(link5)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a href="%(link6)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.0.3 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
