<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms bei Ohloh]]></Title>
    <Date>1196848800000</Date>
    <Preface><![CDATA[Ohloh ist ein Projekt zur Katalogisierung von Softwareprojekten im Bereich der Open Source Software und kombiniert von Anwendern eingegebene Informationen mit einer 
Quellcode-Analyse zur Feststellung der Entwicklungsaktivitäten. Verweisen Sie bei Ohloh auf OpenCms und helfen Sie uns, noch bekannter zu werden.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.ohloh.net/projects/4368]]></target>
            <query><![CDATA[p=OpenCms]]></query>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.ohloh.net/projects/4368]]></target>
            <query><![CDATA[p=OpenCms]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Ohloh (<a href="%(link0)" target="_self">http://ohloh.net</a>) ist ein Netzwerk,&nbsp;in dem die Teilnehmer anhand der Software verbunden werden, die sie nutzen und entwickeln. Als neuartiger Software-Katalog verbindet Ohloh dabei die von Anwendern eingegebenen Informationen mit einer Quellcode-Analyse zur Feststellung der aktuellen Entwicklungsaktivitäten in den Projekten.</p>
<p>Mit Ohloh können daher die Entwicklungsaktivitäten bei OpenCms und anderen bekannten Open Source-Projekten mitverfolgt werden.</p>
<p><a href="%(link1)" target="_self">Hier gelangen Sie zur OpenCms Projektseite in Ohloh.</a></p>
<p><strong>Wie Sie uns unterstützen können:</strong></p>
<h2>&quot;Stacken&quot; Sie OpenCms</h2>
<p>Machen Sie OpenCms noch bekannter, in dem Sie sich bei Ohloh registrieren und OpenCms zur Liste der von Ihnen &quot;gestackten&quot; Software hinzufügen.</p>
<h2>Bewerten Sie&nbsp;OpenCms</h2>
<p>Ohloh stellt ein Bewertungssystem bereit, mit dem Nutzer den Projekten 1 bis 5 Sterne verleihen&nbsp;können.&nbsp;Es wäre großartig, wenn OpenCms hier durch Ihre Unterstützung seine Bewertung weiter verbessern könnte.</p>
<h2>Schreiben Sie eine Besprechung zu OpenCms</h2>
<p>Ohloh ermöglicht es Nutzern, Besprechungen zur Projektseite hinzuzufügen. Solche Besprechungen müssen nicht lang sein, einige Zeilen genügen. Einige positive Besprechungen für OpenCms wären auf jeden Fall eine große Hilfe.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/ohloh_logo_big.gif]]></target>
            <uuid>8d641e00-a31d-11dc-98c5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms in Ohloh]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Besuchen Sie die OpenCms-Projektseite in Ohloh]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.ohloh.net/projects/4368]]></target>
            <query><![CDATA[p=OpenCms]]></query>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Discover OpenCms on Ohloh an open source network.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, CMS, ohloh, Social Network, Community, Content Management]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms on Ohloh]]></Title>
    <Date>1196848800000</Date>
    <Preface><![CDATA[Ohloh is a great new Open Source software directory. Ohloh is combining community driven content with a unique source code crawler that monitors development activity. Stack OpenCms on Ohloh and help us to become more popular.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.ohloh.net/projects/4368]]></target>
            <query><![CDATA[p=OpenCms]]></query>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.ohloh.net/projects/4368]]></target>
            <query><![CDATA[p=OpenCms]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Ohloh (<a target="_self" href="%(link0)">http://ohloh.net</a>) is an open source network that connects people through the software they create and use. As a new kind of software directory, Ohloh is combining community-driven content with a unique source code crawler that monitors up-to-date development activity.</p>
<p>With Ohloh, you can easily monitor development activity on OpenCms and other popular Open Source projects.</p>
<p><a target="_self" href="%(link1)">Click here to open the OpenCms project page on Ohloh.</a></p>
<p><strong>How you can help:</strong></p>
<h2>Stack OpenCms</h2>
<p>Help us to make OpenCms even more popular. Register with Ohloh and add OpenCms to your software stack.</p>
<h2>Rate OpenCms</h2>
<p>Ohloh features a user rating system, where you can give a project 1 to 5 stars. It would be great if OpenCms would get some more positive ratings.</p>
<h2>Review OpenCms</h2>
<p>Ohloh allows user reviews to be added to the project page. There review don't need to be very long, only a few lines. It would be great if we got some positive revies on Ohloh.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/ohloh_logo_big.gif]]></target>
            <uuid>8d641e00-a31d-11dc-98c5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms on Ohloh]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Discover OpenCms on Ohloh]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.ohloh.net/projects/4368]]></target>
            <query><![CDATA[p=OpenCms]]></query>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Discover OpenCms on Ohloh an open source network.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, CMS, ohloh, Social Network, Community, Content Management]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
