<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software präsentiert OpenCms 7 auf der CeBIT]]></Title>
    <Date>1200583800000</Date>
    <Preface><![CDATA[Alkacon Software stellt auf der CeBIT vom 4. - 9. März 2008 in Hannover die Version 7 von OpenCms vor. Auf dem eigenen Stand F59/3 in Halle 5 wird Alkacon interessierten Messebesuchern die Funktionen der aktuellen OpenCms Version 7 demonstrieren. Weiterhin wird OpenCms 7 von Alkacon auf der CeBIT in einem Vortrag im Rahmen des LinuxForum präsentiert.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software stellt auf der CeBIT vom 4. - 9. März 2008 in Hannover die Version 7 von OpenCms vor.</p>
<p>Auf einem eigenen Messestand im Rahmen des LinuxPark - Open Source Business Solutions (CeBIT Halle 5) wird Alkacon interessierten Messebesuchern die Funktionen der aktuellen OpenCms Version demonstrieren. Weiterhin wird OpenCms 7 von Alkacon auf der CeBIT in einem Vortrag im Rahmen des LinuxForum präsentiert.</p>
<p>Neben der OpenCms Standardversion wird Alkacon auch das selbstentwickelte, freie &quot;OpenCms Additional Module Package&quot; (OAMP), sowie die &quot;Alkacon OpenCms Enterprise Extensions&quot; (OCEE) auf der CeBIT präsentieren.</p>
<p>Alexander Kandzior, leitender OpenCms Entwickler und Geschäftsführer von Alkacon Software:<em> Die Präsentation von OpenCms auf einer großen Messe wie der CeBIT ist ein wichtiger Schritt für die OpenCms Community und uns als Anbieter. OpenCms hat in der Version 7 einen hohen Reifegrad erreicht und kann gut mit teuren, lizenzkostenpflichtigen Systemen konkurrieren. Es ist daher wichtig, jetzt Präsenz auf der CeBIT und anderen großen Publikumsveranstaltungen zu zeigen. Hier können wir demonstrieren, dass OpenCms auch für anspruchsvolle Projekte und Kunden eine attraktive Möglichkeit zur Senkung von teuren Lizenzkosten darstellt.</em></p>
<p><strong>Besuchen Sie uns in der CeBIT Halle 5, Stand F59/3.</strong></p>
<p>Weitere Details über OpenCms auf der CeBIT 2008 werden in Kürze hier veröffentlicht.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/cebit.jpg]]></target>
            <uuid>6bae7d3d-c513-11dc-af92-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
      <Link>
        <Text><![CDATA[Zur Alkacon Homepage]]></Text>
        <URI>
          <link internal="true" type="WEAK">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software präsentiert OpenCms 7 auf der CeBIT vom 4. - 9. März auf der CeBIT in Halle 5 Standf F59/3 als Teil des LinuxPark.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, CeBIT, LinuxPark, LinuxForum, Open Source, Content, Management, OCEE]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software presents OpenCms on CeBIT]]></Title>
    <Date>1200583800000</Date>
    <Preface><![CDATA[Alkacon Software will present OpenCms 7 from March 4 to March 9, 2008 on CeBIT, the world's largest IT expo. In a special presentation area in Hall 5, stand F59/3 Alkacon will demonstrate the functionality of OpenCms 7 to interested expo visitors. There will also be a speech held by Alkacon about OpenCms 7 as part of the CeBIT LinuxForum conference.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software will present OpenCms 7 from March 4 to March 9 on CeBIT, the world's largest IT expo held in Hannover, Germany.</p>
<p>In a special presentation area which is part of the LinuxPark - Open Source Business Solutions (CeBIT Hall 5) Alkacon will demonstrate the functionality of OpenCms 7 to interested expo visitors. There will also be a speech held by Alkacon about OpenCms 7 as part of the CeBIT LinuxForum conference.</p>
<p>In Addition to the OpenCms standard distribution, Alkacon will also present on CeBIT the freely available &quot;OpenCms Additional Module Package&quot; (OAMP), as well as the &quot;Alkacon OpenCms Enterprise Extensions&quot; (OCEE).</p>
<p>Alexander Kandzior, leading OpenCms developer and CEO of Alkacon Software: <em>Presenting OpenCms on a large consumer IT expo as CeBIT is an important step for the OpenCms community as well as for Alkacon. OpenCms 7 is highly mature and can well compete against costly licensed &quot;closed source&quot; software. It is therefore important to show OpenCms on CeBIT and other large computer expos now. We can demonstrate this way that OpenCms has become an attractive solution to reduce IT license costs for the most demanding projects and customers.</em></p>
<p><strong>Visit us in CeBIT Hall 5 stand F59/3.</strong></p>
<p>Please stay tuned for further updates about OpenCms on CeBIT 2008.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/cebit.jpg]]></target>
            <uuid>6bae7d3d-c513-11dc-af92-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
      <Link>
        <Text><![CDATA[Go to the Alkacon Homepage]]></Text>
        <URI>
          <link internal="true" type="WEAK">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software will present OpenCms 7 from March 4 to March 9 on CeBIT in Hall 5 stand F59/3 as part of the LinuxPark.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, CeBIT, LinuxPark, LinuxForum, Open Source, Content, Management, OCEE]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
