<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Website jetzt auch in Deutsch verfügbar]]></Title>
    <Date>1202462400000</Date>
    <Preface><![CDATA[Die offizielle OpenCms Website opencms.org ist ab sofort auch in deutscher Sprache verfügbar.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Website <a target="_self" href="%(link0)">opencms.org</a> ist ab sofort auch in deutscher Sprache verfügbar.</p>
<p>Die vollständige Übersetzung wurde von <a target="_self" href="%(link1)">Alkacon Software</a> erstellt.</p>
<p>Alexander Kandzior, Geschäftsführer von Alkacon Software: <em>Für den großen deutschen Markt ist es zunehmend wichtig, auch eine deutsche Webseite mit Informationen zu OpenCms anzubieten. Professionelle Open Source Software, so wie OpenCms, gerät immer mehr in das Blickfeld der breiten Masse der Anwender. Mit einer deutschen Webseite machen wir es den deutschen Interessenten einfacher, sich über OpenCms umfassend direkt von der Quelle zu informieren. Weitere Sprachversionen werden folgen.<br />
</em></p>
<p>Die deutsche Webseite dient zusätzlich als Beispiel zur Verwendung der OpenCms-Features zur Unterstützung mehrsprachiger Inhalte. Die Lokalisierung der OpenCms Webseite erfolgte seitenweise unter Verwendung der in die OpenCms-Editoren integrierten Möglichkeiten zur Bearbeitung mehrsprachiger Inhalte, die eine leichte Übersetzung unterstützen. Da Bearbeitung, Speicherung und Darstellung mehrsprachiger Inhalte vom OpenCms-Kernsystem unmittelbar &quot;out-of-the-box&quot; bereitgestellt werden, waren hierzu keine zusätzlichen Erweiterungen des Systems notwendig.</p>
<p>Als Ergebnis können Besucher nun zwischen den verschiedenen Sprachvarianten hin-und herschalten, ohne dabei die aktuelle Position innerhalb der Webseite zu verlieren. Auch das Suchen und die Darstellung der Suchergebnisse erfolgt in der aktuellen Sprachvariante.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[https://www.opencms.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[Die offizielle OpenCms webseite]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Website opencms.org wurde in deutscher Sprache von Alkacon Software verfügbar gemacht.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Java, CMS, Aktuell, German English, Deutsch Englisch, Übersetzung, Open Source]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms website now available in German]]></Title>
    <Date>1202462400000</Date>
    <Preface><![CDATA[The official OpenCms website opencms.org is now also available in German.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>As an example of the multi-language capabilities of the OpenCms Web Content Management System, the opencms.org website is now available in both English and German.</p>
<p>The full translation has been provided by Alkacon Software.</p>
<p>Alexander Kandzior, CEO of Alkacon Software: <em>As professional open source software like OpenCms grows more popular, it becomes important to provide information about OpenCms also for the local language markets. With the German OpenCms website it's much easier for the German speaking community to gather information about OpenCms directly from the official source. Other language versions may follow in due course. </em></p>
<p>The localization was done page-by-page using the integrated multi-language features of the OpenCms editors supporting the easy translation of all the contents. Since editing, storing and rendering of contents available in various languages is supported by the OpenCms core system out-of-the-box, no further programming extensions of the system has been necessary in order to archive the availability of the additional language.</p>
<p>As a result, users are now able to switch back and forth between language variants of a page without loosing the current location in the website. Searching and display of search results in the current language is also supported.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[https://www.opencms.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[The official OpenCms website]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[The website www.opencms.org is now also available in German, provided by Alkacon Software.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Java, CMS, News, German English, Deutsch Englisch, Translation, Open Source]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
