<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2008 - Konferenz und Ausstellung]]></Title>
    <Date>1203375600000</Date>
    <Preface><![CDATA[Die OpenCms Days 2008 finden von Montag, 5. Mai bis Dienstag 6. Mai 2008 im Deutschen Sport und Olympia Museum in Köln statt.
Zum ersten Mal treffen sich OpenCms Anwender und Entwickler zu einer 2-tägigen Konferenz mit dazugehöriger Ausstellung.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die <a target="_self" href="%(link0)">OpenCms Days 2008</a> finden von Montag, 5. Mai bis Dienstag 6. Mai 2008 im Deutschen Sport und Olympia Museum in Köln statt.</p>
<p>Zum ersten Mal treffen sich OpenCms Anwender und Entwickler zu einer <strong>2-tägigen Konferenz mit dazugehöriger Ausstellung</strong>.</p>
<p>Tauschen Sie sich mit OpenCms Experten wie Kernentwicklern, erfahrenen Consultants, unabhängigen CMS Analysten, führenden Meinungsbildnern und anderen OpenCms Anwendern aus.</p>
<p><strong>Die OpenCms Days 2008 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler:</strong></p>
<ul>
    <li>Die Vortragsreihe für Anwender konzentriert sich auf OpenCms Beispielprojekte, Best Practices und typische Geschäftsprozesse mit OpenCms.</li>
    <li>Die technische Vortragsreihe richtet sich an Entwickler und bietet detaillierte, praxisnahe Präsentationen und Workshops zur OpenCms Programmierung.</li>
</ul>
<p>In der zur Konferenz gehörenden Ausstellung präsentieren Anbieter Ihre speziellen Branchen- und Technologielösungen für OpenCms.</p>
<p>Die OpenCms Days 2008 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2008]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die Vorträge der OpenCms Days 2008 werden durch eine Reihe namhafter internationaler Sprecher der OpenCms Community gehalten.</p>
<p><strong>Teilnahmegebühr:</strong></p>
<div>Frühbucher-Preis (bis&nbsp;zum 24. März 2008)<span>:&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <strong>175,- Euro</strong></span></div>
<p><span>Reguläre Teilnahmegebühr (ab dem 24. März 2008): <strong>200,- Euro</strong></span></p>
<p>Das vollständige Konferenz-Programm wird am 30. März 2008 auf der Website der Konferenz veröffentlicht.</p>
<p class="sml">Die OpenCms Days 2008 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die Förderung der Verbreitung von OpenCms und die Stärkung der OpenCms Community. Alkacon wird auf der Veranstaltung als &quot;Platinum Sponsor&quot; auftreten.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2008 finden von Montag, 5. Mai bis Dienstag 6. Mai 2008 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Java, CMS, News, German English, Deutsch Englisch, Translation, Conference, Expo OpenCms Days 2008 ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2008 - Conference and Expo]]></Title>
    <Date>1203375600000</Date>
    <Preface><![CDATA[OpenCms Days 2008 takes place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany at the "Sport and Olympia Museum".
For the first time, OpenCms users and developers gather for a 2 day conference and expo.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p><a href="%(link0)" target="_self">OpenCms Days 2008</a> takes place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany at the &quot;Sport and Olympia Museum&quot;.</p>
<p>For the first time, OpenCms users and developers gather for a <strong>2 day conference and expo</strong>. Meet and mingle with OpenCms experts such as core developers, experienced consultants, independent CMS analysts, executive decision makers and other OpenCms users.</p>
<p><strong>OpenCms Days 2008 conference will feature 2 parallel tracks with Business and Technical sessions:</strong></p>
<ul>
    <li>Business sessions will focus on OpenCms showcases, best practices, industry discussions and management decision making insights to OpenCms.</li>
    <li>Technical sessions will be targeted towards developers and provide in-depth, hands-on presentations and workshops about OpenCms technical features.</li>
</ul>
<p>At the conference expo, OpenCms solution providers will exhibit their OpenCms business solutions and enhancements.</p>
<p>OpenCms Days 2008 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2008]]></Title>
      </Image>
    </Paragraph>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2008 will feature a lineup of prestigious international speakers from the OpenCms community.</p>
<p><strong>Registration price:</strong></p>
<p>Early bird registration (by March 24): <strong>175,- Euro</strong><br />
Normal registration (after March 24): <strong>200,- Euro</strong></p>
<p>The full program and list of speakers will be available March 30, 2008 from the conference website.</p>
<p class="sml">OpenCms Days 2008 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community. Alkacon Software's presence at the conference will be that of a &quot;Platinum Sponsor&quot;.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2008 takes place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Java, CMS, News, German English, Deutsch Englisch, Translation, Conference, Expo OpenCms Days 2008 ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
