<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon bietet jetzt auch öffentliche OpenCms Schulungen an]]></Title>
    <Date>1204036260000</Date>
    <Preface><![CDATA[Die öffentlichen OpenCms Schulungen von Alkacon Software bieten die Möglichkeit, kostengünstig einen oder zwei Entwickler zu schulen. Diese werden in einem Seminarzentrum in Köln zu vorher bekannt gegebenen Zeiten abgehalten.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die umfangreichen OpenCms Schulungen von Alkacon Software erfreuen sich großer Beliebtheit bei unseren Kunden. Bisher wurden alle Alkacon OpenCms Schulungen ausschließlich &quot;vor Ort&quot; bei den Auftraggebern durchgeführt. Für größere Gruppen von Entwicklern ist dies sinnvoll und auch kostengünstig. Wenn aber nur ein oder zwei Entwickler geschult werden sollen, so wird die Durchführung einer Schulung &quot;vor Ort&quot; oft als kostenintensiv empfunden.</p>
<p>Ab sofort bietet Alkacon daher auch öffentliche OpenCms Schulungen an. Diese werden in einem Seminarzentrum in Köln zu vorher bekannt gegebenen Zeiten abgehalten.</p>
<p>Die öffentlichen OpenCms Schulungen von Alkacon Software bieten die Möglichkeit, kostengünstig einen oder zwei Entwickler zu schulen.   Die Inhalte der öffentlichen OpenCms Schulungen sind mit den Schulungen &quot;vor Ort&quot; identisch.</p>
<p>Die öffentlichen Schulungen haben eine maximale Teilnehmeranzahl von 10 Personen. Mindestanzahl der Teilnehmer sind 4 Personen.</p>
<p>Die erste öffentliche OpenCms Schulung findet zu folgenden Zeiten statt:</p>
<h3>OpenCms Komplett-Schulung (5 Tage)</h3>
<p><strong>14. - 18. April, 2008 </strong><br />
Seminarzentrum &quot;Gut Keuchhof&quot; in Köln<br />
<strong>1.950 &euro; pro Person</strong> (zzgl. 19% MwSt.)</p>
<p>Der Preis beinhaltet neben den Schulungsunterlagen auch Mittagessen und Getränke während der Schulungstage.</p>
<p>Weitere Schulungstermine werden regelmäßig auf <a href="%(link0)">www.alkacon.com</a> angekündigt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die öffentlichen OpenCms Schulungen von Alkacon Software bieten die Möglichkeit, kostengünstig einen oder zwei Entwickler zu schulen.]]></Description>
      <Keywords><![CDATA[Alkacon OpenCms, OpenCms Training, OpenCms Schulung, Content Managment Schulung]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon now offers public OpenCms training courses]]></Title>
    <Date>1204036260000</Date>
    <Preface><![CDATA[The public OpenCms training courses of Alkacon allow the cost effective training of one or two developers. For the time being, these will be held in a conference center in Cologne, Germany at a schedule to be announced on the Alkacon website.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software's comprehensive OpenCms training courses are very well received by our customers. Until now, all Alkacon training courses have been available only as &quot;in house&quot; sessions at a location chosen by the customer. For the training of lager groups this makes sense and is more cost effective. However, if you just want to train one or two developers, a training course &quot;in house&quot; is often considered too costly.</p>
<p>Alkacon now also offers public OpenCms training courses. For the time being, these will be held in a conference center in Cologne, Germany at a schedule to be announced on the Alkacon website.</p>
<p>The public OpenCms training courses of Alkacon allow the cost effective training of one or two developers.  The content of the public OpenCms training courses is identical with the &ldquo;in house&rdquo; courses.</p>
<p>The public courses have a maximum of 10 course participants. The minimum number of training course participants for a public training is 4.</p>
<p>The first public OpenCms training course is available at the following schedule:</p>
<h3>OpenCms Complete Training (5 Days)</h3>
<p><strong>April 14 &ndash; 18, 2008 </strong><br />
Conference center &quot;Gut Keuchhof&quot;, Cologne, Germany<br />
<strong>1950 &euro; per Person</strong> (plus 19% VAT / sales tax)</p>
<p>The price includes the training course materials, as well as lunch and refreshments during the training sessions.</p>
<p>Further training course schedules will be announced on <a target="_self" href="%(link0)">www.alkacon.com</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[The public OpenCms training courses of Alkacon allow the cost effective training of one or two developers. ]]></Description>
      <Keywords><![CDATA[Alkacon OpenCms, OpenCms training, OpenCms public training, Content Managment training]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
