<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Live Demo Website]]></Title>
    <Date>1205251200000</Date>
    <Preface><![CDATA[Sie möchten OpenCms erst einmal in aller Ruhe ausprobieren, um sich einen Eindruck von seinen Möglichkeiten zu machen? Kein Problem - testen Sie OpenCms auf unserer Live Demo Website. Die Live Demo Website ist für Nutzer gedacht, die sich schnell einen Überblick über die Funktionen und das „Look and Feel“ von OpenCms verschaffen möchten.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Sie möchten OpenCms erst einmal in aller Ruhe ausprobieren, um sich einen Eindruck von seinen Möglichkeiten zu machen? Kein Problem - testen Sie OpenCms auf unserer <a href="%(link0)" target="_self">Live Demo Website</a>.</p>
<p>Die Live Demo Website unter <a href="%(link1)" target="_self">http://demo.opencms.org</a> ist in erster Linie für Nutzer gedacht, die sich schnell einen Überblick über die Funktionen und das &bdquo;Look and Feel&ldquo; von OpenCms verschaffen möchten, ohne zunächst eine lokale Installation durchzuführen.</p>
<p>Als angemeldeter Benutzer der Live Demo erhalten Sie Ihre eigene Organisationseinheit mit Ihrer persönlichen Kopie der Beispiel-Inhalte. Hier können Sie die Funktionen von OpenCms für die Redaktion vollständig testen, ohne durch andere Nutzer gestört zu werden.</p>
<p>Die Demo Website entspricht inhaltlich weitgehend der &bdquo;TemplateTwo&ldquo; Demo, welche seit OpenCms Version 7.0.4 in der Standard-Distribution automatisch zur Verfügung steht.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/imagesource/SF011-049.jpg]]></target>
            <uuid>b7e4ed7b-ef83-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
      <Link>
        <Text><![CDATA[Zur OpenCms Live Demo Website - http://demo.opencms.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Testen Sie OpenCms Live auf unserer Demo Website http://demo.opencms.org.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, CMS, Open Source, Content Management, Live Demo, Online Demo]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Live Demo Website]]></Title>
    <Date>1205251200000</Date>
    <Preface><![CDATA[Do you want to take a quick test drive of OpenCms to get a first impression of its features? No problem: Try out the OpenCms live demo website. 
The live demo website is intended for users that want to get a quick overview of the features and the "look and feel" of OpenCms, without the requirement of doing a local installation first.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Do you want to take a quick test drive of OpenCms to get a first impression of its features? No problem: Try out the <a target="_self" href="%(link0)">OpenCms live demo website</a>.</p>
<p>The live demo website, available at <a target="_self" href="%(link1)">http://demo.opencms.org</a>, is intended for users that want to get a quick overview of the features and the &quot;look and feel&quot; of OpenCms, without the requirement of doing a local installation first.</p>
<p>As registered user of the live demo, you will get your own organizational unit with your personal copy of the demo content. With this you can fully test the functionality of OpenCms for content management without being disturbed by other users.</p>
<p>The content of the demo website is mostly identical to the &quot;TemplateTwo&quot; demo, which is available in the standard distribution download since OpenCms 7.0.4.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/imagesource/SF011-049.jpg]]></target>
            <uuid>b7e4ed7b-ef83-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
      <Link>
        <Text><![CDATA[Go to the OpenCms Live Demo Website - http://demo.opencms.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Try out the OpenCms live demo website, available at http://demo.opencms.org.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, CMS, Open Source, Content Management, Live Demo, Online Demo]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
