<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Neues Buch über OpenCms 7 wird im Mai erscheinen]]></Title>
    <Date>1206008160000</Date>
    <Preface><![CDATA["OpenCms 7 Development" wurde von Dan Liliedahl geschrieben und wird von Packt Publishing verlegt. Das Buch ist in Englisch verfasst und richtet sich an OpenCms Entwickler, und solche die es werden wollen. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Ein neues <a href="%(link0)" target="_self">Buch zu OpenCms 7</a> wird bald im Handel erhältlich sein. Das Buch wird von Packt Publishing verlegt und ist in Englisch geschrieben.</p>
<p><strong>OpenCms 7 Development</strong> wurde von Dan Liliedahl geschrieben. Dan ist ein bekanntes Mitglied der OpenCms community und seit vielen Jahren mit der Entwicklung von OpenCms Anwendungen beschäftigt.</p>
<p>Das Buch wird im Mai im Buchhandel erhältlich sein.</p>
<p><strong>Eine eBook Version des Buches kann jetzt schon auf der Website von Packt Publishing erworben werden.</strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/opencms_book_v7.jpg]]></target>
            <uuid>090ba82f-f669-11dc-8b63-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Umschlag des Buches 'OpenCms 7 Development']]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Weite Infos über "OpenCms 7 Development" auf der Website von Packt Publishing]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Das Buch "OpenCms 7 Development" von Dan Liliedahl wird im Mai erscheinen.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Content Management, OpenCms Buch, OpenCms Dokumentation, Dokumentation]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[New book for OpenCms 7 to be published in May]]></Title>
    <Date>1206008160000</Date>
    <Preface><![CDATA[Titled "OpenCms 7 Development", a new book about OpenCms 7 is to be available in stores in May. The book has been written by Dan Liliedahl and will be published by Packt Publishing. The book is targeted at developers.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </links>
        <content><![CDATA[<p>A new <a href="%(link0)">book about OpenCms 7</a> is to be available in stores soon. The book will be available from Packt Publishing.</p>
<p>Titled <strong>OpenCms 7 Development</strong> the book has been written by Dan Liliedahl. Dan is a well known member of the OpenCms community and has been activly developing OpenCms solutions for many years now.</p>
<p>From the book description on the Packt Website:</p>
<blockquote>
<p><em>OpenCms is a professional-level open-source Website Content Management System, based on Java and XML. Many companies or organizations have requirements that go beyond what is available in the standard OpenCms application. Thankfully, OpenCms can be used by Java developers to create sophisticated add-ons and customizations that extend the power of OpenCms in virtually unlimited directions.</em></p>
<p><em>Targeting version 7 of OpenCms, this book is for Java developers interested in extending and further customizing OpenCms through its Java API.</em></p>
<p><em>Starting by showing how to set up a development environment for OpenCms work, the book moves you through various tasks of increasing complexity. Some of the common tasks covered are building OpenCms, XML asset type development, templating, module development, user and role setup, and search integration. In addition to these common tasks some more advanced topics are covered such as self-registering users, RSS support, developing custom widgets and extending the administrative interface. All the topics include examples and are presented while building a sample blog site.</em></p>
</blockquote>
<p>As already said, the book is expected to be available in stores around May.</p>
<p><strong>The book can already be ordered as an eBook from the website of Packt Publishing.</strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/opencms_book_v7.jpg]]></target>
            <uuid>090ba82f-f669-11dc-8b63-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Cover of the book 'OpenCms 7 Development']]></Title>
      </Image>
      <Link>
        <Text><![CDATA[More about "OpenCms 7 Development" on the Packt Publishing Website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA["OpenCms 7 Development" is a new book about OpenCms 7 written by Dan Liliedahl.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Content Management, OpenCms Book, OpenCms Documentation, Documentation]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
