<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2008 - Vollständiges Programm jetzt Online]]></Title>
    <Date>1206716400000</Date>
    <Preface><![CDATA[Das vollständige Programm für die OpenCms Days 2008 ist nun online. Wegen der großen Anzahl an interessanten Vorschlägen wurde entschieden, das Programm auf insgesamt 18 Vorträge zu erweitern. Beeilen Sie sich und registrieren Sie sich jetzt - es sind nur noch begrenzt viele Plätze für die Konferenz verfügbar.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/opencms_days_2008/program/OpenCmsDays2008_program.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das vollständige Programm für die OpenCms Days 2008 ist nun online.</p>
<p>Bitte besuchen Sie die aktualisierte <a href="%(link0)" target="_self">Webseite der Konferenz</a>, um das Programm einzusehen.</p>
<p>Ursprünglich waren 14 Vorträge im Rahmen der Konferenz geplant, aber wegen der großen Anzahl an interessanten Vorschlägen wurde entschieden, das Programm auf insgesamt 18 Vorträge zu erweitern.</p>
<p><strong>UPDATE:</strong> Das vollständige Programm ist jetzt auch als <a href="%(link1)" target="_self">PDF Download</a> verfügbar.</p>
<p>Mit 20 namhaften internationalern Sprechern aus der ganzen Welt wird OpenCms Days 2008 die bisher größte Veranstaltung für die OpenCms Community.</p>
<p><strong>Beeilen Sie sich und <a href="%(link2)" target="_self">registrieren Sie sich jetzt</a> - es sind nur noch begrenzt viele Plätze für die Konferenz verfügbar.</strong></p>
<p>Die OpenCms Days 2008 finden von Montag, 5. Mai bis Dienstag 6. Mai 2008 im Deutschen Sport und Olympia Museum in Köln statt.</p>
<p><strong>Die OpenCms Days 2008 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler:</strong></p>
<ul>
    <li>Die Vortragsreihe für Anwender konzentriert sich auf OpenCms Beispielprojekte, Best Practices und typische Geschäftsprozesse mit OpenCms.</li>
    <li>Die technische Vortragsreihe richtet sich an Entwickler und bietet detaillierte, praxisnahe Präsentationen und Workshops zur OpenCms Programmierung.</li>
</ul>
<p>In der zur Konferenz gehörenden Ausstellung präsentieren Anbieter Ihre speziellen Branchen- und Technologielösungen für OpenCms.</p>
<p>Die OpenCms Days 2008 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2008 finden von Montag, 5. Mai bis Dienstag 6. Mai 2008 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Programm, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2008 - Full conference program now online]]></Title>
    <Date>1206716400000</Date>
    <Preface><![CDATA[The full conference program of OpenCms Days 2008 is now online. Because of the great interest and the may good session submissions we have received, we decided to enlarge the program to 18 full sessions. Hurry up and register your ticket now - only a limited number of seats are still available!]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/index.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/opencms_days_2008/program/OpenCmsDays2008_program.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The full conference program for OpenCms Days 2008 is now online.</p>
<p>Please check out the updated <a href="%(link0)" target="_self">conference website</a> for the full program.</p>
<p>Initially, we had planned for 14 conference sessions, but because of the great interest and the may good session submissions we have received, we decided to enlarge the program to 18 full sessions.</p>
<p><strong>UPDATE:</strong> The full conference program is now available as a <a href="%(link1)" target="_self">PDF download</a>.</p>
<p>With 20 high-profile speakers from all over the world, OpenCms Days 2008 will be the largest event yet for the OpenCms community.</p>
<p><strong>Hurry up and <a href="%(link2)" target="_self">register your ticket now</a> - only a limited number of seats are still available!</strong></p>
<p>OpenCms Days 2008 takes place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany at the &quot;German Sports and Olympia Museum&quot;.</p>
<p><strong>OpenCms Days 2008 conference features 2 parallel tracks with Business and Technical sessions:</strong></p>
<ul>
    <li>Business sessions will focus on OpenCms showcases, best practices, industry discussions and management decision making insights to OpenCms.</li>
    <li>Technical sessions will be targeted towards developers and provide in-depth, hands-on presentations and workshops about OpenCms technical features.</li>
</ul>
<p>At the conference expo, OpenCms solution providers will exhibit their OpenCms business solutions and enhancements.</p>
<p>OpenCms Days 2008 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2008 takes place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days program, OpenCms conference program, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
