<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.0.4 Verfügbar]]></Title>
    <Date>1204545660000</Date>
    <Preface><![CDATA[OpenCms Version 7.0.4 ist ab sofort verfügbar. Diese Version bietet eine Reihe von Verbesserungen am OpenCms Kern und den standardmäßig ausgelieferten Zusatzmodulen. Besonders erwähnenswert ist dabei das neue "TemplateTwo", sowie die verbesserte "Direct Edit" Funktion.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/080303_v704_releasenotes.html]]></target>
            <uuid>a1b0a3b5-e775-11dc-ad81-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.4 von OpenCms ist ab sofort verfügbar und kann von der <a href="%(link0)" target="_self">OpenCms Website</a> herunter geladen werden.</p>
<p>Diese Version bietet eine Reihe von Verbesserungen am OpenCms Kern und den standardmäßig ausgelieferten Zusatzmodulen. Besonders erwähnenswert ist dabei das neue &quot;TemplateTwo&quot;, sowie die verbesserte &quot;Direct Edit&quot; Funktion.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch die internationale Community von OpenCms Entwicklern.</p>
<p>OpenCms 7 bietet zahlreiche funktionale und technische Verbesserungen gegenüber älteren Versionen.</p>
<h2>Funktionen von OpenCms 7</h2>
<ul>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 sowie HSQL.</li>
    <li>Durch das stark verbesserte Linkmanagement auf Basis der neuen &quot;Content Relationship Engine&quot; (CRE) ist es noch einfacher, die Korrektheit aller Links innerhalb einer Website zu gewährleisten. Auch das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist nun problemlos möglich.</li>
    <li>Die neue WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme. So können zum Beispiel Entwickler aus einem Werkzeug wie Eclipse JSP Seiten unmittelbar in OpenCms bearbeiten.</li>
    <li>Weiterhin wurde die Benutzerverwaltung in OpenCms 7 stark erweitert. Benutzer und Gruppen können nun dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden, die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Durch die Integration von Ajax-Technologie in verschiedene Bereiche der OpenCms Oberfläche wurde diese reaktionsschneller und benutzerfreundlicher.</li>
</ul>
<h2>Verbesserungen in OpenCms 7.0.4</h2>
<ul>
    <li>Neues &quot;TemplateTwo&quot; Demo Template mit verbesserten Demoinhalten, ersetzt die alte &quot;TemplateOne&quot; Demo</li>
    <li>Neuer JQuery basierter Direct Edit Provider mit verbesserter Positionierung der DE Buttons</li>
    <li>Update des FCKeditors zu Version 2.5.1</li>
    <li>Neues &quot;Default Template&quot;, das benutzt wird, wenn kein Template für eine Ressource gefunden wird</li>
    <li>Import/Export von Benutzerrollen, Organisationseinheiten und Projekten möglich</li>
    <li>Auswahl von Modulgruppen im Setup Wizard</li>
    <li>Sicherheitslücke 27986 von Security Focus behoben</li>
    <li>Lücke geschlossen, bei der ein Benutzermanager zum Administrator werden konnte</li>
    <li>&hellip; und einiges mehr.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a target="_self" href="%(link2)">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a target="_self" href="%(link3)">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>Eine Premiere für die OpenCms Communits steht außerdem an: Zum ersten Mal treffen sich internationale OpenCms Anwender und Entwickler auf den <a target="_self" href="%(link4)">OpenCms Days 2008</a> zu einer 2-tägigen Konferenz mit dazugehöriger Ausstellung. Diese Veranstaltung findet vom 5. bis 6. Mai 2008 in Köln statt. Mehr Informationen unter <a target="_self" href="%(link5)">http://www.opencms-days.org</a>.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a target="_self" href="%(link6)">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a target="_self" href="%(link7)">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms in der Version 7.0.4 ist nun verfügbar.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.0.4 available]]></Title>
    <Date>1204545660000</Date>
    <Preface><![CDATA[OpenCms version 7.0.4 is now available for download. This version adds a number of improvements to the OpenCms core as well as the modules shipped with the core by default. Most notable is the new "TemplateTwo" demo, plus the improved "Direct Edit" function.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/080303_v704_releasenotes.html]]></target>
            <uuid>a1b0a3b5-e775-11dc-ad81-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.4 of OpenCms is now available for <a href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. The new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>This version adds a number of improvements to the OpenCms core as well as the modules shipped with the core by default.</p>
<p>Most notably in this release is the updated OpenCms demo website created with the new &quot;TemplateTwo&quot;. Both the demo and the template are a big step forward compared to the previous &quot;TemplateOne&quot;. &quot;TemplateOne&quot; still is available but not longer installed by default.</p>
<p>Moreover, the &quot;Direct Edit&quot; function has been improved greatly. The positioning of the direct edit buttons now is much more precise, especially for CSS based layouts. Plus the look of the direct edit highlighting on the web page has been enhanced.</p>
<p>A ton of other additions and improvements tops off this release. Of course, OpenCms 7.0.4 also fixes a number of issues that persisted in 7.0.3. See below for more details.</p>
<h2>General Features of OpenCms 7</h2>
<ul>
    <li>Support for Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 and HSQL databases included.</li>
    <li>The internal link management has been greatly improved.</li>
    <li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>
    <li>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</li>
    <li>The new &quot;Content Relationship Engine&quot; (CRE) allows defining arbitrary relations between OpenCms resources.</li>
    <li>Native support for WebDAV access to the OpenCms VFS has been added.</li>
    <li>The concept of &quot;Organization Units&quot; (OUs) has been added to the internal user management.</li>
    <li>System permissions are now based on a complete new set of &quot;Roles&quot;.</li>
    <li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>A &quot;switch user&quot; (su) function for Administrators in the OpenCms Workplace is now available.</li>
    <li>Because of the use of Ajax technologies, the OpenCms Workplace is more responsive.</li>
    <li>A new &quot;Undelete&quot; function is available on the context menu to restore deleted resources, including complete deleted subtrees.</li>
    <li>A &quot;time warp&quot; feature in the Workplace now allows users to view resources with date expired / date released settings.</li>
</ul>
<h2>New Features in OpenCms 7.0.4</h2>
<ul>
    <li>Added new &quot;TemplateTwo&quot; demo template with improved demo content, replacing the old &quot;TemplateOne&quot; demo</li>
    <li>Added new JQuery based direct edit provider with much improved positioning of the DE buttons</li>
    <li>Updated FCKeditor to version 2.5.1</li>
    <li>Added &quot;default template&quot; which is used by default if no template is found for a resource</li>
    <li>Added support to import/export user roles, organizational units and projects</li>
    <li>Added new module group selection dialog to the Setup Wizard</li>
    <li>Fixed security issue 27986 reported by Security Focus</li>
    <li>Fixed issue with an account manager being able to become an administrator</li>
    <li>... and many more</li>
</ul>
<p>Please check out the  <a href="%(link1)">release notes</a> for further details.</p>
<p>OpenCms 7 is highly backward compatible with version 6. An easy to use update wizard for OpenCms Version 6 and prior 7.0.x installations for MySQL, Oracle and PostgreSQL is available.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 8 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>From May 5 to May 6, 2008, the <a target="_self" href="%(link4)">OpenCms Days conference and expo</a> will bring together the OpenCms community to discuss the present and future of OpenCms. More information is available on <a target="_self" href="%(link5)">http://www.opencms-days.org</a>.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a href="%(link6)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a href="%(link7)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.0.4 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
