<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon unterstützt das OpenCms Wiki]]></Title>
    <Date>1207303320000</Date>
    <Preface><![CDATA[Das OpenCms Wiki unter http://opencms-wiki.org ist nun das offizielle OpenCms Wiki, welches durch Alkacon Software unterstützt und betrieben wird.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das OpenCms Wiki unter <a target="_self" href="%(link0)">http://opencms-wiki.org</a> ist nun das offizielle OpenCms Wiki, welches durch Alkacon Software unterstützt und betrieben wird.</p>
<p>Das OpenCms Wiki wurde Ende 2006 gestartet und ist seitdem eine wichtige Informationsquelle für die weltweite OpenCms Gemeinschaft geworden. Es hat sich als ein zentraler Ort etabliert, an die OpenCms Benutzer sich gegenseitig helfen können.</p>
<p>Alkacon wird das OpenCms Wiki in dieser Tradition weiter betreiben und dafür sorgen, dass genügend Serverkapazität und Bandbreite zur Verfügung steht. Weiterhin wird Alkacon das Wiki nutzen, um OpenCms Tipps und Howto's zu veröffentlichen, welche nicht in die offizielle Alkacon OpenCms Dokumentation passen.</p>
<p>Jan Meier, der ursprüngliche Gründer des OpenCms Wiki, wird dieses auch zukünftig unterstützen. Vielen Dank an Jan, dessen Initiative das Wiki seine Existenz verdankt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Zum OpenCms Wiki - http://opencms-wiki.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Das OpenCms Wiki unter http://opencms-wiki.org ist nun das offizielle OpenCms Wiki, welches durch Alkacon Software unterstützt und betrieben wird.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms Wiki, Java, CMS, J2EE, OSS, Open Source, Content Management, Wiki]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon to support and maintain OpenCms Wiki]]></Title>
    <Date>1207303320000</Date>
    <Preface><![CDATA[The OpenCms Wiki at http://opencms-wiki.org is now the official OpenCms Wiki, supported and maintained by Alkacon Software.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms Wiki at <a href="%(link0)">http://opencms-wiki.org</a> is now the official OpenCms Wiki, supported and maintained by Alkacon Software.</p>
<p>The OpenCms Wiki started end of 2006 and has become an important source of information for the worldwide OpenCms community since then. It also has been established as a place where users can help other users.</p>
<p>Alkacon will continue to run the Wiki in this tradition, ensuring that enough server capacity and bandwidth is available. Moreover, Alkacon will also use the Wiki to publish OpenCms howto's and help topics that don't fit into the official Alkacon OpenCms documentation.</p>
<p>Jan Meier, initial owner and creator of the OpenCms Wiki, will continue to support the Wiki in the future. Many thanks to Jan for his initiative to start the Wiki.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Go to the OpenCms Wiki - http://opencms-wiki.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[The OpenCms Wiki at http://opencms-wiki.org is now the official OpenCms Wiki, supported and maintained by Alkacon Software.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms Wiki, Java, CMS, J2EE, OSS, Open Source, Content Management, Wiki]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
