<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2008 Anmeldung endet am 1 Mai]]></Title>
    <Date>1208880000000</Date>
    <Preface><![CDATA[Die OpenCms Days 2008 finden in 2 Wochen statt. Es gibt 100 verfügbare Plätze, von denen ca. 90 bereits vergeben sind. Wenn Sie an diesem Event teilnehmen möchten, so sichern Sie sich besser schnell Ihren Platz.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2008 finden in 2 Wochen statt.</p>
<p>Es gibt 100 verfügbare Plätze, von denen ca. 90 bereits vergeben sind. Wenn Sie an diesem Event teilnehmen möchten, so sichern Sie sich besser schnell Ihren Platz.</p>
<h2>Anmeldemöglichkeit nur noch bis zum 1 Mai!</h2>
<p>Registrieren Sie sich für die OpenCms Days 2008:<br />
<a target="_self" href="%(link0)">http://www.opencms-days.org/registration/</a></p>
<p>Das vollständige Programm ist nun auch als PDF verfügbar:<br />
<a target="_self" href="%(link1)">http://www.opencms-days.org/program.pdf</a></p>
<p>Die OpenCms Days 2008 finden von Montag, 5. Mai bis Dienstag 6. Mai 2008 im Deutschen Sport und Olympia Museum in Köln statt.</p>
<p>Mit 20 namhaften internationalern Sprechern aus der ganzen Welt wird OpenCms Days 2008 die bisher größte Veranstaltung für die OpenCms Community.</p>
<p>Die OpenCms Days 2008 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p>Weitere Informationen über die OpenCms Days 2008 sind auf der Webseite der Konferenz verfügbar:<br />
<a target="_self" href="%(link2)">http://www.opencms-days.org</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die Anmeldemöglichkeit für die OpenCms Days 2008 endet am 1 Mai 2008, das Programm ist jetzt als PDF verfügbar.]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms Konferenz, Content Management Konferenz, Open Source conference, Anmeldung]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2008 registration closes May 1]]></Title>
    <Date>1208880000000</Date>
    <Preface><![CDATA[OpenCms Days 2008 is happening in 2 weeks. We have 100 available seats and about 90 are already taken. So if you want to be part of the action, hurry up and register your ticket now.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2008 is happening in 2 weeks.</p>
<p>We have 100 available seats and about 90 are already taken. So if you want to be part of the action, hurry up and register your ticket now.</p>
<h2>Registration closes May 1!</h2>
<p>You can register your ticket to OpenCms Days 2008 here:<br />
<a target="_self" href="%(link0)">http://www.opencms-days.org/registration/</a></p>
<p>The full conference program is now available as a PDF download:<br />
<a target="_self" href="%(link1)">http://www.opencms-days.org/program.pdf</a></p>
<p>OpenCms Days 2008 takes place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany at the &quot;German Sports and Olympia Museum&quot;.</p>
<p>With 20 high-profile speakers from all over the world, OpenCms Days 2008 will be the largest event yet for the OpenCms community.</p>
<p>More information about OpenCms Days is available on the conference website:<br />
<a target="_self" href="%(link2)">http://www.opencms-days.org</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Registration for OpenCms Days 2008 closes May 1, 2008, program now available as PDF file.]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms conference, Content Management conference, Open Source conference, Registration]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
