<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2008 ein voller Erfolg]]></Title>
    <Date>1210170060000</Date>
    <Preface><![CDATA[Die OpenCms Days 2008 in Köln waren ein voller Erfolg. Die meisten Teilnehmer beurteilten die Konferenz sehr positiv. Ergebnisse der Konferenz werden in Kürze zum Download bereitgestellt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2008 haben vom Montag, 5. Mai bis Dienstag 6. Mai 2008 im Deutschen Sport und Olympia Museum in Köln statt gefunden.</p>
<p>Zum ersten Mal trafen sich OpenCms Anwender und Entwickler zu einer 2-tägigen Konferenz mit dazugehöriger Ausstellung. Dies war die beste Möglichkeit, sich mit OpenCms Experten wie Kernentwicklern, erfahrenen Consultants, unabhängigen CMS Analysten, führenden Meinungsbildnern und anderen OpenCms Anwendern auszutauschen.</p>
<p><strong>Die OpenCms Days 2008 waren ein voller Erfolg.</strong> Die Präsentationen, sowie Fotos und Videoaufzeichnungen verschiedener Konferenzbeiträge, werden in Kürze auf der <a href="%(link0)" target="_self">opencms.org</a> Webseite verfügbar gemacht.</p>
<p>Die meisten Teilnehmer beurteilten die Konferenz sehr positiv. Wir werden in der Zukunft sicher weitere Veranstaltungen dieser Art erleben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2008 Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2008 in Köln waren ein großer Erfolg]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms Konferenz, Content Management Konferenz, Open Source Konferenz]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2008 a great success]]></Title>
    <Date>1210170060000</Date>
    <Preface><![CDATA[The OpenCms Days 2008 in Cologne have been a great success. Most conference delegates had a very positive impression of the event. The conference proceedings will be available for download soon.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2008 has taken place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany at the &quot;German Sports and Olympia Museum&quot;.</p>
<p>For the first time, OpenCms users and developers gathered for a 2 day conference and expo. This was the best opportunity ever to meet and mingle with OpenCms experts such as core developers, experienced consultants, independent CMS analysts, executive decision makers and other OpenCms users.</p>
<p><strong>OpenCms Days 2008 has been a great success.</strong> The presentation slides, as well as photos and video tapings from several conference sessions, will be available soon on the <a target="_self" href="%(link0)">opencms.org</a> website.</p>
<p>Most conference delegates had a very positive impression of the event. We will certainly have more events like this in the future.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2008 Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2008 in Cologne have been a great success]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
