<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Website kann jetzt kommentiert werden]]></Title>
    <Date>1212767340000</Date>
    <Preface><![CDATA[Die opencms.org und alkacon.com Websites ermöglichen es Besuchern jetzt Kommentare zu News und Module Downloads zu schreiben.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die <a href="%(link0)">opencms.org</a> und <a href="%(link1)">alkacon.com</a> Websites ermöglichen den Besuchern nun, Kommentare in verschiedenen Bereichen zu hinterlassen.</p>
<p>Besucher der OpenCms und Alkacon Webseiten sind aufgefordert, Ihre Kommentare zu News (so wie dieser hier) und auch zu Modul Downloads abzugeben. Unser Ziel ist es, Besuchern der Websites aktuelle Informationen und Feedback der OpenCms Community verfügbar zu machen, insbesondere für Modul Downloads.</p>
<p>Jeder Besucher kann Kommentare schreiben. Eine vorherige Anmeldung ist nicht erforderlich.</p>
<p>Die neue Kommentarfunktion basiert auf dem <b>Alkacon OAMP User Comment Modul</b>, welches in Kürze verfügbar sein wird. Der Quellcode des Moduls ist bereist im öffentlichen CVS abgelegt. In einigen Wochen Testphase wird das neue OAMP User Comment Modul auch als binärer Download von alkacon.com verfügbar gemacht werden.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Kommentare der Benutzer sind jetzt möglich auf opencms.org und alkacon.com.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java CMS, Content, Management, Blog comments]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Website now allows user comments]]></Title>
    <Date>1212767340000</Date>
    <Preface><![CDATA[The opencms.org and alkacon.com websites now allow user comments to be written for news articles as well as module downloads.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>The <a href="%(link0)" target="_self">opencms.org</a> and <a href="%(link1)" target="_self">alkacon.com</a> websites now allow user comments to be added to several pages.</p>
<p>Visitors of the OpenCms and Alkacon websites are encouraged to leave their comments to news articles (such as this one) as well as for module downloads. The intention is to provide website visitors with up to date community information and feedback, especially for the module downloads.</p>
<p>Every visitor is free to add a comment. No registration is required to write comments.</p>
<p>The new comment option is based on the upcoming <b>Alkacon OAMP User Comment Module</b>, which is already available in the public CVS. After some weeks of testing, the new OAMP User Comment module will be made available as a binary download from alkacon.com.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[User comments are now possible for opencms.org and alkacon.com.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java CMS, Content, Management, Blog comments]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
