<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Präsentationen und Fotos der OpenCms Days 2008 verfügbar]]></Title>
    <Date>1213095600000</Date>
    <Preface><![CDATA[Die Präsentationen von den Vorträgen der OpenCms Days 2008 sind jetzt zum Download verfügbar. Weiterhin wurde eine Fotostrecke mit Bildern der Konferenz eingerichtet. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/events/opencms_days_2008/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2008 haben vom Montag, 5. Mai bis Dienstag 6. Mai 2008 in Köln statt gefunden.</p>
<p>Zum ersten Mal trafen sich etwa 100 OpenCms Anwender und Entwickler zu einer 2-tägigen Konferenz mit dazugehöriger Ausstellung. Dies war die beste Möglichkeit, sich mit OpenCms Experten wie Kernentwicklern, erfahrenen Beratern, unabhängigen CMS Analysten, führenden Meinungsbildnern und anderen OpenCms Anwendern auszutauschen.</p>
<p><b>Die OpenCms Days 2008 waren ein voller Erfolg.</b> Die Präsentationen von den Vorträgen der OpenCms Days 2008 stehen jetzt unter <a target="_self" href="%(link0)">opencms.org</a> zum Download bereit. Weiterhin wurde eine Fotostrecke mit Bildern der Konferenz eingerichtet.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die Präsentationen und Fotos von den OpenCms Days 2008 sind jetzt zum Download verfügbar.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2008, OpenCms Konfeenz, Content Management Konferenz, Open Source Konferenz]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2008 presentations and photos available]]></Title>
    <Date>1213095600000</Date>
    <Preface><![CDATA[The presentation slides from the OpenCms Days 2008 sessions are now available for download. There is also an image gallery available with photos from the conference. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/opencms_days_2008/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2008 has taken place from Monday, May 5 to Tuesday, May 6 2008 in Cologne, Germany.</p>
<p>For the first time, about 100 OpenCms users and developers gathered for a 2 day conference and expo. This was the best opportunity ever to meet and mingle with OpenCms experts such as core developers, experienced consultants, independent CMS analysts, executive decision makers and other OpenCms users.</p>
<p><b>OpenCms Days 2008 has been a great success.</b> For those who missed the event, the presentation slides from the conference sessions are now available for download from the <a target="_self" href="%(link0)">opencms.org</a> website. There is also an image gallery with photos from the conference.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows.png]]></target>
            <uuid>59742d46-e5fb-11dc-ad81-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Presentation slides and photos from the OpenCms Days 2008 sessions are now available for download. ]]></Description>
      <Keywords><![CDATA[OpenCms Days 2008, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
