<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Buch über OpenCms 7 jetzt im Handel]]></Title>
    <Date>1212311760000</Date>
    <Preface><![CDATA["OpenCms 7 Development" wurde von Dan Liliedahl geschrieben und wird von Packt Publishing verlegt. Das Buch ist in Englisch verfasst und richtet sich an OpenCms Entwickler, und solche die es werden wollen. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Ein <a href="%(link0)" target="_self">Buch zu OpenCms 7</a> ist jetzt im Handel erhältlich. Das Buch wird von Packt Publishing verlegt und ist in Englisch geschrieben.</p>
<p><strong>OpenCms 7 Development</strong> wurde von Dan Liliedahl geschrieben. Dan ist ein bekanntes Mitglied der OpenCms community und seit vielen Jahren mit der Entwicklung von OpenCms Anwendungen beschäftigt.</p>
<p><strong>OpenCms 7 Development</strong> ist ab sofort im gut sortierten Buchhandel erhältlich.</p>
<p><strong>Eine eBook Version des Buches kann über die Website von Packt Publishing erworben werden.</strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/opencms_book_v7.jpg]]></target>
            <uuid>090ba82f-f669-11dc-8b63-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Umschlag des Buches 'OpenCms 7 Development']]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Weite Infos über "OpenCms 7 Development" auf der Website von Packt Publishing]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Das Buch "OpenCms 7 Development" von Dan Liliedahl ist jetzt im Handel erhältlich.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Content Management, OpenCms Buch, OpenCms Dokumentation, Dokumentation]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Book about OpenCms 7 now in stores]]></Title>
    <Date>1212311760000</Date>
    <Preface><![CDATA[Titled "OpenCms 7 Development", a book about OpenCms 7 is now available in stores. The book has been written by Dan Liliedahl and is published by Packt Publishing. The book is targeted at developers.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </links>
        <content><![CDATA[<p>A <a href="%(link0)">book about OpenCms 7</a> is now available in stores. The book has been published by Packt Publishing.</p>
<p>Titled <strong>OpenCms 7 Development</strong> the book has been written by Dan Liliedahl. Dan is a well known member of the OpenCms community and has been activly developing OpenCms solutions for many years now.</p>
<p>From the book description on the Packt Website:</p>
<blockquote>
<p><em>OpenCms is a professional-level open-source Website Content Management System, based on Java and XML. Many companies or organizations have requirements that go beyond what is available in the standard OpenCms application. Thankfully, OpenCms can be used by Java developers to create sophisticated add-ons and customizations that extend the power of OpenCms in virtually unlimited directions.</em></p>
<p><em>Targeting version 7 of OpenCms, this book is for Java developers interested in extending and further customizing OpenCms through its Java API.</em></p>
<p><em>Starting by showing how to set up a development environment for OpenCms work, the book moves you through various tasks of increasing complexity. Some of the common tasks covered are building OpenCms, XML asset type development, templating, module development, user and role setup, and search integration. In addition to these common tasks some more advanced topics are covered such as self-registering users, RSS support, developing custom widgets and extending the administrative interface. All the topics include examples and are presented while building a sample blog site.</em></p>
</blockquote>
<p><b>OpenCms 7 Development</b> by Dan Liliedahl is now available in bookstores everywhere.</p>
<p><strong>The book can also be ordered as an eBook from the website of Packt Publishing.</strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/opencms_book_v7.jpg]]></target>
            <uuid>090ba82f-f669-11dc-8b63-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Cover of the book 'OpenCms 7 Development']]></Title>
      </Image>
      <Link>
        <Text><![CDATA[More about "OpenCms 7 Development" on the Packt Publishing Website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/opencms-7-development/book]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA["OpenCms 7 Development" is a book about OpenCms 7 written by Dan Liliedahl.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Content Management, OpenCms Book, OpenCms Documentation, Documentation]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
