<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Erster OpenCms Entwickler-Sprint in Köln]]></Title>
    <Date>1216634820000</Date>
    <Preface><![CDATA[Unser erster OpenCms Entwickler-Sprint findet vom 9. bis 10. September 2008 in Köln statt. Sprints sind Veranstaltungen für Entwickler, welche die Zukunft von OpenCms aktiv mitgestalten möchten. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<h2>9. - 10. September 2008, K&ouml;ln</h2>
<p>Unser erster 2-t&auml;giger OpenCms Entwickler-Sprint. Sprints sind Veranstaltungen f&uuml;r Programmierer, welche die Zukunft von OpenCms aktiv mitgestalten m&ouml;chten.</p>
<p>Jeder, der heute oder in der Zukunft mit OpenCms entwickeln m&ouml;chte, ist eingeladen.</p>
<p>Die Ziele dieses OpenCms Entwickler-Sprints sind:</p>
<ul>
<li>Besseres Kennenlernen der Entwickler untereinander</li>
<li>Programmieren von interessanten Erweiterungen von OpenCms</li>
<li>Verbessern der Zusammenarbeit in der Community</li>
</ul>
<h3>Veranstaltungsort</h3>
<p>Dieser OpenCms Sprint wird in K&ouml;ln, Deutschland stattfinden.</p>
<p>Da wir dieses Event zum ersten Mal durchf&uuml;hren werden, k&ouml;nnen wir momentan noch nicht absehen, mit welcher Anzahl von Teilnehmern wir rechnen sollen. Daher haben wir uns noch nicht auf einen bestimmten Veranstaltungsort festgelegt. Abh&auml;ngig von der Anzahl der Anmeldungen wird der Developer Sprint daher entweder in den R&auml;umlichkeiten von <a href="%(link0)">Alkacon Software</a>, oder aber in entsprechenden angemieteten R&auml;umlichkeiten in K&ouml;ln stattfinden.</p>
<h3>Themen</h3>
<p>Es gibt keine festgelegte Agenda. Jeder Teilnehmer kann ein Thema, an dem er gerne arbeiten w&uuml;rde, vorschlagen. M&ouml;gliche Themen sind:</p>
<ul>
<li>JSR 170 in OpenCms</li>
<li>Integration einer verbesserten Workflow Funktionalit&auml;t</li>
<li>Einsatz von jQuery im OpenCms Umfeld</li>
</ul>
<p>&Uuml;ber die endg&uuml;ltige Themenliste wird mit allen Sprint Teilnehmern gemeinschaftlich entschieden.</p>
<h3>Teilnahmegeb&uuml;hr</h3>
<p>Die Teilnahmegeb&uuml;hr f&uuml;r diesen 2-t&auml;gigen Sprint betr&auml;gt <strong>120 Euro</strong> pro Person (inkl. 19% MwSt.).</p>
<p>W&auml;hrend des 2-t&auml;gigen Sprints bieten wir Ihnen kostenfreie Verpflegung. Sollten wir bei entsprechender Teilnehmerzahl externe R&auml;umlichkeiten anmieten m&uuml;ssen, sind die Kosten daf&uuml;r ebenfalls in der Geb&uuml;hr enthalten.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencms_sprint_2rows.jpg]]></target>
            <uuid>d4a3379a-54d0-11dd-aa8d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Entwickler-Sprint, veranstaltet von Alkacon Software]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Der erste OpenCms Entwickler-Sprint, veranstaltet von Alkacon Software, 09.-10 September 2008 in Köln, Deutschland]]></Description>
      <Keywords><![CDATA[OpenCms sprint, Java sprint, Hackathon, CMS, J2EE, OSS, Open Source sprint, Content Management hackathon]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[First OpenCms Development Sprint in Cologne, Germany]]></Title>
    <Date>1216634820000</Date>
    <Preface><![CDATA[Our very first OpenCms development sprint event will happen September 9 to 10, 2008 in Cologne, Germany. Sprints are a gathering of OpenCms developers who want to activly shape the future of OpenCms.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<h2>September 9-10, 2008 - Cologne, Germany</h2>
<p>This will be our first ever 2 day OpenCms development sprint event. Sprints are a gathering of programmers who want to actively shape the future of OpenCms.</p>
<p>Anyone interested in programming for OpenCms now or in the future is invited.</p>
<p>The main goals of this OpenCms sprint are:</p>
<ul>
<li>To get to know each other better</li>
<li>Working on interesting OpenCms code and concepts</li>
<li>Increase the cooperation in the OpenCms community</li>
</ul>
<h3>Location</h3>
<p>It's certain the event will be held in Cologne, Germany.</p>
<p>Since this is the first time we host such an event we don't know how many developers to expect. Therefore we have not decided on a final location. Depending on the number of participants, we will either held the sprint in the office of <a href="%(link0)">Alkacon Software</a>, or rent a suitable sized room somewhere in Cologne.</p>
<h3>Topics</h3>
<p>There is no fixed agenda for the sprint. All participants in the sprint may propose a topic they want to work on. Some of the topics may be:</p>
<ul>
<li>Working towards JSR 170 in OpenCms</li>
<li>How to integrate improved Workflow functionality</li>
<li>Using jQuery in the OpenCms Workplace</li>
</ul>
<p>The final list of topics will be jointly decided by the sprint participants.</p>
<h3>Price</h3>
<p>Participation for this 2 day sprint event costs <strong>120 Euro</strong> per developer. This includes 19% German VAT/sales tax.</p>
<p>We will offer free food and drinks during the 2 day sprint session. Moreover, we may have to rent a location in case we have to many participants to hold the sprint session in our office. The entrance price will cover all this costs.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencms_sprint_2rows.jpg]]></target>
            <uuid>d4a3379a-54d0-11dd-aa8d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Development Sprint, hosted by Alkacon Software]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[The fist OpenCms development sprint is hosted by Alkacon Software September 9 to 10, 2008 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms sprint, Java sprint, Hackathon, CMS, J2EE, OSS, Open Source sprint, Content Management hackathon]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
