<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.0.5 Verfügbar]]></Title>
    <Date>1214996460000</Date>
    <Preface><![CDATA[Diese Version behebt eine Reihe von Problemen und Sicherheitsrisiken, welche in der Version 7.0.4 vorhanden waren. Einige neue Funktionen wurden hinzugefügt, wie z.B. Syntax-Highlighten im integrierten Texteditor.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/080702_v705_releasenotes.html]]></target>
            <uuid>4294c86f-4777-11dd-aefb-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/events/opencms_days_2008/index.html]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/events/opencms_days_2008/index.html]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.5 von OpenCms ist ab sofort verfügbar und kann von der <a target="_self" href="%(link0)">OpenCms Website</a> herunter geladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch die internationale Community von OpenCms Entwicklern.</p>
<p>Diese Version behebt eine Reihe von Problemen und Sicherheitsrisiken, welche in der Version 7.0.4 vorhanden waren. Einige neue Funktionen wurden außerdem hinzugefügt.</p>
<h2>Funktionen von OpenCms 7</h2>
<ul>
    <li>&quot;Direct Edit&quot; ermöglicht das Bearbeiten von Inhalten aus der Webseitenansicht.</li>
    <li>Strukturierte Inhalte können durch einfache XML Schemas definiert werden.</li>
    <li>Ein WYSIWYG Editor für unstrukturierte Inhalte ist verfügbar.</li>
    <li>Durch das integrierte Linkmanagement wird die Korrektheit aller Links innerhalb einer Website gewährleistet. Auch das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist problemlos möglich.</li>
    <li>Die WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme.</li>
    <li>Integrierte Bildverarbeitung / -skalierung.</li>
    <li>Integrierte Volltextsuche auf Webseiten, aber auch in PDF, MS Office etc.</li>
    <li>Vollständige Benutzerverwaltung inklusive Unterstützung von &quot;Organisationseinheiten&quot;.</li>
    <li>Benutzer und Gruppen können dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden, die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Das Modulsystem von OpenCms ermöglicht das einfache Hinzufügen von nachträglichen Erweiterungen.</li>
    <li>JSP Integration ermöglicht das einfache und Standard konforme Erstellen von Templates und anderen dynamischen Funktionen.</li>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 sowie HSQL.</li>
</ul>
<h2>Verbesserungen in OpenCms 7.0.5</h2>
<ul>
    <li>Integration eines Editors mit Syntax Highlighting Funktionen für textbasierte Dateien (z.B. XML, HTML, JSP).</li>
    <li>Neue Option zum Kopieren von Inhalten von einer Sprache zu einer anderen im Editor für strukturierte Inhalte.</li>
    <li>Spanische Übersetzung der OpenCms Workplace hinzugefügt, zur Verfügung gestellt von OpenCmsHispano.</li>
    <li>Neues Administrationstool zum Leeren von Bild Caches.</li>
    <li>Neues JQuery Modul mit einigen JQuery Paketen hinzugefügt.</li>
    <li>Der neue &lt;cms:jquery&gt; Tag ermöglicht die Einbindung gepackter/ungepackter JQuery Versionen abhängig vom aktuellen OpenCms Projekt.</li>
    <li>Sicherheitsrisiko 28152 von Security Focus behoben.</li>
    <li>Sicherheitsrisiko 490498 von Security Focus behoben.</li>
    <li>&hellip; und einiges mehr.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a href="%(link2)" target="_self">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a href="%(link3)" target="_self">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>Vom 5. bis 6. Mai 2008 haben sich außerdem sich zum ersten Mal internationale OpenCms Anwender und Entwickler auf den <a target="_self" href="%(link4)">OpenCms Days 2008</a> zu einer erfolgreichen 2-tägigen Konferenz mit dazugehöriger Ausstellung getroffen. Mehr Informationen dazu finden Sie unter den <a target="_self" href="%(link5)">Veranstaltungen</a> auf opencms.org.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a href="%(link6)" target="_self">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a href="%(link7)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms in der Version 7.0.5 ist nun verfügbar.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.0.5 available]]></Title>
    <Date>1214996460000</Date>
    <Preface><![CDATA[With OpenCms 7.0.5, a number of issues and security problems that persisted in the 7.0.4 release have been fixed. Some new features have been added as well, e.g. syntax highlighting in the text editor.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/080702_v705_releasenotes.html]]></target>
            <uuid>4294c86f-4777-11dd-aefb-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/opencms_days_2008/index.html]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/opencms_days_2008/index.html]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.0.5 of OpenCms is now available for <a target="_self" href="%(link0)">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. The new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>This version fixes a number of issues and security problems that persisted in the 7.0.4 release. Some new features have been added as well.</p>
<h2>General Features of OpenCms 7</h2>
<ul>
    <li>&quot;Direct Edit&quot; allows editing content directly from a web page.</li>
    <li>Structured contents can be defined using simple XML schemas.</li>
    <li>WYSIWYG editor available for unstructured pages.</li>
    <li>Full internal link management for all resources.</li>
    <li>Native support for WebDAV access to the OpenCms VFS.</li>
    <li>Integrated image processing / scaling.</li>
    <li>Integrated full text search on web pages, but also searches in PDF, MS Office etc.</li>
    <li>Full featured internal user management that supports the concept of &quot;Organizational Units&quot; (OUs).</li>
    <li>It is possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>Extensions can be added through a full featured module system.</li>
    <li>A &quot;switch user&quot; (su) function for Administrators in the OpenCms Workplace is available.</li>
    <li>The &quot;Undelete&quot; function is able to restore deleted resources, including deleted subtrees.</li>
    <li>A &quot;time warp&quot; feature in the Workplace allows users to view resources with date expired / date released settings.</li>
    <li>JSP integration allows standards based creation of dynamic functionality in templates, dynamic forms etc.</li>
    <li>Support for Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 and HSQL databases included.</li>
</ul>
<h2>New Features in OpenCms 7.0.5</h2>
<ul>
    <li>Added editor with syntax highlighting functionality for all text based files  (e.g. XML, HTML, JSP)</li>
    <li>Added option for copying content from one locale to another in the XML  content editor</li>
    <li>Added Spanish Localization, contributed by OpenCmsHispano</li>
    <li>Added administration tool for image cache flushing</li>
    <li>Added JQuery module that contains a set of default jQuery libraries</li>
    <li>Added &lt;cms:jquery&gt; tag to use packed/unpacked jQuery versions  depending on the current project</li>
    <li>Fixed security issue 28152 reported by Security Focus</li>
    <li>Fixed security issue 490498 reported by Security Focus</li>
    <li>... and many more</li>
</ul>
<p>Please check out the  <a href="%(link1)">release notes</a> for further details.</p>
<p>OpenCms 7 is highly backward compatible with version 6. An easy to use update wizard for OpenCms Version 6 and prior 7.0.x installations for MySQL, Oracle and PostgreSQL is available.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 8 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>From May 5 to May 6, 2008, the <a href="%(link4)">OpenCms Days conference and expo</a> successfully brought together the OpenCms community to discuss the present and future of OpenCms. More information is available in the <a href="%(link5)">event section on opencms.org</a>.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a href="%(link6)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a href="%(link7)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.0.5 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
