<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE 2.1 erweitert die OpenCms Funktionen erheblich]]></Title>
    <Date>1220004000000</Date>
    <Preface><![CDATA[OCEE erweitert OpenCms durch Unterstützung von LDAP, Clustering, Replikation und verbesserter Performance. Die aktuelle OCEE Version 2.1 bietet umfangreiche neue Funktionen für OpenCms 7. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE ist eine kommerzielle Erweiterung von OpenCms welche unter anderem Unterstützung von LDAP, Clustering, Replikation und verbesserter Performance in OpenCms bietet. Vollständige Informationen zu OCEE erhalten Sie auf der <a href="%(link0)" target="_self">Alkacon Website</a>.</p>
<p>Die aktuelle OCEE Version 2.1 bietet umfangreiche neue Funktionen für OpenCms 7.</p>
<p>Die wichtigsten Neuerungen sind:</p>
<ul>
    <li><i>Unterstützung von mehrstufigen Server-Szenarien mit dem OCEE Replicator:</i> Es ist jetzt möglich, die im OpenCms erzeugten Inhalte in mehreren Stufen zu replizieren, so z.B. von einem &quot;Redaktionssystem&quot; zunächst auf ein &quot;Abnahmesystem&quot; und erst danach auf das &quot;Livesystem&quot;. Die Anzahl der Stufen in der Replikation kann frei konfiguriert werden.</li>
    <li><i>Zentrale Konfiguration der Server mit dem OCEE Cluster:</i> Die verschiedenen Server in einem Cluster können nun über ein GUI vom Workplace-Server aus zentral konfiguriert werden. Die betrifft die geplanten Vorgänge (Scheduled Jobs), Modulparameter und die Suchindexkonfiguration.</li>
    <li><i>Unterstützung von Organisationseinheiten im LDAP Connector:</i> Jede Organisationseinheit (OU) im OpenCms kann jetzt an einen eigenen Pfad im LDAP-Server angebunden werden.</li>
    <li><i>Verbesserte Performance im OCEE Accelerator:</i> Nach dem Veröffentlichen von Inhalten bleiben unveränderte Eigenschaften im Cache nun erhalten.</li>
</ul>
<p>Dieses Release hat folgende Versionsnummern:</p>
<p><strong>OCEE 2.1.0 für OpenCms 7</strong> - <strong>OCEE 1.0.16 für OpenCms 6</strong></p>
<p>In den <a target="_self" href="%(link1)">OCEE Release Notes</a> finden Sie die vollständige Beschreibung der neuen Funktionen und Verbesserungen dieser Version.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms Enterprise Extensions OCEE Version 2.1.0 (für OpenCms 7) und 1.0.16 (für OpenCms 6) sind jetzt verfügbar.]]></Description>
      <Keywords><![CDATA[Alkacon OCEE, OpenCms OCEE, OpenCms Enterprise Extensions, OpenCms LDAP, OpenCms Cluster, OpenCms Replikation]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE 2.1 substantially extends OpenCms functionality]]></Title>
    <Date>1220004000000</Date>
    <Preface><![CDATA[OCEE for OpenCms offers Support for LDAP, Clustering, Replication and improved performance. The latest OCEE release version 2.1 is a major update that introduces a number of new features for OpenCms 7.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance. Full information about OCEE is available on the <a target="_self" href="%(link0)">Alkacon website</a>.</p>
<p>The latest OCEE release version 2.1 is a  major update that introduces a number of new features for OpenCms 7.</p>
<p>The most important new features are:</p>
<ul>
    <li><i>Support for multi-staging scenarios with the OCEE Replicator:</i> You can configure a &quot;development&quot; server that first pushes all generated content to a &quot;staging&quot; server e.g. for approval, and then afterwards to the &quot;delivery&quot; server. This is freely configurable, and there is no limit on the number of stages.</li>
    <li><i>Centralized configuration of servers with the OCEE Cluster:</i> You can now edit the scheduled jobs, search index configuration and module parameters for all individual servers in the cluster from a common GUI in the workplace server.</li>
    <li><i>Support for OpenCms OUs in the LDAP Connector:</i> It is now possible to connect each OpenCms OU with an individual path in the LDAP Server.</li>
    <li><i>Improved performance with the OCEE Accelerator:</i> A much improved cache policy in the Accelerator now selectively flushes only certain cached items after a publish instead of just flushing everything.</li>
</ul>
<p>This OCEE release has the following version numbers:</p>
<p><strong>OCEE 2.1.0 for OpenCms 7</strong> - <strong>OCEE 1.0.16 for OpenCms 6</strong></p>
<p>Please see the <a target="_self" href="%(link1)">OCEE release notes</a> for a full descriptions about the new features and changes in this version.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms Enterprise Extensions OCEE Version 2.1.0 (for OpenCms 7) and 1.0.16 (for OpenCms 6) are now available.]]></Description>
      <Keywords><![CDATA[Alkacon OCEE, OpenCms OCEE, OpenCms Enterprise Extensions, OpenCms LDAP, OpenCms Cluster, OpenCms Replication]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
