<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Zusammenfassung des ersten OpenCms Entwickler-Sprints]]></Title>
    <Date>1221231600000</Date>
    <Preface><![CDATA[Der erste OpenCms Entwickler-Sprint wurde vom 09. bis 10. September 2008 im KOMED Seminarzentrum in Köln durchgeführt. Insgesamt 10 Entwickler nahmen am dem Sprint teil. Eine Zusammenfassung und die Ergebnisse des Sprints sind ab sofort verfügbar. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/development/revision-control.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/sprints/08september/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/sprints/08september/photos/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Der erste Opencms Entwickler-Sprint wurde vom 09. bis 10. September 2008 im KOMED Seminarzentrum in Köln durchgeführt. Insgesamt 10 Entwickler nahmen am dem Sprint teil.</p>
<p>Der Sprint wurde von Alexander Kandzior, führender OpenCms Entwickler und Geschäftsführer von  <a href="%(link0)">Alkacon Software</a> moderiert.</p>
<p>Zunächst wurde eine Liste von möglichen Themen für den Sprint präsentiert, aus der sich jeder Teilnehmer nach einer kurzen Diskussion die Themen aussuchte, an denen er in den 2 Tagen des Sprints arbeiten wollte. Während des ersten Vormittages wurde auf den Notebooks der Teilnehmer der Source Code von OpenCms 7.0.5 aus dem  <a href="%(link1)">öffentlichen CVS</a> mit Eclipse als IDE installiert, da diese Umgebung als Ausgangsbasis für weitere Arbeiten am Source Code des OpenCms Kerns verwendet wurde.</p>
<p>Der weitere Verlauf des Sprints gestaltete sich sehr produktiv. Am Abend des ersten Tages trafen sich alle Teilnehmer zu einem netten, gemeinsamen Abendessen. Danach wurde von einigen Teilnehmern noch das Nachtleben von Köln erkundet. Am zweiten Tag wurde konzentriert an den ausgewählten Themen weitergearbeitet. Die sehr interessanten Resultate, die im Laufe des Sprints erzielt wurden, sind auf den  <a href="%(link2)">englischen Seiten zu diesem Sprint</a> verfügbar.</p>
<p>Fotos von der Veranstaltung sind (mit englischem Kommentar) verfügbar in der  <a href="%(link3)">Fotostrecke zum ersten OpenCms Sprint</a>.</p>
<p>Nach den beiden Tagen waren die Teilnehmer einhellig der Meinung, dass der Sprint eine wertvolle Veranstaltung ist, die in Zukunft wiederholt werden sollte.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencms_sprint_2rows.jpg]]></target>
            <uuid>d4a3379a-54d0-11dd-aa8d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Sprint, veranstaltet von Alkacon Software, 09.-10 September 2008 in Köln, Deutschland]]></Description>
      <Keywords><![CDATA[OpenCms sprint, Java sprint, Hackathon, CMS, J2EE, OSS, Open Source sprint, Content Management hackathon]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Summary of the first OpenCms development Sprint]]></Title>
    <Date>1221231600000</Date>
    <Preface><![CDATA[The first OpenCms Sprint was held September 9-10, 2008 in the KOMED convention center in Cologne, Germany. A total of 10 developers attended the Sprint. Results and Proceedings of the Sprint are now available for download.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/sprints/08september/Slides_OpenCmsSprint1.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/revision-control.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/sprints/08september/photos/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The first ever OpenCms Sprint was held September 9-10, 2008 in the KOMED convention center in Cologne, Germany. A total of 10 developers attended the Sprint.</p>
<p>The Sprint was moderated by Alexander Kandzior, OpenCms lead developer and CEO of  <a href="%(link0)">Alkacon Software</a>. Alexander first presented a  <a href="%(link1)">list of possible topics for the sprint</a> compiled from previous input of the participants and other OpenCms users.</p>
<p>After a brief discussion, each Sprint participant selected a topic to work on. The first half of day one was then spend in setting up the working environment on the participants notebooks by installing OpenCms 7.0.5 checked out from  <a href="%(link2)">public CVS</a> with Eclipse as an IDE. This environment was then used to dig in to the OpenCms core.</p>
<p>The Sprint continued in a productive atmosphere. The evening of the first day was spend together with a nice dinner and some intro to the Cologne nightlife. On the second day, everyone was pretty busy working on the topic of choice in order to get some results accomplished. Photos from the event are available in the  <a href="%(link3)">Sprint photo gallery</a>.</p>
<p>In summary, after 2 days everyone agreed that this was a valuable event which should be repeated in the future.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencms_sprint_2rows.jpg]]></target>
            <uuid>d4a3379a-54d0-11dd-aa8d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms sprint, hosted by Alkacon Software September 9 to 10, 2008 in Cologne, Germany]]></Description>
      <Keywords><![CDATA[OpenCms sprint, Java sprint, Hackathon, CMS, J2EE, OSS, Open Source sprint, Content Management hackathon]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
