<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2009 - Call for Papers]]></Title>
    <Date>1233126000000</Date>
    <Preface><![CDATA[Die OpenCms Days 2009 werden von Montag, dem 15 Juni, bis Dienstag, 16 Juni 2009 in Köln veranstaltet. Wollen Sie diese besondere Veranstaltung aktiv mitgestalten? Falls ja, so reichen Sie Ihren Vorschlag für die Konferenz jetzt ein.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die OpenCms Days 2009 werden von Montag, dem 15 Juni, bis Dienstag, 16 Juni 2009 in Köln veranstaltet.</p>
<h2>Mit OpenCms in der Rezession Kosten sparen</h2>
<p>Das Motto der diesjährigen OpenCms Days ist &quot;Mit OpenCms in der Rezession Kosten sparen&quot; (In Englisch: &quot;Using OpenCms to cut costs in times of recession&quot;). Analysten sind sich einig, dass der Einsatz von Open Source Software eine sinnvolle Option ist, die IT Kosten zu senken. OpenCms bietet eine hervorragende Möglichkeit, die Kosten für IT oder Web-Marketing Projekte zu reduzieren. Diese aktuelle Thematik wird daher im Zentrum der diesjährigen Veranstaltung stehen.</p>
<h2>Reichen Sie Ihren Vorschlag bis zum 20. März ein</h2>
<p>Wollen Sie Ihr OpenCms Projekt oder Ihre Entwicklung rund um OpenCms auf den OpenCms Days 2009 präsentieren? Falls ja, so reichen Sie Ihren Vorschlag bis zum 20.03.2009 ein.</p>
<p>Die OpenCms Days 2009 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler. Eine Präsentation sollte ca. 60 Minuten dauern, wobei etwa 45 Minuten auf den Vortrag, und 15 Minuten auf eine daran anschließende Diskussion entfallen. Andere Formate, wie z.B. Diskussionsrunden oder Workshops zu bestimmten Themen können gerne ebenfalls Vorgeschlagen werden.</p>
<p>Die ersten bestätigten Redner werden am 4 März 2009 bekannt gegeben. Bis zum 20.03.2009 können Vorschläge für die Konferenz eingereicht werden. Die entgültige Liste der Redner, so wie auch das vollständige Programm zur Konferenz, werden auf der Website der OpenCms Days vom 1 April an verfügbar sein.</p>
<p><b>Hinweis: </b>Die OpenCms Days 2009 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<h2>Redner haben freien Eintritt zu der Konferenz</h2>
<p>Alle bestätigten Redner haben natürlich freien Eintritt zu den OpenCms Days 2009. Wir werden außerdem versuchen, die Reisekosten der Redner für die Teilnahme an der Veranstaltung vollständig zu übernehmen.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2009 - 15 bis 16 Juni 2009]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Werden Sie Redner auf den OpenCms Days 2009 - 15 bis 16 Juni 2009]]></Description>
      <Keywords><![CDATA[OpenCms Days 2009 Redner, OpenCms Days 2009 Konferenz, Content Management Konferenz, Open Source Konferenz 2009]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1233129600000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2009 - Call for Participation]]></Title>
    <Date>1233126000000</Date>
    <Preface><![CDATA[OpenCms Days 2009 will take place from Monday, June 15 to Tuesday, June 16, 2009 in Cologne, Germany. Do you have something to contribute to this unique gathering of OpenCms professionals? If you do, please submit your session proposal.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2009 will take place from Monday, June 15 to Tuesday, June 16, 2009 in Cologne, Germany.</p>
<h2>Using OpenCms to cut costs in times of recession</h2>
<p>This year's OpenCms Days motto is &quot;Using OpenCms to cut costs in times of recession&quot;. Analysts agree that a way to reduce IT costs is using Open Source Software. OpenCms certainly is a viable option to reduce IT and web marketing costs, and the 2009 conference will focus on this issue.</p>
<h2>Call for Papers now open - Ends March 20, 2009</h2>
<p>Do you have something to contribute to this unique gathering of OpenCms professionals? If you do we'd like to hear from you.</p>
<p>We are looking for proposals for business and technical sessions. Each session will be about 60 minutes long. A typical presentation session should be 45 minutes, followed by a 15 minutes discussion. Other session formats, such as workshops, roundtable discussions and BOF meetings, are also possible.</p>
<p>A first group of speakers will be confirmed by March 4, 2009. The deadline for sending session proposals is March 20. The final list of speakers and the full program will be available on the event website starting April 1, 2009.</p>
<p>OpenCms Days 2009 is targeted towards an international audience. The language spoken at the event will be English, and all presentations will be held in English language, too.</p>
<h2>Speaker expenses will be covered</h2>
<p>All confirmed speakers will have free access to OpenCms Days 2009. We will also try to reimburse all speakers for their travel and hotel costs expenses for attending the event.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2009 - June 15 to June 16, 2009]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Become a speaker at OpenCms Days 2009 - June 15 to June 16, 2009]]></Description>
      <Keywords><![CDATA[OpenCms Days 2009 Speaker, OpenCms 2009 conference Speaker, Content Management conference, Open Source conference 2009]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1233129600000</Release>
    </Availability>
  </Article>
</ArticleData>
