<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2009 - Konferenz und Ausstellung]]></Title>
    <Date>1236150000000</Date>
    <Preface><![CDATA[Die OpenCms Days 2009 werden von Montag, dem 15 Juni, bis Dienstag, 16 Juni 2009 in Köln veranstaltet. Das Motto der diesjährigen OpenCms Days ist "Mit OpenCms in der Rezession Kosten sparen". Nehmen Sie teil und tauschen Sie sich mit führenden OpenCms Experten aus.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die OpenCms Days 2009 werden von Montag, dem 15 Juni, bis Dienstag, 16 Juni 2009 in Köln veranstaltet.</p>
<h2>Mit OpenCms in der Rezession Kosten sparen</h2>
<p>Das Motto der diesjährigen OpenCms Days ist &quot;Mit OpenCms in der Rezession Kosten sparen&quot; (In Englisch: &quot;Using OpenCms to cut costs in times of recession&quot;). Analysten sind sich einig, dass der Einsatz von Open Source Software eine sinnvolle Option ist, die IT Kosten zu senken. OpenCms bietet eine hervorragende Möglichkeit, die Kosten für IT oder Web-Marketing Projekte zu reduzieren.</p>
<p>Nehmen Sie teil und tauschen Sie sich mit führenden OpenCms Experten wie Kernentwicklern, erfahrenen Consultants, unabhängigen CMS Analysten, führenden Meinungsbildnern und anderen OpenCms Anwendern aus.</p>
<p><strong>Die OpenCms Days 2009 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler:</strong></p>
<ul>
    <li>Die Vortragsreihe für Anwender konzentriert sich auf OpenCms Beispielprojekte und Einsparungsmöglichkeiten mit OpenCms, sowie Best Practices und typische Geschäftsprozesse mit OpenCms.</li>
    <li>Die technische Vortragsreihe richtet sich an Entwickler und bietet detaillierte, praxisnahe Präsentationen und Workshops zur OpenCms Programmierung.</li>
</ul>
<p><b>In der zur Konferenz gehörenden Ausstellung präsentieren Anbieter Ihre speziellen Branchen- und Technologielösungen für OpenCms.</b></p>
<p>Die OpenCms Days 2009 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p>Die Vorträge der OpenCms Days 2009 werden durch eine Reihe namhafter internationaler Sprecher der OpenCms Community gehalten.</p>
<p><strong>Teilnahmegebühr:</strong></p>
<div>Frühbucher-Preis (bis&nbsp;zum 31. März 2009)<span>:&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <strong>180,- Euro</strong></span></div>
<p><span>Reguläre Teilnahmegebühr (ab dem 31. März 2009): <strong>200,- Euro</strong></span></p>
<p>Das vollständige Konferenz-Programm wird am 1. April 2009 auf der Website der Konferenz veröffentlicht.</p>
<p class="sml">Die OpenCms Days 2009 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die Förderung der Verbreitung von OpenCms und die Stärkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2009 - 15 bis 16 Juni 2009]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2009 finden vom 15 Juni 2009 bis zum 16. Juni 2009 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2009 Konferenz, OpenCms Days 2009 Ausstellung, Content Management Konferenz, Open Source Konferenz 2009]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1236153600000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2009 - Conference and Expo]]></Title>
    <Date>1236150000000</Date>
    <Preface><![CDATA[OpenCms Days 2009 will take place from Monday, June 15 to Tuesday, June 16, 2009 in Cologne, Germany. This year's OpenCms Days motto is "Using OpenCms to cut costs in times of recession". Be there to meet and mingle with leading OpenCms experts.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2009 will take place from Monday, June 15 to Tuesday, June 16, 2009 in Cologne, Germany.</p>
<h2>Using OpenCms to cut costs in times of recession</h2>
<p>This year's OpenCms Days motto is &quot;Using OpenCms to cut costs in times of recession&quot;. Analysts agree that a way to reduce IT costs is using Open Source Software. OpenCms certainly is a viable option to reduce IT and web marketing costs, and the 2009 conference will focus on this issue.</p>
<p>Be there to meet and mingle with leading OpenCms experts such as core developers, experienced consultants, independent CMS analysts, executive decision makers and other OpenCms users.</p>
<p><strong>OpenCms Days 2009 conference will feature 2 parallel tracks with Business and Technical sessions:</strong></p>
<ul>
    <li>Business track sessions will emphasize on cost saving opportunities using OpenCms, as well as best practices, industry discussions and management decision making insights to OpenCms projects.</li>
    <li>Technical sessions will be targeted towards developers and show cutting edge OpenCms developments that can be included as &quot;ready made&quot; components in your next project.</li>
</ul>
<p><b>At the OpenCms Days 2009 conference expo, OpenCms solution providers will exhibit their OpenCms business solutions and enhancements.</b></p>
<p>OpenCms Days 2009 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p>OpenCms Days 2009 will feature a lineup of prestigious international speakers from the OpenCms community.</p>
<p><strong>Registration price:</strong></p>
<p>Early bird registration (by March 31): <strong>180,- Euro</strong><br />
Normal registration (after March 31): <strong>200,- Euro</strong></p>
<p>The full program and list of speakers will be available April 1, 2009 from the conference website.</p>
<p class="sml">OpenCms Days 2009 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2009 - June 15 to June 16, 2009]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2009 takes place June 15 to June 16, 2009]]></Description>
      <Keywords><![CDATA[OpenCms Days 2009 Info, OpenCms 2009 Program, Content Management conference, Open Source conference 2009]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1236153600000</Release>
    </Availability>
  </Article>
</ArticleData>
