<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2009 - Vollständiges Programm veröffentlicht]]></Title>
    <Date>1238594400000</Date>
    <Preface><![CDATA[Das Programm für die OpenCms Days 2009 Konferenz beinhaltet 19 Vorträge. Die OpenCms Days 2009 finden vom 15 bis zum 16 Juni in Köln statt. Registrieren Sie sich jetzt - die Anzahl der Plätze für die Konferenz ist begrenzt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/downloads/OpenCmsDays2009_Program.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2009 werden von Montag, 15 Juni, bis Dienstag, 16 Juni in Köln veranstaltet.</p>
<p>Das vollständige Programm für die OpenCms Days 2009 finden sie ab sofort auf der aktualisierten <a href="%(link0)" target="_self">Webseite</a> der Konferenz. Das Programm bietet insgesamt 19 Vorträge. Mit zahlreichen namhaften internationalern Sprechern aus der ganzen Welt werden die OpenCms Days die größte Veranstaltung für die OpenCms Community 2009.</p>
<p><i>Update: Das vollständige Programm ist jetzt auch als <a href="%(link1)" target="_self">PDF Datei zum Download</a> verfügbar.</i></p>
<p><strong><a href="%(link2)" target="_self">Registrieren Sie sich jetzt</a> - die Anzahl der Plätze für die Konferenz ist begrenzt.</strong></p>
<p><strong>Teilnahmegebühr:</strong><span><span style="font-weight: bold;"> </span><strong>200,- Euro</strong></span></p>
<h2>Mit OpenCms in der Rezession Kosten sparen</h2>
<p>Das Motto der diesjährigen OpenCms Days ist &quot;Mit OpenCms in der Rezession Kosten sparen&quot; (In Englisch: &quot;Using OpenCms to cut costs in times of recession&quot;). Analysten sind sich einig, dass der Einsatz von Open Source Software eine sinnvolle Option ist, die IT Kosten zu senken. OpenCms bietet eine hervorragende Möglichkeit, die Kosten für IT oder Web-Marketing Projekte zu reduzieren.</p>
<p>Nehmen Sie teil und tauschen Sie sich mit führenden OpenCms Experten wie Kernentwicklern, erfahrenen Consultants, unabhängigen CMS Analysten, führenden Meinungsbildnern und anderen OpenCms Anwendern aus.</p>
<p><strong>Die OpenCms Days 2009 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler:</strong></p>
<ul>
    <li>Die Vortragsreihe für Anwender konzentriert sich auf OpenCms Beispielprojekte und Einsparungsmöglichkeiten mit OpenCms, sowie Best Practices und typische Geschäftsprozesse mit OpenCms.</li>
    <li>Die technische Vortragsreihe richtet sich an Entwickler und bietet detaillierte, praxisnahe Präsentationen und Workshops zur OpenCms Programmierung.</li>
</ul>
<p><b>In der zur Konferenz gehörenden Ausstellung präsentieren Anbieter Ihre speziellen Branchen- und Technologielösungen für OpenCms.</b></p>
<p>Die OpenCms Days 2009 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p class="sml">Die OpenCms Days 2009 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die Förderung der Verbreitung von OpenCms und die Stärkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2009 finden von Montag, 15. Juni bis Dienstag 16. Juni 2009 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Programm, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2009 - Complete conference program available]]></Title>
    <Date>1238594400000</Date>
    <Preface><![CDATA[The complete conference program of OpenCms Days 2009 features 19 sessions. OpenCms Days 2009 will take place from June 15 to 16 in Cologne, Germany. Register your ticket now - only a limited number of seats are available!]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/index.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/downloads/OpenCmsDays2009_Program.pdf]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2009 will take place from Monday, June 15 to Tuesday, June 16 in Cologne, Germany.</p>
<p>The complete conference program for OpenCms Days 2009 is now available at the conference <a target="_self" href="%(link0)">website</a>. The program features 19 sessions with numerous high-profile speakers from all over the world. OpenCms Days 2009 will be the largest event for the OpenCms community this year.</p>
<p><i>Update: The complete conference program is now available for <a href="%(link1)" target="_self">download as a PDF file</a>. </i></p>
<p><strong><a target="_self" href="%(link2)">Register your ticket now</a> - only a limited number of seats are available!</strong></p>
<p>Regular conference registration price:<strong> 200,- Euro</strong></p>
<h2>Using OpenCms to cut costs in times of recession</h2>
<p>This year's OpenCms Days motto is &quot;Using OpenCms to cut costs in times of recession&quot;. Analysts agree that a way to reduce IT costs is using Open Source Software. OpenCms certainly is a viable option to reduce IT and web marketing costs, and the 2009 conference will focus on this issue.</p>
<p>Be there to meet and mingle with leading OpenCms experts such as core developers, experienced consultants, executive decision makers and other OpenCms users.</p>
<p><strong>OpenCms Days 2009 conference will feature 2 parallel tracks with Business and Technical sessions:</strong></p>
<ul>
    <li>Business track sessions will emphasize on cost saving opportunities using OpenCms, as well as best practices, industry discussions and management decision making insights to OpenCms projects.</li>
    <li>Technical sessions will be targeted towards developers and show cutting edge OpenCms developments that can be included as &quot;ready made&quot; components in your next project.</li>
</ul>
<p><b>At the OpenCms Days 2009 conference expo, OpenCms solution providers will exhibit their OpenCms business solutions and enhancements.</b></p>
<p>OpenCms Days 2009 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p class="sml">OpenCms Days 2009 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2009 takes place from Monday, June 15 to Tuesday, June 16 2009 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days program, OpenCms conference program, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
