<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.5 Beta verfügbar]]></Title>
    <Date>1242662400000</Date>
    <Preface><![CDATA[Die Beta Version von OpenCms 7.5 ist nun im öffentlichen CVS verfügbar. OpenCms 7.5 ist ein größeres Update und beinhaltet eine Reihe von neuen Funktionen für den OpenCms Kern.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Neue Version wird am 15 Juni auf den OpenCms Days 2009 vorgestellt]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/program/sessions/k1.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die Beta Version von OpenCms 7.5 ist nun im öffentlichen CVS verfügbar (Tag &quot;build_75beta_1&quot;). OpenCms 7.5 ist ein größeres Update und beinhaltet eine Reihe von neuen Funktionen für den OpenCms Kern.</p>
<p>Die finale Version von OpenCms 7.5 wird am 15 Juni auf den <a target="_self" href="%(link0)">OpenCms Days 2009</a> in Köln veröffentlicht. Alexander Kandzior, leitender Systemarchitekt in der OpenCms Entwicklung, wird die neuen Funktionen von OpenCms 7.5 in der <a target="_self" href="%(link1)">Eröffnungsrede der Konferenz</a> präsentieren. Weiterhin wird er die Roadmap für die Entwicklung von OpenCms Version 8 präsentieren, deren Veröffentlichung  gegen Ende 2010 geplant ist.</p>
<p>Verschiedene andere Vorträge auf den <a target="_self" href="%(link2)">OpenCms Days 2009</a> werden die neuen Funktionen von OpenCms 7.5 im Detail erläutern.</p>
<p>Die wichtigsten Neuerungen in OpenCms 7.5:</p>
<ul>
    <li>Die stark verbesserte Bildergalerie ermöglicht es, Bildausschnitte frei auszuwählen und zu vergrößern.</li>
    <li>Der Editor für XML Contents kann jetzt große XML Strukturen auf mehrere Tabulatoren verteilen.</li>
    <li>Die Volltextsuche kann jetzt auch in Offline Projekten Dateien &bdquo;on the fly&ldquo; indizieren.</li>
    <li>Dateien deren Gültigkeitsdatum überschritten ist können jetzt automatisch nach einer einstellbaren Zeit gelöscht werden.</li>
    <li>Kategorien können jetzt zusätzlich zu den globalen Kategorien auch individuell pro Website definiert werden.</li>
    <li>Es ist jetzt möglich, in einer JSP direkt auf das XML eines strukturierten Inhalts zuzugreifen, indem man den EL content wrapper verwendet.</li>
    <li>Neuer Demoinhalt für Template 2 genannt &quot;Die Wunderbare Welt der Blumen&quot; ist jetzt verfügbar.</li>
    <li>Alle externen Editoren (FCKeditor, EditArea) wurden auf die jeweils neuste Version gebracht.</li>
    <li>Diverse weitere Verbesserungen.</li>
    <li>Eine Vielzahl von berichteten Problemen wurde behoben.</li>
</ul>
<p>Ein Wizard für das Update einer existierenden Version 7.0.5 auf die Version 7.5 wird mit der finalen Version erhältlich sein.</p>
<p>Die Hauptentwicklung der Version 7.5 von OpenCms wird durch <a target="_self" href="%(link3)">Alkacon Software</a> mit der Unterstützung der OpenCms Community durchgeführt. Die erste Beta der Version 7.5 wurde am 18. Mai 2009 verfügbar gemacht.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Version 7.5 Beta des populären Content Management Systems CMS OpenCms ist jetzt verfügbar.]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Update, Veröffentlichung, Neue CMS Version, Verbessterte CMS Funktion]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.5 Beta available]]></Title>
    <Date>1242662400000</Date>
    <Preface><![CDATA[The beta version of OpenCms 7.5 is now available in the public CVS. OpenCms 7.5 is a major update that adds several new features to the OpenCms core.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[New Version to be presented June 15 at OpenCms Days 2009]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/program/sessions/k1.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>The beta version of OpenCms 7.5 is now available in the public CVS (tag &quot;build_75beta_1&quot;). OpenCms 7.5 is a major update that adds several new features to the OpenCms core.</p>
<p>OpenCms 7.5 final will be released June 15 at <a href="%(link0)" target="_self">OpenCms Days 2009</a> in Cologne, Germany. OpenCms lead architect Alexander Kandzior will present the new features of OpenCms 7.5 at his conference <a href="%(link1)" target="_self">keynote session</a>. He will also explain the further development roadmap towards OpenCms 8, which is scheduled for late 2010.</p>
<p>Several other sessions at <a href="%(link2)" target="_self">OpenCms Days 2009</a> will be explaining the new features of OpenCms 7.5 in detail.</p>
<p>Main features of OpenCms 7.5:</p>
<ul>
    <li>Much improved image galleries now feature integrated cropping and zooming of image parts.</li>
    <li>The XML content editor can now split large XML structures in several tabs.</li>
    <li>The full text search is now able to index changed documents in the offline projects &quot;on the fly&quot;.</li>
    <li>Expired resources can now be automatically deleted after a configurable time.</li>
    <li>Categories can now be defined per site in addition to the global categories.</li>
    <li>It is now possible to access the raw XML of a structured content in a JSP using the EL content wrapper.</li>
    <li><span>New demo content for Template 2 called &quot;The Wonderful World of Flowers&quot; is available.</span></li>
    <li><span>All external editors (FCKeditor, EditArea) have been updated to their newest versions, fixing several display issues in later browsers.</span></li>
    <li>Several other improvements and component updates.</li>
    <li>Lots of reported issues have been fixed.</li>
</ul>
<p>A wizard for updating an OpenCms 7.0 installation to OpenCms 7.5 will be provided with the final release.</p>
<p>The main development on OpenCms 7.5 is done by <a href="%(link3)">Alkacon Software</a> with contributions from the OpenCms community. This beta version has been made available May 18, 2009.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Version 7.5 Beta of the popular content management system CMS OpenCms is now available]]></Description>
      <Keywords><![CDATA[OpenCms, Alkacon, Update, Release, New CMS Version, Improved CMS Functions]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
