<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.5 verfügbar]]></Title>
    <Date>1245049200000</Date>
    <Preface><![CDATA[Version 7.5 von OpenCms ist ab sofort verfügbar und kann von der OpenCms Website herunter geladen werden. OpenCms 7.5 ist ein größeres Update und beinhaltet eine Reihe von neuen Funktionen für den OpenCms Kern.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/090615_v750_releasenotes.html]]></target>
            <uuid>73f7f9ad-5596-11de-8596-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/events/opencms_days_2012.html]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.5.0 von OpenCms ist ab sofort verfügbar und kann von der <a target="_self" href="%(link0)">OpenCms Website</a> herunter geladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch die internationale Community von OpenCms Entwicklern.</p>
<p>OpenCms 7.5 ist ein größeres Update und beinhaltet eine Reihe von neuen Funktionen für den OpenCms Kern.</p>
<h2>Neue Funktionen von OpenCms 7.5</h2>
<ul>
    <li>Auswahl eines Bildausschnitts in Bildergalerien.</li>
    <li>Neue Galerien mit AJAX Funktionen für integrierte Editoren.</li>
    <li>Galeriedialoge unterstützen die Suche nach Elementen nach Kategorie.</li>
    <li>Der Editor für strukturierte XML Inhalte wird durch Verwendung von Reitern bei komplexen Strukturen übersichtlicher.</li>
    <li>Die Volltextsuche kann geänderte Dateien in Offline Projekten &quot;on the fly&quot; ohne Publizierung indexieren.</li>
    <li>Neue Demo Inhalte für Template 2 mit dem Thema &quot;Die wunderbare Weilt der Blumen&quot;.</li>
    <li>Alle externen Editoren wurden auf die neuesten Versionen erneuert.</li>
    <li>Neuer Cronjob, um abgelaufene Ressourcen automatisch nach einer konfigurierbaren Zeitspanne zu löschen.</li>
    <li>Kategorien können zusätzlich zu den globalen Kategorien dezentralisiert definiert werden.</li>
    <li>In einer JSP kann die XML Struktur von XML Inhalten mit Hilfe des EL Content Wrappers direkt ausgelesen werden.</li>
    <li>Zahlreiche andere Verbesserungen und Updates.</li>
    <li>Viele Fehler und Probleme wurden behoben.</li>
</ul>
<h2>Allgemeine Funktionen von OpenCms 7.5.0</h2>
<ul>
    <li>&quot;Direct Edit&quot; ermöglicht das Bearbeiten von Inhalten aus der Webseitenansicht.</li>
    <li>Strukturierte Inhalte können durch einfache XML Schemas definiert werden.</li>
    <li>Ein WYSIWYG Editor für unstrukturierte Inhalte ist verfügbar.</li>
    <li>Durch das integrierte Linkmanagement wird die Korrektheit aller Links innerhalb einer Website gewährleistet. Auch das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist problemlos möglich.</li>
    <li>Die WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme.</li>
    <li>Integrierte Bildverarbeitung / -skalierung.</li>
    <li>Integrierte Volltextsuche auf Webseiten, aber auch in PDF, MS Office etc.</li>
    <li>Vollständige Benutzerverwaltung inklusive Unterstützung von &quot;Organisationseinheiten&quot;.</li>
    <li>Benutzer und Gruppen können dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden, die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Das Modulsystem von OpenCms ermöglicht das einfache Hinzufügen von nachträglichen Erweiterungen.</li>
    <li>JSP Integration ermöglicht das einfache und Standard konforme Erstellen von Templates und anderen dynamischen Funktionen.</li>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 sowie HSQL.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a href="%(link2)" target="_self">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a href="%(link3)" target="_self">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>Vom 15. bis 16. Juni 2009 treffen sich außerdem sich zum zweiten Mal internationale OpenCms Anwender und Entwickler auf den <a target="_self" href="%(link4)">OpenCms Days 2009</a> zu einer 2-tägigen Konferenz mit dazugehöriger Ausstellung. Mehr Informationen dazu finden Sie auf der Website <a target="_self" href="%(link5)">opencms-days.org</a>.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a href="%(link6)" target="_self">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a href="%(link7)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms in der Version 7.5.0 ist nun verfügbar.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.5 available]]></Title>
    <Date>1245049200000</Date>
    <Preface><![CDATA[Version 7.5 of OpenCms is now available for download. OpenCms 7.5 is a major update that adds several new features to the OpenCms core, including support for image cropping and advanced content galleries.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/090615_v750_releasenotes.html]]></target>
            <uuid>73f7f9ad-5596-11de-8596-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/events/opencms_days_2012.html]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.5.0 of OpenCms is now available for <a href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. The new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>With OpenCms 7.5.0, new features were added and a lot of issues and security problems that persisted in the 7.0.5 release have been fixed.</p>
<h2>New Features in OpenCms 7.5.0</h2>
<ul>
    <li>Support for image cropping in image gallery.</li>
    <li>New galleries with advanced AJAX features available in structured content and free page editor.</li>
    <li>Galleries dialog now also support grouping of elements by category.</li>
    <li>Support for tabs in the XML content editor.</li>
    <li>Offline search indexing without publishing  in the Lucene based full text search.</li>
    <li>New demo content &quot;Wonderful World of Flowers&quot;.</li>
    <li>Updated external editor components to latest stable versions.</li>
    <li>New scheduled job to delete expired resources.</li>
    <li>Added support for decentralized categories.</li>
    <li>It is now possible to access the raw XML of a structured content in a JSP using the EL content wrapper<span>.<br />
    </span></li>
    <li>Several other improvements and component updates.</li>
    <li>Lots of reported issues have been fixed.</li>
</ul>
<h2>General Features of OpenCms 7.5</h2>
<ul>
    <li>Support for Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 and HSQLDB databases included.</li>
    <li>The internal link management has been greatly improved.</li>
    <li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>
    <li>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</li>
    <li>The new &quot;Content Relationship Engine&quot; (CRE) allows defining arbitrary relations between OpenCms resources.</li>
    <li>Native support for WebDAV access to the OpenCms VFS has been added.</li>
    <li>Publishing of resources is now done using a queue, so a user can continue to work after publishing has started.</li>
    <li>The concept of &quot;Organization Units&quot; (OUs) has been added to the internal user management.</li>
    <li>System permissions are now based on a complete new set of &quot;Roles&quot;.</li>
    <li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>A &quot;switch user&quot; (su) function for Administrators in the OpenCms Workplace is now available.</li>
    <li>Many usability improvements for the OpenCms Workplace have been made, especially concerning the handling of other users locks.</li>
    <li>Many dialogs in the OpenCms Workplace are more responsive because of the use of Ajax technologies.</li>
    <li>The context menus in the Workplace are now cascading and can be configured individually based on the users permissions.</li>
    <li>A new &quot;Undelete&quot; function is available on the context menu to restore deleted resources, including complete deleted subtrees.</li>
    <li>The full text search has been greatly improved so that individual resource properties or fields from XML content can be searched directly.</li>
    <li>A &quot;time warp&quot; feature in the Workplace now allows users to view resources with date expired / date released settings.</li>
    <li>Auto correction for structured XML contents now allows changes to the XML schema of existing resources.</li>
    <li>A configurable search tool is now available for content managers in the Workplace.</li>
    <li>... and many more</li>
</ul>
<p>Please check out the  <a href="%(link1)">release notes</a> for further details.</p>
<p>OpenCms 7.5.0 is fully backward compatible to all prior 7.0.x versions. We recommend everyone who uses an earlier version of OpenCms to update to the 7.5.0 release. OpenCms 7.5 is largely backward compatible with version 6. An easy to use update wizard for OpenCms Version 6 and prior 7.0.x installations for MySQL, Oracle and PostgreSQL is available.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 8 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>From June 15 to June 16, 2009, the <a href="%(link4)">OpenCms Days conference and expo</a> will bring together the OpenCms community to discuss the present and future of OpenCms. More information is available on the <a href="%(link5)">event website opencms-days.org</a>.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a href="%(link6)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a href="%(link7)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.5.0 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
