<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Präsentationen und Fotos der OpenCms Days 2009 veröffentlicht]]></Title>
    <Date>1245754800000</Date>
    <Preface><![CDATA[Die Folien der Präsentationen von den Vorträgen der OpenCms Days 2009 können nun herunter geladen werden. Auch eine Fotostrecke mit Bildern der Konferenz ist verfügbar. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/program/slides/index.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/home/photos/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2009 wurden vom Montag, 15. Juni bis Dienstag 16. Juni 2009 in Köln veranstaltet.</p>
<p>Das Motto der diesjährigen OpenCms Days war &quot;Mit OpenCms in der Rezession Kosten sparen&quot; (In Englisch: &quot;Using OpenCms to cut costs in times of recession&quot;). Analysten sind sich einig, dass der Einsatz von Open Source Software eine sinnvolle Option ist, die IT Kosten zu senken. Die Konferenz sollte daher aufgezeigen, dass OpenCms gute Möglichkeiten bietet, die Kosten für IT oder Web-Marketing Projekte zu reduzieren.</p>
<p>In Köln trafen sich etwa 100 OpenCms Anwender und Entwickler zu einer 2-tägigen Konferenz mit dazugehöriger Ausstellung. Dies war eine hervorragende Möglichkeit, sich mit führenden OpenCms Experten wie Kernentwicklern, erfahrenen Consultants, unabhängigen CMS Analysten, führenden Meinungsbildnern und anderen OpenCms Anwendern auszutauschen.</p>
<p><b>Wir hoffen das alle Teilnehmer eine gute Zeit auf den OpenCms Days 2009 verbracht haben. Wir würden uns freuen, Sie nächstes Jahr zu den OpenCms Days 2010 wieder begrüßen zu dürfen.</b></p>
<p>Für alle die nicht an den OpenCms Days 2009 teilnehmen konnten stehen die Präsentationen von den Vorträgen der Konferenz jetzt unter <a href="%(link0)" target="_self">opencms-days.org</a> zum Download bereit. Weiterhin wurde eine <a href="%(link1)" target="_self">Fotostrecke</a> mit Bildern der Konferenz eingerichtet.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die Präsentationen und Fotos von den OpenCms Days 2009 sind jetzt zum Download verfügbar.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2009, OpenCms Konfeenz, Content Management Konferenz, Open Source Konferenz]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Photos and presentations from OpenCms Days 2009 now available]]></Title>
    <Date>1245754800000</Date>
    <Preface><![CDATA[The presentation slides for the OpenCms Days 2009 conference sessions are now available for download. There is also an image gallery available with photos from the conference. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/program/slides/index.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/home/photos/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2009 did take place from  Monday, June 15 to Tuesday, June 16, 2009 in Cologne, Germany.</p>
<p>This year's conference did focus on how OpenCms can be used to deliver top notch web projects and help to successfully overcome shrinking IT and marketing budgets.</p>
<p>About 100 OpenCms users and developers gathered for this 2 day OpenCms conference and expo. This was the best opportunity this year to meet and mingle with leading OpenCms experts such as core developers, experienced consultants, executive decision makers and other OpenCms users.</p>
<p><b>We hope everyone who attended had a great time at OpenCms Days 2009. See you again next year for OpenCms Days 2010!</b></p>
<p>For those who missed the event, the presentation slides from the conference sessions are now available for download from the <a href="%(link0)" target="_self">opencms-days.org</a> website. There is also an <a href="%(link1)" target="_self">image gallery</a> with photos from the conference.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2rows_2009.png]]></target>
            <uuid>e8e13bc2-e89c-11dd-ac41-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Presentation slides and photos from the OpenCms Days 2009 sessions are now available for download. ]]></Description>
      <Keywords><![CDATA[OpenCms Days 2009, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
