<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 7.5.1 release notes]]></Title>
    <Date>1254380340000</Date>
    <Preface><![CDATA[The OpenCms 7.5.1 release notes contain detailed information about the fixes and new features in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 7.5.1. With OpenCms 7.5.1, some additional features have been added to the core system. Moreover, a number of issues have been fixed, including some reported security problems that affected the OpenCms Workplace.</p>
<h2>New features and improvements in OpenCms 7.5.1</h2>
<ul>
    <li>Added context menu entry &quot;Publish scheduled&quot; to publish files at a specified date</li>
    <li>Added context menu entry &quot;Comment content&quot; to view and change the default properties of all files in a folder</li>
    <li>Added improved search dialog and delete resource option to all galleries</li>
    <li>Added selectable start galleries to user preferences and possibility to set start galleries in Workplace configuration</li>
    <li>Added option to export the VFS into a folder structure instead of a .ZIP file</li>
    <li>Added option to hide &quot;Advanced&quot; button of property dialog depending on the current users groups</li>
    <li>Added support for servlet container Sun GlassFish Enterprise Server v2.1 and v3.0 (preview release)</li>
    <li>Added content tool &quot;Property viewer&quot; to view properties from resources in specified folder</li>
    <li>Added content tool &quot;Language node copier&quot; to copy language nodes in XML contents in specified folder</li>
    <li>Added content tool &quot;Convert XML contents&quot; to convert XML contents in specified folder</li>
    <li>Added feature #1636: SMPT ports are now configurable</li>
    <li>Added feature #1741: Out of the box support for JBOSS servlet container</li>
    <li>Improved HTML widget button configuration and unstructured content button configuration options</li>
    <li>Added option to set global default widget configurations</li>
    <li>Added option to limit full text search to certain resource types only</li>
    <li>Added detection of email addresses in editor link dialog</li>
    <li>Updated FCKeditor to version 2.6.5</li>
    <li>Updated Lucene to version 2.4.1</li>
</ul>
<h2>Fixed issues and other changes in OpenCms 7.5.1</h2>
<ul>
    <li>Added fields query option to full text search by which you can search for different terms in several fields</li>
    <li>Added backup re-indexing option to Lucene index generation</li>
    <li>Added option to use the current site macro in the template one form module</li>
    <li>Switched icons from ascending/descending order in lists</li>
    <li>Full text search in documents: exceptions are now catched while extracting the text from documents</li>
    <li>Improved detection of the context-root path (support for GlassFish)</li>
    <li>Fixed issue #1708: User creation settings 'enabled' and 'selfManaged' were not saved</li>
    <li>Fixed issue #1711: HtmlDecorator problem with html-entities</li>
    <li>Fixed issue #1734: normalizePath will now remove leading double slashes of the path</li>
    <li>Fixed issue #1735: Resolved problems with CmsLinkManager and absolute internal links</li>
    <li>Fixed issue #1739: Deleted or moved project resources cannot be removed from project</li>
    <li>Fixed issue #1740: Synchronization of empty folders with real file system</li>
    <li>Fixed issue #1743: Cached users for groups are not invalidated when writing user</li>
    <li>Fixed issue #1744: Concurrency issue of CmsImportExportManager resolved</li>
    <li>Fixed issue #1759: Fixed XSS security issues reported by Security Focus (Bugtraq ID 35979)</li>
    <li>Fixed issue #1775: Endless loop on project names</li>
    <li>Fixed issue #1779: Resolved problem with import of additional CSS stylesheet for template two</li>
    <li>Fixed issue with OU users being unable to work after OU resource has been renamed</li>
    <li>Fixed issue with pointer targets stored in XML contents (instead of the URI to pointers) when selecting them in a link gallery</li>
    <li>Fixed issue with transfer permissions of a deleted user to another user</li>
    <li>Fixed issue with consumed exception messages for email sending</li>
    <li>Fixed issue with noAutoCloseTags attribute of &lt;cms:parse&gt; tag only supporting DIV</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 7.5.1 release.</p>
<p>OpenCms 7.5.1&nbsp; is fully backward compatible to 7.5.0 and all prior 7.0.x versions. Most templates and other OpenCms developed code from version 7 or 7.5 should work &quot;out of the box&quot; with version 7.5.1.</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 7.5 has been written and tested using Java 1.5 / 1.6. We have tested only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works &quot;out of the box&quot; with Tomcat 5.5, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 4.0.x, MySQL 4.1, MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x, MS SQL Server 2000 / 2003, DB2 9.1 and HSQLDB 1.8.0. The automatic update wizard for OpenCms 7 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and CVS build tags</h2>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS tag numbers for all OpenCms 7.5 final releases are &quot;build_7_5_x&quot;, so the 7.5.1 release is tagged &quot;build_7_5_1&quot;. Development of maintenance releases is currently done in CVS HEAD.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a href="%(link0)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p>Please use our Bugzilla to report bugs in this release: <a href="%(link1)">http://bugzilla.opencms.org/<br />
</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 7.5 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 7.5.1, the popular Open Source CMS version 7.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
