<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7.5.2 verfügbar]]></Title>
    <Date>1263974400000</Date>
    <Preface><![CDATA[Version 7.5.2 von OpenCms ist ab sofort zum herunter laden von der OpenCms Website verfügbar. Mit dieser Version werden verschiedene Fehler der Version 7.5.1 behoben, unter anderem Probleme der OpenCms Workplace mit neueren Browsern.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/100119_v752_releasenotes.html]]></target>
            <uuid>eff9e6e5-01d8-11df-bae9-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.5.2 von OpenCms kann ab sofort von der <a href="%(link0)" target="_self">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch eine internationale Community von OpenCms Entwicklern.</p>
<p>Mit OpenCms 7.5.2 wurden hauptsächlich Fehler der Version 7.5.1 behoben, unter anderem Kompatibilitätsprobleme der OpenCms Workplace mit neueren Browserversionen.</p>
<h2>Verbesserungen und andere Änderungen in OpenCms 7.5.2</h2>
<ul>
    <li>Problem #1542 behoben: Links zu exportierten Dateien mit Ankern werden nicht korrekt erzeugt</li>
    <li>Problem #1787 behoben: Fehler beim Aufruf der nächsten Ergebnisseite in der OpenCms Backend Suche</li>
    <li>Problem #1800 behoben: Dateien mit späterem Veröffentlichungsdatum werden indexiert</li>
    <li>Problem #1802 behoben: Die CmsShell arbeitet nicht mit Tomcat 6 unter Linux</li>
    <li>Problem #1809 behoben: Linker Verzeichnisbaum verdoppelt sich beim Anlegen neuer Ordner</li>
    <li>Problem #1819 behoben: FCKeditor arbeitet nicht mit neuen Firefox Versionen</li>
    <li>Problem mit gecachten CmsResource Listen behoben, die nach einer Veröffentlichung nicht gelöscht wurden</li>
    <li>Problem mit Rankingberechnung der Suchergebnisse korrigiert</li>
    <li>Suchfilter Cachingproblem in Administrationslisten behoben</li>
    <li>Problem mit Rollenzuordnung von indirekten Gruppenbenutzern beim Update von v6 auf v7 behoben</li>
    <li>Problem mit fehlender JSP Repository Bereinigung nach einem Modul Import behoben</li>
    <li>Update des EditArea Quelltexteditors auf Version 0.8.2</li>
    <li>Update von Apache Commons Pool auf Version 1.5.4</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a target="_self" href="%(link1)">englischen Release Notes</a> einsehen.</p>
<h2>Allgemeine Funktionen von OpenCms 7.5</h2>
<ul>
    <li>&quot;Direct Edit&quot; ermöglicht das Bearbeiten von Inhalten aus der Webseitenansicht.</li>
    <li>Strukturierte Inhalte können durch einfache XML Schemas definiert werden.</li>
    <li>Editoren für strukturierte XML Inhalte werden automatisch basierend auf XML Schemas erstellt.</li>
    <li>Strukturierte XML Inhalte können im Editor mit &quot;Reitern&quot; gruppiert werden.</li>
    <li>Ein Editor mit Syntax Highlight Funktion ist verfügbar für textbasierte Dateien (z.B. XML, HTML, JSP).</li>
    <li>Ein WYSIWYG Editor für unstrukturierte Inhalte ist verfügbar.</li>
    <li>Einfach zu bedienender &quot;Online / Offline&quot; Workflow.</li>
    <li>Alle Änderungen oder neue Seiten müssen zunächst freigegeben / veröffentlicht werden bevor sie &quot;Online&quot; sind.</li>
    <li>Unsere &quot;Content Relationship Engine&quot; (CRE) ermöglicht das Management aller Links im System.</li>
    <li>Durch das integrierte Linkmanagement wird die Korrektheit aller Links innerhalb einer Website gewährleistet.</li>
    <li>Das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist problemlos möglich.</li>
    <li>Die WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme.</li>
    <li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
    <li>Bilder und weitere Inhalte werden in Gallerien verwaltet, welche über eine AJAX Oberfläche verfügen.</li>
    <li>Alle Gallerien ermöglichen die Gruppierung von Inhalten nach Kategorien oder basierend auf der Dateistruktur.</li>
    <li>Integrierte Volltextsuche auf Webseiten, aber auch in PDF, MS Office Dokumenten etc.</li>
    <li>Volltextsuche auch in nicht-veröffentlichten &quot;Offline&quot; Inhalten.</li>
    <li>Vollständige Benutzerverwaltung inklusive Unterstützung von &quot;Organisationseinheiten&quot;.</li>
    <li>Benutzer und Gruppen können dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden.</li>
    <li>Die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Das Modulsystem von OpenCms ermöglicht das einfache Hinzufügen von nachträglichen Erweiterungen.</li>
    <li>Eine &quot;Time Warp&quot; Funktion in der Workplace ermöglicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr veröffentlicht sind.</li>
    <li>JSP Integration ermöglicht das einfache und standardkonforme Erstellen von Templates und anderen dynamischen Funktionen.</li>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 sowie HSQL.</li>
    <li>Der Download beinhaltet eine vollständige Demo Website &quot;Die Wunderbare Welt der Blumen&quot;.</li>
    <li>... und vieles mehr.</li>
</ul>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a target="_self" href="%(link2)">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a target="_self" href="%(link3)">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a target="_self" href="%(link4)">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a target="_self" href="%(link5)">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms in der Version 7.5.2 ist nun verfügbar.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7.5.2 available]]></Title>
    <Date>1263974400000</Date>
    <Preface><![CDATA[OpenCms version 7.5.2 is now available for download. This is a maintenance release that fixes a number of issues that persisted in the 7.5.1 version, including some OpenCms Workplace compatibility issues with newer browser versions.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/100119_v752_releasenotes.html]]></target>
            <uuid>eff9e6e5-01d8-11df-bae9-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.5.2 of OpenCms is now available for <a target="_self" href="%(link0)">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 7.5.2 is a maintenance release that fixes a number of issues that persisted in the 7.5.1 version, including some OpenCms Workplace compatibility issues with newer browser versions.</p>
<h2>Main fixed issues in OpenCms 7.5.2</h2>
<ul>
    <li>Fixed issue #1542: Links to exported files containing anchors are not resolved correctly</li>
    <li>Fixed issue #1787: Error when browsing the next result pages in the OpenCms backend search</li>
    <li>Fixed issue #1800: Still not released resources are indexed</li>
    <li>Fixed issue #1802: CmsShell does not work in Linux with Tomcat 6</li>
    <li>Fixed issue #1807: CmsImportVersion7 contains a counter error in INFO log level</li>
    <li>Fixed issue #1808: OpenCms.getLinkManager().getOnlineLink(CmsObject, link) does not work</li>
    <li>Fixed issue #1809: Left site tree view is shown duplicated when creating a new folder in any site</li>
    <li>Fixed issue #1815: Aborted publish job goes on before resources are finally initialized when OpenCms restarts</li>
    <li>Fixed issue #1817: Fail to load Download/HTML/Link/Table Gallery from HTMLWidget on Websphere 6.1</li>
    <li>Fixed issue #1819: FCKeditor does not work with newer Firefox versions</li>
    <li>Fixed issue with cached CmsResource lists are not cleared after publishing a project</li>
    <li>Fixed incorrect Lucene search result score</li>
    <li>Fixed list search filter caching problem in OpenCms Administration view</li>
    <li>Fixed access to indirect group users</li>
    <li>Fixed double explorer action execution</li>
    <li>Fixed issue with JSP repository not being purged automatically after module import</li>
    <li>Added additional MIME types</li>
    <li>Updated EditArea syntax highlighting editor to version 0.8.2</li>
    <li>Updated Apache Commons Pool to version 1.5.4</li>
</ul>
<p>Please check out the  <a href="%(link1)">release notes</a> for further details of the changes in this release.</p>
<h2>General Features of OpenCms 7.5</h2>
<ul>
    <li>&quot;Direct Edit&quot; allows editing of content directly from a web page.</li>
    <li>Structured contents can be defined using a simple XML schema.</li>
    <li>XML content Editor for structured content / pages generated automatically from an XML schema.</li>
    <li>Support for grouping of content in tabs in the XML content editor.</li>
    <li>Includes editor with syntax highlighting functionality for all text based files  (e.g. XML, HTML, JSP)</li>
    <li>WYSIWYG editor available for unstructured pages.</li>
    <li>Easy to use &quot;Online / Offline&quot; workflow.</li>
    <li>All changes or new pages must be approved / published first before they become visible &quot;Online&quot;.</li>
    <li>Our &quot;Content Relationship Engine&quot; (CRE) allows management of relations / links in the system.</li>
    <li>Full internal link management for all resources.</li>
    <li>If files (or folders) are moved, all links to these files are kept intact.</li>
    <li>Native support for WebDAV access to the OpenCms VFS.</li>
    <li>Integrated image processing / scaling and cropping.</li>
    <li>Image and other content is organized in galleries with advanced AJAX features.</li>
    <li>Gallery dialogs support grouping of content by category or based on folder.</li>
    <li>Integrated full text search for web pages, but also in PDF, MS Office documents etc.</li>
    <li>Offline search indexing for changes that are not published.</li>
    <li>Full featured internal user management that supports the concept of &quot;Organizational Units&quot; (OUs).</li>
    <li>It is possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>User permissions based on a complete set of system &quot;Roles&quot;.</li>
    <li>Extensions can be added through a full featured module system.</li>
    <li>A &quot;time warp&quot; feature in the Workplace allows users to view resources with date expired / date released settings.</li>
    <li>JSP integration allows standards based creation of dynamic functionality in templates, dynamic forms etc.</li>
    <li>Support for Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 and HSQLDB databases included.</li>
    <li>Distribution includes a complete demo website &quot;Wonderful World of Flowers&quot;.</li>
    <li>... and many more</li>
</ul>
<p>OpenCms 7.5.2 is fully backward compatible to all prior 7 versions. We recommend everyone who uses an earlier version of OpenCms to update to the 7.5.2 release. OpenCms 7.5 is largely backward compatible with version 6. An easy to use update wizard for OpenCms Version 6 and prior 7 installations for MySQL, Oracle and PostgreSQL is available.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 9 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms version 7.5.2 is now available for download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
