<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 7.5.2 release notes]]></Title>
    <Date>1263974340000</Date>
    <Preface><![CDATA[The OpenCms 7.5.2 release notes contain detailed information about the fixes and changes in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 7.5.2. OpenCms 7.5.2 is a maintenance release that fixes a number of issues that persisted in the 7.5.1 version, including some OpenCms Workplace compatibility issues with newer browser versions.</p>
<h2>Main new features of OpenCms 7.5</h2>
<ul>
    <li>Support for image cropping in image gallery</li>
    <li>New galleries with advanced AJAX features available in structured content and free page editor</li>
    <li>Galleries dialog now also support grouping of elements by category</li>
    <li>Support for tabs in the XML content editor</li>
    <li>Offline search indexing without publishing  in the Lucene based full text search</li>
    <li>New demo content &quot;Wonderful World of Flowers&quot;</li>
</ul>
<h2>Fixed issues and other changes in OpenCms 7.5.2</h2>
<ul>
    <li>Fixed issue #1542: Links to exported files containing anchors are not resolved correctly</li>
    <li>Fixed issue #1782: Publish dialog in Project overview list hangs</li>
    <li>Fixed issue #1787: Error when browsing the next result pages in the OpenCms backend search</li>
    <li>Fixed issue #1791: Template Two content external link check fails for two resources</li>
    <li>Fixed issue #1800: Still not released resources are indexed</li>
    <li>Fixed issue #1803: Template Two Demo Article links with target=&quot;_blank&quot;</li>
    <li>Fixed issue #1802: CmsShell does not work in Linux with Tomcat 6</li>
    <li>Fixed issue #1807: CmsImportVersion7 contains a counter error in INFO log level</li>
    <li>Fixed issue #1808: OpenCms.getLinkManager().getOnlineLink(CmsObject, link) does not work</li>
    <li>Fixed issue #1809: Left site tree view is shown duplicated when creating a new folder in any site</li>
    <li>Fixed issue #1815: Aborted publish job goes on before resources are finally initialized when OpenCms restarts</li>
    <li>Fixed issue #1817: Fail to load Download/HTML/Link/Table Gallery from HTMLWidget on Websphere 6.1</li>
    <li>Fixed issue #1819: FCKeditor does not work with newer Firefox versions</li>
    <li>Fixed issue with cached CmsResource lists are not cleared after publishing a project</li>
    <li>Fixed issue that if an error occured while changing the user password in the preferences, it was not possible to close the error message</li>
    <li>Fixed incorrect Lucene search result score</li>
    <li>Fixed list search filter caching problem in OpenCms Administration view</li>
    <li>Fixed 'go up' button in Account management view</li>
    <li>Fixed access to indirect group users</li>
    <li>Fixed double explorer action execution</li>
    <li>Fixed not working resource type &quot;xmlpage&quot; in extended mode in WebDAV</li>
    <li>Fixed issue with selected versions in the resource history</li>
    <li>Fixed issue that error occured when changing field structure in XSD from simple data type to optional nested content</li>
    <li>Fixed issue with wrong roles for indirect group users when updating OpenCms from version 6 to version 7</li>
    <li>Fixed issue with JSP repository not being purged automatically after module import</li>
    <li>Added additional MIME types</li>
    <li>Updated EditArea syntax highlighting editor to version 0.8.2</li>
    <li>Updated Apache Commons Pool to version 1.5.4</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 7.5.2 release.</p>
<p>OpenCms 7.5.2 is fully backward compatible to all prior 7.5.x and 7.0.x versions. Templates and other OpenCms developed code from version 7.0 or 7.5 should work &quot;out of the box&quot; with version 7.5.2.</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 7.5 has been written and tested using Java 1.5 / 1.6. We have tested only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works &quot;out of the box&quot; with Tomcat 6.0, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 4.0.x, MySQL 4.1, MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x, MS SQL Server 2000 / 2003, DB2 9.1 and HSQLDB 1.8.0. The automatic update wizard for OpenCms 7 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and CVS build tags</h2>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS tag numbers for all OpenCms 7.5 final releases are &quot;build_7_5_x&quot;, so the 7.5.2 release is tagged &quot;build_7_5_2&quot;. Development of maintenance releases is currently done in CVS HEAD.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a href="%(link0)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p>Please use our Bugzilla to report bugs in this release: <a href="%(link1)">http://bugzilla.opencms.org/<br />
</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 7.5 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 7.5.2, the popular Open Source CMS version 7.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
