<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 7.5.3 release notes]]></Title>
    <Date>1282139820000</Date>
    <Preface><![CDATA[The OpenCms 7.5.3 release notes contain detailed information about the fixes and changes in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 7.5.3. With OpenCms 7.5.3, a number of issues that persisted in the 7.5.2 release have been fixed. Some new features have been added as well.</p>
<h2>Main new features of OpenCms 7.5</h2>
<ul>
    <li>Support for image cropping in image gallery</li>
    <li>New galleries with advanced AJAX features available in structured content and free page editor</li>
    <li>Galleries dialog now also support grouping of elements by category</li>
    <li>Support for tabs in the XML content editor</li>
    <li>Offline search indexing without publishing  in the Lucene based full text search</li>
    <li>New demo content &quot;Wonderful World of Flowers&quot;</li>
</ul>
<h2>New features and improvements in OpenCms 7.5.3</h2>
<ul>
    <li>External Links (pointers) now support handling of request parameters</li>
    <li>New workplace content tool to update the structure of XML contents without changing the modification date</li>
    <li>New XML content element type &quot;CmsXmlPlainTextStringValue&quot; that removes HTML code for the search results</li>
    <li>The workplace content tool &quot;Change Property Values&quot; now allows to use wildcards in the old and new value</li>
    <li>In the workplace content tool &quot;Change Property Values&quot; if &quot;Include all subfolders&quot; is checked, also the properties of the folder itself are changed</li>
    <li>Added new CmsShell command to import resources with a third parameter to control if permissions should be kept</li>
    <li>Improved localized text for undo changes dialog</li>
    <li>A new created search index in the workplace is now checked for invalid characters in the index name</li>
    <li>Removed validations for XML content element actions: add, remove, move up, move down</li>
    <li>Renamed context menu entry &quot;Comment content&quot; in &quot;Edit metadata&quot;</li>
    <li>It is now possible to &quot;Undo changes&quot; after changing the availability of a resource</li>
    <li>Improved user driver, additional infos are now stored in the database in a more efficient way</li>
    <li>Improved user driver, during user login only the last login date is written to database</li>
    <li>Updated Apache Commons Email to version 1.2</li>
</ul>
<h2>Fixed issues in OpenCms 7.5.3</h2>
<ul>
    <li>Fixed issue #1870: JS calendar generated by DateTimeWidget does not show up if lithuanian (lt) locale is selected in workplace</li>
    <li>Fixed issue #1872: Anchor of URL being encoded incorrectly</li>
    <li>Fixed issue #1886: Error when displaying historic version after a resource has been moved</li>
    <li>Fixed issue #1889: Keep browser based authentication text when rewriting the opencms-system.xml</li>
    <li>Fixed issue #1890: History version functionality also works for files with expired date now</li>
    <li>Fixed issue #1891: Bug in Flex Cache: Cache-Directive &quot;ports&quot; works with list of ports like ports=(8080,8081)</li>
    <li>Fixed issue with broken dialog when trying to edit a group that is part of an organizational unit</li>
    <li>Fixed issue with displaying HTML in the &quot;Title&quot; and &quot;NavText&quot; column of explorer view</li>
    <li>Fixed issue with the locale calculation in the publish scheduled procedure</li>
    <li>Fixed issue with malformed encoding in workplace property files</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 7.5.3 release.</p>
<p>OpenCms 7.5.3 is fully backward compatible to all prior 7.5.x and 7.0.x versions. Templates and other OpenCms developed code from version 7.0 or 7.5 should work &quot;out of the box&quot; with version 7.5.3.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version 7.5.3  requires Alkacon OCEE version 2.1.3 or later. In case you want to  update your OpenCms installation to 7.5.3, please make sure you update  Alkacon OCEE to 2.1.3 or later first!</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 7.5 has been written and tested using Java 1.5 / 1.6. We have tested only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works &quot;out of the box&quot; with Tomcat 6.0, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 4.0.x, MySQL 4.1, MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x, MS SQL Server 2000 / 2003, DB2 9.1 and HSQLDB 1.8.0. The automatic update wizard for OpenCms 7 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and CVS build tags</h2>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS tag numbers for all OpenCms 7.5 final releases are &quot;build_7_5_x&quot;, so the 7.5.3 release is tagged &quot;build_7_5_3&quot;. Development of maintenance releases is currently done in CVS HEAD.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a href="%(link0)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p>Please use our Bugzilla to report bugs in this release: <a href="%(link1)">http://bugzilla.opencms.org/<br />
</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 7.5 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 7.5.3, the popular Open Source CMS version 7.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
