<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2011 - Konferenz und Ausstellung]]></Title>
    <Date>1294815600000</Date>
    <Preface><![CDATA[Die OpenCms Days 2011 werden von Montag, dem 09. Mai, bis Dienstag, 10. Mai 2011 in Köln veranstaltet. Das Motto der diesjährigen OpenCms Days ist "The OpenCms 8 User Experience". Nehmen Sie teil und tauschen Sie sich mit führenden OpenCms Experten aus.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die OpenCms Days 2011 werden von Montag, dem 09. Mai, bis Dienstag, 10. Mai 2011 in Köln veranstaltet.</p>
<h2>The OpenCms 8 User Experience</h2>
<p>OpenCms 8 wird grundlegende Verbesserungen des Content Manager User Interfaces bringen. Die neue <em><strong>Advanced Direct Edit</strong></em> Funktion erlaubt es Content Managern, neue Seiten direkt per Drag &amp; Drop zusammenzustellen, zu ändern und zu veröffentlichen, was OpenCms sehr viel bedienerfreundlicher macht.</p>
<p>Die endgültige Version von OpenCms 8 wird zeitgleich mit der Konferenz zum Download bereitgestellt - ein Release Candidate von OpenCms 8 wird schon früher veröffentlicht werden.</p>
<p>Diese Konferenz bietet Ihnen die einmalige Gelegenheit, sich die neuen Funktionen von OpenCms 8 direkt von den Entwicklern erklären zu lassen.</p>
<p><strong>Die OpenCms Days 2011 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler:</strong></p>
<ul>
    <li>Die Showcase-Vortragsreihe konzentriert sich auf herausragende OpenCms Beispielprojekte aus aller Welt, sowie Best Practices und typische Geschäftsprozesse mit OpenCms.</li>
    <li>Die Workshop-Vortragsreihe bietet Präsentationen zu den neuen Funktionen von OpenCms 8 und hands-on Workshops mit den Experten der Alkacon Software GmbH<span style="font-weight: bold;">.</span></li>
</ul>
<p><b>In der zur Konferenz gehörenden Ausstellung präsentieren Anbieter Ihre speziellen Branchen- und Technologielösungen für OpenCms.</b></p>
<p>Die OpenCms Days 2011 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p><strong>Teilnahmegebühr:</strong></p>
<div>Frühbucher-Preis (bis&nbsp;zum 15. März 2011)<span>:&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <strong>180,- Euro</strong></span></div>
<p><span>Reguläre Teilnahmegebühr (ab dem 15. März 2011): <strong>200,- Euro</strong></span></p>
<p>Das vollständige Konferenz-Programm wird am 16. März 2011 auf der Website der Konferenz veröffentlicht.</p>
<p class="sml">Die OpenCms Days 2011 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die Förderung der Verbreitung von OpenCms und die Stärkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2011_2rows.png]]></target>
            <uuid>9646d212-1e52-11e0-990d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2011 - 09 bis 10 Mai 2011]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2011 finden vom 09. Mai 2011 bis zum 10. Mai 2011 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2011 Konferenz, OpenCms Days 2011 Ausstellung, Content Management Konferenz, Open Source Konferenz 2011]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1294819200000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2011 - Conference and Expo]]></Title>
    <Date>1294815600000</Date>
    <Preface><![CDATA[OpenCms Days 2011 will take place from Monday, May 09 to Tuesday, May 10, 2011 in Cologne, Germany. This year's OpenCms Days motto is "The OpenCms 8 User Experience". Be there to meet and mingle with leading OpenCms experts.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2011 will take place from Monday, May 09 to Tuesday, May 10, 2011 in Cologne, Germany.</p>
<h2>The OpenCms 8 User Experience</h2>
<p>OpenCms 8 will bring a major update of the content manager user interface. The new <em><strong>Advanced Direct Edit</strong></em> feature will allow content managers to create, modify and publish new pages directly with drag &amp; drop on their web pages, making OpenCms much more user friendly.</p>
<p>The final version of OpenCms 8 will be made available for public download on the first day of the conference. A release candidate version of OpenCms 8 will be downloadable earlier.</p>
<p>The conference will provide a unique opportunity to learn about the new features of OpenCms 8 directly from the developers.</p>
<p><strong>OpenCms Days 2011 conference will feature 2 parallel tracks with Showcase and Workshop sessions:</strong></p>
<ul>
    <li>Showcase track sessions will present a variety of OpenCms show cases and best practices from OpenCms projects all over the world.</li>
    <li>Workshop sessions for developers provide in-depth, hands-on presentations and workshops about the new technical features in OpenCms 8.</li>
</ul>
<p><b>At the OpenCms Days 2011 conference expo, OpenCms solution providers will exhibit their OpenCms business solutions and enhancements.</b></p>
<p>OpenCms Days 2011 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p><strong>Registration price:</strong></p>
<p>Early bird registration (by March 15): <strong>180,- Euro</strong><br />
Normal registration (after March 15): <strong>200,- Euro</strong></p>
<p>The full program and list of speakers will be available March 16, 2011 from the conference website.</p>
<p class="sml">OpenCms Days 2011 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2011_2rows.png]]></target>
            <uuid>9646d212-1e52-11e0-990d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2011 - May 09 to May 10, 2011]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2011 takes place May 09 to May 10, 2011]]></Description>
      <Keywords><![CDATA[OpenCms Days 2011 Info, OpenCms 2011 Program, Content Management conference, Open Source conference 2011]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1294819200000</Release>
    </Availability>
  </Article>
</ArticleData>
