<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2011 - Call for Papers]]></Title>
    <Date>1298358000000</Date>
    <Preface><![CDATA[Die OpenCms Days 2011 werden von Montag, dem 09. Mai, bis Dienstag, 10. Mai 2011 in Köln veranstaltet. Internationale Konferenz zum Thema "The OpenCms 8 User Experience". Beiträge einreichen möglich bis 01. März 2011. Abgabefrist von Vortragsvorschlägen ist der 01. März 2011. Letzter Termin zum Anmelden ihrer Rede, Powerpoint Präsentation, workshop oder Vortrag.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die OpenCms Days 2011 werden von Montag, dem 09. Mai, bis Dienstag, 10. Mai 2011 in Köln veranstaltet.</p>
<h2>Abgabefrist von Vortragsvorschlägen ist der 01. März 2011</h2>
<p>Wir warten auf Ihren Vortragsvorschlag! Jeder Vortrag sollte insgesamt 60 Minuten dauern. Eine typische Präsentation sollte 45 Minuten dauern, gefolgt von einer anschließenden 15-minütigen Diskussion. Andere Vortragsformate wie Workshops, Runder Tisch, etc. sind natürlich auch machbar.</p>
<p>Ihr Vortrag sollte ein erfolgreich abgeschlossenes OpenCms Projekt zum Thema haben und von praktischem Nutzen für die Zuhörer sein, etwa in Form eines Moduls oder einer OpenCms-Erweiterung, die frei erhältlich ist. Dies könnten beispielsweise sein:</p>
<ul>
    <li>Auf einen speziellen Anwendungsfall zugeschnittene OpenCms-Versionen, die sie mit der Community teilen möchten.</li>
    <li>Module oder Erweiterungen, die Sie entwickelt haben</li>
    <li>Die erfolgreiche Implementierung von Kundenanforderungen in einem OpenCms Projekt.</li>
</ul>
<p>Es werden nur Vorträge zugelassen, die von grundlegendem Interesse für alle OpenCms Anwender sind. Unternehmens- bzw. Produktpräsentationen werden nicht angenommen.</p>
<p>Die OpenCms Days 2011 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p>Abgabefrist für Vortragsvorschläge ist der 01. März 2011.</p>
<p>Das vollständige Konferenz-Programm wird am 16. März 2011 auf der Website der Konferenz veröffentlicht.</p>
<p>Die OpenCms Days 2011 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die Förderung der Verbreitung von OpenCms und die Stärkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2011_2rows.png]]></target>
            <uuid>9646d212-1e52-11e0-990d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2011 - 09 bis 10 Mai 2011]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2011 Call for Papers. Abgabefrist für Vortragsvorschläge ist der 01. März 2011.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2011 Konferenz, OpenCms Days 2011 Ausstellung, Content Management Konferenz, Open Source Konferenz 2011, International, Programm, Kalender, freeware, powerpoint, anmelden, rede,  präsentation, workshop, termin, konferenz, Kongress, Vortrag, Frist, Tagung, Abgeben, stichtag, Sprecher, Abgabe, Einreichen, Redner]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1298361600000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2011 - Call for papers]]></Title>
    <Date>1298358000000</Date>
    <Preface><![CDATA[OpenCms Days 2011 will take place from Monday, May 09 to Tuesday, May 10, 2011 in Cologne, Germany. International conference on "The OpenCms 8 User Experience". Call for Papers is closing March 01, 2011. Final deadline for speakers to submit their session proposals.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2011 will take place from Monday, May 09 to Tuesday, May 10, 2011 in Cologne, Germany.</p>
<h2>Final deadline for speakers to submit their session proposals is March 01, 2011</h2>
<p>Do you have something to contribute to this gathering of OpenCms professionals? If you do we'd like to hear from you.</p>
<p>We are looking for session proposals. Each session will be 60 minutes long. A typical presentation session should be 45 minutes, followed by a 15 minutes discussion. Other session formats, such as workshops, roundtable discussions and BOF meetings, are also possible.</p>
<p>Session proposals should focus on successful OpenCms projects and should deliver a clear practical value to the audience, e.g. in the form of an OpenCms module or extension that is freely available. For example, this could be</p>
<ul>
    <li>Highly specialized custom versions based on OpenCms you want to share with the community</li>
    <li>Module extensions and add-ons you developed</li>
    <li>Successful implementation of a customer's needs in an OpenCms project</li>
</ul>
<p>We will only allow sessions that are of general interest for all OpenCms users, we are not looking for company or product promotional sessions.</p>
<p>OpenCms Days 2011 is targeted towards an international audience. The language spoken at the event will be English, and all presentations have to be held in English language, too.</p>
<p>Call for papers is closing March 01, 2011.</p>
<p>The full program and list of speakers will be available March 16, 2011 from the conference website.</p>
<p>OpenCms Days 2011 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2011_2rows.png]]></target>
            <uuid>9646d212-1e52-11e0-990d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2011 - May 09 to May 10, 2011]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[International conference OpenCms Days 2011 call for papers. Final deadline for speakers to submit their session proposals is March 01, 2011.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2011 Info, OpenCms 2011 Program, Content Management conference, Open Source conference 2011, international, program, conference, free software, speakers, workshop, session, calling, proposal, showcase, deadline]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1298361600000</Release>
    </Availability>
  </Article>
</ArticleData>
