<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2011 - Vollständiges Programm veröffentlicht]]></Title>
    <Date>1300287600000</Date>
    <Preface><![CDATA[Das Programm für die OpenCms Days 2011 Konferenz beinhaltet 16 Vorträge. Die OpenCms Days 2011 finden vom 09. bis zum 10. Mai in Köln statt. Registrieren Sie sich jetzt - die Anzahl der Plätze für die Konferenz ist begrenzt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2011 werden von Montag, 09. Mai, bis Dienstag, 10. Mai in Köln veranstaltet.</p>
<p>Das vollständige Programm für die OpenCms Days 2011 finden sie ab sofort auf der aktualisierten <a target="_self" href="%(link0)">Webseite</a> der Konferenz. Das Programm bietet insgesamt 16 Vorträge. Mit zahlreichen namhaften internationalern Sprechern aus der ganzen Welt werden die OpenCms Days die größte Veranstaltung für die OpenCms Community 2011.<i><br />
</i></p>
<p><strong><a target="_self" href="%(link1)">Registrieren Sie sich jetzt</a> - die Anzahl der Plätze für die Konferenz ist begrenzt.</strong></p>
<p><strong>Teilnahmegebühr:</strong><span><span style="font-weight: bold;"> </span><strong>200,- Euro</strong></span></p>
<h2>The OpenCms 8 User Experience</h2>
<p>OpenCms 8 wird grundlegende Verbesserungen des Content Manager User Interfaces bringen. Die neue <em><strong>Advanced Direct Edit</strong></em>  Funktion erlaubt es Content Managern, neue Seiten direkt per Drag &amp;  Drop zusammenzustellen, zu ändern und zu veröffentlichen, was OpenCms  sehr viel bedienerfreundlicher macht.</p>
<p>Die endgültige Version von OpenCms 8 wird zeitgleich mit der  Konferenz zum Download bereitgestellt - ein Release Candidate von  OpenCms 8 wird schon früher veröffentlicht werden.</p>
<p>Diese Konferenz bietet Ihnen die einmalige Gelegenheit, sich die  neuen Funktionen von OpenCms 8 direkt von den Entwicklern erklären zu  lassen.</p>
<p><strong>Die OpenCms Days 2011 Konferenz bietet zwei parallele Vortragsreihen für Anwender und Entwickler:</strong></p>
<ul>
    <li>Die Showcase-Vortragsreihe konzentriert sich auf herausragende  OpenCms Beispielprojekte aus aller Welt, sowie Best Practices und  typische Geschäftsprozesse mit OpenCms.</li>
    <li>Die Workshop-Vortragsreihe bietet Präsentationen zu den neuen  Funktionen von OpenCms 8 und hands-on Workshops mit den Experten der  Alkacon Software GmbH<span style="font-weight: bold;">.</span></li>
</ul>
<p><b>In der zur Konferenz gehörenden Ausstellung präsentieren Anbieter Ihre speziellen Branchen- und Technologielösungen für OpenCms.</b></p>
<p>Die OpenCms Days 2011 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p class="sml">Die OpenCms Days 2011 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die Förderung der Verbreitung von OpenCms und die Stärkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2011_2rows.png]]></target>
            <uuid>9646d212-1e52-11e0-990d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2011 finden von Montag, 09. Mai bis Dienstag 10. Mai 2011 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Programm, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz ]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2011 - Complete conference program available]]></Title>
    <Date>1300287600000</Date>
    <Preface><![CDATA[The complete conference program of OpenCms Days 2011 features 16 sessions. OpenCms Days 2011 will take place from May 09 to 10 in Cologne, Germany. Register your ticket now - only a limited number of seats are available!]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/index.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/en/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2011 will take place from Monday, May 09 to Tuesday, May 10 in Cologne, Germany.</p>
<p>The complete conference program for OpenCms Days 2011 is now available at the conference <a href="%(link0)" target="_self">website</a>. The program features 16 sessions with numerous high-profile speakers from all over the world. OpenCms Days 2011 will be the largest event for the OpenCms community this year.</p>
<p><strong><a href="%(link1)" target="_self">Register your ticket now</a> - only a limited number of seats are available!</strong></p>
<p>Regular conference registration price:<strong> 200,- Euro</strong></p>
<h2>The OpenCms 8 User Experience</h2>
<p>OpenCms 8 will bring a major update of the content manager user interface. The new <em><strong>Advanced Direct Edit</strong></em>  feature will allow content managers to create, modify and publish new  pages directly with drag &amp; drop on their web pages, making OpenCms  much more user friendly.</p>
<p>The final version of OpenCms 8 will be made available for public  download on the first day of the conference. A release candidate version  of OpenCms 8 will be downloadable earlier.</p>
<p>The conference will provide a unique opportunity to learn about the new features of OpenCms 8 directly from the developers.</p>
<p><strong>OpenCms Days 2011 conference will feature 2 parallel tracks with Showcase and Workshop sessions:</strong></p>
<ul>
    <li>Showcase track sessions will present a variety of OpenCms show  cases and best practices from OpenCms projects all over the world.</li>
    <li>Workshop sessions for developers provide in-depth, hands-on  presentations and workshops about the new technical features in OpenCms  8.</li>
</ul>
<p><b>At the OpenCms Days 2011 conference expo, OpenCms solution  providers will exhibit their OpenCms business solutions and  enhancements.</b></p>
<p>OpenCms Days 2011 is targeted towards an international audience. The  language spoken at the event is English, and all presentations will be  held in English language.</p>
<p class="sml">OpenCms Days 2011 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2011_2rows.png]]></target>
            <uuid>9646d212-1e52-11e0-990d-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2011 takes place from Monday, May 09 to Tuesday, May 10 2011 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days program, OpenCms conference program, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
