<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software veröffentlicht OpenCms 7.5.4]]></Title>
    <Date>1301299200000</Date>
    <Preface><![CDATA[OpenCms Version 7.5.4 ist ab sofort zum kostenlosen Download von Alkacon Software verfügbar. OpenCms ist eines der populärsten Open Source Content Management Systeme (CMS) in Java. Version 7.5.4 behebt einige Fehler aus 7.5.3 und schließt diverse Sicherheitslücken. Verbesserung bzgl. Kompatibilität, Performance und Stabilität unter Internet Explorer, Firefox und Oracle.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110328-opencms-v754-releasenotes.html]]></target>
            <uuid>ac232128-5468-11e0-aaea-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.5.4 von OpenCms kann ab sofort von der <a target="_self" href="%(link0)">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch eine internationale Community von OpenCms Entwicklern.</p>
<p>Mit OpenCms 7.5.4 werden verschiedene Fehler der Version 7.5.3 behoben. Außerdem gibt es einige Verbesserungen und Erweiterungen.</p>
<h2>Verbesserungen und andere Änderungen in OpenCms 7.5.4</h2>
<ul>
    <li>Problem #1717 behoben: Datenbank Deadlock, wenn OpenCms db.pool.default.maxActive erreicht, während db.pool.default.whenExhaustedAction=block gesetzt ist</li>
    <li>Problem #1900 behoben: Performance Patch für OpenCms</li>
    <li>Problem #1901 behoben: CSS Workplace Login Sicherheitsproblem</li>
    <li>Problem #1909 behoben: Internet Explorer stürzt nach dem Speichern von structured XML content ab, bei dem ein Bild aus der Gallerie in ein HTML Feld eingefügt wurde</li>
    <li>Problem #1942 behoben: &quot;Später veröffentlichen&quot; jobs fehlen nach Server-Neustart</li>
    <li>Problem #1945 behoben: Verhindern von reflexivem XSS bei einigen authentifizierten Resourcen. (provided by Michele Orru)</li>
    <li>Problem #1949 behoben: Datenbank-Größe wird nicht kleiner wenn (alle) Resoucen gelöscht werden</li>
    <li>Problem beim Anlegen neuer Benutzer oder Bearbeiten existierender Benutzer behoben, wenn eine Oracle Datenbank verwendet wird</li>
    <li>Problem beim Löschen und Sperren von Resourcen beim Aufruf ohne Pfadangabe behoben</li>
    <li>Problem in Galerien behoben, wo das Layout durch lange Dateinamen oder Titel kaputtging</li>
    <li>Problem des vorzeitigen Thread-Abbruchs innerhalb der CmsShell behoben</li>
    <li>FCKEditor kompatibel mit Internet Explorer 9 und Firefox 4</li>
    <li>Neue optionale CmsShell Start Parameter um zusätzliche Kommandos zu laden</li>
</ul>
<p>&nbsp;Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a target="_self" href="%(link1)">englischen Release Notes</a> einsehen.</p>
<h2>Allgemeine Funktionen von OpenCms 7.5</h2>
<ul>
    <li>&quot;Direct Edit&quot; ermöglicht das Bearbeiten von Inhalten aus der Webseitenansicht.</li>
    <li>Strukturierte Inhalte können durch einfache XML Schemas definiert werden.</li>
    <li>Editoren für strukturierte XML Inhalte werden automatisch basierend auf XML Schemas erstellt.Strukturierte XML Inhalte können im Editor mit &quot;Reitern&quot; gruppiert werden.</li>
    <li>Ein Editor mit Syntax Highlight Funktion ist verfügbar für textbasierte Dateien (z.B. XML, HTML, JSP).</li>
    <li>Ein WYSIWYG Editor für unstrukturierte Inhalte ist verfügbar.</li>
    <li>Einfach zu bedienender &quot;Online / Offline&quot; Workflow.</li>
    <li>Alle Änderungen oder neue Seiten müssen zunächst freigegeben / veröffentlicht werden bevor sie &quot;Online&quot; sind.</li>
    <li>Unsere &quot;Content Relationship Engine&quot; (CRE) ermöglicht das Management aller Links im System.</li>
    <li>Durch das integrierte Linkmanagement wird die Korrektheit aller Links innerhalb einer Website gewährleistet.</li>
    <li>Das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist problemlos möglich.</li>
    <li>Die WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme.</li>
    <li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
    <li>Bilder und weitere Inhalte werden in Gallerien verwaltet, welche über eine AJAX Oberfläche verfügen.</li>
    <li>Alle Gallerien ermöglichen die Gruppierung von Inhalten nach Kategorien oder basierend auf der Dateistruktur.</li>
    <li>Integrierte Volltextsuche auf Webseiten, aber auch in PDF, MS Office Dokumenten etc.</li>
    <li>Volltextsuche auch in nicht-veröffentlichten &quot;Offline&quot; Inhalten.</li>
    <li>Vollständige Benutzerverwaltung inklusive Unterstützung von &quot;Organisationseinheiten&quot;.</li>
    <li>Benutzer und Gruppen können dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden.</li>
    <li>Die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Das Modulsystem von OpenCms ermöglicht das einfache Hinzufügen von nachträglichen Erweiterungen.</li>
    <li>Eine &quot;Time Warp&quot; Funktion in der Workplace ermöglicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr veröffentlicht sind.</li>
    <li>JSP Integration ermöglicht das einfache und standardkonforme Erstellen von Templates und anderen dynamischen Funktionen.</li>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 sowie HSQL.</li>
    <li>Der Download beinhaltet eine vollständige Demo Website &quot;Die Wunderbare Welt der Blumen&quot;.</li>
    <li>... und vieles mehr.</li>
</ul>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a target="_self" href="%(link2)">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a target="_self" href="%(link3)">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a target="_self" href="%(link4)">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a target="_self" href="%(link5)">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software veröffentlicht Version 7.5.4 von OpenCms, dem beliebten Java basierten Open Source Content Management System (CMS). Maintainance Release (Sicherheit, Internet Explorer, Firefox, Oracle, etc.)]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, maintenance release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software launches OpenCms 7.5.4]]></Title>
    <Date>1301299200000</Date>
    <Preface><![CDATA[OpenCms version 7.5.4 is now ready and available for free download from Alkacon Software. OpenCms is one of the most popular Open Source Content Management Solutions. Version 7.5.4 is a maintenance release and security update to fix several bugs (e.g. concerning Internet Explorer, Firefox and Oracle database)
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110328-opencms-v754-releasenotes.html]]></target>
            <uuid>ac232128-5468-11e0-aaea-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 7.5.4 of OpenCms is now ready and available for <a href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 7.5.4 is a maintenance release that fixes a number of issues that persisted in the 7.5.3 version. Some new features have been added as well.</p>
<h2>Main fixed issues and improvements in OpenCms 7.5.4</h2>
<ul>
    <li>Fixed issue #1717: DB deadlock if OpenCms hits db.pool.default.maxActive when db.pool.default.whenExhaustedAction=block</li>
    <li>Fixed issue #1900: Performance Patch for OpenCms</li>
    <li>Fixed issue #1901: Workplace login page security issue</li>
    <li>Fixed issue #1909: Internet Explorer crashes after saving structured XML content with image added from gallery into HTML field</li>
    <li>Fixed issue #1942: Publish scheduled jobs are missing after server restart</li>
    <li>Fixed issue #1945: Avoid reflected XSS on some authenticated resources (provided by Michele Orru)</li>
    <li>Fixed issue #1949: Database size does not decrease after (completely) deleting resources</li>
    <li>Fixed issue when creating a new user or editing an existing user using an Oracle database</li>
    <li>Fixed issue using delete and lock resource when called without path parameter</li>
    <li>Fixed issue in galleries: Broken layout with long item file names or titles</li>
    <li>Fixed premature publish thread interruption within CmsShell</li>
    <li>FCKEditor compatible with Internet Explorer 9 and Firefox 4</li>
    <li>Added new optional CmsShell start parameter to load additional commands</li>
</ul>
<p>&nbsp;Please check out the  <a href="%(link1)">release notes</a> for further details of the changes in this release.</p>
<h2>General Features of OpenCms 7.5</h2>
<ul>
    <li>&quot;Direct Edit&quot; allows editing of content directly from a web page.</li>
    <li>Structured contents can be defined using a simple XML schema.</li>
    <li>XML content Editor for structured content / pages generated automatically from an XML schema.</li>
    <li>Support for grouping of content in tabs in the XML content editor.</li>
    <li>Includes editor with syntax highlighting functionality for all text based files  (e.g. XML, HTML, JSP)</li>
    <li>WYSIWYG editor available for unstructured pages.</li>
    <li>Easy to use &quot;Online / Offline&quot; workflow.</li>
    <li>All changes or new pages must be approved / published first before they become visible &quot;Online&quot;.</li>
    <li>Our &quot;Content Relationship Engine&quot; (CRE) allows management of relations / links in the system.</li>
    <li>Full internal link management for all resources.</li>
    <li>If files (or folders) are moved, all links to these files are kept intact.</li>
    <li>Native support for WebDAV access to the OpenCms VFS.</li>
    <li>Integrated image processing / scaling and cropping.</li>
    <li>Images and other content are organized in galleries with advanced AJAX features.</li>
    <li>Gallery dialogs support grouping of content by category or based on folder.</li>
    <li>Integrated full text search for web pages, but also in PDF, MS Office documents etc.</li>
    <li>Offline search indexing for changes that are not published.</li>
    <li>Full featured internal user management that supports the concept of &quot;Organizational Units&quot; (OUs).</li>
    <li>It is possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>User permissions based on a complete set of system &quot;Roles&quot;.</li>
    <li>Extensions can be added through a full featured module system.</li>
    <li>A &quot;time warp&quot; feature in the Workplace allows users to view resources with date expired / date released settings.</li>
    <li>JSP integration allows standards based creation of dynamic functionality in templates, dynamic forms etc.</li>
    <li>Support for Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 and HSQLDB databases included.</li>
    <li>Distribution includes a complete demo website &quot;Wonderful World of Flowers&quot;.</li>
    <li>... and many more</li>
</ul>
<p>OpenCms 7.5.4 is fully backward compatible to all prior 7 versions. We recommend everyone who uses an earlier version of OpenCms to update to the 7.5.4 release. OpenCms 7.5 is largely backward compatible with version 6. An easy to use update wizard for OpenCms Version 6 and prior 7 installations for MySQL, Oracle and PostgreSQL is available.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version 7.5.4 requires Alkacon OCEE version 2.1.4 or later. In case you want to update your OpenCms installation to 7.5.4, please make sure you update Alkacon OCEE to 2.1.4 or later first!</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 9 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software launches version 7.5.4 of OpenCms, the popular Java based open source content management system (CMS). Version 7.5.4 fixes several issues (security, internet explorer, firefox,  oracle, etc.)]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 7, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, maintenance release, security, update, patch, bug fix, internet explorer, firefox, oracle, database, performance, XSS, cross site scripting, password, auto complete]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
