<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE für OpenCms aktualisiert auf Version 2.1.4]]></Title>
    <Date>1301986800000</Date>
    <Preface><![CDATA[Die Alkacon OCEE OpenCms Enterprise Extensions sind nun in Version 2.1.4 für OpenCms 7 und 1.0.20 (OpenCms 6) verfügbar. Wichtiges update, signifikante Verbesserungen. OCEE Accelerator mit neuer Caching Strategie reduziert Datenbankanfragen um bis zu mehrere Millionen pro Tag. OCEE LDAP Connector mit Unterstützung verschachtelter Gruppenstrukturen im Zusammenspiel mit Microsoft Active Directory.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE ist eine kommerzielle Erweiterung von OpenCms welche unter anderem Unterstützung von LDAP, Clustering, Replikation und verbesserter Performance in OpenCms bietet. Vollständige Informationen zu OCEE erhalten Sie auf der <a href="%(link0)" target="_self">Alkacon Website</a>.</p>
<p>Die aktuelle OCEE Version 2.1.4  ist ein <strong>wichtiges Update</strong>, welches eine Reihe neuer Funktionen und Verbesserungen bietet und einige Probleme der vorherigen Version behebt.</p>
<h2>Neue Funktionen und Verbesserungen in OCEE 2.1.4 für OpenCms 7</h2>
<ul>
    <li><strong>Signifikant verbesserter</strong> OCEE Accelerator mit neuer Caching Strategie kann Datenbankanfragen um bis zu mehrere Millionen pro Tag reduzieren.&nbsp;&nbsp;&nbsp;</li>
    <li>Verbesserter OCEE LDAP Connector jetzt mit Unterstützung verschachtelter Gruppenstrukturen im Zusammenspiel mit Microsoft Active Directory.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>Verbesserter OCEE Cluster Manager unterstützt nun das Installieren und Aktualisieren von Modulen im Cluster über Shell Commands.</li>
    <li>Verbesserter OCEE Replicator mit besserer Fehlerbehandlung in User Replications Szenarien. </li>
    <li>OCEE LDAP Connector wurde um die Möglichkeit erweitert, zusätzliche Informationen ins LDAP zurückzuschreiben.&nbsp;&nbsp;&nbsp; </li>
    <li>OCEE LDAP Connector jetzt mit deterministischer ID Generierung für LDAP Gruppen/Benutzer.</li>
    <li>Problem im OCEE Cluster Manager behoben, wo Exportpunkte auf Remote Servern nicht korrekt generiert wurden.</li>
    <li>Problem im OCEE Accelerator mit Caching von nicht existierenden  Resourcen in Offline Projekten behoben (Hat Fehler in bestimmten  Szenarien verursacht).</li>
    <li>Problem im OCEE Replicator behoben, wo die Resource ID des Online Projekts für die Replizierung verwendet wurde.</li>
    <li>Problem im OCEE LDAP Connector behoben wo das aktualisieren der Gruppenzugehörigkeit von LDAP Benutzern einen Clear Cache Event auslöste.&nbsp;&nbsp;&nbsp;</li>
</ul>
<h3>Änderungen in OCEE 1.0.20 für OpenCms 6.x</h3>
<ul>
    <li>Problem im OCEE Replicator behoben, wo die Resource ID des Online Projekts für die Replizierung verwendet wurde.</li>
</ul>
<p>In den <a target="_self" href="%(link1)" title="Alkacon OCEE 2.1.4 / 1.0.20 Release Notes">OCEE Release Notes</a> finden Sie die vollständige Beschreibung der neuen Funktionen und Verbesserungen dieser Version.</p>
<p>Allgemeine Funktionen von OCEE 2</p>
<ul>
    <li><i>Unterstützung von mehrstufigen Server-Szenarien mit dem OCEE Replicator:</i> Es ist jetzt möglich, die im OpenCms erzeugten Inhalte in mehreren Stufen zu replizieren, so z.B. von einem &quot;Redaktionssystem&quot; zunächst auf ein &quot;Abnahmesystem&quot; und erst danach auf das &quot;Livesystem&quot;. Die Anzahl der Stufen in der Replikation kann frei konfiguriert werden.</li>
    <li><i>Zentrale Konfiguration der Server mit dem OCEE Cluster:</i> Die verschiedenen Server in einem Cluster können nun über ein GUI vom Workplace-Server aus zentral konfiguriert werden. Die betrifft die geplanten Vorgänge (Scheduled Jobs), Modulparameter und die Suchindexkonfiguration.</li>
    <li><i>Unterstützung von Organisationseinheiten im LDAP Connector:</i> Jede Organisationseinheit (OU) im OpenCms kann jetzt an einen eigenen Pfad im LDAP-Server angebunden werden.</li>
    <li><i>Verbesserte Performance im OCEE Accelerator:</i> Nach dem Veröffentlichen von Inhalten bleiben unveränderte Eigenschaften im Cache nun erhalten.</li>
</ul>
<h3>Über Alkacon OCEE</h3>
<p>Bei den Alkacon <strong>OpenCms Enterprise Extensions</strong> (auch <strong>OCEE</strong> genannt) handelt es sich um eine kommerzielle Erweiterung von OpenCms. Alkacon OCEE fügt Funktionen zu OpenCms hinzu, die für den Betrieb von OpenCms in mittelständigen oder großen Unternehmen benötigt werden und für die Datenkonsistenz, Sicherheit und Ausfallsicherung von großer Bedeutung sind.</p>
<p>Die Alkacon OpenCms Enterprise Extensions sind als lizenziertes Softwareprodukt der Alkacon Software GmbH erhältlich. Alkacon ist für die Entwicklung des Open Source Kerns von OpenCms federführend verantwortlich. Den vollständigen Text des Lizenzvertrages finden sie hier.</p>
<p>Alkacon OCEE wird auf dem standardmäßigen OpenCms System installiert. Bei OCEE handelt es sich um eine rein binäre Software-Distribution, d.h. der Quellcode der OCEE- Pakete steht nicht zur Verfügung. Damit Sie die OCEE-Pakete von Alkacon nutzen können, müssen Sie einen Lizenzschlüssel eingeben. Dieser wird Ihnen nach dem Erwerb einer Alkacon OCEE-Lizenz von Alkacon Software zur Verfügung gestellt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die Alkacon OCEE OpenCms Enterprise Extensions sind nun in Version 2.1.4 für OpenCms 7 und 1.0.20 (OpenCms 6) verfügbar. Wichtiges update, signifikante Verbesserungen.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OCEE Cluster Paket, OCEE Accelerator, OCEE Cluster Manager, OCEE LDAP Connector, OCEE Replicator, cluster, paket, installation, server, Steuerung, Kommunikation, Datenbank Replizierung, LDAP Anbindung , verbesserte Leistung, Datensicherheit, Reparaturmodul, Datenbankfehler]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE for OpenCms updated to version 2.1.4]]></Title>
    <Date>1301986800000</Date>
    <Preface><![CDATA[The Alkacon OCEE OpenCms Enterprise Extensions are now available in version 2.1.4 for OpenCms 7 and 1.0.20 (OpenCms 6). Important update, significant improvements. OCEE Accelerator with new caching strategy reduces database requests by millions per day. OCEE LDAP Connector now features group mapping when using Microsoft Active Directory.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance. Full information about OCEE is available on the <a href="%(link0)">Alkacon website</a>.</p>
<p>The latest OCEE release version 2.1.4  is an important update that comes with several new functions and improvements and fixes a few issues that persisted in the last release.</p>
<h2>New features and improvements in OCEE 2.1.4 for OpenCms 7</h2>
<ul>
    <li><strong>Significantly improved</strong> OCEE Accelerator with new caching strategy that can reduce database requests by millions per day.</li>
    <li>Improved OCEE LDAP Connector now features support for nested groups when using Microsoft Active Directory.</li>
    <li>Improved OCEE Cluster Manager now supports installation and updating of modules within the cluster with shell commands.</li>
    <li>Improved OCEE Replicator with better error handling in user replication scenarios.</li>
    <li>Added option to write additional info values in the LDAP repository to the OCEE LDAP Connector.</li>
    <li>Added deterministic id generation for LDAP groups/users to the OCEE LDAP Connector.</li>
    <li>Fixed an issue in the OCEE Cluster Manager with export points not correctly being generated on remote servers.</li>
    <li>Fixed an issue in the OCEE Accelerator with caching of non-existent resources in the offline project that caused errors in certain scenarios.</li>
    <li><strong><span style="display: none;" id="1301409572085S">&nbsp;</span> </strong> Fixed an issue in the OCEE Replicator where the resource id from the online project was used for replication.</li>
    <li>Fixed an issue in the OCEE LDAP Connector where updating group membership on LDAP users triggered a clear cache event<span style="font-weight: bold;">.</span></li>
</ul>
<h3>Changes in OCEE 1.0.20 for OpenCms 6</h3>
<ul>
    <li>Fixed an issue in the OCEE Replicator where the resource id from the online project was used for replication.</li>
</ul>
<p>Please see the <a title="Alkacon OCEE 2.1.4 / 1.0.20 release notes" href="%(link1)" target="_self">OCEE release notes</a> for a full descriptions about the new features and changes in this version.</p>
<h3>Main features in OCEE 2</h3>
<ul>
    <li><i>Support for multi-staging scenarios with the OCEE Replicator:</i> You can configure a &quot;development&quot; server that first pushes all generated content to a &quot;staging&quot; server e.g. for approval, and then afterwards to the &quot;delivery&quot; server. This is freely configurable, and there is no limit on the number of stages.</li>
    <li><i>Centralized configuration of servers with the OCEE Cluster:</i> You can now edit the scheduled jobs, search index configuration and module parameters for all individual servers in the cluster from a common GUI in the workplace server.</li>
    <li><i>Support for OpenCms OUs in the LDAP Connector:</i> It is now possible to connect each OpenCms OU with an individual path in the LDAP Server.</li>
    <li><i>Improved performance with the OCEE Accelerator:</i> A much improved cache policy in the Accelerator now selectively flushes only certain cached items after a publish instead of just flushing everything.</li>
</ul>
<h3>About Alkacon OCEE</h3>
<p>The Alkacon <strong>OpenCms Enterprise Extensions</strong> (also called <strong>OCEE</strong>) are a commercial extension for OpenCms. Alkacon OCEE adds features to OpenCms that are often required for running OpenCms in a medium or large Enterprise, where data consistency, security and failover are highly important.</p>
<p>The Alkacon OpenCms Enterprise Extensions are available as a licensed software product from Alkacon Software GmbH, the company responsible for most of the development of the open source core OpenCms system. Please click here for the full license terms.</p>
<p>OCEE is installed on a standard OpenCms system. OCEE is a binary only distribution. This means that the source code for the OCEE modules is not available. To use any of the Alkacon OCEE packages, you need to enter a license key that will be provided by Alkacon software after your purchase of an Alkacon OCEE license.</p>
<p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[The Alkacon OCEE OpenCms Enterprise Extensions are now available in version 2.1.4 for OpenCms 7 and 1.0.20 (OpenCms 6). Important update, significant improvements.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OCEE Cluster package, OCEE Accelerator, OCEE Cluster Manager, OCEE LDAP Connector, OCEE Replicator, cluster, packager, installation, server, Database replication, LDAP connectivity, improved performance, data security, disaster recovery]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
