<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Roadmap für die Weiterentwicklung von OpenCms und Alkacon OCEE]]></Title>
    <Date>1305194400000</Date>
    <Preface><![CDATA[Alkacon Software veröffentlicht Roadmap für die Weiterentwicklung von OpenCms und Alkacon OCEE. OpenCms Version 8.0.1 wird am 29. Juni 2011 veröffentlicht. Version 8.0.2 kommt am 18. August 2011 raus. OCEE Version 3.0 (wird für OpenCms 8 benötigt) wird am 25. Mai 2011 veröffentlicht.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110405-alkacon-ocee-v214.html]]></target>
            <uuid>0460efd7-5a06-11e0-aaea-b7a33137a728</uuid>
            <query><![CDATA[__locale=de]]></query>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8 wurde am 09. Mai 2011 veröffentlicht und steht zum <a href="%(link0)" target="_self" title="Jetzt OpenCms 8 runterladen!">Download</a> bereit.<br />
<br />
Die Roadmap für die Weiterentwicklung ist:</p>
<h2>OpenCms 8.0</h2>
<ul>
    <li>Version 8.0.1 wird am 29 Juni 2011 veröffentlicht.</li>
    <li>Version 8.0.2 kommt am 18. August 2011 raus.</li>
</ul>
<p>Sowohl Version 8.0.1 als auch 8.0.2 werden Maintenance Releases sein, ausgerichtet auf kleine Verbesserungen und fixes in der neuen ADE Oberfläche.</p>
<p>Wir brauchen euer Feedback - bitte nutzt den <a href="%(link1)" target="_self" title="OpenCms Bugzilla issue tracker">OpenCms Bugzilla</a> issue tracker für alle festgestellten Probleme.</p>
<h2>OpenCms 8.5</h2>
<p>OpenCms 8.5 wird das nächste Major Release sein und ist angesetzt für Mai / Juni 2012.</p>
<p>Für Version 8.5 wird das Hauptaugenmerk darauf liegen, das Arbeiten mit ADE noch weiter zu verbessern. Eine der Sachen, die wir auf jeden Fall machen wollen, ist es, den XML Content Editor zu verbessern und ihn durch eine dynamische, JavaScript basierte Version zu ersetzen. Weitere Details werden noch angekündigt</p>
<h2>Alkacon OCEE</h2>
<p>Die <a href="%(link2)" target="_self" title="Alkacon OpenCms Enterprise Extensions">OpenCms Enterprise Extensions</a> (OCEE) von Alkacon sind eine kommerzielle Erweiterung für OpenCms. Viele große OpenCms Installationen nutzen Alkacon OCEE um Leistung, Sicherheit und Skalierbarkeit zu verbessern.</p>
<ul>
    <li>Die aktuelle <a href="%(link3)" target="_self" title="OCEE 2.1.4 / 1.0.20 release notes">OCEE Version 2.1.4</a> ist kompatibel mit OpenCms 7.x.</li>
    <li>OCEE Version 3.0 (wird für OpenCms 8 benötigt) wird am 25. Mai 2011 veröffentlicht.</li>
    <li>OCEE 1.0 für OpenCms 6.x wird nicht weiterentwickelt.</li>
</ul>
<p>Änderung vorbehalten.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software veröffentlicht Roadmap für die Weiterentwicklung von OpenCms und Alkacon OCEE.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Version 8, Roadmap, anstehende Veröffentlichungen, Weiterentwicklung, OCEE, Enterprise Extensions, CMS, Open Source, Content, Management, Software]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Roadmap for further development of OpenCms and Alkacon OCEE]]></Title>
    <Date>1305194400000</Date>
    <Preface><![CDATA[Alkacon Software publishes roadmap for further development of OpenCms and Alkacon OCEE: OpenCms Version 8.0.1 will be available by June 29, 2011. Version 8.0.2 to be released on August 18, 2011. Alkacon OCEE Version 3.0 (Required for OpenCms 8) to be released by May 25, 2011.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110405-alkacon-ocee-v214.html]]></target>
            <uuid>0460efd7-5a06-11e0-aaea-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8 has been released on May 09, 2011 and is available for <a title="Download OpenCms 8 from the official website opencms.org" target="_self" href="%(link0)">download</a>.</p>
<p>The roadmap for our further development is:</p>
<h2>OpenCms 8.0</h2>
<ul>
    <li>Version 8.0.1 will be available by June 29, 2011.</li>
    <li>Version 8.0.2 to be released on August 18, 2011.</li>
</ul>
<p>Both Version 8.0.1 and 8.0.2 will be maintenance releases targeted to bring small improvements and fixes to the new ADE interface.</p>
<p>We need your feedback about OpenCms 8.0, please report all issues you find to our <a title="OpenCms Bugzilla issue tracker" target="_self" href="%(link1)">OpenCms Bugzilla</a> issue tracker.</p>
<h2>OpenCms 8.5</h2>
<p>OpenCms 8.5 will be the next major release and is scheduled for May / June 2012.</p>
<p>The general focus of OpenCms 8.5 will be to improve the ADE user experience even further. One of the things we certainly want to do is to improve the XML Content Editor and replace it with a dynamic, JavaScript based version. More details to be announced.</p>
<h2>Alkacon OCEE</h2>
<p>The <a href="%(link2)" target="_self" title="Alkacon OpenCms Enterprise Extensions">OpenCms Enterprise Extensions</a> (OCEE) is a set of Commercial OpenCms Modules from Alkacon. Many large scale OpenCms installations use Alkacon OCEE in order to improve performance and scalability.</p>
<ul>
    <li>The current OCEE Version is <a title="OCEE Version 2.1.4" target="_self" href="%(link3)">2.1.4</a>, compatible with OpenCms 7.x.&nbsp;</li>
    <li>OCEE Version 3.0 (Required for OpenCms 8) is to be released by May 25, 2011.</li>
    <li>There will be no further releases of OCEE 1.0 for OpenCms 6.x.</li>
</ul>
<p>All information is subject to change.</p>
<p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software publishes Roadmap for further development of OpenCms and Alkacon OCEE. ]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Version 8, Roadmap,  further development, future releases, OCEE, Enterprise Extensions, CMS, Open Source, Content, Management, Software]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
