<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Development Demo Modul für OpenCms 8 zum downloaden]]></Title>
    <Date>1306825200000</Date>
    <Preface><![CDATA[Das Development Demo Modul ist eine Sammlung gut dokumentierter, einfach zu verstehender Anwendungsfälle für OpenCms 8. Das Dev Demo Modul ist von Funktionalität und Design her eingeschränkt, bietet Entwicklern aber einen guten Ausgangspunkt für die Entwicklung von Templates mit Formattern, Settings und Group Containern.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Das Development Demo Modul ist eine Sammlung gut dokumentierter, einfach zu verstehender Anwendungsfälle für OpenCms 8.</p>
<p>Das Dev Demo Modul ist von der Funktionalität und vom Design her eingeschränkt, bietet Entwicklern aber einen guten Ausgangspunkt für die Entwicklung von Templates durch die mitgelieferten Beispiele samt Quellcode.</p>
<p>Wichtigste Merkmale des Dev Demo Moduls:</p>
<ul>
    <li>An den OpenCms Entwickler gerichtet, vermittelt dieses selbsterklärende Modul grundlegende Techniken für OpenCms 8.</li>
    <li>Das Dev Demo Modul stellt eine Einführung in die neuen Konzepte von OpenCms 8 dar, wie Formatter, Settings und Group Container.</li>
    <li>Veranschaulicht, wie Bilder dynamisch skaliert werden können, oder das Einfügen von Skripten (z.B. für Facebook &quot;Gefällt mir&quot; Button oder PayPal)</li>
</ul>
<p>Dieses Modul wird mit vollständigem Source Code unter der GNU GPL Version 3 veröffentlicht.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die erste Version des Development Demo Moduls ist eine Sammlung von Anwendungsfällen für OpenCms 8.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Dev Demo Modul, Development Demo, Modul, einfach zu verstehen, gut dokumentiert, Anwendungsfälle, Formatter, Setting, Group Container, Facebook, PayPal, Script]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Development Demo Module for OpenCms 8 ready for download]]></Title>
    <Date>1306825200000</Date>
    <Preface><![CDATA[The Development Demo Module is a set of well documented, easy to understand use cases for OpenCms 8. The Dev Demo Module is limited in functionality and design, but makes a good reference for developers looking at the source code. Demonstrates how to create templates with formatters, settings, group containers. Examples for pasting scripts like facebook or PayPal.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>The Development Demo Module is a set of well documented, easy to understand use cases for OpenCms 8.</p>
<p>In comparison to the &quot;Template III&quot; the Dev Demo Module is limited in functionality and design, but makes a good reference for developers looking at the source code.</p>
<p>Main features of the Dev Demo Module:</p>
<ul>
    <li>Adressing the OpenCms Developer, this self-explaining module demonstrates basic techniques for OpenCms 8</li>
    <li>An introduction to the new concepts brought with OpenCms 8, like Formatters, Settings and Group Containers.</li>
    <li>Demonstrates how to scale images dynamically or paste scripts (e.g. Facebook Like button, PayPal, etc.) in the XML content editor</li>
</ul>
<p>The module is released as full Open Source under the  GNU GPL version 3.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[This is the initial release of the Development Demo Module for OpenCms 8. The Dev Demo is a collection of use cases for OpenCms 8.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Dev Demo Module, Development Demo, Module, easy to understand, well documented, use cases, formatters, settings, group containers, facebook, paypal, scripts]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
