<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 8 ist da!]]></Title>
    <Date>1304967600000</Date>
    <Preface><![CDATA[Das neue OpenCms 8 steht jetzt zum kostenlosen Download auf alkacon.com bereit. OpenCms ist eine der beliebtesten Open Source Content Management Lösungen. Version 8 ist ein Major Release und bietet dem Content Manager eine stark verbesserte Benutzeroberfläche und jede Menge weiterer Verbesserungen wie die neue Content Subscription Engine, HTML-basierter multiple file upload sowie JPA Anbindung.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110509-opencms-v8-releasenotes.html]]></target>
            <uuid>2f18e4e0-788c-11e0-b15e-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Das neue OpenCms 8 ist fertig und kann ab sofort von der <a title="offizielle OpenCms Website" href="%(link0)" target="_self">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eine der beliebtesten Open Source Content Management Lösungen. Diese neue Version wurde von der Alkacon Software GmbH mit der Unterstützung durch die internationale OpenCms Community entwickelt.<br />
<br />
OpenCms bietet dem Content Manager eine stark verbesserte Benutzeroberfläche und jede Menge weiterer Verbesserungen.<br />
&nbsp;</p>
<h2>Die wichtigsten neuen Funktionen in OpenCms 8</h2>
<ul>
    <li>Im neuen &quot;Advanced Direct Edit&quot; Modus können neue Seiteninhalte jetzt ganz einfach per Drag &amp; Drop erstellt werden.</li>
    <li>Der neue Sitemap Editor ermöglicht das Erstellen neuer Seiten und das Ändern der Navigations-Struktur per Drag &amp; Drop.</li>
    <li>Ein komplett auf HTML basierender Dialog zum Hochladen mehrerer Dateien ersetzt das alte &quot;Upload Applet&quot;</li>
    <li>Mit der neuen &quot;Content Subscription Engine&quot; können Anwender automatisch über Änderungen in wichtigen Dokumenten informiert werden.</li>
    <li>Der Editor für XML Inhalte unterstützt jetzt &lt;xsd:choice&gt; Elemente.</li>
    <li>Der neue Veröffentlichen-Dialog unterstützt Session-basierte Auswahl von Inhalten, wie auch das Hinzufügen bzw. Entfernen individueller Ressourcen.</li>
    <li>Erweiterte Unterstützung für die Erzeugung von Inhalten für mobile Endgeräte mit dem &lt;cms:mobile&gt; tag.</li>
    <li>Ein zentraler &quot;Gemeinsamer Ordner&quot; wurde aufgenommen, der von allen Sites zugänglich ist, um Inhalte gemeinsam zu nutzen.</li>
    <li>JPA Anbindung wurde auf Datenbank-Ebene hinzugefügt. Dadurch wird die Anbindung von mehr als 10 weiteren Datenbanken ermöglicht.</li>
</ul>
<p>Allen OpenCms Anwendern wird empfohlen, ihre Installation auf Version 8.0.0 zu aktualisieren. OpenCms 8 ist voll abwärtskompatibel zu allen vorherigen 7er Versionen. Templates und andere OpenCms Anwendungen aus Version 7.0 oder 7.5 sollten ohne Weiteres auf Version 8 laufen.</p>
<p>Nutzer des Alkacon OCEE Paketes benötigen eine neue Version von Alkacon OCEE für diese OpenCms Version. OpenCms 8 benötigt Alkacon OCEE Version 3 oder höher.</p>
<p>Die vollständige Liste der Verbesserungen in dieser Version können Sie in den <a title="OpenCms 8 Release Notes" href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>Allgemeine Funktionen von OpenCms</h2>
<ul>
    <li>&quot;Direct Edit&quot; ermöglicht das Bearbeiten von Inhalten aus der Webseitenansicht.</li>
    <li>Strukturierte Inhalte können durch einfache XML Schemas definiert werden.</li>
    <li>Editoren für strukturierte XML Inhalte werden automatisch basierend auf XML Schemas erstellt. Strukturierte XML Inhalte können im Editor mit &quot;Reitern&quot; gruppiert werden.</li>
    <li>Ein Editor mit Syntax Highlight Funktion ist verfügbar für textbasierte Dateien (z.B. XML, HTML, JSP).</li>
    <li>Ein WYSIWYG Editor für unstrukturierte Inhalte ist verfügbar.</li>
    <li>Einfach zu bedienender &quot;Online / Offline&quot; Workflow.</li>
    <li>Alle Änderungen oder neue Seiten müssen zunächst freigegeben / veröffentlicht werden bevor sie &quot;Online&quot; sind.</li>
    <li>Unsere &quot;Content Relationship Engine&quot; (CRE) ermöglicht das Management aller Links im System.</li>
    <li>Durch das integrierte Linkmanagement wird die Korrektheit aller Links innerhalb einer Website gewährleistet.</li>
    <li>Das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist problemlos möglich.</li>
    <li>Die WebDAV-Schnittstelle ermöglicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme.</li>
    <li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
    <li>Bilder und weitere Inhalte werden in Galerien verwaltet, welche über eine AJAX Oberfläche verfügen.</li>
    <li>Alle Galerien ermöglichen die Gruppierung von Inhalten nach Kategorien oder basierend auf der Dateistruktur.</li>
    <li>Integrierte Volltextsuche auf Webseiten, aber auch in PDF, MS Office Dokumenten etc.</li>
    <li>Volltextsuche auch in nicht-veröffentlichten &quot;Offline&quot; Inhalten.</li>
    <li>Vollständige Benutzerverwaltung inklusive Unterstützung von &quot;Organisationseinheiten&quot;.</li>
    <li>Benutzer und Gruppen können dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden.</li>
    <li>Die redaktionellen Zugriffsrechte werden über systeminterne Rollen definiert.</li>
    <li>Das Modulsystem von OpenCms ermöglicht das einfache Hinzufügen von nachträglichen Erweiterungen.</li>
    <li>Eine &quot;Time Warp&quot; Funktion in der Workplace ermöglicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr veröffentlicht sind.</li>
    <li>JSP Integration ermöglicht das einfache und standardkonforme Erstellen von Templates und anderen dynamischen Funktionen.</li>
    <li>Datenbankunterstützung für Oracle, MySQL, PostgreSQL, MS SQL Server, DB2, AS400 sowie HSQL.</li>
    <li>Der Download beinhaltet eine vollständige Demo Website &quot;Die Wunderbare Welt der Blumen&quot;.</li>
    <li>... und vieles mehr.</li>
</ul>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a title="OpenCms Solution Provider" href="%(link2)" target="_self">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a title="Liste von Referenzen" href="%(link3)" target="_self">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produktübersicht" href="%(link4)" target="_self">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link5)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 8 von Alkacon jetzt mit neuer Oberfläche, Content Subscription, Multiple File Upload und JPA Anbindung. Voll abwärtskompatibel zu 7er Versionen - Upgrade Wizard zum kostenlosen Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 8, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, maintenance release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Get OpenCms 8 now!]]></Title>
    <Date>1304967600000</Date>
    <Preface><![CDATA[OpenCms 8 is now ready and available for free download from Alkacon Software. OpenCms is one of the most popular Open Source Content Management Solutions. Version 8 is a major release and contains a greatly improved user interface for content managers and numerous other enhancements.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110509-opencms-v8-releasenotes.html]]></target>
            <uuid>2f18e4e0-788c-11e0-b15e-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8 is now ready and available for <a title="Download OpenCms 8 from the official website opencms.org" target="_self" href="%(link0)">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 8 contains a greatly improved user interface for content managers and numerous other enhancements.</p>
<h2>Major new features in OpenCms 8</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; mode allows to create page content by drag &amp; drop.</li>
    <li>The new sitemap editor allows to create new pages and rearrange the navigation tree by drag &amp; drop.</li>
    <li>A multiple file enabled upload dialog all based on HTML replaced the old &quot;Upload Applet&quot;.</li>
    <li>The new &quot;Content Subscription Engine&quot; allows to inform users when important documents have changed.</li>
    <li>The XML content editor now support &lt;xsd:choice&gt; elements.</li>
    <li>The new publish dialog supports session based selection of content as well as add/remove of individual resources.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
    <li>A central &quot;Shared Folder&quot; has been added that is available from all sites for sharing content.</li>
    <li>JPA support has been added to the database layer, so there's support for 10  additional databases.</li>
</ul>
<p>We recommend everyone who uses OpenCms to update to the 8.0.0 release. OpenCms 8 is fully backward compatible to all prior 7.x versions. Templates and other OpenCms developed code from version 7.0 or 7.5 should work &quot;out of the box&quot; with version 8.</p>
<p>Users of the Alkacon OCEE packages require a new version of Alkacon OCEE for use with this OpenCms release. OpenCms 8 requires Alkacon OCEE version 3 or newer.</p>
<p>Please check out the  <a title="OpenCms 8 release notes" href="%(link1)">release notes</a> for further details of the changes in this release.</p>
<h2>Features of OpenCms in General</h2>
<ul>
    <li>&quot;Direct Edit&quot; allows creation and modification of content directly from a web page.</li>
    <li>Structured contents can be defined using a simple XML schema.</li>
    <li>Includes editors with WYSIWYG and syntax highlighting functionality.</li>
    <li>Easy to use &quot;Online / Offline&quot; workflow, changes must be approved before they become visible.</li>
    <li>Link management for all internal resources with broken link detection.</li>
    <li>Support for WebDAV access to all resources in the OpenCms repository.</li>
    <li>Integrated image scaling and cropping.</li>
    <li>Full featured internal user management that supports the concept of &quot;Organizational Units&quot; (OUs).</li>
    <li>Allows management of multiple websites within one installation.</li>
    <li>Contents can be served dynamically or exported to static HTML files.</li>
    <li>Extensions can be added through a flexible module system.</li>
    <li>Full text search for web pages, but also in PDF, MS Office documents etc.</li>
    <li>The &quot;time warp&quot; feature allows to view resources which are expired or not yet released.</li>
    <li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
    <li>Distribution includes a complete demo website &quot;Wonderful World of Flowers&quot;.</li>
    <li>... and many more</li>
</ul>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 10 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a title="OpenCms Solution Provider" href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a title="list of reference sites" href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a title="Alkacon product overview" href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a title="Alkacon Software - The OpenCms Experts" href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 8 from Alkacon comes with new User Interface, Content Subscription, multiple file upload and JPA support. Fully backward compatible to prior versions, upgrade wizard available. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Version 8, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
