<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 8.0.1 release notes]]></Title>
    <Date>1309372200000</Date>
    <Preface><![CDATA[The OpenCms 8.0.1 release notes contain detailed information about the new features in this maintenance update.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/bugtracker.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 8.0.1. With OpenCms 8.0.1, a number of issues that persisted in the 8.0.0  release have been fixed. Some new features have been added as well.</p>
<h2>Main new features of OpenCms 8</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; mode allows to create page content by drag &amp; drop.</li>
    <li>The new sitemap editor allows to create new pages and rearrange the navigation tree by drag &amp; drop.</li>
    <li>A multiple file enabled upload dialog all based on HTML replaced the old &quot;Upload Applet&quot;.</li>
    <li>The new &quot;Content Subscription Engine&quot; allows to inform users when important documents have changed.</li>
    <li>The XML content editor now support &lt;xsd:choice&gt; elements.</li>
    <li>The new publish dialog supports session based selection of content as well as add/remove of individual resources.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
    <li>A central &quot;Shared Folder&quot; has been added that is available from all sites for sharing content.</li>
    <li>JPA support has been added to the database layer, so there's support for 10  additional databases.</li>
</ul>
<h2>New features and improvements in OpenCms 8.0.1</h2>
<ul>
    <li>The sitemap and ADE configuration has been greatly simplified and improved.</li>
    <li>The properties of a page can now be modified directly in the ADE editor.</li>
    <li>The full text search now also works on MS Office Open XML based documents (.docx, .xlsx, .pptx).</li>
    <li>German content was added to the Template III flower showcase to demonstrate a possible multi language setup.</li>
    <li>A &quot;log out&quot; option has been added to the menu in the ADE editor.</li>
    <li>In the sitemap editor there is a new option to go back to the last page viewed in the ADE editor.</li>
    <li>The sitemap editor now displays the lock status of pages and sub-pages and handles lock conflicts.</li>
    <li>A dialog in the sitemap editor allows to display and change the lock status of all sub-pages of a page.</li>
    <li>The sitemap editor now shows different icons for container pages and detail pages.</li>
    <li>The boundaries of a group container are now highlighted when the elements in the group are edited.</li>
    <li>Modules can now automatically add new resource types to the sitemap configuration with default settings.</li>
    <li>It's now possible to disable selected resource types in the configuration of sub-sitemaps.</li>
    <li>A development demo (dev.demo) module and content has been added to document the new OpenCms 8 features for developers.</li>
    <li>Container element settings are accessible in a formatter JSP using the EL with ${cms.element.settings}.</li>
    <li>Localization strings can now be directly added to an XSD schema for an XML content document.</li>
    <li>The model files for new XML content elements have been replaced by the XSD schema based creation with default values.</li>
    <li>The full text search extraction is now based on the Apache Tika library.</li>
    <li>GWT has been updated to version 2.3.</li>
</ul>
<h2>Fixed issues in OpenCms 8.0.1</h2>
<ul>
    <li>Fixed issue with the ADE editor overlay that sometimes crashed and / or could not be closed.</li>
    <li>Fixed issue with group containers not being properly saved after editing.</li>
    <li>Fixed issue where an idle user's browser session expired even if the ADE editor was open.</li>
    <li>Fixed issue where two users that open a page in the ADE editor concurrently could overwrite each other's work.</li>
    <li>Fixed issue with concurrent lock states in the sitemap editor.</li>
    <li>Fixed issue with recent list not being properly updated if the individual settings where edited.</li>
    <li>Fixed issue in the new property dialog where an inherited or shared value remained visible and changeable.</li>
    <li>Fixed issue with full text extraction of MS PowerPoint (.ppt) documents.</li>
    <li>Fixed issue with the CSS layout for Template III.</li>
    <li>Fixed issue #1981: Static export after publish fails on exporting template resources with parameters.</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 8.0.1 release.</p>
<p>OpenCms 8.0.1 is fully backward compatible to all prior 7.x versions. Templates and other OpenCms developed code from version 7.0 or 7.5 should work &quot;out of the box&quot; with version 8.0.1.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version 8.0.1   requires Alkacon OCEE version 3.0 or later. In case you want to   update your OpenCms installation to 8.0.1, please make sure you update   Alkacon OCEE to 3.0 or later first!</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 8.0 has been written and tested using Java 5 / 6. We have tested only with SUNs version (well actually it's ORACLEs version now) of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works &quot;out of the box&quot; with Tomcat 6.0, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x, MS SQL Server 2000 / 2003, DB2 9.1 and HSQLDB 1.8.0. The automatic update wizard for OpenCms 8 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and CVS build tags<strong><br />
</strong></h2>
<p>We are currently migrating the OpenCms repository from CVS to Git.   The &quot;blessed&quot; Git repository will be made available from Github at <a href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to check out OpenCms from Git, please keep the  following in mind: The tag numbers for all OpenCms 8.0 final releases   are &quot;build_8_0_x&quot;, so the 8.0.1 release is tagged &quot;build_8_0_1&quot;.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a href="%(link1)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p><a href="%(link2)" target="_self" title="OpenCms issue tracker on GitHub">Please use our OpenCms issue tracker to report bugs in this release.</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 8 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 8.0.1, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8.0.1, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, Maintenance Release]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
