<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software veröffentlicht OpenCms 8.0.1]]></Title>
    <Date>1309374000000</Date>
    <Preface><![CDATA[OpenCms Version 8.0.1 ist ab sofort zum kostenlosen Download von Alkacon Software verfügbar. OpenCms ist eines der populärsten Open Source Content Management Systeme (CMS) in Java. Version 8.0.1 behebt einige Probleme im Advanced Direct Edit (ADE), Sitemap und Drag&Drop der ersten Version von OpenCms 8. Darüberhinaus bietet OpenCms 8.0.1 noch einige neue Funktionen.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110629-opencms-v801-releasenotes.html]]></target>
            <uuid>cae7ef45-a08f-11e0-b15e-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110525-alkacon-ocee-v3.html]]></target>
            <uuid>971a5d3e-81f6-11e0-b15e-b7a33137a728</uuid>
            <query><![CDATA[__locale=de]]></query>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/solution_providers/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/references/index.html]]></target>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 8.0.1 von OpenCms kann ab sofort von der <a href="%(link0)" target="_self" title="Jetzt OpenCms 8.0.1 runterladen!">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch eine internationale Community von OpenCms Entwicklern.</p>
<p>Mit OpenCms 8.0.1 werden verschiedene Fehler der ersten Version von OpenCms 8 behoben. Außerdem gibt es einige Verbesserungen und Erweiterungen.</p>
<h2>Verbesserungen und andere Änderungen in OpenCms 8.0.1</h2>
<ul>
    <li>Die Sitemap und ADE Konfiguration wurde wesentlich vereinfacht und verbessert.</li>
    <li>Die Eigenschaften einer Seite können jetzt direkt im ADE Editor geändert werden.</li>
    <li>Die Volltext-Suche arbeitet jetzt auch auf MS Office Open XML basierten Dokumenten (.docx, .xlsx, .pptx).</li>
    <li>Deutschsprachiger Demo Inhalt wurde für Template III hinzugefügt, um ein mehrsprachiges Setup anschaulich zu machen.</li>
    <li>Die Option &quot;Abmelden&quot; wurde in das Menü des ADE Editors eingefügt.</li>
    <li>Neue Option im Sitemap Editor um zur letzten Seite zurückzukehren, die mit dem ADE Editor angeschaut wurde.</li>
    <li>Der Sitemap Editor zeigt nun Sperrungen von Seiten und Unter-Seiten an und löst Konflikte mit Sperrungen.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>Die wichtigsten neuen Funktionen in OpenCms 8</h2>
<ul>
    <li>Im neuen &quot;Advanced Direct Edit&quot; Modus können neue Seiteninhalte jetzt ganz einfach per Drag &amp; Drop erstellt werden.</li>
    <li>Der neue Sitemap Editor ermöglicht das Erstellen neuer Seiten und das Ändern der Navigations-Struktur per Drag &amp; Drop.</li>
    <li>Ein komplett auf HTML basierender Dialog zum Hochladen mehrerer Dateien ersetzt das alte &quot;Upload Applet&quot;</li>
    <li>Mit der neuen &quot;Content Subscription Engine&quot; können Anwender automatisch über Änderungen in wichtigen Dokumenten informiert werden.</li>
    <li>Der Editor für XML Inhalte unterstützt jetzt &lt;xsd:choice&gt; Elemente.</li>
    <li>Der neue Veröffentlichen-Dialog unterstützt Session-basierte Auswahl von Inhalten, wie auch das Hinzufügen bzw. Entfernen individueller Ressourcen.</li>
    <li>Erweiterte Unterstützung für die Erzeugung von Inhalten für mobile Endgeräte mit dem &lt;cms:mobile&gt; tag.</li>
    <li>Ein zentraler &quot;Gemeinsamer Ordner&quot; wurde aufgenommen, der von allen Sites zugänglich ist, um Inhalte gemeinsam zu nutzen.</li>
    <li>JPA Anbindung wurde auf Datenbank-Ebene hinzugefügt. Dadurch wird die Anbindung von mehr als 10 weiteren Datenbanken ermöglicht.</li>
</ul>
<p>Allen OpenCms Anwendern wird empfohlen, ihre Installation auf Version 8.0.1 zu aktualisieren. OpenCms 8 ist voll abwärtskompatibel zu allen vorherigen 7er Versionen. Templates und andere OpenCms Anwendungen aus Version 7.0 oder 7.5 sollten ohne Weiteres auf Version 8 laufen.</p>
<p>Nutzer des Alkacon OCEE Paketes benötigen eine neue Version von Alkacon OCEE für diese OpenCms Version. OpenCms 8 benötigt <a href="%(link2)" target="_self" title="Alkacon OCEE version 3.0">Alkacon OCEE Version 3.0</a> oder höher.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a href="%(link3)" title="OpenCms Solution Provider">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a href="%(link4)" title="Liste von Referenzen">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a rel="_blank" class="external" href="%(link5)" title="Alkacon Produktübersicht" target="_blank">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a rel="_blank" class="external" href="%(link6)" title="Alkacon Software &ndash; Die OpenCms Experten" target="_blank">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 8 von Alkacon jetzt mit neuer Oberfläche, Content Subscription, Multiple File Upload und JPA Anbindung. Voll abwärtskompatibel zu 7er Versionen - Upgrade Wizard zum kostenlosen Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Version 8.0.1, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, maintenance release, Advanced Direct Edit, Drag and Drop, sitemap editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software releases OpenCms 8.0.1]]></Title>
    <Date>1309374000000</Date>
    <Preface><![CDATA[OpenCms 8.0.1 is now ready and available for free download from Alkacon Software. OpenCms is one of the most popular Open Source Content Management Solutions. Version 8.0.1 is a maintenance release that fixes a number of issues concerning Advanced Direct Edit (ADE), Sitemap and Drag&Drop that persisted in the initial release of OpenCms 8. Some new features have been added as well.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110629-opencms-v801-releasenotes.html]]></target>
            <uuid>cae7ef45-a08f-11e0-b15e-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110525-alkacon-ocee-v3.html]]></target>
            <uuid>971a5d3e-81f6-11e0-b15e-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8.0.1 is now ready and available for <a title="Download OpenCms 8.0.1 from the official website opencms.org" target="_self" href="%(link0)">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 8 contains a greatly improved user interface for content managers and numerous other enhancements.</p>
<p>OpenCms 8.0.1 is a maintenance release that fixes a number of issues that persisted in the initial release of OpenCms 8. Some new features have been added as well.</p>
<h2>Main fixed issues and improvements in OpenCms 8.0.1</h2>
<ul>
    <li>The sitemap and ADE configuration has been greatly simplified and improved.</li>
    <li>The properties of a page can now be modified directly in the ADE editor.</li>
    <li>The full text search now also works on MS Office Open XML based documents (.docx, .xlsx, .pptx).</li>
    <li>German content was added to the Template III flower showcase to demonstrate a possible multi language setup.</li>
    <li>A &quot;log out&quot; option has been added to the menu in the ADE editor.</li>
    <li>In the sitemap editor there is a new option to go back to the last page viewed in the ADE editor.</li>
    <li>The sitemap editor now displays the lock status of pages and sub-pages and handles lock conflicts.</li>
</ul>
<p>Please check out the  <a title="OpenCms 8.0.1 release notes" href="%(link1)">release notes</a> for further details of the changes in this release.</p>
<h2>Main new features in OpenCms 8</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; mode allows to create page content by drag &amp; drop.</li>
    <li>The new sitemap editor allows to create new pages and rearrange the navigation tree by drag &amp; drop.</li>
    <li>A multiple file enabled upload dialog all based on HTML replaced the old &quot;Upload Applet&quot;.</li>
    <li>The new &quot;Content Subscription Engine&quot; allows to inform users when important documents have changed.</li>
    <li>The XML content editor now support &lt;xsd:choice&gt; elements.</li>
    <li>The new publish dialog supports session based selection of content as well as add/remove of individual resources.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
    <li>A central &quot;Shared Folder&quot; has been added that is available from all sites for sharing content.</li>
    <li>JPA support has been added to the database layer, so there's support for 10  additional databases.</li>
</ul>
<p>We recommend everyone who uses OpenCms to update to the 8.0.1 release. OpenCms 8 is fully backward compatible to all prior 7.x versions. Templates and other OpenCms developed code from version 7.0 or 7.5 should work &quot;out of the box&quot; with version 8.</p>
<p>Users of the Alkacon OCEE packages require a new version of Alkacon OCEE for use with this OpenCms release. OpenCms 8 requires <a title="Alkacon OCEE version 3.0" target="_self" href="%(link2)">Alkacon OCEE version 3.0</a> or newer.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 10 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a title="OpenCms Solution Provider" href="%(link3)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a title="list of reference sites" href="%(link4)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a title="Alkacon product overview" href="%(link5)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a title="Alkacon Software - The OpenCms Experts" href="%(link6)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 8.0.1 is a maintenance release fixing several issues that persited in the initial release of OpenCms 8. Fully backward compatible to prior versions, upgrade wizard available. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, Version 8.0.1, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, maintenance release, Advanced Direct Edit, Drag and Drop, sitemap editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
