<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE 3.0.1 für OpenCms 8 ist verfügbar]]></Title>
    <Date>1309503600000</Date>
    <Preface><![CDATA[Die Alkacon OCEE OpenCms Enterprise Extensions sind nun in Version 3.0.1 für OpenCms 8 verfügbar. Dies ist ein Kompatibilitäts-Update für OpenCms Version 8.0.1]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE ist eine kommerzielle Erweiterung von OpenCms welche unter anderem Unterstützung von LDAP, Clustering, Replikation und verbesserter Performance in OpenCms bietet. Vollständige Informationen zu OCEE erhalten Sie auf der <a href="%(link0)" target="_self">Alkacon Website</a>.</p>
<p>Die aktuelle OCEE Version 3.0.1  ist ein <strong>Kompatibilitäts-Update</strong> für OpenCms Version 8.0.1.</p>
<h2>&nbsp;</h2>
<p>In den <a target="_self" href="%(link1)" title="Alkacon OCEE 3.0 Release Notes">OCEE Release Notes</a> finden Sie die vollständige Beschreibung der neuen Funktionen und Verbesserungen dieser Version.</p>
<p><strong>Hinweis für Benutzer von OpenCms 7: </strong>Die aktuelle OCEE Version für OpenCms 7.x ist  <a href="%(link2)" title="OCEE Version 2.1.4 für OpenCms 7">Version 2.1.4</a>. OCEE 2.1.4 ist kompatibel mit allen bisherigen Versionen 7.x von OpenCms.</p>
<h3>Allgemeine Funktionen von OCEE</h3>
<ul>
    <li><i>Unterstützung von mehrstufigen Server-Szenarien mit dem OCEE Replicator:</i> Es ist jetzt möglich, die im OpenCms erzeugten Inhalte in mehreren Stufen zu replizieren, so z.B. von einem &quot;Redaktionssystem&quot; zunächst auf ein &quot;Abnahmesystem&quot; und erst danach auf das &quot;Livesystem&quot;. Die Anzahl der Stufen in der Replikation kann frei konfiguriert werden.</li>
    <li><i>Zentrale Konfiguration der Server mit dem OCEE Cluster:</i> Die verschiedenen Server in einem Cluster können nun über ein GUI vom Workplace-Server aus zentral konfiguriert werden. Die betrifft die geplanten Vorgänge (Scheduled Jobs), Modulparameter und die Suchindexkonfiguration.</li>
    <li><i>Unterstützung von Organisationseinheiten im LDAP Connector:</i> Jede Organisationseinheit (OU) im OpenCms kann jetzt an einen eigenen Pfad im LDAP-Server angebunden werden.</li>
    <li><i>Verbesserte Performance im OCEE Accelerator:</i> Nach dem Veröffentlichen von Inhalten bleiben unveränderte Eigenschaften im Cache nun erhalten.</li>
</ul>
<h3>Über Alkacon OCEE</h3>
<p>Bei den Alkacon <strong>OpenCms Enterprise Extensions</strong> (auch <strong>OCEE</strong> genannt) handelt es sich um eine kommerzielle Erweiterung von OpenCms. Alkacon OCEE fügt Funktionen zu OpenCms hinzu, die für den Betrieb von OpenCms in mittelständigen oder großen Unternehmen benötigt werden und für die Datenkonsistenz, Sicherheit und Ausfallsicherung von großer Bedeutung sind.</p>
<p>Die Alkacon OpenCms Enterprise Extensions sind als lizenziertes Softwareprodukt der Alkacon Software GmbH erhältlich. Alkacon ist für die Entwicklung des Open Source Kerns von OpenCms federführend verantwortlich. Den vollständigen Text des Lizenzvertrages finden sie hier.</p>
<p>Alkacon OCEE wird auf dem standardmäßigen OpenCms System installiert. Bei OCEE handelt es sich um eine rein binäre Software-Distribution, d.h. der Quellcode der OCEE- Pakete steht nicht zur Verfügung. Damit Sie die OCEE-Pakete von Alkacon nutzen können, müssen Sie einen Lizenzschlüssel eingeben. Dieser wird Ihnen nach dem Erwerb einer Alkacon OCEE-Lizenz von Alkacon Software zur Verfügung gestellt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die Alkacon OCEE OpenCms Enterprise Extensions sind nun in Version 3.0.1 für OpenCms 8 verfügbar. Dies ist ein Kompatibilitäts-Update für OpenCms Version 8.0.1]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, OCEE 3, Kompatibilitäts-Update, Enterprise Extensions, OCEE Cluster Paket, OCEE Accelerator, OCEE Cluster Manager, OCEE LDAP Connector, OCEE Replicator]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE 3.0.1 for OpenCms 8 now available]]></Title>
    <Date>1309503600000</Date>
    <Preface><![CDATA[The Alkacon OCEE OpenCms Enterprise Extensions are now available in version 3.0.1 for OpenCms 8. This is a compatibility update for the new OpenCms version 8.0.1]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance. Full information about OCEE is available on the <a href="%(link0)">Alkacon website</a>.</p>
<p>The latest OCEE release version 3.0.1  is a compatibility update for the new OpenCms version 8.0.1.</p>
<p>&nbsp;</p>
<p>Please see the <a target="_self" href="%(link1)" title="Alkacon OCEE 3.0 release notes">OCEE release notes</a> for a full description about the new features and changes in this version.</p>
<p><strong>Notice for users of OpenCms 7: </strong>The current release of OCEE for OpenCms 7.x is  <a title="OCEE Version 2.1.4 for OpenCms 7" href="%(link2)">version 2.1.4</a>. OCEE 2.1.4 is compatible with all 7.x versions of OpenCms.</p>
<h3>Main features in OCEE</h3>
<ul>
    <li><i>Support for multi-staging scenarios with the OCEE Replicator: </i>You can configure a &quot;development&quot; server that first pushes all generated content to a &quot;staging&quot; server e.g. for approval, and then afterwards to the &quot;delivery&quot; server. This is freely configurable, and there is no limit on the number of stages.</li>
    <li><i>Centralized configuration of servers with the OCEE Cluster: </i>You can now edit the scheduled jobs, search index configuration and module parameters for all individual servers in the cluster from a common GUI in the workplace server.</li>
    <li><i>Support for OpenCms OUs in the LDAP Connector: </i>It is now possible to connect each OpenCms OU with an individual path in the LDAP Server.</li>
    <li><i>Improved performance with the OCEE Accelerator: </i>A much improved cache policy in the Accelerator now selectively flushes only certain cached items after publishing instead of just flushing everything.</li>
</ul>
<h3>About Alkacon OCEE</h3>
<p>The Alkacon <strong>OpenCms Enterprise Extensions</strong> (also called <strong>OCEE</strong>) are a commercial extension for OpenCms. Alkacon OCEE adds features to OpenCms that are often required for running OpenCms in a medium or large Enterprise, where data consistency, security and failover are highly important.</p>
<p>The Alkacon OpenCms Enterprise Extensions are available as a licensed software product from Alkacon Software GmbH, the company responsible for most of the development of the open source core OpenCms system. Please click here for the full license terms.</p>
<p>OCEE is installed on a standard OpenCms system. OCEE is a binary only distribution. This means that the source code for the OCEE modules is not available. To use any of the Alkacon OCEE packages, you need to enter a license key that will be provided by Alkacon software after your purchase of an Alkacon OCEE license.</p>
<p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[The Alkacon OCEE OpenCms Enterprise Extensions are now available in version 3.0.1 for OpenCms 8. This is a compatibility update for the new OpenCms version 8.0.1]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, OCEE 3, OCEE 3.0.1, Enterprise Extensions, OCEE Cluster package, OCEE Accelerator, OCEE Cluster Manager, OCEE LDAP Connector, OCEE Replicator]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
