<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OpenCms Source Code wird jetzt auf Github gehostet]]></Title>
    <Date>1309982400000</Date>
    <Preface><![CDATA[Alkacon Software hat das OpenCms Source Code Repository auf den populären web-basierten Hosting-Dienst Github verschoben. Die komplette Revision History von OpenCms seit 1999 wurde von CVS konvertiert.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat sein Software Repository von CVS auf <strong>Github</strong> verschoben. Github basiert auf der populären verteilten Versionsverwaltung (DRCS) <strong>Git</strong>. Der web-basierte Hosting-Dienst Github ist bei Open Source Entwicklern der bekannteste Dienst seiner Art.</p>
<p>Da CVS inzwischen technisch veraltet ist, hat Alkacon Software bei der Versionsverwaltung auf Git umgestellt, um den Softwareentwicklungs-Prozess zukunftssicher zu machen und eine bessere Zusammenarbeit mit der OpenCms Community zu erreichen.</p>
<p>Der komplette OpenCms-Quellcode steht bei Github unter <a href="%(link0)" target="_self">github.com/alkacon/opencms-core</a> zur Verfügung.</p>
<p>Die Build Tags folgen weiter dem Schema build_x_x_x und ausgewählte Branches älterer OpenCms Versionen ab 6.0 sind verfügbar.</p>
<p>Der Quellcode der Alkacon OAMP Module, wie auch diverser OpenCms Utility Bibliotheken, werden so bald wie möglich auf Github zugänglich sein.<br />
&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software hat sein Repository von CVS auf den web-basierten Hosting-Dienst Github verschoben.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, source, development, repository, CVS, github, revision control, DRCS]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OpenCms source code now hosted on Github]]></Title>
    <Date>1309982400000</Date>
    <Preface><![CDATA[Alkacon Software has moved the OpenCms source code repository to the popular web-based hosting service Github. The complete revision history of OpenCms since 1999 has been converted from CVS.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has moved its software repository from CVS to <strong>Github</strong>. Github is based on the popular distributed revision control system (DRCS) <strong>Git</strong>. The web-based hosting service Github is very popular amongst Open Source Developers.</p>
<p>Alkacon Software has chosen Git as revision control to keep its software development process based on the best available technology (since CVS is technically out-dated) and to achieve a better collaboration with the OpenCms community.</p>
<p>The source code of OpenCms is now available from Github at <a target="_self" href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<p>Build tags follow the schema build_x_x_x and selected branches of older OpenCms versions since 6.0 are still available.</p>
<p>The source code of the Alkacon OAMP modules, as well as several OpenCms utility libraries, will be made available on Github as soon as possible.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software has moved its repository from CVS to web-based hosting service Github. ]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8, source, development, repository, CVS, github, revision control, DRCS]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
