<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon unterstützt mobile.de bei der Entwicklung von OpenCms Projekten]]></Title>
    <Date>1310414400000</Date>
    <Preface><![CDATA[Köln - Die Alkacon Software GmbH unterstützt mobile.de ab sofort bei der Entwicklung von OpenCms Projekten. Als erstes Projekt wurde die bestehende OpenCms Infrastruktur von mobile.de optimiert.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Köln - Die Alkacon Software GmbH unterstützt mobile.de ab sofort bei der Entwicklung von OpenCms Projekten. Als erstes Projekt wurde die bestehende OpenCms Infrastruktur von mobile.de optimiert.]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Für die Verwaltung bestimmter redaktioneller Inhalte setzt mobile.de schon seit geraumer Zeit auf das populäre Open Source Content Management System OpenCms. Alkacon Software, die Entwickler von OpenCms, unterstützen das&nbsp; Redaktionsteam von mobile.de nun bei der Umsetzung zukünftiger Anforderungen. Hierbei liegt der Fokus zunächst auf der Beschleunigung der redaktionellen Abläufe durch Installation eines OpenCms Clusters.. &bdquo;Das unser Produkt OpenCms auf dem mit rund 67 Millionen Besuchen pro Monat meistbesuchten Fahrzeugmarkt in Deutschland eingesetzt wird erfüllt uns mit besonderem Stolz. Wir freuen uns, das mobile.de zukünftig unsere professionellen OpenCms Dienstleistungen in Anspruch nimmt&ldquo; so Alexander Kandzior, Geschäftsführer der Alkacon Software GmbH.</p>
<h3>Über Alkacon Software:</h3>
<p>Die Alkacon Software GmbH aus Köln ist verantwortlich für die Entwicklung von OpenCms. Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.&nbsp; Alkacon Software bietet seinen Kunden Support, Schulungen und Zusatzprodukte für OpenCms an. Für die Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen.</p>
<h3>Über mobile.de</h3>
<p>mobile.de wurde 1996 gegründet und ist mit rund 67 Millionen Besuchen pro Monat der meistbesuchte Fahrzeugmarkt für den An- und Verkauf von Fahrzeugen in Deutschland (IVW 05/2011). Derzeit stehen mehr als 1,4 Millionen Fahrzeuge zur Auswahl. Damit bietet mobile.de hierzulande das größte Pkw-, Nutzfahrzeug- und Motorradangebot (Quelle: CAR-Institut). Zu den Nutzern gehören sowohl Privatkunden als auch mehr als 35.000 registrierte Fahrzeughändler. Der Fahrzeugmarkt bietet seinen Service insgesamt in neun Sprachen an. mobile.de gehört zur mobile.international GmbH, die neben dem deutschen Marktführer auch Marktplätze in Italien, Frankreich, Polen und Rumänien betreibt. Das Unternehmen beschäftigt 140 Mitarbeiter am Standort Dreilinden/Berlin und ist ein Tochterunternehmen der eBay International AG.</p>
<p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die Alkacon Software GmbH unterstützt mobile.de ab sofort bei der Entwicklung von OpenCms Projekten. Als erstes Projekt wurde die bestehende OpenCms Infrastruktur von mobile.de optimiert.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, mobile.de, support, development, OpenCms project, cluster, optimization, market leader, vehicle marketplace]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon supports mobile.de in development of OpenCms projects]]></Title>
    <Date>1310414400000</Date>
    <Preface><![CDATA[Cologne, Germany – Alkacon Software GmbH now supports mobile.de in the development of OpenCms projects. The first project was the optimization of the existing mobile.de OpenCms infrastructure.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Cologne, Germany – Alkacon Software GmbH now supports mobile.de in the development of OpenCms projects. The first project was the optimization of the existing mobile.de OpenCms infrastructure.]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>mobile.de has been using the popular Open Source Content Management System OpenCms for managing editorial content on its website for a considerable time. Alkacon Software, the developers of OpenCms, now support the editorial staff at mobile.de in realizing future requirements. The first project focused on accelerating editorial processes by installing an OpenCms cluster. &quot;We are proud that Germany's biggest vehicle online marketplace with 67 million visitors per month is using OpenCms.&nbsp; It's great that we can deliver our professional OpenCms Services to mobile.de in the future.&quot; says Alexander Kandzior, CEO of Alkacon Software GmbH.</p>
<h3>About Alkacon Software:</h3>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 10 years and has an active community of Open Source developers. Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives the customers a layer of security and convenience often required for mission critical OpenCms installations.</p>
<h3>About mobile.de</h3>
<p>mobile.de was founded in 1996 and is Germany' biggest vehicle online marketplace with 67 million visitors per month (IVW 05/2011). Currently there are more than 1.4 million vehicles on sale. mobile.de has the biggest offering of passenger cars, utility vehicles and motor cycles nationwide. (Source: CAR-Institute). Users are private customers as well as over 35.000 registered car-dealers. The vehicle marketplace is localized in 9 languages. mobile.de is part of mobile.international GmbH that runs marketplaces in Italy, France, Poland and Romania besides the German market leader. The company has 140 employees at their facility in Dreilinden/Berlin and is a subsidiary company of eBay International AG.</p>
<p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software GmbH now supports mobile.de in the development of OpenCms projects. The first project was the optimization of the existing mobile.de OpenCms infrastructure.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, mobile.de, support, development, OpenCms project, cluster, optimization, market leader, vehicle marketplace]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
