<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software veröffentlicht OpenCms 8.0.2]]></Title>
    <Date>1313694000000</Date>
    <Preface><![CDATA[Mit Version 8.0.2 erweitert Alkacon Software sein erfolgreiches Website Content Management System OpenCms 8 um mehrere nützliche Funktionen und Verbesserungen. Unter anderem bietet OpenCms 8.0.2 jetzt Drag & Drop Integration für beliebige JSP Seiten, feiner granulierte Berechtigungen und einen verbesserten Sitemap Editor.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110818-opencms-v802-releasenotes.html]]></target>
            <uuid>49c2f465-c8af-11e0-a731-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 8.0.2 von OpenCms kann ab sofort von der <a href="%(link0)" target="_self" title="Jetzt OpenCms 8.0.2 runterladen!">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch eine internationale Community von OpenCms Entwicklern.</p>
<p>OpenCms 8.0.2 bringt zahlreiche wichtige und nützliche Verbesserungen und Erweiterungen und behebt verschiedene Fehler der Version 8.0.1.</p>
<h2>Verbesserungen und andere Änderungen in OpenCms 8.0.2</h2>
<ul>
    <li>Drag &amp; Drop für beliebige vorhandene JSPs kann mit dem neuen, XML Content basierten Ressourcentyp &quot;Dynamische Funktion&quot; ganz einfach eingerichtet werden.</li>
    <li>Feiner granulierte Berechtigungen in ADE für Elemente, die von jedem Anwender verschoben, aber nur mit spezieller Freigabe editiert werden können.</li>
    <li>Verbesserter Sitemap Editor zeigt nun Status Informationen wie Titel und VFS Pfadangaben zur gerade editierten Sitemap an und bietet eine &quot;Zeige übergeordnete Sitemap&quot; Option in der Werkzeugleiste.</li>
    <li>Group Container verfügen jetzt über eine &quot;Auflösen&quot; Option, womit die Gruppierung aufgehoben wird und deren Elemente anstelle des Containers platziert werden. Hierdurch leichteres Erstellen verschiedener Seiten mit leichten Variationen.</li>
    <li>Inhalte können jetzt aus der Vorschau in der ADE Galerie direkt per Drag &amp; Drop auf die Seite gezogen werden.</li>
    <li>Im Kontext-Menü für &quot;alte&quot; Direct Edit Templates können nun über den &quot;Eigenschaften&quot; Dialog die Seiteneigenschaften im DE Modus geändert werden.</li>
    <li>Die stark verbesserte Sitemap Configuration macht es einfach, selbst ausgefallene Konfigurationen zu erstellen.</li>
    <li>Für SEO verbessertes Namens-Schema für automatisch generierte Inhalte im Sitemap Editor.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a href="%(link1)" target="_self" title="OpenCms 8.0.2 Release Notes">englischen Release Notes</a> einsehen.</p>
<h2>Die wichtigsten neuen Funktionen in OpenCms 8</h2>
<ul>
    <li>Im neuen &quot;Advanced Direct Edit&quot; Modus können neue Seiteninhalte jetzt ganz einfach per Drag &amp; Drop erstellt werden.</li>
    <li>Der neue Sitemap Editor ermöglicht das Erstellen neuer Seiten und das Ändern der Navigations-Struktur per Drag &amp; Drop.</li>
    <li>Ein komplett auf HTML basierender Dialog zum Hochladen mehrerer Dateien ersetzt das alte &quot;Upload Applet&quot;</li>
    <li>Mit der neuen &quot;Content Subscription Engine&quot; können Anwender automatisch über Änderungen in wichtigen Dokumenten informiert werden.</li>
    <li>Der Editor für XML Inhalte unterstützt jetzt &lt;xsd:choice&gt; Elemente.</li>
    <li>Der neue Veröffentlichen-Dialog unterstützt Session-basierte Auswahl von Inhalten, wie auch das Hinzufügen bzw. Entfernen individueller Ressourcen.</li>
    <li>Erweiterte Unterstützung für die Erzeugung von Inhalten für mobile Endgeräte mit dem &lt;cms:mobile&gt; tag.</li>
    <li>Ein zentraler &quot;Gemeinsamer Ordner&quot; wurde aufgenommen, der von allen Sites zugänglich ist, um Inhalte gemeinsam zu nutzen.</li>
    <li>JPA Anbindung wurde auf Datenbank-Ebene hinzugefügt. Dadurch wird die Anbindung von mehr als 10 weiteren Datenbanken ermöglicht.</li>
</ul>
<p>Allen OpenCms Anwendern wird empfohlen, ihre Installation auf Version 8.0.2 zu aktualisieren. OpenCms 8.0.2 ist voll abwärtskompatibel zu allen vorherigen 7er Versionen. Templates und andere OpenCms Anwendungen aus Version 7.0 oder 7.5 sollten ohne Weiteres auf Version 8.0.2 laufen.</p>
<p>Nutzer des Alkacon OCEE Paketes benötigen eine neue Version von Alkacon OCEE für diese OpenCms Version. OpenCms 8.0.2 benötigt Alkacon OCEE Version 3.0.2 oder höher.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a href="%(link2)" title="OpenCms Solution Provider">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a href="%(link3)" title="Liste von Referenzen">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a rel="_blank" class="external" href="%(link4)" title="Alkacon Produktübersicht" target="_blank">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a rel="_blank" class="external" href="%(link5)" title="Alkacon Software &ndash; Die OpenCms Experten" target="_blank">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Version 8.0.2 von Alkacons erfolgreichem OpenCms 8 bringt viele Verbesserungen in ADE, Sitemap Configuration und Editor und bietet optimierte Performance auch bei SEO und Sicherheit (XSS) ]]></Description>
      <Keywords><![CDATA[OpenCms 8, Open Source, CMS, Website Content Management System, Drag and Drop, JSP, SEO, Tomcat 7, optimierte Leistung, XSS, XSD Ppath Translation, Dynamische Funktion]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1313694000000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software releases OpenCms 8.0.2]]></Title>
    <Date>1313694000000</Date>
    <Preface><![CDATA[With Version 8.0.2 Alkacon Software adds several useful features and improvements to its successful website content management system OpenCms 8. Among many other things, OpenCms 8.0.2 offers drag & drop integration of arbitrary JSP pages, refined editor permissions and an improved Sitemap Editor.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/110818-opencms-v802-releasenotes.html]]></target>
            <uuid>49c2f465-c8af-11e0-a731-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8.0.2 is now ready and available for <a title="Download OpenCms 8.0.1 from the official website opencms.org" target="_self" href="%(link0)">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 8 contains a greatly improved user interface for content managers and numerous other enhancements.</p>
<p>With OpenCms 8.0.2, many important and useful additional features and improvements have been added to the core system and a number of issues that persisted in the 8.0.1 release have been fixed.</p>
<h2>Main improvements in OpenCms 8.0.2</h2>
<ul>
    <li>It's now possible to easily enable drag &amp; drop for any  existing JSP. Just create a reference to the JSP with the new ADE  resource type &quot;Dynamic Function&quot;.</li>
    <li>Refined element permissions for ADE now support Elements dragable by everyone, but editable only with special permissions.</li>
    <li>The sitemap editor now displays status information such as title  and VFS location above the currently edited sitemap and features a  &quot;go to the parent sitemap&quot; option in the toolbar.</li>
    <li>Group containers now have a &quot;Break Up&quot; option which removes the  group and places all elements individually on the currently edited page,  making it easier to create pages with slightly different configurations.</li>
    <li>If a content is previewed in the ADE content gallery, it can now   directly be dragged &amp; dropped from the content preview to the   current page.</li>
    <li>The legacy direct edit provider for pages using &quot;old&quot; templates  now allows to open the &quot;Property&quot; dialog to edit the page properties in  direct edit mode.</li>
    <li>Significantly improved sitemap configuration options make it much easier to create sophisticated special configurations.</li>
    <li>Improved SEO refined naming schema for automatically created resources.</li>
</ul>
<p>Please check out the  <a title="OpenCms 8.0.2 release notes" href="%(link1)">release notes</a> for further details of the changes in this release.</p>
<h2>Main new features in OpenCms 8</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; mode allows to create page content by drag &amp; drop.</li>
    <li>The new Sitemap Editor allows to create new pages and rearrange the navigation tree by drag &amp; drop.</li>
    <li>A multiple file enabled upload dialog all based on HTML replaced the old &quot;Upload Applet&quot;.</li>
    <li>The new &quot;Content Subscription Engine&quot; allows to inform users when important documents have changed.</li>
    <li>The XML content editor now support &lt;xsd:choice&gt; elements.</li>
    <li>The new publish dialog supports session based selection of content as well as add/remove of individual resources.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
    <li>A central &quot;Shared Folder&quot; has been added that is available from all sites for sharing content.</li>
    <li>JPA support has been added to the database layer, so there's support for 10  additional databases.</li>
</ul>
<p>We recommend everyone who uses OpenCms to update to the 8.0.2 release. OpenCms 8.0.2 is fully backward compatible to all prior 7.x versions.   Templates and other OpenCms developed code from version 7.0 or 7.5   should work &quot;out of the box&quot; with version 8.0.2.</p>
<p>Users of the Alkacon OCEE packages require a new version of Alkacon OCEE for use with this OpenCms release. OpenCms 8.0.2 requires Alkacon OCEE version 3.0.2 or newer.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 10 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a title="OpenCms Solution Provider" href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a title="list of reference sites" href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a title="Alkacon product overview" href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a title="Alkacon Software - The OpenCms Experts" href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Version 8.0.2 of Alkacon's successful OpenCms 8 features a significantly improved ADE, Sitemap Configuration and Editor and offers optimized performance regarding SEO and security aspects (XSS)]]></Description>
      <Keywords><![CDATA[OpenCms 8, Open Source, CMS, website content management system, Drag and Drop, JSP, SEO, Tomcat 7, optimized performance, XSS, XSD path translation, dynamic functionality]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1313694000000</Release>
    </Availability>
  </Article>
</ArticleData>
