<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms in der Cloud]]></Title>
    <Date>1313438400000</Date>
    <Preface><![CDATA[So einfach ist es, OpenCms in der Cloud laufen zu lassen. Neues europäisches Start-Up Jelastic bietet Java Cloud der nächsten Generation.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.jelastic.com]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.youtube.com/watch]]></target>
            <query><![CDATA[v=nnaLNMp7cr4]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Bis heute ist es oft sehr komplex und mit hohem Kostenaufwand verbunden, Java Applikationen im Internet laufen zu lassen. Entweder muss man einen eigenen Server mieten, Virtuelle Maschinen konfigurieren und managen (IaaS) oder auf eine Platform-as-a-Service (PaaS) Lösung zurückgreifen, was meist eine Anpassung des Quellcodes an die bereitgestellte Umgebung erfordert.</p>
<p>Eine mögliche Alternative bietet <a target="_self" href="%(link0)">Jelastic</a> - ein neues europäisches Start-Up Unternehmen - das es ermöglicht, Java Applikationen ohne weitere Anpassungen über ein GUI in die Cloud zu schieben.</p>
<p><a title="OpenCms mit Jelastic Cloud" target="_self" href="%(link1)">Dieses Video</a> veranschaulicht Schritt für Schritt, wie einfach es ist, OpenCms in der Cloud laufen zu lassen.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Dieses Video veranschaulicht Schritt für Schritt, wie einfach es ist, OpenCms in der Cloud laufen zu lassen.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Cloud, nächste Generation, Platform as a Service, Jelastic]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms in the Cloud]]></Title>
    <Date>1313438400000</Date>
    <Preface><![CDATA[Check out how easy it is to run OpenCms in the Cloud. New european start-up Jelastic offers next-generation Java Cloud.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.jelastic.com]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.youtube.com/watch]]></target>
            <query><![CDATA[v=nnaLNMp7cr4]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Until today it is incredibly complex and often costly to put Java applications to the Internet. Either you have to run your own hosted server, set up and manage virtual machines (IaaS) or use a Platform-as-a-Service (PaaS) solution which often requires rewriting Java applications.</p>
<p>An alternative to this might be <a title="Jelastic Java Cloud Platform" target="_self" href="%(link0)">Jelastic</a> - a new European start-up - that now offers a next-generation Platform as a Service for Java apps.</p>
<p>Check out this step-by-step <a title="Deploying OpenCms to Jelastic cloud" target="_self" href="%(link1)">instructional video</a> on how easy it is to get OpenCms running in the Cloud.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Step-by-step instructional video on deploying OpenCms to Jelastic, the next-generation Java Cloud.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Cloud, next-generation, Platform as a Service, Jelastic]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
