<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 8.0.2 release notes]]></Title>
    <Date>1313694000000</Date>
    <Preface><![CDATA[The OpenCms 8.0.2 release notes contain detailed information about the new features in this feature improved version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/bugtracker.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 8.0.2. With OpenCms 8.0.2, many important and useful additional features and improvements have been added to the core system.  Moreover, a  number of issues that persisted in the 8.0.1  release have been fixed.</p>
<h2>Important features of OpenCms 8</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; (ADE) mode allows to create page content by drag &amp; drop.</li>
    <li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
    <li>The &quot;Content Subscription Engine&quot; allows to inform users when subscribed documents have changed.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
</ul>
<h2>Main new features in OpenCms 8.0.2</h2>
<ul>
    <li>It's now possible to easily enable drag &amp; drop for any  existing JSP. Just create a reference to the JSP with the new ADE  resource type &quot;Dynamic Function&quot;. See the &quot;Login Box&quot; or &quot;Search Box&quot; in  the Template III demo for examples.</li>
    <li>Refined element permissions for ADE now support Elements dragable by everyone, but editable only with special permissions.</li>
    <li>The sitemap editor now displays status information such as title  and VFS location above the currently edited sitemap. It also features a  &quot;go to the parent sitemap&quot; button in the toolbar.</li>
    <li>Group containers now have a &quot;Break Up&quot; option which removes the  group and places all elements individually on currently edited page,  making it easier to create pages with slightly different configurations.</li>
    <li>If a content is previewed in the ADE content gallery, it can now   directly be dragged &amp; dropped from the content preview to the   current page.</li>
    <li>The legacy direct edit provider for pages using &quot;old&quot; templates  now allows to open the &quot;Property&quot; dialog to edit the page properties in  direct edit mode. Moreover, it also features a &quot;Logout&quot; option.</li>
    <li>A full demo of the content subscription engine has been added to Template III.</li>
</ul>
<h2>Other new features and improvements in OpenCms 8.0.2</h2>
<ul>
    <li>Optimized gallery performance using dynamic scroll-bar and lazily added elements in gallery list.</li>
    <li>Refined naming schema for automatically created resources now uses &quot;-&quot; instead of &quot;_&quot; for SEO reasons.</li>
    <li>Restyled message box on top screen now follows the general OpenCms 8 look &amp; feel.</li>
    <li>Refined the option in the &quot;Simple&quot; tab of the new ADE Properties Dialog.</li>
    <li>Improved sitemap configuration with &quot;Combo Box&quot; displaying all configured resource types.</li>
    <li>Improved sitemap configuration with option &quot;Local  contents&quot; to  create all new resources automatically below the current sitemap.</li>
    <li>Improved sitemap configuration with new option &quot;Disable all&quot; to  disable all inherited configurations.</li>
    <li>Improved sitemap editor now shows sub sitemap folder resource type icon if a resource is the start of a Sub-Sitemap.</li>
    <li>Added new EL function for JSP that tests if a detail page is configured for a resource type.</li>
    <li>Improved server side filtering of &lt;script&gt; tags in user generated content of ADE elements.</li>
    <li>New XSD path translation feature allows to configure old and new  location for moved XSD files that are referenced in existing XML  resouces.</li>
    <li>Removed jQuery references from the devDemo module to simplify it.</li>
    <li>Unified VFS image widget now used for different gallery types.</li>
    <li>Changed some JSPs for Template III to use %(link.strong) macro.</li>
    <li>ADE base schemas are now stored in Java package files, not VFS.</li>
    <li>Applied patch to abstrract the Lucene index writer used, contributed by Florian Hopf.</li>
</ul>
<h2>Fixed issues in OpenCms 8.0.2</h2>
<ul>
    <li>Fixed issue in ADE Editor where elements last used (edited, moved, removed, etc.) where not moved to top of the &quot;recent&quot; list.</li>
    <li>Fixed issue in the ADE gallery full text search of the  &quot;Advanced&quot; tab, where options were not shown correctly in localized  versions.</li>
    <li>Fixed issue in sitemap editor, where creating a new page  resulted in different names if either the &quot;+&quot; symbol in the top menu or  the context menu was used.</li>
    <li>Fixed issue that sitemap editor in online projects displayed  only an empty page., instead the sitemap in now shown in &quot;read only&quot;  mode.</li>
    <li>Fixed issue in the sitemap editor where the &quot;Back&quot; button was not working anymore when the sitemap got changed.</li>
    <li>Fixed issue with sitemap / module configuration and OCEE cache,  where a previously added element was not visible when editing it again.</li>
    <li>Fixed issue that deleting a user with Root-Admin role failed.</li>
    <li>Fixed issue where the toolbar could not be switched off in &quot;old&quot; version 7 templates.</li>
    <li>Fixed several issues in image gallery regarding scaling,  resizing, cropping and setting of title / alt text when editing  xmlpages.</li>
    <li>Fixed several issues in download gallery regarding the creation of download links when editing xmlpages.</li>
    <li>Fixed issue that the ADE button may become overlayed and thus unreachable when pasting external script code in a container.</li>
    <li>Fixed issue with mouse over handling where buttons often still shown even though the mouse pointer was no longer above the item.</li>
    <li>Fixed issues that creating a new detail page for a content type  in ADE sitemap created a blank container page and not the default model  page.</li>
    <li>Fixed issue that drag &amp; drop of elements did not work if the element type was not configured in the ADE configuration.</li>
    <li>Fixed issues with preview in galleries regarding scrolling and localization.</li>
    <li>Fixed issue within image gallery where the fields &quot;Title/Alt  Text&quot; and &quot;Copyright&quot; were not filled with the according property values  of the selected image.</li>
    <li>Fixed issue that when a new page is created and repeatedly  renamed in the sitemap editor an exception might get thrown in the ADE  Editor when this page was edited afterwards.</li>
    <li>Fixed several issues in style and coloring.</li>
    <li>Fixed issue that in certain cases the position of a page in the  navigation as defined in the sitemap editor was lost after leaving the  sitemap editor.</li>
    <li>Fixed issue that a ConcurrentModificationException happened sometimes when demo content modules were imported.</li>
    <li>Fixed issue that paging in Template III search did not work.</li>
    <li>Fixed issue in sitemap editor that the icon of a sub-sitemap moved around in the sitemap changed to the container page icon.</li>
    <li>Fixed issue where articles assigned to categories where not found in the ADE new wizard.</li>
    <li>Fixed issue where the &quot;Show last page&quot; button did not work anymore when switching from the sitemap editor to the parent sitemap.</li>
    <li>Fixed issues with the &quot;Favorites&quot; tab in the ADE clipboard where elements appeared multiple times or removal of elements failed.</li>
    <li>Fixed issue that newly created empty group containers vanished if the title was not entered.</li>
    <li>Fixed issue in the property dialog where inherited values were  displayed ambiguously after entering / leaving the field without  changes.</li>
    <li>Fixed issue #1976:&nbsp; Error in ADE to create new section.</li>
    <li>Fixed issue #1982: &quot;change navigation&quot; fails on expired resources.</li>
    <li>Fixed issue #1983: Can't create user under sub &quot;Webuser organizational unit&quot;.</li>
    <li>Fixed issue #1986: ADE toolbar cannot be closed when using &lt;cms:editable /&gt;.</li>
    <li>Fixed issue #1988: ADE toolbar covers &lt;cms:editable/&gt; &quot;direct edit&quot; button.</li>
    <li>Fixed issue #1989: When leaving the ADE sitemap &ldquo;/cms/&rdquo; (servlet-mapping) remains in the path.</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 8.0.2 release.</p>
<p>OpenCms 8.0.2 is fully backward compatible to all prior 7.x versions.   Templates and other OpenCms developed code from version 7.0 or 7.5   should work &quot;out of the box&quot; with version 8.0.2.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version  8.0.2 requires Alkacon OCEE version 3.0.2 or later. In case you want to  update your OpenCms installation to 8.0.2, please make sure you update  Alkacon OCEE to 3.0.2 or later first!</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 8.0.2 has been written and tested using Java 5 / 6. We have tested only with SUNs version (well actually it's ORACLEs version now) of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works &quot;out of the box&quot; with Tomcat 6.0, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x, MS SQL Server 2000 / 2003, DB2 9.1 and HSQLDB 1.8.0. The automatic update wizard for OpenCms 8 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and build tags</h2>
<p>In case you want to check out OpenCms from Git, please keep the    following in mind: The tag numbers for all OpenCms 8.0 final releases  are  &quot;build_8_0_x&quot;, so the 8.0.2 release is tagged  &quot;build_8_0_2&quot;.</p>
<p>The Git repository is available from Github at <a href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a href="%(link1)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p><a href="%(link2)" target="_self" title="OpenCms issue tracker on GitHub">Please use our OpenCms issue tracker to report bugs in this release.</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 8 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 8.0.2, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8.0.2, Java, CMS, J2EE, OSS, Open Source, Content Management System, SEO, XSS]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
