<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 8 Tutorials auf opencms-wiki.org]]></Title>
    <Date>1314907200000</Date>
    <Preface><![CDATA[Die wichtigsten Tutorials zu den grundlegenden neuen Konzepten in OpenCms 8 wurden zusammengetragen und auf http://opencms-wiki.org bereitgestellt. Alles darüber, wie man Container Templates, Mobile Templates und Plug & Play Module für OpenCms 8 baut und wie man Schritt für Schritt auf OpenCms 8 upgradet.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://opencms-wiki.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/Configuration_of_OpenCms_Sitemap_Properties]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/Using_formatters_in_OpenCms_8]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/Creating_OpenCms_8_Container_Templates]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/Upgrading_from_OpenCms_7.x_to_OpenCms_8]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/Creating_Mobile_Templates_with_OpenCms_8]]></target>
          </link>
          <link name="link6" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/Creating_Plug_and_Play_Modules_for_OpenCms_8]]></target>
          </link>
          <link name="link7" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/The_OpenCms_8_Demo_Template_Modules_in_Detail]]></target>
          </link>
          <link name="link8" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/The_OpenCms_8_Content_Subscription_Engine]]></target>
          </link>
          <link name="link9" internal="false" type="A">
            <target><![CDATA[http://opencms-wiki.org]]></target>
          </link>
          <link name="link10" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Wir haben die wichtigsten Tutorials zu den grundlegenden neuen Konzepten in OpenCms 8 zusammengetragen und auf <a href="%(link0)" target="_self" title="Das OpenCms Wiki">http://opencms-wiki.org</a> bereitgestellt.</p>
<p>Alles darüber, wie man Container Templates, Mobile Templates und Plug &amp; Play Module für OpenCms 8 baut und wie man Schritt für Schritt auf OpenCms 8 upgradet.</p>
<p>Die Tutorials werden kontinuierlich überarbeitet um Sie mit allen wichtigen Änderungen in OpenCms 8 auf dem laufenden zu halten.</p>
<h3>Neuzugänge</h3>
<ul>
    <li><a title="Configuration of OpenCms Sitemap Properties" href="%(link1)">Configuration of OpenCms Sitemap Properties</a></li>
    <li><a title="Using formatters in OpenCms 8" href="%(link2)">Using formatters in OpenCms 8</a></li>
    <li><a title="Creating OpenCms 8 Container Templates" href="%(link3)">Creating OpenCms 8 Container Templates</a></li>
    <li><a title="Upgrading from OpenCms 7.x to OpenCms 8" href="%(link4)">Upgrading from OpenCms 7.x to OpenCms 8</a></li>
    <li><a title="Creating Mobile Templates with OpenCms 8" href="%(link5)">Creating Mobile Templates with OpenCms 8</a></li>
    <li><a title="Creating Plug and Play Modules for OpenCms 8" href="%(link6)">Creating Plug &amp; Play Modules for OpenCms 8</a></li>
    <li><a title="The OpenCms 8 Demo Template Modules in Detail" href="%(link7)">The OpenCms 8 Demo Template Modules in Detail</a></li>
    <li><a title="The OpenCms 8 Content Subscription Engine" href="%(link8)">The OpenCms 8 Content Subscription Engine</a></li>
</ul>
<p>Besuchen Sie <a href="%(link9)" target="_self" title="The OpenCms Wiki">opencms-wiki</a> regelmäßig, um von den Erfahrungen der Community zu profitieren.</p>
<p>Sie können selber einen Beitrag leisten, indem Sie einen Erfahrungsbericht, ein Tutorial oder Tipps &amp; Tricks veröffentlichen.</p>
<p>Vorschläge zu fehlende Informationen richten Sie bitte an die <a title="Die OpenCms Mailingliste" target="_self" href="%(link10)">Mailingliste</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alles darüber, wie man Container Templates, Mobile Templates und Plug & Play Module für OpenCms 8 baut und wie man Schritt für Schritt auf OpenCms 8 upgradet.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Wiki, container, templates, Plug and Play, upgrade, OpenCms 8, Template III]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 8 tutorials at opencms-wiki.org]]></Title>
    <Date>1314907200000</Date>
    <Preface><![CDATA[We added the most valuable tutorials on essential OpenCms 8 concepts to the HowTos section at http://opencms-wiki.org. Learn how to build container templates, mobile templates and Plug & Play modules for OpenCms 8 and how to upgrade from OpenCms 7.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://opencms-wiki.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/Configuration_of_OpenCms_Sitemap_Properties]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/Using_formatters_in_OpenCms_8]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/Creating_OpenCms_8_Container_Templates]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/Upgrading_from_OpenCms_7.x_to_OpenCms_8]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/Creating_Mobile_Templates_with_OpenCms_8]]></target>
          </link>
          <link name="link6" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/Creating_Plug_and_Play_Modules_for_OpenCms_8]]></target>
          </link>
          <link name="link7" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/The_OpenCms_8_Demo_Template_Modules_in_Detail]]></target>
          </link>
          <link name="link8" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org/wiki/The_OpenCms_8_Content_Subscription_Engine]]></target>
          </link>
          <link name="link9" internal="false" type="A">
            <target><![CDATA[http://opencms-wiki.org]]></target>
          </link>
          <link name="link10" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>We updated the HowTos section at <a title="The OpenCms Wiki" href="%(link0)" target="_self">http://opencms-wiki.org</a> with the most valuable tutorials on essential OpenCms 8 concepts.</p>
<p>Learn how to build container templates, mobile templates and Plug &amp; Play modules for OpenCms 8 and how to upgrade from OpenCms 7.</p>
<p>The tutorials are getting continuously revised to keep you up to date with elementary changes in OpenCms 8.</p>
<h3>New additions</h3>
<ul>
<li><a title="Configuration of OpenCms Sitemap Properties" href="%(link1)" target="_self">Configuration of OpenCms Sitemap Properties</a></li>
<li><a title="Using formatters in OpenCms 8" href="%(link2)" target="_self">Using formatters in OpenCms 8</a></li>
<li><a title="Creating OpenCms 8 Container Templates" href="%(link3)" target="_self">Creating OpenCms 8 Container Templates</a></li>
<li><a title="Upgrading from OpenCms 7.x to OpenCms 8" href="%(link4)" target="_self">Upgrading from OpenCms 7.x to OpenCms 8</a></li>
<li><a title="Creating Mobile Templates with OpenCms 8" href="%(link5)" target="_self">Creating Mobile Templates with OpenCms 8</a></li>
<li><a title="Creating Plug and Play Modules for OpenCms 8" href="%(link6)" target="_self">Creating Plug &amp; Play Modules for OpenCms 8</a></li>
<li><a title="The OpenCms 8 Demo Template Modules in Detail" href="%(link7)" target="_self">The OpenCms 8 Demo Template Modules in Detail</a></li>
<li><a title="The OpenCms 8 Content Subscription Engine" href="%(link8)" target="_self">The OpenCms 8 Content Subscription Engine</a></li>
</ul>
<p>Check <a title="The OpenCms Wiki" href="%(link9)" target="_self">opencms-wiki</a> frequently for new additions.</p>
<p>You can contribute to the opencms-wiki with Project Reports, Tutorials and Best Practices.</p>
<p>Any suggestions on missing Basic Information should be made to the <a title="The OpenCms mailing list" href="%(link10)" target="_self">mailing-list</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Learn how to build container templates, mobile templates and Plug & Play modules for OpenCms 8 and how to upgrade from OpenCms 7.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Wiki, container, templates, Plug and Play, upgrade, OpenCms 8, Template III]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
