<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Jetzt OpenCms 8.0.3 runterladen!]]></Title>
    <Date>1321473600000</Date>
    <Preface><![CDATA[Im stark verbesserten Sitemap Editor kann jetzt beim Erstellen einer Seite zwischen verschiedenen Modellvorlagen gewählt werden. Modellvorlagen lassen sich jetzt direkt aus dem Sitemap Editor editieren. Flexiblere und intuitivere Dynamische Funktionen mit Detailseiten und innovativer Formatter Konfiguration. 
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/111116-opencms-v803-releasenotes.html]]></target>
            <uuid>7e52c77e-0f75-11e1-bb7b-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 8.0.3 von OpenCms kann ab sofort von der <a title="Jetzt OpenCms 8.0.3 runterladen!" target="_self" href="%(link0)">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eines der populärsten Open Source Content Management Systeme für Websites. Maßgeblich entwickelt wurde die neue Version von der Alkacon Software GmbH, unterstützt durch eine internationale Community von OpenCms Entwicklern.</p>
<p>OpenCms 8.0.3 bringt zahlreiche wichtige und nützliche Verbesserungen und Erweiterungen und behebt verschiedene Fehler der Version 8.0.2.</p>
<h2>Die wichtigsten Verbesserungen in OpenCms 8.0.3</h2>
<ul>
    <li>Mit der Einführung von &quot;Funktionsseiten&quot; können JSP basierte dynamische Seiten jetzt im Sitemap Editor einfach per Drag &amp; Drop eingefügt werden.</li>
    <li>Der deutlich verbesserte &quot;Seite Erstellen&quot; Dialog im Sitemap Editor bietet eine breitere Auswahl von Typen unterschieden nach &quot;Containerseiten&quot;, &quot;Typenseiten&quot; und &quot;Funktionsseiten&quot;.</li>
    <li>Es ist jetzt auch möglich die Modellvorlage auszuwählen, wenn man im Sitemap Editor die Option &quot;Unter-Seite erstellen&quot; des Kontext-Menüs benutzt.</li>
    <li>Alle verfügbaren Modellvorlagen können über den &quot;Seite erstellen&quot; Dialog zum Editieren geöffnet werden.</li>
    <li>Bei Klick auf das Seiten Icon wird im Sitemap Editor jetzt der &quot;Zeige Seite&quot; Befehl ausgeführt.</li>
    <li>JSP Funktionselemente können jetzt mehrere Formatter haben, die in unterschiedlichen Containern verwendet werden.</li>
    <li>Im Kontext-Menü eines Elements wird das &quot;Editieren&quot; Icon durch ein &quot;Ressource ist momentan gesperrt&quot; Icon ersetzt, falls es gerade von einem anderen Benutzer geöffnet ist.</li>
    <li>Die ADE Galerien wurden um eine Textsuchfeld erweitert, womit direkt nach Galerien und Kategorien gesucht werden kann.</li>
</ul>
<p>Die vollständige Liste der Verbesserungen, sowie der behobenen Fehler in dieser Version, können Sie in den <a title="OpenCms 8.0.3 Release Notes" target="_self" href="%(link1)">englischen Release Notes</a> einsehen.</p>
<h2>Hauptmerkmale von OpenCms 8</h2>
<ul>
    <li>Im &quot;Advanced Direct Edit&quot; Modus können neue Seiteninhalte jetzt ganz einfach per Drag &amp; Drop erstellt werden.</li>
    <li>Der Sitemap Editor ermöglicht das Erstellen neuer Seiten und das Ändern der Navigations-Struktur per Drag &amp; Drop.</li>
    <li>Ein komplett auf HTML basierender Dialog zum Hochladen mehrerer Dateien ersetzt das alte &quot;Upload Applet&quot;</li>
    <li>Mit der &quot;Content Subscription Engine&quot; können Anwender automatisch über Änderungen in wichtigen Dokumenten informiert werden.</li>
    <li>Der Editor für XML Inhalte unterstützt jetzt &lt;xsd:choice&gt; Elemente.</li>
    <li>Der Veröffentlichen-Dialog unterstützt Session-basierte Auswahl von Inhalten, wie auch das Hinzufügen bzw. Entfernen individueller Ressourcen.</li>
    <li>Erweiterte Unterstützung für die Erzeugung von Inhalten für mobile Endgeräte mit dem &lt;cms:mobile&gt; tag.</li>
    <li>Ein zentraler &quot;Gemeinsamer Ordner&quot; wurde aufgenommen, der von allen Sites zugänglich ist, um Inhalte gemeinsam zu nutzen.</li>
    <li>JPA Anbindung wurde auf Datenbank-Ebene hinzugefügt. Dadurch wird die Anbindung von mehr als 10 weiteren Datenbanken ermöglicht.</li>
</ul>
<p>Allen OpenCms Anwendern wird empfohlen, ihre Installation auf Version 8.0.3 zu aktualisieren. OpenCms 8.0.3 ist voll abwärtskompatibel zu allen vorherigen 7er Versionen. Templates und andere OpenCms Anwendungen aus Version 7.0 oder 7.5 sollten ohne Weiteres auf Version 8.0.3 laufen.</p>
<p>Nutzer des Alkacon OCEE Paketes benötigen eine neue Version von Alkacon OCEE für diese OpenCms Version. OpenCms 8.0.3 benötigt Alkacon OCEE Version 3.0.3 oder höher.</p>
<h2>Über OpenCms</h2>
<p>Unabhängige Untersuchungen weisen OpenCms als eine führende Lösung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>Über 100 internationale IT - Unternehmen haben sich bereits als offizieller <a title="OpenCms Solution Provider" href="%(link2)">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a title="Liste von Referenzen" href="%(link3)">Referenzen</a> belegt außerdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a target="_blank" title="Alkacon Produktübersicht" href="%(link4)" class="external" rel="_blank">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a target="_blank" title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link5)" class="external" rel="_blank">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Version 8.0.3 bringt viele Verbesserungen und neue nützliche Funktionen, vor allem bei Sitemap Editor, ADE und den Dynamischen Funktionen. ]]></Description>
      <Keywords><![CDATA[opencms, alkacon, internet, website, gallery, explorer, upload, multi, user, ie, sql, editor, css, ms office, xml, cms, jsp, postgresql, gwt]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1321473600000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Download OpenCms 8.0.3 now!]]></Title>
    <Date>1321473600000</Date>
    <Preface><![CDATA[Version 8.0.3 comes with numerous useful features and improvements, especially for the sitemap editor and dynamic functions. Select from different model pages - and even edit them - when adding new pages in the sitemap. Dynamic functions now feature "Function pages" and extended formatter configuration options.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/111116-opencms-v803-releasenotes.html]]></target>
            <uuid>7e52c77e-0f75-11e1-bb7b-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8.0.3 is now ready and available for <a title="Download OpenCms 8.0.1 from the official website opencms.org" target="_self" href="%(link0)">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 8 contains a greatly improved user interface for content managers and numerous other enhancements.</p>
<p>With OpenCms 8.0.3, many important and useful additional features and improvements have been added to the core system and a number of issues that persisted in the 8.0.2 release have been fixed.</p>
<h2>Main improvements in OpenCms 8.0.3</h2>
<ul>
    <li>With the introduction of &quot;Function Pages&quot;, JSP based dynamic pages can be added with simple drag and drop in the sitemap editor.</li>
    <li>The sitemap editor's improved &quot;Create Page&quot; dialog offers a wider choice of types distinguishing &quot;Container Pages&quot;, &quot;Type Pages&quot; and &quot;Function  Pages&quot;.</li>
    <li>It is now also possible to select the page model when using the sitemap editor's context menu option &quot;Create sub-page&quot;.</li>
    <li>The available container page models can be accessed for editing directly from the &quot;Create page&quot; dialog in the sitemap editor.</li>
    <li>The sitemap editor executes the &quot;Show page&quot; action if the page icon in the sitemap is clicked.</li>
    <li>JSP function elements can now have multiple formatters to be used in different containers.</li>
    <li>The element option bar displays a &quot;Resource is currently  locked&quot; icon if an element is currently edited by another user.</li>
    <li>The content galleries have been improved with a text search field to directly search for &quot;Galleries&quot; and &quot;Categories&quot;.</li>
</ul>
<p>Please check out the  <a title="OpenCms 8.0.3 release notes" href="%(link1)">release notes</a> for further details of the changes in this release.</p>
<h2>Other features of OpenCms 8.0</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; mode allows to create page content by drag &amp; drop.</li>
    <li>The sitemap editor allows to create new pages and rearrange the navigation tree by drag &amp; drop.</li>
    <li>A multiple file enabled upload dialog all based on HTML replaced the old &quot;Upload Applet&quot;.</li>
    <li>The &quot;Content Subscription Engine&quot; allows to inform users when important documents have changed.</li>
    <li>The XML content editor now support &lt;xsd:choice&gt; elements.</li>
    <li>The publish dialog supports session based selection of content as well as add/remove of individual resources.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
    <li>A central &quot;Shared Folder&quot; has been added that is available from all sites for sharing content.</li>
    <li>JPA support has been added to the database layer, so there's support for 10  additional databases.</li>
</ul>
<p>We recommend everyone who uses OpenCms to update to the 8.0.3 release. OpenCms 8.0.3 is fully backward compatible to all prior 7.x versions.   Templates and other OpenCms developed code from version 7.0 or 7.5   should work &quot;out of the box&quot; with version 8.0.3.</p>
<p>Users of the Alkacon OCEE packages require a new version of Alkacon OCEE for use with this OpenCms release. OpenCms 8.0.3 requires Alkacon OCEE version 3.0.3 or newer.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 10 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a title="OpenCms Solution Provider" href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of  <a title="list of reference sites" href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the  <a title="Alkacon product overview" href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at  <a title="Alkacon Software - The OpenCms Experts" href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[With Version 8.0.3 Alkacon Software adds many useful features and improvements to its successful website content management system OpenCms 8.]]></Description>
      <Keywords><![CDATA[opencms, alkacon, internet, website, gallery, explorer, upload, multi, user, ie, sql, editor, css, ms office, xml, cms, jsp, postgresql, gwt]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1321473600000</Release>
    </Availability>
  </Article>
</ArticleData>
