<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 8.0.3 release notes]]></Title>
    <Date>1321473600000</Date>
    <Preface><![CDATA[The OpenCms 8.0.3 release notes contain detailed information about the new features in this improved version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/bugtracker.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the release of OpenCms 8.0.3. With OpenCms 8.0.3, many important and useful additional features and  improvements have been added to the core system and a number of issues  that persisted in the 8.0.2 release have been fixed.</p>
<h2>Features of OpenCms 8.0</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; (ADE) mode allows to create page content by drag &amp; drop.</li>
    <li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
    <li>The &quot;Content Subscription Engine&quot; allows to inform users when subscribed documents have changed.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
</ul>
<h2>Main new features in OpenCms 8.0.3</h2>
<ul>
    <li>With the introduction of &quot;Function Pages&quot;, JSP based dynamic pages can be added with simple drag and drop in the sitemap editor.</li>
    <li>The sitemap editor's improved &quot;Create Page&quot; dialog offers a  wider choice of types distinguishing &quot;Container Pages&quot;, &quot;Type Pages&quot; and  &quot;Function  Pages&quot;.</li>
    <li>It is now also possible to select the page model when using the sitemap editor's context menu option &quot;Create Sub-Page&quot;.</li>
    <li>The available container page models can be accessed for editing directly from the &quot;Create Page&quot; dialog in the sitemap editor.</li>
    <li>The sitemap editor executes the &quot;Show Page&quot; action if the page icon in the sitemap is clicked.</li>
    <li>JSP function elements can now have multiple formatters to be used in different containers.</li>
    <li>The element option bar displays a &quot;Resource is currently  locked&quot; icon if an element is currently edited by another user.</li>
    <li>The content galleries have been improved with a text search field to directly search for &quot;Galleries&quot; and &quot;Categories&quot;.</li>
</ul>
<h2>Other new features and improvements in OpenCms 8.0.3</h2>
<ul>
    <li>Improved Image Gallery now features a &quot;broken image&quot; image if this could not be rendered for any reason.</li>
    <li>Improved Module Sitemap Configuration now offers localized help bubbles.</li>
    <li>Improved Add Wizard now hides Resource Types if permissions are not sufficient.</li>
    <li>Improved search dialog in Galleries initiating the search by pressing &quot;Enter&quot; in addition to the &quot;Search Results&quot; button.</li>
    <li>Improved Image Gallery now allows selecting an image directly with double-click.</li>
    <li>Improved Gallery where uploaded elements are directly visible.</li>
    <li>Improved &quot;Dynamic Functions&quot; allow usage of function JSPs even if container does not have a width set.</li>
    <li>Added support for XML content &quot;model folders&quot; from XSD.</li>
    <li>Improved search in galleries with option to limit search to current (sub)site.</li>
    <li>Improved Link selector in image gallery.</li>
    <li>Improved upload process that translates filenames to avoid specials chars but preserves title property.</li>
    <li>Added fall-back mechanism for non-existing formatters in  container pages trying to find the appropriate formatter reading the  configuration XSD.</li>
    <li>Improved updater handles org.opencms.ade.config module to prevent conflicts.</li>
    <li>Improved handling of not yet released/expired resources in ADE.</li>
    <li>Improved cms:headincludes with attribute to close the tag supporting DOCTYPE HTML 4.01 strict.</li>
    <li>Added default icon for resource types if one of the optional  &quot;small&quot; or &quot;big&quot; icon is not set in the resource type configuration.</li>
    <li>Moved all ADE module configuration to the common &quot;ADE config&quot; module.</li>
    <li>Added support for the latest PostgreSQL &quot;stable release&quot; version.</li>
    <li>Standardized ordering for core resource types, e.g group containers and dynamic functions.</li>
    <li>Improved module-resource entries in manifest of  org.opencms.workplace.tool.database prevents folders used by other  modules of being deleted.</li>
    <li>Improved Clipboard now uses localized version of Title and other properties.</li>
    <li>Improved Description Mappings now provided for all Resource Types in Demo content.</li>
    <li>Improved handling of XSD complex types with new content handlers  that are created when unmarshalling content definitions and assigned to  the new content definition objects.</li>
</ul>
<h2>Fixed issues in OpenCms 8.0.3</h2>
<ul>
    <li>Fixed issue #1883 that category widget did not work correctly when the category title contains apostrophes.</li>
    <li>Fixed issue #1981 that static export after publish did not work correctly for template resources with parameters.</li>
    <li>Fixed issue #1991 that link relations are not displayed correctly in the workplace when first opened in explorer mode.</li>
    <li>Fixed issue #2002 that the category widget logs errors when editing elements created through a collector list.</li>
    <li>Fixed issue #2013 that the Toolbar Direct Edit Provider does not preserve request parameters.</li>
    <li>Fixed issue with Tomcat 7 tag pooling.</li>
    <li>Fixed Image Gallery now enables setting the alt / Title text in the settings tab in the XML page editor.</li>
    <li>Fixed issue that if you create a new folder in the shared  folder, the folder list in the explorer view (left frame) duplicates all  entries.</li>
    <li>Fixed issue in ADE Editor displaying scrollbars or not depending on the style of the web page, which might lead to flickering.</li>
    <li>Fixed issue that dragging a new Dynamic Function Element onto the container page threw an exception.</li>
    <li>Fixed issue in XML Editor submitting the form on &quot;Enter&quot; in a non-multi line field instead of advancing cursor to next field.</li>
    <li>Fixed issue that user last login information was not updated anymore when working with OCEE cache.</li>
    <li>Fixed issue in the movedResource method when moving a folder containing a sub-tree marked as deleted.</li>
    <li>Fixed issue with timeout in Send-to-user function in a multi-user scenario.</li>
    <li>Fixed issue that links to other sites were saved wrong in the editor.</li>
    <li>Fixed issue that title property of uploaded image was set to source path when using IE7.</li>
    <li>Fixed issue in creation of Sub-Sitemap as &quot;common&quot; user in the workplace throwing exception.</li>
    <li>Fixed issue that missing &quot;en&quot; locale in sitemap configuration makes resource types vanish.</li>
    <li>Fixed issue that GWT Upload did not work with Firefox 7 and Mac OS.</li>
    <li>Fixed issue in property dialog in ADE that deleting once set values was not possible.</li>
    <li>Fixed issue that Sitemap operations (insert new page, moving existing pages) generated negative NavPos property values.</li>
    <li>Fixed issue that restricting search results in ADE does not work when reopening ADE galleries.</li>
    <li>Fixed encoding issue in image galleries that images with special  characters in the title are shown with broken characters in ISO-8859-1  environments.</li>
    <li>Fixed issue in image gallery when reopening the gallery after selecting an image, that first 20 images are not shown.</li>
    <li>Fixed issue that scrollbars in Explorer view did not work in Chrome.</li>
    <li>Fixed issue that documents of the latest MS Office editions ending with .docx, .xlsx were not displayed in the galleries at all.</li>
    <li>Fixed issue that headinclude of CSS does not produce valid XHTML.</li>
    <li>Fixed issue that headincludes of elements in element groups were not considered.</li>
    <li>Fixed issue within the link substitution if the &quot;en&quot; locale is missing in a module's .config file.</li>
    <li>Fixed issue that CmsVfsDriver.readResourcesWithProperty behaved differently for shared and individual properties.</li>
    <li>Fixed issue that the updater did not add the correct XML in  opencms-search.xml when adding the new field-mapping of the  &quot;gallery_fields&quot;.</li>
    <li>Fixed issue with the FCKEditor Image Gallery loading different images than selected when using IE7.</li>
    <li>Fixed issue that repeated resizing of images added white bars at top and bottom of the image.</li>
    <li>Fixed issue with the updater inserting an invalid node in the  configuration when updating an OpenCms 7.0.5 installation with no node  in the opencms-workplace.xml.</li>
    <li>Fixed issue in the gallery search, where it occasionally happened that new resources were not added to the search index.</li>
    <li>Fixed issue that when readDefaultFile method returned NULL the Sitemap Editor did not work.</li>
    <li>Fixed caching issue, that new element settings in a modified XSD were not visible after OpenCms restart.</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 8.0.3 release.</p>
<p>OpenCms 8.0.3 is fully backward compatible to all prior 7.x versions.   Templates and other OpenCms developed code from version 7.0 or 7.5   should work &quot;out of the box&quot; with version 8.0.3.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version  8.0.3 requires Alkacon OCEE version 3.0.3 or later. In case you want to  update your OpenCms installation to 8.0.3, please make sure you update  Alkacon OCEE to 3.0.3 or later first!</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 8.0.3 has been written and tested using Java 5 / 6. We have tested only with ORACLEs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works &quot;out of the box&quot; with Tomcat 6.0, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional. We appreciate any feedback regarding other servlet containers.</p>
<p>On the database side, we have tested with MySQL 5.x, Oracle 9.x and Oracle 10.x, as well as PostgreSQL 8.2.x and 7.4.x, MS SQL Server 2000 / 2003, DB2 9.1 and HSQLDB 1.8.0. The automatic update wizard for OpenCms 8 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and build tags</h2>
<p>In case you want to check out OpenCms from Git, please keep the    following in mind: The tag numbers for all OpenCms 8.0 final releases  are  &quot;build_8_0_x&quot;, so the 8.0.3 release is tagged  &quot;build_8_0_3&quot;.</p>
<p>The Git repository is available from Github at <a href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core development team on the <a href="%(link1)">opencms-dev</a> mailing list in case you are interested in supporting the development of OpenCms.</p>
<p><a href="%(link2)" target="_self" title="OpenCms issue tracker on GitHub">Please use our OpenCms issue tracker to report bugs in this release.</a></p>
<p>Thank you for using OpenCms and have fun with OpenCms 8 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 8.0.3, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[opencms, alkacon, internet, website, gallery, explorer, upload, multi, user, ie, sql, editor, css, ms office, xml, cms, jsp, postgresql, gwt]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
