<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software als Industriepartner in EU Projekt über semantisches Web]]></Title>
    <Date>1323810000000</Date>
    <Preface><![CDATA[Alkacon Software entwickelt einen Google Web Toolkit wrapper für die Vienna IKS Editables (VIE)]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Alkacon Software entwickelt einen Google Web Toolkit wrapper für die Vienna IKS Editables (VIE)]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/vie-gwt]]></target>
          </link>
        </links>
        <content><![CDATA[<p><strong>OpenCms</strong> von  <a target="_blank" title="Alkacon Software - Die OpenCms Experten | Support, Schulung, Beratung, Entwicklung" href="%(link0)" class="external" rel="_blank">Alkacon Software</a> ist ein professionelles, einfach anzuwendendes  <strong>Website Content Management System</strong>. OpenCms hilft Anwendern weltweit, ansprechende Websites schnell und effizient zu erzeugen und zu verwalten.</p>
<p><strong>Interactive Knowledge Stack (IKS)</strong> ist ein von der EU gefördertes Projekt, über die Zukunft von semantischen Web Technologien in Content Management Systemen. Alkacon Software ist Industriepartner im IKS Projekt.</p>
<p>IKS stellt die <strong>Vienna IKS Editables (VIE)</strong> zur Verfügung, eine JavaScript basierte Software-Komponente, die es durch bestimmte Auszeichnungen ermöglicht Inhalte von Webseiten mit sematischen Informationen anzureichern und inline zu editieren. Das <strong>Apache Stanbol</strong> Projekt stellt mehrere wiederverwendbare Software-Komponenten zur Verfügung, die ihrem Anwender eine Menge von semantischen Diensten anbietet, welche über RESTful-Interfaces angesprochen werden. Sowohl VIE als auch Stanbol wurden als Teil des IKS Projekts während der vergangenen 2 Jahre entwickelt und sind nun kurz vor der Veröffentlichung.</p>
<h3>Als Industriepartner von IKS verfolgt Alkacon folgende Ziele für OpenCms:</h3>
<ol>
    <li>Generierung semantisch annotierter Inhalte für die Suchmaschinenoptimierung (SEO).</li>
    <li>Erweiterung des Advanced Direct Edit Modus von OpenCms um Inline-Editing Funktionen unter Einsatz von VIE.</li>
    <li>Unterstützung von semantischer Anreicherung von Inhalten mit VIE als Frontend und Stanbol als Backend.</li>
</ol>
<h3>Ein GWT wrapper um die VIE JavaScript Bibliothek</h3>
<p>In OpenCms wird das Google Web Toolkit verwendet, um dem Content Manager eine moderne, einfach zu bedienende Web 2.0 Oberfläche zu bieten. Um Entwicklungszeit und Wartungskosten zu minimieren und gleichzeitig die Code Transparenz zu erhöhen, möchte Alkacon weiterhin Java / GWT als Basis-Technologien verwenden und daher auf natives JavaScript als Bestandteil des OpenCms-Kernsystems so weit wie möglich verzichten. Um die Funktionen von VIE in OpenCms zu integrieren, entwickelt Alkacon einen GWT wrapper um die VIE JavaScript Bibliothek. Dies ist ein gängiger Ansatz, um aus einem GWT Kontext auf Feature-reiche JavaScript-Widget-Bibliotheken zuzugreifen, wie die Projekte &quot;Ext GWT&quot;, &quot;Smart GWT&quot; unter anderen zeigen.</p>
<h3>Implementierungsansatz für den VIE wrapper</h3>
<p>Alkacon arbeitet an einem OpenCms unabhängigen VIE-GWT Wrapper, der es einem Java / GWT Entwickler ermöglicht, den vollen Funktionsumfang von VIE zu nutzen, ohne den internen JavaScript-Code von VIE kennen zu müssen.</p>
<p>Grundsätzlich gibt es mehrere Ansätze mit GWT einen Wrapper für existierende JavaScript APIs zu entwickeln: JavaScript Native Interface (JSNI), JavaScriptObject overlays, JavaScript InterOp library, GWT Linker extensions, GWT Generators und möglicherweise noch weitere. Ein erster Prototyp des VIE-GWT Wrappers, der den JSNI Ansatz verfolgt, ist bereits über den <a href="%(link1)" target="_self" title="OpenCms Repository">Alkacon GitHub</a> zu erreichen. Im kommenden Monat wird Alkacon alternative Ansätze evaluieren.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
      <Link>
        <Text><![CDATA[VIE-GWT Projekt auf GitHub]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://github.com/alkacon/vie-gwt]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software entwickelt im Rahmen des von der Europäischen Union geförderten IKS (Interactive Knowledge Stack) Projektes einen GWT (Google Web Toolkit) wrapper für VIE (Vienna IKS Editables).]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, semantisches Web, EU Projekt, IKS, Interactive Knowledge Stack, VIE, GWT, Google web toolkit, Apache Stanbol, JSNI, Java]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software as industrial partner in EU funded project about semantic web technologies]]></Title>
    <Date>1323810000000</Date>
    <Preface><![CDATA[Alkacon Software develops a Google Web Toolkit wrapper for the Vienna IKS Editables (VIE)]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Alkacon Software develops a Google Web Toolkit wrapper for the Vienna IKS Editables (VIE)]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/vie-gwt/]]></target>
          </link>
        </links>
        <content><![CDATA[<p><strong>OpenCms </strong>from <strong>Alkacon Software</strong> is a professional content management system that helps content managers worldwide to create and maintain websites fast and efficiently.</p>
<p><strong>Interactive Knowledge Stack (IKS)</strong> is an EU funded project bringing semantic technologies (capabilities) to content management systems. Alkacon Software is an industrial partner in the IKS project.</p>
<p>IKS now provides the <strong>Vienna IKS Editables (VIE)</strong>, a JavaScript based software component to semantically enhance and edit web pages inline through annotations. IKS also provides <strong>Apache Stanbol</strong>, a reusable set of software components that are meant to be accessed over RESTful interfaces to provide semantic services for content management. Both the VIE and Stanbol components have been developed as part of the IKS project over the last 2 years and are now close a release version.</p>
<h3>By adopting the IKS software stack, Alkacon plans to achieve the following goals for OpenCms:</h3>
<ol>
    <li>Allow the generation of semantically annotated content for search engine optimization (SEO).</li>
    <li>Enhance the advanced direct edit mode of OpenCms with inline-editing capabilities using VIE.</li>
    <li>Support for semantic content enrichment, using VIE as frontend and Stanbol as backend.</li>
</ol>
<h3>A GWT wrapper around the VIE JavaScript library</h3>
<p>For client side programming, the Google Web Toolkit (GWT) is used in OpenCms to provide content managers with a modern and easy to use web 2.0 user interface. In order to minimize development time, code maintaining costs and also to increase code transparency, Alkacon will stay with GWT and Java technology. Therefore Alkacon wants to avoid writing native JavaScript code that is part of the OpenCms core system.</p>
<p>To integrate the VIE capabilities into OpenCms, Alkacon is developing a GWT wrapper around the VIE JavaScript library. This is a common approach to provide access to feature-rich native JavaScript widget libraries in GWT, for example used for projects like &quot;Ext GWT&quot;, &quot;Smart GWT&quot; and others.</p>
<h3>Implementation design for the VIE wrapper</h3>
<p>Alkacon aims to develop a VIE-GWT wrapper that is independent from OpenCms and enables a Java / GWT developer to make full use of the VIE capabilities without knowledge about the JavaScript internals of VIE.</p>
<p>In general there are a number of possible approaches when creating a wrapper for an existing JavaScript API using the GWT: JavaScript Native Interface (JSNI), JavaScriptObject overlays, JavaScript InterOp library, GWT Linker extensions, GWT Generators and maybe more. A first prototype of the wrapper implementation is already available on <a href="%(link0)" target="_self" title="OpenCms Repository">GitHub </a>&ndash; using the JavaScript Native Interface approach.</p>
<p>In the upcoming month Alkacon will even evaluate a number of alternative approaches.<br />
&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
      <Link>
        <Text><![CDATA[VIE-GWT project on GitHub]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://github.com/alkacon/vie-gwt]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software develops in the course of the IKS (Interactive Knowledge Stack) project a GWT (Google Web Toolkit) wrapper around the Vienna IKS Editables (VIE).]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, semantic web, EU project, IKS, interactive knowledge stack, VIE, GWT, Google web toolkit, Apache Stanbol, JSNI, Java]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
