<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Das OpenCms 8 Handbuch für Redakteure ist da!]]></Title>
    <Date>1324587600000</Date>
    <Preface><![CDATA[Alles darüber, wie man mit OpenCms 8 eine Webseite in wenigen Minuten erstellt. Das OpenCms 8 Handbuch bietet eine schnelle, leicht verständliche Beschreibung aller Funktionen der neuen Benutzeroberfläche von OpenCms 8.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-opencms-8-user-manual.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-opencms-8-user-manual.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das OpenCms 8 Handbuch für Redakteure, das jetzt zum <a title="Jetzt das OpenCms 8 Handbuch runterladen!" target="_self" href="%(link0)">Download</a> bereitsteht, bietet eine schnelle, leicht verständliche Beschreibung aller Funktionen der neuen Benutzeroberfläche von OpenCms 8.</p>
<p>Eine vollumfängliche Referenz für den Redakteur mit vielen Anwendungsbeispielen. Wie man mit der neuen Benutzeroberfläche von OpenCms 8 eine komplette Webseite in wenigen Minuten erstellt. Alles über Advanced Direct Edit. Alles über den Sitemap Editor.</p>
<h2>Alles Wissenswerte über</h2>
<ul>
    <li>Das Arbeiten mit Advanced Direct Edit</li>
    <li>Die Möglichkeiten des Sitemap Editors</li>
    <li>Alle Bedienelemente und Kontextmenüs</li>
    <li>Alle Merkmale und Funktionen der neuen OpenCms 8 Benutzeroberfläche</li>
</ul>
<p>OpenCms 8 macht die Arbeit des Redakteurs leichter und intuitiver. Alles was zum Erstellen einer modernen ansprechenden Webseite benötigt wird ist nur einen Mausklick entfernt.</p>
<p>Jetzt mehr über die großartigen neuen Funktionen von OpenCms 8 erfahren und <a title="Jetzt das OpenCms 8 Handbuch runterladen!" target="_self" href="%(link1)">das aktuelle OpenCms 8 Benutzerhandbuch runterladen</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alles darüber, wie man mit OpenCms 8 eine Webseite in wenigen Minuten erstellt. Das OpenCms 8 Handbuch bietet eine schnelle, leicht verständliche Beschreibung aller Funktionen der neuen Benutzeroberfläche von OpenCms 8.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 8, Handbuch, Advanced Direct Edit, Sitemap Editor, cms, Content Management System]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 8 content manager user manual now available!]]></Title>
    <Date>1324587600000</Date>
    <Preface><![CDATA[Learn how to create a website within minutes with OpenCms 8. The OpenCms 8 User Manual from Alkacon Software provides a quick non-technical overview of OpenCms 8.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-opencms-8-user-manual.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-opencms-8-user-manual.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms 8 content manager user manual - which is now available for <a title="Download the OpenCms 8 User Manual now!" target="_self" href="%(link0)">download</a> - provides a quick non-technical overview of OpenCms 8.</p>
<p>This complete and easy to understand reference will help the content manager to build websites with OpenCms 8 within minutes. Learn all about advanced direct edit and the sitemap editor.</p>
<p>Explaining every feature and functionality of the OpenCms 8 user interface this user manual provides essential know-how for the content manager.</p>
<h3>Learn more about</h3>
<ul>
    <li>Working with advanced direct edit</li>
    <li>Features of the sitemap editor</li>
    <li>Controls of the context menus</li>
    <li>All features and functionalities of the OpenCms 8 user interface</li>
</ul>
<p>With OpenCms 8 the work of a content manager has been made easy and intuitive. Everything you need to create beautiful web pages is within reach on the page itself.</p>
<p>Learn more about the great new features of OpenCms 8 and <a title="Download the OpenCms 8 User Manual now!" target="_self" href="%(link1)">download the latest OpenCms 8 User Manual</a> right now.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Learn how to create a website within minutes with OpenCms 8. The OpenCms 8 user manual from Alkacon Software provides a quick non-technical overview and introduction of OpenCms 8 and the main system features]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 8, user manual, Advanced Direct Edit, Sitemap Editor, content editor, cms, content management system]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
