<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Vorschau auf kommende OpenCms 8.5 Features]]></Title>
    <Date>1331326800000</Date>
    <Preface><![CDATA[Video Vorschau und Online Demo: Inline Editing mit OpenCms. Die kommende Version 8.5 kombiniert professionelle Unternehmensarchitektur mit einem überzeugenden Anwendererlebnis.
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Inline Editing von Inhalten mit Alkacons neuem Acacia Editor aus dem IKS Semantic Web Projekt]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/111213-google-web-toolkit-vie-wrapper.html]]></target>
            <uuid>c34ff301-24b6-11e1-a8ac-b7a33137a728</uuid>
            <query><![CDATA[__locale=de]]></query>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://iks.alkacon.com]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://iks.alkacon.com/de/register/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Wissen Sie wie einfach es ist Webinhalte direkt auf der Seite zu editieren?</p>
<p>Die kommende Version 8.5 von OpenCms wird <strong>Inline-Editing</strong> von Inhalten direkt auf der Seite bieten wie auch die nächste Generation von Formularbasiertem Bearbeiten von Inhalten.</p>
<p>All dies bietet der neue <strong>Acacia Editor</strong> von Alkacon, der die <a title="Alkacon Software als Industriepartner in EU Projekt über semantisches Web" target="_self" href="%(link0)"><strong>IKS Technologie für das Semantische Web</strong></a> nutzt.&nbsp;</p>
<p>Dank der umfassenden und flexiblen Metadaten Unterstützung können Sie Ihre Inhalte optimal nutzen und Ihre Besucher werden diese finden statt suchen.</p>
<p>Jetzt den <a title="OpenCms 8.5 mit Alkacon Acacia Editor auf Video" target="_self" href="%(link1)">Screencast anschauen</a> und die <a title="Jetzt ausprobieren! OpenCms 8.5 Online Demo mit Inline Editing" target="_self" href="%(link2)">Online Demo</a> ausprobieren um mehr über Inline Editing mit dem kommenden OpenCms 8.5 zu erfahren!</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Video Vorschau und Online Demo: Inline Editing mit OpenCms. Version 8.5 kombiniert professionelle Unternehmensarchitektur mit einem überzeugenden Anwendererlebnis.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, video, editor, preview, inline, online, demo, iks, semantic]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1331303580000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Preview of upcoming OpenCms 8.5 features]]></Title>
    <Date>1331326800000</Date>
    <Preface><![CDATA[Video preview and online demo: inline editing with OpenCms version 8.5, combining professional enterprise architecture with an improved intuitive user experience.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Inline content editing with Alkacon's new Acacia editor based on IKS semantic web technology]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/111213-google-web-toolkit-vie-wrapper.html]]></target>
            <uuid>c34ff301-24b6-11e1-a8ac-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://iks.alkacon.com]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://iks.alkacon.com/en/register/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Did you know how easy it is to edit contents directly on the webpage?</p>
<p>The upcoming version 8.5 of OpenCms will feature <strong>inline content-editing</strong> directly on the web page as well as next level form based editing.</p>
<p>This is provided by Alkacon's new <strong>Acacia editor</strong> based on <a href="%(link0)" target="_self" title="Alkacon Software as industrial partner in EU funded project about semantic web technologies">IKS semantic web technology</a>.</p>
<p>With the comprehensive and flexible support for meta data contents can be optimally used and website visitors will find what they are looking for.</p>
<p><a href="%(link1)" target="_self" title="Watch the video! Inline editing with the upcoming OpenCms 8.5">Watch the webcast</a> and try the <a href="%(link2)" target="_self" title="IKS demo website">online demo</a> to learn more about inline content-editing with the upcoming OpenCms 8.5.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Video preview and online demo: inline editing with OpenCms version 8.5, combining professional enterprise architecture with an improved intuitive user experience.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, video, editor, preview, inline, online, demo, iks, semantic]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1331303580000</Release>
    </Availability>
  </Article>
</ArticleData>
