<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Jetzt als PDF Download: OpenCms 8 Template-Entwicklung für Anfänger]]></Title>
    <Date>1330981200000</Date>
    <Preface><![CDATA[Mit der Schritt für Schritt Anleitung vom Design, über den HTML Prototypen zum voll funktionsfähigen Template in OpenCms 8.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-template-creation-beginners-guide.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/contribute_module_form.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-template-creation-beginners-guide.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das Tutorial OpenCms 8 Template-Entwicklung für Anfänger, das jetzt zum <a href="%(link0)" target="_self" title=" Jetzt das Tutorial OpenCms 8 Template-Entwicklung für Anfänger runterladen!">Download</a> bereitsteht,  macht es dem Einsteiger / Umsteiger leicht, ein voll funktionsfähiges Template für OpenCms 8 zu erstellen.</p>
<p>Für diese Schritt für Schritt Anleitung ist kein Vorwissen in der Web-Entwicklung erforderlich. Sie bietet einen spielerisch leichten Einstieg in das Thema der Template Erstellung für das Open Source Content Management System OpenCms.</p>
<p>Jetzt ganz einfach ein Template erstellen und <a href="%(link1)">mit der OpenCms Community teilen</a>.</p>
<h2>Alles Wissenswerte über</h2>
<ul>
    <li>das Erstellen eines Webseiten Templates mit OpenCms 8 von Design über HTML bis zum funktionierenden JSP Template</li>
    <li>Konfigrieren von Header und Footer</li>
    <li>Sitemap Configuration</li>
    <li>Editieren der Modell Vorlage</li>
    <li>Erstellen einer funktionierenden Webseiten Navigation in OpenCms 8.</li>
</ul>
<p>Mit OpenCms 8 ist es ganz einfach, ein ansprechendes Template für Ihre Webseite zu erstellen.</p>
<p>Jetzt mehr über die großartigen neuen Funktionen von OpenCms 8 erfahren und <a href="%(link2)" target="_self" title=" Jetzt das Tutorial OpenCms 8 Template-Entwicklung für Anfänger runterladen!">das Tutorial OpenCms 8 Template-Entwicklung für Anfänger runterladen</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Mit der Schritt für Schritt Anleitung vom Design, über den HTML Prototypen zum voll funktionsfähigen Template in OpenCms 8.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 8, Handbuch, Template, layout, website, cms, Content Management System]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1330957980000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Download the OpenCms 8 beginner's guide to template creation as PDF]]></Title>
    <Date>1330981200000</Date>
    <Preface><![CDATA[Learn how to create a website template from scratch in OpenCms 8 with this step by step tutorial.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-template-creation-beginners-guide.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/contribute_module_form.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/modules/downloads/dl-template-creation-beginners-guide.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms 8 beginner's guide to template creation - which is now available for <a href="%(link0)" target="_self" title="Download the OpenCms 8 beginner's guide to template creation now!">download</a> - provides an easy to understand introduction on how to&nbsp; create a working JSP template from scratch with OpenCms 8.</p>
<p>This step by step tutorial requires no previous knowledge of website creation. First-time and switching users can directly jump into template creation with the open source content management system OpenCms.</p>
<p>Start creating your own templates with OpenCms and <a href="%(link1)" target="_self" title="Share your templates with the OpenCms community!">make them available to the community</a>.</p>
<h2>Learn more about</h2>
<ul>
    <li>Creating your website template with OpenCms 8 from design to HTML prototype and a working JSP template</li>
    <li>Header and footer configuration</li>
    <li>Sitemap configuration</li>
    <li>Editing the model page</li>
    <li>Building the website navigation in OpenCms 8.</li>
</ul>
<p>With OpenCms 8 it is easy to create a beautiful template for your website.</p>
<p>Learn more about the great new features of OpenCms 8 and <a href="%(link2)" target="_self" title="Download the OpenCms 8 beginner's guide to template creation now!">download the OpenCms 8 beginner's guide to template creation</a> right now.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Learn how to create a website template from scratch in OpenCms 8 with this step by step tutorial. Design, HTML Prototype, JSP template.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 8, user manual, Advanced Direct Edit, Sitemap Editor, content editor, cms, content management system]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1330957980000</Release>
    </Availability>
  </Article>
</ArticleData>
