<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2012 - Konferenz und Ausstellung]]></Title>
    <Date>1332914400000</Date>
    <Preface><![CDATA[Die OpenCms Days 2012 werden von Montag, dem 24. September, bis Dienstag, 25. September 2012 in Köln veranstaltet. Das Motto der diesjährigen OpenCms Days ist "OpenCms 8 – Experiences, Possibilities, Potentials". Jetzt registrieren und Frühbucher-Rabatt sichern.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die OpenCms Days 2012 werden von Montag, dem 24. September, bis Dienstag, 25. September 2012 in K&ouml;ln veranstaltet.</p>
<h2>OpenCms 8 &ndash; Experiences, Possibilities, Potentials</h2>
<p>Bei diesem vierten allj&auml;hrlichen Treffen von OpenCms Benutzern liegt der Schwerpunkt ganz auf erfolgreichen OpenCms 8 Projekten. Experten aus aller Welt werden &uuml;ber ihre Erfahrungen mit der aktuellen OpenCms Version 8 berichten. Au&szlig;erdem wird Alkacon die Version 8.5 vorstellen, die zahlreiche Weiterentwicklungen bietet.</p>
<p><strong>Die OpenCms Days 2012 Konferenz bietet zwei parallele Vortragsreihen mit Workshops und Showcases.<br /> </strong></p>
<p>Die bisherigen OpenCms Days haben gezeigt, dass diese Veranstaltung eine einzigartige Gelegenheit ist, OpenCms Experten wie Kern-Entwickler, erfahrene Berater, unabh&auml;ngige CMS Analysten, IT F&uuml;hrungskr&auml;fte und andere OpenCms Anwender aus der ganzen Welt zu treffen. Gerade die zur Konferenz geh&ouml;rende Ausstellung bietet die gro&szlig;artige M&ouml;glichkeit f&uuml;r Sponsoren neue Gesch&auml;ftskontakte herzustellen und die OpenCms Community einzutauchen.</p>
<p>Die OpenCms Days 2012 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p><strong>Teilnahmegeb&uuml;hr:</strong></p>
<div>Fr&uuml;hbucher-Preis (bis&nbsp;zum 1. Juli 2012)<span>:&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <strong>180,- Euro</strong></span></div>
<p><span>Regul&auml;re Teilnahmegeb&uuml;hr (ab dem 1. Juli 2012): <strong>200,- Euro</strong></span></p>
<p>Das vollst&auml;ndige Konferenz-Programm wird am 1. Juli 2012 auf der Website der Konferenz ver&ouml;ffentlicht.</p>
<p class="sml">Die OpenCms Days 2012 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die F&ouml;rderung der Verbreitung von OpenCms und die St&auml;rkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2012_2rows.jpg]]></target>
            <uuid>29a5d215-6480-11e1-bf29-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2012 -24. bis 25. September 2012]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Zur Website der OpenCms Days 2012]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Internationale Konferenz OpenCms Days 2012, 24. bis 25.09.2012 in Köln. Rede, Powerpoint Präsentation oder Vortrag einreichen bis 15.06.2012]]></Description>
      <Keywords><![CDATA[köln, 2012, software, international, messe, event, projekt, veranstaltung, ausstellung, sprecher, beitrag, eintritt, cms, kongress, konferenz]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1332914400000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2012 - Conference and Expo]]></Title>
    <Date>1332914400000</Date>
    <Preface><![CDATA[OpenCms Days 2012 will take place from Monday, September 24 to Tuesday, September 25, 2012 in Cologne, Germany. This year's OpenCms Days motto is "OpenCms 8 – Experiences, Possibilities, Potentials". Be there to meet and mingle with leading OpenCms experts.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2012 will take place from Monday, September 24 to Tuesday, September 25, 2012 in Cologne, Germany.</p>
<h2>OpenCms 8 &ndash; Experiences, Possibilities, Potentials</h2>
<p>This 4th annual gathering of OpenCms users will focus on success stories and projects based on OpenCms 8. Experts from around the world will share their experiences with this latest OpenCms release. Alkacon will also unveil Version 8.5 of OpenCms which will contain several enhancements.</p>
<p><strong>OpenCms Days 2012 conference will feature 2 parallel tracks with Showcase and Workshop sessions.</strong></p>
<p>The previous OpenCms Days have shown that this event is the best occasion to meet and mingle with OpenCms experts such as core developers, experienced consultants, independent CMS analysts, executive decision makers and other OpenCms users. Especially the conference&rsquo;s expo provides a great chance for sponsors to establish new business contacts and to get in touch with the OpenCms community.</p>
<p>OpenCms Days 2012 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p><strong>Registration price:</strong></p>
<p>Early bird registration (until June 30): <strong>180,- Euro</strong><br /> Normal registration (after July 1st): <strong>200,- Euro</strong></p>
<p>The full program and list of speakers will be available July 1st, 2012 from the conference website.</p>
<p class="sml">OpenCms Days 2012 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2012_2rows.jpg]]></target>
            <uuid>29a5d215-6480-11e1-bf29-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2012 - September 24 to September 25, 2012]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Visit the website of the OpenCms Days 2012]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[International conference OpenCms Days 2012 from Sept. 24 to 25, 2012 in Cologne, Germany. Call for Papers is closing June 15, 2012. ]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms, cms, software, 2012, international, event, registration, germany, conference, projects, cologne, exhibition, convention, session, speaker, workshop, open source, experiences, exposition, successful, sponsor, trade fair, content management, oktoberfest, wiesn]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1332914400000</Release>
    </Availability>
  </Article>
</ArticleData>
