<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 8.0.4 release notes]]></Title>
    <Date>1334127600000</Date>
    <Preface><![CDATA[The OpenCms 8.0.4 release notes contain detailed information about the new features in this improved version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/bugtracker.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8.0.4 is an update that improves browser compatibility and fixes several issues that persisted in the 8.0.3 release.</p>
<h2>Main new features in OpenCms 8.0.4</h2>
<ul>
    <li>Added TinyMCE WYSIWYG editor with support for IE 9.</li>
    <li>Added Italian localization contributed by Antonio Cordeddu of coranto.it</li>
    <li>Added Russian localization contributed by Alexey Chirkov of itdt.ru</li>
</ul>
<h2>Other new features and improvements in OpenCms 8.0.4</h2>
<ul>
    <li>Added configurable ADE context menu dialogs.</li>
    <li>Added scheduled job for search index optimization.</li>
    <li>Improved handling of deleted users in permissions dialog.</li>
    <li>Improved sitemap editor change handling.</li>
    <li>Improved synchronized lock behavior for offline indexing.</li>
    <li>Updated Lucene to version 3.5.</li>
    <li>Updated JPA to version 2.2.0.</li>
</ul>
<h2>Fixed issues in OpenCms 8.0.4</h2>
<ul>
    <li>Fixed issue with VFS image widget preview function.</li>
    <li>Fixed various image widget format and cropping issues.</li>
    <li>Fixed issue 1999 where VFS image gallery widget would not open if 'useformats' was set to 'false'.</li>
    <li>Fixed issue 2018 + 2024 typo in group permissions JSP resulting in a compile error.</li>
    <li>Fixed issue 2019 incorrect form height in &quot;Preferences -&gt; Galleries&quot; tab.</li>
    <li>Fixed issue 2021 method org.opencms.jsp.CmsJspActionElement#link(java.util.String target, java.util.String detailPage) was not using second parameter.</li>
    <li>Fixed issue 2026 CmsDefaultLinkSubstitutionHandle wrongly construct URL.</li>
    <li>Fixed issue 2027 CmsFileUtil misses a value assignment.</li>
    <li>Fixed issue 2028 CmsMirDirectPublish misses a return value.</li>
    <li>Fixed issue 2029 where workplace crashed on occasions when using the publish dialog from the administration view.</li>
    <li>Fixed issue 2032 where image gallery widget did not display images from /system/galleries/pics.</li>
    <li>Fixed issue 2037 where proportional image cropping was not possible for certain formats.</li>
    <li>Fixed issue 2039 with class cast exception in content tools dialogs.</li>
    <li>Fixed issue 2040 where source search replacement didn't consider the content encoding.</li>
    <li>Fixed issue 2041 where Static Export failed for files named 'index.html' with URL parameters.</li>
    <li>Fixed issue 2045 where the width of workplace dialog buttons was fixed and not sufficient for other translations.</li>
</ul>
<h2>General features of OpenCms 8</h2>
<ul>
    <li>The &quot;Advanced Direct Edit&quot; (ADE) mode allows to create page content by drag &amp; drop.</li>
    <li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
    <li>The &quot;Content Subscription Engine&quot; allows to inform users when subscribed documents have changed.</li>
    <li>Extended support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
    <li>Structured contents can be defined using a simple XML schema.</li>
    <li>Includes editors with WYSIWYG and syntax highlighting functionality.</li>
    <li>Easy to use &quot;Online / Offline&quot; workflow, changes must be approved before they become visible.</li>
    <li>Link management for all internal resources with broken link detection.</li>
    <li>Support for WebDAV access to all resources in the OpenCms repository.</li>
    <li>Integrated image scaling and cropping.</li>
    <li>Full featured internal user management that supports the concept of &quot;Organizational Units&quot; (OUs).</li>
    <li>Allows management of multiple websites within one installation.</li>
    <li>Contents can be served dynamically or exported to static HTML files.</li>
    <li>Extensions can be added through a flexible module system.</li>
    <li>Full text search for web pages, but also in PDF, MS Office documents etc.</li>
    <li>The &quot;time warp&quot; feature allows to view resources which are expired or not yet released.</li>
    <li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
    <li>Distribution includes a complete demo website &quot;Wonderful World of Flowers&quot;.</li>
    <li>... and many more</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to the 8.0.4 release.</p>
<p>OpenCms 8.0.4 is fully backward compatible to all prior 8.x and 7.x versions.  Templates and other OpenCms developed code from these versions should work &quot;out of the box&quot; with version 8.0.4.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version 8.0.4 requires Alkacon OCEE version 3.0.4 or later. In case you want to update your OpenCms installation to 8.0.4, please make sure you update Alkacon OCEE to 3.0.4 or later first!</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 8.0.4 has been written and tested using Java 5 / 6. We have  tested only with ORACLEs version of the JDK. However, OpenCms has no  dependencies to sun.* packages so it should in theory run with all  compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms  works &quot;out of the box&quot; with Tomcat 7, which we recommend. Others have  reported deploying OpenCms successfully on other servlet containers like  JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB. The automatic update wizard for OpenCms  8 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and build tags</h2>
<p>In case you want to check out OpenCms from Git, please keep the following in mind: The tag numbers for all OpenCms 8.0 final releases are  &quot;build_8_0_x&quot;, so the 8.0.4 release is tagged  &quot;build_8_0_4&quot;.</p>
<p>The main OpenCms Git repository is available on Github at <a href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please send us your pull requests directly on GitHub.</p>
<p><a href="%(link1)" target="_self" title="OpenCms issue tracker on GitHub">Please use our OpenCms issue tracker to report bugs in this release.</a>&nbsp;</p>
<p>Thank you for using OpenCms and have fun with OpenCms 8 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 8.0.4, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[release, opencms, job, image, view, group, change, open, tab, class]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
