<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Issue Tracker jetzt auf Github]]></Title>
    <Date>1334563200000</Date>
    <Preface><![CDATA[Alkacon Software ersetzt bugzilla durch den OpenCms Issue Tracker auf GitHub. Bitte berichten Sie Fehler, unklare Aspekte oder Probleme, die Sie in OpenCms feststellen.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/support/solution_providers/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software ersetzt bugzilla durch den OpenCms Issue Tracker auf <strong>GitHub</strong>.</p>
<p>Alle noch offenen Fehlerberichte mit Bezug zu aktuell unterstützten Versionsnummern von OpenCms wurden bereits auf GitHub übertragen.</p>
<p>Bitte verwenden Sie den  <a rel="_blank" class="external" href="%(link0)" title="OpenCms Issue Tracker auf GitHub" target="_blank">OpenCms Issue Tracker auf GitHub</a>, um alle Fehler, unklaren Aspekte oder Probleme zu berichten, die Sie in OpenCms feststellen. Die Verwendung des Issue Trackers macht es für jeden, der OpenCms verwendet und an der OpenCms-Entwicklung mitwirkt, einfacher, den Prozess der Fehlerbehebung zu verwalten. Sie müssen zunächst ein Konto erzeugen.</p>
<p>Bevor Sie einen Fehlerbericht senden, vergewissern Sie sich, dass Ihr Fehler nicht bereits berichtet wurde.</p>
<p>Bitte verwenden Sie den Issue Tracker nur, um Fehler in OpenCms zu berichten. Allgemeine Fragen zu OpenCms richten Sie bitte an die  <a title="OpenCms Mailingliste" href="%(link1)">OpenCms-Mailingliste</a> oder einen der  <a title="OpenCms Lösungsanbieter" href="%(link2)">OpenCms Lösungsanbieter</a> in Ihrem Gebiet.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Bitte klicken Sie hier, um den OpenCms Issue Tracker auf GitHub aufzurufen.]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software ersetzt bugzilla durch den OpenCms Issue tracker auf GitHub. ]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, issue, bugs, bug tracking, bug tracker, bugzilla, GitHub, software]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms issue tracker now on Github]]></Title>
    <Date>1334563200000</Date>
    <Preface><![CDATA[Alkacon Software has moved OpenCms issue tracking from bugzilla to Github. Please report bugs, issues or problems in OpenCms here.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has moved the OpenCms issue tracking from bugzilla to <strong>GitHub</strong>.</p>
<p>All open issues concerning supported versions of OpenCms have already been moved to GitHub.</p>
<p>Please use the  <a rel="_blank" class="external" title="OpenCms issue tracker on GitHub" href="%(link0)" target="_blank">OpenCms issue tracker on GitHub</a> to report all bugs, issues or problems you find in OpenCms. Using the issue tracker makes it easier for everyone using OpenCms and participating in the OpenCms development to manage to process of bug fixing. You will have to create an account first.</p>
<p>Before submitting an issue on GitHub, make sure your issue hasn't already been reported.</p>
<p>Please use the issue tracker only to report bugs in OpenCms. For general questions regarding OpenCms, please use the  <a title="OpenCms mailing list" href="%(link1)">OpenCms mailing list</a> or contact one of the  <a title="OpenCms solution providers" href="%(link2)">OpenCms Solution Providers</a> in your area.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Please click here to enter the OpenCms issue tracker on GitHub]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software has moved OpenCms issue tracking from bugzilla to Github.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, issue, bugs, bug tracking, bug tracker, bugzilla, GitHub, software]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
