<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Probieren Sie OpenCms 8.5 online aus!]]></Title>
    <Date>1348473600000</Date>
    <Preface><![CDATA[Jetzt OpenCms 8.5 online testen. Registrieren Sie Ihren persönlichen Account. Keine Installation nötig. Tutorial erhältlich als Video Screencast und schriftliche Kurzanleitung.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org/de/tutorial/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die neueste OpenCms 8.5 Version ist jetzt online auf dem Live Demo Server unter <a title="OpenCms 8 Live Demo Server" href="%(link0)" target="_self">http://demo.opencms.org</a></p>
<p>Testen Sie selbst, wie einfach es mit OpenCms 8.5 ist, eine Webseiten Struktur anzulegen und Inhalte zu erstellen.</p>
<p>Die online Demo verwendet das bekannte <strong>"Template III", ein konfigurierbares Template</strong>, das es erm&ouml;glicht, eigene Websites einfach per <strong>Drag &amp; Drop</strong> zu erstellen.</p>
<p>Jetzt registrieren, um einen pers&ouml;nlichen OpenCms Live Demo Account zu er&ouml;ffnen.</p>
<p>Testen Sie OpenCms 8.5 f&uuml;r 30 Tage und lassen Sie sich &uuml;berzeugen von den bew&auml;hrten Features wie <strong>Advanced Direct Edit</strong>, dem <strong>Sitemap Editor </strong>und die OpenCms <strong>Workplace</strong>.</p>
<p>Das <a title="OpenCms 8 Tutorial als Video Screencast" href="%(link1)" target="_self">OpenCms Tutorial</a> stellt Ihnen die Hauptfunktionen von OpenCms vor, um Inhalte zu erstellen, modifizieren und organisieren. Die Tutorials sind sowohl als Screencast Video und als schriftliche Kurzanleitung erh&auml;ltlich.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
      <Link>
        <Text><![CDATA[Zur OpenCms Live Demo Website - http://demo.opencms.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Jetzt OpenCms 8.5 online testen. Registrieren Sie Ihren persönlichen Account. Keine Installation nötig. Tutorial erhältlich als Video Screencast und schriftliche Kurzanleitung.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, video, editor, preview, online, demo, server, OpenCms 8]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1333526400000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Try OpenCms 8.5 online!]]></Title>
    <Date>1348473600000</Date>
    <Preface><![CDATA[Try the OpenCms 8.5 online demo. Register your personal account for free. Tutorial available as screencast video and comprehensive text.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org/en/tutorial/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The latest version of OpenCms 8.5 is now online on the live demo server at <a title="OpenCms 8 live demo server" href="%(link0)" target="_self">http://demo.opencms.org</a></p>
<p>Try yourself, how easy it is to create a website structure and edit contents with OpenCms 8.5.</p>
<p>The online demo uses the well known<strong> Template III, a configurable Template</strong> for website creation by <strong>drag &amp; drop</strong>.</p>
<p>Register for an OpenCms Live Demo account for your personal evaluation purposes.</p>
<p>Test OpenCms 8.5 for 30 days and get used to the intuitive and reliable OpenCms 8.5 features as <strong>Advanced Direct Edit</strong>, the <strong>Sitemap Editor</strong> and the OpenCms <strong>Workplace</strong>.</p>
<p>The <a title="OpenCms 8 tutorial available as screencast and html" href="%(link1)" target="_self">OpenCms tutorial</a> describes the basic functions of OpenCms to create, modify and organize content. The tutorial is available as a screencast and also as a comprehensive text.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
      <Link>
        <Text><![CDATA[Go to the OpenCms Live Demo Website - http://demo.opencms.org]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Try the OpenCms 8.5 online demo. Register your personal account for free. Tutorial available as screencast video and comprehensive text.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, video, editor, preview, online, demo, server, OpenCms 8]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1333526400000</Release>
    </Availability>
  </Article>
</ArticleData>
