<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Wiki Serverumstellung]]></Title>
    <Date>1336377600000</Date>
    <Preface><![CDATA[Das OpenCms Wiki läuft jetzt auf einem neuen Server. Während Funktionalität und Inhalte gleichbleiben, wurde die Wiki Software samt Erweiterungen auf den neuesten Stand gebracht.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das <a title="OpenCms Wiki" target="_self" href="%(link0)">OpenCms Wiki</a> ist auf einen neuen Server umgezogen. Das OpenCms Wiki läuft auf MediaWiki (wie z.B. auch Wikipedia) und die Software sowie alle installierten Extensions wurden auf die letzte verfügbare Version aktualisiert.</p>
<p>Die wohlbekannte Funktionalität und natürlich die Inhalte sind gleich geblieben.<br />
<br />
Sollte es während der letzten Stunden dennoch zu technischen Problemen beim Aufrufen der Seite http://www.opencms-wiki.org gekommen sein, bitten wir dies zu entschuldigen. Bitte melden Sie alle Fehler, die evtl. durch den Umzug des Wiki entstanden sein könnten, an die <a title="Die OpenCms Mailingliste" target="_self" href="%(link1)">Mailingliste</a>.<br />
<br />
Bitte keine inhaltlichen, redaktionellen oder Rechtschreibefehler melden - Sie können sich selbst für das OpenCms Wiki registrieren und einen Beitrag leisten, indem Sie einen Erfahrungsbericht, ein Tutorial oder Tipps &amp; Tricks veröffentlichen oder auch nur helfen, derartige Fehler zu beheben. <br />
<br />
Besuchen Sie <a title="OpenCms Wiki" target="_self" href="%(link2)">http://www.opencms-wiki.org</a> regelmäßig, um von den Erfahrungen der Community zu profitieren.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Das OpenCms Wiki ist auf einen neuen Server umgezogen.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms Wiki, mediawiki, wiki, community, server, umstellung, umzug]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Wiki server changeover]]></Title>
    <Date>1336377600000</Date>
    <Preface><![CDATA[Alkacon Software has moved the OpenCms Wiki to a new server. While functionality remains the same, the wiki software and all extensions have been updated to the latest available version.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-wiki.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has moved the <a title="OpenCms Wiki" target="_self" href="%(link0)">OpenCms Wiki</a> to a new server. OpenCms Wiki uses MediaWiki (the same as Wikipedia) and the software itself and all installed extensions have been updated to the latest available version, while the functionality you are familiar with and the contents remained the same.<br />
<br />
Though, if you encountered any inconveniences while using the OpenCms Wiki within the last few hours, we apologize for that. Please report all errors due to changeover to the <a title="The OpenCms mailing list" target="_self" href="%(link1)">mailing list</a>.<br />
<br />
Please do not report any editorial errors since you can register yourself to the OpenCms Wiki and contribute to with Project Reports, Tutorials and Best Practices - or even document revision.<br />
<br />
Check <a title="OpenCms Wiki" target="_self" href="%(link2)">http://www.opencms-wiki.org</a> frequently for new additions.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software has moved the OpenCms Wiki to a new server. ]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms Wiki, mediawiki, wiki, community, server, changeover, move]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
