<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2012 - Call for Papers ist noch offen! Reichen Sie Ihre Vorschläge ein]]></Title>
    <Date>1336629600000</Date>
    <Preface><![CDATA[Die OpenCms Days 2012 finden von Montag, den 24. September bis Dienstag, den 25. September 2012 in Köln statt. Das Motto den diesjährigen Events ist "OpenCms 8 – Experiences, Possibilities, Potentials".]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2012 finden von Montag, den 24. September bis Dienstag, den 25. September 2012 in K&ouml;ln statt.</p>
<h2>Konferenz-Programm - Die ersten Themen stehen fest</h2>
<p>Schwerpunkt des vierten j&auml;hrlichen Treffens der OpenCms User sind Erfolgs- und Projektberichte rund um das Thema OpenCms 8. Experten aus aller Welt werden das Event nutzen, um sich hier &uuml;ber Ihre Erfahrungen mit der letzten OpenCms Version austauschen. Die ersten <a title="Speakers Sessions" href="%(link0)" target="_self">Redner und ihre Themen </a>stehen bereits fest und geben Ihnen einen &Uuml;berblick &uuml;ber die Vielseitigkeit von OpenCms 8.&nbsp;</p>
<p>Wir suchen weiterhin nach interessanten Vortr&auml;gen und laden Sie herzlich ein, uns Ihre Vorschl&auml;ge zu schicken: Der "Call for papers" ist noch bis zum 15. Juni 2012 ge&ouml;ffnet. Wir w&uuml;rden uns freuen, Sie als Redner begr&uuml;&szlig;en zu k&ouml;nnen.</p>
<p>Die OpenCms Days 2012 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p>Das vollst&auml;ndige Konferenz-Programm und eine Liste der Redner finden Sie ab 1. Juli auf <a href="%(link1)" target="_self">www.opencms-days.org</a>.</p>
<h2>Early Bird Anmeldung noch bis zum 30. Juni 2012</h2>
<p>Sichern Sie sich einen Rabatt von 10% und registrieren Sie sich heute f&uuml;r die OpenCms Days 2012.<strong><br /></strong></p>
<p><strong>Preise:</strong></p>
<p>Early bird Anmeldung (bis 30. Juni): <strong>180,- Euro</strong><br /> Normale Anmeldung (nach dem 1. Juli): <strong>200,- Euro</strong></p>
<p class="sml">OpenCms Days 2012 Conference and Expo ist ein Event der Alkacon Software GmbH. Das Ziel der Veranstaltung ist OpenCms zu promoten und die OpenCms community zu unterst&uuml;tzen.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2012_2rows.jpg]]></target>
            <uuid>29a5d215-6480-11e1-bf29-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2012 - 24.-25. September 2012]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Visit the website of the OpenCms Days 2012]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Internationale Konferenz OpenCms Days 2012 vom 24. bis 25. Sept. 2012 in Köln. Call for Papers schließt am 15.Juni 2012. ]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms, cms, Software, 2012, international, Event, Registrierung, Deutschland, Konferenz, Projekte, Köln, Ausstellung,Tagung, Vortrag, Redner, Workshop, Open source, Erfahrungen, Call for Papers, erfolgreich, Sponsor, Messer, Content Management, Oktoberfest, Wiesn]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1336629600000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2012 - Call for papers still open! 4 weeks left to submit your abstract]]></Title>
    <Date>1336629600000</Date>
    <Preface><![CDATA[OpenCms Days 2012 will take place from Monday, September 24 to Tuesday, September 25, 2012 in Cologne, Germany. This year's OpenCms Days motto is "OpenCms 8 – Experiences, Possibilities, Potentials". Be there to meet and mingle with leading OpenCms experts.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2012 will take place from Monday, September 24 to Tuesday, September 25, 2012 in Cologne, Germany.</p>
<h2>Conference Program - First topics have been fixed</h2>
<p>Experts from around the world will share their experiences with this latest OpenCms release. The first <a title="Speakers Sessions" href="%(link0)" target="_self">sessions of the conference program</a> are already fixed and give an overview on the multiplicity of OpenCms 8. Nevertheless we are still looking for session proposals, bringing up project-reports and experiences around OpenCms 8.</p>
<p>So please do not hesitate to send your proposal for a session as soon as possible: The "Call for papers" is still open up to June 15, 2012.</p>
<p>It would be great to welcome you as a speaker at this year`s OpenCms Days.</p>
<p>As the event is targeted towards an international audience, the language spoken is English, and all presentations will be held in English language.</p>
<p>The full program and list of speakers will be available July 1st, 2012 from the conference website.</p>
<h2>Early Bird Registration - Closing date is June 30, 2012</h2>
<p>Take your chance to get your discount of 10% and register now for the OpenCms Days 2012.<strong><br /></strong></p>
<p><strong>Registration price:</strong></p>
<p>Early bird registration (until June 30): <strong>180,- Euro</strong><br /> Normal registration (after July 1st): <strong>200,- Euro</strong></p>
<p class="sml">OpenCms Days 2012 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2012_2rows.jpg]]></target>
            <uuid>29a5d215-6480-11e1-bf29-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2012 - September 24 to September 25, 2012]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Visit the website of the OpenCms Days 2012]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[International conference OpenCms Days 2012 from Sept. 24 to 25, 2012 in Cologne, Germany. Call for Papers is closing June 15, 2012. ]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms, cms, software, 2012, call for papers, international, event, registration, germany, conference, projects, cologne, exhibition, convention, session, speaker, workshop, open source, experiences, exposition, successful, sponsor, trade fair, content management, oktoberfest, wiesn]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1336629600000</Release>
    </Availability>
  </Article>
</ArticleData>
