<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2012 - Vollständiges Programm veröffentlicht]]></Title>
    <Date>1344956400000</Date>
    <Preface><![CDATA[Das Programm für die OpenCms Days 2012 beinhaltet 18 Vorträge. Die Konferenz findet vom 24. bis zum 25. September in Köln statt. Registrieren Sie sich jetzt - die Anzahl der Plätze ist begrenzt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die OpenCms Days 2012 werden von Montag, 24. September bis Dienstag, 25. September in K&ouml;ln veranstaltet.</p>
<p>Das vollst&auml;ndige Programm f&uuml;r die OpenCms Days 2012 finden sie ab sofort auf der aktualisierten <a href="%(link0)" target="_self">Webseite</a> der Konferenz. Das Programm bietet insgesamt 18 Vortr&auml;ge. Mit zahlreichen namhaften internationalern Sprechern aus der ganzen Welt werden die OpenCms Days die gr&ouml;&szlig;te Veranstaltung f&uuml;r die OpenCms Community 2012.<em><br /> </em></p>
<p><strong><a href="%(link1)" target="_self">Registrieren Sie sich jetzt</a> - die Anzahl der Pl&auml;tze f&uuml;r die Konferenz ist begrenzt.</strong></p>
<p><strong>Teilnahmegeb&uuml;hr:</strong><span><strong> 200,- Euro</strong></span></p>
<h2>The OpenCms 8: Experiences, Possibilities, Potentials</h2>
<p>Bei diesem vierten allj&auml;hrlichen Treffen von OpenCms Benutzern liegt der Schwerpunkt ganz auf erfolgreichen OpenCms 8 Projekten. Experten aus aller Welt werden &uuml;ber ihre Erfahrungen mit der aktuellen OpenCms Version 8 berichten. Au&szlig;erdem wird Alkacon die Version 8.5 vorstellen, die zahlreiche Weiterentwicklungen bietet.</p>
<p><strong>Die OpenCms Days 2012 Konferenz und Expo bietet zwei parallele Vortragsreihen f&uuml;r Anwender und Entwickler:</strong></p>
<ul>
<li>Die Showcase-Vortragsreihe konzentriert sich auf herausragende OpenCms Beispielprojekte aus aller Welt, sowie Best Practices und typische Gesch&auml;ftsprozesse mit OpenCms.</li>
<li>Die Workshop-Vortragsreihe bietet Pr&auml;sentationen zu den neuen Funktionen von OpenCms 8.5 sowie externen OpenCms<span> Erweiterungen.</span></li>
</ul>
<p><strong>In der zur Konferenz geh&ouml;renden Ausstellung pr&auml;sentieren Anbieter Ihre speziellen Branchen- und Technologiel&ouml;sungen f&uuml;r OpenCms.</strong></p>
<p>Die OpenCms Days 2012 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p class="sml">Die OpenCms Days 2012 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die F&ouml;rderung der Verbreitung von OpenCms und die St&auml;rkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2012_2rows.jpg]]></target>
            <uuid>29a5d215-6480-11e1-bf29-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
      <Link>
        <Text><![CDATA[Registrieren Sie sich für die OpenCms Days 2012]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2012 finden von Montag, 24. September bis Dienstag 25. September 2012 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Programm, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2012 - Complete conference program now fixed]]></Title>
    <Date>1344956400000</Date>
    <Preface><![CDATA[The complete conference program of OpenCms Days 2012 features 18 sessions. The conference will take place from September 24 to 25 in Cologne, Germany. Register your ticket now - only a limited number of seats are available!]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms Days 2012 will take place from Monday, September 24 to Tuesday, September 25 in Cologne, Germany.</p>
<p>The complete conference program for OpenCms Days 2012 is now available at the conference <a href="%(link0)" target="_self">website</a>. The program features 18 sessions with numerous high-profile speakers from all over the world. OpenCms Days 2012 will be the largest event for the OpenCms community this year.</p>
<p><strong><a href="%(link1)" target="_self">Register your ticket now</a> - only a limited number of seats are available!</strong></p>
<p>Regular conference registration price:<strong> 200,- Euro</strong></p>
<h2>The OpenCms 8: Experiences, Possibilities, Potentials</h2>
<p>This year's international OpenCms user conference will focus on success stories and projects based on OpenCms 8. Experts from around the world will share their experiences with this latest OpenCms release. Alkacon will also unveil Version 8.5 of OpenCms which will contain several functional enhancements.</p>
<p><strong>OpenCms Days 2012 conference will feature 2 parallel tracks with Showcase and Workshop sessions:</strong></p>
<ul>
<li>Showcase track sessions will present a variety of OpenCms show cases and best practices from OpenCms projects all over the world.</li>
<li>Workshop sessions for developers provide in-depth, hands-on presentations and workshops about OpenCms 8 extensions and new features in 8.5.</li>
</ul>
<p><strong>At the OpenCms Days 2012 conference and expo, OpenCms solution providers will exhibit their OpenCms business solutions and enhancements.</strong></p>
<p>OpenCms Days 2012 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p class="sml">OpenCms Days 2012 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2012_2rows.jpg]]></target>
            <uuid>29a5d215-6480-11e1-bf29-b7a33137a728</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
      <Link>
        <Text><![CDATA[Register your ticket for OpenCms Days 2012]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2012 takes place from Monday, September 24 to Tuesday, September 25, 2012 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days program, OpenCms conference program, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
