<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 8.5 ist da!]]></Title>
    <Date>1348482600000</Date>
    <Preface><![CDATA[Das neue OpenCms 8.5 steht jetzt zum kostenlosen Download auf alkacon.com bereit. OpenCms ist eine der beliebtesten Open Source Content Management Lösungen. Version 8.5 ist ein Major Release und bietet dem Content Manager stark verbessertes Bearbeiten mit Inline Editing, Solr Integration und viele weitere Verbesserungen wie SEO (Suchmaschinenoptimierung).
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/120924-opencms-v85-releasenotes.html]]></target>
            <uuid>690bbb93-03fa-11e2-b4a7-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Das neue OpenCms 8.5 ist fertig und kann ab sofort von der <a title="offizielle OpenCms Website" href="%(link0)" target="_self">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms ist eine der beliebtesten Open Source Content Management L&ouml;sungen. Diese neue Version wurde von der Alkacon Software GmbH mit der Unterst&uuml;tzung durch die internationale OpenCms Community entwickelt.<br /> <br /> OpenCms bietet dem Content Manager&nbsp;Inline Editing, SEO Optimierung, Solr Integration und CMIS Unterst&uuml;tzung und viele weitere Verbesserungen.</p>
<h2>Die wichtigsten neuen Funktionen in OpenCms 8.5</h2>
<ul>
<li>Der neue Inline Content Editor erm&ouml;glicht das Bearbeiten direkt auf der Webseite.</li>
<li>Der formbasierte Content Editor wurde komplett &uuml;berarbeitet und ist jetzt schneller und einfacher zu benutzen.</li>
<li>Itegration von SEO (Suchmaschinenoptimierung) Features mit automatischer sitemap.xml Generierung und Seiten Alias Support.</li>
<li>Integration von Solr f&uuml;r eine verbesserte Suche und noSQL &auml;hnlichen Abfragen.</li>
<li>Integration von CMIS Zugang zum OpenCms Content Repository.</li>
</ul>
<p>Allen OpenCms Anwendern wird empfohlen, ihre Installation auf Version 8.5.0 zu aktualisieren. OpenCms 8.5 ist voll abw&auml;rtskompatibel zu allen vorherigen 8er und 7er Versionen. Templates und andere OpenCms Anwendungen aus diesen Versionen sollten ohne Weiteres auf Version 8.5.0 laufen.</p>
<p>Nutzer des Alkacon OCEE Paketes ben&ouml;tigen eine neue Version von Alkacon OCEE f&uuml;r diese OpenCms Version. OpenCms 8.5.0 ben&ouml;tigt Alkacon OCEE Version 3.5.0 oder h&ouml;her.</p>
<p>Die vollst&auml;ndige Liste der Verbesserungen in dieser Version k&ouml;nnen Sie in den <a title="OpenCms 8.5 Release Notes" href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>Allgemeine Funktionen von OpenCms</h2>
<ul>
<li>Der Seiteneditor erlaubt das Erstellen und Anordnen von Inhalten Aauf Webseiten mit Drag &amp; Drop.</li>
<li>Mit dem Sitemap Editor k&ouml;nnen neue Seiten angelegt und der Navigationsbaum per Drag &amp; Drop ver&auml;ndert werden.</li>
<li>Unterst&uuml;tzung von mobilen Inhalten mit dem &lt;cms:device&gt; Tag.</li>
<li>Strukturierte Inhalte k&ouml;nnen durch einfache XML Schemas definiert werden.</li>
<li>Editoren mit WYSIWYG und Syntax Highlighting Funktionen.</li>
</ul>
<p>Einfach zu bedienender "Online / Offline" Workflow.</p>
<ul>
<li>Alle &Auml;nderungen oder neue Seiten m&uuml;ssen zun&auml;chst freigegeben / ver&ouml;ffentlicht werden bevor sie "Online" sind.</li>
<li>Unsere "Content Relationship Engine" (CRE) erm&ouml;glicht das Management aller Links im System.</li>
<li>Durch das integrierte Linkmanagement wird die Korrektheit aller Links innerhalb einer Website gew&auml;hrleistet.</li>
<li>Das Umbenennen oder Verschieben von verlinkten Seiten oder ganzen Ordnern ist problemlos m&ouml;glich.</li>
<li>Die WebDAV-Schnittstelle erm&ouml;glicht einen direkten Zugriff auf die Dateien in OpenCms durch externe Programme.</li>
<li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
<li>Bilder und weitere Inhalte werden in Galerien verwaltet, welche &uuml;ber eine AJAX Oberfl&auml;che verf&uuml;gen.</li>
<li>Alle Galerien erm&ouml;glichen die Gruppierung von Inhalten nach Kategorien oder basierend auf der Dateistruktur.</li>
<li>Integrierte Volltextsuche auf Webseiten, aber auch in PDF, MS Office Dokumenten etc.</li>
<li>Volltextsuche auch in nicht-ver&ouml;ffentlichten "Offline" Inhalten.</li>
<li>Vollst&auml;ndige Benutzerverwaltung inklusive Unterst&uuml;tzung von "Organisationseinheiten".</li>
<li>Benutzer und Gruppen k&ouml;nnen dezentral in unterschiedlichen Organisationseinheiten frei verwaltet werden.</li>
<li>Die redaktionellen Zugriffsrechte werden &uuml;ber systeminterne Rollen definiert.</li>
<li>Das Modulsystem von OpenCms erm&ouml;glicht das einfache Hinzuf&uuml;gen von nachtr&auml;glichen Erweiterungen.</li>
<li>Eine "Time Warp" Funktion in der Workplace erm&ouml;glicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr ver&ouml;ffentlicht sind.</li>
<li>JSP Integration erm&ouml;glicht das einfache und standardkonforme Erstellen von Templates und anderen dynamischen Funktionen.</li>
</ul>
<ul>
<li>... und vieles mehr.</li>
</ul>
<h2>&Uuml;ber OpenCms</h2>
<p>Unabh&auml;ngige Untersuchungen weisen OpenCms als eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p>
<p>&Uuml;ber 100 internationale IT - Unternehmen haben sich bereits als offizieller <a title="OpenCms Solution Provider" href="%(link2)" target="_self">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a title="Liste von Referenzen" href="%(link3)" target="_self">Referenzen</a> belegt au&szlig;erdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfl&auml;che ist vollst&auml;ndig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p>
<p>Die Alkacon Software GmbH aus K&ouml;ln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produkt&uuml;bersicht" href="%(link4)" target="_self">Alkacon Produkt&uuml;bersicht</a> f&uuml;r weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link5)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich f&uuml;r die Unterst&uuml;tzung von allen, welche diese neue Version von OpenCms erm&ouml;glicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 8 von Alkacon jetzt mit Inline Editing, SEO Optimierung, Solr Integration und CMIS Unterstützung. Voll abwärtskompatibel zu älteren Versionen - Upgrade Wizard zum kostenlosen Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 8.5, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, maintenance release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Get OpenCms 8.5 now!]]></Title>
    <Date>1348482600000</Date>
    <Preface><![CDATA[OpenCms 8.5 is now ready and available for free download from Alkacon Software. OpenCms is one of the most popular Open Source Content Management Solutions. Version 8.5 is a major release and introduces several new features like inline editing, SEO optimization, Solr integration, CMIS support and numerous other enhancements.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/120924-opencms-v85-releasenotes.html]]></target>
            <uuid>690bbb93-03fa-11e2-b4a7-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 8.5 is now ready and available for <a title="Download OpenCms 8.5 from the official website opencms.org" href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<p>OpenCms 8.5 inline editing, Solr integration and numerous other enhancements.</p>
<h2>Main new features of OpenCms 8.5</h2>
<ul>
<li>The new inline content editor allows to edit content "in place" on the web page.</li>
<li>The form based content editor has been completely rewritten for improved speed and ease-of-use.</li>
<li>Integration of SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Integration of Solr for improved search and noSQL like content queries.</li>
<li>Integration of CMIS access to the content repository.</li>
</ul>
<p>We recommend everyone who uses OpenCms to update to the 8.5.0 release. OpenCms 8.5 is fully backward compatible to all prior 8.x and 7.x versions. Templates and other OpenCms developed code from these versions work "out of the box" with version 8.5.0.</p>
<p>Users of the Alkacon OCEE packages require a new version of Alkacon OCEE for use with this OpenCms release. OpenCms version 8.5.0 requires Alkacon OCEE version 3.5.0 or later.</p>
<p>Please check out the <a title="OpenCms 8.5 release notes" href="%(link1)" target="_self">release notes</a> for further details of the changes in this release.</p>
<h2>Features of OpenCms in General</h2>
<ul>
<li>The page editor allows to create and arrange content on web pages by drag &amp; drop.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Editors with WYSIWYG and syntax highlighting functionality.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>Full featured internal user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>Full text search for web pages, but also in PDF, MS Office documents etc.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
</ul>
<ul>
<li>... and many more</li>
</ul>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 10 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a title="OpenCms Solution Provider" href="%(link2)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of <a title="list of reference sites" href="%(link3)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the <a title="Alkacon product overview" href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at <a title="Alkacon Software - The OpenCms Experts" href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 8.5 from Alkacon comes with inline editing, SEO optimization, Solr integration and CMIS support. Fully backward compatible to prior versions, upgrade wizard available. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 8.5, Version 8.5, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
