<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Release Notes for OpenCms 8.5]]></Title>
    <Date>1348482600000</Date>
    <Preface><![CDATA[The OpenCms 8.5 release notes contain detailed information about the new features in this major release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
        </links>
        <content><![CDATA[<p>This is the first release of OpenCms 8.5 (8.5.0). OpenCms 8.5 is a major update that introduces several new features like inline editing, SEO optimization, Solr integration and CMIS support to OpenCms.</p>
<h2>Main new features of OpenCms 8.5</h2>
<ul>
<li>The new inline content editor allows to edit content "in place" on the web page.</li>
<li>The form based content editor has been completely rewritten for improved speed and ease-of-use.</li>
<li>Integration of SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Integration of Solr for improved search and noSQL like content queries.</li>
<li>Integration of CMIS access to the content repository.</li>
</ul>
<h2>Other improvements in OpenCms 8.5</h2>
<ul>
<li>Support for "Inheritance Groups".</li>
<li>Content is now directly saved when you edit a page, no more confirmation required.</li>
<li>Option to undo all changes done on a page (or resource) that have not been published.</li>
<li>Option to hide a page in the sitemap, so that it does not appear in the navigation.</li>
<li>Option to edit content directly from the clipboard favorites.</li>
<li>Option to directly delete an element removed from a page when it is no longer used anywhere.</li>
<li>New code / plain text editor, based on CodeMirror.</li>
<li>New "Navigation level" function in the sitemap.</li>
<li>New "Attribute information" dialog for all content items on a page, gallery and sitemap.</li>
<li>New and improved dialog for assigning or selecting content categories.</li>
<li>New Log file tool in the OpenCms Administration allows to switch on/off log channels on the fly.</li>
<li>Usage of nice looking&nbsp;scroll bars in most of the new onscreen&nbsp;dialogs.</li>
<li>... and many more!</li>
</ul>
<h2>Features of OpenCms in general</h2>
<ul>
<li>The page editor allows to create and arrange content on web pages by drag &amp; drop.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Support for creation of content for mobile devices with the &lt;cms:mobile&gt; tag.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Editors with WYSIWYG and syntax highlighting functionality.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>Full featured internal user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>Full text search for web pages, but also in PDF, MS Office documents etc.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h2>Backward compatibility</h2>
<p>We recommend everyone who uses OpenCms to update to this 8.5.0 release.</p>
<p>OpenCms 8.5.0 is fully backward compatible to all prior 8.x and 7.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 8.5.0.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms version 8.5.0 requires Alkacon OCEE version 3.5.0 or later. In case you want to update your OpenCms installation to 8.5.0, please make sure you update Alkacon OCEE to 3.5.0 or later first!</p>
<h2>Compatibility with Java versions, Servlet containers and Databases</h2>
<p>OpenCms 8.5.0 has been written and tested for Java 5, 6 and 7. We have tested only with ORACLEs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB. The automatic update wizard for OpenCms 8 supports MySQL, Oracle and PostgreSQL.</p>
<h2>Regarding version numbers and build tags</h2>
<p>In case you want to check out OpenCms from Git, please keep the following in mind: The tag numbers for all OpenCms 8.5 final releases are "build_8_5_x", so the 8.5.0 release is tagged "build_8_5_0".</p>
<p>The main OpenCms Git repository is available on Github at <a href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. Please send us your pull requests directly on GitHub.</p>
<p>Please use our issue tracker on GitHub to report bugs in this release: <a href="%(link1)" target="_self">https://github.com/alkacon/opencms-core/issues</a></p>
<p>&nbsp;</p>
<p>Thank you for using OpenCms and have fun with OpenCms 8.5 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 8.5, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1348482600000</Release>
    </Availability>
  </Article>
</ArticleData>
