<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE für OpenCms 8.5 veröffentlicht]]></Title>
    <Date>1349766000000</Date>
    <Preface><![CDATA[Alkacon OCEE 3.5.0 erweitert eine OpenCms 8.5 Installation um LDAP, Clustering, Replikation und verbesserte Leistung (Cache). OCEE erhöht Skalierbarkeit, Verfügbarkeit und Ausfallsicherheit von unternehmenskritischen OpenCms Sites mit hohem Datenverkehrsvolumen in mittelständischen oder großen Unternehmen. Http-Request Loadbalancing und vollständige Integration von vorhandenen LDAP-Benutzerverzeichnissen.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE ist eine kommerzielle Erweiterung von OpenCms welche unter anderem Unterst&uuml;tzung von LDAP, Clustering, Replikation und verbesserter Performance in OpenCms bietet. Vollst&auml;ndige Informationen zu OCEE erhalten Sie auf der <a href="%(link0)" target="_self">Alkacon Website</a>.</p>
<p>Die aktuelle OCEE Version 3.5.0 ist ein <strong>Kompatibilit&auml;ts-Update</strong> f&uuml;r OpenCms Version 8.5.0</p>
<p><strong>Hinweis:</strong> OCEE 3.5.0 ist nicht kompatibel mit OpenCms Version 8.0.x</p>
<h2>In den <a title="Alkacon OCEE 3.5.0 Release Notes" href="%(link1)" target="_self">OCEE Release Notes</a> finden Sie die vollst&auml;ndige Beschreibung der neuen Funktionen und Verbesserungen dieser Version.</h2>
<h3>Allgemeine Funktionen von OCEE</h3>
<ul>
<li><em>Unterst&uuml;tzung von mehrstufigen Server-Szenarien mit dem OCEE Replicator:</em> Es ist jetzt m&ouml;glich, die im OpenCms erzeugten Inhalte in mehreren Stufen zu replizieren, so z.B. von einem "Redaktionssystem" zun&auml;chst auf ein "Abnahmesystem" und erst danach auf das "Livesystem". Die Anzahl der Stufen in der Replikation kann frei konfiguriert werden.</li>
<li><em>Zentrale Konfiguration der Server mit dem OCEE Cluster:</em> Die verschiedenen Server in einem Cluster k&ouml;nnen nun &uuml;ber ein GUI vom Workplace-Server aus zentral konfiguriert werden. Die betrifft die geplanten Vorg&auml;nge (Scheduled Jobs), Modulparameter und die Suchindexkonfiguration.</li>
<li><em>Unterst&uuml;tzung von Organisationseinheiten im LDAP Connector:</em> Jede Organisationseinheit (OU) im OpenCms kann jetzt an einen eigenen Pfad im LDAP-Server angebunden werden.</li>
<li><em>Verbesserte Performance im OCEE Accelerator:</em> Nach dem Ver&ouml;ffentlichen von Inhalten bleiben unver&auml;nderte Eigenschaften im Cache nun erhalten.</li>
</ul>
<h3>&Uuml;ber Alkacon OCEE</h3>
<p>Bei den Alkacon <strong>OpenCms Enterprise Extensions</strong> (auch <strong>OCEE</strong> genannt) handelt es sich um eine kommerzielle Erweiterung von OpenCms. Alkacon OCEE f&uuml;gt Funktionen zu OpenCms hinzu, die f&uuml;r den Betrieb von OpenCms in mittelst&auml;ndigen oder gro&szlig;en Unternehmen ben&ouml;tigt werden und f&uuml;r die Datenkonsistenz, Sicherheit und Ausfallsicherung von gro&szlig;er Bedeutung sind.</p>
<p>Die Alkacon OpenCms Enterprise Extensions sind als lizenziertes Softwareprodukt der Alkacon Software GmbH erh&auml;ltlich. Alkacon ist f&uuml;r die Entwicklung des Open Source Kerns von OpenCms federf&uuml;hrend verantwortlich. Den vollst&auml;ndigen Text des Lizenzvertrages finden sie hier.</p>
<p>Alkacon OCEE wird auf dem standardm&auml;&szlig;igen OpenCms System installiert. Bei OCEE handelt es sich um eine rein bin&auml;re Software-Distribution, d.h. der Quellcode der OCEE- Pakete steht nicht zur Verf&uuml;gung. Damit Sie die OCEE-Pakete von Alkacon nutzen k&ouml;nnen, m&uuml;ssen Sie einen Lizenzschl&uuml;ssel eingeben. Dieser wird Ihnen nach dem Erwerb einer Alkacon OCEE-Lizenz von Alkacon Software zur Verf&uuml;gung gestellt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OCEE 3.5.0 erweitert eine OpenCms 8.5 Installation um LDAP, Clustering, Replikation und verbesserte Leistung (Cache).]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 8.5, OCEE 3.5.0, Enterprise Extensions, CMS, Content Management System, Skalierbarkeit, Verfügbarkeit, Ausfallsicherheit, Cluster]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE for OpenCms 8.5 released]]></Title>
    <Date>1349766000000</Date>
    <Preface><![CDATA[Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance. OCEE increases scalability, availability and fail-over security of mission-critical high-traffic OpenCms sites of a medium or large Enterprise. Adds cluster and replication features as well as a LDAP connector for full integration of existing user directories with the OpenCms permission system.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance. Full information about OCEE is available on the <a href="%(link0)">Alkacon website</a>.</p>
<p>The latest OCEE release version 3.5.0 is a compatibility update for the new OpenCms version 8.5.0.</p>
<p><strong>Please note: </strong>OCEE 3.5.0 is not compatible with OpenCms 8.0.x</p>
<p>Please see the <a title="Alkacon OCEE 3.5.0 release notes" href="%(link1)" target="_self">OCEE release notes</a> for a full description about the new features and changes in this version.</p>
<h3>Main features in OCEE</h3>
<ul>
<li><em>Support for multi-staging scenarios with the OCEE Replicator: </em>You can configure a "development" server that first pushes all generated content to a "staging" server e.g. for approval, and then afterwards to the "delivery" server. This is freely configurable, and there is no limit on the number of stages.</li>
<li><em>Centralized configuration of servers with the OCEE Cluster: </em>You can now edit the scheduled jobs, search index configuration and module parameters for all individual servers in the cluster from a common GUI in the workplace server.</li>
<li><em>Support for OpenCms OUs in the LDAP Connector: </em>It is now possible to connect each OpenCms OU with an individual path in the LDAP Server.</li>
<li><em>Improved performance with the OCEE Accelerator: </em>A much improved cache policy in the Accelerator now selectively flushes only certain cached items after publishing instead of just flushing everything.</li>
</ul>
<h3>About Alkacon OCEE</h3>
<p>The Alkacon <strong>OpenCms Enterprise Extensions</strong> (also called <strong>OCEE</strong>) are a commercial extension for OpenCms. Alkacon OCEE adds features to OpenCms that are often required for running OpenCms in a medium or large Enterprise, where data consistency, security and failover are highly important.</p>
<p>The Alkacon OpenCms Enterprise Extensions are available as a licensed software product from Alkacon Software GmbH, the company responsible for most of the development of the open source core OpenCms system. Please click here for the full license terms.</p>
<p>OCEE is installed on a standard OpenCms system. OCEE is a binary only distribution. This means that the source code for the OCEE modules is not available. To use any of the Alkacon OCEE packages, you need to enter a license key that will be provided by Alkacon software after your purchase of an Alkacon OCEE license.</p>
<p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 8.5, OCEE 3.5.0, OCEE 2.1.6, Enterprise Extensions, CMS, Content Management System, scalabilty, reliability, failover security, cluster]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
