<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms im CMS Garden @ CeBIT 2013]]></Title>
    <Date>1361919600000</Date>
    <Preface><![CDATA[Alkacon Software und die OpenCms Community präsentieren OpenCms im CMS Garden auf der CeBIT 2013. Die CeBIT findet vom 05.03.2013 bis zum 09.03.2013 in Hannover statt. Der CMS Garden befindet sich in Halle 6 in unmittelbarer Nähe zum Open Source Park. Testen Sie OpenCms im CMS Garden @ CeBit 2013 in Hannover.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Die führenden Open Source Lösungen präsentieren sich im CMS Garden. Wir sind dabei!]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software und die OpenCms Community pr&auml;sentieren OpenCms im CMS Garden auf der CeBIT 2013.</p>
<p>Die CeBIT findet vom 05.03.2013 bis zum 09.03.2013 in Hannover statt. Der CMS Garden befindet sich in Halle 6 in unmittelbarer N&auml;he zum Open Source Park.</p>
<p>Im CMS Garden werden Botschafter aus Communities von mehr als zehn verschiedenen Open Source CMS einen gemeinsamen Messestand zum Erbl&uuml;hen bringen. Auf knapp 100m<sup>2</sup> geht es um das Miteinander und direkte Vergleichsm&ouml;glichkeiten f&uuml;r die Besucher. Der CMS Garden wird ein attraktiver Anlaufpunkt f&uuml;r alle Agenturen, Organisationen und Unternehmen sein, die ein OpenSource CMS suchen.</p>
<p>Alle relevanten Open-Source-Content-Management-Systeme an einem Ort. Ohne lange Wege, vorgestellt von fachkundigen Community-Mitgliedern. Ganz einfach vergleichen und das richtige CMS f&uuml;r sich und den Einsatzbereich finden.</p>
<p>Besuchen Sie uns im CMS Garden und wir werden Sie vor Ort auf einer Live-Installation von OpenCms mit den innovativen neuen Funktionen der Version 8.5 vertraut machen.</p>
<p><strong>CMS-Garden @ CeBIT 2013</strong>&nbsp;<br /><strong>Wann: 05.-09.03.2013</strong>&nbsp;<br /><strong>Wo: Halle 6 - CeBIT 2013 - Hannover</strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/Logo_CMS-Garden_2013_large.png]]></target>
            <uuid>615e4fa3-7f53-11e2-b4a7-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[Testen Sie OpenCms im CMS Garden @ CeBit 2013 in Hannover]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software und die OpenCms Community präsentieren OpenCms im CMS Garden auf der CeBIT 2013.]]></Description>
      <Keywords><![CDATA[CeBIT, 2013, Alkacon, OpenCms, Community, CMS Garden, Einfach, Vergleich, Java, CMS, Open Source, Content, Management, System, Software, Webseite, Editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms in the CMS Garden @ CeBIT 2013]]></Title>
    <Date>1361919600000</Date>
    <Preface><![CDATA[Alkacon Software and the OpenCms community will present OpenCms in the CMS Garden at the CeBIT 2013. CeBIT in Hannover is the world’s largest IT trade fair. This year’s CeBIT takes place from March 5 to March 9, 2013. The CMS Garden is located in Hall 6, close to the open source park. Check out OpenCms in the CMS garden @ CeBit 2013 in Hannover.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[The leading open source solutions are present in the CMS Garden. We are all in.]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software and the OpenCms community will present OpenCms in the CMS Garden at the CeBIT 2013.</p>
<p>CeBIT in Hannover is the world&rsquo;s largest IT trade fair. This year&rsquo;s CeBIT takes place from March 5 to March 9, 2013. The CMS Garden is located in Hall 6, close to the open source park.</p>
<p>In the CMS Garden, ambassadors from more than ten open source CMS communities will present their systems in a shared booth of about 100m<sup>2</sup>. Visitors can compare the different approaches of the various CMS to find the solution best suited for their needs.</p>
<p>The most relevant Open Source Content Management Systems. All in one place. With expert members of each community on hand to help you get started. Compare the options and choose the right Open Source CMS for you and your business.</p>
<p>Visit us in the CMS Garden and we will present you the exiting new features of OpenCms 8.5 in a live installation.</p>
<p><strong>CMS-Garden @ CeBIT 2013&nbsp;<br />When: 05.-09.03.2013&nbsp;<br />Where: Hall 6 - CeBIT 2013 - Hannover</strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/Logo_CMS-Garden_2013_large.png]]></target>
            <uuid>615e4fa3-7f53-11e2-b4a7-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[Check out OpenCms in the CMS garden @ CeBit 2013 in Hannover]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software and the OpenCms community will present OpenCms in the CMS Garden at the CeBIT 2013.]]></Description>
      <Keywords><![CDATA[CeBIT, 2013, Alkacon, OpenCms, Community, CMS Garden, Easy, Compare, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
