<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2013 - Save the date!]]></Title>
    <Date>1363341600000</Date>
    <Preface><![CDATA[Die OpenCms Days finden in diesem Jahr vom 30. September bis zum 1. Oktober in Köln statt. Das Hauptthema dieser internationalen User Konferenz und Ausstellung ist das Release von OpenCms 9.
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Die OpenCms Days finden in diesem Jahr vom 30. September bis zum 1. Oktober in Köln statt.]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Das Hauptthema der 5. internationalen User Konferenz und Ausstellung ist das Release von <strong>OpenCms 9</strong>. Die Days sind die perfekte Gelegenheit zum Erfahrungsaustausch mit hochqualifizierten Experten und Interessierten aus der ganzen Welt rund um das Thema "OpenCms".</p>
<p>Die OpenCms Days finden in diesem Jahr vom <strong>30. September bis zum 1. Oktober</strong> in K&ouml;ln statt.</p>
<p>Bitte merken Sie sich diesen Termin bereits heute vor und seien Sie im Herbst dabei. Detailierte Informationen folgen in K&uuml;rze.<br /><br /></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2013_horizontal_800px.png]]></target>
            <uuid>fb05db23-8caa-11e2-b4a7-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days finden in diesem Jahr vom 30. September bis zum 1. Oktober in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days, 2013, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2013 - Save the date!]]></Title>
    <Date>1363341600000</Date>
    <Preface><![CDATA[This years` OpenCms Days will take place from September 30 to October 1, 2013 in Cologne, Germany. The main topic of the 5th edition of the international user conference and expo will be the release of OpenCms 9.
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Our international user conference and expo takes place from 30/09 to 01/10 in Cologne]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>The main topic of the 5th edition of the international user conference and expo will be the release of <strong>OpenCms 9</strong>. The Days will be the perfect stage to exchange experiences around OpenCms with high profile participants and speakers from all over the world.</p>
<p>This years` OpenCms Days will take place from <strong>September 30 to October 1, 2013</strong> in Cologne, Germany.</p>
<p>Please already note this date and do not miss out on a great conference. Detailed information will follow shortly.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2013_horizontal_800px.png]]></target>
            <uuid>fb05db23-8caa-11e2-b4a7-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[This years` OpenCms Days will take place from September 30 to October 1, 2013 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days, 2013, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
