<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms im CMS Garden @ LinuxTag 2013]]></Title>
    <Date>1368054000000</Date>
    <Preface><![CDATA[Nach dem großen Erfolg auf der CeBIT 2013 präsentieren Alkacon Software und die OpenCms Community OpenCms im CMS Garden auf dem LinuxTag 2013. Der LinuxTag findet vom 22.05.2013 bis zum 25.05.2013 in Berlin statt. Der CMS Garden befindet sich in Halle 7 auf dem Messegelände unter dem Funkturm Berlin.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Alle relevanten Open-Source-Content-Management-Systeme im CMS Garden. Wir sind dabei!]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Nach dem gro&szlig;en Erfolg auf der CeBIT 2013 pr&auml;sentiert die OpenCms Community OpenCms im CMS Garden auf dem LinuxTag 2013.</p>
<p>Der LinuxTag findet vom 22.05.2013 bis zum 25.05.2013 in Berlin statt. Der CMS Garden befindet sich in Halle 7 auf dem Messegel&auml;nde unter dem Funkturm Berlin.</p>
<p>Botschafter aus Communities von mehr als zehn verschiedenen Open Source CMS werden im CMS Garden einen gemeinsamen Messestand zum Erbl&uuml;hen bringen. Hier geht es um das Miteinander und direkte Vergleichsm&ouml;glichkeiten f&uuml;r die Besucher. Wie bereits auf der CeBIT wird der CMS Garden ein attraktiver Anlaufpunkt f&uuml;r alle Agenturen, Organisationen und Unternehmen sein, die ein Open Source CMS suchen.</p>
<p>Das Konzept des CMS Garden ist dabei, die Vielfalt der Systeme f&uuml;r Besucher darzustellen und es gleichzeitig den Vertretern der Systeme zu erm&ouml;glichen, die anderen Systeme kennenzulernen und &uuml;ber den Tellerrand hinaus zu schauen.</p>
<p>Besuchen Sie uns im CMS Garden und wir werden Sie vor Ort auf einer Live-Installation von OpenCms mit den innovativen neuen Funktionen der Version 8.5 vertraut machen.</p>
<p><strong>CMS-Garden @ LinuxTag 2013</strong> <br /> <strong>Wann: 22.-25.05.2013</strong> <br /> <strong>Wo: Halle 7 - Messegel&auml;nde unter dem Funkturm - Berlin </strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/LinuxTag-Logo-plain-blue.png]]></target>
            <uuid>afde0d5b-b7f2-11e2-b4a7-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[Testen Sie OpenCms im CMS Garden @ LinuxTag 2013 in Berlin]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[OpenCms Flyer für die CeBIT 2013]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms.org/downloads/alkacon/Alkacon_OpenCms_CeBIT_20013_CMS-Garden_Flyer_de.pdf]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[ach dem großen Erfolg auf der CeBIT 2013 präsentieren Alkacon Software und die OpenCms Community OpenCms im CMS Garden auf dem LinuxTag 2013.]]></Description>
      <Keywords><![CDATA[LinuxTag, 2013, Alkacon, OpenCms, Community, CMS Garden, Einfach, Vergleich, Java, CMS, Open Source, Content, Management, System, Software, Webseite, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms in the CMS Garden @ LinuxTag 2013]]></Title>
    <Date>1368054000000</Date>
    <Preface><![CDATA[After the great success on CeBIT 2013 Alkacon Software and the OpenCms community will present OpenCms in the CMS Garden at the LinuxTag 2013. This year’s LinuxTag takes place from May 22 to May 25, 2013. The CMS Garden is located in Hall 7 on the Berlin Fairgrounds.]]></Preface>
    <Paragraph>
      <Caption><![CDATA[The most relevant Open Source Content Management Systems in the CMS Garden. We are all in.]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>&nbsp;After the great success on CeBIT 2013 Alkacon Software and the OpenCms community will present OpenCms in the CMS Garden at the LinuxTag 2013.</p>
<p>This year&rsquo;s LinuxTag takes place from May 22 to May 25, 2013. The CMS Garden is located in Hall 7 on the Berlin Fairgrounds.</p>
<p>Ambassadors from more than ten open source CMS communities will present their systems in a shared booth in the CMS Garden. Like at the CeBIT, the CMS Garden will be an attractive target for agencies, organisations and companies which are in need of an open source CMS.</p>
<p>The concept of the CMS Garden is to show the variety of the systems to visitors. Additionally, the ambassadors from the systems have the opportunity to get to know other systems as well.</p>
<p>Visit us in the CMS Garden and we will present you the exiting new features of OpenCms 8.5 in a live installation.</p>
<p><strong>CMS-Garden @ LinuxTag 2013 <br /> When: 22.-25.05.2013 <br /> Where: Hall 7 - Fairgrounds - Berlin </strong></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/LinuxTag-Logo-plain-blue.png]]></target>
            <uuid>afde0d5b-b7f2-11e2-b4a7-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[Check out OpenCms in the CMS garden @ LinuxTag 2013 in Berlin]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[OpenCms Flyer for CeBIT 2013]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms.org/downloads/alkacon/Alkacon_OpenCms_CeBIT_20013_CMS-Garden_Flyer_de.pdf]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[After the great success on CeBIT 2013 Alkacon Software and the OpenCms community will present OpenCms in the CMS Garden at the LinuxTag 2013.]]></Description>
      <Keywords><![CDATA[LinuxTag, 2013, Alkacon, OpenCms, Community, CMS Garden, Easy, Compare, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
