<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2013 - Konferenz-Website ist online]]></Title>
    <Date>1373295600000</Date>
    <Preface><![CDATA[Die Konferenz-Website www.opencms-days.org ist jetzt online und bietet Ihnen alle Informationen zu diesem Event. Die User-Konferenz findet vom 30. September bis 1. Oktober 2013 in Köln statt. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/sponsors/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die Konferenz-Website <a href="%(link0)">www.opencms-days.org</a> ist jetzt online und bietet Ihnen alle Informationen zu diesem Event. Die OpenCms Days 2013 wird die gr&ouml;&szlig;te Veranstaltung f&uuml;r die OpenCms Community in diesem Jahr werden.</p>
<p>Die User-Konferenz findet vom 30. September bis 1. Oktober 2013 in K&ouml;ln statt.</p>
<h2>OpenCms 9: Development Kickstart</h2>
<p>Die f&uuml;nfte internationale OpenCms Anwenderkonferenz legt ihren Schwerpunkt auf Erfolgsstories und Projekte die mit OpenCms verwirklicht wurden. Experten aus der ganzen Welt berichten von ihren Erfahrungen mit der neuesten OpenCms Version. Alkacon wird au&szlig;erdem die OpenCms Version 9 vorstellen.</p>
<p>Auf <a href="%(link1)" target="_self">www.opencms-days.org</a> finden Sie alle Informationen zur <a href="%(link2)" target="_self">Registrierung</a> und zum <a href="%(link3)" target="_self">Sponsoring</a>. Au&szlig;erdem ist das "Call for papers" noch offen und Sie haben die M&ouml;glichkeit, einen <a href="%(link4)" target="_self">Vorschlag f&uuml;r Ihre Rede</a> auf den OpenCms Days 2013 einzureichen.</p>
<p>Die OpenCms Days 2013 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p>&nbsp;</p>
<p class="sml">Die OpenCms Days 2013 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die F&ouml;rderung der Verbreitung von OpenCms und die St&auml;rkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2013_2rows.png]]></target>
            <uuid>6b0d2682-1569-11e3-b57e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2013 finden von Montag, 30. September bis Dienstag 1. Oktober 2013 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Website, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2013 -  Conference website is online]]></Title>
    <Date>1373295600000</Date>
    <Preface><![CDATA[The conference website www.opencms-days.org is now online and will provide you with all information around this event. The conference will take place from September 30 to October 1 in Cologne, Germany. 
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/sponsors/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The conference website <a href="%(link0)" target="_self">www.opencms-days.org</a> is now online and will provide you with all information around the conference. The OpenCms Days 2013 will be the largest event for the OpenCms community this year.</p>
<p>OpenCms Days 2013 will take place from Monday, September 30 to Tuesday, October 1, 2013 in Cologne, Germany.</p>
<h2>OpenCms 9: Development Kickstart</h2>
<p>This year's international OpenCms user conference will focus on success stories and projects based on OpenCms. Experts from around the world will share their experiences with this latest OpenCms release. Alkacon will also present Version 9 of OpenCms.</p>
<p>On <a href="%(link1)" target="_self">www.opencms-days.org</a> you will find all information on <a href="%(link2)" target="_self">Registration</a> and <a href="%(link3)" target="_self">Sponsoring</a>. Additionally the "Call for papers" is still open and you have the possibility <a href="%(link4)" target="_self">to submit your session proposal</a>.</p>
<p>OpenCms Days 2013 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p class="sml">&nbsp;</p>
<p class="sml">OpenCms Days 2013 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2013_2rows.png]]></target>
            <uuid>6b0d2682-1569-11e3-b57e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2013 take place from Monday, September 30 to Tuesday, October 1, 2013 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days website, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
