<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 9 Release Kandidat steht zum Download bereit]]></Title>
    <Date>1380539460000</Date>
    <Preface><![CDATA[OpenCms 9 Release Kandidat ist zum freien Download verfügbar. Wir empfehlen OpenCms Integratoren, Entwicklern und Unterstützern die Installation und den ausführlichen Test dieses Release Kandidaten, um auf die fertige OpenCms Version 9 vorbereitet zu sein.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/130930-opencms-v900rc-releasenotes.html]]></target>
            <uuid>e657b6ae-25d0-11e3-85fd-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Das neue OpenCms 8.5.2 ist fertig und kann ab sofort von der <a title="offizielle OpenCms Website" href="%(link0)" target="_self">OpenCms Website</a> heruntergeladen werden</p>
<p>OpenCms 9 bringt zahlreiche Erweiterungen bei gleichzeitiger Abw&auml;rtskompatibilit&auml;t zu OpenCms 8.x mit.</p>
<p><span class="cp">Wir empfehlen OpenCms Integratoren, Entwicklern und Unterst&uuml;tzern die Installation und den ausf&uuml;hrlichen Test dieses Release Kandidaten, um auf die fertige OpenCms Version 9 vorbereitet zu sein.</span></p>
<h2>Neu in OpenCms 9</h2>
<ul>
<li>Verbessertes "in place" Bearbeiten von Webseiten f&uuml;r Texte, aber auch Bilder und andere Inhaltstypen.</li>
<li>Unterst&uuml;tzung f&uuml;r unterschiedliche Endger&auml;tr mit Vorschau und ger&auml;teabh&auml;ngiger Kontrolle der Inhalte.</li>
<li>Zugriff auf das OpenCms Repository &uuml;ber ein Netzlaufwerk.</li>
<li>Detailseiten erlauben das Hinzuf&uuml;gen individueller Inhalte mittels Drag &amp; Drop.</li>
<li>Ein neues Site Management Tool erlaubt die Einrichtung und Konfiguration von mehreren Sites.</li>
<li>Automatische / scripted Setup Option, optimal f&uuml;r kontinuierliche Integrationsbuilds.</li>
<li>Verbesserter Build Prozess mit Gradle.</li>
<li>Ein neues Demo Template basierend auf Bootstrap als Basis f&uuml;r Eigenentwicklungen.</li>
</ul>
<h2>Funktionen in OpenCms 9</h2>
<ul>
<li>Der neue Inline Content Editor erm&ouml;glicht das Bearbeiten direkt auf der Webseite.</li>
<li>Der formbasierte Content Editor wurde komplett &uuml;berarbeitet und ist jetzt schneller und einfacher zu benutzen.</li>
<li>Integration von SEO (Suchmaschinenoptimierung) Features mit automatischer sitemap.xml Generierung und Seiten Alias Support.</li>
<li>Integration von Solr f&uuml;r eine verbesserte Suche und noSQL &auml;hnlichen Abfragen.</li>
<li>Integration von CMIS Zugang zum OpenCms Content Repository.</li>
</ul>
<p>Die vollst&auml;ndige Liste der Verbesserungen in dieser Version k&ouml;nnen Sie in den <a title="OpenCms 9 RC Release Notes" href="%(link1)" target="_self">englischen Release Notes</a> einsehen.</p>
<h2>&Uuml;ber OpenCms</h2>
<p>Unabh&auml;ngige Untersuchungen weisen OpenCms als eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme aus. Die Software wird seit dem Jahr 2000 st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p>
<p>&Uuml;ber 100 internationale IT - Unternehmen haben sich bereits als offizieller <a title="OpenCms Solution Provider" href="%(link2)" target="_self">OpenCms Solution Provider</a> auf der OpenCms Website registriert. Eine stetig wachsende Liste von <a title="Liste von Referenzen" href="%(link3)" target="_self">Referenzen</a> belegt au&szlig;erdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfl&auml;che ist vollst&auml;ndig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms 7 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p>
<p>Die Alkacon Software GmbH aus K&ouml;ln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produkt&uuml;bersicht" href="%(link4)" target="_self">Alkacon Produkt&uuml;bersicht</a> f&uuml;r weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link5)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich f&uuml;r die Unterst&uuml;tzung von allen, welche diese neue Version von OpenCms erm&ouml;glicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 9 Release Kandidat von Alkacon jetzt mit Inline Editing, SEO Optimierung, Solr Integration und CMIS Unterstützung. Voll abwärtskompatibel zu älteren Versionen - Upgrade Wizard zum kostenlosen Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Version 9 RC, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, maintenance release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 9 release candidate ready for download]]></Title>
    <Date>1380539460000</Date>
    <Preface><![CDATA[OpenCms 9 release candidate is released for free download. We recommended OpenCms integrators, developers and contributors to install and thoroughly test this release candidate, in order to prepare for the upcoming OpenCms 9 final.

]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/130930-opencms-v900rc-releasenotes.html]]></target>
            <uuid>e657b6ae-25d0-11e3-85fd-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/index.html]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/index.html]]></target>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 9 RC now ready and available for <a title="Download OpenCms 8.5 from the official website opencms.org" href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms 9 brings several enhancements while being fully backward compatible with OpenCms 8.x.</p>
<p><span class="cp">We recommended OpenCms integrators, developers and contributors to install and thoroughly test this release candidate, in order to prepare for the upcoming OpenCms 9 final.</span></p>
<h2>New in OpenCms 9</h2>
<ul>
<li>Improved "in place" editing of web pages for text and also for images and other content types.</li>
<li>Enhanced support for different devices with preview and device specific content control.</li>
<li>Access to the content repository over a shared network drive.</li>
<li>Detail pages now allow individual content to be added with drag &amp; drop.</li>
<li>A new site management tool allows simple configuration of multiple sites.</li>
<li>Automated / scripted setup option, great for continuous integration builds.</li>
<li>Optimized build process using Gradle.</li>
<li>A new responsive demo template based on Bootstrap as a base for customization.</li>
</ul>
<h2>General features of OpenCms</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<p>We recommended OpenCms integrators, developers and contributors to install and thoroughly test this release candidate, in order to prepare for the upcoming OpenCms 9 final . OpenCms 9.0 RC should not be used for production websites.</p>
<p>Please report issues found in OpenCms 9 RC using <a href="%(link1)">our GitHub issue tracker</a>.</p>
<p>Users looking for a production installation of OpenCms should use the 8.5.2 version and upgrade to OpenCms 9 final when it is available.</p>
<p>Please check out the <a title="OpenCms 9 RC release notes" href="%(link2)" target="_self">release notes</a> for further details of the changes in this release.</p>
<h2>About OpenCms</h2>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 13 years and has an active community of Open Source developers.</p>
<p>More than 100 international IT companies have been registered as official <a title="OpenCms Solution Provider" href="%(link3)">OpenCms Solution Provider</a> on the OpenCms website. A steadily growing list of <a title="list of reference sites" href="%(link4)">reference sites</a> also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the <a title="Alkacon product overview" href="%(link5)">Alkacon product overview</a> for more details.</p>
<p>The team at <a title="Alkacon Software - The OpenCms Experts" href="%(link6)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 9 RC from Alkacon comes with inline editing, SEO optimization, Solr integration and CMIS support. Fully backward compatible to prior versions, upgrade wizard available. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, OpenCms 9 RC, Version 9 RC, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
