<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Vorträge der OpenCms Days 2013 jetzt online]]></Title>
    <Date>1381503600000</Date>
    <Preface><![CDATA[Die Folien der Vorträge von den OpenCms Days 2013 sind jetzt als Download verfügbar. Das Programm bot interessante Vorträge rund um das Thema OpenCms von Rednern aus aller Welt. Laden sie die Folien herunter falls Sie die Veranstaltung verpasst haben.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die <a href="%(link0)" target="_self">Folien der Vortr&auml;ge</a> aus dem Programm der OpenCms Days 2013 sind jetzt als Download verf&uuml;gbar. Die 5. internationale OpenCms User Konferenz und Ausstellung bot viele&nbsp;interessante Vortr&auml;ge rund um das Thema OpenCms von erfahrenen Rednern aus aller Welt.</p>
<p>Die OpenCms Days 2013 waren die gr&ouml;&szlig;te Veranstaltung f&uuml;r die OpenCms Community in diesem Jahr. Die Days fanden von Montag, 30. September bis Dienstag 1. Oktober 2013 in K&ouml;ln statt.</p>
<h2>Get Rolling with OpenCms 9</h2>
<p>W&auml;hrend der Konferenz stellte&nbsp;Alkacon Software OpenCms 9 vor. In verschiednen Workshops erl&auml;uterten die OpenCms Kernentwickler die Funktionen der neuen Version.</p>
<p>Die Days waren die perfekte Gelegenheit zum Erfahrungsaustausch mit hochqualifizierten Experten und Interessierten aus der ganzen Welt rund um das Thema "OpenCms".</p>
<p>Auf <a href="%(link1)" target="_self">http://opencms-days.org</a> finden Sie alle Informationen rund um dieses Event.</p>
<p>Die OpenCms Days richten sich an ein internationales Publikum. Daher war die Konferenzsprache Englisch.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2013_2rows.png]]></target>
            <uuid>6b0d2682-1569-11e3-b57e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2013 fanden von Montag, 30. September bis Dienstag 1. Oktober 2013 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Vorträge, OpenCms Days Folien, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Check out the slides from OpenCms Days 2013]]></Title>
    <Date>1381503600000</Date>
    <Preface><![CDATA[The conference slides from OpenCms Days 2013 are now available for download. OpenCms Days 2013 featured several interesting sessions around OpenCms presented by speakers from all over the world. Check the slides in case you missed the event.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The slides from the OpenCms Days 2013 user conference are now available on&nbsp;the&nbsp;<a href="%(link0)" target="_self">conference website</a>.</p>
<p>The web in 2013 has become more diverse than ever. Content managers face multiple challenges such as supporting or integrating social media, multiple devices, cloud based services, responsive design, and more. OpenCms Days 2013 featured several high profile speakers which did showcase their state of the art solutions and proved that OpenCms is up for the task.</p>
<p>OpenCms Days 2013 did take place from Monday, September 30 to Tuesday, October 1, 2013 in Cologne, Germany.</p>
<h2>Get Rolling with OpenCms 9</h2>
<p>Alkacon Software released OpenCms 9 during this conference. Version 9 brings improvements in many areas, but especially regarding the usability for the content manager. Several workshop sessions in the conference did focus on OpenCms 9, with core developers from Alkacon Software explaining the functionality of the new version in detail.&nbsp;</p>
<p>Bringing together OpenCms users from all over the world, OpenCms Days 2013 conference and expo was a great opportunity to exchange ideas with leading OpenCms experts and learn about OpenCms 9.</p>
<p>Visit&nbsp;<a href="%(link1)" target="_self">http://opencms-days.org</a>&nbsp;for all information on this event.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2013_2rows.png]]></target>
            <uuid>6b0d2682-1569-11e3-b57e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2013 did take place from Monday, September 30 to Tuesday, October 1, 2013 in Cologne, German]]></Description>
      <Keywords><![CDATA[OpenCms Days slides, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
