<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 9 Release Notes]]></Title>
    <Date>1383909000000</Date>
    <Preface><![CDATA[The OpenCms 9 release notes contain detailed information about the new features in this major release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms reaches the next milestone with version 9. OpenCms 9 brings several enhancements while being fully backward compatible with OpenCms 8.x.</p>
<h2>New in OpenCms 9</h2>
<ul>
<li>Improved "in place" editing of web pages for text and also for images and other content types.</li>
<li>Enhanced support for different devices with preview and device specific content control.</li>
<li>Access to the content repository over a shared network drive.</li>
<li>Detail pages now allow individual content to be added with drag &amp; drop.</li>
<li>A new site management tool allows simple configuration of multiple sites.</li>
<li>Automated / scripted setup option, great for continuous integration builds.</li>
<li>Optimized build process using Gradle.</li>
<li>Improved configuration for content formatters.<sup>*</sup></li>
<li>Updated responsive demo template based on Bootstrap 3.<sup>*</sup></li>
</ul>
<p>Items marked with <sup>*</sup> have been added or greatly improved since the OpenCms 9 release candidate (RC).</p>
<h2>Improved in OpenCms 9.0</h2>
<ul>
<li>Added gallery access to the toolbar.</li>
<li>Added enhanced page / element info dialog, accessible from the toolbar.</li>
<li>Added undo / redo function to the form content editor.</li>
<li>Added direct upload option to image widget in the form&nbsp;content editor.</li>
<li>Added automatic optimized layout of widgets in the form content editor.</li>
<li>Added 'This page' publishing mode and other improvements to the publish dialog.</li>
<li>Added option to create new contents for empty collector lists.</li>
<li>Added XML content based resource bundles.</li>
<li>Added dynamic HTML update during in place editing.</li>
<li>Added option to configure an individual error page per site.</li>
<li>Added global permission overview dialog.</li>
<li>Added option to retrieve the database password from a configurable source.</li>
<li>Added optional feature to prevent users from having more than one session.</li>
<li>Added feature to destroy sessions of logged in users.</li>
<li>Added feature to unlock users who are locked out because of too many login attempts.</li>
<li>Updated Italian localization.</li>
<li>Updated Spanish localization.</li>
<li>Updated Russian localization.</li>
<li>Removed obsolete upload applet.</li>
<li>Removed obsolete FCKEditor and EditArea.</li>
<li>Updated SOLR and Lucene libraries.</li>
<li>Improved SOLR search field mapping for multi-lingual XML contents that are using nested elements.</li>
<li>Improved text based language detection.</li>
<li>Fixed issue #23 where parsing the publish scheduled date failed due to a wrong locale.</li>
<li>Fixed issue #61 where the removal of mapped properties failed.</li>
<li>Fixed issue #67 where a malformed nested XML content schema resulted in misleading error messages.</li>
<li>Fixed issue #130 where container page elements where removed without confirmation.</li>
<li>Fixed issue #168 where the source code contained some spelling errors.</li>
<li>Fixed issue #180 where database names where not validated during setup.</li>
<li>Fixed issue #187 where sort by title did not work in the gallery dialogs.</li>
</ul>
<h2>Main features of OpenCms</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h2>Backward compatibility</h2>
<p>OpenCms 9 is fully backward compatible with all 8.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 9.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms 9 requires an new version of Alkacon OCEE that will be released until November 15th.</p>
<h2>Compatibility with Java versions, servlet containers and databases</h2>
<p>OpenCms 9 has been written and tested for Java 6 and 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h2>Regarding version numbers and build tags</h2>
<p>The main OpenCms Git repository is available on Github at <a href="%(link0)">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms 9 sources from Git, please check out the "branch_9_0_x". The 9.0.0 release is tagged "build_9_0_0".</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link1)">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms 9 using <a href="%(link2)">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms 9 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 9, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1380539400000</Release>
    </Availability>
  </Article>
</ArticleData>
