<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 9.0.1 Release Notes]]></Title>
    <Date>1391685000000</Date>
    <Preface><![CDATA[The OpenCms 9.0.1 release notes contain detailed information about the fixes and new features in this maintenance update.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
        </links>
        <content><![CDATA[<p>February 6, 2014: OpenCms 9.0.1 is a maintenance update for OpenCms 9 that fixes a number of issues and adds some&nbsp;functional enhancements.</p>
<h2>Improved&nbsp;in OpenCms 9.0.1</h2>
<ul>
<li>New 'Add resource type'&nbsp;dialog added to&nbsp;the module management.*</li>
<li>New&nbsp;'Clone Module' dialog added to&nbsp;the module management.*</li>
<li>Added option to show expired or unreleased resources in content collector lists in the offline project.</li>
<li>The 'Source search' administration tool has been greatly enhanced.</li>
<li>Demo template updated to Bootstrap 3.1.0.</li>
<li>The Bootstrap / JQuery resources from the demo template have been moved to&nbsp;a separate module.</li>
<li>TinyMCE editor updated to version 4.0.16.</li>
<li>Improved browser support for IE 10 and IE 11.</li>
<li>Detail pages now support permalinks.</li>
<li>Further improved the publish dialog with better detection of changed dependencies.</li>
<li>Added&nbsp;several&nbsp;improvements to the JSP EL context beans.</li>
<li>An instance of &nbsp;CmsJspStandardContextBean is now automatically available on&nbsp;all JSPs.</li>
<li>The classic&nbsp;workplace theme now uses fixed colors that work better in non-windows environments.</li>
<li>Added more options to the widget combo box for formatter configurations.</li>
<li>Updated Russian localization.</li>
<li>Disabled CMS_LOG database logging by default.</li>
<li>Improved Gradle build script to generate additional artifacts, also added 'install' task.</li>
<li>Fixed issue #158 by adding&nbsp;properties 'keywords' and 'description' to the &lt;cms:info&gt; tag.</li>
<li>Fixed issue #178 where the start folder configuration was ignored by the VfsFileWidget.</li>
<li>Fixed issue #192 where HTML cleanup inserted invalid characters in some cases.</li>
<li>Fixed issue #203 where source search refers a not existing constant.</li>
<li>Fixed issue #204 by allowing&nbsp;type name translation for 'formatter_config' files.</li>
<li>Fixed issue #205 where message bundles were accessed without locale.</li>
<li>Fixed issue #208 with rare null pointer exceptions during flex key generation.</li>
<li>Fixed issue #210 where localization of TinyMCE failed for some languages.</li>
<li>Fixed issue #211 with missing JPA dependencies.</li>
<li>Fixed issue #215 where container page content was not indexed correctly for SOLR indices.</li>
<li>Fixed issue #217 where expired resources in container pages caused error messages in the log file.</li>
<li>Fixed issue #219 by adding properties 'keywords' and 'description' to the &lt;cms:info&gt; tag.</li>
<li>Fixed&nbsp;issue with optional text-area widgets in the form editor.</li>
<li>Fixed issue&nbsp;with expired container elements not being displayed correctly in the online project.</li>
<li>Fixed issue where 'resources' folder was not created in a new&nbsp;module.</li>
<li>Fixed issue where overflowing container elements remain hidden after drag and drop.</li>
<li>Fixed issue where IE8+ browsers would not load updated resource versions.</li>
<li>Fixed issue with gallery upload in the editor not available if no image is selected.</li>
<li>Fixed issue with incorrect handling of the 'formatselect.options' option in the HTML widget.</li>
<li>Fixed issue&nbsp;where copying a file on a network share inside the same folder on Windows 7 caused a hanging dialog.</li>
<li>Fixed issue&nbsp;with generating secure links to detail pages.</li>
<li>Fixed issue with alias deletion for folders.</li>
<li>Fixed issue with content mappings to dateReleased / dateExpired attributes for deleted&nbsp;optional values not being reset.</li>
<li>Fixed issue with links to exported resources pasted&nbsp;in the content editor not being correctly resolved.</li>
</ul>
<p>Items marked with <span class="label label-warning">*</span> are considered important improvements in this version.</p>
<h2>Main new features of OpenCms 9</h2>
<ul>
<li>Improved "in place" editing of web pages for text and also for images and other content types.</li>
<li>Enhanced support for different devices with&nbsp;preview and device specific content control.</li>
<li>Features a new&nbsp;responsive demo template based on Bootstrap 3.</li>
<li>Access to the content repository over a shared network drive.</li>
<li>Detail pages now allow individual content to be added with drag &amp; drop.</li>
<li>A new site management tool allows simple configuration of multiple sites.</li>
<li>Improved configuration for content formatters, allowing different&nbsp;formatters in the same container.</li>
<li>The publish dialog has been simplified and provides a new option to publish "This page" only.</li>
<li>It's now possible to upload images directly in the content editor.</li>
<li>Content galleries are now accessible directly from main&nbsp;toolbar.</li>
<li>Added option to create new contents for empty collector lists.</li>
<li>XML content based resource bundles allow localization changes without server restart.</li>
<li>Automated / scripted setup option, great for continuous integration&nbsp;builds.</li>
<li>Optimized build process using Gradle.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG&nbsp;inline editing of web pages&nbsp;and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li><span style="line-height: 1.6;">Integrates Apache SOLR for powerful content searching and noSQL like queries.</span></li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h2>Backward compatibility</h2>
<p>OpenCms 9 is fully backward compatible with all 8.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 9.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms 9.0.1 requires a new version of Alkacon OCEE. The&nbsp;update is free for Alkacon customers with a valid OCEE update subscription. <a href="%(link0)" target="_blank">Please contact Alkacon</a> to receive the new version.</p>
<h2>Compatibility with Java versions, servlet containers and databases</h2>
<p>OpenCms 9 has been written and tested for Java 6 and 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h2>Regarding version numbers and build tags</h2>
<p>The main OpenCms Git repository is available on Github at <a href="%(link1)">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms 9 sources from Git, please check out the "branch_9_0_x". The 9.0.1 release is tagged "build_9_0_1".</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link2)">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms 9 using <a href="%(link3)">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms 9 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 9.0.1, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1391685000000</Release>
    </Availability>
  </Article>
</ArticleData>
