<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE 4.0.1 / 3.5.4 veröffentlicht]]></Title>
    <Date>1392854400000</Date>
    <Preface><![CDATA[OCEE 4.0.1 wird benötigt um OCEE mit OpenCms Version 9.0.1 auszuführen. Ebenfalls verfügbar ist eine neue Version 3.5.3 für OpenCms 8.x. OCEE erweitert OpenCms um Support für LDAP, Clustering und Replikation und beschleunigt außerdem die Seiten-Ladezeiten.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE ist eine kommerzielle Erweiterung von OpenCms welche unter anderem Unterst&uuml;tzung von LDAP, Clustering, Replikation und verbesserter Performance in OpenCms bietet. Vollst&auml;ndige Informationen zu OCEE erhalten Sie auf der <a href="%(link0)" target="_self">Alkacon Website</a>.</p>
<p>Die neue OCEE Version 4.0.1 ist ein Update, das verschiedene bekannte Probleme in &auml;lteren OCEE Versionen behebt.&nbsp;Ebenfalls verf&uuml;gbar ist eine neue Version 3.5.3 f&uuml;r OpenCms 8.x.</p>
<p>In den&nbsp;<a title="Alkacon OCEE 4.0.1 Release Notes" href="%(link1)" target="_self">OCEE Release Notes</a>&nbsp;finden Sie die vollst&auml;ndige Beschreibung der neuen Funktionen und Verbesserungen dieser Version.</p>
<p>OCEE 4.0.1 wird f&uuml;r die Version 9.0.1 von OpenCms ben&ouml;tigt. Diese OCEE Version ist au&szlig;erdem kompatibel mit allen &auml;lteren 9.x Versionen von OpenCms.</p>
<h3>&Uuml;ber Alkacon OCEE</h3>
<p>Bei den Alkacon <strong>OpenCms Enterprise Extensions</strong> (auch <strong>OCEE</strong> genannt) handelt es sich um eine kommerzielle Erweiterung von OpenCms. Alkacon OCEE f&uuml;gt Funktionen zu OpenCms hinzu, die f&uuml;r den Betrieb von OpenCms in mittelst&auml;ndigen oder gro&szlig;en Unternehmen ben&ouml;tigt werden und f&uuml;r die Datenkonsistenz, Sicherheit und Ausfallsicherung von gro&szlig;er Bedeutung sind.</p>
<p>Die wesentlichen Komponenten sind:</p>
<ul>
<li><strong>Alkacon OCEE Cluster Manager<br /></strong>Erm&ouml;glicht das Clustering von mehreren OpenCms Servern f&uuml;r unternehmenskritische Installationen.</li>
<li><strong>Alkacon OCEE Replicator<br /></strong>Macht es m&ouml;glich das OpenCms Dateisystem (Repository) in mehrere Datenbanken zu replizieren, z.B. von einem "Test" auf einen "Live" Server.</li>
<li><strong>Alkacon OCEE LDAP Connector<br /></strong>Erm&ouml;glicht die nahtlose Integration bestehender LDAP Benutzerverzeichnisse in das OpenCms Berechtigungssystem.</li>
<li><strong>Alkacon OCEE Accelerator<br /></strong>Bietet zur Beschleunigung des Datenzugriffs und der Datenbereitstellung zus&auml;tzliche leistungsstarke Caches.</li>
</ul>
<p>Die Alkacon OpenCms Enterprise Extensions sind als lizenziertes Softwareprodukt der Alkacon Software GmbH erh&auml;ltlich. Alkacon ist f&uuml;r die Entwicklung des Open Source Kerns von OpenCms federf&uuml;hrend verantwortlich.&nbsp;</p>
<p>Alkacon OCEE wird auf dem standardm&auml;&szlig;igen OpenCms System installiert. Bei OCEE handelt es sich um eine rein bin&auml;re Software-Distribution, d.h. der Quellcode der OCEE- Pakete steht nicht zur Verf&uuml;gung. Damit Sie die OCEE-Pakete von Alkacon nutzen k&ouml;nnen, m&uuml;ssen Sie einen Lizenzschl&uuml;ssel eingeben. Dieser wird Ihnen nach dem Erwerb einer Alkacon OCEE-Lizenz von Alkacon Software zur Verf&uuml;gung gestellt.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OCEE erweitert eine OpenCms Installation um LDAP, Clustering, Replikation und verbesserte Leistung (Cache).]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 9, OCEE 4.0.1, OCEE 3.5.4, Enterprise Extensions, CMS, Content Management System, Skalierbarkeit, Verfügbarkeit, Ausfallsicherheit, Cluster]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE 4.0.1 / 3.5.4 released]]></Title>
    <Date>1392854400000</Date>
    <Preface><![CDATA[OCEE 4.0.1 is required if you want to use OCEE with OpenCms version 9.0.1. A new version 3.5.4 for OpenCms 8.x is also available. OCEE is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and accelerated page load times.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance. Full information about OCEE is available on the <a href="%(link0)">Alkacon website</a>.</p>
<p>The new OCEE version 4.0.1 is a maintenance release that fixes some issues of earlier OCEE versions.&nbsp;A new version 3.5.4 for OpenCms 8.x is also available.&nbsp;</p>
<p>Please see the <a title="Alkacon OCEE 4.0.1 release notes" href="%(link1)" target="_self">OCEE release notes</a> for a full description about the new features and changes in this version.</p>
<p>OCEE 4.0.1 is required by the new OpenCms 9.0.1 and backward compatible with all older OpenCms 9 versions.</p>
<h3>About Alkacon OCEE</h3>
<p>The Alkacon <strong>OpenCms Enterprise Extensions</strong> (also called <strong>OCEE</strong>) are a commercial extension for OpenCms. Alkacon OCEE adds features to OpenCms that are often required for running OpenCms in a medium or large Enterprise, where data consistency, security and failover are highly important.</p>
<p>The main components are:</p>
<ul>
<li><strong>Alkacon OCEE Cluster Manager<br /></strong>Allows for clustering of OpenCms Servers for mission critical environments.</li>
<li><strong>Alkacon OCEE Replicator<br /></strong>Makes it possible to replicate the OpenCms repository data to remote database instances, e.g. from "test" to "live" servers.</li>
<li><strong>Alkacon OCEE LDAP Connector<br /></strong>Provides full integration of existing LDAP user directories with the OpenCms permission system.</li>
<li><strong>Alkacon OCEE Accelerator<br /></strong>Provides additional high performance caches to accelerate the data access and delivery.</li>
</ul>
<p>The Alkacon OpenCms Enterprise Extensions are available as a licensed software product from Alkacon Software GmbH, the company responsible for most of the development of the open source core OpenCms system.</p>
<p>OCEE is installed on a standard OpenCms system. OCEE is a binary only distribution. This means that the source code for the OCEE modules is not available. To use any of the Alkacon OCEE packages, you need to enter a license key that will be provided by Alkacon software after your purchase of an Alkacon OCEE license.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OCEE for OpenCms is a commercial extension for OpenCms that offers Support for LDAP, Clustering, Replication and improved performance.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 9, OCEE 4.0.1, OCEE 3.5.4, Enterprise Extensions, CMS, Content Management System, scalabilty, reliability, failover security, cluster]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
