<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OpenCms Partner-Programm gestartet ]]></Title>
    <Date>1404126000000</Date>
    <Preface><![CDATA[Alkacons Partner haben Erfahrung aus einer Reihe von erfolgreichen OpenCms Projekten und helfen ihren Kunden Projekte mit OpenCms bestmöglich zu realisieren.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/partner/index.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/index.html]]></target>
            <uuid>ce847c07-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon startet ein neues OpenCms Partner-Programm. Dieses ist offen f&uuml;r IT L&ouml;sungsanbieter, Beratungsgesellschaften, Web-Agenturen sowie alle anderen Unternehmen, welche professionelle OpenCms L&ouml;sungen f&uuml;r ihre Kunden anbieten.</p>
<p>Alkacons Partner haben Erfahrung aus einer Reihe von erfolgreichen OpenCms Projekten und wenden bew&auml;hrte Vorgehensweisen bei der Implementierung von OpenCms an. Ziel des neuen Programms ist es, Kunden, welche einen OpenCms L&ouml;sungsanbieter suchen, eine Auswahl aus einer Reihe von qualitativ hochwertigen Partnerfirmen zu erm&ouml;glichen.</p>
<p><strong>Vorteile f&uuml;r Teilnehmer des Alkacon OpenCms Partner Programms:</strong></p>
<ul>
<li>Direkter Ansprechpartner bei Alkacon</li>
<li>Erhalten Sie Insider-Informationen &uuml;ber die n&auml;chste OpenCms-Version</li>
<li>Pr&auml;sentieren Sie Ihre OpenCms Projekte als Showcase auf der opencms.org Webseite</li>
<li>Reduzierter Preis f&uuml;r alle Alkacon Dienstleistungen und Produkte</li>
<li>Eine freie Alkacon OCEE Lizenz f&uuml;r Ihre Webseite sowie Entwicklungsumgebungen</li>
<li>Regelm&auml;&szlig;ige Informationen &uuml;ber aktuelle OpenCms Veranstaltungen</li>
<li>Vertriebsunterst&uuml;tzung f&uuml;r gro&szlig;e oder erfolgversprechende OpenCms Projekte</li>
</ul>
<p><a href="%(link0)" target="_self">Das neue Programm startet bereits mit 12 registrieten Alkacon OpenCms Partnern.</a></p>
<p>M&ouml;chten Sie Alkacon OpenCms Partner werden?&nbsp;</p>
<p><a href="%(link1)" target="_self">Bitte nehmen Sie Kontakt mit Alkacon Software auf um die Teilnahmebedingungen zu erfahren.</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description/>
      <Keywords><![CDATA[OpenCms Partner, Alkacon Partner]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OpenCms Partner Program Launched]]></Title>
    <Date>1404126000000</Date>
    <Preface><![CDATA[Alkacon partners have a proven record of successful OpenCms projects and help their customers to efficiently implement OpenCms projects.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/partner/index.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/index.html]]></target>
            <uuid>ce847c07-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon has launched a new OpenCms Partner Program. This program is open for IT solution providers, consultant companies, web agencies and all other companies offering professional OpenCms services.</p>
<p>Alkacon partners have a proven record of successful OpenCms projects and adhere OpenCms implementation best practices. The new partner program provides customers a choice of quality OpenCms service providers that are backed up by Alkacon.</p>
<p><strong>Benefits of the Alkacon OpenCms Partner program include:</strong></p>
<ul>
<li>Direct contact person at Alkacon</li>
<li>Get inside information about the next OpenCms version</li>
<li>List your showcase OpenCms projects on the opencms.org website</li>
<li>Reduced price for all Alkacon Services and Products</li>
<li>A free Alkacon OCEE license for your own website and development requirements</li>
<li>Be informed and participate in OpenCms community events</li>
<li>Sales support from Alkacon for large or promising prospects</li>
</ul>
<p><a href="%(link0)" target="_self">The new program starts with 12 Alkacon OpenCms partners being already registered.</a></p>
<p>Interested in becoming an Alkacon OpenCms partner? <a href="%(link1)" target="_self">Contact Alkacon Software to learn about the requirements of the program.&nbsp;</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description/>
      <Keywords/>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
