<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2014 - Save the Date!]]></Title>
    <Date>1401789600000</Date>
    <Preface><![CDATA[Die OpenCms Days finden in diesem Jahr vom 3. bis zum 4. November in Köln statt. Ein Highlight dieser internationalen Benutzer-Konferenz und Ausstellung ist das Release von OpenCms 9.5.
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Die OpenCms Days finden dieses Jahr vom 3. bis zum 4. November in Köln statt.]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Ein Highlight der diesj&auml;hrigen internationalen Benutzer-Konferenz und Ausstellung ist das Release von <strong>OpenCms 9.5</strong>. OpenCms Days sind die perfekte Gelegenheit zum Erfahrungsaustausch mit hochqualifizierten OpenCms Experten und Benutzern aus der ganzen Welt.</p>
<p>Die OpenCms Days finden in diesem Jahr vom</p>
<p><strong>Montag, 3. November bis Dienstag, 4. November</strong></p>
<p>in K&ouml;ln statt.</p>
<p>Bitte merken Sie sich diesen Termin bereits heute vor und seien Sie im Herbst dabei. Detailierte Informationen folgen in K&uuml;rze.<br /><br /></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2014_2rows.png]]></target>
            <uuid>c9bf70e7-005e-11e4-8f4e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2014 - Save the Date!]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days finden in diesem Jahr vom 3. bis zum 4. November in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2014, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2014 - Save the date!]]></Title>
    <Date>1401789600000</Date>
    <Preface><![CDATA[This years` OpenCms Days will take place from November 3 - 4, 2014 in Cologne, Germany. One highlight of the international user conference and expo will be the release of OpenCms 9.5.
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[International OpenCms user conference and expo takes place from November 3 - 4 in Cologne]]></Caption>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>One highlight of the international user conference and expo will be the release of <strong>OpenCms 9.5</strong>. OpenCms Days will be the perfect opportunity to exchange experiences around OpenCms with high profile participants and speakers from all over the world.</p>
<p>OpenCms Days 2014 will take place&nbsp;</p>
<p><strong>Monday, November 3 to Tuesday, November 4</strong>&nbsp;</p>
<p>in Cologne, Germany.</p>
<p>Please note this date and do not miss out on a great conference. Further information will follow shortly.&nbsp;</p>
<p><span>We hope to see you in Cologne in November!</span></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2014_2rows.png]]></target>
            <uuid>c9bf70e7-005e-11e4-8f4e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2014 - Save the date!]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[This years` OpenCms Days will take place from November 3 - 4, 2014 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2014 Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
