<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2014 - Early Bird Anmeldung verlängert]]></Title>
    <Date>1409238000000</Date>
    <Preface><![CDATA[Die Early Bird Anmeldefrist wird verlängert. Die OpenCms User-Konferenz findet vom 3. bis zum 4. November 2014 in Köln statt. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Auf vielfachen Wunsch wird die Early Bird Anmeldefrist um eine Woche bis zum 7. September 2014 verl&auml;ngert.</p>
<p>Sie haben also noch eine Woche l&auml;nger die M&ouml;glichkeit Ihr Ticket mit einer Verg&uuml;nstigung von 20% zu erwerben. Reservieren Sie Ihre Eintrittskarte noch heute und zahlen Sie nur 200 &euro; statt der regu&auml;ren 250 &euro;.</p>
<p>Die OpenCms Days finden vom 3. bis zum 4. November 2014 in K&ouml;ln statt.&nbsp;</p>
<p>&nbsp;</p>
<p class="sml">Die OpenCms Days 2014 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die F&ouml;rderung der Verbreitung von OpenCms und die St&auml;rkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2014_2rows.png]]></target>
            <uuid>c9bf70e7-005e-11e4-8f4e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2014 finden von Montag, 3. November bis Dienstag 4. November 2014 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Website, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz ]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2014 - Early Bird Registration extended]]></Title>
    <Date>1409238000000</Date>
    <Preface><![CDATA[The Early Bird Registration is extended for one more week. The conference will take place November 3-4, 2014 in Cologne, Germany. 
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/index.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>By popular request, the early bird registration rate has been extended for one more week until September7, 2014.</p>
<p>That means one more week to get your ticket with a 20% discounted. Reserve your ticket today and pay just 200 &euro; instead of the regular 250 &euro; per ticket.</p>
<p>Don`t miss out on a great conference and <a href="%(link0)" target="_self">register now</a>!</p>
<p>The OpenCms Days 2014 will take place November 3-4 in Cologne, Germany.</p>
<p>&nbsp;</p>
<p class="sml">OpenCms Days 2014 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencmsdays_2014_2rows.png]]></target>
            <uuid>c9bf70e7-005e-11e4-8f4e-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2014 take place from Monday, November 3 to Tuesday, November 4, 2014 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days website, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
