<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Testen Sie das OpenCms Docker Image]]></Title>
    <Date>1412262000000</Date>
    <Preface><![CDATA[Das offizielle OpenCms Docker Image ermöglicht es, OpenCms schnell und unkompliziert zu testen. Docker ist eine offene Plattform für verteilte Anwendungen welche sich einer rasant wachsenden Popularität erfreut.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.zdnet.com/what-is-docker-and-why-is-it-so-darn-popular-7000032269/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das offizielle OpenCms Image ist ab sofort in der <a href="%(link0)" target="_self">Docker Registry</a> verf&uuml;gbar.</p>
<p><span>User Docker Image gibt Ihnen ein vollst&auml;ndiges OpenCms System mit Demoinhalten, welches zum einfachen ausprobieren und testen verwendet werden kann. Die automatisierte Installation beinhaltet auch Tomcat und mySQL.</span></p>
<p><span>Das Image ist aktuell prim&auml;r f&uuml;r Testzwecke oder Entwicklungsumgebungen gedacht. Wir arbeiten jedoch daran die Sicherheit, Datensicherung und Konfiguration so zu verbessern, dass es auch in Produktionsumgebungen eingesetzt werden kann.</span></p>
<h2><strong>Was ist Docker und warum sollten Sie sich daf&uuml;r interessieren?</strong></h2>
<p>Docker ist eine offene Plattform f&uuml;r verteilte Anwendungen.&nbsp;Steven J. Vaughan-Nichols liefert eine gute Erkl&auml;rung f&uuml;r die rasant wachsende Popularit&auml;t von Docker in seinem <a href="%(link1)" target="_self">Blog auf ZDnet</a>:</p>
<p><em>"Kurz gesagt hier ist was Docker f&uuml;r Sie leisten kann: Es kann mehr Anwendungen auf der gleichen Hardware laufen lassen als andere Technologien; es erm&ouml;glicht es Entwicklern, lauffertige Anwendungen in Containern schnell bereits zu stellen; und es macht das ausrollen von Anwendungen sehr viel einfacher."</em></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/docker.png]]></target>
            <uuid>11da5913-4a32-11e4-804c-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms and Docker]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Check out the OpenCms image at the Docker registry]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Verwenden Sie das OpenCms Docker Image um OpenCms schnell und unkompliziert zu testen.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Docker image, content editor, cms, content management system]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Try the OpenCms Docker image]]></Title>
    <Date>1412262000000</Date>
    <Preface><![CDATA[The official OpenCms image in the Docker registry provides a quick way to evaluate and test OpenCms. Docker is an open platform for distributed applications with a very fast rising popularity. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.zdnet.com/what-is-docker-and-why-is-it-so-darn-popular-7000032269/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>We are happy to announce the availability of the official OpenCms image in the <a href="%(link0)" target="_self">Docker registry</a>.</p>
<p><span>Our Docker image gives you a standard OpenCms system with demo content to be used for evaluation and testing purposes. This is an automated build that includes Tomcat and mySQL.</span></p>
<p><span><span>At the moment this image is meant mostly for development, testing and evaluation purposes. This is why it is called 'simple' in the Docker/GitHub repo. We are working to improve the image with better security, data backup and configuration enhancements so that it can be used in production environments. Stay tuned!</span></span></p>
<h2>What is Docker and why should you care?</h2>
<p>Docker is an open platform for distributed applications.&nbsp;Steven J. Vaughan-Nichols provides a nice explanation for the fast rising popularity of Docker in his <a href="%(link1)" target="_self">blog on ZDnet</a>:</p>
<p><em>"In a nutshell, here's what Docker can do for you: It can get more applications running on the same hardware than other technologies; it makes it easy for developers to quickly create, ready-to-run&nbsp;containered applications; and it makes managing and deploying applications much easier. <span>Put it all together and I can see why Docker is riding the hype cycle as fast as I can recall ever seeing an enterprise technology go.</span>"</em></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/docker.png]]></target>
            <uuid>11da5913-4a32-11e4-804c-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms and Docker]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Check out the OpenCms image in the Docker registry]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Check out the OpenCms image at docker.io for a quick way to evaluate and test OpenCms.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Docker image, content editor, cms, content management system]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
