<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 9.5 Release Notes]]></Title>
    <Date>1415019600000</Date>
    <Preface><![CDATA[The OpenCms 9.5 release notes contain detailed information about new features and the fixes in this version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
          </link>
        </links>
        <content><![CDATA[<p>November 3, 2014: Step up to OpenCms 9.5! This version brings template creation without the need to code, plus other features like user generated content, on-the-fly PDF generation, greatly improved documentation and much more - all presented in&nbsp;a responsive demo website based on Bootstrap.</p>
<h2>New&nbsp;in OpenCms&nbsp;9.5</h2>
<ul>
<li>Drag &amp; drop template and layout creation with nested containers.</li>
<li>User generated content for website visitors.</li>
<li>Editors don't need to access the workplace anymore.</li>
<li>Managing of galleries, categories and templates in the sitemap editor.</li>
<li>Greatly enhanced documentation.</li>
<li>Generate PDF documents on the fly.</li>
<li>Grid based responsive demo website build with&nbsp;Bootstrap.</li>
<li>Integrated Spell Checker for the WYSIWYG editor component.</li>
<li>New roles for fine grained&nbsp;access to the content management functions.</li>
<li>Element views allow easy grouping and permission setting for content types.</li>
<li>Create, copy or reuse options when using&nbsp;existing contents.</li>
<li>Updated user preferences dialog accessible in the page editor.</li>
</ul>
<h2>Improved in&nbsp;OpenCms 9.5</h2>
<ul>
<li>Added broadcast messages to be shown in the page editor.</li>
<li>Added feature to generate thumbnail images of PDF documents.</li>
<li>Added option to show historic versions of elements, available in element info dialog.</li>
<li>Added editor visibility handler for content fields in the XSD.</li>
<li>Added locale synchronization for content fields in the XSD.</li>
<li>Added dynamic field handlers for content fields in the XSD.</li>
<li>Added new mappings to generate gallery descriptions in the XSD.</li>
<li>Added "generic locale" for container pages so that elements are valid for all languages.</li>
<li>Added support for CMYK .jpg images.</li>
<li>Added thumbnail size display options for images galleries.</li>
<li>Added option to run a script with CmsShell commands on module import.</li>
<li>Updated to latest version of TinyMCE.</li>
<li>Improved password encryption with strong scrypt algorithm.</li>
<li>Improved screen usage, dialog adjusts to available screen size.</li>
<li>Improved publishing dialog,&nbsp;especially for thousands of resources.</li>
<li>Improved user preferences definition to be flexible instead of hard coded.</li>
<li>Improved status information for new or changed elements in the gallery lists.</li>
<li>Improved collector list edit points to have a full set of options.</li>
<li>Improved result lists displayed in ADE to show more infos and options.</li>
<li>Removed default group "Projectmanagers", use the PROJECT_MANAGER role instead if required.</li>
<li>Fixed issue with checking "secure" property for resources in some cases.</li>
<li>Fixed issues with duplicate elements in inheritance groups.</li>
<li>Fixed several issues in the default link substitution handler.</li>
<li>Fixed issue with wrong resource filter usage during the relation check before deleting sitemap entries.</li>
<li>Fixed issue with 'subsite' search scope in the gallery dialog not working correctly.</li>
<li>Fixed issue with order of settings from formatter configuration not being used.</li>
<li>Fixed issue with detail containers if&nbsp;detail contents and detail page are located in different sites.</li>
<li>Fixed issue with detail links where the detail content was located in a different site.</li>
<li>Fixed issue with redirection to secure site for detail pages.</li>
<li>Fixed issue with incorrect wildcard handling on SMB network shares.</li>
<li>Fixed issue with file copying on SMB network shares.</li>
<li>Fixed issue with scrollbar not appearing for text area widget if very long lines without spaces were entered.</li>
<li>Fixed issue with creating files in expired folders.</li>
<li>Fixed issue with head includes not working correctly for container elements in some cases.</li>
<li>Fixed issue with editor CSS handler related to changed template provider configuration syntax.</li>
<li>Fixed issue with handling of locale-available property in the editor.</li>
<li>Fixed issue with the editor calendar display in some environments.</li>
<li>Fixed issue with the editor VFS file widget configuration.</li>
<li>Fixed caching issue with XML message bundles.</li>
<li>Fixed caching issue with default template context provider.</li>
<li>Fixed search filtering for the search scope "Everything".</li>
<li>Fixed issue with link handling for detail contents in HTML fields.</li>
<li>Fixed issue with container page search indexing.</li>
<li>Fixed issue #192 where the HTML cleanup inserted invalid characters.</li>
<li>Fixed issue #203 where source search was referring to a non existing constant.</li>
<li>Fixed issue #205 where message bundles were accessed without locale.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG&nbsp;inline editing of web pages&nbsp;and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo&nbsp;template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h2>Backward compatibility</h2>
<p>OpenCms 9.5 is fully backward compatible with all 8.x and 9.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 9.5.</p>
<p><strong>Notice for users of Alkacon OCEE:</strong> OpenCms 9.5 requires a new version of Alkacon OCEE. The&nbsp;update is free for Alkacon customers with a valid OCEE update subscription. <a href="%(link0)" target="_blank">Please contact Alkacon</a> to receive the new version.</p>
<h2>Compatibility with Java versions, servlet containers and databases</h2>
<p>OpenCms 9 has been written and tested for Java 6 and 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h2>Regarding version numbers and build tags</h2>
<p>The main OpenCms Git repository is available on Github at <a href="%(link1)">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms 9.5 sources from Git, please check out the "branch_9_5_x". The 9.5.0 release is tagged "build_9_5_0".</p>
<h2>How you can help</h2>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link2)">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms 9.5 using <a href="%(link3)">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms 9.5 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 9.5, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1412170980000</Release>
    </Availability>
  </Article>
</ArticleData>
