<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Docker Image]]></Title>
    <Date>1480467600000</Date>
    <Preface><![CDATA[Testen Sie OpenCms mit dem offiziellen Image aus dem Docker Hub - der einfachste Weg um OpenCms schnell und unkompliziert zu testen. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.zdnet.com/what-is-docker-and-why-is-it-so-darn-popular-7000032269/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Unterst&uuml;tzung f&uuml;r OpenCms ab sofort in der <a href="%(link0)" target="_self">Docker Hub Registry</a> verf&uuml;gbar.</p>
<h2><strong>Was ist Docker und warum sollten Sie sich daf&uuml;r interessieren?</strong></h2>
<p>Docker ist eine offene Plattform f&uuml;r verteilte Anwendungen.&nbsp;Steven J. Vaughan-Nichols liefert eine gute Erkl&auml;rung f&uuml;r die rasant wachsende Popularit&auml;t von Docker in seinem <a href="%(link1)" target="_self">Blog auf ZDnet</a>:</p>
<p><em>"Kurz gesagt hier ist was Docker f&uuml;r Sie leisten kann: Es kann mehr Anwendungen auf der gleichen Hardware laufen lassen als andere Technologien; es erm&ouml;glicht es Entwicklern, lauffertige Anwendungen in Containern schnell bereits zu stellen; und es macht das ausrollen von Anwendungen sehr viel einfacher."</em></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/docker2.png]]></target>
            <uuid>20f66f0e-69ac-11e4-826d-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms and Docker]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Check out the OpenCms image at the Docker registry]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Das OpenCms Docker Image ermöglicht es, OpenCms schnell und unkompliziert zu testen.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Docker image, Docker registry hub, content editor, cms, content management system]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Docker image ]]></Title>
    <Date>1480467600000</Date>
    <Preface><![CDATA[Test OpenCms using the official image from the Docker hub registry - the fastest way to evaluate and test OpenCms. 
The image is well suited for evaluation and test purposes of the latest OpenCms release. We provide a docker-compose file to get OpenCms and the database running with just one command.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.zdnet.com/what-is-docker-and-why-is-it-so-darn-popular-7000032269/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Support for OpenCms has arrived in the <a href="%(link0)" target="_self">Docker hub registry</a>.</p>
<h2>What is Docker and why should you care?</h2>
<p>Docker is an open platform for distributed applications.&nbsp;Steven J. Vaughan-Nichols provides a nice explanation for the fast rising popularity of Docker in his <a href="%(link1)" target="_self">blog on ZDnet</a>:</p>
<p><em>"In a nutshell, here's what Docker can do for you: It can get more applications running on the same hardware than other technologies; it makes it easy for developers to quickly create, ready-to-run&nbsp;containered applications; and it makes managing and deploying applications much easier. <span>Put it all together and I can see why Docker is riding the hype cycle as fast as I can recall ever seeing an enterprise technology go.</span>"</em></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/docker2.png]]></target>
            <uuid>20f66f0e-69ac-11e4-826d-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms and Docker]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Check out the OpenCms image from the Docker hub registry]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Check out the OpenCms image from the docker hub registry for a quick way to evaluate and test OpenCms.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Docker image, content editor, cms, content management system]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
