<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 9.5.1 Release Notes]]></Title>
    <Date>1425299340000</Date>
    <Preface><![CDATA[The OpenCms 9.5.1 release notes contain detailed information about the fixes and new features in this maintenance update.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p>March 2, 2015: OpenCms 9.5.1 is a maintenance update for OpenCms 9.5 that fixes a number of issues and adds some&nbsp;functional enhancements.</p>
<h2>New&nbsp;in OpenCms 9.5.1</h2>
<ul>
<li>Added "DependentSelectWidget" that obtains values depending on other content fields.*</li>
<li>Added alternative login handler to authorize users with a cookie.</li>
<li>Added option to search for expired / unreleased resources to all gallery dialogs.</li>
<li>Added option "galleryselect" to select a gallery to file selector widget.</li>
<li>Added further configuration options for OpenCms auto-setup.</li>
<li>Added option to use permanent instead of temporary redirects from a non-secure to a secure server.</li>
<li>Added Solr "rows" parameter in workplace's source search.</li>
<li>Added support for configuring a JDBC connection in the OpenCms db properties.</li>
<li>Demo template updated to Bootstrap 3.3.2.</li>
</ul>
<p>Items marked with * are considered important improvements in this version.</p>
<h2>Improved in OpenCms 9.5.1</h2>
<ul>
<li>Fixed issue #197 with static export links being generated even if the static export was disabled.</li>
<li>Fixed issue #240 with malfunctioning "invalid date" error message in date select widget.</li>
<li>Fixed issue #258 with URL name mappings not working correctly with locales of the form "language_COUNTRY".</li>
<li>Fixed issue #285 with encoding problems / wrong escape character handling in CmsParameterConfiguration.</li>
<li>Fixed issue #287 with external link validation failing for expired resources.</li>
<li>Fixed issue #289 with opening the gallery tab in the workplace preferences dialog.</li>
<li>Fixed issue #291 that occurred when using "Assign categories" in the legacy xmlpage direct edit provider.</li>
<li>Fixed issue #292 that an exception was thrown when editing settings for the "content check" tool.</li>
<li>Fixed issue #295 with user administration when using MS SQL Server.</li>
<li>Fixed issue #296 with XML content correction saving a wrong order of choice elements after a schema change.</li>
<li>Fixed XSS security issues affecting the request parameter based locale handler.</li>
<li>Fixed several issues with secure site handling.</li>
<li>Fixed issue in page editor where a selected formatter was reset to the default when content was dragged to a different container.</li>
<li>Fixed issue where detail page URLs with fragments were not processed correctly in the editor.</li>
<li>Fixed issue that the "Keep permissions" option was ignored during database imports.</li>
<li>Fixed issue where database entries were not removed after a deleted file was published if versioning was disabled.&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li>Fixed issue where only the latest historic version was actually saved when the file history was set to "unlimited".</li>
<li>Fixed issue where OU deletion caused server timeouts with large VFS repositories.</li>
<li>Fixed issue where new roles were not created for existing sub OUs of the root OU.</li>
<li>Fixed issue with slow performance for systems using many web user OUs. .</li>
<li>Fixed issue where the initial role given to a new user was always in the root OU.</li>
<li>Fixed issue with "editableby" attribute of &lt;cms:container&gt; not working correctly for roles of users outside the root OUs.</li>
<li>Fixed issue where modified JSPs were infrequently not updated after publishing.</li>
<li>Fixed issue where new resources were removed from offline search indexes if a user modified them.</li>
<li>Fixed issue with Solr returning expired documents by default.</li>
<li>Fixed issue where the workplace search dialog lost the current directory.&nbsp;</li>
<li>Fixed issue with the "Create new" option not always appearing in the settings dialog.</li>
<li>Fixed issue where model page elements on which the "Create new" option was set were treated as new elements.</li>
<li>Fixed issue where enabling detail views in traditional workplace lists affected all other users.</li>
<li>Fixed issue in link substitution with folders using the OpenCms servlet name when OpenCms is installed as ROOT application.&nbsp;&nbsp;</li>
<li>Fixed issue with editor change handler not updating optional fields in the content editor.</li>
<li>Fixed issue with validation of hidden fields in the content editor.</li>
<li>Fixed issue with &lt;cms:bundle&gt; tag not using the default locale as a fallback.</li>
<li>Fixed issue in cmsshell.sh and setup.sh so that running the scripts outside of WEB-INF is now possible.</li>
<li>Fixed issue with CodeMirror editor configuration not working for Internet Explorer 11.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG&nbsp;inline editing of web pages&nbsp;and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo&nbsp;template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 9.5.1 is fully backward compatible with all 8.x and 9.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 9.5.1.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE</span>&nbsp;OpenCms&nbsp;9.5.1 requires a new version of Alkacon OCEE. The&nbsp;update is free for Alkacon customers with a valid OCEE update subscription. <a href="%(link0)" target="_blank">Please contact Alkacon</a>to receive the new version.&nbsp;</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms&nbsp;9.5.1 has been written and tested for Java 6 and 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link1)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms X&nbsp;sources from Git, please check out "branch_9_5_x". The 9.5.1 release is tagged "build_9_5_1".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link2)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link3)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms 9.5.1 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 9.5.1, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
