<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2015 - Konferenz und Ausstellung]]></Title>
    <Date>1435226400000</Date>
    <Preface><![CDATA[Die OpenCms Days 2015 werden von Montag, dem 28. September, bis Dienstag, 29. September 2015 in Köln veranstaltet. Das Motto der diesjährigen OpenCms Days ist "OpenCms 10 – X marks the spot". Highlight wird die Vorstellung von OpenCms 10 sein. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die OpenCms Days 2015 werden von Montag, dem 28. September, bis Dienstag, 29. September 2015 in K&ouml;ln veranstaltet.</p>
<h2>OpenCms 10 &ndash; X marks the spot</h2>
<p>Highlight der OpenCms Days in diesem Jahr wird die Vorstellung von OpenCms 10 sein. Aber auch f&uuml;r OpenCms 9.5 wir eine Reihe von Vortr&auml;gen und Workshops angeboten.</p>
<p><strong>Die OpenCms Days 2015 Konferenz bietet zwei parallele Vortragsreihen mit Workshops und Showcases.<br /> </strong></p>
<p>Diese Veranstaltung die beste Gelegenheit ist, OpenCms Experten wie Kern-Entwickler, erfahrene Berater, unabh&auml;ngige CMS Analysten, IT F&uuml;hrungskr&auml;fte und andere OpenCms Anwender aus der ganzen Welt zu treffen. Die zur Konferenz geh&ouml;rende Ausstellung bietet die gro&szlig;artige M&ouml;glichkeit f&uuml;r Sponsoren in die OpenCms Community einzutauchen.</p>
<p>Die OpenCms Days 2015 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>
<p><strong>Teilnahmegeb&uuml;hr:</strong></p>
<div>Fr&uuml;hbucher-Preis (bis&nbsp;zum 16. August 2015)<span>:&nbsp;<strong>200,- Euro</strong></span></div>
<p><span>Regul&auml;re Teilnahmegeb&uuml;hr (ab dem 17. August 2015): <strong>250,- Euro</strong></span></p>
<p>Das vollst&auml;ndige Konferenz-Programm wird am Mitte August auf der Website der Konferenz ver&ouml;ffentlicht.</p>
<p class="sml">Die OpenCms Days 2015 werden durch die Alkacon Software GmbH organisiert. Das Ziel der Veranstaltung ist die F&ouml;rderung der Verbreitung von OpenCms und die St&auml;rkung der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/Collage_OpenCmsDays2015.png]]></target>
            <uuid>06291b18-1b0d-11e5-b511-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2015 -28. bis 29. September 2015]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Zur Website der OpenCms Days 2015]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Internationale Konferenz OpenCms Days 2015, 28. bis 28.09.2015 in Köln.]]></Description>
      <Keywords><![CDATA[köln, software, international, messe, event, projekt, veranstaltung, ausstellung, sprecher, beitrag, eintritt, cms, kongress, konferenz]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1435194000000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2015 - Conference and Expo]]></Title>
    <Date>1435226400000</Date>
    <Preface><![CDATA[OpenCms Days 2015 will take place from Monday, September 28 to Tuesday, September 29, 2015 in Cologne, Germany. This year's OpenCms Days motto is "OpenCms 10 - X marks the spot". Be there to meet with leading OpenCms experts. Highlight will be the introduction of OpenCms 10. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>OpenCms Days 2015 will take place from Monday, September 28 to Tuesday, September 29, 2015 in Cologne, Germany.</p>
<h2>OpenCms 10 &ndash; X marks the spot</h2>
<p><span>Highlight of the&nbsp;2015 international OpenCms user conference and expo will be the introduction&nbsp;of&nbsp;</span><span>OpenCms 10</span><span>.&nbsp;Several sessions will focus on&nbsp;advanced use cases of&nbsp;</span><span>OpenCms 9.5</span><span>&nbsp;as well.&nbsp;</span></p>
<p><strong>OpenCms Days 2015 conference will feature 2 parallel tracks with Showcase and Workshop sessions.</strong></p>
<p>This event is the best occasion to meet and mingle with OpenCms experts such as core developers, experienced consultants, independent CMS analysts, executive decision makers and other OpenCms users. The conference&rsquo;s expo provides a great chance for sponsors to get in touch with the OpenCms community.</p>
<p>OpenCms Days 2015 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>
<p><strong>Registration price:</strong></p>
<p>Early bird registration (until August 16): <strong>200,- Euro</strong><br /> Normal registration (starting August 17): <strong>250,- Euro</strong></p>
<p>The full program and list of speakers will be available mid August from the conference website.</p>
<p class="sml">OpenCms Days 2015 conference and expo is an event organized by Alkacon Software GmbH. The goal of the event is to promote OpenCms and strengthen the OpenCms community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/Collage_OpenCmsDays2015.png]]></target>
            <uuid>06291b18-1b0d-11e5-b511-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2015 - September 28 to September 29, 2015]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Visit the website of OpenCms Days 2015]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[International conference OpenCms Days 2015 from Sept. 28 to 29, 2015 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days, OpenCms, cms, software, international, event, registration, germany, conference, projects, cologne, exhibition, convention, session, speaker, workshop, open source, experiences, exposition, successful, sponsor, trade fair, content management, oktoberfest, wiesn]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1435194000000</Release>
    </Availability>
  </Article>
</ArticleData>
