<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Konferenz-Programm für die OpenCms Days 2015 online!]]></Title>
    <Date>1439910000000</Date>
    <Preface><![CDATA[Das Programm für die OpenCms Days 2015 ist jetzt verfügbar. Die Days sind eine phantastische Gelegenheit zum Erfahrungsaustausch mit hochqualifizierten Experten aus der ganzen Welt rund um das Thema "OpenCms".]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Das <a href="%(link0)" target="_self">vollst&auml;ndige Programm</a> f&uuml;r die OpenCms Days 2015 ist nun online. Die 7. internationale OpenCms User Konferenz und Ausstellung&nbsp;bietet interessante Vortr&auml;ge rund um das Thema OpenCms von erfahrenen Rednern aus aller Welt.</p>
<p>Die OpenCms Days 2015 werden die gr&ouml;&szlig;te Veranstaltung f&uuml;r die OpenCms Community in diesem Jahr.</p>
<p><strong><a href="%(link1)" target="_self"><span class="external">Registrieren Sie sich jetzt</span> </a>- es gibt noch einige freie Pl&auml;tze!</strong></p>
<p>Die OpenCms Days 2015 finden von Montag, 28. September bis Dienstag 29. September 2015 in K&ouml;ln statt.</p>
<h2>OpenCms 10 - X Marks The Spot</h2>
<p>H&ouml;hepunkt der diesj&auml;hrigen internationale OpenCms User Konferenz und Ausstellung wird die Vorstellung von OpenCms 10. Die neuen Funktionen von OpenCms 10 sind zum&nbsp; Beispiel ein neues Look and Feel der Workplace, ein erweiterter Datei Explorer, ein verbesserter Template Editor und vieles mehr. Zahlreiche Vortr&auml;ge stellen au&szlig;erdem Use Cases f&uuml;r OpenCms 9.5 vor.</p>
<p>Die Days sind eine phantastische Gelegenheit zum Erfahrungsaustausch mit hochqualifizierten Experten aus der ganzen Welt rund um das Thema "OpenCms".</p>
<p>Auf <a href="%(link2)" target="_self">http://opencms-days.org</a> finden Sie alle Informationen rund um dieses Event.</p>
<p>&nbsp;</p>
<p>Die OpenCms Days 2015 richten sich an ein internationales Publikum. Daher ist die Konferenzsprache Englisch.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/Collage_OpenCmsDays2015.png]]></target>
            <uuid>06291b18-1b0d-11e5-b511-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2015 finden am 28. und 29. September 2015 in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days Website, OpenCms Konferenz Programm, Content Management Konferenz , Open Source Konferenz]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Conference program for OpenCms Days 2015 published]]></Title>
    <Date>1439910000000</Date>
    <Preface><![CDATA[Check out the program for OpenCms Days 2015. The conference will take place September 28 to 29, 2015 in Cologne, Germany. A great opportunity for OpenCms users from all around the world to meet and exchange experiences and success stories.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/program/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org/registration/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The complete <a href="%(link0)" target="_self">conference program</a>&nbsp;for OpenCms Days 2015 is now online.</p>
<p>This is our seventh international OpenCms user conference, and a great opportunity for OpenCms users from all around the world to meet and exchange experiences and success stories.&nbsp;</p>
<p><strong><a href="%(link1)" target="_self"><span class="external">Register your ticket now</span> </a>- a limited number of seats is still available!</strong></p>
<p>OpenCms Days 2015 will take place from Monday, September 28 to Tuesday, September 29, 2015 in Cologne, Germany.</p>
<h2>OpenCms 10 - X Marks The Spot</h2>
<p>Highlight of the&nbsp;2015 international OpenCms user conference and expo will be the introduction&nbsp;of OpenCms 10. New features planned for OpenCms 10 include a new look and feel of the Workplace, an enhanced file explorer, improved template editor and many more. Several sessions will focus on&nbsp;advanced use cases of&nbsp;OpenCms 9.5 as well.</p>
<p>Bringing together the international OpenCms user community, OpenCms Days 2015 conference and expo will be the number one opportunity this year to learn about OpenCms 10 and 9.5 while getting in contact with leading OpenCms experts.</p>
<p>Visit&nbsp;<a href="%(link2)" target="_self">http://opencms-days.org</a>&nbsp;for all information on this event.</p>
<p>&nbsp;</p>
<p>OpenCms Days 2015 is targeted towards an international audience. The language spoken at the event is English, and all presentations will be held in English language.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/Collage_OpenCmsDays2015.png]]></target>
            <uuid>06291b18-1b0d-11e5-b511-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title/>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2015 take place September 28 - 29, 2015 in Cologne, Germany]]></Description>
      <Keywords><![CDATA[OpenCms Days website, OpenCms conference, Content Management conference, Open Source conference]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
