<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Days 2016 - Save the Date!]]></Title>
    <Date>1447927200000</Date>
    <Preface><![CDATA[Die OpenCms Days 2016 finden am 26. und 27. September in Köln statt. Jetzt Termin vormerken und "Early Bird" Tickets sichern!
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Montag, 26. bis Dienstag, 27 September 2016]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://opencms-days.org/speaking/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://opencms-days.org/sponsors/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Merken Sie sich diesen Termin schon heute vor und verpassen Sie nicht das gro&szlig;e Treffen der OpenCms Community im Herbst.</p>
<p>M&ouml;chten Sie Ihre OpenCms Erfolgsgeschichte pr&auml;sentieren? <a href="%(link0)" target="_self">Wir suchen Redner f&uuml;r das Programm</a>.</p>
<p>Werden Sie <a href="%(link1)" target="_self">Sponsor der OpenCms Days</a> und zeigen Sie Ihren Kunden und der Welt Ihr Engagement in der OpenCms Community.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_ver_sml.png]]></target>
            <uuid>28945539-5d52-11e6-9420-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[Die OpenCms Days 2016 - Save the date!]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Zur Webseite der OpenCms Days]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Die OpenCms Days 2016 finden am 26. und 27. September in Köln statt.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2016, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms Days 2016 - Save the date!]]></Title>
    <Date>1447927200000</Date>
    <Preface><![CDATA[OpenCms Days 2016 will take place from September 26 to 27 in Cologne, Germany. Save the date now and get your early bird tickets while still available!
]]></Preface>
    <Paragraph>
      <Caption><![CDATA[Monday 26 to Tuesday 27, September 2016 ]]></Caption>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://opencms-days.org/speaking/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://opencms-days.org/sponsors/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Please save this date to make sure you can attend the biggest OpenCms community conference next year.</p>
<p>Do you want to&nbsp;present your OpenCms success story? The <a href="%(link0)" target="_self">Call for Papers</a> is already open.</p>
<p><a href="%(link1)" target="_self">Sponsoring OpenCms Days</a> is a great opportunity for partners and community members to demonstrate&nbsp;their support for OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_ver_sml.png]]></target>
            <uuid>28945539-5d52-11e6-9420-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Days 2016 - Save the date!]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Check out the OpenCms Days conference website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.opencms-days.org]]></target>
          </link>
        </URI>
        <NewWindow>false</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms Days 2016 will take place from September 26 to 27 in Cologne, Germany.]]></Description>
      <Keywords><![CDATA[OpenCms Days 2016, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
