<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 10 Alpha 2 Release Notes]]></Title>
    <Date>1449673140000</Date>
    <Preface><![CDATA[The OpenCms 10 Alpha 2 release notes contain detailed information about the new features and fixes in this alpha version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p><span>Dezember&nbsp;9, 2015: OpenCms 10 Alpha 2 is available! Try&nbsp;out the forthcoming new features of OpenCms 10 with&nbsp;this second alpha release.</span></p>
<p><span class="label label-orange">Please note</span>: This alpha&nbsp;version&nbsp;is not feature complete! Some important functionalities are missing, these will be added in later alpha or beta release. We do not recommend to use this version&nbsp;in productive OpenCms environments.</p>
<h2>New&nbsp;in OpenCms 10</h2>
<ul>
<li>Modernized the look &amp; feel of the overall user interface*</li>
<li>Introduced the Launchpad as the central starting place for the user*</li>
<li>New file explorer with support for column sorting, filtering and large folders*</li>
<li>Developers can now export and import modules through a SMB network share*</li>
<li>New Git App allows committing of module content directly from the workplace*</li>
<li>New &lt;cms:search&gt; tag combines SOLR based resource collection and full text searches*</li>
<li>Drag and Drop of images directly in the page editor*</li>
<li>Copy groups allow creation of boiler plate layouts with text / images*</li>
<li>Reuse groups allow reusing nested container structures on several pages*</li>
<li>Users are identified with an identicon in the toolbar</li>
<li>Improved the template editor with support for inherited and disabled templates</li>
<li>New &lt;cms:edit&gt; tag allows editing of arbitary resources based on UID</li>
<li>Added a reset password option to the login dialog</li>
<li>Nested container structures can now be copied using the clipboard</li>
<li>Support for local configuration change sets based on XSLT</li>
<li>Modules can be exported with a reduced manifest.xml to avoid merge conflicts</li>
<li>Optimized resources types, formatters and views in the demo template application</li>
<li>Updated the responsive demo template based on Bootstrap</li>
</ul>
<p>Items marked with * are considered important improvements in this version.</p>
<h2>Improved in OpenCms 10 Alpha 2 over Alpha 1</h2>
<ul>
<li>Copy or move resources with drag and drop in the new explorer.</li>
<li>Upload files with drag and drop from the local desktop to the new explorer.</li>
<li>Quick navigation with keyboard shortcuts in the new explorer.</li>
<li>Added create resource dialog to new explorer.</li>
<li>Added change resource type dialog to new explorer.</li>
<li>Added lock/unlock/steal lock dialog to new explorer.</li>
<li>Added copy to project dialog to new explorer.</li>
<li>Added publish scheduled dialog to new explorer.</li>
<li>Added restore deleted dialog to new explorer.</li>
<li>Added secure/export dialog to new explorer.</li>
<li>Added resource info dialog to new explorer.</li>
<li>Added assign categories dialog to new explorer.</li>
<li>Added gallery dialog to new explorer.</li>
<li>Added project select dialog to new explorer.</li>
<li>Nicer default error page used for 404 and 500 server errors.</li>
<li>Separated several old workplace dialog classes from the core.</li>
<li>Support for static resource loading from classpath.</li>
<li>Merged all GWT based modules into a single one to improve page load time.</li>
<li>Improved workplace error dialog.</li>
<li>Fixed security issue advisory ID SYSS-2015-063 with XSS in displayresource.jsp.</li>
<li>Fixed security issue related to commons collections library.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG&nbsp;inline editing of web pages&nbsp;and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo&nbsp;template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 10 Alpha 2 is fully backward compatible with all 9.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10 Alpha 2.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE:</span> OpenCms&nbsp;10 Alpha 2 will not work with current versions of Alkacon OCEE. There will be an updated OCEE available for the final release of OpenCms 10. The&nbsp;update will be free for Alkacon customers with a valid OCEE update subscription.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms&nbsp;10 Alpha 2 has been written and tested for Java 8 and Java 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs. Regarding Java 8, we have problems finding Java 8 compliant versions of all used external components. We hope to offer full support for Java 8 in the next major release.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 8, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, BEA, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link0)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms development sources from Git, please check out "branch_10_0_x". The&nbsp;10 Alpha 2 release is tagged "build_10_0_0_alpha_2".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link1)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link2)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms&nbsp;10 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 10 Alpha 2, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
