<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 10 Beta Release Notes]]></Title>
    <Date>1456397940000</Date>
    <Preface><![CDATA[The OpenCms 10 Beta release notes contain detailed information about the new features and fixes in this beta version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p><span>Dezember&nbsp;9, 2015: OpenCms 10 Beta is available! Try&nbsp;out the forthcoming new features of OpenCms 10 with&nbsp;this beta release.</span></p>
<p><span class="label label-orange">Please note</span>: This beta version&nbsp;is considered feature complete! We do not recommend to use this version&nbsp;in productive OpenCms environments.</p>
<h2>New&nbsp;in OpenCms 10</h2>
<ul>
<li>Modernized the look &amp; feel of the overall user interface*</li>
<li>Introduced the Launchpad as the central starting place for the user*</li>
<li>New file explorer with support for column sorting, filtering and large folders*</li>
<li>Developers can now export and import modules through a SMB network share*</li>
<li>New Git App allows committing of module content directly from the workplace*</li>
<li>New &lt;cms:search&gt; tag combines SOLR based resource collection and full text searches*</li>
<li>New &lt;cms:display&gt; tag generates the&nbsp;output&nbsp;for a&nbsp;single&nbsp;resource with a selected&nbsp;formatter*</li>
<li>New &lt;cms:edit&gt; tag allows editing of arbitary resources based on UID*</li>
<li>Drag and Drop of images directly in the page editor*</li>
<li>Reuse groups allow reusing nested container structures on several pages*</li>
<li>Copy groups allow creation of boiler plate layouts with text / images*</li>
<li>Users are identified with an identicon or a personal image in the toolbar</li>
<li>Improved the template editor with support for inherited and disabled templates</li>
<li>Added a reset password option to the login dialog</li>
<li>Nested container structures can now be copied using the clipboard</li>
<li>Support for local configuration change sets based on XSLT</li>
<li>Modules can be exported with a reduced manifest.xml to avoid merge conflicts</li>
<li>Optimized resources types, formatters and views in the demo template application</li>
<li>Updated the responsive demo template based on Bootstrap</li>
</ul>
<p>Items marked with * are considered important improvements in this version.</p>
<h2>Improved in OpenCms 10 Beta over Alpha 2</h2>
<ul>
<li>Added permission dialog to the new explorer</li>
<li>Added history dialog to the new explorer</li>
<li>Added "step through" feature to the properties dialog</li>
<li>Added "copy stack trace" function to the error dialog</li>
<li>Added &lt;cms:display&gt; tag for output generation in search list results</li>
<li>Added personal user image upload to the toolbar user info dialog</li>
<li>Added replace dialog to the new explorer</li>
<li>Added edit pointer dialog to the new explorer</li>
<li>Added tool tips for disabled context menu entries in the new explorer</li>
<li>Added option to edit the current sitemap configuration from the sitemap editor</li>
<li>Added publish queue dialog to new explorer</li>
<li>Added siblings tab to info dialog in the new explorer</li>
<li>Added optional text info fields for tabs in the form based editor</li>
<li>Added support for grouping content types in sub views for the "add new" dialog</li>
<li>Added template select widget to the site manager "add new site" dialog</li>
<li>Added options to SOLR search for multiple facets on one field</li>
<li>Added support for macro formatters</li>
<li>The Git integration app now allows to pull and import selected modules</li>
<li>The improvements / fixes made in OpenCms 9.5.3 have been integrated in 10 Beta</li>
<li>Improved and unified error dialog layout</li>
<li>Improved container page XML cleanup on save</li>
<li>Improved toolbar buttons to be disabled in online project</li>
<li>Removed no longer required core modules</li>
<li>Separated old workplace classes and resources from standard core</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 10.0.0 Beta is fully backward compatible with all 9.x versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10.0.0 Beta.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE:</span> OpenCms&nbsp;10.0.0 Beta will not work with current versions of Alkacon OCEE. There will be an updated OCEE available for the final release of OpenCms 10. The&nbsp;update will be free for Alkacon customers with a valid OCEE update subscription.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms&nbsp;100.0 Beta has been written and tested for Java 8 and Java 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7 and 8, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, Weblogic, Websphere, Glassfish and Resin Professional.</p>
<p>On the database side, we have tested with MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link0)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms development sources from Git, please check out "branch_10_0_x". The&nbsp;10.0.0 Beta release is tagged "build_10_0_0_beta".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link1)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link2)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms&nbsp;10 Beta :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 10 Beta, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
