<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 10 Release Notes]]></Title>
    <Date>1458730740000</Date>
    <Preface><![CDATA[The OpenCms 10 release notes contain detailed information about the new features and fixes in this version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p>March 23, 2016: OpenCms 10 - X marks the spot. Being the greatest OpenCms update for years, version 10 brings a vastly improved user experience that combines the intuitive "Direct Edit" approach of OpenCms with a new, well integrated Launchpad app center. OpenCms 10 also ships with the new, responsive Apollo Template. Based on Bootstrap, the Apollo Template is fully customizable without coding.</p>
<h2>New&nbsp;in OpenCms 10</h2>
<ul>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Modernized the look &amp; feel of the overall user interface*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">New ready-to-use responsive Apollo Template based on Bootstrap*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Introduced the Launchpad as the central app starting place for the user*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Drag and Drop of images directly in the web page editor*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">New file explorer with support for column sorting, filtering and large folders*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Developers can now export and import modules through a SMB network share*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">New Git app allows pushing and pulling of module content directly from the workplace*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">New &lt;cms:search&gt; tag combines SOLR based resource collection and full text searches*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">New &lt;cms:display&gt; tag generates the output for a single resource with a selected formatter*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">New &lt;cms:edit&gt; tag allows editing of arbitrary resources based on UID*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Reuse groups allow reusing nested container structures on several pages*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Copy groups allow creation of boiler plate layouts with text / images*</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Users are identified with an identicon or a personal image in the toolbar</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Improved the template editor with support for inherited and disabled templates</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Added a "reset password" option to the login dialog</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Nested container structures can now be copied using the clipboard</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Macro formatters allow to quickly compose new formatters from existing JSP</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Support for system configuration change sets based on XSLT</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Modules are exported with a reduced manifest.xml to avoid merge conflicts</li>
</ul>
<p>Items marked with * are considered important improvements in this version.</p>
<h2>Improved in OpenCms 10 Final over 10 Beta</h2>
<ul style="box-sizing: border-box; border-radius: 0px; margin-top: 0px; margin-bottom: 10px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20.8px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Added user info dialog and quick launch menu to Page and Sitemap editor toolbar</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Added editor to allow individual customization of the quick launch menu</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Added option to upload a personal image in the user info dialog</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Improved workplace dialog key bindings with 'Enter' and 'Esc' shortcuts</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Improved binary and image file indexing for all configured locales</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Improved error dialog in direct edit view with "Copy to clipboard" function</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Improved site selector paging in the Explorer</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Improved copy/move dialog to preset target folder to current folder</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue with role checks and permission for the new workplace apps</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue with visibility check in explorer context menu in case of multi selects</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue in permission dialog where it was not possible to add role based entries</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue in permission dialog where inherited entries where not displayed correctly</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue with "Create new" dialog where resources where created to early</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue in the Page editor where elements where wrongly marked as new</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Fixed issue with invisible scroll bars in select boxes on Mac OS</li>
</ul>
<h2>General OpenCms features</h2>
<ul style="box-sizing: border-box; border-radius: 0px; margin-top: 0px; margin-bottom: 10px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20.8px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">The form based editor allows editing of structured content in a well defined form mask.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Responsive demo template based on Bootstrap 3.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Content creation for mobile devices with preview and device specific content control.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Structured contents can be defined using a simple XML schema.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Link management for all internal resources with broken link detection.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Integrated image scaling and cropping.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">SEO features with automatic sitemap.xml generation and page alias support.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Allows management of multiple websites within one installation.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Contents can be served dynamically or exported to static HTML files.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Direct access to the OpenCms content repository over a shared network drive.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">CMIS and WebDAV access to the OpenCms content repository.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">Extensions can be added through a flexible module system.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li style="box-sizing: border-box; border-radius: 0px; color: #555555;">... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 10.0.0 is fully backward compatible with all 9.0 and 9.5 versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10.0.0.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE:</span> Users of Alkacon OCEE require a new OCEE version for OpenCms 10. The update is free for Alkacon customers with a valid OCEE update subscription. <a href="%(link0)" target="_blank">Please contact Alkacon</a> to receive the new version.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms&nbsp;100.0 has been written and tested for Java 8 and Java 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 8 or 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, Weblogic, Websphere, Glassfish and Resin.</p>
<p>On the database side, we have tested with MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link1)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms development sources from Git, please check out "branch_10_0_x". The&nbsp;10.0.0 release is tagged "build_10_0_0".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link2)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link3)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms&nbsp;10 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 10. OpenCms brings a vastly improved user experience that combines the intuitive "Direct Edit" approach of OpenCms with a new, well integrated Launchpad app center. OpenCms 10 also ships with the new, responsive Apollo Template based on Bootstrap.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
