<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 10.0.1 Release Notes]]></Title>
    <Date>1465901940000</Date>
    <Preface><![CDATA[The OpenCms 10.0.1 release notes contain detailed information about the updates and fixes in this version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p>June 14, 2016: OpenCms 10.0.1 is a maintenance update for OpenCms 10 that fixes a number of issues discovered in the 10.0.0 release.</p>
<h2>Improved in OpenCms 10.0.1</h2>
<ul>
<li>Improved drag and drop performance in container page editor for pages with many containers</li>
<li>Improved performance of the clipboard and favorites menu</li>
<li>Fixed issue #388 where reading macro formatters failed in case a ".formatters" folder did not exist</li>
<li>Fixed issue #389 where GWT serialization policy files could not be loaded</li>
<li>Fixed issue #396 where user generated blog entries could not be saved</li>
<li>Fixed issue #400 where reading formatter configuration could cause NPE</li>
<li>Pull request #361 improves Spanish localization (by serrapos)</li>
<li>Pull request #371 fixes issue with&nbsp;reading configuration when no Offline project is present (by StephanSchrader)</li>
<li>Pull request #374 improves German localization (by veggie)</li>
<li>Pull request #399 fixes issue with&nbsp;wrong keyboard shortcut being&nbsp;displayed in CodeMirror plugin (by gallardo)</li>
<li>Fixed issue with synchronization start button not being correctly displayed</li>
<li>Fixed issue with non UTF-8 system encoding for macro formatters</li>
<li>Fixed issue with&nbsp;opening the quick launch menu failing&nbsp;sometimes</li>
<li>Fixed issue with inline editing not matching selected element view</li>
<li>Fixed issue with explorer lock conflict warning not shown before&nbsp;direct publish</li>
<li>Fixed issue with explorer context menu entry visibility</li>
<li>Fixed issue with internal cache performance</li>
<li>Fixed issue with macro formatter caching</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>Drag and Drop of images directly in the web page.</li>
<li>Create new pages and re-arrange the navigation tree by drag &amp; drop in the sitemap editor.</li>
<li>Responsive "Apollo" demo template based on Bootstrap 3.</li>
<li>Content types are defined using a simple XML schema.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Content repository explorer with support for column sorting, filtering and large size folders.</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>Integrated Git app allows pushing and pulling of module content directly from/to the repository.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 10.0.1 is fully backward compatible with all 10.0, 9.5 and 9.0 versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10.0.1.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE:</span> Users of Alkacon OCEE require a new OCEE version for OpenCms 10.0.1. The update is free for Alkacon customers with a valid OCEE update subscription. <a href="%(link0)" target="_blank">Please contact Alkacon</a> to receive the new version.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms&nbsp;10.0.1 has been written and tested for Java 8 and Java 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 8 or 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, Weblogic, Websphere, Glassfish and Resin.</p>
<p>On the database side, we have tested with MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link1)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms development sources from Git, please check out "branch_10_0_x". The&nbsp;10.0.1 release is tagged "build_10_0_1".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link2)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link3)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms&nbsp;10 :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 10.0.1. OpenCms brings a vastly improved user experience that combines the intuitive "Direct Edit" approach of OpenCms with a new, well integrated Launchpad app center. OpenCms 10 also ships with the new, responsive Apollo Template based on Bootstrap.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
