<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 10.5 Beta verfügbar]]></Title>
    <Date>1474896600000</Date>
    <Preface><![CDATA[OpenCms 10.5 Beta bietet einen vollständigen Eindruck von OpenCms 10.5. Diese ist die einzige Vorab-Version vor der Veröffentlichung von OpenCms 10.5, die gegen Ende November erfolgt. Für das finale Release sind nur noch kleinere GUI-Updates, sowie Verbesserungen im Demo-Template vorgesehen.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/160926-opencms-105-beta-releasenotes.html]]></target>
            <uuid>812da9fc-7ff4-11e6-9420-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 10.5 Beta bietet einen vollst&auml;ndigen Eindruck von OpenCms 10.&nbsp;Diese ist die letzte Vorab-Version vor der Ver&ouml;ffentlichung von OpenCms 10. Die Beta&nbsp;kann ab sofort von der <a title="offizielle OpenCms Website" href="%(link0)" target="_self">OpenCms Website</a> heruntergeladen werden. Entdecken Sie schon vorab&nbsp;die tolle neue Benutzeroberfl&auml;che und weitere Funktionen&nbsp;der n&auml;chsten OpenCms Generation.</p>
<p>Die OpenCms 10.5 Funktionen dieser Beta sind vollst&auml;ndig!&nbsp;F&uuml;r das finale Release sind nur noch kleinere GUI-Updates, sowie Verbesserungen im Demo-Template vorgesehen. Wenn Sie ein Update auf OpenCms 10.5 nach dem finalen Release planen, dann sollten Sie diese Beta zum testen Ihrer Templates verwenden.</p>
<h2>Neu in OpenCms 10.5</h2>
<ul>
<li>Lokalisierung: Vergleiche lokalisierte Subsites Seite an Seite.</li>
<li>Lokalisierung: Kopiere Seiten von einer zur anderen Sprache, inklusive Inhalt.</li>
<li>Lokalisierung: Message Bundle &Uuml;bersetzer.</li>
<li>Lokalisierung: Verbinde die gleiche Seite in verschiedenen Sprachen mit Sprachrelationen.</li>
<li>Lokalisierung: Unterst&uuml;tzung f&uuml;r lokalisierte Eigenschaften.</li>
<li>Asset Verbindung: Datenanzeige Widget API erlaubt die native Integration von externen Assets im Content Editor.</li>
<li>Asset Verbindung: Unterst&uuml;tzung zur Benutzung externer Assets in Templates mit EL Funktionen.</li>
<li>Erweiterte Onlinevorschau im Seiteneditor verbirgt von OpenCms zugef&uuml;gtes Markup f&uuml;r HTML Debugging.</li>
<li>Das Apollo Template wurde stark erweitert mit neuen Optionen und Funktionen.</li>
<li>Sicherheit: Option zum Ablaufen von Passw&ouml;rtern hinzugef&uuml;gt.</li>
<li>Sicherheit: Indikator f&uuml;r Passwortst&auml;rke im Passwortdialog hinzugef&uuml;gt.</li>
<li>Sicherheit: Neuer Dialog "Nutzer editieren" erlaubt Benutzer die Bearbeitung pers&ouml;nlicher Informationen.</li>
<li>Sicherheit: Neuer optionaler Dialog "Bes&auml;tige pers&ouml;nliche Daten" nach Benutzer Login.</li>
<li>Vereinheitlichung der Toolbar und Kontext Men&uuml;s f&uuml;r Editoren und Workplace.</li>
<li>Verbessertes Verhalten beim Umschalten zwischen Workplace und Editor.</li>
<li>Unterst&uuml;tzung f&uuml;r hochaufl&ouml;sende Retina Bildschirme durch Nutzung von Schrift Icons.</li>
<li>Tastaturk&uuml;rzel: "Wechsele Element Sichten" im Seiteneditor (Strg-E).</li>
<li>Tastaturk&uuml;rzel: "Wechsele &uuml;berlappende Beabrieungspunkte" im Seiteneditor (Strg-Shift-E).</li>
<li>Tastaturk&uuml;rzel: "Speichern" und "Speichern und Schlie&szlig;en" zum Inhalteseditor hinzugef&uuml;gt (Strg-S, Strg-Shift-S).</li>
<li>Tastaturk&uuml;rzel: Option zum Anzeigen des "Kopieren oder Wiederverwenden" Dialogs nach Drag &amp; Drop (Strg + mouse up).</li>
<li>Seiteneditor "merkt sich" jetzt den letzten ausgew&auml;hlten Formatter eines Inhaltstypen als Standard.</li>
<li>Optionale "Zeige Copyright" Spalte zum Explorer hinzugef&uuml;gt.</li>
<li>Kategorien, die an Inhalten gesetzt werden, werden jetzt in der Relation Engine gespeichert, nicht im XML.</li>
<li>Neue JSP EL Funktionen zum Lesen von Kategorien einer Ressource hinzugef&uuml;gt.</li>
<li>Neue JSP EL Funktionen zum Lesen von Sprachrelationen einer Seite hinzugef&uuml;gt.</li>
<li>Berechtigung zum Bearbeiten von JSPs verlagert von Rolle "Template Entwickler" zu "VFS Manager".</li>
<li>Erweiterte Makro Formatter f&uuml;r besseres Verhalten von neuen Inhalten.</li>
</ul>
<p>Eine vollst&auml;ndige Liste der Neuerungen steht in den englischen <a href="%(link1)" target="_self">Release Notes</a>.</p>
<div>
<h2>Allgemeine Funktionen von OpenCms</h2>
<ul>
<li>Der Seiteneditor erm&ouml;glicht WYSIWYG "in place" Bearbeiten von Webseiten und Anordnen von Inhalt mit Drag &amp; Drop.</li>
<li>Der formbasierte Editor erm&ouml;glicht das Bearbeiten von Inhalt in einer strukturierten Eingabemaske.</li>
<li>Mit dem Sitemap Editor k&ouml;nnen neue Seiten angelegt und der Navigationsbaum per Drag &amp; Drop ver&auml;ndert werden.</li>
<li>Responsives Demo Template basierend auf Bootstrap 3.</li>
<li>Inhalterstellung f&uuml;r mobile Endger&auml;te mit Vorschaufunktion und ger&auml;teabh&auml;ngiger Auslieferung von Inhalten.</li>
<li>Strukturierte Inhalte k&ouml;nnen durch einfache XML Schemas definiert werden.</li>
<li>Einfach zu bedienender "Online / Offline" Workflow, &Auml;nderungen m&uuml;ssen freigegeben werden bevor sie "online" gehen.</li>
<li>Linkmanagement f&uuml;r alle internen Ressourcen mit Meldung von ung&uuml;ltigen Links.</li>
<li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
<li>SEO Funktionen (Suchmaschinenoptimierung) mit automatischer sitemap.xml Generierung und Alias Support.</li>
<li>Vollst&auml;ndige Benutzerverwaltung inklusive Unterst&uuml;tzung von "Organisationseinheiten".</li>
<li>Mandantenf&auml;hig, mehrere Websites k&ouml;nnen in einer OpenCms Installation verwaltet werden.</li>
<li>Inhalte k&ouml;nnen dynamisch ausgeliefert oder als statische HTML Seiten exportiert werden.</li>
<li>CMIS und webDAV als Zugriffsm&ouml;glichkeiten zum OpenCms Content Repository.</li>
<li>Integration von Apache SOLR f&uuml;r m&auml;chtige Suchfunktionen sowie noSQL &auml;hnlichen Abfragen.</li>
<li>Volltextsuche auf Webseiten, aber auch in PDF, MS Office und Open Office Dokumenten.</li>
<li>Erweiterungen werden &uuml;ber ein flexibles Modulsystem verwaltet.</li>
<li>Die "Time Warp" Funktion erm&ouml;glicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr g&uuml;ltig sind.</li>
<li>JSP Integration f&uuml;r das Erstellen von Templates und anderen dynamischen Funktionen.</li>
<li>... und vieles mehr.</li>
</ul>
</div>
<p>OpenCms&nbsp;10.5 Beta ist voll abw&auml;rtskompatibel zu allen vorherigen 9er und 10er Versionen. Templates und andere OpenCms Anwendungen aus diesen Versionen sollten ohne Weiteres auf Version&nbsp;10.5 Beta laufen.</p>
<p>Benutzer von Alkacon OCEE ben&ouml;tigen eine neue OCEE Version f&uuml;r OpenCms 10.5. Ein Update von Alkacon OCEE wird f&uuml;r die finale Version 10.5 erh&auml;ltlich sein. Das Update ist f&uuml;r Alkacon Kunden mit einem OCEE Update Abonnement kostenlos.</p>
<h2>&Uuml;ber OpenCms</h2>
<p>OpenCms ist eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme. Die Software wird seit dem Jahr 2000 st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfl&auml;che ist vollst&auml;ndig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p>
<p>Die Alkacon Software GmbH aus K&ouml;ln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produkt&uuml;bersicht" href="%(link2)" target="_self">Alkacon Produkt&uuml;bersicht</a> f&uuml;r weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link3)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich f&uuml;r die Unterst&uuml;tzung von allen, welche diese neue Version von OpenCms erm&ouml;glicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_10_5_0_beta.png]]></target>
            <uuid>2d36f1ba-819e-11e6-9420-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 10.5 Beta]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 10.5 Beta von Alkacon ermöglicht das Erstellen von Templates ohne Programmierung, sowie andere Features wie User Generated Content, PDF Erstellung, überarbeitete Dokumentation und vieles mehr - präsentiert in einer Demo Website im responsive Design basierend auf Bootstrap. Kostenloser Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 10.5.0 Beta, OpenCms 10, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, major release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 10.5 Beta available]]></Title>
    <Date>1474896600000</Date>
    <Preface><![CDATA[OpenCms 10.5 Beta provides a feature complete look at OpenCms 10.5. This will be the only pre-release version before OpenCms 10.5.0 is published, which is expected by the end of November. Only minor GUI updates, as well as improvements to the demo template, will be made for the final release. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/160926-opencms-105-beta-releasenotes.html]]></target>
            <uuid>812da9fc-7ff4-11e6-9420-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 10.5 Beta provides a complete look at OpenCms 10.&nbsp;This will be the only pre-release version before OpenCms 10.5.0 is published, which is expected by the end of November. <a title="Download OpenCms 10 Beta from the official website opencms.org" href="%(link0)" target="_self">Download</a> this beta release to get an advance look of the great new user interface and the other improvements of the next OpenCms generation.</p>
<p>This beta version is considered feature complete! All important functionalities are in place. Only minor GUI updates, as well as improvements to the demo template, will be made for the final release. In case you plan to upgrade to OpenCms 10.5 when it's released, we recommend to use this beta for testing your templates in the new version.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<h2>New in OpenCms 10.5</h2>
<ul>
<li>Localization: Compare localized subsites side-by-side.</li>
<li>Localization: Copy pages from one language to another, including content.</li>
<li>Localization: Message bundle translator.</li>
<li>Localization: Connect the same page in different languages using locale relations.</li>
<li>Localization: Connect the same page in different languages using locale relations.</li>
<li>Localization: Support for localized properties.</li>
<li>Asset Connection: Data view widget API allows to natively integrate external assets in the content editor.</li>
<li>Asset Connection: Support for using external assets in templates through EL functions.</li>
<li>Enhanced online preview in the page editor hides all OpenCms added markup for HTML debugging.</li>
<li>The Apollo Template has been greatly enhanced with new options and functionality.</li>
<li>Security: Added password expiration option.</li>
<li>Security: Added password strength indicator in password dialog.</li>
<li>Security: Added dialog "Edit user" so users can update their personal information.</li>
<li>Security: Added optional "Confirm personal information" dialog after user login.</li>
<li>Unified toolbar appearance and context menus for editors and workplace.</li>
<li>Improved behaviour when switching between workplace and editor views.</li>
<li>Support for high resolution retina screens by using font icons.</li>
<li>Keyboard shortcuts: Added "step through element views" to page editor (Ctrl-E).</li>
<li>Keyboard shortcuts: Added "step through overlapping edit points" to page editor (Ctrl-Shift-E).</li>
<li>Keyboard shortcuts: Added "save" and "save and exit" to content editor (Ctrl-S, Ctrl-Shift-S).</li>
<li>Keyboard shortcuts: Added option to show "copy or reuse" dialog after drag &amp; drop (Ctrl + mouse up).</li>
<li>Page editor now "remembers" the last formatter set for a content type as default.</li>
<li>Added optional "Show copyright" column to the Explorer.</li>
<li>Categories attached to contents are now by default stored in the relation engine, not the XML.</li>
<li>Added JSP EL functions to read categories from a resource.</li>
<li>Added JSP EL functions to read locale relations for a page.</li>
<li>Transferred edit JSP permission from "Template developer" role to "VFS manager" role.</li>
<li>Extended macro formatters for better handling of new contents.</li>
</ul>
<p>Please check out the <a title="OpenCms 10.5 Beta release notes" href="%(link1)" target="_self">release notes</a> for further details regarding the changes in this release.</p>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<p>We recommend everyone who uses OpenCms to test the 10.5 Beta release. OpenCms 10.5 Beta is fully backward compatible to all prior 9.x&nbsp; and 10.x versions. Templates and other OpenCms developed code from these versions work "out of the box" with version 10.5 Beta.</p>
<p>Users of Alkacon OCEE require a new OCEE version for OpenCms 10.5. There will be an updated OCEE package available for the final release of OpenCms 10.5. The update will be free for Alkacon customers with a valid OCEE update subscription.</p>
<h2>About OpenCms</h2>
<p>OpenCms is a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 15 years and has an active community of Open Source developers.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the <a title="Alkacon product overview" href="%(link2)">Alkacon product overview</a> for more details.</p>
<p>The team at <a title="Alkacon Software - The OpenCms Experts" href="%(link3)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_10_5_0_beta.png]]></target>
            <uuid>2d36f1ba-819e-11e6-9420-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 10.5 Beta]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 10.5 Beta from Alkacon offers template creation without the need to code, plus other features like user generated content, on-the-fly PDF generation, greatly improved documentation and much more - all presented in a responsive demo website based on Bootstrap. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 10.5.0 Beta, Java CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
