<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 10.5 Beta Release Notes]]></Title>
    <Date>1474896540000</Date>
    <Preface><![CDATA[The OpenCms 10.5 Beta release notes contain detailed information about the new features and fixes in this beta version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p>September 26, 2016: OpenCms 10.5 Beta provides a first impression of OpenCms 10.5. This will be the only pre-release version before OpenCms 10.5.0 is published, which is expected by the end of November.</p>
<p>Please note: This beta version is considered mostly feature complete! Many important functionalities are in place, yet some improvements need to be made for the final release. If you plan to upgrade to OpenCms 10.5 when it's released, we recommend to use this beta for testing your templates for the new version.</p>
<p>&nbsp;New&nbsp;in OpenCms 10.5</p>
<ul>
<li>Localization: Compare localized subsites side-by-side.*</li>
<li>Localization: Copy pages from one language to another, including content.*</li>
<li>Localization: Message bundle translator.*</li>
<li>Localization: Connect the same page in different languages using locale relations.*</li>
<li>Localization: Connect the same page in different languages using locale relations.*</li>
<li>Localization: Support for localized properties.*</li>
<li>Asset Connection: Data view widget API allows to natively integrate external assets in the content editor.*</li>
<li>Asset Connection: Support for using external assets in templates through EL functions.*</li>
<li>Enhanced online preview in the page editor hides all OpenCms added markup for HTML debugging.*</li>
<li>The Apollo Template has been greatly enhanced with new options and functionality.*</li>
<li>Security: Added password expiration option.</li>
<li>Security: Added password strength indicator in password dialog.</li>
<li>Security: Added dialog "Edit user" so users can update their personal information.</li>
<li>Security: Added optional "Confirm personal information" dialog after user login.</li>
<li>Unified toolbar appearance and context menus for editors and workplace.</li>
<li>Improved behaviour when switching between workplace and editor views.</li>
<li>Support for high resolution retina screens by using font icons.</li>
<li>Keyboard shortcuts: Added "step through element views" to page editor (Ctrl-E).</li>
<li>Keyboard shortcuts: Added "step through overlapping edit points" to page editor (Ctrl-Shift-E).</li>
<li>Keyboard shortcuts: Added "save" and "save and exit" to content editor (Ctrl-S, Ctrl-Shift-S).</li>
<li>Keyboard shortcuts: Added option to show "copy or reuse" dialog after drag &amp; drop (Ctrl + mouse up).</li>
<li>Page editor now "remembers" the last formatter set for a content type as default.</li>
<li>Added optional "Show copyright" column to the Explorer.</li>
<li>Categories attached to contents are now by default stored in the relation engine, not the XML.</li>
<li>Added JSP EL functions to read categories from a resource.</li>
<li>Added JSP EL functions to read locale relations for a page.</li>
<li>Transferred edit JSP permission from "Template developer" role to "VFS manager" role.</li>
<li>Extended macro formatters for better handling of new contents.</li>
</ul>
<p>Items marked with * are considered important improvements in this version.</p>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 10.5 Beta is fully backward compatible with all 9.x and 10.0 versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10.5 Beta.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE:</span> Users of Alkacon OCEE require a new OCEE version for OpenCms 10.5. There will be an updated OCEE package available for the final release of OpenCms 10.5. The update will be free for Alkacon customers with a valid OCEE update subscription.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms&nbsp;10.5 Beta has been written and tested for Java 8 and Java 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 7 and 8, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, Weblogic, Websphere, Glassfish and Resin.</p>
<p>On the database side, we have tested with MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link0)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms development sources from Git, please check out "branch_10_5_x". The&nbsp;10.0.0 Beta release is tagged "build_10_5_0_beta".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link1)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link2)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms&nbsp;10.5 Beta :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 10.5 Beta, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
