<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software ist jetzt eine GmbH & Co. KG]]></Title>
    <Date>1477994400000</Date>
    <Preface><![CDATA[Die Alkacon Software GmbH hat ihre Unternehmensform zur Alkacon Software GmbH & Co. KG geändert.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die Alkacon Software GmbH hat ihre Unternehmensform zur Alkacon Software GmbH &amp; Co. KG ge&auml;ndert.</p>
<p>Die Umwandlung soll das weitere Firmenwachstum unterst&uuml;tzen.&nbsp;</p>
<p>Die Alkacon Software GmbH &amp; Co. KG ist der im Handelsregister eingetragene Rechtsnachfolger der Alkacon Software GmbH. Alle aktuellen Kundenbeziehungen, sowie alle laufenden OpenCms Supportvertr&auml;ge, werden ohne Unterbrechnug fortgesetzt.&nbsp;</p>
<p>Unsere neue Firmenbezeichnung lautet vollst&auml;ndung:</p>
<p><strong>Alkacon Software GmbH &amp; Co. KG</strong><span>&nbsp;</span><br /><span>An der Wachsfabrik 13&nbsp;</span><br /><span>DE-50996 K&ouml;ln&nbsp;</span><br /><br /><span>Tel: +49 (0)2236 3826-0&nbsp;</span><br /><span>Fax: +49 (0)2236 3826-20&nbsp;</span><br /><br /><span>Registergericht: Amtsgericht K&ouml;ln, HRA 32185&nbsp;</span><br /><span>USt-IdNr.: DE259882372&nbsp;</span><br /><br /><span>Vertreten durch:&nbsp;</span><br /><span>Alkacon Verwaltungs GmbH&nbsp;</span><br /><span>Gesch&auml;ftsf&uuml;hrer: Alexander Kandzior&nbsp;</span><br /><span>Registergericht: Amtsgericht K&ouml;ln, HRB 88218</span></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software hat seine Unternehmensform in GmbH & Co. KG geändert.]]></Description>
      <Keywords><![CDATA[Alkacon Software GmbH & Co. KG, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software now a GmbH & Co. KG]]></Title>
    <Date>1477994400000</Date>
    <Preface><![CDATA[Alkacon Software GmbH has changed its company form to GmbH & Co. KG. 
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software GmbH has changed its company form to GmbH &amp; Co. KG.</p>
<p>The change has been made to support further company growth.</p>
<p>Alkacon Software GmbH &amp; Co. KG is the legal successor of Alkacon Software GmbH. All current OpenCms support contracts and other customer relationships are continued without interruption.</p>
<p>Alkacon Software operates in Germany under German company law. A GmbH &amp; Co. KG. is a German limited commercial partnership (KG) consisting of a general partner (GmbH) and a limited partner (members of the GmbH).&nbsp;</p>
<p>Our new company information in full detail:</p>
<p><strong>Alkacon Software GmbH &amp; Co. KG</strong>&nbsp;<br />An der Wachsfabrik 13&nbsp;<br />DE-50996 K&ouml;ln&nbsp;<br /><br />Tel: +49 (0)2236 3826-0&nbsp;<br />Fax: +49 (0)2236 3826-20&nbsp;<br /><br />Registergericht: Amtsgericht K&ouml;ln, HRA 32185&nbsp;<br />USt-IdNr.: DE259882372&nbsp;<br /><br />Vertreten durch:&nbsp;<br />Alkacon Verwaltungs GmbH&nbsp;<br />Gesch&auml;ftsf&uuml;hrer: Alexander Kandzior&nbsp;<br />Registergericht: Amtsgericht K&ouml;ln, HRB 88218</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon Software has changed its company form to GmbH & Co. KG]]></Description>
      <Keywords><![CDATA[Alkacon Software GmbH & Co. KG, Alkacon, OpenCms, Community, Java, CMS, Open Source, Content, Management, System, Software, Webpage, Editor]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
