<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 10.5.2 Release Notes]]></Title>
    <Date>1499862540000</Date>
    <Preface><![CDATA[The OpenCms 10.5.2 release notes contain detailed information about the new features and fixes in this version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/apollo-template]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p><span>July 12, 2017: OpenCms 10.5.2 is a maintenance release&nbsp;for OpenCms 10.5. This version fixes a number of issues that have been detected in OpenCms 10.5, and includes several performance and some security enhancements.</span></p>
<h2>New in OpenCms 10.5.2</h2>
<ul>
<li>Copy / move dialog now allows naming of target files and better handles deleted and unreleased resources.</li>
<li>Added option to configure multiple URLs for the workplace server.</li>
</ul>
<h2>Improved in OpenCms 10.5.2</h2>
<ul>
<li>Updated TinyMCE to version 4.6.2 to fix issue #508.</li>
<li>Performance: Reduced synchronization.</li>
<li>Performance: Updated LRUMap implementation.</li>
<li>Performance: Improved role inheritance to avoid unnecessary UUID generation.</li>
<li>Performance: Improved workplace bundle access.</li>
<li>Performance: Option to speed up XML unmarshalling by setting SAX parser configuration in system properties.</li>
<li>Security: Fixed permission issue on account manager dialogs where non account manager users where able to view users list.</li>
<li>Improved unique file name generator to also check for existing online resources too.</li>
<li>ADE configuration initialization now happens at startup to avoid long response times on first page view.</li>
<li>Fixed issue with accessing related resources from other sites in various workplace dialogs.</li>
<li>Fixed issue where closing the HTML source view would introduce additional tags.</li>
<li>Fixed issue #478 where validation state was not cleared on editor close.</li>
<li>Fixed issue #484 where dynamic function content HTML was sometimes not replaced after edit.</li>
<li>Fixed issue #485 where drop down menus in TinyMCE where shown at the wrong position in case of a body position 'relative'.</li>
<li>Fixed issue #486 where location position was changed on picker dialog close.</li>
<li>Fixed issue #487 where 'Show in device' preview would show edit tool bar.</li>
<li>Fixed issue #488 where an optional scroll bar would reduce the screen size of the 'Show in device' preview.</li>
<li>Fixed issue #490 where exceptions where written to the web server log and not to the opencms.log file.</li>
<li>Fixed issue #491 where misleading API error message was shown in location picker widget if no default value was set.</li>
<li>Fixed issue #493 where gallery dialog would fail in case of folders only configurations.</li>
<li>Fixed issue #495 where a missing explorer type declaration would cause null pointers in the explorer view.</li>
<li>Fixed issue #497 where export links where cached locale independent for sites using the single tree localization mode.</li>
<li>Fixed issue #500 where parsing of the CmsShell command line would fail on special characters, PR by gallardo.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive "Apollo" default template based on Bootstrap 3 with many features.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 10.5.2 is fully backward compatible with all 10.5, 10.0, 9.5 and 9.0 versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10.5.2.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE</span> Users of Alkacon OCEE require a new OCEE version for OpenCms 10.5.2. The update is free for Alkacon customers with a valid OCEE update subscription. <a href="%(link0)" target="_blank">Please contact Alkacon </a>to receive the new version.</p>
<h3>About the Apollo Template</h3>
<p>The Apollo template is our main demo showcase. It is build using best practices of the latest OpenCms version. The Apollo template sources are available on Github at <a href="%(link1)">https://github.com/alkacon/apollo-template</a>.</p>
<h3>Compatibility with Java versions, servlet containers and database</h3>
<p>OpenCms 10.5 has been written and tested for Java 8 and Java 7. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine. OpenCms works "out of the box" with Tomcat 8 or 7, which we recommend. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, WebLogic, WebSphere, GlassFish and Resin.</p>
<p>On the database side, we have tested with MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at <a href="%(link2)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms 10.5 sources from Git, please check out <span class="label label-cyan">branch_10_5_x</span>. The 10.5.2 release is tagged <span class="label label-cyan">build_10_5_2</span>.</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link3)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using <a href="%(link4)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 10.5.2, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
