<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 10.5.4 verfügbar]]></Title>
    <Date>1526560200000</Date>
    <Preface><![CDATA[Während das Team von Alkacon intensiv an der Version 11 von OpenCms arbeitet gibt es mit Version 10.5.4 ein weiteres Wartungsrelease für OpenCms 10.5, dass einige Sicherheitslücken schließt. Eine angepasste Version von Alkacon OCEE für OpenCms 10.5.4 ist ebenfalls verfügbar.
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/tree/branch_11_0_x]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/180517-opencms-1054-releasenotes.html]]></target>
            <uuid>6392878c-58f1-11e8-a3d4-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 10.5.4 ist fertig und kann ab sofort von der <a title="offizielle OpenCms Website" href="%(link0)" target="_self">OpenCms Website</a> heruntergeladen werden.</p>
<p>OpenCms 10.5.4 ist ein Wartungsrelease f&uuml;r OpenCms 10.5. Es beinhaltet einige Sicherheitsverbesserungen und behebt verschiedene Probleme, welche in der Version 10.5.3 entdeckt wurden.</p>
<p>Das Alkacon Team arbeitet momentan intensiv an der Fertigstellung von OpenCms Version 11, welche eine Vielzahl von neuen Funktionen bringen wird. Der Fortschritt der Entwicklung von OpenCms 11 kann auf&nbsp;<a href="%(link1)">GitHub</a>&nbsp;verfolgt werden. Wir rechnen damit, dass OpenCms 11 gegen Ende 2018 verf&uuml;gbar sein wird.</p>
<p>Eine aktualisierte Version von <a href="%(link2)" target="_self">Alkacon OCEE</a> f&uuml;r OpenCms 10.5.4 ist ebenfalls verf&uuml;gbar.</p>
<h2>Neu in OpenCms 10.5.4</h2>
<ul>
<li>Verbesserung der Sicherheit durch Anlegen einer neuen HttpSession beim Login.</li>
<li>Verhinderung von Session Hijacking durch Verwendung eines Client ID Tokens.</li>
<li>Zeitgesteuerte Ver&ouml;ffentlichung ist jetzt auch im Kontextmen&uuml; des Seiteneditors verf&uuml;gbar.</li>
</ul>
<p>Eine vollst&auml;ndige Liste der Neuerungen steht in den englischen&nbsp;<a href="%(link3)" target="_self">Release Notes</a>.</p>
<h2>Neu in OpenCms 10</h2>
<ul>
<li>Modernisiertes Look &amp; Feel der gesamten Benutzeroberfl&auml;che</li>
<li>Neues responsives Apollo-Template, basierend auf Bootstrap&nbsp;</li>
<li>Einf&uuml;hrung des Launchpad als zentraler Startpunkt f&uuml;r den Benutzer</li>
<li>Drag &amp; Drop von Bildern direkt im Seiteneditor</li>
<li>Neuer Datei Explorer mit Unterst&uuml;tzung f&uuml;r Spaltensortierung, Filter und gro&szlig;e Ordner</li>
<li>Entwickler k&ouml;nnen jetzt Module &uuml;ber ein SMB Netzwerk Share ex- und importieren</li>
<li>Neue Git App erlaubt das "Pushen" und "Pullen" von Modulinhalten direkt aus der Workplace</li>
<li>Neues &lt;cms:search&gt; Tag kombiniert SOLR basierte Ressource Listen und Volltestsuche</li>
<li>Neues &lt;cms:display&gt; Tag erzeugt die Ausgabe f&uuml;r eine ausgew&auml;hlte Ressource mit Formatter</li>
<li>Neues &lt;cms:edit&gt; Tag erlaubt das Bearbeiten von of Ressourcen basierend auf ihrer UID</li>
<li>Wiederverwendbare Gruppen erlauben das Verwenden von Nested Container Strukturen auf mehreren Seiten</li>
<li>Kopiergruppen erlauben die Erstellung von Standard Layouts mit Text / Bildern</li>
<li>Benutzer werden mit einem Identicon oder einem pers&ouml;nlichen Bild in der Toolbar indentifiziert</li>
<li>Macro-Formatter erm&ouml;gelichen das schnelle erstellen neuer Formatter aus vorhandenen JSP</li>
<li>Verbesserter Template Editor mit unterst&uuml;tzung f&uuml;r vererbte und deaktivierte Templates</li>
<li>Neue Passwort Zur&uuml;cksetzen Option im Login Dialog</li>
<li>Verschachtelte Container Strukturen k&ouml;nnen jetzt mit dem Clipboard kopiert werden</li>
<li>Module werden mit einem reduzierten manifest.xml zur Vermeidung von Mergekonflikten exportiert</li>
</ul>
<div>
<h2>Allgemeine Funktionen von OpenCms</h2>
<ul>
<li>Der Seiteneditor erm&ouml;glicht WYSIWYG "in place" Bearbeiten von Webseiten und Anordnen von Inhalt mit Drag &amp; Drop.</li>
<li>Der formbasierte Editor erm&ouml;glicht das Bearbeiten von Inhalt in einer strukturierten Eingabemaske.</li>
<li>Mit dem Sitemap Editor k&ouml;nnen neue Seiten angelegt und der Navigationsbaum per Drag &amp; Drop ver&auml;ndert werden.</li>
<li>Responsives Demo Template basierend auf Bootstrap 3.</li>
<li>Inhalterstellung f&uuml;r mobile Endger&auml;te mit Vorschaufunktion und ger&auml;teabh&auml;ngiger Auslieferung von Inhalten.</li>
<li>Strukturierte Inhalte k&ouml;nnen durch einfache XML Schemas definiert werden.</li>
<li>Einfach zu bedienender "Online / Offline" Workflow, &Auml;nderungen m&uuml;ssen freigegeben werden bevor sie "online" gehen.</li>
<li>Linkmanagement f&uuml;r alle internen Ressourcen mit Meldung von ung&uuml;ltigen Links.</li>
<li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
<li>SEO Funktionen (Suchmaschinenoptimierung) mit automatischer sitemap.xml Generierung und Alias Support.</li>
<li>Vollst&auml;ndige Benutzerverwaltung inklusive Unterst&uuml;tzung von "Organisationseinheiten".</li>
<li>Mandantenf&auml;hig, mehrere Websites k&ouml;nnen in einer OpenCms Installation verwaltet werden.</li>
<li>Inhalte k&ouml;nnen dynamisch ausgeliefert oder als statische HTML Seiten exportiert werden.</li>
<li>CMIS und webDAV als Zugriffsm&ouml;glichkeiten zum OpenCms Content Repository.</li>
<li>Integration von Apache SOLR f&uuml;r m&auml;chtige Suchfunktionen sowie noSQL &auml;hnlichen Abfragen.</li>
<li>Volltextsuche auf Webseiten, aber auch in PDF, MS Office und Open Office Dokumenten.</li>
<li>Erweiterungen werden &uuml;ber ein flexibles Modulsystem verwaltet.</li>
<li>Die "Time Warp" Funktion erm&ouml;glicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr g&uuml;ltig sind.</li>
<li>JSP Integration f&uuml;r das Erstellen von Templates und anderen dynamischen Funktionen.</li>
<li>... und vieles mehr.</li>
</ul>
</div>
<p>OpenCms&nbsp;10.5.4 ist voll abw&auml;rtskompatibel zu allen vorherigen 10.5, 10.0 und 9er Versionen. Templates und andere OpenCms Anwendungen aus diesen Versionen sollten ohne Weiteres auf Version&nbsp;10.5.4 laufen.</p>
<p>Benutzer von Alkacon OCEE ben&ouml;tigen eine neue OCEE Version f&uuml;r OpenCms 10.5.4. Das Update ist f&uuml;r Alkacon Kunden mit einem OCEE Update Abonnement kostenlos.</p>
<h2>&Uuml;ber OpenCms</h2>
<p>OpenCms ist eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme. Die Software wird seit dem Jahr 2000 st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfl&auml;che ist vollst&auml;ndig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p>
<p>Die Alkacon Software GmbH aus K&ouml;ln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produkt&uuml;bersicht" href="%(link4)" target="_self">Alkacon Produkt&uuml;bersicht</a> f&uuml;r weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link5)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich f&uuml;r die Unterst&uuml;tzung von allen, welche diese neue Version von OpenCms erm&ouml;glicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_10_5_4.png]]></target>
            <uuid>53896853-59a5-11e8-aa35-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 10.5.4]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 10.5.4 von Alkacon ermöglicht das Erstellen von Templates ohne Programmierung und bringt neue Werkzeuge für das Übersetzen von Webseiten, inklusive einem Vergleich der Sitemap in verschiedenen Sprachen, präsentiert in einer responsive Demo website basierend auf unserem erweiterten Apollo Template. Kostenloser Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 10.5.4, OpenCms 10, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, major release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 10.5.4 available]]></Title>
    <Date>1526560200000</Date>
    <Preface><![CDATA[While the Alkacon team is currently working hard on OpenCms version 11, another maintenance release 10.5.4 for OpenCms 10.5 is now ready for download, fixing some security issues. A new version of Alkacon OCEE for 10.5.4 is also available.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/tree/branch_11_0_x]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/180517-opencms-1054-releasenotes.html]]></target>
            <uuid>6392878c-58f1-11e8-a3d4-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link5" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 10.5.4 is ready and available for <a title="Download OpenCms 10.5.2 from the official website opencms.org" href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms 10.5.4 is a maintenance release&nbsp;for OpenCms 10.5. It adds some security improvements and fixes a number of issues that have been reported in the 10.5.3 release.</p>
<p>Currently the Alkacon team is working hard to finish OpenCms version 11, which will bring numerous new features. You can check out the progress of OpenCms 11 on&nbsp;<a href="%(link1)">GitHub</a>. We expect OpenCms 11 to be ready by the end of 2018.</p>
<p>Also available is an <a href="%(link2)" target="_self">updated version of Alkacon OCEE</a> for OpenCms 10.5.4.</p>
<h2>New in OpenCms 10.5.4</h2>
<ul>
<li>Improved security by always starting a new HttpSession on login.</li>
<li>Improved security by using a client id token to prevent session hijacking.</li>
<li>Added 'publish scheduled' option to page editor context menus.</li>
</ul>
<p>Please check out the <a title="OpenCms 10.5.4 release notes" href="%(link3)" target="_self">release notes</a> for further details regarding the changes in this release.</p>
<h2>New in OpenCms 10</h2>
<ul>
<li>Modernized the look &amp; feel of the overall user interface</li>
<li><span>New ready-to-use responsive Apollo Template based on Bootstrap</span></li>
<li>Introduced the Launchpad as the central starting place for the user</li>
<li>Drag and Drop of images directly in the page editor</li>
<li>New file explorer with support for column sorting, filtering and large folders</li>
<li>Developers can now export and import modules through a SMB network share</li>
<li>New Git app allows pushing and pulling of module content directly from the workplace</li>
<li>New &lt;cms:search&gt; tag combines SOLR based resource collection and full text searches</li>
<li>New &lt;cms:display&gt; tag generates the output for a single resource with a selected formatter</li>
<li>New &lt;cms:edit&gt; tag allows editing of arbitrary resources based on UID</li>
<li>Reuse groups allow reusing nested container structures on several pages</li>
<li>Copy groups allow creation of boiler plate layouts with text / images</li>
<li>Users are identified with an identicon or a personal image in the toolbar</li>
<li>Improved the template editor with support for inherited and disabled templates</li>
<li>Added a "reset password" option to the login dialog</li>
<li>Nested container structures can now be copied using the clipboard</li>
<li><span>Macro formatters allow to quickly compose new formatters from existing JSP</span></li>
<li>Support for local configuration change sets based on XSLT</li>
<li>Modules are exported with a reduced manifest.xml to avoid merge conflicts</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<p>OpenCms 10.5.4 is fully backward compatible with all 10.5, 10.0, 9.5 and 9.0 versions. Templates and other OpenCms developed code from these versions should work "out of the box" with version 10.5.4.</p>
<p>Users of Alkacon OCEE require a new OCEE version for OpenCms 10.5.4. The update is free for Alkacon customers with a valid OCEE update subscription.</p>
<h2>About OpenCms</h2>
<p>OpenCms is a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 15 years and has an active community of Open Source developers.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the <a title="Alkacon product overview" href="%(link4)">Alkacon product overview</a> for more details.</p>
<p>The team at <a title="Alkacon Software - The OpenCms Experts" href="%(link5)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_10_5_4.png]]></target>
            <uuid>53896853-59a5-11e8-aa35-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 10.5.4]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 10.5.4 from Alkacon offers template creation without the need to code, plus other features like tools for assisted translation of pages and sitemaps, user generated content, improved documentation and much more - all presented in a responsive demo based on our extended Apollo Template. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 10.5.4, Java CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
