<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 11 Beta verfügbar]]></Title>
    <Date>1541934660000</Date>
    <Preface><![CDATA[OpenCms 11 Beta bietet Ihnen einen umfassenden Überblick der Neuerungen in der nächsten OpenCms-Generation. Testen Sie diese Vorab-Version vor der Veröffentlichung von OpenCms 11.0.0, welche gegen Ende des ersten Quartals 2019 geplant ist. OpenCms 11 bringt eine völlig überarbeite Workplace mit mehr Benutzerfreundlichkeit und Performance. Weitere Verbesserungen sind z.B. automatisiertes erstellen von Bild-Varianten, Unterstützung für dynamische Listen sowie meta-mappings für SEO. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/181111-opencms-11-beta-releasenotes.html]]></target>
            <uuid>9ca4dc65-e357-11e8-96ee-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 11.0 Beta biete Ihnen einen umfassenden &Uuml;berblick der Neuerungen in der n&auml;chsten OpenCms-Generation. Testen Sie diese Vorab-Version vor der Ver&ouml;ffentlichung von OpenCms 11.0.0, welche gegen Ende des ersten Quartals 2019 geplant ist.</p>
<p><a title="offizielle OpenCms Website" href="%(link0)">OpenCms 11.0 Beta kann hier heruntergeladen werden.</a></p>
<p>OpenCms 11 bringt eine v&ouml;llig &uuml;berarbeite Workplace mit mehr Benutzerfreundlichkeit und Performance. Weitere Verbesserungen sind z.B. automatisiertes erstellen von Bild-Varianten, Kern-Unterst&uuml;tzung f&uuml;r dynamische Listen sowie meta-mappings f&uuml;r SEO.&nbsp;</p>
<p><em>Hinweis:</em> OpenCms 11 bringt umfangreiche neue M&ouml;glichkeiten f&uuml;r die Template Entwicklung. Wir arbeiten zurzeit an einem Update des Demo Templates, das zusammen mit OpenCms 11.0.0 ver&ouml;ffentlicht wird. Diese Beta-Version verwendet das unver&auml;nderte Template von OpenCms 10.5.</p>
<p>OpenCms ist eine der popul&auml;rsten Open Source Content Management L&ouml;sungen. Diese neue Version wurde von Alkacon Software GmbH mit dem Support der internationalen OpenCms Gemeinschaft entwickelt.</p>
<h2>Die wichtigsten Neuerungen in OpenCms 11.0</h2>
<ul>
<li>Vollst&auml;ndige &Uuml;berarbeitung der Workplace f&uuml;r mehr Benutzerfreundlichkeit und Performance.</li>
<li>Alle Bilder in der Workplace sind jetzt Vektorgrafiken mit Unterst&uuml;tzung f&uuml;r hochaufl&ouml;sende Retina-Displays.</li>
<li>Neue 'Listen' App zur Verwaltung der neuen 'Listen Konfiguration' basierten Inhaltslisten, welche das einfache erstellen von Ausgabe-Listen erm&ouml;glichen.</li>
<li>Neue 'Ressource-Typen' App zum Erzeugen, Lesen, Bearbeiten und L&ouml;schen von individuellen Ressource-Typen.</li>
<li>Neue 'Skript-Terminal' App erlaubt interaktives Ausf&uuml;hren von OpenCms Shell-Skripten in der Workplace.</li>
<li>Neue 'Sessions' App zum Management der aktuellen Benutzer-Sitzungen und zum Senden von Nachrichten an die Benutzer.</li>
<li>Neue 'Fokuspunkt'-Funktion f&uuml;r Bilder erlaubt automatisches Beschneiden des Bildes um diesen Punkt herum.</li>
<li>Unterst&uuml;tzung f&uuml;r SVG Grafiken in Bilder-Galerien.</li>
<li>Meta-Mappings erm&ouml;glichen das Vererben von Werten aus XML-Inhalten an das Seiten-Template z.B. f&uuml;r SEO Meta-Informationen.</li>
<li>Eine einfache EL API erm&ouml;glicht das automatisierte erzeugen von Bild-Varianten f&uuml;r 'srcset' oder 'picture'.</li>
<li>Der neue Typ 'Listen Konfiguration' stellt Standard Filter und Sortieroptionen f&uuml;r Titel, Datum, Kategorie und Ordner zur Verf&uuml;gung.</li>
<li>Bei einem Modul-Update werden jetzt nur noch die &Auml;nderungen importiert, anstatt das alte Modul zuerst zu l&ouml;schen und dann komplett neu zu installieren.</li>
<li>Zur automatisierten Server-Verwaltung gibt es nun die M&ouml;glichkeit zum Ausf&uuml;hren von OpenCms Shell Kommandos in einer laufenden OpenCms Instanz &uuml;ber RMI.</li>
<li>Die Flex-Cache "Bucket"-Funktion erm&ouml;glicht das selektiven Leeren von Teilen des Flex-Cache.</li>
<li>Unterst&uuml;tzung f&uuml;r Java 11.</li>
<li>Und vieles mehr...<br /><br /></li>
</ul>
<p>Eine vollst&auml;ndige Liste der Neuerungen steht in den englischen <a href="%(link1)" target="_self">Release Notes</a>.</p>
<div>
<h2>Allgemeine Funktionen von OpenCms</h2>
<ul>
<li>Der Seiteneditor erm&ouml;glicht WYSIWYG "in place" Bearbeiten von Webseiten und Anordnen von Inhalt mit Drag &amp; Drop.</li>
<li>Der formbasierte Editor erm&ouml;glicht das Bearbeiten von Inhalt in einer strukturierten Eingabemaske.</li>
<li>Mit dem Sitemap Editor k&ouml;nnen neue Seiten angelegt und der Navigationsbaum per Drag &amp; Drop ver&auml;ndert werden.</li>
<li>Inhalterstellung f&uuml;r mobile Endger&auml;te mit Vorschaufunktion und ger&auml;teabh&auml;ngiger Auslieferung von Inhalten.</li>
<li>Strukturierte Inhalte k&ouml;nnen durch einfache XML Schemas definiert werden.</li>
<li>Einfach zu bedienender "Online / Offline" Workflow, &Auml;nderungen m&uuml;ssen freigegeben werden bevor sie "online" gehen.</li>
<li>Linkmanagement f&uuml;r alle internen Ressourcen mit Meldung von ung&uuml;ltigen Links.</li>
<li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
<li>SEO Funktionen (Suchmaschinenoptimierung) mit automatischer sitemap.xml Generierung und Alias Support.</li>
<li>Vollst&auml;ndige Benutzerverwaltung inklusive Unterst&uuml;tzung von "Organisationseinheiten".</li>
<li>Mandantenf&auml;hig, mehrere Websites k&ouml;nnen in einer OpenCms Installation verwaltet werden.</li>
<li>Inhalte k&ouml;nnen dynamisch ausgeliefert oder als statische HTML Seiten exportiert werden.</li>
<li>CMIS und webDAV als Zugriffsm&ouml;glichkeiten zum OpenCms Content Repository.</li>
<li>Integration von Apache SOLR f&uuml;r m&auml;chtige Suchfunktionen sowie noSQL &auml;hnlichen Abfragen.</li>
<li>Volltextsuche auf Webseiten, aber auch in PDF, MS Office und Open Office Dokumenten.</li>
<li>Erweiterungen werden &uuml;ber ein flexibles Modulsystem verwaltet.</li>
<li>Die "Time Warp" Funktion erm&ouml;glicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr g&uuml;ltig sind.</li>
<li>JSP Integration f&uuml;r das Erstellen von Templates und anderen dynamischen Funktionen.</li>
<li>... und vieles mehr.</li>
</ul>
</div>
<p>OpenCms&nbsp;11.0 Beta ist voll abw&auml;rtskompatibel zu allen vorherigen 9er und 10er Versionen. Templates und andere OpenCms Anwendungen aus diesen Versionen sollten ohne Weiteres auf Version&nbsp;11.0 Beta laufen.</p>
<p>Benutzer von Alkacon OCEE ben&ouml;tigen eine neue OCEE Version f&uuml;r OpenCms 11.0. Ein Update von Alkacon OCEE wird f&uuml;r die finale Version 11.0 erh&auml;ltlich sein. Das Update ist f&uuml;r Alkacon Kunden mit einem OCEE Update Abonnement kostenlos.</p>
<h2>&Uuml;ber OpenCms</h2>
<p>OpenCms ist eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme. Die Software wird seit dem Jahr 2000 st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfl&auml;che ist vollst&auml;ndig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p>
<p>Die Alkacon Software GmbH aus K&ouml;ln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produkt&uuml;bersicht" href="%(link2)" target="_self">Alkacon Produkt&uuml;bersicht</a> f&uuml;r weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software &ndash; Die OpenCms Experten" href="%(link3)" target="_self">Alkacon Software &ndash; Die OpenCms Experten</a> bedankt sich f&uuml;r die Unterst&uuml;tzung von allen, welche diese neue Version von OpenCms erm&ouml;glicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_11_0_0_beta.png]]></target>
            <uuid>39eac901-e35a-11e8-96ee-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 11 Beta]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 11 Beta von Alkacon gibt Ihnen einen umfassenden Überblick der Neuerungen in der nächsten OpenCms-Generation 11. Kostenloser Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 11 Beta, OpenCms 11, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, major release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 11 Beta available]]></Title>
    <Date>1541934660000</Date>
    <Preface><![CDATA[OpenCms 11 Beta provides you with a comprehensive overview about the features of the next OpenCms generation. Try out this pre-release version before OpenCms 11.0.0 is published, which is expected by the end of Q1 2019. OpenCms 11 brings a major update for the workplace providing better usability and performance. Further enhancements include automated image generation, core support for dynamic contents lists and meta-mappings for SEO.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/181111-opencms-11-beta-releasenotes.html]]></target>
            <uuid>9ca4dc65-e357-11e8-96ee-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 11.0 Beta provides you with a comprehensive overview about OpenCms 11. Try this pre-release version before OpenCms 11.0.0 is published, which is expected by the end of Q1 2019.</p>
<p><a title="Download OpenCms 11 Beta from the official website opencms.org" href="%(link0)" target="_self">Download OpenCms 11.0 Beta</a> for an advance look of the great new user interface and the other improvements in the next OpenCms generation.</p>
<p>OpenCms 11 brings a major update for the workplace providing better usability and performance. Further enhancements include automated image generation, core support for dynamic contents lists and meta-mappings for SEO.</p>
<p><em><span class="label label-orange">Please note:</span></em> OpenCms 11 also features many improvement for template generation. We are currently working on an updated demo template, which will be ready when OpenCms 11.0.0 ships. The template in this 11.0 Beta release is the unchanged template from version 10.5.x.</p>
<p>OpenCms is one of the most popular Open Source Content Management Solutions. This new version was developed by Alkacon Software GmbH with the support of the international OpenCms developer community.</p>
<h2>The most important new features in OpenCms 11</h2>
<ul>
<li class="p1">Completely restructured the workplace for improved usability using a modern GUI.</li>
<li class="p1">All images in the workplace are now vector graphics with high resolution (retina) display support.</li>
<li class="p1">New 'Lists' app for management of new default 'List configuration' content which allows easy front-end content list creation.</li>
<li class="p1">New 'Resource types' app to create, read, edit and delete individual resource types.</li>
<li class="p1">New 'Script terminal' app to interactively run OpenCms shell scripts in the workplace.</li>
<li class="p1">New 'Sessions' app to manage current user sessions and send messages to users.</li>
<li class="p1">Image now support a 'focal point' feature to allow automatic image cropping around this point.</li>
<li class="p1">Added support for SVG in images galleries.</li>
<li class="p1">New meta mapping feature allows to inherit values from XML contents to the page template, e.g. for SEO meta infos.</li>
<li class="p1">Simple EL API allows automated creation of image variations for 'srcset' or 'picture'.</li>
<li class="p1">The new 'List configuration' type provides standard filter and sort options for title / date / category / folder.</li>
<li class="p1">Updating a module will now import only the changes instead of completely deleting and reinstalling the module.</li>
<li class="p1">For automated management it is now possible to execute OpenCms shell commands in a running OpenCms instance using RMI.</li>
<li class="p1">The flex-cache bucket feature allows selective purging of parts of the flex-cache.</li>
<li class="p1">Provided support for Java 11.</li>
<li class="p1">And much more...</li>
</ul>
<p>Please check out the <a title="OpenCms 11 Beta release notes" href="%(link1)" target="_self">release notes</a> for further details regarding the changes in this release.</p>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<p>We recommend everyone who uses OpenCms to test the 11.0 Beta release. OpenCms 11.0 Beta is fully backward compatible to all prior 9.x&nbsp; and 10.x versions. Templates and other OpenCms developed code from these versions work "out of the box" with version 11.0 Beta.</p>
<p>Users of Alkacon OCEE require a new OCEE version for OpenCms 11.0. There will be an updated OCEE package available for the final release of OpenCms 11.0. The update will be free for Alkacon customers with a valid OCEE update subscription.</p>
<h2>About OpenCms</h2>
<p>OpenCms is a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 15 years and has an active community of Open Source developers.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the <a title="Alkacon product overview" href="%(link2)">Alkacon product overview</a> for more details.</p>
<p>The team at <a title="Alkacon Software - The OpenCms Experts" href="%(link3)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_11_0_0_beta.png]]></target>
            <uuid>39eac901-e35a-11e8-96ee-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 11 Beta]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 11 Beta from Alkacon provides you with a comprehensive overview about the features of the next OpenCms generation 11. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 11 Beta, Java CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
