<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 11 Beta 2 Release Notes]]></Title>
    <Date>1551352200000</Date>
    <Preface><![CDATA[The OpenCms 11 Beta 2 release notes contain detailed information about the new features and fixes in this beta version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p>February 28, 2019: OpenCms 11.0 Beta 2 gives you a preview of OpenCms 11.0. Try out this pre-release version before OpenCms 11.0.0 is published, which is expected by the end of Q1 2019.</p>
<p>OpenCms 11 brings a major update for the workplace. In this version we have finally completely replaced all the "traditional" workplace tools with modernized versions. The number of modules for the OpenCms core installation has been reduced to only two core modules.</p>
<p><em><span class="label label-orange">Please note</span>:</em> OpenCms 11 features many improvement for template generation (see list below). We are still working on an updated demo template, which will be ready when OpenCms 11.0.0 ships. The template in this 11.0 Beta release is the unchanged template from version 10.5.x.</p>
<p><em><span class="label label-orange">Please note</span>:</em> This beta version is considered almost feature complete. If you plan to upgrade to OpenCms 11.0 when it's released, we recommend to use this beta for testing your templates with the new version.</p>
<h2>New in OpenCms 11.0 Beta 2</h2>
<ul>
<li>Workplace: Added bookmarks dialog for workplace locations.*</li>
<li>Workplace: New 'SQL console' app to query the configured database pools.*</li>
<li>Setup: Removed all legacy workplace modules, leaving only two core modules.*</li>
<li>Setup: Optional support for legacy workplace tools still provided by 'legacy support' modules.</li>
<li>Editor: Allowing to edit element settings in form editor.</li>
<li>Editor: Maps widget allows specific workplace Google API key and reduced number of API calls.</li>
<li>Updater: Switched to XSL transformation based mechanism to update configuration files.</li>
<li>Workplace: Finally removed the deprecated legacy explorer.</li>
<li>Configuration: Removed deprecated legacy context menu configuration.</li>
<li>Components: Updated WYSIWYG editor TinyMCE to version 5.0.0.</li>
<li>Search: Reducing number of default fields and limiting result size to avoid memory issues.</li>
<li>Fixed issue where 'Log files' app failed on Windows servers.</li>
<li>Fixed issue #620 where resource type configuration form was not validated properly.</li>
</ul>
<h2>New in OpenCms 11.0 Beta 1</h2>
<ul>
<li class="p1">Workplace: Completely restructured the workplace for improved usability using a modern GUI.*</li>
<li class="p1">Workplace: All images are now vector graphics with high resolution (retina) display support.*</li>
<li class="p1">Workplace: New 'Lists' app for management of default 'List configuration' based content lists using SOLR.*</li>
<li class="p1">Workplace: New 'Resource types' app allows to create, read, edit and delete individual resource types.*</li>
<li class="p1">Workplace: New 'Script terminal' app allows to interactively run OpenCms shell scripts in the workplace.*</li>
<li class="p1">Workplace: New 'Sessions' app allows to manage current user sessions and send messages to users.*</li>
<li class="p1">Workplace: Improved 'Accounts' app for user and group management.</li>
<li class="p1">Workplace: Improved 'Websites' app for site and sub-site management with extended https support.</li>
<li class="p1">Workplace: Improved 'Modules' app for module management.</li>
<li class="p1">Workplace: Improved 'Source search' app with several search options in the OpenCms database.</li>
<li class="p1">Workplace: Improved 'Scheduled jobs', 'Log files', 'Database', 'Caches' and 'Versioning' apps.</li>
<li class="p1">Workplace: New resource copy mode 'Copy files and adjust internal links' in the Explorer.<br />&nbsp;</li>
<li class="p1">Editor: Added image 'focal point' feature to allow automatic image cropping around this point.*</li>
<li class="p1">Editor: Added support for SVG files in images galleries.*</li>
<li class="p1">Editor: The new 'List configuration' setting dialog inherits settings from the display formatters used in the list.</li>
<li class="p1">Editor: Added support for WYSIWYG text and select combo widgets in the resource property dialog.</li>
<li class="p1">Editor: Container page editor now injects less markup in the HTML, resulting in better readable HTML source code.<br />&nbsp;</li>
<li class="p1">Template API: New meta mapping feature allows to inherit values from XML contents to the page template (for SEO meta infos).*</li>
<li class="p1">Template API: Image variations for 'srcset' or 'picture' can now be generated using a simple EL API.*</li>
<li class="p1">Template API: The new 'List configuration' type provides standard filter and sort options for title / date / category / folder.*</li>
<li class="p1">Template API: Added &lt;cms:addparams&gt;-tag to inherit parameters into nested container levels.</li>
<li class="p1">Template API: Alternative notation for resource type schemas, grouping content fields configuration similar to formatter settings.</li>
<li class="p1">Template API: Added option to provide a default formatter settings file, containing commonly used settings.</li>
<li class="p1">Template API: Updated dynamic function configurations to use the same notation as formatter configurations.</li>
<li class="p1">Template API: Added new 'Flex formatter' type, allowing to use a StringTemplate for simple HTML rendering logic.</li>
<li class="p1">Template API: Added option to reuse detail only contents from different sites.</li>
<li class="p1">Template API: Added a 'serial date' widget with extended functionality in the page editor.</li>
<li class="p1">Template API: Added optional mapper to transfer an old template structure into a new one, mapping containers and formatters.</li>
<li class="p1">Template API: Added option to provide default detail pages to reduce manual detail page configuration.<br />&nbsp;</li>
<li class="p1">Setup: Updating a module will now import only the changes instead of deleting and reinstalling the module.*</li>
<li class="p1">Setup: Added auto versioning for modules, incrementing the version number on export only in case of changes.</li>
<li class="p1">Setup: Improved Gradle build to better support IDEs like Eclipse and IntelliJ IDEA.</li>
<li class="p1">Setup: Reorganized core modules and JARs for a streamlined update process with less resources.</li>
<li class="p1">Setup: Reorganized XML configuration files placing site-, scheduler- and variables-configuration in separate files.<br />&nbsp;</li>
<li class="p1">Management: New option to execute OpenCms shell commands in a running OpenCms instance using RMI.*</li>
<li class="p1">Management: Added flex-cache bucket feature to allow selective flex-cache purging.*</li>
<li class="p1">Management: New option to provide meaningful return codes when executing an OpenCms shell script.</li>
<li class="p1">Management: Support for static export of resources in non-public folders.</li>
<li class="p1">Management: Added option to write content from OpenCms to external SOLR indexes.<br />&nbsp;</li>
<li class="p1">Updated external library dependencies to most recent versions.</li>
<li class="p1">Provided Java 11 support.*</li>
</ul>
<p>Items marked with * are considered important improvements in this version.</p>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive demo template based on Bootstrap 3.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>Direct access to the OpenCms content repository over a shared network drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 11.0 is backward compatible with all 10.5, 10.0, 9.5 and 9.0 versions. Templates and other OpenCms developed code from these versions should work mostly "out of the box" with version 11.0.</p>
<p><span class="label label-orange">Notice for users of Alkacon OCEE</span>: Users of Alkacon OCEE require a new OCEE version for OpenCms 11.0. An OCEE version for this beta is not available. There will be an updated OCEE package available with the final release of OpenCms 11.0.0.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms 11.0 has been written and tested for Java 11 and Java 8. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine, which we recommend. OpenCms works "out of the box" with Tomcat 9, 8.5 or 8. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, WebLogic, WebSphere, GlassFish and Resin.</p>
<p>On the database side, we provide support for MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at&nbsp;<a href="%(link0)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms 11.0 sources from Git, please check out "branch_11_0_x". This 11.0 beta 2 release is tagged "build_11_0_0_beta_2".</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link1)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using&nbsp;<a href="%(link2)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 11 Beta 2, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
