<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 11 Release Notes]]></Title>
    <Date>1556621940000</Date>
    <Preface><![CDATA[The OpenCms 11 release notes contain detailed information about the new features and fixes in this version.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/mercury-template]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/pulls]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/opencms-core/issues]]></target>
            <query><![CDATA[state=open]]></query>
          </link>
        </links>
        <content><![CDATA[<p>April 30, 2019: OpenCms 11 brings a major update for the workplace. All workplace apps have been replaced with modernized versions. OpenCms 11 also features improvements for template generation, in the editors and for remote management. Moreover, this release is compatible with Java 11 and comes with the new "Mercury" default template.</p>
<h2>Main new features of OpenCms 11.0</h2>
<ul>
<li>Includes the 'Mercury' default template, source code available <a title="GitHub" href="%(link0)" target="_blank">on GitHub.</a></li>
<li>Workplace: Restructured the workplace for improved usability with a modern GUI.</li>
<li>Workplace: 'Lists' app for management of default 'List' content type using SOLR.</li>
<li>Workplace: 'Bookmarks' app for quick access to workplace locations.</li>
<li>Workplace: 'Resource types' app to create, read, edit and delete resource types.</li>
<li>Workplace: 'Sessions' app to manage current user sessions and send messages to users.</li>
<li>Workplace: 'Script terminal' app to run OpenCms shell scripts from the workplace.</li>
<li>Workplace: 'SQL console' app to query the configured database pools.</li>
<li>Template API: Meta mappings allow transferring values from XML contents to the page template (e.g. for SEO meta infos).</li>
<li>Template API: The 'List' content type provides filter and sort options for title / date / category / folder.</li>
<li>Template API: EL functions to create image variations for 'srcset' or 'picture'.</li>
<li>Editor: Images now have a 'focal point' to control automatic image cropping around this point.</li>
<li>Management: Option to execute shell commands in a running OpenCms instance using RMI.</li>
<li>Management: The flex-cache bucket feature allows selective flex-cache purging.</li>
<li>Setup: Updating a module will now import only the changes instead of deleting and reinstalling the module.</li>
<li>Setup: Removed all legacy workplace modules, leaving only two core modules in a new installation.</li>
<li>Setup: Modernized the 'Setup wizard' user interface.</li>
<li>Setup: Modernized the 'Updater' user interface, providing support for 10.5, 10.0 and 9.5 versions.</li>
<li>Support for Java 11.</li>
</ul>
<h2>Further improvements in OpenCms 11.0</h2>
<ul>
<li>Workplace: All images are now vector graphics with high resolution (retina) display support.</li>
<li>Workplace: Improved 'Accounts' app for user and group management.</li>
<li>Workplace: Improved 'Websites' app for site and sub-site management with extended https support.</li>
<li>Workplace: Improved 'Modules' app for module management.</li>
<li>Workplace: Improved 'Source search' app with several search options in the OpenCms database.</li>
<li>Workplace: Improved 'Scheduled jobs', 'Log files', 'Database', 'Caches' and 'Versioning' apps.</li>
<li>Workplace: Added resource copy mode 'Copy files and adjust internal links' in the Explorer.</li>
<li>Workplace: Allowing Mac CMD key as modifier for keyboard shortcuts on Apple systems.</li>
<li>Workplace: Improved breadcrumb navigation for narrow screens.</li>
<li>Workplace: Removed deprecated HTML and table galleries.</li>
<li>Workplace: Removed deprecated legacy explorer.</li>
<li>Template API: Alternative notation for resource type schemas, grouping content fields configuration similar to formatter settings.</li>
<li>Template API: Added option to provide a default formatter settings file, containing commonly used settings.</li>
<li>Template API: Improved dynamic function configurations to use the same notation as formatter configurations.</li>
<li>Template API: Added &lt;cms:addparams&gt;-tag to inherit parameters to nested containers.</li>
<li>Template API: Added option to reuse detail only contents from different sites.</li>
<li>Template API: Added a 'serial date' widget with extended functionality in the page editor.</li>
<li>Template API: Added optional mapper to transfer an old template structure into a new one, mapping containers and formatters.</li>
<li>Template API: Added option to provide default detail pages to reduce manual detail page configuration.</li>
<li>Template API: Added new 'Flex formatter' type, allowing to use a StringTemplate for simple HTML rendering logic.</li>
<li>Template API: Added optional 'Attributes' to formatter configuration.</li>
<li>Template API: Added .contains() option to value wrappers.</li>
<li>Editor: The 'List' content type element settings dialog inherits settings from the display formatters used in the list.</li>
<li>Editor: Added support for SVG files in images galleries.</li>
<li>Editor: Added support for WYSIWYG text and select combo widgets in the resource property dialog.</li>
<li>Editor: Container page editor now injects less markup in the HTML, resulting in better readable HTML source code.</li>
<li>Editor: Allowing to edit element settings in form editor.</li>
<li>Editor: Maps widget allows specific workplace Google API key and reduced number of API calls.</li>
<li>Setup: Optional support for legacy workplace tools still provided by 'legacy support' modules.</li>
<li>Setup: Added auto versioning for modules, incrementing the version number on export only in case of changes.</li>
<li>Setup: Improved Gradle build to better support IDEs like Eclipse and IntelliJ IDEA.</li>
<li>Setup: Reorganized core modules and JARs for a streamlined update process with less resources.</li>
<li>Setup: Reorganized XML configuration files placing site-, scheduler- and variables-configuration in separate files.</li>
<li>Updater: Switched to XSL transformation based mechanism to update configuration files.</li>
<li>Management: New option to provide meaningful return codes when executing an OpenCms shell script.</li>
<li>Management: Support for static export of resources in non-public folders.</li>
<li>Management: Added option to write content from OpenCms to external SOLR indexes.</li>
<li>Components: Updated WYSIWYG editor TinyMCE to version 5.0.3.</li>
<li>Components: Updated SOLR/Lucene search engine to version 8.0.0.</li>
<li>Components: Updated MySQL JDBC driver to version 8.0.15.</li>
<li>Configuration: Added option to prevent specific resource types to be created in page editor.</li>
<li>Configuration: Removed deprecated legacy context menu configuration.</li>
<li>Search: Reducing number of default fields and limiting result size to avoid memory issues.</li>
<li>Updated external library dependencies to most recent versions.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive "Mercury" default template based on Bootstrap 4 with many features.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>File access to the OpenCms content repository over a shared network / SMB drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more</li>
</ul>
<h3>Backward compatibility</h3>
<p>OpenCms 11.0 is backward compatible with all 10.5, 10.0, and 9.5 versions. Templates and other OpenCms developed code from these versions should work mostly "out of the box" with version 11.0.</p>
<p><span class="label label-red">Notice for users of Alkacon OCEE:</span> Current release versions of Alkacon OCEE are not compatible with OpenCms 11.0. Further information about the future of OCEE will be available soon on the <a href="%(link1)">Alkacon website</a>.</p>
<h3>Compatibility with Java versions, servlet containers and databases</h3>
<p>OpenCms 11.0 has been written and tested for Java 11 and Java 8. We have tested with ORACLEs JDK as well as OpenJDK. OpenCms should run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine, which we recommend. OpenCms works "out of the box" with Tomcat 9, 8.5 or 8. Others have reported deploying OpenCms successfully on other servlet containers like JBoss, WildFly, WebLogic, WebSphere, GlassFish and Resin.</p>
<p>On the database side, we provide support for MySQL, MariaDB, Oracle, PostgreSQL, MS SQL Server, DB2 and HSQLDB.</p>
<h3>Regarding version numbers and build tags</h3>
<p>The main OpenCms Git repository is available on Github at <a href="%(link2)" target="_blank">github.com/alkacon/opencms-core</a>.</p>
<p>In case you want to get the most current OpenCms 11.0 sources from Git, please check out <span class="label label-cyan">branch_11_0_x</span>. This release is tagged <span class="label label-cyan">build_11_0_0</span>.</p>
<h3>How you can help</h3>
<p>Contributions to the OpenCms core development are most welcome. <a href="%(link3)" target="_blank">Please send us your pull requests directly on GitHub.</a></p>
<p>Please report issues found in OpenCms using <a href="%(link4)" target="_blank">our GitHub issue tracker</a>.</p>
<p>Thank you for using OpenCms and have fun with OpenCms :-)</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Release notes for Alkacon OpenCms 11, the popular open source content management system.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability/>
  </Article>
</ArticleData>
