<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 11.0.1 verfügbar]]></Title>
    <Date>1567612800000</Date>
    <Preface><![CDATA[OpenCms 11.0.1 ist ein Wartungsrelease für OpenCms 11. Es behebt einige Probleme, die in OpenCms 11 festgestellt wurden. Enthalten sind außerdem einige neue Funktionen und Sicherheitsverbesserungen.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/190904-opencms-1101-releasenotes.html]]></target>
            <uuid>7504568c-ce43-11e9-8925-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/mercury-template]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link3" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/produkte/uebersicht/index.html]]></target>
            <uuid>c079b4d5-3208-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 11.0.1 ist ein Wartungsrelease für OpenCms 11. Es behebt einige Probleme, die in OpenCms 11 festgestellt wurden. Enthalten sind außerdem einige neue Funktionen und Sicherheitsverbesserungen.</p>
<p>OpenCms 11 bringt im Vergleich zu Version 10 ein großes Update für die Workplace, bei dem alle Apps durch moderne Versionen ersetzt wurden. Außerdem enthalten ist das neue "Mercury" Standard Template.</p>
<h2>Verbesserungen in OpenCms 11.0.1</h2>
<ul>
<li>Neuer Site/Projekt Umschalter im Lesezeichen-Dialog.</li>
<li>Die Titel der Einträge im&nbsp;Lesezeichen-Dialog können nun manuell angepasst werden.</li>
<li>Neue Option zum Entfernen aller Funktionen in der Sitemap-Konfiguration.</li>
<li>Unterstützung für mehr als eine Master Konfiguration in der Sitemap-Konfiguration.</li>
<li>Neue Layout-Gruppe "Kopfbereich mit flexiblen Darstellungsmöglichkeiten" für das Mercury Template.</li>
<li>Zusätzliche Sortierreihenfolge "Ergebnisqualität" im Galerie Dialog.</li>
<li>Einfacher zu bedienender Farbauswahl-Dialog im XML Content Editor.</li>
<li>Neues "baseUri" Attribut für das &lt;cms:display&gt; Tag um die Formatter-Auswahl zu kontrollieren.</li>
<li>Neues "filename" Attribut für das &lt;cms:pdf&gt; Tag für PDF Links.</li>
<li>Methode zum Lesen von Kategorien einer Ressource zu CmsJspResourceWrapper hinzugefügt.</li>
<li>Neue Methode&nbsp;getElementBeansInContainers in CmsJspStandardContextBean.</li>
<li>Neue&nbsp;Methode isHistoryContent in CmsContainerElementBean.</li>
<li>Italienische Übersetzung für CodeMirror Integration in TinyMCE.</li>
</ul>
<p>Eine vollständige Liste der Neuerungen steht in den englischen <a href="%(link0)" target="_self">Release Notes</a>.</p>
<h2>Wichtige neue Funktionen von OpenCms 11.0</h2>
<ul>
<li>Enthält das 'Mercury' Standard Template (Source Code auf <a href="%(link1)" target="_self">GitHub</a>).</li>
<li>Workplace: Restrukturierung der Workplace für verbesserte Usability mit moderner GUI.</li>
<li>Workplace: 'Listen' App für Management des neuen Inhaltstypen 'Liste' mit SOLR.</li>
<li>Workplace: 'Lesezeichen' App für schnellen Zugriff auf Workplace Stellen.</li>
<li>Workplace: 'Ressource-Typen' App zum Anlegen, Lesen, Bearbeiten und Löschen von Ressourcetypen.</li>
<li>Workplace: 'Sessions' App zum Verwalten von aktuellen Benutzersessions und zum Senden von Nachrichten an Benutzer.</li>
<li>Workplace: 'Script-Terminal' App zum Ausführen von OpenCms Shell Skripten aus der Workplace.</li>
<li>Workplace: 'SQL-Konsole' App zum Abfragen der konfigurierten Datenbank Pools.</li>
<li>Template API: Meta Mappings erlauben den Transfer von Werten aus XML-Inhalten zum Seitentemplate (z.B. für SEO Meta Infos).</li>
<li>Template API: Der 'Liste' Inhaltstyp stellt Filter- und Sortieroptionen für Titel / Datum / Kategorie / Ordner zur Verfügung.</li>
<li>Template API: EL Funktionen zum Erzeugen von Bildvarianten für 'srcset' oder 'picture'.</li>
<li>Editor: Bilder haben jetzt einen 'Fokuspunkt' zur Kontrolle von automatischem Abschneiden von Bildern um diesen Punkt.</li>
<li>Management: Option zur Ausführung von Shell Kommandos in einer laufenden OpenCms Instanz mit RMI.</li>
<li>Management: Das Flex-Cache Bucket Feature erlaubt das selektive Löschen von Flex-Cache Einträgen.</li>
<li>Setup: Ein Modulupdate importiert jetzt nur die Änderungen anstelle des Löschens und Neuiimportierens des Moduls.</li>
<li>Setup: Alle alten Workplace Module wurden entfernt, es verbleiben nur zwei Kernmodule in einer neuen Installation.</li>
<li>Setup: Modernisierung der 'Setup Wizard' Benutzeroberfläche.</li>
<li>Setup: Modernisierung der 'Updater' Benutzeroberfläche, mit Support für die Versionen 10.5, 10.0 und 9.5.</li>
<li>Unterstützung für Java 11.</li>
</ul>
<div>
<h2>Allgemeine Funktionen von OpenCms</h2>
<ul>
<li>Der Seiteneditor ermöglicht WYSIWYG "in place" Bearbeiten von Webseiten und Anordnen von Inhalt mit Drag &amp; Drop.</li>
<li>Der formbasierte Editor ermöglicht das Bearbeiten von Inhalt in einer strukturierten Eingabemaske.</li>
<li>Mit dem Sitemap Editor können neue Seiten angelegt und der Navigationsbaum per Drag &amp; Drop verändert werden.</li>
<li>Responsives "Mercury" Standard Template basierend auf Bootstrap 4 mit vielen Funktionen.</li>
<li>Inhalterstellung für mobile Endgeräte mit Vorschaufunktion und geräteabhängiger Auslieferung von Inhalten.</li>
<li>Strukturierte Inhalte können durch einfache XML Schemas definiert werden.</li>
<li>Einfach zu bedienender "Online / Offline" Workflow, Änderungen müssen freigegeben werden bevor sie "online" gehen.</li>
<li>Linkmanagement für alle internen Ressourcen mit Meldung von ungültigen Links.</li>
<li>Integrierte Bildverarbeitung / -skalierung, mit Funktionen zur Auswahl eines Bildausschnitts.</li>
<li>SEO Funktionen (Suchmaschinenoptimierung) mit automatischer sitemap.xml Generierung und Alias Support.</li>
<li>Vollständige Benutzerverwaltung inklusive Unterstützung von "Organisationseinheiten".</li>
<li>Mandantenfähig, mehrere Websites können in einer OpenCms Installation verwaltet werden.</li>
<li>Inhalte können dynamisch ausgeliefert oder als statische HTML Seiten exportiert werden.</li>
<li>Dateizugriff auf das OpenCms Repository über ein Netzlaufwerk / SMB.</li>
<li>CMIS und webDAV als Zugriffsmöglichkeiten zum OpenCms Content Repository.</li>
<li>Integration von Apache SOLR für mächtige Suchfunktionen sowie noSQL ähnlichen Abfragen.</li>
<li>Volltextsuche auf Webseiten, aber auch in PDF, MS Office und Open Office Dokumenten.</li>
<li>Erweiterungen werden über ein flexibles Modulsystem verwaltet.</li>
<li>Die "Time Warp" Funktion ermöglicht es Dateien anzuzeigen, welche noch nicht bzw. nicht mehr gültig sind.</li>
<li>JSP Integration für das Erstellen von Templates und anderen dynamischen Funktionen.</li>
<li>... und vieles mehr.</li>
</ul>
</div>
<p>OpenCms 11.0 ist voll abwärtskompatibel zu allen vorherigen 10.5, 10.0 und 9.5er Versionen. Templates und andere OpenCms Anwendungen aus diesen Versionen sollten ohne Weiteres auf Version 11.0 laufen.</p>
<p>Benutzer von Alkacon OCEE benötigen eine neue OCEE Version für OpenCms 11.0.1. Das Update ist für Alkacon Kunden mit einem OCEE Update Abonnement kostenlos. <a href="%(link2)" target="_blank" rel="noopener noreferrer">Bitte kontaktieren Sie Alkacon</a> um die neue Version zu erhalten.</p>
<h2>Über OpenCms</h2>
<p>OpenCms ist eine führende Lösung im Bereich der Open Source CMS Systeme. Die Software wird seit dem Jahr 2000 ständig weiterentwickelt und verfügt über eine aktive Community von Open Source Entwicklern.</p>
<p>OpenCms ist eine Java und XML basierte Website Content Management Lösung für Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. Die Redaktionsoberfläche ist vollständig browserbasiert. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere für Internet- oder Intranetanwendungen mittlerer und großer Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz veröffentlicht.</p>
<p>Die Alkacon Software GmbH &amp; Co. KG aus Köln ist die treibende Kraft in der Entwicklung von OpenCms. Alkacon Software bietet seinen Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. Für unsere Kunden bedeutet dies zusätzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen. Bitte sehen Sie sich die <a title="Alkacon Produktübersicht" href="%(link3)" target="_self">Alkacon Produktübersicht</a> für weitere Informationen an.</p>
<p>Das Team von <a title="Alkacon Software – Die OpenCms Experten" href="%(link4)" target="_self">Alkacon Software – Die OpenCms Experten</a> bedankt sich für die Unterstützung von allen, welche diese neue Version von OpenCms ermöglicht haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_11_0_1.png]]></target>
            <uuid>b4146db2-cf0e-11e9-8925-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[fb_logo_11_0_1]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 11.0.1 von Alkacon ermöglicht das Erstellen von Templates ohne Programmierung und bringt neue Werkzeuge für das Übersetzen von Webseiten, inklusive einem Vergleich der Sitemap in verschiedenen Sprachen, präsentiert in einer responsive Demo website basierend auf unserem erweiterten Apollo Template. Kostenloser Download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 11.0.1, OpenCms 11, Java, CMS, J2EE, OSS, Open Source, Content, Management, System, Software, Website, major release, sicherheit, update, patch, bugfix, internet explorer, firefox, oracle, datenbank, leistung, XSS, cross site scripting, passwort, auto vervollständigen]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 11.0.1 available]]></Title>
    <Date>1567612800000</Date>
    <Preface><![CDATA[OpenCms 11.0.1 is a maintenance release for OpenCms 11. This version fixes a number of issues that have been detected in OpenCms 11. Also included are some new features and security enhancements.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/download/opencms.html]]></target>
            <uuid>3343b294-31f3-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[https://registry.hub.docker.com/u/alkacon/opencms-docker/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://documentation.opencms.org/]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://demo.opencms.org]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/190904-opencms-1101-releasenotes.html]]></target>
            <uuid>7504568c-ce43-11e9-8925-7fde8b0295e1</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[https://github.com/alkacon/mercury-template]]></target>
          </link>
          <link name="link6" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/contact/]]></target>
            <uuid>4176b66c-32e5-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link7" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/products/overview/index.html]]></target>
            <uuid>10ae3921-3205-11ea-b60c-0242ac11002b</uuid>
          </link>
          <link name="link8" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 11.0.1 is now available for <a title="Download OpenCms 11.0.1 from the official website opencms.org" href="%(link0)" target="_self">download</a>.</p>
<p>OpenCms 11.0.1 is a maintenance release for OpenCms 11. This version fixes a number of issues that have been detected in OpenCms 11. Also included are some new features and security enhancements.</p>
<p>OpenCms 11 compared to version 10 brings a major update for the workplace, all apps have been replaced with modernized versions. Moreover, this release is compatible with Java 11 and comes with the new "Mercury" default template.</p>
<p>The&nbsp;<a href="%(link1)" target="_self">OpenCms Docker image</a>&nbsp;as well as the <a href="%(link2)" target="_self">OpenCms documentation</a>&nbsp;and the <a href="%(link3)" target="_self">OpenCms demo site</a>&nbsp;will also be updated for this release.</p>
<h2>New in OpenCms 11.0.1</h2>
<ul>
<li>Added site/project switch to bookmark dialog.</li>
<li>Added title editing option for entries to bookmark dialog.</li>
<li>Added option to remove all functions in the sitemap configuration.</li>
<li>Added support for more than one master configuration in the sitemap configuration.</li>
<li>Added new layout group "Header with flexible layout options" to the Mercury template.</li>
<li>Added new sort order "Result score" to gallery dialog.</li>
<li>Added easier to use color picker to XML content editor.</li>
<li>Added "baseUri" attribute to &lt;cms:display&gt; tag to control formatter lookup.</li>
<li>Added "filename" attribute to &lt;cms:pdf&gt; tag for customizing PDF links.</li>
<li>Added method to read the categories of a resource from CmsJspResourceWrapper.</li>
<li>Added method getElementBeansInContainers to CmsJspStandardContextBean.</li>
<li>Added method isHistoryContent to CmsContainerElementBean.</li>
<li>Added Italian localization for CodeMirror integration in TinyMCE (pull request #654).</li>
</ul>
<p>Please check out the <a title="OpenCms 11.0.1 release notes" href="%(link4)" target="_self">release notes</a> for further details regarding the changes in this release.</p>
<h2>Main new features of OpenCms 11</h2>
<ul>
<li>Includes the 'Mercury' default template, source code available <a href="%(link5)">on GitHub</a>.</li>
<li>Workplace: Restructured the workplace for improved usability with a modern GUI.</li>
<li>Workplace: 'Lists' app for management of default 'List' content type using SOLR.</li>
<li>Workplace: 'Bookmarks' app for quick access to workplace locations.</li>
<li>Workplace: 'Resource types' app to create, read, edit and delete resource types.</li>
<li>Workplace: 'Sessions' app to manage current user sessions and send messages to users.</li>
<li>Workplace: 'Script terminal' app to run OpenCms shell scripts from the workplace.</li>
<li>Workplace: 'SQL console' app to query the configured database pools.</li>
<li>Template API: Meta mappings allow transferring values from XML contents to the page template (e.g. for SEO meta infos).</li>
<li>Template API: The 'List' content type provides filter and sort options for title / date / category / folder.</li>
<li>Template API: EL functions to create image variations for 'srcset' or 'picture'.</li>
<li>Editor: Image now have a 'focal point' to control automatic image cropping around this point.</li>
<li>Management: Option to execute shell commands in a running OpenCms instance using RMI.</li>
<li>Management: The flex-cache bucket feature allows selective flex-cache purging.</li>
<li>Management: Updating a module will now import only the changes instead of deleting and reinstalling the module.</li>
<li>Setup: Removed all legacy workplace modules, leaving only two core modules in a new installation.</li>
<li>Setup: Modernized the 'Setup wizard' user interface.</li>
<li>Setup: Modernized the 'Updater' user interface, providing suport for 10.5, 10.0 and 9.5 versions.</li>
<li>Support for Java 11.</li>
</ul>
<h2>General OpenCms features</h2>
<ul>
<li>The page editor allows WYSIWYG inline editing of web pages and arrangement of content by drag &amp; drop.</li>
<li>The form based editor allows editing of structured content in a well defined form mask.</li>
<li>The sitemap editor allows to create new pages and re-arrange the navigation tree by drag &amp; drop.</li>
<li>Responsive "Mercury" default template based on Bootstrap 4 with many features.</li>
<li>Content creation for mobile devices with preview and device specific content control.</li>
<li>Structured contents can be defined using a simple XML schema.</li>
<li>Easy to use "Online / Offline" workflow, changes must be approved before they become visible.</li>
<li>Link management for all internal resources with broken link detection.</li>
<li>Integrated image scaling and cropping.</li>
<li>SEO features with automatic sitemap.xml generation and page alias support.</li>
<li>Full featured user management that supports the concept of "Organizational Units" (OUs).</li>
<li>Allows management of multiple websites within one installation.</li>
<li>Contents can be served dynamically or exported to static HTML files.</li>
<li>File access to the OpenCms content repository over a shared network / SMB drive.</li>
<li>CMIS and WebDAV access to the OpenCms content repository.</li>
<li>Integrates Apache SOLR for powerful content searching and noSQL like queries.</li>
<li>Full text search for web pages as well as in office documents like PDF, MS Office and Open Office.</li>
<li>Extensions can be added through a flexible module system.</li>
<li>The "time warp" feature allows to view resources which are expired or not yet released.</li>
<li>JSP integration for dynamic functionality in templates, dynamic forms etc.</li>
<li>... and many more.</li>
</ul>
<p>OpenCms 11.0 is backward compatible with all 10.5, 10.0, and 9.5 versions. Templates and other OpenCms developed code from these versions should work mostly "out of the box" with version 11.0.</p>
<p><span class="label label-red">Notice for users of Alkacon OCEE</span>: A new OCEE version is required for OpenCms 11.0. The update is free for Alkacon customers with a valid OCEE subscription. <a href="%(link6)" target="_blank" rel="noopener noreferrer">Please contact Alkacon</a> to receive the new version.</p>
<h2>About OpenCms</h2>
<p>OpenCms is a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 15 years and has an active community of Open Source developers.</p>
<p>OpenCms is an enterprise - ready web content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL license.</p>
<p>Alkacon Software GmbH &amp; Co. KG is the company responsible for the development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations. Please see the <a title="Alkacon product overview" href="%(link7)">Alkacon product overview</a> for more details.</p>
<p>The team at <a title="Alkacon Software - The OpenCms Experts" href="%(link8)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/fb_logo_11_0_1.png]]></target>
            <uuid>b4146db2-cf0e-11e9-8925-7fde8b0295e1</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 11.0.1]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[OpenCms 11.0.1 from Alkacon offers template creation without the need to code, plus other features like tools for assisted translation of pages and sitemaps, user generated content, improved documentation and much more - all presented in a responsive demo based on our extended Apollo Template. Free download.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms 11.0.1, OpenCms 11, Java CMS, J2EE, OSS, Open Source, Content, Management, Software, Website, major release, Advanced Direct Edit, Drag and Drop, sitemap editor, multiple file upload, content subscription engine, new publish dialog, JPA support, database layer]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
