<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Nominate OpenCms as best Open Source CMS!]]></Title>
    <Date>1155376800000</Date>
    <Preface><![CDATA[Nominate OpenCms&nbsp;for the&nbsp;<A href="http://www.packtpub.com/nominations" target="_blank">Open Source CMS Award 2006</A>.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/award]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/nominations]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/OpenCMS6_admin]]></target>
          </link>
        </links>
        <content><![CDATA[<p>
<a href="%(link0)" target="_blank">Packt Publishing</a>&nbsp;has launched a
new award&nbsp;for the title of best open source Content Management System, 2006.</p>
<p>Please nominate OpenCms&nbsp;for the&nbsp; 
<a href="%(link1)" target="_blank">Open Source CMS Award 2006</a>.</p>
<p>The 5 systems with the most votes will go to the final, where an independent&nbsp;jury will
select the winner. 
<strong>
<em>It&nbsp;is your vote that counts</em>.</strong></p>
<p>
<a href="%(link2)" target="_blank">Packt Publishing</a>&nbsp;also has
now released a new book about OpenCms 6 called 
<strong>
<em>Managing and Customizing OpenCms 6 Websites</em>
</strong> . The book covers OpenCms version&nbsp;6 and has been written by Matt Butcher.</p>
<p>
<em>
<strong>Managing and Customizing OpenCms 6 Websites</strong>
</em> covers:</p>
<ul>
<li>Installing OpenCms, and its basic concepts</li>
<li>Using the OpenCms Workplace to manage and publish your content</li>
<li>Managing projects, user accounts, databases, and modules</li>
<li>Working with the VFS and search</li>
<li>Understanding and using tasks and workflows</li>
<li>Working with templates and the OpenCms Tag Library</li>
</ul>
<p>This book is for anyone who wants to get an OpenCMS website up and running as quickly as
possible, whether you are a user, administrator, designer or webmaster.</p>
<p>
<strong>UPDATE (Sep. 4, 2006):</strong> Nominations have been closed.&nbsp;Thanks to all users who
voted for OpenCms.</p>
<p>Unfortunatly OpenCms did not make the final 5 in the award. However, no other Java based system
did either. Apparently at least the popularity of PHP based systems is greater, as&nbsp;4 out of
the final 5 are purly PHP based.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/nominations.gif]]></target>
            <uuid>3f05655e-2882-11dc-a2b5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Open Source CMS Award 2006]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Nominate OpenCms as best Open Source CMS]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/nominations]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1155376800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
