<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0.3 verfügbar]]></Title>
    <Date>1132927200000</Date>
    <Preface><![CDATA[Die Version 6.0.3 von OpenCms ist fertig. Sie beinhaltet zahlreiche Verbesserungen und Korrekturen gegenüber der OpenCms Version 6.0.2.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die Version 6.0.3 von OpenCms ist&nbsp;fertig. Sie beinhaltet zahlreiche Verbesserungen und Korrekturen gegen&uuml;ber der&nbsp;OpenCms Version 6.0.0 und 6.0.2. Alkacon empfiehlt allen Benutzern von OpenCms das Update auf die neue Version.</p> <p>OpenCms ist eines der popul&auml;rsten Open Source Content Management Systeme. Entwickelt wurde die neue Version von der Alkacon Software GmbH (<a href="%(link0)">http://www.alkacon.com</a>), unterst&uuml;tzt durch eine internationale OpenCms Entwickler-Community.</p> <p>Die neue Version 6.0.3 beinhaltet zahlreiche Verbesserungen und Korrekturen gegen&uuml;ber der letzten ver&ouml;ffentlichten Version OpenCms 6.0.2.</p> <p>OpenCms 6.0.3 kann ab sofort unter <a href="%(link1)">http://www.opencms.org</a>&nbsp;herunter geladen werden. Mit dem Download kommt eine ausf&uuml;hrliche Dokumentation sowie ein Satz an Beispielen, die ebenfalls von Alkacon Software entwickelt wurden.</p> <p><strong>OpenCms 6 bietet wesentliche Funktionen, wie sie in einem modernen CMS-System erwartet werden:</strong></p> <ul>     <li>&bdquo;Direct Edit&ldquo; von Content direkt von der Webseite</li>     <li>Verbesserte HTML-Benutzeroberfl&auml;che, kompatibel zu MS IE und Firefox</li>     <li>Neue Inhaltstypen k&ouml;nnen &uuml;ber ein XML Schema leicht definiert werden</li>     <li>Support f&uuml;r die Verwaltung mehrerer Websites in einer Installation</li>     <li>Integrierte Volltextsuche, auch in MS Office und PDF &ndash; Dokumenten</li>     <li>Umfangreiches Berechtigungs-System&nbsp; mit Access Control Lists (ACL)</li>     <li>Erzeugt auf Wunsch statische HTML-Seiten</li>     <li>Konfigurierbares Template f&uuml;r &bdquo;Out of the box&ldquo; Website-Erstellung</li>     <li>Beinhaltet Module f&uuml;r News, Stellen, FAQ, Events,</li>     <li>Generator f&uuml;r Email-Formulare</li>     <li>Support f&uuml;r verschiedene Sprachen und Unicode</li> </ul> <p>Das Update von OpenCms 6.0.0 auf OpenCms 6.0.3 kann durch einen einfach zu bedienenden &quot;Update Wizard&quot; in kurzer Zeit fast automatisch duchgef&uuml;hrt werden.</p> <p>Weitere Details zu OpenCms sind unter <a href="%(link2)">http://www.opencms.org</a> verf&uuml;gbar.</p> <p>Unabh&auml;ngige Untersuchungen weisen OpenCms als eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme aus. Die Software wird seit &uuml;ber 6 Jahren st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p> <p>&Uuml;ber 80 internationale IT - Unternehmen haben sich bereits als offizieller &quot;OpenCms Solution Provider&quot; auf der OpenCms Website registriert. Eine stetig wachsende Liste von Referenzen belegt au&szlig;erdem die steigende Verbreitung von OpenCms.</p> <p>OpenCms 6 ist eine vollst&auml;ndige, Java und XML basierte Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p> <p>Die Alkacon Software GmbH ist die treibende Kraft in der Entwicklung von OpenCms. Viele Unternehmen und Organisationen weltweit nutzen OpenCms bereits als kosteng&uuml;nstige, professionelle Alternative zu teuren Lizenzprodukten.</p> <p>Die Alkacon Software GmbH bietet Ihren Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung von OpenCms&nbsp;6.0.3 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1132927200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0.3 available]]></Title>
    <Date>1132927200000</Date>
    <Preface><![CDATA[Version 6.0.3 of OpenCms is now available for download. OpenCms 6.0.3 is a maintenance release which fixes several issues reported in OpenCms 6.0.2.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_799.html]]></target>
            <uuid>3e4e241c-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 6.0.3 of OpenCms is now available for download. OpenCms is one of the most popular Open Source Content Management Solutions. The new version was developed by&nbsp;Alkacon Software GmbH with the support of an international OpenCms developer community.</p>
<p>OpenCms 6.0.3 is a maintenance release which fixes several issues reported in OpenCms 6.0.0 and 6.0.2. Some new features are available as well.</p>
<p>For complete details about the issues solved with 6.0.3 compared to the 6.0.0 and 6.0.2&nbsp;release, please check the  <a href="%(link0)">6.0.3 release notes</a>.</p>
<p>With the OpenCms 6.0.3&nbsp;download comes extensive online documentation and examples, also developed by Alkacon Software GmbH.</p>
<p><strong>OpenCms 6 offers major features expected from a modern CMS solution:</strong></p>
<ul>
    <li>&quot;Direct edit of content right from the website</li>
    <li>Improved HTML user interface, compatible to MS IE and Firefox</li>
    <li>New content types can easily be defined by an XML schema</li>
    <li>Support for managing multiple websites in one installation</li>
    <li>Integrated full text search, also in MS Office and PDF documents</li>
    <li>Extensive user permission system with access control lists (ACL)</li>
    <li>Optional generates static HTML pages from the content</li>
    <li>Contains modules for news, jobs, FAQ and events</li>
    <li>Generator for Email-Forms</li>
    <li>Support for multiple languages and Unicode</li>
</ul>
<p>Updating an existing OpenCms 6.0.0 installation to version 6.0.3 is easy with the new OpenCms &quot;Upgrade wizard&quot;.</p>
<p>Independent research has shown OpenCms to be a market leading solution amongst Open Source CMS systems. The software has been in continuous development for the last 6 years and has an active community of Open Source developers.</p>
<p>More than 80 international IT companies have been registered as official OpenCms Solution Provider on the OpenCms website. A steadily growing list of reference sites also shows the increasing use of OpenCms.</p>
<p>OpenCms is an enterprise - ready content management solution build in Java and XML from open source components. OpenCms can easily be deployed on almost any existing IT infrastructure and provides powerful features especially suited for medium and large enterprise internet or intranet applications. OpenCms is open source software distributed under the LGPL licence.</p>
<p>Alkacon Software GmbH is the company responsible for the main development of OpenCms. Today OpenCms is a leading open source CMS solution in widespread use all over the world. Many businesses and organizations use OpenCms as a cost effective, professional alternative to expensive license products.</p>
<p>Alkacon Software GmbH offers its customers training, support and add-on products for OpenCms. This gives our customers a layer of security and convenience often required for mission critical OpenCms installations.</p>
<p>The team at  <a href="%(link1)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1132927200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
