<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7 Alpha 1 verfügbar / Roadmap aktualisiert]]></Title>
    <Date>1171450800000</Date>
    <Preface><![CDATA[Die Entwicklung von OpenCms 7 verläuft nach Plan. OpenCms 7 Alpha 1 ist nun im öffentlichen CVS verfügbar. Die Roadmap für OpenCms 7 wurde gemäß dem Entwicklungsstand aktualisiert.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1141.html]]></target>
            <uuid>390f8514-39e3-11dc-bdab-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Die Entwicklung von OpenCms 7 verläuft nach Plan. OpenCms 7 Alpha 1 ist nun im öffentlichen CVS verfügbar. Die Roadmap für OpenCms 7 wurde gemäß dem Entwicklungsstand aktualisiert.</p>
<p>Die Details von Zeitplan und Roadmap für OpenCms 7 sind zurzeit leider nur in Englisch verfügbar.</p>
<p><a href="%(link0)" target="_self">Bitte klicken Sie hier für die englische Meldung.</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7 Alpha 1 available / Roadmap update]]></Title>
    <Date>1171450800000</Date>
    <Preface><![CDATA[OpenCms 7 is going according to plan. Version 7 Alpha 1 is now available in public CVS. The roadmap for OpenCms 7 has been updated, providing the current development status.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 7 development is going according to plan. The first alpha version of OpenCms 7 is now available in the public CVS in the "DEV_7_0" branch (Tag "build_7alpha_1"). The main development is done by  <a href="%(link0)">Alkacon Software</a> with contributions from the OpenCms community.</p>
<p><strong>Features finished / near finished in the 7 Alpha 1 release:</strong></p>
<ul>
    <li>
    <div>The internal link management has been greatly improved.</div>
    </li>
    <li>
    <div>If files (or folders) are moved / renamed, all links to these files are now kept intact.</div>
    </li>
    <li>
    <div>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</div>
    </li>
    <li>
    <div>A permalink handler for resources is available for external references in case a resource is moved or renamed.</div>
    </li>
    <li>
    <div>Link management support has been added in editors for standard HTML tags 'area', 'object' &amp; 'embed'.</div>
    </li>
    <li>
    <div>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms resources.</div>
    </li>
    <li>
    <div>Native support for WebDAV access to the OpenCms VFS has been added (still in development).</div>
    </li>
    <li>
    <div>Publishing of resources is now done using a queue, so a user can continue to work after publishing has started.</div>
    </li>
    <li>
    <div>The concept of "Organization Units" (OUs) has been added to the internal user management.</div>
    </li>
    <li>
    <div>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</div>
    </li>
    <li>
    <div>A "switch user" (su) function for Administrators in the OpenCms Workplace is now available.</div>
    </li>
    <li>
    <div>Many usability improvements for the OpenCms Workplace have been made, especially concerning the handling of other user locks.</div>
    </li>
    <li>
    <div>Many dialogs in the OpenCms Workplace are more responsive because of the use of Ajax technologies.</div>
    </li>
    <li>
    <div>The full text search has been greatly improved so that individual resource properties or fields from XML content can be searched directly.</div>
    </li>
    <li>
    <div>A "time warp" feature in the Workplace now allows users to view resources with date expired / date released settings.</div>
    </li>
    <li>
    <div>Auto correction for structured XML contents now allows changes to the XML schema of existing resources.</div>
    </li>
    <li>
    <div>A configurable search tool is now available for content managers in the Workplace.</div>
    </li>
    <li>
    <div>JSP 2.0 and Servlet 2.4 are now used by default.</div>
    </li>
</ul>
<p><strong>Features to be developed for the 7 final release:</strong></p>
<ul>
    <li>
    <div>The core database structure will be optimized.</div>
    </li>
    <li>
    <div>Improved documentation has to be written.</div>
    </li>
    <li>
    <div>Improvements to the Workflow (e.g. 6-eye-confirm) where planned for version 7, but the original sponsor has withdrawn his support and no new sponsor is in sight. This means it is currently unclear if improvements to the Workflow will be available in version 7.</div>
    </li>
</ul>
<p>Please note that this feature list of OpenCms 7 is subject to change until we reach the "Release Candidate 2" stage (please see below). Keep in mind that most development on OpenCms 7 is sponsored by customers. That means some features may be dropped and other features may be added until the feature freeze.</p>
<p><strong>OpenCms 7 release plan: <br />
</strong> Updated Feb. 14, 2007 for the release of 7 Alpha 1.</p>
<p>The Alpha and Beta releases of OpenCms 7 will be available in the public CVS only. These releases will not be feature complete, and the core API will be subject to further change. The Alpha release are tagged "build_7alpha_x". The Beta releases will be tagged "build_7beta_x". The first Alpha version has been made available February 14, 2007 (CVS tag "build_7alpha_1"). The Beta stage will be started March 21, 2007.</p>
<p>The first public release for download from  <a href="%(link1)">www.opencms.org</a> will be OpenCms 7 RC 1 (Release Candidate 1). This release will be available May 2, 2007. There will be no update wizard in this version. After the release of this version, we will concentrate on issues regarding backward compatibility with the version 6 releases.</p>
<p>The second public release for download will be OpenCms 7 RC 2, available June 6, 2007. This version will contain bug fixes and the final and stable core API for version 7. It will also contain the first version of an update wizard for version 7. The goal is to be able to update all released stable OpenCms 6.0 and 6.2 versions to OpenCms 7 using this update wizard. This release will also mark the beginning of the "feature freeze" period, which means no new features will be added to the core after the OpenCms 7 RC 2 release.</p>
<p>OpenCms 7.0 final will be released July 4, 2007. Compared to the RC 2 version, we expect no changes except fixes for bugs or other issues that have been found in the RC 2 release. This version will also contain the final and tested version of the update wizard.</p>
<p>Please note that this feature list and release plan for OpenCms 7 comes without any warranty and it is subject to change without notice. Updates will be published on the OpenCms website and the  <a href="%(link2)">opencms-dev</a> mailing list.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
