<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon unterstützt FCKeditor Projekt]]></Title>
    <Date>1169310240000</Date>
    <Preface/>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.fckeditor.net/]]></target>
          </link>
        </links>
        <content><![CDATA[<p><a href="%(link0)">Alkacon Software </a>ist dem <a href="%(link1)">FCKeditor</a> Projekt beigetreten und entwickelt dort zuk&uuml;nftig die Java Integration. Dies sind gute Neuigkeiten f&uuml;r die OpenCms Community, da dies bedeutet das zuk&uuml;nftige Versionen des FCKeditor noch besser&nbsp;mit OpenCms integriert werden.</p>
<p>FCKeditor ist der weltweit f&uuml;hrende Open Source webbasierte Texteditor. Das Projekt ist bekannt f&uuml;r seine Stabilit&auml;t und sein umfangreiches Funktionsangebot. Mit bereits &uuml;ber 1,5 Millionen Downloads ist&nbsp;FCKeditor die erste Wahl, um einfach visuelles Editieren zu einem Webangebot hizuzuf&uuml;gen.</p>
<p>FCKeditor ist seit der Version 6.2 in OpenCms integriert, welche im M&auml;rz 2006 ver&ouml;ffentlicht wurde.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
      <Link>
        <Text><![CDATA[Zur FCKeditor Webseite]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.fckeditor.net/]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon joins the FCKeditor project]]></Title>
    <Date>1169310240000</Date>
    <Preface><![CDATA[Alkacon Software, maintainer of OpenCms, has officially joined the FCKeditor project as the Java Integration Manager.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.fckeditor.net/]]></target>
          </link>
        </links>
        <content><![CDATA[<p><a href="%(link0)">Alkacon Software</a>, maintainer of OpenCms, has joined the  <a href="%(link1)">FCKeditor</a> project as the Java Integration Manager. Those are great news for the OpenCms community, as this means future versions and features of FCKeditor will be even better integrated with OpenCms.</p> <p>FCKeditor is the leading open source web based text editor, well known for its maturity, stability and rich feature set. With more then 1.5 million downloads already,&nbsp;FCKeditor is the editor component of choice for adding web based visible editing capabilities to web projects worldwide.</p> <p>FCKeditor has been part of the OpenCms core since its version 6.2, released on March 2006.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
      <Link>
        <Text><![CDATA[Visit the FCKeditor website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.fckeditor.net]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
