<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Letzte Vorab-Version von OpenCms 7]]></Title>
    <Date>1181143680000</Date>
    <Preface><![CDATA[Die Entwicklung von OpenCms 7 hat mit der Verfügbarkeit der zweiten und letzten "Release Canditate" (RC) Version einen weiteren Meilenstein erreicht.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/cvs/viewcvs.cgi/*checkout*/opencms/history.txt]]></target>
            <query><![CDATA[rev=1.717.2.173&only_with_tag=build_7rc_2]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1141.html]]></target>
            <uuid>390f8514-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die Entwicklung von OpenCms 7 hat mit der Verfügbarkeit der zweiten und letzten "Release Canditate" (RC) Version einen weiteren Meilenstein erreicht. Die Veröffentlichung der finalen und stabilen OpenCms Version 7.0 ist für den 4. Juli 2007 geplant.</p> <p>Diese Vorab-Version von OpenCms 7 ist zur einfachen Installation auch als <a href="%(link0)" target="_self">Download-Paket von der opencms.org Website</a> verfügbar.</p> <p>In dieser Version ist erstmals auch ein experimenteller Update-Wizard für OpenCms 6.x Installationen enthalten, die MySQL verwenden.</p> <p>Das erweiterte Benutzermanagement mit Organisatorischen Einheiten und Rollen ist vollständig. Ebenso wurden die Arbeiten an der WebDAV-Schnittstelle in das OpenCms VFS abgeschlossen. Weitherhin wurde die Datenbankstruktur des OpenCms Kerns optimiert. Die vollständigen Details können aus der Datei <a href="%(link1)" target="extern">history.txt</a> im öffentlichen CVS entnommen werden.</p> <p>Die Funktionsliste und Roadmap für die Version 7 bleibt unverändert gegenüber der <a target="_self" href="%(link2)">Ankündigung der Version OpenCms 7 Alpha</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1181143680000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Last OpenCms 7 preview before final release]]></Title>
    <Date>1181143680000</Date>
    <Preface><![CDATA[The last preview for OpenCms 7 before the final release is now available for download.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Development of OpenCms 7 has reached the last milestone before public release as the second and final release candidate (RC 2) of OpenCms 7 is now available. The main development on OpenCms 7 is done by  <a href="%(link0)">Alkacon Software</a> with contributions from the OpenCms community.</p> <p>This OpenCms 7 RC 2 Preview release is available as binary package from the  <a href="%(link1)">Download</a> section on opencms.org. The source code is available in the public CVS in the "DEV_7_0" branch (Tag "build_7rc_2").</p> <p><strong>Features of the OpenCms 7 RC 2 release:</strong></p> <ul>     <li>An experimental update Wizard for OpenCms 6 installations on MySQL is available [new in RC 2].</li>     <li>Support for the PostgreSQL database now included [new in RC 2].</li>     <li>Improved backward compatibility with OpenCms version 6 [new in RC 2].</li>     <li>The internal link management has been greatly improved.</li>     <li>If files (or folders) are moved / renamed, all links to these files are now kept intact.</li>     <li>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</li>     <li>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms resources.</li>     <li>Native support for WebDAV access to the OpenCms VFS has been added.</li>     <li>Link management support has been added in editors for standard HTML tags 'area', 'object' &amp; 'embed'.</li>     <li>Publishing of resources is now done using a queue, so a user can continue to work after publishing has started.</li>     <li>The concept of "Organization Units" (OUs) has been added to the internal user management.</li>     <li>System permissions are now based on a comlete new set of "Roles".</li>     <li>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</li>     <li>A "switch user" (su) function for Administrators in the OpenCms Workplace is now available.</li>     <li>Many usability improvements for the OpenCms Workplace have been made, especially concerning the handling of other user locks.</li>     <li>Many dialogs in the OpenCms Workplace are more responsive because of the use of Ajax technologies.</li>     <li>The context menus in the Workplace are now cascading and can be configured individually based on the users permissions.</li>     <li>A new "Undelete" function is available on the context menu to restore deleted resources, including complete deleted subtrees.</li>     <li>The full text search has been greatly improved so that individual resource properties or fields from XML content can be searched directly.</li>     <li>A "time warp" feature in the Workplace now allows users to view resources with date expired / date released settings.</li>     <li>Auto correction for structured XML contents now allows changes to the XML schema of existing resources.</li>     <li>A configurable search tool is now available for content managers in the Workplace.</li>     <li>A permalink handler for resources is available for external references in case a resource is moved or renamed.</li>     <li>The core database structure has been optimized.</li>     <li>JSP 2.0 and Servlet 2.4 are now used by default.</li> </ul> <p><strong>Who should use this OpenCms 7 RC 2 distribution download?</strong></p> <p>It is recommended for heavy OpenCms users, developers and contributors to install and try out this release candidate version, in order to prepare for the upcoming OpenCms 7 final release.</p> <p>Users looking for a stable installation should use the latest 6.2.x version now and upgrade to OpenCms 7 when the final release is available.  <em>Please note that there will be no update wizard provided for any release candidate (RC) version to the final release of OpenCms 7.</em></p> <p><strong>OpenCms 7 release plan:</strong></p> <p>OpenCms 7.0 final will be released July 4, 2007. Compared to the RC 2 version, we expect no changes except fixes for bugs or other issues that have been found in the RC 2 release. This version will also contain the update wizard for Oracle.</p> <p>Please note that this feature list and release plan for OpenCms 7 comes without any warranty and it is subject to change without notice. Updates will be published on the OpenCms website and the  <a href="%(link2)">opencms-dev</a> mailing list.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1181143680000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
