<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Vorab-Version OpenCms 7 RC 1 fertig]]></Title>
    <Date>1178116680000</Date>
    <Preface><![CDATA[Die erste Vorab-Version von OpenCms 7 (RC 1) ist ab sofort von der opencms.org Website verfügbar.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/cvs/viewcvs.cgi/*checkout*/opencms/history.txt]]></target>
            <query><![CDATA[rev=1.717.2.173&only_with_tag=build_7rc_1]]></query>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1141.html]]></target>
            <uuid>390f8514-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die Entwicklung von OpenCms 7 hat mit der&nbsp;Verf&uuml;gbarkeit der&nbsp;ersten &quot;Release Canditate&quot; (RC) Version einen weiteren Meilenstein erreicht.</p> <p>Diese Vorab-Version von OpenCms 7 ist nun zur einfachen&nbsp;Installation&nbsp;auch als <a href="%(link0)" target="_self">Download-Paket von der opencms.org Website</a> verf&uuml;gbar.</p> <p>Das erweiterte Benutzermanagement mit Organisatorischen Einheiten und Rollen ist vollst&auml;ndig. Ebenso&nbsp;wurden die Arbeiten an der&nbsp;WebDAV-Schnittstelle in das OpenCms VFS abgeschlossen. Weitherhin wurde die Datenbankstruktur des OpenCms Kern optimiert. Die vollst&auml;ndigen Details k&ouml;nnen aus der Datei <a href="%(link1)" target="_blank">history.txt</a> im &ouml;ffentlichen CVS entnommen werden.</p> <p>Zur Zeit Arbeiten wir an abschlie&szlig;enden Detailverbesserungen des GUI.</p> <p>Im Allgemeinen bleibt die Funktionsliste und Roadmap f&uuml;r die Version 7 unver&auml;ndert gegen&uuml;ber der <a href="%(link2)" target="_self">Ank&uuml;ndigung der Version OpenCms 7 Alpha</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7 RC 1 Preview available]]></Title>
    <Date>1178116680000</Date>
    <Preface><![CDATA[The first public preview of OpenCms 7, version Release Candidate (RC) 1, is now available for download.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Development of OpenCms 7 has reached another milestone as the first release candidate (RC) of OpenCms 7 is now available. The main development on OpenCms 7 is done by  <a href="%(link0)">Alkacon Software</a> with contributions from the OpenCms community.</p> <p>This OpenCms 7 RC 1 Preview release is available as binary package from the  <a href="%(link1)">Download</a> section on opencms.org. The source code is available in the public CVS in the "DEV_7_0" branch (Tag "build_7rc_1").</p> <p><strong>Features of the OpenCms 7 RC 1 release:</strong></p> <ul>     <li><div>The internal link management has been greatly improved.</div></li>     <li><div>If files (or folders) are moved / renamed, all links to these files are now kept intact.</div></li>     <li><div>Deleting a resource that is linked by other resources does now display a warning / confirmation dialog.</div></li>     <li>The new "Content Relationship Engine" (CRE) allows defining arbitrary relations between OpenCms resources.</li>     <li>Native support for WebDAV access to the OpenCms VFS has been added.</li>     <li>Link management support has been added in editors for standard HTML tags 'area', 'object' &amp; 'embed'.</li>     <li><div>Publishing of resources is now done using a queue, so a user can continue to work after publishing has started.</div></li>     <li><div>The concept of "Organization Units" (OUs) has been added to the internal user management.</div></li>     <li><div>System permissions are now based on a comlete new set of "Roles".</div></li>     <li><div>It is now possible to delegate management of users / groups in OUs to Sub-Administrators.</div></li>     <li><div>A "switch user" (su) function for Administrators in the OpenCms Workplace is now available.</div></li>     <li><div>Many usability improvements for the OpenCms Workplace have been made, especially concerning the handling of other user locks.</div></li>     <li><div>Many dialogs in the OpenCms Workplace are more responsive because of the use of Ajax technologies.</div></li>     <li><div>The context menus in the Workplace are now cascading and can be configured individually based on the users permissions.</div></li>     <li><div>A new "Undelete" function is available on the context menu to restore deleted resources, including complete deleted subtrees.</div></li>     <li><div>The full text search has been greatly improved so that individual resource properties or fields from XML content can be searched directly.</div></li>     <li><div>A "time warp" feature in the Workplace now allows users to view resources with date expired / date released settings.</div></li>     <li><div>Auto correction for structured XML contents now allows changes to the XML schema of existing resources.</div></li>     <li><div>A configurable search tool is now available for content managers in the Workplace.</div></li>     <li><div>A permalink handler for resources is available for external references in case a resource is moved or renamed.</div></li>     <li><div>The core database structure has been optimized.</div></li>     <li><div>JSP 2.0 and Servlet 2.4 are now used by default.</div></li> </ul> <p>Please note that this feature list of OpenCms 7 is subject to change until we reach the "Release Candidate 2" stage (please see below). Keep in mind that most development on OpenCms 7 is sponsored by customers. That means some features may be dropped and other features may be added until the feature freeze.</p> <p><strong>Who should use this OpenCms 7 RC 1 distribution download?</strong></p> <p>It is recommended for heavy OpenCms users, developers and contributors to install and try out this release candidate version, in order to prepare for the upcoming OpenCms 7 final release.</p> <p>Users looking for a stable installation should use the latest 6.2.x version now and upgrade to OpenCms 7 when the final release is available. Please note that there will be no update wizard provided for any release candidate (RC) version to the final release of OpenCms 7.</p> <p><strong>OpenCms 7 release plan:</strong></p> <p>The second and final public release will be OpenCms 7 RC 2, available June 6, 2007. This version will contain bug fixes and the final and stable core API for version 7. It will also contain the first version of an update wizard for version 7. The goal is to be able to update all released stable OpenCms 6.0 and 6.2 versions to OpenCms 7 using this update wizard. This release will also mark the beginning of the "feature freeze" period, which means no new features will be added to the core after the OpenCms 7 RC 2 release.</p> <p>OpenCms 7.0 final will be released July 4, 2007. Compared to the RC 2 version, we expect no changes except fixes for bugs or other issues that have been found in the RC 2 release. This version will also contain the final and tested version of the update wizard.</p> <p>Please note that this feature list and release plan for OpenCms 7 comes without any warranty and it is subject to change without notice. Updates will be published on the OpenCms website and the  <a href="%(link2)">opencms-dev</a> mailing list.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
