<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 Alpha 1 veröffentlicht]]></Title>
    <Date>1095631200000</Date>
    <Preface><![CDATA[Alkacon Software hat die erste öffentliche Alpha-Version von OpenCms 6.0 fertig gestellt und zum Download frei gegeben.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die erste &ouml;ffentliche&nbsp;Alpha-Version von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben.</p> <p>OpenCms 6.0 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1095631200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 alpha 1 released]]></Title>
    <Date>1095631200000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the first public binary alpha release of OpenCms 6.0. OpenCms 6.0 is a major upgrade, and it vastly expands the features of OpenCms 5.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the&nbsp;first public binary alpha release of OpenCms 6.0. OpenCms 6.0 is a major upgrade, and it vastly expands the features of OpenCms 5.0.</p> <p><strong>Who should use this 6.0 alpha&nbsp;1 version?</strong></p> <p>This is an alpha version. Please don't expect it to be perfectly stable. One of the most important Open Source philosophies is &quot;Release early, Release often&quot;, and this is what we intend to do&nbsp;with this and subsequent 6.0 releases. If and how you should use this version depends on what your goals are:</p> <ul>     <li>If you are an IT&nbsp;professional or a company working with OpenCms on a regular basis, you should&nbsp;definitely&nbsp;check if and&nbsp;how your current websites, modules and functions can be ported to the new release. Even though changes on the Java API level and changes on the DB schema are to be expected until we reach the beta or even release candidate state of the development, most of the big changes have already been made.</li>     <li>If you start a new project that is expected to go live in about 3 months, you may use this version to build your project - but be prepared for some extra work to update when new releases become available, and also for some time figuring out the so far undocumented features if these are required.</li>     <li>If you are working on a project with OpenCms 5.0.x that has&nbsp;a delivery date soon, you should stick to the 5.0.x version unless you absolutely require a feature of the 6.0 version.</li>     <li>If you are running a website based on OpenCms, and you plan to implement some new features in the not so far future, you should install this version on a test machine and check out the new features.</li> </ul> <p><strong>When will the &quot;final&quot; release of OpenCms 6.0 be available?</strong></p> <p>This will greatly depend on the feedback for this release and the following releases, especially regarding bugs. In case you find any bug, please use the  <a href="%(link0)" target="_blank">OpenCms bugzilla</a> to document it, or at least post a note to the  <a href="%(link1)">opencms-dev</a> mailing list. The more feedback and code contributions are made, the faster we can fix the issues and finish the development. Currently we expect the final release of OpenCms 6.0 in the late Q4 of 2004. We are confident that we can at least reach release candidate status by this time.</p> <p><strong>The most important new features in&nbsp;this release compared to the 5.0.x version:</strong></p> <ul>     <li>Multiple websites can now be managed in one OpenCms installation</li>     <li>The&nbsp;&quot;Direct Edit&quot; feature allows users to open the editor directly from the websites front-end by pushing an &quot;Edit&quot; button that appears on elements on the page (if the user has the permissions to edit it)</li>     <li>Multi-language versions of the same page and improved support for managing multi language websites is integrated</li>     <li>Build-in support for full text search in HTML, PDF, Word, Excel and Plaintext&nbsp;documents (based on Apache Lucene)</li>     <li>All contents in the VFS can now have a &quot;publication date&quot; and an &quot;expiration date&quot; so they can&nbsp;appear / disappaer automatically from a website</li>     <li>Resource permissions in the VFS are now managed in ACLs instead of Unix - style</li>     <li>The OpenCms workplace has been rewritten in JSP, adding new features and much improved usability&nbsp;(this task is not fully finished)</li>     <li>Full support for multibyte languages (e.g. UTF-8)</li>     <li>Files in the VFS can now have multiple &quot;siblings&quot;, this is comparable to a &quot;hard link&quot; in a Unix file system and prevents broken &quot;VFS links&quot; automatically</li>     <li>Properties on files can be &quot;individual&quot; or &quot;shared&quot; among siblings</li>     <li>Implement &quot;plugin&quot; mechanism for editors and make editors more configurable, so that other editor implementations (e.g. WYSIWYG Java Applet) can be easily integrated in the workplace</li>     <li>Added optional WYSIWYG editor implementation of the popular HtmlArea editor, this editor also works with Mozilla browsers</li>     <li>The setup wizard has been improved, also many &quot;known issues&quot; (e.g. regarding encoding setting and Xerces version) have been fixed</li>     <li>The module API has been rewritten from the ground up, now providing a clean interface to implement</li>     <li>Optimized the use of http headers, including use of &quot;304 - not modified&quot; for resources that have not been modified</li>     <li>The resource type API has been enhanced, so that resource types can be easily added without workarounds</li>     <li>The Workplace is now fully usable with Mozilla based browsers (e.g. Firefox)</li>     <li>It's not longer required to &quot;lock&quot; a resource in the Exlorer with the context menu manually, this is done automatically if the &quot;autolock&quot; feature is enabled (this is also the default)</li>     <li>The static export has been fully rewritten,&nbsp;is also features a new &quot;on demand&quot; mode for export of resources</li>     <li>Implement new,&nbsp;cleaned&nbsp;up&nbsp;XmlPage API that&nbsp;replaces the&nbsp;old XmlTemplate for page data storage</li>     <li>The XmlPage structure is always validated by a W3C XML Schema, to prevent creation form invalid content</li>     <li>The edited pages are now stored directly in the location where they have been edited, the /system/bodies/ folder is not longer required</li>     <li>The OpenCms VFS&nbsp;has been made much&nbsp;more scalable, bottlenecks like the slow Exlorer tree have been removed</li>     <li>The OpenCms user management has been made independent from the OpenCms VFS, so that other user directories can be &quot;plugged&quot; into the system as a separate module</li>     <li>Publishing has been rewritten and is now much faster especially with many resources</li>     <li>All resources in the OpenCms VFS now have a UUID</li>     <li>The database pooling has been replaced with DBCP from Apache Jarkarta</li>     <li>All known issues with Oracle 9.x that where present in 5.0.x have been solved</li>     <li>Logging now uses log4j from Apache Jarkarta</li>     <li>Heavily modified the database model and completely rewrote the database access class layer</li>     <li>The configuration is now based on a new XML structure that is read by Apache Digester (this task is not fully finished)</li>     <li>UTF-8 is now the default encoding</li> </ul> <p><strong>TODO list to be finished before OpenCms 6.0 is released:</strong></p> <ul>     <li>The OpenCms workplace is still not fully implemented in JSP - all XmlTemplate using dialogs will be rewritten to JSP</li>     <li>A new&nbsp;mechanism for &quot;structured content&quot; will be implemented based on W3C XML Schema - this will eliminate the need to add new database tables (or use the &quot;master module&quot;) for simple structured content</li>     <li>We will write a &quot;content relation&quot; engine for resources in the VFS - this replaces the old &quot;channel&quot; concept of the master module</li>     <li>More of the configuration will be transferred from opencms.properties to the new Digester XML based configuration file - however opencms.properties  <em>may</em> stay only for the database configuration</li>     <li>The most important management functions (e.g. cache maintainance, system status) will be exposed to allow JMX containers to manage OpenCms</li>     <li>We will provide a highly configurable template with many advanced functions as additional default module</li>     <li>Documentation need to be revised for old functions and written for new functions</li>     <li>Testing and bug fixing - your feedback is required!</li> </ul> <p>The team at  <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1095631200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
