<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Video presentation of OpenCms]]></Title>
    <Date>1020204000000</Date>
    <Preface><![CDATA[Alexander Kandzior presents OpenCms 4.6 to the audience in the ETH Zurich. Streaming real video, about 45 minutes.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.real.com/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.bitflux.ch/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>See the live presentation of OpenCms 4.6 that was held by Alexander Kandzior in March 2002 at
OSCOM 1 in the ETH Zurich. The presentation provides a general introduction to the system with some
technical background.</p>
<p>The video of the presentation is about 45 minutes long.</p>
<p>This presentation is about OpenCms 4.6 and is now almost a year old, please keep in mind that
since then OpenCms 5.0 has been developed which adds a lot of features not described in the
presentation.</p>
<p>You need the 
<a href="%(link0)" target="_blank">real video player</a> to watch the video. Thanks to 
<a href="%(link1)" target="_blank">bitflux</a> for providing the video stream and
download server.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/oscom-video-final.jpg]]></target>
            <uuid>83ba6db8-2659-11dc-b050-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Video presentation of OpenCms]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Click here to watch the presentation as streaming video (not always available)]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://bitflux.ch:8080/ramgen/oscms/opencms.rm]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1020204000000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
