<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Neues zur nächsten OpenCms Version]]></Title>
    <Date>1076842800000</Date>
    <Preface><![CDATA[Die Entwicklung der nächsten Version von OpenCms geht gut voran. Die nächste veröffentlichte 'Hauptversion' wird OpenCms 6.0 sein. Das geplante Erscheinungsdatum für OpenCms 6.0 ist die 2. Jahreshälfte 2004.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_383.html]]></target>
            <uuid>3c0897cc-4a4f-11dc-a3e3-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Die Entwicklung der nächsten Version von OpenCms geht gut voran. Die nächste veröffentlichte 'Hauptversion' wird OpenCms 6.0 sein.</p>
<p>Das geplante Erscheinungsdatum für OpenCms 6.0 ist die 2. Jahreshälfte 2004, hoffentlich im 3. Quartal.</p>
<p>OpenCms 6.0 wird eine Vielzahl neuer Funktionen, sowie umfangreiche Verbesserungen in den Bereichen Usability, Performance und API bringen.</p>
<p>Die vollständigen Liste der neuen Funktionen sowie weitere Detailinformationen zu OpenCms 6.0 finden sie in unseren <a href="%(link0)" target="_self">englischen News</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1076842800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Development status of the next OpenCms version]]></Title>
    <Date>1076842800000</Date>
    <Preface><![CDATA[Information about the current development status on the next major OpenCms release, developed by Alkacon Software - The OpenCms experts.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/revision-control.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[mailto:contributions@opencms.org]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Development on the next major release of OpenCms is progressing. The next major OpenCms release
version will be OpenCms 6.0.</p>
<p>The release date of OpenCms 6.0 is the second half of 2004, hopefully in Q3.</p>
<p>We consider the current development status to be 6 pre-alpha, the version number being 5.3.x.
Until we finally publish OpenCms 6, we will continue to use 5.x as version numbers. 6 alpha will
have version numbers 5.5.x, 6 beta will use 5.7.x, 6 release candidates will use 5.9.x (ok this
might be confusing).</p>
<p>Anyone who regular works with OpenCms (or even earns money with it) is encouraged to try
the&nbsp;current development status from 
<a href="%(link0)">CVS</a>&nbsp;to see what's coming. A lot is
already finished and now it's the best time to provide feedback on the new functions. We will start
making binary downloads available on opencms.org when we reach the late alpha / early beta phase of
OpenCms 6 development.</p>
<p>
<strong>Development roadmap and feature list&nbsp;for OpenCms 6.0</strong>
</p>
<p>Finished tasks (already available in current CVS HEAD):</p>
<ul>
<li>Resource permissions in the VFS are now managed in ACLs instead of Unix - style</li>
<li>Multiple websites can now be managed in one OpenCms installation</li>
<li>Allow multi-language versions of the same page and improved support for managing multi language
websites</li>
<li>Implement a "Direct Edit" feature that allows users to open the editor directly from the
websites front-end by pushing an "Edit" button that appears on elements on the page (if the user
has the permissions to edit it)</li>
<li>Start rewriting the OpenCms workplace in JSP, adding new features and much improved
usability</li>
<li>Build-in support for full text search in HTML, PDF, Word and Excel (based on Apache
Lucene)</li>
<li>Start rewriting the static export,&nbsp;already finished&nbsp;is new "on demand" export of
resources</li>
<li>Implement new,&nbsp;cleaned&nbsp;up&nbsp;XML page API to replace old XMLTemplate</li>
<li>The OpenCms VFS&nbsp;has been made&nbsp;more scalable, so that OpenCms can be used better for
document management</li>
<li>The OpenCms user management has been made independent from the OpenCms VFS, so that other user
directories can be "plugged" into the system as a separate module</li>
<li>Publishing has been rewritten and is now much faster especially with many resources</li>
<li>All resources in the OpenCms VFS now have a UUID</li>
<li>The database pooling has been replaced with DBCP from Apache Jarkarta</li>
<li>Logging now uses log4j from Apache Jarkarta</li>
<li>Heavily modified the database model and completely rewrote the database access class layer</li>
<li>Implement "plugin" mechanism for editors and make editors more configurable, so that other
editor implementations (e.g. WYSIWYG Java Applet) can be easily integrated in the workplace</li>
<li>Removed dependency on Xerces1, OpenCms now also&nbsp;works fine with Xerces2</li>
</ul>
<p>Open tasks to be finished before OpenCms 6 is released:</p>
<ul>
<li>Full support for Mozilla 1.4 upwards, especially adding a WYSIWYG editor</li>
<li>Finish rewriting static export by adding a "full static render" functionality</li>
<li>The setup wizard will be improved, it will also provide help for the 'known' issues (e.g.
setting the encoding)</li>
<li>The most important management functions (e.g. cache maintainance, system status) will be
exposed to allow JMX containers to manage OpenCms</li>
<li>New/Improved module mechanism (tentative) - we will either implement a new or greatly improve
the existing module mechanism for "structured content" like news etc. (not much has been decided
now, and this point might be pushed behind the 6.0 release)</li>
</ul>
<p>
<strong>Regarding backward compatibility</strong>
</p>
<p>OpenCms 6 will be as backward compatible as possible with the 5.x releases. Existing content
from 5.x will be easily importable and require almost no modification. However, for the sake of a
clean and structured API, we have decided to make improvements on the API level that will likley
break existing code.&nbsp;This means&nbsp;some changes of Java code in templates or custom
classes&nbsp;will be necessary to upgrade from 5.x to 6. Most obvious will be renaming the packages
from com.opencms.* to org.opencms.*. Making existing code work will hopefully by just a matter of
exchanging these import statements and some minor adjustments.</p>
<p>
<strong>Regarding support for XmlTemplates</strong>
</p>
<p>OpenCms 6 will have support for legacy XmlTemplates, but only with an additional
opencms-legacy.jar that will not be installed by default. All classes dealing with XmlTemplates
will stay in the com.opencms.* packages where they are now. We consider XmlTemplate a 'dead'
technology and will not support it past the 6.0 release (at last with our own resources).</p>
<p>
<strong>How you can help</strong>
</p>
<p>Contributions to the OpenCms core development are most welcome. Please contcat 
<a href="%(link1)">contributions@opencms.org</a> in case you are interested
in supporting the development of OpenCms 6, or give your feedback on the 
<a href="%(link2)">opencms-dev</a> mailing list.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1076842800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
