<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software ist umgezogen]]></Title>
    <Date>1104490800000</Date>
    <Preface><![CDATA[Nach einem erfolgreichen Jahr 2004 haben wir unser Büro vergrößert.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/anfahrt/index.html]]></target>
            <uuid>18a0502b-308e-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Nach einem erfolgreichen Jahr 2004 haben wir unser B&uuml;ro vergr&ouml;&szlig;ert. Da sich unser neues B&uuml;ro in einem anderen Stadtteil befindet haben wir auch eine neue Telefonnummer bekommen.</p> <p>Unsere Anschrift lautet ab sofort:</p> <blockquote dir="ltr" style="margin-right: 0px;"> <p>Alkacon Software<br /> An der Wachsfabrik 13<br /> 50996 K&ouml;ln (Deutschland)<br /> Tel: +49 2236 3826-0<br /> Fax: +49 2236 3826-20</p> </blockquote> <p><a href="%(link0)" target="_self">Zur aktualisierten Wegbeschreibung</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1104490800000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software has moved]]></Title>
    <Date>1104490800000</Date>
    <Preface><![CDATA[After a successful year 2004 we have moved to a larger office.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/directions/index.html]]></target>
            <uuid>56d2dd59-3078-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>After a successful year 2004 we have moved to a larger office. Since we moved to a different part of the town, we also got a new phone number.</p> <p>Our new address is:</p> <blockquote dir="ltr" style="margin-right: 0px;"> <p>Alkacon Software<br /> An der Wachsfabrik 13<br /> 50996 K&ouml;ln (Cologne), Germany<br /> Phone: +49 2236 3826-0<br /> Fax: +49 2236 3826-20</p> </blockquote> <p><a href="%(link0)" target="_self">Check&nbsp;the updated directions to the office</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1104490800000</Release>
    </Availability>
  </Article>
</ArticleData>
