<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6 Buch erscheint im Juni]]></Title>
    <Date>1147500000000</Date>
    <Preface><![CDATA[Packt Publishing veröffentlicht ein Buch mit dem Titel „Managing and Customizing OpenCms 6 Websites“.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/OpenCMS6_admin]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/OpenCMS6_admin]]></target>
          </link>
        </links>
        <content><![CDATA[<p><a target="_blank" href="%(link0)">Packt Publishing</a>&nbsp;ver&ouml;ffentlicht ein Buch mit dem Titel <strong><em>Managing and Customizing OpenCms 6 Websites</em></strong>. Das Buch soll ab Juni im Handel erh&auml;ltlich sein und&nbsp;kann bereits&nbsp;auf der&nbsp;<a target="_blank" href="%(link1)">Webseite von Packt Publishing vorbestellt werden</a>.</p> <p>Das in Englisch verfasste Buch wurde von Matt Butcher geschrieben, der bereits Autor des bekannten Buches zu OpenCms 5 &quot;Building Websites with OpenCms&quot; ist.</p> <p><em><strong>Managing and Customizing OpenCms 6 Websites</strong></em> beinhaltet:</p> <ul>     <li>Die Installation von OpenCms</li>     <li>Verwendung der OpenCms &quot;Workplace&quot;</li>     <li>Verwaltung von Projekten, Benuterdaten, Datenbanken und Modulen</li>     <li>Verwendung von VFS und Suche</li>     <li>Konzepte von Aufgaben und Workflow</li>     <li>Verwenden von Templates und der OpenCms &quot;Tag Library&quot;</li> </ul> <p>Packt Publishing hat Pl&auml;ne f&uuml;r ein weiteres Buch zu&nbsp;OpenCms angek&uuml;ndigt, welches sich insbesondere mit der Entwicklung von Java/JSP und der Verwendung von OpenCms als Framework f&uuml;r die Entwicklung von Applikationen besch&auml;ftigen wird.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/1904811760.png]]></target>
            <uuid>c42af039-2882-11dc-a2b5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Managing and Customizing OpenCms 6 Websites]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Weitere Informationen sind auf der Webseite von Packt Publishing verfügbar]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/OpenCMS6_admin]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1147500000000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6 book to be released in June]]></Title>
    <Date>1147500000000</Date>
    <Preface><![CDATA[Packt Publishing will soon release a new book about OpenCms 6 called "Managing and Customizing OpenCms 6 Websites". According to the publisher, the book is to be released in June.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/OpenCMS6_admin]]></target>
          </link>
        </links>
        <content><![CDATA[<p><a href="%(link0)" target="_blank">Packt Publishing</a>&nbsp;will soon release a new book about OpenCms 6 called  <strong> <em>Managing and Customizing OpenCms 6 Websites</em> </strong> . According to the publisher, the book is to be released in June.</p> <p>The book covers OpenCms version&nbsp;6 and has been written by Matt Butcher, acclaimed author of the OpenCms 5 book called &quot;Building Websites with OpenCms&quot;, also available from Packt.</p> <p><em> <strong>Managing and Customizing OpenCms 6 Websites</strong> </em> covers:</p> <ul> <li>Installing OpenCms, and its basic concepts</li> <li>Using the OpenCms Workplace to manage and publish your content</li> <li>Managing projects, user accounts, databases, and modules</li> <li>Working with the VFS and search</li> <li>Understanding and using tasks and workflows</li> <li>Working with templates and the OpenCms Tag Library</li> </ul> <p>This book is for anyone who wants to get an OpenCMS website up and running as quickly as possible, whether you are a user, administrator, designer or webmaster. You do not have to be a Java developer to benefit from this book, although a working knowledge of Java, JSP, and XML will help you to get the most from OpenCMS, and this book.</p> <p><strong> <em>As an existing buyer of the first edition of&nbsp;&quot;Building Websites with OpenCms&quot;, you can pre-order the print book now for 40% off the cover price.</em> </strong></p> <p>Simply e-mail service@packtpub.com with the unique ID number, which is at the bottom left of the very last page of your book and detailing where you bought the first edition from. Packt will then e-mail you with a special discount code.</p> <p>Packt Publishing&nbsp;also announced plans for a forthcoming second OpenCms book specifically on OpenCms 6 Development with Java/JSP, using OpenCms as a framework for Java Development.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/1904811760.png]]></target>
            <uuid>c42af039-2882-11dc-a2b5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Managing and Customizing OpenCms 6 Websites]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Pre-Order the book at Packt Publishings website now]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/OpenCMS6_admin]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1147500000000</Release>
    </Availability>
  </Article>
</ArticleData>
