<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Become a listed OpenCms Solution Provider]]></Title>
    <Date>1052132400000</Date>
    <Preface><![CDATA[We invite every company which offers OpenCms based services to become a registered OpenCms solution provider.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/solution_providers/partner_form.jsp]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms website now features an OpenCms "Solution Provider" section where companies offering
support for OpenCms projects are listed together with their logo and full company contact
information.</p>
<p>The list of OpenCms solution provides is available at:
<br /> 
<a href="%(link0)">/support/solution_providers/</a></p>
<p>The list of OpenCms solution providers is aimed to end users looking for a local partner who can
help in the implementation of an OpenCms project. We observe a growing interest in OpenCms based
services worldwide. Being a registered OpenCms solution provider on the opencms.org website gives a
company great visibility and therefore will provide a significant advantage when customers make a
decision for choosing an OpenCms partner.</p>
<p>We invite every company which offers OpenCms based services to become a registered OpenCms
solution provider and be included in the list on the new opencms.org website. Participating
companies are able to create, preview, add and later change their entries on the list. This service
is provided by Alkacon Software, free of charge and open to anyone who offers services for
OpenCms.</p>
<p>The registration form is available at:
<br /> 
<a
href="%(link1)">/support/solution_providers/register.html</a></p>
<p>If you are interested in being listed with your company, please fill out the registration form.
Details how to do this are provided on the form.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1052132400000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
