<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.2.1 verfügbar]]></Title>
    <Date>1146585720000</Date>
    <Preface><![CDATA[ie neue OpenCms Version 6.2.1 ist fertig. Sie beinhaltet zahlreiche Korrekturen gegenüber der OpenCms Version 6.2.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die neue Version 6.2.1 von OpenCms ist&nbsp;fertig.&nbsp;Diese Version&nbsp;beinhaltet zahlreiche Korrekturen gegen&uuml;ber der&nbsp;OpenCms Version 6.2.0. Alkacon empfiehlt allen Benutzern von OpenCms das Update auf die neue Version.</p> <p>Details zu den Verbesserungen in OpenCms 6.2.1 sind unter <a href="%(link0)">http://www.opencms.org</a> verf&uuml;gbar.</p> <p>OpenCms 6.2 bietet wesentliche Funktionen, wie sie in einem modernen CMS-System erwartet werden:</p> <ul>     <li>&quot;Direct Edit&quot; von Content direkt von der Webseite</li>     <li>Verbesserte HTML-Benutzeroberfl&auml;che, kompatibel zu MS IE und Firefox</li>     <li>Neue Inhaltstypen k&ouml;nnen &uuml;ber ein XML Schema leicht definiert werden</li>     <li>Support f&uuml;r die Verwaltung mehrerer Websites in einer Installation</li>     <li>Integrierte Volltextsuche, auch in MS Office und PDF &ndash; Dokumenten</li>     <li>Umfangreiches Berechtigungs-System&nbsp; mit Access Control Lists (ACL)</li>     <li>Erzeugt auf Wunsch statische HTML-Seiten</li>     <li>Konfigurierbares Template f&uuml;r &bdquo;Out of the box&ldquo; Website-Erstellung</li>     <li>Beinhaltet Module f&uuml;r News, Stellen, FAQ, Events,</li>     <li>Generator f&uuml;r Email-Formulare</li>     <li>Support f&uuml;r verschiedene Sprachen und Unicode</li> </ul> <p>OpenCms 6.2.1 kann ab sofort unter <a href="%(link1)">http://www.opencms.org</a>&nbsp;herunter geladen werden. Mit dem Download kommt eine ausf&uuml;hrliche Dokumentation sowie ein Satz an Beispielen, die ebenfalls von Alkacon Software entwickelt wurden.</p> <p>Das Update von OpenCms 6.0.x und 6.2.0 auf OpenCms 6.2.1 kann durch einen einfach zu bedienenden &quot;Update Wizard&quot; in kurzer Zeit fast automatisch duchgef&uuml;hrt werden.</p> <p>Unabh&auml;ngige Untersuchungen weisen OpenCms als eine f&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme aus. Die Software wird seit &uuml;ber 6 Jahren st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern.</p> <p>&Uuml;ber&nbsp;100 internationale IT - Unternehmen haben sich bereits als offizieller &quot;OpenCms Solution Provider&quot; auf der OpenCms Website registriert. Eine stetig wachsende Liste von Referenzen belegt au&szlig;erdem die steigende Verbreitung von OpenCms.</p> <p>OpenCms 6.2 ist eine vollst&auml;ndige, Java und XML basierte Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht.</p> <p>Die Alkacon Software GmbH ist die treibende Kraft in der Entwicklung von OpenCms. Viele Unternehmen und Organisationen weltweit nutzen OpenCms bereits als kosteng&uuml;nstige, professionelle Alternative zu teuren Lizenzprodukten.</p> <p>Die Alkacon Software GmbH bietet Ihren Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an. F&uuml;r unsere Kunden bedeutet dies zus&auml;tzliche Sicherheit und Komfort beim Einsatz von OpenCms in unternehmenskritischen Systemen.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung von OpenCms&nbsp;6.2 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1148745720000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.2.1 available]]></Title>
    <Date>1146585720000</Date>
    <Preface><![CDATA[Version 6.2.1 of OpenCms is now available for download. OpenCms 6.2.1 is a maintenance release which fixes several issues reported in OpenCms 6.2.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 6.2.1 of OpenCms is now available for download. OpenCms 6.2.1 is a maintenance release which fixes several issues reported in OpenCms 6.2.0.</p>
<p>The team at  <a href="%(link0)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed bug reports and feedback&nbsp;for this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1146585720000</Release>
    </Availability>
  </Article>
</ArticleData>
