<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Add your OpenCms based site to the list of OpenCms references]]></Title>
    <Date>1052136000000</Date>
    <Preface><![CDATA[If you run a site with OpenCms, please add it to the list of OpenCms reference sites.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/references/add.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/support/promoting.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms website now includes a list of OpenCms reference sites.</p>
<p>The list of OpenCms reference sites is available at:
<br /> 
<a href="%(link0)">/support/references/</a></p>
<p>If you run a site with OpenCms, please add it to the list of OpenCms reference sites. It doesn't
matter if you have used OpenCms to build a public website or Intranet or Extranet. Please include
some details about how you successfully used OpenCms in the description. You are able to create,
preview, add and later change your entries on the list by using the "add a reference site"
form.</p>
<p>The "add a reference site" form is available at:
<br /> 
<a href="%(link1)">/support/references/add.html</a></p>
<p>More details on how to create a reference site entry are provided on the form.</p>
<p>Please help us to ensure the continued success of OpenCms by adding to the list of OpenCms
reference sites. The more sites run OpenCms, the more active the OpenCms community will become, and
the more bug fixes and new features will be added to the system. You will benefit directly because
new versions with new features and other add-ons will become available to you for download.</p>
<p>More tips on how to promote OpenCms can be found at:
<br /> 
<a href="%(link2)">/support/promoting.html</a></p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1052136000000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
