<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Buch über OpenCms veröffentlicht]]></Title>
    <Date>1091264580000</Date>
    <Preface><![CDATA[Der Verlag Packt Publishing hat ein Buch mit dem Titel „Building Websites with OpenCms“. veröffentlicht. Das momentan nur in englisch verfügbare Buch behandelt den Aufbau von Webseiten mit OpenCms version 5.0.x.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/view_book/isbn/1904811043]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Der Verlag <a target="extern" href="%(link0)">Packt Publishing</a> hat ein&nbsp;Buch mit dem Titel&nbsp;<em><strong>Building Websites with OpenCms</strong></em> ver&ouml;ffentlicht.&nbsp;Das momentan nur in englisch verf&uuml;gbare Buch behandelt den Aufbau von Webseiten mit OpenCms version 5.0.x.</p> <p>Der Verlag hat bereits Interesse bekundet, bei Erscheinen der Version 6.0 von OpenCms eine &uuml;berarbeitete Version des Buches zu ver&ouml;ffentlichen. Die meisten Informationen in dem Buch werden (mit kleinen &Auml;nderungen) auch f&uuml;r die Version OpenCms 6.0 g&uuml;ltig sein.</p> <p>Eine deutsche &Uuml;bersetzung wurde von einem Mitarbeiter des Verlages unter Vorbehalt in Aussicht gestellt.</p> <p>Da sie momentan vollst&auml;ndig mit der Entwicklung von OpenCms 6.0 besch&auml;ftigt sind, konnte kein Mitarbeiter von Alkacon Software beim Schreiben des Buches mitwirken. Dass das Buch trotzdem ver&ouml;ffentlich wurde beweist, wie aktiv die OpenCms Community bereits heute ist.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/opencmsbook.jpg]]></target>
            <uuid>d6115185-2886-11dc-a2b5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Buch Building Websites with OpenCms]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Packt Publishings Informationen zum Buch]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/view_book/isbn/1904811043]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1091264580000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Book about OpenCms released]]></Title>
    <Date>1091264580000</Date>
    <Preface><![CDATA[Packt Publishing has released a book titled “Building Websites with OpenCms”. The book covers OpenCms version 5.0.x and has been written by Matt Butcher. Matt is a well known in the OpenCms community for his work on the OpenCms Lucene search module.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/view_book/isbn/1904811043]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p><a href="%(link0)" target="_blank">Packt Publishing</a> has released a book titled  <em> <strong>Building Websites with OpenCms</strong> </em> . The book covers OpenCms version 5.0.x and has been written by Matt Butcher. Matt is well known in the OpenCms community for his work on the OpenCms Lucene search module.&nbsp;Many other regular contributors from the  <a href="%(link1)">opencms-dev</a> mailing list have assisted in the writing of this book.</p>
<p><em> <strong>Building Websites with OpenCms</strong> </em> covers:</p>
<ul>
    <li>Installing and configuring OpenCms</li>
    <li>Using the OpenCms Workplace</li>
    <li>Exploring the core architecture and the virtual file system</li>
    <li>Working with JSP templates</li>
    <li>Creating OpenCms modules</li>
    <li>Adding custom resource types</li>
    <li>Exporting to static HTML</li>
    <li>Deploying and managing and OpenCms website</li>
</ul>
<p>The book has been written for the current &quot;stable&quot; relase of OpenCms, version 5.0.x. The publishers already have expressed interest in publishing an updated version once the final relase of Opencms 6.0 is available.&nbsp;Most of the information in the book will be valid for OpenCms 6.0 with only some minor changes.</p>
<p>Because they are locked up in the development of OpenCms 6.0, no developer from  <a href="%(link2)">Alkacon Software</a> could participate in the writing of the book. That the book&nbsp;got published&nbsp;nevertheless serves as an example of how large and active the OpenCms community has become today.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/opencmsbook.jpg]]></target>
            <uuid>d6115185-2886-11dc-a2b5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Book]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Packt Publishings information about the book]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/view_book/isbn/1904811043]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1091264580000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
