<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alexander Kandzior spricht über OpenCms 7.0]]></Title>
    <Date>1175437980000</Date>
    <Preface><![CDATA[Alexander Kandzior von Alkacon Software spricht über OpenCms 7.0 in dem JOSS4BIZ podcast.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Der bekannte englische podcast JOSS4BIZ spricht mit Alexander Kandzior, Geschäftsführer von Alkacon Software, über OpenCms 7.0, welches im Juli veröffentlicht wird. Wichtige neue Funktionen von OpenCms 7.0 wie das Link Management, die Content Relationship Engine und die Integration in Entwicklungsumgebungen über WebDAV werden angesprochen. Das Interview ist in English.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[JOSS4BIZ Podcast Website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://joss4biz.interition.net/roller/page/joss4biz]]></target>
            <query><![CDATA[entry=joss4biz_episode_9_alexander_kandzior]]></query>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alexander Kandzior talks about OpenCms 7.0]]></Title>
    <Date>1175437980000</Date>
    <Preface><![CDATA[Alexander Kandzior, CEO of Alkacon Software, talks about OpenCms 7.0 in the popular JOSS4BIZ podcast.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Responding to popular demand JOSS4BIZ talks to Alexander Kandzior, CEO of Alkacon Software, about OpenCms 7.0, due in July. Find out about 7.0's key features for link management, the new Content Relationship Engine and better integration with development environments with support for WebDAV access to the OpenCms VFS.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[JOSS4BIZ Podcast Website]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://joss4biz.interition.net/roller/page/joss4biz]]></target>
            <query><![CDATA[entry=joss4biz_episode_9_alexander_kandzior]]></query>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
