<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 Alpha 2 veröffentlicht]]></Title>
    <Date>1098741600000</Date>
    <Preface><![CDATA[Alkacon Software hat die zweite öffentliche Alpha-Version von OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Diese Version beinhaltet auch Module, welche die neuen Funktionen von OpenCms 6.0 demonstrieren.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die zweite &ouml;ffentliche&nbsp;Alpha-Version von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Diese Version beinhaltet auch Module, welche die neuen Funktionen von OpenCms 6.0 demonstrieren.</p> <p>OpenCms 6.0 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1098741600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 alpha 2 released]]></Title>
    <Date>1098741600000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the second public binary alpha release of OpenCms 6.0. This alpha 2 release also includes advanced demonstration modules for the new 6.0 features.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the&nbsp;second public binary alpha release of OpenCms 6.0. OpenCms 6.0 is a major upgrade, and it vastly expands the features of OpenCms 5.0.</p>
<p>This alpha 2 release also includes advanced demonstration modules for the new 6.0 features.</p>
<p><strong>Who should use this 6.0 alpha&nbsp;2 version?</strong></p>
<p>This is an alpha version. Please don't expect it to be perfectly stable. One of the most important Open Source philosophies is &quot;Release early, Release often&quot;, and this is what we intend to do&nbsp;with this and subsequent 6.0 releases. If and how you should use this version depends on what your goals are:</p>
<ul>
    <li>If you are currently using any previous 6.0 development release (e.g. 6.0 alpha 1), you should upgrade to this new version.</li>
    <li>If you are an IT&nbsp;professional or a company working with OpenCms on a regular basis, you should&nbsp;definitely&nbsp;check if and&nbsp;how your current websites, modules and functions can be ported to the new release. Even though changes on the Java API level and changes on the DB schema are to be expected until we reach the beta or even release candidate state of the development, most of the big changes have already been made.</li>
    <li>If you start a new project that is expected to go live in about 3 months, you may use this version to build your project - but be prepared for some extra work to update when new releases become available, and also for some time figuring out the so far undocumented features if these are required.</li>
    <li>If you are working on a project with OpenCms 5.0.x that has&nbsp;a delivery date soon, you should stick to the 5.0.x version unless you absolutely require a feature of the 6.0 version.</li>
    <li>If you are running a website based on OpenCms, and you plan to implement some new features in the not so far future, you should install this version on a test machine and check out the new features.</li>
</ul>
<p><strong>When will the &quot;final&quot; release of OpenCms 6.0 be available?</strong></p>
<p>This will greatly depend on the feedback for this release and the following releases, especially regarding bugs. In case you find any bug, please use the  <a target="_blank" href="%(link0)">OpenCms bugzilla</a> to document it, or at least post a note to the  <a href="%(link1)">opencms-dev</a> mailing list. The more feedback and code contributions are made, the faster we can fix the issues and finish the development. Currently we expect the final release of OpenCms 6.0 in Q4/2004 or Q1/2005.</p>
<p><strong>The most important new features in&nbsp;this alpha 2 release&nbsp;compared to the alpha&nbsp;1&nbsp;version:</strong></p>
<ul>
    <li>The release is the first that displays the new XML content features of OpenCms 6.0 by including a full demo for most of the new functions (the &quot;templateone&quot; frontend). Implemented new features for XML content in this release are:
    <ul>
        <li>XML content editor elements titles can be localized</li>
        <li>XML content editor correctly supports locales, including locale switch</li>
        <li>XML content editor supports optional &quot;help bubbles&quot; using special locale keys</li>
        <li>XML content editor allows scrolling in case of many widgets on the screen</li>
        <li>XML content editor now allows &quot;direct publish&quot; directly from the editor</li>
        <li>XML content can be created with the &quot;New&quot; dialog wizard if properly configured</li>
        <li>Made XML content types configurable in opencms-vfs.xml</li>
        <li>Made XML content type filters configurable in opencms-vfs.xml</li>
        <li>Added advanced XML content widgets: Boolean, Colorpicker, VfsFile</li>
        <li>Added new tags &quot;contentload&quot;, &quot;contentcheck&quot;, &quot;contentloop&quot;, &quot;contentshow&quot; to OpenCms JSP taglib to display XML content in templates</li>
    </ul>
    </li>
    <li>Other features of notice:
    <ul>
        <li>New &quot;content-conversion&quot; property allows automatic conversion of XML page HTML content to XHTML, also optionally corrects HTML errors etc.</li>
        <li>Added option &quot;clean up after Copy&amp;Paste from Word&quot; to all XML page editors</li>
        <li>Added support for MySQL 4.1</li>
        <li>Explorer &quot;History&quot; dialog with version information has been rebuild in JSP</li>
    </ul>
    </li>
    <li>
    <div>Fixed issues and minor improvements:</div>
    <ul>
        <li>
        <div>Updated included libaries to their latest available release versions</div>
        </li>
        <li>
        <div>Split the CmsDriverManager into CmsSecurityManager and CmsDriverManager, for more efficient handling of permission checks during DB operations</div>
        </li>
        <li>Added feature to set web application context name in web.xml (required e.g. for Jboss)</li>
        <li>New &quot;displayresource.jsp&quot; replaced XML template based &quot;show resource&quot; file</li>
        <li>Locale handler for the workplace has been made configurable</li>
        <li>Fixed issue with link replace mode in XML content editor operating in the root site</li>
        <li>Fixed issue with default XML default value creation not having an OpenCms context available</li>
        <li>Fixed issue with translated module name not correctly written to log</li>
        <li>Fixed issues with legacy master module permissions and history</li>
        <li>Fixed issue with Lucene search query not working with &quot;OR&quot; logic</li>
        <li>Fixed issue with old temporary file lock owned by wrong user</li>
        <li>Fixed issue with cached page element in request attribute not being properly initialized</li>
        <li>Added configurable password class encryption handler to opencms-system.xml</li>
    </ul>
    </li>
</ul>
<p>For a list of features of the 6.0 release compared to the 5.0 release, please check the news archive for the release note of the 6.0 alpha 1 version.</p>
<p><strong>TODO list to be finished before OpenCms 6.0 is released:</strong></p>
<ul>
    <li>The OpenCms workplace is still not fully implemented in JSP - all XmlTemplate using dialogs will be rewritten to JSP</li>
    <li>We will write a &quot;content relation engine&quot;&nbsp;(CRE)&nbsp;for resources in the VFS - this replaces the old &quot;channel&quot; concept of the master module</li>
    <li>More of the configuration will be transferred from opencms.properties to the new Digester XML based configuration file, the current opencms.properties will stay only for the database configuration - this configuration will be moved to the XML in a release after 6.0.</li>
    <li>The most important management functions (e.g. cache maintainance, system status) will be exposed to allow JMX containers to manage OpenCms</li>
    <li>Documentation needs to be revised for old functions and written for new functions</li>
    <li>Testing and bug fixing - your feedback is required!</li>
</ul>
<p>The team at  <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1098741600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
