<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Wir stellen vor: Das neue OpenCms Logo]]></Title>
    <Date>1142587800000</Date>
    <Preface><![CDATA[Wir freuen uns das neue OpenCms Logo vorzustellen. Das neue Logo wird mit der Ende März vorgesehenen Fertigstellung von OpenCms 6.2 eingeführt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Wir freuen uns das neue OpenCms Logo vorzustellen. Das neue Logo wird mit der Ende M&auml;rz vorgesehenen Fertigstellung von OpenCms 6.2 eingef&uuml;hrt.</p> <p>Das neue Logo zeichnet sich durch ein professionelles, klares und frisches Design aus. Es ist dadurch gut im Web und auch im Druck zu verwenden. Auch l&auml;sst es sich besser skalieren als das alte Logo.</p> <p>Das neue OpenCms Logo wurde als Warenzeichen in Deutschland und anderen L&auml;ndern eingetragen, um die OpenCms Community vor juristischen Risiken zu sch&uuml;tzen. Eigent&uuml;mer des Warenzeichens ist die Alkacon Software GmbH.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/opencms-logo.svg]]></target>
            <uuid>76fbcefc-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1142587800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Introducing the new OpenCms Logo]]></Title>
    <Date>1142587800000</Date>
    <Preface><![CDATA[We are proud to introduce the new OpenCms logo. This new logo will be fully featured in OpenCms with the release of OpenCms 6.2.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>We are proud to introduce the new OpenCms logo. This new logo will be fully featured in OpenCms
with the upcoming release of OpenCms 6.2 expected end of March. The old logos on the opencms.org
website will then also be replaced, followed by a full redesign of the complete website currently
expected in the 2nd half of the year.</p>
<p>The new logo has a professional, clear and fresh design. It is easier to reproduce both online
and in print, and it scales better than the previous logo.</p>
<p>
<em>The new OpenCms&nbsp;logo design has been registered as a trademark in Germany and other
countries to protect the OpenCms community from legal issues. Owner of the trademark is Alkacon
Software GmbH.</em>
</p>
<p>Please let us know what you think about the new OpenCms logo on the OpenCms&nbsp; 
<a href="%(link0)">mailing list</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/opencms-logo.svg]]></target>
            <uuid>76fbcefc-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1142587800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
