<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Alkacon unveils OpenCms/Flex]]></Title>
    <Date>1021154400000</Date>
    <Preface><![CDATA[Alkacon Software unveils OpenCms/Flex, adding JSP support to the leading open source Java based website content management system.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms is the leading open source java based website content management, freely available from  <a href="%(link0)">http://www.opencms.org</a>. Available as Open Source since early 2000, OpenCms is used by dozens of interactive agencies and web professionals to deliver high quality, state of the art web applications for a large number of clients.</p>
<p>Alkacon Software now has released OpenCms/Flex, adding full JSP support to OpenCms. With OpenCms/Flex, web professionals are able to easily develop great looking content management enabled websites, using well-known Java web development standards like JSP and Taglibs. Other new features in OpenCms/Flex, like advanced caching and support for Java 1.4, further extend the options of web developers and can greatly reduce site development times.</p>
<p>OpenCms/Flex is fully backwards compatible and of course retains all the great features of OpenCms, e.g. easy installation, an integrated user management and permission system, project-based publishing, versioning of pages, search engine support, support for personalization of websites, an integrated WYSIWYG - editor, and much more. OpenCms/Flex can be downloaded without charge at  <a href="%(link1)">http://www.opencms.org</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_opencms_old.gif]]></target>
            <uuid>174410aa-265e-11dc-b050-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[logo_opencms]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1021154400000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
