<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 Beta 3 veröffentlicht]]></Title>
    <Date>1114639200000</Date>
    <Preface><![CDATA[Alkacon Software hat die dritte Beta-Version von OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Bereits Ende Mai 05 wird die erste "Release Candidate" Version von OpenCms 6.0 erwartet.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die dritte Beta-Version von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Bereits Ende Mai 05 wird die erste &quot;Release Candidate&quot; Version von OpenCms 6.0 erwartet.</p> <p>OpenCms 6.0 ist Open Source Software. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1114639200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 beta 3 released]]></Title>
    <Date>1114639200000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the beta&nbsp;3 release of OpenCms 6.0. This is the last beta release for OpenCms 6.0, end of May 2005 the first 6.0 release candidate will be available.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the beta&nbsp;3 release of OpenCms 6.0. This is the last beta release for OpenCms 6.0, end of May 2005 the first 6.0 release candidate will be available.</p> <p><strong>The most important new features in this beta&nbsp;3 release:</strong></p> <ul>     <li>Improvements and additions to the &quot;templateone&quot; demo:     <ul>         <li>&quot;templateone&quot; can now&nbsp;be configured to either display the &quot;accessible&quot; or &quot;classic&quot; (table based) version</li>         <li>&quot;templateone&quot; data is displayed in the &quot;accessible&quot; version by default</li>         <li>&quot;templateone&quot; now allows individual header styles for each microsite</li>         <li>Added read-to-use &quot;news&quot; module to &quot;templateone&quot;</li>         <li>Added read-to-use &quot;jobs&quot; module to &quot;templateone&quot;</li>         <li>Added read-to-use &quot;events&quot; module to &quot;templateone&quot;</li>         <li>Added read-to-use &quot;faq&quot; module to &quot;templateone&quot;New &quot;Table gallery&quot; feature&nbsp;</li>     </ul></li>     <li>New &quot;Table gallery&quot; feature:     <ul>         <li>Supports &quot;copy &amp; paste&quot; from spreadsheets (e.g. Ecxel) into a HTML table</li>         <li>HTML table output format of the tables can be controlled with XSLT formatting</li>         <li>Also supports uploading of CSV data which is then transformed to a HTML table</li>         <li>All correctly configured &quot;galleries&quot; are now automatically displayed in all&nbsp;WYSIWYG editors</li>         <li>&quot;Table gallery&quot; also available as widget for XML content&nbsp;</li>     </ul></li>     <li>Improvements of SQL queries:     <ul>         <li>Optimized SQL query statement for reading all resources with a certain property value</li>         <li>Applied PostgreSQL patches supplied by Antonio</li>     </ul></li>     <li>Introduction of a &quot;role&quot; concept in OpenCms:&nbsp;     <ul>         <li>System functions are not longer accessible by &quot;Administrators&quot; only, they now require a certain role</li>     </ul></li>     <li>Improved Localization:&nbsp;     <ul>         <li>CmsMessages can now handle localized keys with MessageFormat parameters</li>         <li>Improved implementation of CmsException (and it's subclasses) to be more standard compliant</li>         <li>Improved logging configuration on system startup to allow static log members in all classes</li>         <li>Started to localize all internal OpenCms Exceptions and Log messages</li>         <li>Improved implementation for localized keys in the Workplace</li>         <li>Added utility classes to org.opencms.i18n for convenient dealing with localized core messages</li>     </ul></li>     <li>Further improvements:     <ul>         <li>Final design of the &quot;New Administration&quot; view (almost) finished</li>         <li>It's now possible to activate and deactivate scheduled jobs and to update and remove a job from the scheduler&nbsp;</li>         <li>Added &quot;HTML import&quot; feature for import of static HTML pages</li>         <li>Added &quot;search in search result&quot; functionality</li>         <li>Added option for nested macros in CmsMacroResolver</li>         <li>It's now possible to add the Workplace context menu configuration for a new resource type in a module</li>         <li>New &quot;Textarea&quot; Widget for XML content for simple multiline String input</li>         <li>Added implementation of a list &quot;widget&quot; for display of manageable objects in the &quot;New Administration&quot;</li>         <li>Updated log4j.jar to latest version 1.2.9</li>         <li>Updated quartz.jar to latest version 1.4.5</li>     </ul></li>     <li>Resolved Issues:     <ul>         <li>Fixed issue in static export for binary resources</li>         <li>Fixed issue in database export of resources where a deleted &quot;created by&quot; user caused an Exception</li>     </ul></li> </ul> <p><strong>When will the &quot;final&quot; release of OpenCms 6.0 be available?</strong></p> <p>End of Q2/2005. You can help speeding up the process of development by providing feedback for this release and the following releases, especially regarding bugs. In case you find any bug, please use the  <a href="%(link0)">OpenCms bugzilla</a> to document it, or at least post a note to the  <a href="%(link1)">opencms-dev</a> mailing list. The more feedback and code contributions are made, the faster we can fix the issues and finish the development.</p> <p><strong>Who should use this 6.0 beta&nbsp;3 version?</strong></p> <p>This is a beta version. Please don't expect it to be perfectly stable.</p> <p>Having said that, we believe that this 6.0 beta&nbsp;3 version is certainly stable enough to be used in a production system. It's likely to be more stable than the current &quot;stable&quot; 5.0.1 release. The main reason for still being in &quot;beta&quot; status is that we want to fully re-write the Workplace &quot;Administration&quot; view before we announce 6.0 as finished.</p> <p>If and how you should use this version depends on what your goals are:</p> <ul>     <li>If you starting a new OpenCms project, you should use this 6.0 beta&nbsp;2 and not 5.0.1.</li>     <li>If you are currently using any previous 6.0 development release (e.g. 6.0 alpha 1, 2, 3 or beta 1, 2), you should upgrade to this new version in case you have encountered issues with the release you are using. If this is not the case, you may as well wait until the 6.0 final release is out.</li>     <li>If you are running a website based on OpenCms 5.0.1, and you want to upgrade, you should wait until the final 6.0 release is available.</li> </ul> <p><strong>TODO list to be finished before OpenCms 6.0 is released:</strong></p> <ul>     <li>The rest of the &quot;Administration&quot; view is to be re-implemented in the new tool API</li>     <li>Writing a&nbsp;documentation on&nbsp;how to update from 5.0 to 6.0</li>     <li>Testing and bug fixing - your feedback is required!</li> </ul> <p>The team at <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1114639200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
