<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Job opportunities at Alkacon Software]]></Title>
    <Date>1167649200000</Date>
    <Preface><![CDATA[Alkacon Software&nbsp;offers&nbsp;Jobs for OpenCms core development.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/jobs/index.html]]></target>
            <uuid>f51c832e-3073-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software, home of the maintainers and main developers of OpenCms, has Job openings for OpenCms core development.</p>
<p>If you are a skilled Java developer looking for a challenge,  <a href="%(link0)">check of the Job descriptions at the Alkacon Website</a>.</p>
<p><em>Please note that currently all job offerings are for regular, on-site and full-time employments only.</em> Location of work are the Alkacon offices in Cologne, Germany. The job descriptions are currently only available in German language.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1087409700000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
