<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 Beta 2 veröffentlicht]]></Title>
    <Date>1112263200000</Date>
    <Preface><![CDATA[Alkacon Software hat die zweite Beta-Version von OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Diese Version enthält unter anderem Verbesserungen in der integrierten Volltext-Suche, sowie neue Funktionen für den statischen Export und den Betrieb "sicherer" https Server mit OpenCms.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die zweite Beta-Version von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Diese Version enth&auml;lt unter anderem Verbesserungen in der integrierten Volltext-Suche, sowie neue Funktionen f&uuml;r den statischen Export und den Betrieb &quot;sicherer&quot; https Server mit OpenCms.</p> <p>OpenCms 6.0 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1112263200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 beta 2 released]]></Title>
    <Date>1112263200000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the beta 2 release of OpenCms 6.0. This beta 2 release contains important enhancements in the integrated search engine, as well as for the static export and the use of OpenCms with "secure" https servers.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the beta 2 release of OpenCms 6.0. This&nbsp;beta&nbsp;2&nbsp;release contains important enhancements in the integrated search engine, as well as for the static export and the use of OpenCms with &quot;secure&quot; https servers. It also contains numerous fixes applied since 6.0 beta 1.</p> <p><strong>The most important new features in this beta&nbsp;2 release compared to the&nbsp;beta 1&nbsp;version:</strong></p> <ul>     <li>Improvements with the full text search engine:</li>     <li><ul>         <li>Increased search performance by optimizing search queries</li>         <li>MS PowerPoint, HTML (plain) and RTF added to searchable document types</li>         <li>Improved MS Word and MS Excel text extraction</li>         <li>Improved API for text extraction, added test cases for text extraction API</li>         <li>Added &quot;search.priority&quot; property to boost marked documents up in the search result list</li>         <li>Added sort options to search, default is by score, options are by title or date of last modification</li>         <li>Added search categories feature, for display of a category overview for a search result</li>         <li>Added multiple search root option</li>         <li>Added search result highlighting for wildcard queries (e.g. opencm* will highlight &quot;opencms&quot;)</li>     </ul></li>     <li>Improvements and additions to the &quot;templateone&quot; demo:     <ul>         <li>&quot;templateone&quot; demo is now able to define &quot;microsites&quot; using custom folder type</li>         <li>&quot;templateone&quot; demo now allows individual header styles for each microsite</li>     </ul></li>     <li>XML content improvements and new features:     <ul>         <li>XML content editor now jumps to the last scroll position after element adding/removal</li>         <li>Added implementation of a &quot;priority resource collector&quot;</li>         <li>Resource collectors have been moved to a new package org.opencms.file.collectors</li>     </ul></li>     <li>Improved static export and new secure features:     <ul>         <li>New &quot;secure&quot; feature allows easy re-directing to secure (https) pages &quot;inside&quot; a OpenCms site</li>         <li>New &quot;Export/Secure&quot; dialog for easy setting (and controlling) of export and secure properties</li>         <li>Secure server option added to OpenCms site configuration</li>         <li>OpenCms sites can now have multiple alias names in the configuration</li>     </ul></li>     <li>Resource type enhancements:     <ul>         <li>Resource type id's are now fully configurable</li>         <li>Improved implementation of default properties for resource types</li>         <li>It's now possible to copy a list of configured resources after a new resource is created</li>         <li>Added configurable folder type org.opencms.file.types.CmsResourceTypeFolderExtended</li>     </ul></li>     <li>Further improvements:     <ul>         <li>Improved implementation of SQL manager by adding additional methods for pool information</li>         <li>Improved runlevel implementation for more fine-grained control during the init process</li>         <li>Added individual &quot;broadcast message&quot; queues for each user</li>         <li>Optimized the session info handling and the implementation of the OpenCmsListener</li>         <li>Removed the requirement for a separate OpenCmsSessionManager listener in the web.xml</li>         <li>Updated quartz component to latest release 1.4.4</li>         <li>Updated HtmlParser component to latest release 1.5 (20050313)</li>     </ul></li>     <li>Resolved Issues:</li>     <li><ul>         <li>Fixed issue with cookies not getting set on OpenCms controlled JSP pages (bug #19)</li>         <li>Fixed issue with editor link replacement and parameter links that contain &quot;&amp;language&quot;</li>         <li>Fixed issue with temporary projects causing errors after publishing</li>         <li>Fixed issue in &quot;templateone&quot; causing wrong caching of elements</li>         <li>Fixed issue with non-ascii chars in search terms being garbled on the second result page</li>         <li>Fixed SQL statement compatibility issue with MySQL 3.2.x</li>         <li>Fixed issues with Oracle 8.1.7 (more testing on 8.1.7 still required)</li>     </ul></li> </ul> <p><strong>When will the &quot;final&quot; release of OpenCms 6.0 be available?</strong></p> <p>End of Q2/2005. You can help speeding up the process of development by providing feedback for this release and the following releases, especially regarding bugs. In case you find any bug, please use the  <a href="%(link0)">OpenCms bugzilla</a> to document it, or at least post a note to the  <a href="%(link1)">opencms-dev</a> mailing list. The more feedback and code contributions are made, the faster we can fix the issues and finish the development.</p> <p><strong>Who should use this 6.0 beta&nbsp;2 version?</strong></p> <p>This is a beta version. Please don't expect it to be perfectly stable.</p> <p>Having said that, we believe that this 6.0 beta&nbsp;2 version is certainly stable enough to be used in a production system. It's likely to be more stable than the current &quot;stable&quot; 5.0.1 release. The main reason for still being in &quot;beta&quot; status is that we want to fully re-write the Workplace &quot;Administration&quot; view before we announce 6.0 as finished.</p> <p>If and how you should use this version depends on what your goals are:</p> <ul>     <li>If you starting a new OpenCms project, you should use this 6.0 beta&nbsp;2 and not 5.0.1.</li>     <li>If you are currently using any previous 6.0 development release (e.g. 6.0 alpha 1, 2, 3 or beta 1), you should upgrade to this new version in case you have encountered issues with the release you are using. If this is not the case, you may as well wait until the 6.0 final release is out.</li>     <li>If you are running a website based on OpenCms 5.0.1, and you want to upgrade, you should wait until the final 6.0 release is available.</li> </ul> <p><strong>TODO list to be finished before OpenCms 6.0 is released:</strong></p> <ul>     <li>The rest of the &quot;Administration&quot; view is to be re-implemented in the new tool API</li>     <li>Writing a&nbsp;documentation on&nbsp;how to update from 5.0 to 6.0</li>     <li>Testing and bug fixing - your feedback is required!</li> </ul> <p><strong>Please note:</strong>  <em>The development of JMX for OpenCms and the Content Relationship Engine (CRE), both features initially intended for the 6.0 release, will not make it in the 6.0 release. We hope to add these features in a later version.</em></p> <p>The team at  <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1112263200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
