<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 5.0 veröffentlicht]]></Title>
    <Date>1052128800000</Date>
    <Preface><![CDATA[Alkacon Software hat die Arbeiten an OpenCms 5.0, dem Open Source Content Management System, abgeschlossen.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die Arbeiten an OpenCms 5.0, dem Open Source Content Management System, abgeschlossen.</p> <p>OpenCms 5.0 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a> herunter geladen werden. Diese Version ist ein gro&szlig;er Schritt f&uuml;r OpenCms. Sie&nbsp;bietet deutliche Verbesserungen gegen&uuml;ber&nbsp;den 4.x Versionen, und wir empfehlen allen OpenCms - Benutzern ein Update auf die 5.0 Version. OpenCms 5.0 ben&ouml;tigt Java 1.4.</p> <p>OpenCms 5.0 bietet einen neuen Template - Mechanismus, welcher auf JSP und Taglibs basiert. JSP ist ein gut dokumentierter Standard, leicht zu erlernen f&uuml;r Java Entwickler, die erstellten Templates sind extrem schnell und die Entwicklung von interaktiven Funktionen wie z.B. Web-Formularen oder Datenbankanbindungen ist daher mit JSP in OpenCms schnell umsetzbar. Der bisherige, in OpenCms 4.x einzig vorhandene, propriet&auml;re &quot;XMLTemplate&quot; Mechanismus kann daher als veraltet angesehen werden. Wir empfehlen, f&uuml;r neue Projekte nur noch JSP Templates einzusetzen. Die vollst&auml;ndige, von Alkacon Software entwickelte Dokumentation f&uuml;r OpenCms JSP Templates wurde zusammen mit der 5.0 Version verf&uuml;gbar gemacht. Erfahrungen zeigen, dass die Verwendung von JSP in OpenCms die Entwicklungszeit um bis zu 50% verringern kann, und JSP au&szlig;erdem viel schneller und einfacher erlernbar sind als XMLTemplates.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms 5.0 finden Sie bei unseren <a href="%(link1)">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung von OpenCms 5.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1052128800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 5.0 released]]></Title>
    <Date>1052128800000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the final release of OpenCms version 5.0, the open source content management system. This release is a major step for OpenCms.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the&nbsp;final release of OpenCms version 5.0,&nbsp;the&nbsp;open source content management system.</p> <p>OpenCms 5.0 is Open Source software published under the LGPL license. The system is freely available from the OpenCms website  <a href="%(link0)" target="_blank">http://www.opencms.org</a>. This release is a major step for OpenCms. It is far superior to OpenCms 4.x and we recommend everyone who uses OpenCms to upgrade to the 5.0 version. OpenCms 5.0 requires Java 1.4.</p> <p>OpenCms 5.0 comes with a new template mechanism based on JSP and taglibs. JSP is a well documented standard, easy to learn for Java programmers, the created templates are extremely fast and development of interactive functionality like web forms or database connections with JSP in OpenCms is straightforward. Therefore the JSP template mechanism makes the 4.x style proprietary &quot;XMLTemplate&quot; mechanism pretty much obsolete, even though it is still supported in the 5.0 release. For new projects, we strongly recommend using only JSP templates in OpenCms. Full documentation and examples for OpenCms JSP templates developed by Alkacon Software has been made available together with the 5.0 version. Experience shows that using JSP in OpenCms can reduce development time up to 50%, with a much easier to manage learning curve for beginners when compared to XMLTemplates.</p> <p>The almost complete list of changes and improvements in OpenCms 5.0 &quot;final&quot; (5.0.0) over the last published &quot;release candidate&quot; (5.0 rc 2):</p> <ul> <li>Added &quot;import.immutable.resources&quot; setting to opencms.properties, all resources listed there will be ignored during an import if they already exist</li> <li>The size of the file upload can now be limited with the opencms.properties setting &quot;workplace.file.maxuploadsize&quot;</li> <li>Added method getContent() to com.opencms.jsp.CmsJspActionElement</li> <li>Export and import for module data now use a report output instead of writing to the console</li> <li>OpenCms now sets a &quot;Server&quot; http response header &quot;OpenCms/{version_number}&quot;</li> <li>The file last modified date is now saved when exporting and importing data from the VFS</li> <li>Added links management for VFS links, it's now possible to find all VFS links that point to a specific file</li> <li>Added feature to convert content from old export format (4.x) to 5.0 version, set &quot;compatibility.support.import.4.x.contents=true&quot; in opencms.properties</li> <li>Updated the TeX sources of the PDF documentation for the 5.0 release</li> <li>Implemented &quot;module replacement&quot;, if a module is uploaded that already exists in the system, the existing module is updated (simple type modules only)</li> <li>Default user preferences can now be set in opencms.properties</li> <li>Improved &quot;new module&quot; options, it's now possible to select if exportable &quot;classes/&quot; and/or &quot;lib/&quot; folders should be created for the module</li> <li>Updated and improved English workplace online help is now available as a separate module &quot;org.opencms.help.en&quot;</li> <li>Database field sizes for user, group and project names have been increased to 64 characters</li> <li>Fixed issue #71: CronScheduler does not longer re-open the DB connections if OpenCms is shut down</li> <li>Fixed issue with JSP static export not always restoring the previous URI context</li> <li>Fixed compatibility issues with MySQL 4.0.x, OpenCms now supports MySQL 4.0.x</li> <li>Fixed issue #56: Links in &quot;Text&quot; pages edited with the WYSIWYG &quot;Edit as HTML&quot;</li> <li>Fixed issue with hard coded servlet context path in &lt;edittemplate&gt;, it's now possible to rename the servlet context and the images still work in the editor</li> <li>Fixed issue #55 from Bugzilla (compatibility.support.oldlocales not working if no new modules installed)</li> <li>Fixed issue where an absolute link to the local machine with an URI outside of OpenCms was incorrectly treated as an OpenCms internal link by the link replacement engine</li> <li>Improved handling of cached properties in the CmsResourceBroker</li> <li>Deleted CmsCache and CmsResourceCache and replaced them with CmsLruHashMap, also replaced a lot of Hashtable uses with Map</li> <li>Added automatic forced exclusion of system folders for module import</li> <li>Improved source code quality by removing unused method parameters in most (but not all) packages</li> <li>Streamlined module administration options, now a module can be uploaded or created only when &quot;offline&quot;</li> <li>Improved JavaDocs in package com.opencms.flex.jsp.*</li> <li>Improved the API for the building of dynamic navigations on a JSP</li> <li>Module version numbers are of type float instead of int now, so that values like &quot;0.9&quot; are possible</li> <li>Workplace now adopts to the systems default encoding if possible instead of using only the encoding set in the localization file</li> <li>Removed unused private methods and member variables in all classes</li> <li>JSP are now stored with real path names in the jsp/ subdirectory</li> <li>When exporting a module the modules &quot;uploadeddate&quot; and &quot;uploadedby&quot; registry information is discarded</li> <li>Added global method getOpenCmsContext() in com.opencms.core.A_OpenCms for universal access to the servlet context and servlet name</li> <li>Some final touches were added to the JSP / XMLTemplate integration for easier inclusion of sub - elements or multiple body pages in JSP templates</li> <li>Updated OpenCms TLD for modified options of the &lt;cms:include&gt; tag</li> <li>The &quot;bodyloader&quot; for the JSP / XMLTemplate integration is now a default part of the installation, located in the new /system/shared/ directory</li> <li>Improved logging output&nbsp;while OpenCms is initialized</li> </ul> <p>The team at  <a href="%(link1)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1052128800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
