<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[German online help translation available]]></Title>
    <Date>1055839860000</Date>
    <Preface><![CDATA[The OpenCms online user help is now available in German.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/localizations.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms online help is now availale in German. This optional module adds a "Help" button to
the OpenCms workplace. Pressing this button, the user gets access to help documentation about his
current on-screen options. The online help is intended for non-technical OpenCms "end users", e.g.
content managers.</p>
<p>The OpenCms online help module 
<em>org.opencms.help.de</em> can be downloaded form the 
<a href="%(link0)">Module Download</a> page. You must first
install the basic help module 
<em>org.opencms.help</em> that contains the required templates for the online help.</p>
<p>The OpenCms online help is already available in English. Many thanks to Jakob Lemler for doing
the translation to German.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1055839860000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
