<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 Alpha 3 veröffentlicht]]></Title>
    <Date>1103670000000</Date>
    <Preface><![CDATA[Alkacon Software hat die dritte öffentliche Alpha-Version von OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Neben vielen weiteren Verbesserungen ist OpenCms  6.0 mit dieser Version auch unter Java 1.5 / 5.0 lauffähig.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die dritte &ouml;ffentliche&nbsp;Alpha-Version von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Neben vielen weiteren Verbesserungen ist OpenCms&nbsp; 6.0 mit dieser Version auch unter Java 1.5 / 5.0 lauff&auml;hig.</p> <p>OpenCms 6.0 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1103670000000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 alpha 3 released]]></Title>
    <Date>1103670000000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the third public binary alpha release of OpenCms 6.0. This alpha&nbsp;3 release&nbsp;improves the features of the new&nbsp;XML content and adds support for Java 1.5]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the third public binary alpha release of OpenCms 6.0. OpenCms 6.0 is a major upgrade, and it vastly expands the features of OpenCms 5.0.</p> <p>This alpha&nbsp;3 release&nbsp;improves the features of the new&nbsp;XML content and adds support for Java 1.5</p> <p><strong>When will the &quot;final&quot; release of OpenCms 6.0 be available?</strong></p> <p>We now do expect the final release of OpenCms 6.0 end of Q1 2005. You can help speeding up the process of development&nbsp;by providing feedback for this release and the following releases, especially regarding bugs. In case you find any bug, please use the  <a href="%(link0)">OpenCms bugzilla</a> to document it. The more feedback and code contributions are made, the faster we can fix the issues and finish the development.</p> <p><strong>The most important new features in this alpha 3 release compared to the alpha 2 version:</strong></p> <ul>     <li>Support for Java 5.0 / 1.5 and PostgreSQL:     <ul>         <li>Fixed issue with setup wizard in JDK 5.0</li>         <li>OpenCms now installs and runs with JDK 5.0 (please note: no exhaustive tests have been done so far)</li>         <li>Added support for the PostgreSQL database (thanks to Antonio Core for his contribution)</li>         <li>Optimized DB queries and index generation for MySQL</li>         <li>Improved DB performance on MySQL after heavy testing</li>     </ul></li>     <li>JSP based re-implementation of the &quot;Galleries&quot; with new features:     <ul>         <li>Added new &quot;Image gallery&quot; dialog for WYSIWYG editor (also available as XML content widget)</li>         <li>Added new &quot;Download gallery&quot; dialog for WYSIWYG editor (also available as XML content widget)</li>         <li>Added new &quot;External link gallery&quot; dialog for WYSIWYG editor (also available as XML content widget)</li>         <li>Added new &quot;HTML gallery&quot; dialog for WYSIWYG editor (also available as XML content widget)</li>         <li>All galleries are now available&nbsp;for the (optional) HTMLArea editor</li>         <li>Modified VFS to allow multiple folder resource types</li>         <li>Added new resource types for image, download, link and html galleries</li>         <li>Resource &quot;type change&quot; dialog can now also change the type of a folder (e.g. to a gallery type)</li>     </ul></li>     <li>XML content improvements and new features:     <ul>         <li>Added XML content handler interface for special action in the XML content lifecycle</li>         <li>Added full text search capabilities for XML content data</li>         <li>Default implementation of XML content handler is org.opencms.xml.content.CmsDefaultXmlContentHandler</li>         <li>XML content now allows variable mapping of XML content widgets to schema types</li>         <li>XML content editor can now handle optional elements (min occurs = 0) from the XML schema</li>         <li>XML content editor can now handle multiple elements (max occurs &gt; 1) from the XML schema</li>         <li>XML content now allows validation and error handling in editor with customizable validation rules</li>         <li>Widgets for XML contents can now be configured independent from schema types</li>         <li>Removed &quot;index&quot; attribute from &quot;contentshow&quot; tag (use &quot;element=name[1]&quot;) to directly access an element index value &gt; 0</li>         <li>Added support for nesting XML content definitions</li>         <li>Added internal caching for XML content definitions</li>     </ul></li>     <li>Further improvements:     <ul>         <li>Source code for the 'templateone' default module is now available in the src-modules CVS subfolder</li>         <li>VFS resource types and Workplace context menus can now be added by a module</li>         <li>Configuration of default VFS files (e.g. index.html) has been moved to opencms-vfs.xml</li>         <li>Added GUI to modify property values and delete definitions in Administration view</li>         <li>Property definitions can be deleted from Admin GUI even if resources still use the property</li>         <li>Added support for language - country based locales in the Workplace</li>         <li>Updated Lucene to latest stable version 1.4.3, plus an additional patch to prevent NPE in the Lucene index manager</li>     </ul></li>     <li>Resolved Issues:     <ul>         <li>Fixed issue with deleted users or groups causing &quot;orphan&quot; ACE entries (causing NPE errors in the Workplace permission dialog)</li>         <li>Fixed issue with upload applet not working in root site &quot;/&quot;</li>         <li>Fixed issue with HTML comments in editor causing invalid HTML documents</li>         <li>Fixed issue with shutDown() method of modules not being called</li>         <li>Fixed issue with Lucene search engine not correctly indexing pages based on non-ISO encoding</li>         <li>Fixed issue with password change being broken in the user administration</li>         <li>Fixed issue with &quot;https&quot; scheme not correctly working in site configuration</li>     </ul></li> </ul> <p>For a list of features of the 6.0 release compared to the 5.0 release, please check the news archive for the release note of the 6.0 alpha 1 version.</p> <p><strong>Who should use this 6.0 alpha 3&nbsp;version?</strong></p> <p>This is an alpha version. Please don't expect it to be perfectly stable. One of the most important Open Source philosophies is &quot;Release early, Release often&quot;, and this is what we intend to do&nbsp;with this and subsequent 6.0 releases. If and how you should use this version depends on what your goals are:</p> <ul>     <li>If you are currently using any previous 6.0 development release (e.g. 6.0 alpha 1 or alpha 2), you should upgrade to this new version.</li>     <li>If you are an IT&nbsp;professional or a company working with OpenCms on a regular basis, you should&nbsp;definitely&nbsp;check if and&nbsp;how your current websites, modules and functions can be ported to the new release. Even though changes on the Java API level and changes on the DB schema are to be expected until we reach the beta or even release candidate state of the development, most of the big changes have already been made.</li>     <li>If you start a new project that is expected to go live in about 3 months, you may use this version to build your project - but be prepared for some extra work to update when new releases become available, and also for some time figuring out the so far undocumented features if these are required.</li>     <li>If you are working on a project with OpenCms 5.0.x that has&nbsp;a delivery date soon, you should stick to the 5.0.x version unless you absolutely require a feature of the 6.0 version.</li>     <li>If you are running a website based on OpenCms, and you plan to implement some new features in the not so far future, you should install this version on a test machine and check out the new features.</li> </ul> <p><strong>TODO list to be finished before OpenCms 6.0 is released:</strong></p> <ul>     <li>The OpenCms workplace is still not fully implemented in JSP - all XmlTemplate using dialogs will be rewritten to JSP</li>     <li>More of the configuration will be transferred from opencms.properties to the new Digester XML based configuration file, the current opencms.properties will stay only for the database configuration - this configuration will be moved to the XML in a release after 6.0.</li>     <li>The most important management functions (e.g. cache maintainance, system status) will be exposed to allow JMX containers to manage OpenCms</li>     <li>Documentation needs to be revised for old functions and written for new functions</li>     <li>Testing and bug fixing - your feedback is required!</li>     <li>The development of the Content Releationship Engine (CRE)&nbsp;initially scheduled for the 6.0 release&nbsp;has been moved to a version past the 6.0 release. &nbsp;</li> </ul> <p>The team at  <a href="%(link1)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1103670000000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
