<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 RC 1 veröffentlicht]]></Title>
    <Date>1117029600000</Date>
    <Preface><![CDATA[Alkacon Software hat den ersten "Release Candidate" von OpenCms 6.0 fertig gestellt und zum Download frei gegeben.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/company/news/index.html]]></target>
            <uuid>43c41fa1-31f0-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat den ersten &quot;Release Candidate&quot; von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Ende&nbsp;Juni 05 wird die &quot;final release&quot; Version von OpenCms 6.0 erwartet.</p> <p>OpenCms 6.0 ist Open Source Software. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1117029600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 RC 1 released]]></Title>
    <Date>1117029600000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the first release candidate of OpenCms 6.0. The final release of OpenCms 6.0 will be available June 30, 2005.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the first release candidate of OpenCms 6.0. The final
release of OpenCms 6.0 will be available June 30, 2005.</p>
<p>
<strong>The most important new features in this RC 1 release compared to the beta 3
version:</strong>
</p>
<ul>
<li>New Alkacon Documentation module for the upgrade procedure from 5.0 to 6.0</li>
<li>Enhancement of the HTML widgets
<ul>
<li>HTML widgets can now be used on "normal" dialogs (i.e. without XML content)</li>
<li>New "Combo" Widget</li>
<li>Created a "WidgetDialog" for the Workplace that can map widgets to JavaBean properties</li>
</ul></li>
<li>Improved localization and error handling
<ul>
<li>The error handling is now completely changed and localized so that the messages are more
meaningful and detailed</li>
<li>Better error reporting during validation of the XML content definition</li>
<li>Improvements to the new localization mechanism regarding Multi-Bundles</li>
<li>Refactored all Exceptions and Log messages to use localized output</li>
</ul></li>
<li>Modularization of the OpenCms Workplace
<ul>
<li>The OpenCms Workplace resources are fully contained in modules</li>
<li>The Workplace editors have been moved to separate modules</li>
<li>The legacy com.opencms.* packages have been moved to a separate module</li>
<li>New Administration module for scheduled jobs available</li>
<li>New Administration module for module management available (work in progess)</li>
</ul></li>
<li>Further improvements:
<ul>
<li>"Upload" button now available directly on the main "Explorer" view</li>
<li>When creating a new page, the name entered is automatically corrected for invalid chars</li>
<li>XML content resource collectors can now get the name of the resource type to collect in the
parameter</li>
<li>XML content definition restrictions have been loosed (no more "Name" - "Names"
requirement)</li>
<li>The entered name for a new resource can automatically set as Title and/or NavText
(optional)</li>
</ul></li>
<li>Resolved Issues:
<ul>
<li>Enhanced error handling when moving a folder to the same name with just different case</li>
<li>Fixed issue with static export suffix on a JSP with parameters always being set to ".html"</li>
</ul></li>
</ul>
<p>
<strong>When will the "final" release of OpenCms 6.0 be available?</strong>
</p>
<p>June 30, 2005. You can help speeding up the process of development by providing feedback for
this release and the following releases, especially regarding bugs. In case you find any bug,
please use the
<a href="%(link0)">OpenCms bugzilla</a> to document it, or at least post a note
to the
<a href="%(link1)">opencms-dev</a> mailing list. The more
feedback and code contributions are made, the faster we can fix the issues and finish the
development.</p>
<p>
<strong>Who should use this 6.0 beta&nbsp;3 version?</strong>
</p>
<p>In this release candidate, the core features of OpenCms are completed, and should run stable.
Until the final release, there will only be GUI changes in the Workplace and other frontend
releated improvements. We believe that this 6.0 RC 1 version is stable enough to be used in a
production system. It's likely to be more stable than the current "stable" 5.0.1 release.</p>
<p>If and how you should use this version depends on what your goals are:</p>
<ul>
<li>If you are starting a new OpenCms project, you should use this 6.0 RC 1 and not 5.0.1.</li>
<li>If you are currently using any previous 6.0 development release (e.g. 6.0 alpha 1, 2, 3 or beta
1, 2, 3), you should upgrade to this new version in case you have encountered issues with the
release you are using. If this is not the case, you may as well wait until the 6.0 final release is
out.</li>
<li>If you are running a website based on OpenCms 5.0.1, and you want to upgrade, you should wait
until the final 6.0 release is available.</li>
</ul>
<p>
<strong>TODO list to be finished before OpenCms 6.0 is released:</strong>
</p>
<ul>
<li>The rest of the "Administration" view is to be re-implemented in the new tool API</li>
<li>Testing and bug fixing - your feedback is required!</li>
</ul>
<p>The team at
<a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who
has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1117029600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
