<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Jobs available at Alkacon Software]]></Title>
    <Date>1143799080000</Date>
    <Preface><![CDATA[Alkacon Software&nbsp;is hiring. We offer&nbsp;full time Jobs for OpenCms / Java development.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/unternehmen/stellenangebote/index.html]]></target>
            <uuid>63258e56-3094-11ea-b60c-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software, home of the maintainers and main developers of OpenCms, has full time Job
openings for OpenCms / Java development.</p>
<p>If you are a skilled Java developer looking for the opportunity to work for a market leader in
Open Source, 
<a href="%(link0)" target="_blank">check out the Job descriptions
at the Alkacon Website</a>.</p>
<p>
<em>Please note that currently all job offerings are for regular, on-site and full-time employments
only.</em>
</p>
<p>Location of work is the Alkacon office in Cologne, Germany. The job descriptions are currently
only available in German language.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1143799080000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
