<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Second release candidate of OpenCms version 5.0 available]]></Title>
    <Date>1044313200000</Date>
    <Preface><![CDATA[Alkacon Software has published the second "release candidate" for OpenCms version 5.0.&nbsp;The 5.0 version&nbsp;is now feature complete and the final release will be available after an additional testing period of about 4 - 8 weeks.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the second &quot;release candidate&quot; for OpenCms version 5.0, one of the leading open source content management solutions. The core features planned for the 5.0 release are all fully implemented. Due to some major cleanup in the Java source tree and some improvements &quot;under the hood&quot; of the OpenCms core, it was decided to&nbsp;publish another &quot;release candidate&quot;&nbsp;before making the final release. The final release of OpenCms 5.0 will be made available in 4 to 8 weeks if no major bugs are discovered.</p>
<p>OpenCms 5.0 rc&nbsp;2 is Open Source software published under the LGPL license. The software is freely available from the  <a href="%(link0)">OpenCms website</a>. The OpenCms 5.0 rc&nbsp;2 includes all features from the last &quot;major&quot; release 4.6.1, the FLEX alpha 1, the 4.7.7 version and of course the 5.0 beta 1, 5.0 beta 2 and 5.0 rc 1. It's at last as stable as all of these earlier versions.&nbsp;Users of&nbsp;these old versions are&nbsp;encouraged to try this version and provide feedback on the opencms-dev mailing list.</p>
<p>OpenCms 5.0 rc&nbsp;2 supports Java 1.4. and 1.4.1. Because of required features related to file encoding and JDBC, Java 1.3 is not longer supported.</p>
<p>The almost complete list of changes and improvements in OpenCms 5.0 rc 2:</p>
<ul>
    <li>Improved editor GUI (for both source code and WYSIWYG editor)</li>
    <li>The setup wizards now checks for the correct setting of the Java file.encoding</li>
    <li>The  <code>com.opencms.flex.jsp.CmsJspNavElement</code> now provides direct access to all properties of a file</li>
    <li>Fixed issue #54 from Bugzilla (bodyselector not always working in editor)</li>
    <li>Fixed issue with download galleries not displaying the file type icon</li>
    <li>Fixed issue with cache settings causing binary document types (like *.doc, *.pdf) not to display in an offline project</li>
    <li>Fixed various issues regarding the character encoding, as a result it is now possible to use any encoding, not only  <code>UTF-8</code> as with previous releases</li>
    <li>The default character encoding has been changed from  <code>UTF-8</code> to  <code>ISO-8859-1</code></li>
    <li>Fixed an issue with JSP error pages not working in Tomcat 4.1, see comment for the setting  <code>flex.jsp.errorpagecommit</code> in the  <code>opencms.properties</code></li>
    <li>Fixed issues #43, #44 and #45 from Bugzilla</li>
    <li>Fixed an issue where a  <code>CmsMethodElement</code> could produce NullPointerExceptions in rare circumstances</li>
    <li>Fixed issue with text editor not displaying the save/exit buttons in IE if the ActiveX control is not installed</li>
    <li>The &quot;template class caching&quot; was not longer required and has been removed as OpenCms 5.x uses the standard ClassLoader</li>
    <li>The online help is now a separate upload module (it is currently available only in German and needs an update anyway)</li>
    <li>Improved the OpenCms logfile output during startup</li>
    <li>The proprietary XML style localization for the workplace has been replaced by standard  <code>java.util.ResourceBundles</code> and support of it is disabled by default (can be enabled in  <code>opencms.properties</code> with the  <code>compatibility.support.oldlocales</code> flag)</li>
    <li>All ResourceBundles for localization have been combined in  <code>com/opencms/workplace/workplace.properties</code> for easier translation</li>
    <li>The Italian locale has been moved to a separate module  <code>com.opencms.locales.it</code> and is no longer part of the core distribution</li>
    <li>Improved language handling in  <code>com.opencms.workplace.CmsNewExplorerFileList</code>, the current Workplace language now stored in session</li>
    <li>Removed errors in JavaDocs and added a  <code>package.html</code> file to all packages</li>
    <li>Removed unused variables and imports in all classes</li>
</ul>
<p>The team at Alkacon continues working towards the final release of the 5.0 version, to be expected in&nbsp;4 to 8 weeks.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1044313200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
