<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0.2 release notes]]></Title>
    <Date>1129215120000</Date>
    <Preface><![CDATA[The OpenCms 6.0.2 release notes contain detailed information about the fixed issues and new features in this maintenance release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_690.html]]></target>
            <uuid>3ded6667-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[mailto:contributions@opencms.org]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 6.0.2 is a stability upgrade which fixes several issues reported with the OpenCms 6.0.0
release. Some new features are available as well.</p>
<p>
<strong>Who should use this version?</strong>
</p>
<p>It is recommended for all OpenCms 6.0.0 users to upgrade to this improved version. Version 6.0.2
will also be the base for all future OpenCms releases.</p>
<p>
<strong>Fixed issues in Version 6.0.2</strong>
</p>
<ul>
<li>Fixed issue #615: Uploading modules with new (unknown) resource type classes</li>
<li>Fixed issue #884: Cancelling upload of files in non-applet dialog now resets file content</li>
<li>Fixed issue #895: Show correct online address in the secure dialog also in the ROOT site</li>
<li>Fixed issue #890: Extended folders and XML contents now show the custom property dialog from
the referenced resource type</li>
<li>Fixed issue #899: Latent problem while importing data fixed</li>
<li>Fixed issue #904: The selected modules are checked and topologically sorted</li>
<li>Fixed issue #905: HtmlArea is now opened in source code mode if clicking the resource context
menu entry "Edit sourcecode"</li>
<li>Fixed issue #912: NullPointerException in "recommend page" of templateone</li>
<li>Fixed issue #914: Exceptions after cleanup html in WYSIWYG Editor</li>
<li>Fixed issue #925: The deleteUser method also removes the user from all their groups</li>
<li>Fixed issue #931: It is now possible to insert closing curly braces in HtmlArea in IE using
german keyboards</li>
<li>Fixed issue #932: Keep synchronization settings after the user preferences were changed</li>
<li>Fixed issue #940: cmsshell.sh doesn't run on Linux</li>
<li>Fixed issue #943: Display advanced property dialog of extended folders only once after a new
property is defined</li>
<li>Fixed issue #953: Dialog paths in simple HTML editor adjusted to JSP dialogs</li>
<li>Fixed issue #955: Downgraded JSTL libraries to 1.0 to gain compatibility with JSP 1.0 servlet
containers</li>
<li>Fixed issue #956: Failed link translation results in zero length file during HTML import</li>
<li>Fixed issue #957: Case sensitivity problems in HTML import</li>
<li>Fixed issue #960: Servlet mapping also works for the "/*" setting</li>
<li>Fixed issue #963: The user, group and property names are now escaped</li>
<li>Fixed issue #967: Shared property is empty after renaming or moving resources</li>
<li>Fixed issue with NULL_PROPERTY not being immutable</li>
<li>Fixed issue with XML content defaults defined in annotations not working for nested cd's when
creating new content</li>
<li>Fixed issue with bad encoding for sessionless requests due to early access to
#getParameter(String) for upload applet</li>
<li>Fixed issue with slow publishing of files because of history query</li>
<li>Fixed issue with fulltext search folder restriction not working for special folder names</li>
<li>Fixed issue with URI splitting causing an NPE if URI was invalid</li>
<li>Fixed issue with resources outside timerange in editors</li>
<li>Fixed issue with CmsDriverManager#getChilds()</li>
<li>Fixed issue with "search" causing JavaScript errors in new Administration</li>
<li>Fixed issue with editing the "parent group" of a group</li>
<li>Fixed issue with history of siblings in a multiple site configuration</li>
<li>Fixed issue with error (404) pages not returning a 404 status code</li>
<li>Fixed issue with locale selection process not always working correctly when using
"language_COUNTRY" type locale</li>
<li>Fixed issue with XML content so that "Articles"-"Article" node naming schema is not longer
required for creation of new content items</li>
<li>Fixed issue with client side caching of expired documents because of missing http headers</li>
<li>Fixed issue with display of historic resource versions in external programs (*.doc, *.pdf)</li>
<li>Fixed issue with external link checker if link target is not a http link</li>
<li>Fixed issue (using workaround) with lost image paths in HtmlArea editor widget after drag &amp;
drop</li>
<li>Removed references to static user/group name variables, using only the methods that return the
configurable names</li>
<li>Included fix to disable multiple setting of "Content-Type" header contributed by Jason
Trump</li>
</ul>
<p>
<strong>New features in Version 6.0.2</strong>
</p>
<ul>
<li>Search indexes are now incrementally updated after publishing of resources if rebuild mode is
"auto"</li>
<li>Search in link gallery window now includes link content data</li>
<li>New XML content "DisplayWidget" to display certain content read-only.</li>
<li>New XML content "MultiSelectWidget" allows generating multiple choice select boxes.</li>
<li>Custom widgets that have not been registered in opencms-vfs.xml can now be specified in XML
content schemas</li>
<li>Added options to access XML content based on a given locale to
&lt;cms:contentload/show/info&gt; tags</li>
<li>Added "preload" option to &lt;cms:contentload&gt; tag for better control of displayed XML
content</li>
<li>XML content mappings can map multiple occurrences of a value to a property list value</li>
<li>For XML content values mapped to a property, the property is deleted if no value is available
in the XML content</li>
<li>Added methods to copy and move the content of a locale in XML pages or XML contents</li>
<li>Added resource collector to collect all files that have been "mapped" to another file</li>
<li>Added option to create default directories and export points in Module manager tool</li>
<li>Added advanced rule based configuration options to static export</li>
<li>Property values can now be read and written as a list</li>
<li>Added "site" parameter to Flex cache language for creating elements for a specific site
only</li>
<li>Added serial version UIDs to all serializable classes</li>
<li>Replaced use of "sendCmsRedirect" in Workplace with "sendForward" to reduce issues in IBM
Websphere AS</li>
<li>Added support for maxDB/sapDB contributed by Clovis Wichoski and Fabiano Rech</li>
<li>Added patch for use of CmsJspStatusBean with mod_jk contributed by Thorsten Ludewig</li>
</ul>
<p>For a complete list of features of OpenCms 6 compared to older versions, have a look at the 
<a href="%(link0)">OpenCms 6.0.0 release notes</a>.</p>
<p>
<strong>Backward compatibility</strong>
</p>
<p>OpenCms 6.0.2 should be highly backward compatible with version 6.0.0. Certain bug fixes
required minor API changes so some adjustments may have to be made for code that uses more advanced
API functions such as custom resource types. All Templates should be backward compatible without
changes.</p>
<p>To upgrade an existing OpenCms 6.0.0 version to the current 6.0.2 release, a new upgrade wizard
is available for this distribution. This upgrade wizard guides you through the update process and
makes upgrading OpenCms really easy. Please note: Even though the upgrade wizard has been well
tested, always make a backup of your current installation before upgrading as a precaution to avoid
loss of customized data.</p>
<p>In case you are using one of the previous development versions (OpenCms 6 alpha, beta or release
candidates), there have been a lot of issues fixed so you should definitely update. If you still
use OpenCms 5.0.x, you should also update since the 6.0.2 version is much more advanced and
stable.</p>
<p>
<strong>Compatibility with Java versions, Servlet containers and databases</strong>
</p>
<p>OpenCms 6.0.2 requires Java 1.4.x or Java 1.5.x. It won't work with Java 1.3.x. We have tested
only with SUNs version of the JDK. However, we have removed the dependencies from all sun.*
packages that were present in OpenCms 5.0.x so it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine and to some extend on JBoss 4.0.
OpenCms 6.0.2 works "out of the box" with Tomcat 4.1.x, Tomcat 5.0.x and Tomcat 5.5.x. Others have
reported deploying 6.0.x versions successfully on other servlet containers like BEA Weblogic and
SunONE.</p>
<p>On the database side, we have tested with MySQL 4.0.x, MySQL 4.1.x and Oracle 9.x. PostgresSQL
support has been contributed thanks to Antonio Core. maxDB support has been contributed thanks to
Clovis Wichoski and Fabiano Rech. MS SQL server support is not included in this release, but has
been contributed by Andras Balogh and will be available in a future release. We still are looking
for volunteers to support testing the stability of the PostgetSQL, maxDB and MS SQL server
releases.</p>
<p>In case you run OpenCms 6.0.2 on components different from our default components (SUN JDK
1.4.x. / Tomcat 4.1.x, 5.0.x or 5.5.x / MySQL 4.0.x or 4.1.x / Oracle 9.x), please let us know by
posting a message to the OpenCms mailing list. We intend to collect a list of "supported
platforms". Also, if you had to patch some lines of code to make OpenCms 6.0.2 run on your
platforms, please contribute these so they can be included in the official release.</p>
<p>
<strong>Regarding version numbers and CVS build tags</strong>
</p>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS
tag for the 6.0.2 release is "build_6_0_2". Development of further bug fix releases is done in CVS
HEAD.</p>
<p>The next major feature update of OpenCms will be version 6.2.0. You can check out the current
development version by selecting the "dev_6_0_1" branch of the CVS. The development version
provides new features which will be added to future stable OpenCms versions, but is considered to
be not as stable as the CVS HEAD. The development version uses the version numbers 6.1.x and is
likewise tagged in the CVS.</p>
<p>
<strong>How you can help</strong>
</p>
<p>Contributions to the OpenCms core development are most welcome. Please contact 
<a href="%(link1)">contributions@opencms.org</a> in case you are interested
in supporting the development of OpenCms 6, or give your feedback on the 
<a href="%(link2)">opencms-dev</a> mailing list.</p>
<p>Please use our Bugzilla to report bugs in this release: 
<a target="_blank" href="%(link3)">http://bugzilla.opencms.org/
<br /></a></p>&nbsp;]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1129215120000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
