<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon OCEE verfügbar]]></Title>
    <Date>1143802800000</Date>
    <Preface><![CDATA[Die kommerzielle Erweiterung von OpenCms 6, Alkacon OCEE, ist jetzt verfügbar.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/de/ocee/uebersicht/index.html]]></target>
            <uuid>14b24f0a-d07d-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Bei den Alkacon OpenCms Enterprise Extensions (auch OCEE genannt) handelt es sich um eine kommerzielle Erweiterung von OpenCms 6. Alkacon OCEE f&uuml;gt Funktionen zu OpenCms hinzu, die f&uuml;r den Betrieb von OpenCms in mittelst&auml;ndigen oder gro&szlig;en Unternehmen ben&ouml;tigt werden und f&uuml;r die Datenkonsistenz, Sicherheit und Ausfallsicherung von gro&szlig;er Bedeutung sind.</p> <p>Die Alkacon OpenCms Enterprise Extensions sind als lizenziertes Softwareprodukt der Alkacon Software GmbH erh&auml;ltlich. Alkacon ist f&uuml;r die Entwicklung des Open Source Kerns von OpenCms federf&uuml;hrend verantwortlich.</p> <p><a target="_self" href="%(link0)">Vollst&auml;ndige Informationen zu Alkacon OCEE erhalten Sie hier.</a></p> <p>Die Alkacon OpenCms Enterprise Extensions sind in zwei getrennten Paketen erh&auml;ltlich:</p> <p><strong>Alkacon OCEE Server Enhancement Paket<br /></strong>Folgende Module sind in diesem Paket enthalten:</p> <ul><li><em>Alkacon OCEE LDAP Connector</em><br />Der Alkacon OCEE LDAP Connector erm&ouml;glicht die vollst&auml;ndige Integration von vorhandenen LDAP-Benutzerverzeichnissen in das Berechtigungssystem von OpenCms.</li><li><em>Alkacon OCEE Transaction Manager</em><br />Der Alkacon OCEE Transaction Manager erweitert OpenCms um Unterst&uuml;tzung f&uuml;r Datenbanktransaktionen.</li><li><em>Alkacon OCEE Accelerator<br /></em>Die Alkacon OpenCms Enterprise Extensions bieten zur Beschleunigung des Datenzugriffs und der Datenbereitstellung zus&auml;tzliche leistungsstarke Caches.</li><li><em>Alkacon OCEE VFS Doctor</em><br />Der Alkacon OCEE VFS Doktor ist ein Analyse- und Wartungsprogramm f&uuml;r die OpenCms Datenbank und funktioniert &auml;hnlich wie die Funktion &bdquo;Festplatte pr&uuml;fen&ldquo; bei einem Standard-PC.</li></ul> <p><strong>Alkacon OCEE Cluster Paket</strong><br />Dieses Programmpaket enth&auml;lt s&auml;mtliche OCEE-Module des Alkacon OCEE Server Enhancement Paketes (siehe oben). Au&szlig;erdem enth&auml;lt dieses Paket Module, die f&uuml;r den Betrieb von OpenCms auf einem Cluster aus mehreren Servern erforderlich sind:</p> <ul><li>S&auml;mtliche Module des Server Enhancement Paketes sind enthalten<br /><em>Alkacon OCEE LDAP Connector<br />Alkacon OCEE Transaction Manager<br />Alkacon OCEE Accelerator <br />Alkacon OCEE VFS Doctor</em></li><li><em>OpenCms Cluster Manager</em><br />Mit den Alkacon OpenCms Enterprise Extensions ist ein Clustering von OpenCms-Servern zusammen mit Hardware Load-Balancern (z. B. Local Director von CISCO) m&ouml;glich.</li><li><em>Alkacon OCEE Replicator</em><br />Mit dem Alkacon OCEE Replicator Modul kann das OpenCms Dateisystem (Repository) ganz oder teilweise auf eine entfernte Datenbankinstanz repliziert werden.</li></ul> <p><strong>Alkacon OCEE Verf&uuml;gbarkeit und Kompatibilit&auml;t</strong></p> <p>Die Alkacon OpenCms Enterprise Extensions sind verf&uuml;gbar und k&ouml;nnen direkt von der Alkacon Software GmbH erworben werden.</p> <p>Die Alkacon OpenCms Enterprise Extensions sind mit s&auml;mtlichen stabilen Release-Versionen von OpenCms ab Version 6.0.2 kompatibel.</p> <p>Vor der Installation der Alkacon OCEE-Module m&uuml;ssen Anwender der Version 6.0.0 oder 6.0.1 von OpenCms ihr System mit einer aktuelleren stabilen Version von OpenCms 6 updaten.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1143802800000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon OCEE available]]></Title>
    <Date>1143802800000</Date>
    <Preface><![CDATA[The Alkacon OpenCms Enterprise Extensions (also called OCEE), a commercial extension for OpenCms 6, are available. Alkacon OCEE adds features to OpenCms that are required for running OpenCms in a medium or large Enterprise.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/en/ocee/overview/index.html]]></target>
            <uuid>22d9c628-d071-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>The Alkacon OpenCms Enterprise Extensions (also called OCEE) are a commercial extension for OpenCms 6. Alkacon OCEE adds features to OpenCms that are required for running OpenCms in a medium or large Enterprise, where data consistency, security and failover are highly important.</p> <p>The Alkacon OpenCms Enterprise Extensions are available as a licensed software product from Alkacon Software GmbH, the company responsible for most of the development of the open source core OpenCms system.</p> <p><a href="%(link0)" target="_self">Full information about Alkacon OCEE is available here.</a></p> <p>The Alkacon OpenCms Enterprise Extensions are sold in two separate packages:</p> <p><strong>Alkacon OCEE Server Enhancement Package<br /></strong>The following modules are included in the package:</p> <ul><li><em>Alkacon OCEE LDAP Connector</em><br />With the Alkacon OCEE LDAP connector, full integration of existing LDAP user directories with the OpenCms permission system is available.</li><li><em>Alkacon OCEE Transaction Manager</em><br />The Alkacon OCEE Database Transaction Manager adds transaction support to the database operations performed by OpenCms.</li><li><em>Alkacon OCEE Accelerator</em><br />The Alkacon OpenCms Enterprise Extensions feature additional high performance caches to accelerate the data access and delivery.</li><li><em>Alkacon OCEE VFS Doctor</em><br />The Alkacon OCEE VFS Doctor Database maintenance tool operates much like the known &ldquo;Check disk&rdquo; functionality from a standard PC.</li></ul> <p><strong>Alkacon OCEE Cluster Package</strong><br />This package contains all OCEE modules from the server enhancement package (see above). Additionally this package contains modules required to run OpenCms on a cluster of servers.</p> <ul><li>All modules from the Server Enhancement Package are included<br /><em>Alkacon OCEE LDAP Connector<br />Alkacon OCEE Transaction Manager<br />Alkacon OCEE Accelerator<br />Alkacon OCEE VFS Doctor</em></li><li><em>Alkacon OCEE Cluster Manager</em><br />The Alkacon OpenCms Enterprise Extensions allow for clustering of OpenCms Servers in combination with Hardware Load balancers (e.g. CISCO local director).</li><li><em>Alkacon OCEE Replicator</em><br />Using the database replication feature of the Alkacon OpenCms Enterprise Extensions, it is possible to replicate the complete (or part of the) OpenCms repository data to remote database instances.</li></ul> <p><strong>Alkacon OCEE Availability and Compatibility</strong></p> <p>The Alkacon OpenCms Enterprise Extensions are available from Alkacon Software GmbH for immediate purchase.</p> <p>The Alkacon OpenCms Enterprise Extensions are compatible with all stable release versions of OpenCms starting with version 6.0.2.</p> <p>Users of OpenCms version 6.0.0 or 6.0.1 must upgrade to a later stable release of OpenCms 6 before installing the Alkacon OCEE components.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-ocee-logo.svg]]></target>
            <uuid>cb8c5225-a7fd-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OCEE Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1143802800000</Release>
    </Availability>
  </Article>
</ArticleData>
