<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Book on Knowledge Management features OpenCms]]></Title>
    <Date>1158293220000</Date>
    <Preface><![CDATA[The book outlines the usage of OpenCms as a basis for a comprehensive and integrated Knowledge Management system. It is written in German.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.springer.com/sgw/cda/frontpage/0,11855,1-102-22-150956033-0,00.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>German publisher 
<a target="_blank"
href="%(link0)">Springer</a>
has recently published the book 
<strong>
<em>Open Source Knowledge Management</em>
</strong> by Georg Hüttenegger that outlines the usage of OpenCms and other open source systems as
a basis for a comprehensive and integrated Knowledge Management (KM) system.</p>
<p>
<strong>
<em>Open Source Knowledge Management</em>
</strong> &nbsp;is targeted toward decision makers, developers and everybody who wants to get an
overview of the possible usage of open source systems for KM.</p>
<p>OpenCms is introduced as one of the possible open source solutions that can be the base of a
custom KM system implementation.</p>
<p>The text starts with a few definitions followed by relevant organizational and technological
issues of KM. The core of the book discusses OpenCms and other open source systems in the areas of
Groupware, Content Management, and Document Management as well as Workflows, Topic Maps, eLearning,
and the Semantic Web.</p>
<p>Based on the individual organizational goals, decision criteria for a step by step introduction
of a new KM system are established. This emphasizes the real focus of any KM initiative and enables
the organization to profit from early parts of the overall system. Two aspects present throughout
the text are cost savings and efficiency, 
<em>the</em> drivers of open source and KM.</p>
<p>The book provides a very good overview about the possible usage of OpenCms for KM. The reader
will gain a solid foundation and is able to immediately start with his KM initiative.</p>
<p>
<em>Please note: This book is currently available in German language only.</em>
</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/km.jpg]]></target>
            <uuid>d67fbd27-2881-11dc-a2b5-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[Open Source Knowledge Management]]></Title>
      </Image>
      <Link>
        <Text><![CDATA[Information by Springer, includes example chapter (in German)]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.springer.com/sgw/cda/frontpage/0,11855,1-102-22-150956033-0,00.html]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1158293220000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
