<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon Software wird eine GmbH]]></Title>
    <Date>1119718260000</Date>
    <Preface><![CDATA[Die erfolgreiche Geschäftstätigkeit der Alkacon Software, Alexander Kandzior GbR wird ab sofort durch die Alkacon Software GmbH fortgesetzt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die erfolgreiche Gesch&auml;ftst&auml;tigkeit der Alkacon Software, Alexander Kandzior GbR wird ab sofort durch die Alkacon Software GmbH fortgesetzt. Alexander Kandzior, bisher Alleineigent&uuml;mer der Alkacon Software, ist Gesch&auml;ftsf&uuml;hrer und Mehrheitsgesellschafter der neu gegr&uuml;ndeten Alkacon Software GmbH. Diese ist seit M&auml;rz 2005 im Handelsregister K&ouml;ln eingetragen.</p> <p><em>&quot;Durch die Gr&uuml;ndung einer GmbH schaffen wir die Voraussetzungen f&uuml;r Investitionen und weiteres erfolgreiches Wachstum&quot;,</em> so Alexander Kandzior. <em>&quot;Im Zentrum unserer Gesch&auml;ftst&auml;tigkeit steht nach wie vor die Entwicklung der Open Source Software OpenCms. In der Zukunft werden wir unsere Dienstleistungen um OpenCms weiter ausbauen. Au&szlig;erdem werden wir demn&auml;chst Zusatzprodukte zu OpenCms anbieten, welche sich vor allem an mittlere und gro&szlig;e Unternehmen richten.&quot;</em></p> <p>Die Alkacon Software GmbH ist die treibende Kraft in der Entwicklung des Open Source Content Management Systems OpenCms. OpenCms ist seit dem Jahr 2000 verf&uuml;gbar und heute eine weit verbreitete, f&uuml;hrende Open Source CMS L&ouml;sung. Viele Unternehmen und Organisationen weltweit nutzen OpenCms bereits als kosteng&uuml;nstige, professionelle Alternative zu teuren Lizenzprodukten. Die Alkacon Software GmbH bietet Ihren Kunden Schulungen, Support und Zusatzprodukte rund um OpenCms an.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1119718260000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Alkacon Software becomes Alkacon Software GmbH]]></Title>
    <Date>1119718260000</Date>
    <Preface><![CDATA[The successful business of Alkacon Software is continued by Alkacon Software GmbH, a limited liability company under German law.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>The successful business of Alkacon Software, Alexander Kandzior GbR is continued by Alkacon
Software GmbH, a limited liability company under German law. Alexander Kandzior is executive
director and majority owner of the newly founded company.</p>
<p>
<em>"By founding Alkacon Software GmbH we create then environment for investments and further
successful growth",</em> says Alexander Kandzior. 
<em>"Our focus will be the continued development of the open source software OpenCms. We will
expand our customer oriented services for OpenCms in the future. Moreover, we will offer additional
products for OpenCms, targeted towards the needs of medium and large businesses."</em></p>
<p>Alkacon Software GmbH is the company responsible for the main development of the open source
software solution OpenCms. OpenCms is available since the year 2000. Today OpenCms is a leading
open source CMS solution in widespread use all over the world. Many businesses and organizations
use OpenCms as a cost effective, professional alternative to expensive license products. Alkacon
Software GmbH offers its customers training, support and add-on products for OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1119718260000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
