<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms Slides from OSCOM 2 conference]]></Title>
    <Date>1033466760000</Date>
    <Preface/>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.oscom.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alexander Kandzior, main OpenCms developer and Director of&nbsp;Alkacon Software,&nbsp;has
presented OpenCms 5.0 on the OSCOM 2 conference. The presentation&nbsp;slides are now available for
download.</p>
<p>
<a target="_blank" href="%(link0)">OSCOM</a> is an international not-for-profit
organization dedicated to Open Source Content Management, based in Zurich, Switzerland. The primary
goal of OSCOM is to build a network between the community of open source content management
developers. The primary activities for OSCOM focus on organizing conferences and representing open
source content management in the media. OSCOM is run by developers, for developers, and has a board
consisting of open source leaders.</p>
<p>OSCOM 2 took&nbsp;place at the Lawrence Hall of Science, University of California, Berkeley,
from Wednesday, 25 September to Friday, 27 September 2002.</p>
<p>The slide presentation available for download is called "An introduction to OpenCms, version
5.0". It contains&nbsp;a general overview about the systems features and some details about the
upcoming 5.0 release of OpenCms.</p>]]></content>
      </Text>
      <Link>
        <Text><![CDATA[OpenCms slides from OSCOM 2 (558 kb)]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://files.opencms.org/downloads/alkacon/Slides_OpenCms_Kandzior_Oscom2.pdf]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1033466760000</Release>
    </Availability>
  </Article>
</ArticleData>
