<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.2.2 verfügbar]]></Title>
    <Date>1153497720000</Date>
    <Preface><![CDATA[Version 6.2.2 of OpenCms is now available for download. OpenCms 6.2.2 is a maintenance release which fixes several issues reported in OpenCms 6.2.1.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1002.html]]></target>
            <uuid>37960435-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 6.2.2 of OpenCms is now available for  <a href="%(link0)">download on opencms.org</a>. OpenCms 6.2.2 is a maintenance release which fixes several issues reported in OpenCms 6.2.1. Please check the  <a href="%(link1)">release notes</a> for further details.</p> <p>The team at <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed bug reports and feedback&nbsp;for this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1153497720000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.2.2 available]]></Title>
    <Date>1153497720000</Date>
    <Preface><![CDATA[Version 6.2.2 of OpenCms is now available for download. OpenCms 6.2.2 is a maintenance release which fixes several issues reported in OpenCms 6.2.1.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1002.html]]></target>
            <uuid>37960435-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Version 6.2.2 of OpenCms is now available for  <a href="%(link0)">download on opencms.org</a>. OpenCms 6.2.2 is a maintenance release which fixes several issues reported in OpenCms 6.2.1. Please check the  <a href="%(link1)">release notes</a> for further details.</p> <p>The team at <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed bug reports and feedback&nbsp;for this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1153497720000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
