<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Neue Dokumentation verfügbar: OpenCms 6 Datenbank- und Klassendiagramme]]></Title>
    <Date>1152806400000</Date>
    <Preface><![CDATA[Zur Erweiterung der Dokumentation von OpenCms 6 hat Alkacon Software Datenbank- und Klassendiagramme von OpenCms 6 veröffentlicht.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/documentation.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Zur Erweiterung der Dokumentation von OpenCms 6 hat Alkacon Software Datenbank- und Klassendiagramme von OpenCms 6 ver&ouml;ffentlicht. Sie bieten einen &Uuml;berblick &uuml;ber die OpenCms 6 Kernfunktionen f&uuml;r JSP Template Entwickler.</p> <p>Ohne zu sehr ins Detail zu gehen, k&ouml;nnen sie zum Einstieg und als Referenz f&uuml;r Programmierer, die Website JSP Templates mit OpenCms entwickeln wollen, verwendet werden.</p> <p>Die Diagramme sind auf der <a target="_blank" href="%(link0)">OpenCms Downloadseite </a>verf&uuml;gbar.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1152806400000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6 documentation database and class diagrams available]]></Title>
    <Date>1152806400000</Date>
    <Preface><![CDATA[To enhance the documentation of OpenCms 6, <A href="http://www.alkacon.com/" target="_blank">Alkacon Software</A> has released database and class diagrams for OpenCms 6. They provide an overview over the OpenCms 6 core functions&nbsp;intended for JSP template developers.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/documentation.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>To enhance the documentation of OpenCms 6, <a href="%(link0)">Alkacon Software</a> has released database and class diagrams for OpenCms 6. They provide an overview over the OpenCms 6 core functions&nbsp;intended for JSP template developers.</p> <p>Without showing every detail of the core packages and the database relations, they can be used as entry point and reference for developers who want to create website JSP templates with OpenCms.</p> <p>Please go to the  <a href="%(link1)">OpenCms documentation download</a> page to get the new diagrams.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1152806400000</Release>
    </Availability>
  </Article>
</ArticleData>
