<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Alkacon erweitert Team durch bekannten OpenCms Experten]]></Title>
    <Date>1057053600000</Date>
    <Preface><![CDATA[Alkacon Software wächst weiter, angetrieben von dem großen Erfolg der Anfang Mai 2003 veröffentlichten Version 5.0 von OpenCms. ]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/revision-control.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software wächst weiter, angetrieben von dem großen Erfolg der Anfang Mai 2003 veröffentlichten Version 5.0 von OpenCms. Mehr als 15.000 mal wurde OpenCms seither von der OpenCms Website <a href="%(link0)" target="opencms">http://www.opencms.org</a> herunter geladen.</p>
<p>Vom ersten Juli an wird nun Michael Emmerich, einer der ersten Mitarbeiter an dem OpenCms Projekt, Teil des Teams von Alkacon Software. In seiner letzten Position war Michael "Teamleiter OpenCms Professional Services" bei der Framfab Deutschland AG. Dort arbeitete er in den letzten 3 Jahren auch als Projektmanager und leitender Entwickler an vielen OpenCms Projekten. "Seit Alkacon Software die Leitung des OpenCms Projektes übernommen hat, wurden große Fortschritte in der Benutzerfreundlichkeit und Qualität gemacht", so Michael, "und mein Ziel ist es, diese mit der nächsten Version noch zu erweitern".</p>
<p>Die nächste Version von OpenCms nimmt unterdessen langsam Gestalt an. Die Entwicklung verläuft ganz nach den Grundsätzen von Open Source und ist daher öffentlich in dem <a href="%(link1)" target="opencms">opencms.org CVS Repository </a>einsehbar. Zu diesem Zeitpunkt steht noch nicht fest, welche Funktionen die nächste Version von OpenCms endgültig haben wird, und wann Sie veröffentlicht wird. Ein Update für die aktuelle Version 5.0.0, welches einige identifizierte Probleme behebt, ist für die nächsten Wochen geplant.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-logo.svg]]></target>
            <uuid>7368e438-cff2-11e9-915d-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon Software Logo]]></Title>
        <Copyright><![CDATA[Alkacon Software GmbH & Co. KG]]></Copyright>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1057053600000</Release>
    </Availability>
  </Article>
</ArticleData>
