<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Zeitplan und Roadmap für OpenCms 7]]></Title>
    <Date>1164873600000</Date>
    <Preface><![CDATA[Die Details von Zeitplan und Roadmap für OpenCms 7.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1089.html]]></target>
            <uuid>b44afe04-49a4-11dc-a3e3-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Die Details von Zeitplan und Roadmap für OpenCms 7 sind zurzeit leider nur in Englisch verfügbar.</p>
<p><a target="_self" href="%(link0)">Bitte klicken Sie hier für die englische Meldung.</a></p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1164873600000</Release>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Release plan and roadmap for OpenCms 7]]></Title>
    <Date>1164873600000</Date>
    <Preface><![CDATA[OpenCms 7 is currently under heavy development. The release plan and roadmap provide details about this upcoming major release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 7 is currently under heavy development. All development is done using the public OpenCms CVS in the "DEV_7_0" branch. The development is done by  <a href="%(link0)">Alkacon Software</a> with contributions from the OpenCms community.</p>
<p><strong>Preliminary list of features for OpenCms 7:</strong></p>
<ul>
    <li>The internal link management will be greatly improved.</li>
    <li>If files (or folders) are moved / renamed, all links to these files will be kept intact.</li>
    <li>Deleting a resource that is linked by other resources will display a warning / confirmation dialog.</li>
    <li>A permalink handler for resources will be available for external references in case a resource is moved or renamed.</li>
    <li>Link management support will be added in editors for standard HTML tags 'area', 'object' &amp; 'embed'.</li>
    <li>The new "Content Relationship Engine" (CRE) will allow defining arbitrary relations between OpenCms resources.</li>
    <li>Native support for WebDAV access to the OpenCms VFS will be added.</li>
    <li>The integrated Workflow will be greatly improved.</li>
    <li>The new Workflow will ship with standard Workflows (e.g. 6-eye-confirm) but will be easily extensible for more complex Workflows.</li>
    <li>It will be possible to attach external Workflow engines (e.g. JBPM) using a new Workflow API.</li>
    <li>Publishing of resources will be done using a queue, so a user can continue to work after publishing has started.</li>
    <li>The concept of "Organization Units" (OUs) will be added to the internal user management.</li>
    <li>It will be possible to delegate management of users / groups in OUs to Sub-Administrators.</li>
    <li>A "switch user" (su) function for Administrators in the OpenCms Workplace will be available.</li>
    <li>Many usability improvements for the OpenCms Workplace will be made, especially concerning the handling of other users locks.</li>
    <li>Many dialogs in the OpenCms Workplace will be more responsive because of the use of Ajax technologies.</li>
    <li>The full text search will be greatly improved so that individual resource properties or fields from an XML content can be searched directly.</li>
    <li>A "time warp" feature in the Workplace allows users to view resources with date expired / date released settings.</li>
    <li>Auto correction for structured XML contents will allow changes to the XML schema of existing resources.</li>
    <li>A search tool will be available for content managers in the Workplace.</li>
    <li>JSP 2.0 and Servlet 2.4 will be used by default.</li>
    <li>The core database structure will be optimized.</li>
    <li>Improved documentation will be provided.</li>
</ul>
<p>Please note that this preliminary feature list of OpenCms 7 is subject to change until we reach the "Release Candidate" stage (please see below). Keep in mind that most development on OpenCms 7 is sponsored by customers. That means some features may be dropped and other features may be added until the feature freeze.</p>
<p><strong>OpenCms 7 release plan:</strong></p>
<p>The Alpha and Beta releases of OpenCms 7 will be available in the public CVS only. These releases will not be feature complete, and the core API will be subject to further change. The Alpha releases will be tagged "build_7alpha_x". The Beta releases will be tagged "build_7beta_x". The first Alpha version should be available February 14, 2007. The Beta stage will be started March 21, 2007.</p>
<p>The first public release for download from  <a href="%(link1)">www.opencms.org</a> will be OpenCms 7 RC 1 (Release Candidate 1). This release will be available  <em>May 2, 2007</em>. This date will also mark the beginning of the "feature freeze" period, which means no new features will be added to the core after the OpenCms 7 RC 1 release. There will be no update wizard in this version. After the release of this version, we will concentrate on issues regarding backward compatibility with the version 6 releases.</p>
<p>The second public release for download will be OpenCms 7 RC 2, available  <em>June 6, 2007</em>. This version will contain bug fixes and the final and stable core API for version 7. It will also contain the first version of an update wizard for version 7. The goal is to be able to update all released stable OpenCms 6.0 and 6.2 versions to OpenCms 7 using this update wizard.</p>
<p>OpenCms 7.0 final will be released  <em>July 4, 2007</em>. Compared to the RC 2 version, we expect no changes except fixes for bugs or other issues that have been found in the RC 2 release. This version will also contain the final and tested version of the update wizard.</p>
<p>Please note that this feature list and release plan for OpenCms 7 comes without any warranty and it is subject to change without notice. Updates will be published on the OpenCms website and the  <a href="%(link2)">opencms-dev</a> mailing list.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1164873600000</Release>
    </Availability>
  </Article>
</ArticleData>
