<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Spanish localization for OpenCms 5.0 available]]></Title>
    <Date>1052757900000</Date>
    <Preface><![CDATA[The OpenCms Workplace is now available in Spanish.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/localizations.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>The OpenCms Workplace is now available in Spanish. The localization module 
<em>org.opencms.locale.es</em> can be downloaded from the 
<a href="%(link0)">Module Download</a> page. Install this
module if you want to use the OpenCms Workplace in Spanish.</p>
<p>Many thanks to Antonio Reyes for providing the translation.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1052757900000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
