<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[How to upgrade OpenCms 5.0.0 to 5.0.1]]></Title>
    <Date>1073638800000</Date>
    <Preface><![CDATA[Alkacon Software offers an <STRONG>Upgrade Distribution</STRONG> to upgrade a running OpenCms 5.0.0 system to 5.0.1 without having to re-install OpenCms.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/alkacon_modules.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software offers an 
<strong>Upgrade Distribution</strong> to upgrade a running OpenCms 5.0.0 system to 5.0.1 without
having to re-install OpenCms. You can download this distribution from the 
<a href="%(link0)">OpenCms download</a> page. Not described here is
how to upgrade from OpenCms versions prior&nbsp;5.0.0.</p>
<p>Upgrading should be easy if you just follow these simple steps:</p>
<p>
<strong>Pre-installation steps</strong>
</p>
<ol>
<li>As a security precaution, make a backup of your OpenCms database, plus a backup of your
existing OpenCms web application</li>
</ol>
<p>
<strong>Replacing the OpenCms Java archive</strong>
</p>
<ol>
<li>Save the existing Java archive opencms.jar from WEB-INF/lib/ into a temporary directory</li>
<li>Place the new Java archive opencms.jar&nbsp;in WEB-INF/lib/</li>
<li>Log off the workplace, and restart your OpenCms 5.0 server</li>
</ol>
<p>
<strong>Importing the workplace upgrade</strong>
</p>
<ol>
<li>Switch into the Offline project</li>
<li>Import the zip file wpdiff_5.0.1.zip with the
<br />'Database Management --&gt; Import' option in the 'Administration' view</li>
<li>Publish the offline project</li>
<li>Log off the workplace, and restart your OpenCms 5.0 server</li>
<li>Check if everything works</li>
</ol>
<p>
<strong>Post-installation steps</strong>
</p>
<ol>
<li>If you have installed the com.alkacon.documentation.documentation-flexcache module version 1.0,
replace it by the latest version 1.1 from the 
<a href="%(link1)">OpenCms modules download</a> page.</li>
</ol>
<p>This should be it.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1073638800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
