<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms in Education]]></Title>
    <Date>1103727600000</Date>
    <Preface><![CDATA[An article by Damian Carvill of <A href="http://www.packtpub.com/" target="_blank">Packt Publishing</A>, who observes an increasing popularity of OpenCms in education.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.packtpub.com/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>By Damian Carvill of 
<a target="_blank" href="%(link0)">Packt Publishing</a>:</p>
<p>
<em>As well as being adopted by businesses the world over, OpenCms is fast becoming the open source
content management system of choice in education also. Increasingly, tutors of Java courses are
teaching students about the system, while students themselves are beginning to use OpenCms in their
projects.</em>
</p>
<p>So why is OpenCms becoming so popular in education? We caught up with Stephen Hogan, a final
year Computer Science student at Trinity College Dublin, who is basing his final year project on an
OpenCms environment. Stephen is creating a distributed system via the web that will allow him to
schedule recordings of TV programs on a PC, but scheduled from an Internet server acting as a
service provider.</p>
<p>"The OpenCms aspect may include the development of a module for both the client PC 'listening'
to a service request, with the administrators having the ability of customising the site for their
own use e.g. not everyone would have the same channels set on the same channel number, etc." he
says.</p>
<p>OpenCms wasn't part of Stephen's course and before his final year project, he'd never even heard
of it! So what attracted him to OpenCms in the first place? "OpenCms was the first open source
product I found from Google! The fact that it integrates so well with tried and tested Apache,
MySQL, and Tomcat means that there is a plethora of support available out there. I have stuck with
it; I am Java-competent (more than XML), and I hope to be able to create modules in JSP for OpenCms
that cater for my required customisations. The fact that a book was written meant that there is a
definite user base out there, but I feel that it should be advertised to the IT community much in
the same way as Apache and MySQL - it still remains a little hidden!"</p>
<p>Stephen goes on to explain in more detail about the OpenCms features that persuaded him to work
with the tool:</p>
<p>"Offerings include the availability of offline development without affecting what is online,
clear web interface and total control without being too restrictive etc. I had dealt with little
bulletin boards and a CMS supplied to a company I worked in a few years ago that allowed you to
create simple web pages, but had no scripting or database functionality; even receiving e-mails
from the webpage was a chore! It was a bit like a stripped down version of Frontpage for web page
use. This was not what I wanted; wanted to be able to allow users to customise their own web pages
with as little intervention from me as possible - so that I would not even have to think about it!
I have even seen some CMS systems whereby you have to contact the administrator to insert a
picture!"</p>
<p>"The best way of setting up the development environment is to follow the opening chapters of the
book, 'Building Websites with OpenCms' - installing Tomcat, MySQL and their configurations. As I am
going to be using these technologies starting off, I intend to interface the JSP driven from the
server and link it to Java/XML web services, possibly using JAX-RPC. The administration in setting
up this environment is quick with these instructions; attention is then rapidly drawn to developing
rather than administering."
<br />&nbsp;
<br />"OpenCms takes the hassle out of having to have multiple tools to handle multiple
technologies and has simplified the way in which I am going to attempt the design of the project's
infrastructure, but leaves enough room to become flexible for other technologies, particularly
those that are remotely-based."
<br />&nbsp;
<br />"From a teaching aspect, OpenCms integrates everything from simple HTML to Java packages, JSP
and XML. The student can start developing a website immediately; being introduced to these
varieties of software in one-package and if they want to, learn more about a particular or related
aspect. Its deployment is simple and could easily be implemented throughout a computer lab and
installed at home for more practice."</p>
<p>Obviously, the fact that it is free to download and its open source aspect are just some of the
factors in OpenCms's adoption in education. As Stephen enthuses, OpenCms offers plenty of other
benefits to make it a popular choice for students. Stephen hopes to finish his project in April and
then move onto a Masters Degree in Artificial Intelligence, seems he's not finished with Academia
just yet…</p>]]></content>
      </Text>
      <Link>
        <Text><![CDATA[Packt Publishing]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://www.packtpub.com/]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1103727600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
