<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[First release candidate of OpenCms version 5.0 available]]></Title>
    <Date>1040338800000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the first "release candidate" for OpenCms version 5.0.&nbsp;The 5.0 version&nbsp;is now feature complete and the final release will be available after a testing period of about 6 - 8 weeks.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the first &quot;release candidate&quot; for OpenCms version 5.0, one of the leading open source content management solutions. All core features planned for the 5.0 release&nbsp;have now been implemented. The most important addition since the last release (5.0 beta 2) is the ability to do static export of JSP pages. Also the OpenCms&nbsp;module management has been improved by adding reports to the module operations and fixing a lot of smaller issues.&nbsp;As always,&nbsp;a long list of minor enhancements and fixes completes this release.</p>
<p>OpenCms 5.0 rc&nbsp;1 is Open Source software published under the LGPL license. The software is freely available from the  <a href="%(link0)">OpenCms website</a>. The OpenCms 5.0 rc&nbsp;1 includes all features from the last &quot;major&quot; release 4.6.1, the FLEX alpha 1, the 4.7.7 version and of course the 5.0 beta 1 and 5.0 beta 2. It's at last as stable as all of these earlier versions.&nbsp;Users of&nbsp;these old versions are&nbsp;encouraged to try this version and provide feedback on the opencms-dev mailing list.</p>
<p>OpenCms 5.0 rc&nbsp;1 supports Java 1.4. and 1.4.1. Because of required features related to file encoding and JDBC, Java 1.3 is not longer supported.</p>
<p>The almost complete list of changes&nbsp;and improvements&nbsp;in OpenCms 5.0 rc 1:</p>
<ul>
    <li>Static export for JSP pages and JSP based templates added</li>
    <li>The Setup wizard now checks if the OpenCms WAR was unpacked and complains if this is not the case</li>
    <li>WYSIWYG editor now tries to preserve the HTML source code formatting</li>
    <li>The &quot;empty&quot; template and &quot;empty&quot; page body are now part of a module &quot;org.opencms.default&quot; which is imported during setup</li>
    <li>The welcome and release note pages are now part of a module &quot;org.opencms.welcome&quot; which is imported during setup</li>
    <li>Temporary editor files (like ~index.html) are now re-used after an unclean editor shutdown and deleted if a project is published</li>
    <li>Added Ant 1.5 support for build.xml</li>
    <li>Added report output for module management (import / export / delete)</li>
    <li>Report output is now localized</li>
    <li>Help system will now look up if a directory for the current locale exists and display the &quot;online help&quot; button only in this case</li>
    <li>Preference panel for start-up options will not display language selection if only one locale directory exists</li>
    <li>New &quot;relativeroot&quot; property tells the link substitution in the editor to generate relative URLs instead of absolute URLs</li>
    <li>Description of a Module (and Module Parameters) is now saved in a CDATA section and not longer scrambled after server restart</li>
    <li>It's now possible to use &quot;special&quot; HTML chars (like &lt; &gt; &quot; &amp;) in resource property values</li>
    <li>&quot;Undo changes&quot; now also resets the file-last-modified date</li>
    <li>JSP based templates now work when linked to in the VFS</li>
    <li>Improved spelling for english language locale</li>
    <li>Fixed a bug in the export that prevented exporting of page bodies</li>
    <li>The gallery contents are exported even if &quot;exclude system folder&quot; is checked in export dialog</li>
    <li>Added entry for a modules &quot;publish class&quot; on the workplace dialog when creating a new module</li>
    <li>Fixed template selection issue when creating a new page</li>
    <li>Fixed issue with response.setContentType() in JSP pages</li>
    <li>Attribute &quot;part&quot; in the and tags has been renamed to &quot;element&quot;</li>
    <li>WYSIWYG editor now uses the &quot;script save&quot; variation of the control, so it should not longer be necessary to change IE security settings for this editor (note: it is still required for the LEdit text editor)</li>
    <li>Changed behaviour for deleted files that reside in a folder that is locked: Now the file is also shifted to the current project where the lock is applied, old behaviour was to stay in the project where it was deleted in</li>
    <li>Improved report output for actions like &quot;publish&quot;, &quot;export&quot; etc. with nicer html, also improved the report templates and some of the workplace classes dealing with the reports</li>
    <li>Added all default directories (like &quot;/system/&quot;) to the exclude-list in the module import</li>
    <li>Modules are now exported to and read from /WEB-INF/export/modules/ (was /WEB-INF/export/ before)</li>
    <li>Some cleanup of code comments</li>
    <li>Removed unnecessary imports and non-static access to static resources in all classes</li>
</ul>
<p>The team at Alkacon continues working towards the final release of the 5.0 version. The final release of 5.0 will be made available in 6 - 8 weeks after all of the new functionality has been tested&nbsp;in different environments.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1040338800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
