<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Alkacon Software welcomes 2 new team members]]></Title>
    <Date>1043840340000</Date>
    <Preface/>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software welcomes its newest team members, Carsten Weinholz and Andreas Zahner. Both are
skilled experts in the field of Java development and system design. They also have long years of
experience in OpenCms based solutions and the design and implementation of the OpenCms core
itself.</p>
<p>Carsten Weinholz has been Vice President and Director Competence Center Technology of Framfab
Deutschland AG in his previous engagement. In that position, he was responsible for the overall
OpenCms development and system design there. Carsten will continue his work on OpenCms at Alkacon
Software, helping to shape the future of OpenCms after the upcoming 5.0 release. "I am enthusiastic
about the opportunities available in the Java open source market and for OpenCms in particular"
says Carsten, "and I am certain that the market for our services will vastly expand in 2003".</p>
<p>Andreas Zahner already is a renowned member of the OpenCms development team. Having left Framfab
Deutschland AG recently, he will continue his work on OpenCms at Alkacon Software. Asked about the
tasks at hand for the next phase of the OpenCms core development, Andreas replies "I am looking
forward to integrating OpenCms even better with existing standard Java technology. It is imperative
that we make OpenCms as attractive as possible to both end-uses and developers alike."</p>
<p>The enlarged team at Alkacon continues working towards the final release of the OpenCms 5.0
version, which is already available in release candidate status since last December.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1043840340000</Release>
    </Availability>
  </Article>
</ArticleData>
