<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[New 5.0 beta of OpenCms with JSP support released]]></Title>
    <Date>1030831200000</Date>
    <Preface><![CDATA[Alkacon Software and the OpenCms Group release the new 5.0 beta of OpenCms with JSP support and other enhancements.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Alkacon Software together with the OpenCms Group has released the new 5.0 beta of OpenCms, one
of the leading open source content management solutions. This beta version provides a first view on
the next generation of OpenCms. It also is the official merge of the OpenCms/Flex JSP development
branch from Alkacon Software into the main OpenCms version.</p>
<p>OpenCms 5.0 beta is Open Source software published under the LGPL license. The software is
freely available from the OpenCms website. The OpenCms 5.0 beta 1 includes all features from the
last "major" release 4.6.1, the FLEX alpha 1 and the 4.7.7 version. It's at last as stable as all
of this earlier versions. Alkacon Software encourages everyone interested in OpenCms to try this
version.</p>
<p>The Features of the OpenCms 5.0 beta 1 release are:</p>
<ul>
<li>Full support for JSP in OpenCms</li>
<li>Includes Java standard JSP Taglibs (JSTL 1.0)</li>
<li>Advanced support for Templates based on JSP/JSTL</li>
<li>Support for Java 1.4</li>
<li>Link management for internal and external links</li>
<li>Improved features in the WYSIWYG editor</li>
<li>Improved history / versioning function</li>
<li>Better support for international charsets in XML templates</li>
<li>Enhancements in database support</li>
<li>Several other additions and enhancements</li>
</ul>
<p>With the new release, Alkacon Software continues it's efforts in adding and enhancing support
for the standard JSP and JSP Taglib technology in OpenCms. The team at Alkacon is now working
towards the final release of the 5.0 version.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/imported/img/newsimages/logo_oc_v5b_white.gif]]></target>
            <uuid>4f817e0f-265e-11dc-b050-b7a33137a728</uuid>
          </link>
        </Image>
        <Title><![CDATA[OpenCms 5.0]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1030831200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
