<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 7 Beta 1 verfügbar]]></Title>
    <Date>1174494000000</Date>
    <Preface><![CDATA[Die Entwicklung von OpenCms 7 hat mit der Verfügbarkeit der ersten Beta Version einen weiteren Meilenstein erreicht.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/cvs/viewcvs.cgi/*checkout*/opencms/history.txt]]></target>
            <query><![CDATA[rev=1.717.2.149&only_with_tag=build_7beta_1]]></query>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1141.html]]></target>
            <uuid>390f8514-39e3-11dc-bdab-b7a33137a728</uuid>
            <query><![CDATA[__locale=en]]></query>
          </link>
        </links>
        <content><![CDATA[<p>Die Entwicklung von OpenCms 7 hat mit der&nbsp;Verf&uuml;gbarkeit des Source Code der&nbsp;ersten Beta Version im &ouml;ffentlichen CVS einen weiteren Meilenstein erreicht.</p> <p>Das erweiterte Benutzermanagement mit Organisatorischen Einheiten und Rollen ist vollst&auml;ndig. Ebenso&nbsp;wurden die Arbeiten an der&nbsp;WebDAV-Schnittstelle in das OpenCms VFS abgeschlossen. Die vollst&auml;ndigen Details k&ouml;nnen aus der Datei <a target="_blank" href="%(link0)">history.txt</a> im &ouml;ffentlichen CVS entnommen werden.</p> <p>Zur Zeit Arbeiten wir an Optimierungen der Datenbankstruktur, sowie an Detailverbesserungen des GUI.</p> <p>Im Allgemeinen bleibt die Funktionsliste und Roadmap f&uuml;r die Version 7 unver&auml;ndert gegen&uuml;ber der <a target="_self" href="%(link1)">Ank&uuml;ndigung der Version OpenCms 7 Alpha</a>.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 7 Beta 1 available]]></Title>
    <Date>1174494000000</Date>
    <Preface><![CDATA[Development of OpenCms has reached another milestone with the availability of the first Beta version of OpenCms 7.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_1141.html]]></target>
            <uuid>390f8514-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Development of OpenCms has reached another milestone as the source code of the first Beta&nbsp;version of OpenCms 7 is now available in the public CVS.</p> <p>Compared to the OpenCms 7 alpha release, this Beta release features the completed and fully functional&nbsp;improved user management with organizational units and roles, as well as full support for WebDAV access to the OpenCms VFS.</p> <p>We are now in the process of optimizing the internal data structures and doing some polishing on various parts of the GUI.</p> <p>In general, the feature list and roadmap for OpenCms 7 remains unchanged compared to the last Alpha release. Please see  <a href="%(link0)">the announcement of the 7 Alpha 1</a> release for the full roadmap / feature list.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability/>
  </Article>
</ArticleData>
