<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 6.2 BETA release notes]]></Title>
    <Date>1139500800000</Date>
    <Preface><![CDATA[The OpenCms 6.2 beta&nbsp;release notes contain detailed information about the new features and fixed issues in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_690.html]]></target>
            <uuid>3ded6667-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[mailto:contributions@opencms.org]]></target>
          </link>
          <link name="link4" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link5" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 6.2 BETA adds several useful features&nbsp;to&nbsp;OpenCms that are not available in
version 6.0.</p>
<p>
<strong>Who should use this 6.2 beta version?</strong>
</p>
<p>This is a beta version. Please don't expect it to be perfectly stable. Having said that, we
believe that 6.2 beta may be stable enough to be used in a production system. If and how you should
use this version depends on what your goals are:</p>
<ul>
<li>If you starting a new OpenCms project now, you may consider using this 6.2 beta and not
6.0.</li>
<li>If you are running a website based on OpenCms 6.0, and you want to upgrade, you should wait
until the final 6.2 release is available.</li>
</ul>
<p>
<strong>When will the "final" release of OpenCms 6.2 be available?</strong>
</p>
<p>End of March 2006.</p>
<p>You can help speeding up the process of development by providing feedback for this release and
the following releases, especially regarding bugs. In case you find any bug, please use the 
<a href="%(link0)">OpenCms bugzilla</a> to document it, or at least post a note
to the 
<a href="%(link1)">opencms-dev</a> mailing list. The more
feedback and code contributions are made, the faster we can fix the issues and finish the
development.</p>
<p>
<strong>The most important changes the 6.2 beta release compared to the 6.0 version:</strong>
</p>
<p>
<strong>Major new features</strong>
</p>
<ul>
<li>Multiple selections and operations in the Workplace Explorer</li>
<li>Native image scaling and manipulation</li>
<li>Visual ("diff" like) comparison of document versions</li>
<li>Integration of the popular FCKeditor for WYSIWYG editing</li>
<li>Much improved search index admininstation interface</li>
<li>More&nbsp;options for generating accessible website content</li>
</ul>
<p>
<strong>Additional improvements
<br /></strong>
</p>
<ul>
<li>New frontend module to display photo albums conveniently on a website</li>
<li>New Content check tool to validate file contents and properties</li>
<li>All list displays in the Workplace offer a print version</li>
<li>Image galleries now show a thumbnail of all the images in the gallery</li>
<li>In the Workplace Explorer, it is&nbsp;now possible to select resources by right-clicking on the
resource name</li>
<li>The Workplace Explorer tree now shows the resource state for new and changed resources</li>
<li>It's possible to enable Link or Gallery dialogs in XML content WYWIWYG fields</li>
<li>XML content WYWIWYG fields use the user configured editor (if possible)</li>
<li>Added &lt;cms:decorate&gt; tag for parsing and decorating HTML content</li>
<li>It is&nbsp;now possible to select 'individual' or 'shared' property mappings for XML
content</li>
<li>Workplace explorer resources to display can now be configured using a Collector</li>
<li>New project file list</li>
<li>New option to export webuser data</li>
<li>New option to export a folder recursively or not</li>
<li>Project resources can now be modified in the project management "Edit project" dialog</li>
<li>Added "before publish" event</li>
</ul>
<p>
<strong>Resolved Issues</strong>
</p>
<ul>
<li>Fixed issue #514 &amp; #937: new 'Database Connection Validation' dialog added to setup
wizard</li>
<li>Fixed issue #1006: it&nbsp; is now possible to use 3 letter locales (e.g. like "ast")</li>
<li>Fixed issue #1020: undo changes now also works with shared properties</li>
<li>Fixed issue #1021: file parameter of the cms:property and cms:decorate tag is always
toLowerCase()</li>
<li>Fixed issue #1024: parent group is shown correctly in the group overview</li>
<li>Fixed issue #1027: new folder permissions test added to setup wizard</li>
<li>Fixed issue with removing temporary flag after editing content</li>
<li>Fixed issue with linebreaks in HTML-Converter</li>
<li>Fixed issue in locale handler if non-existant resource has been requested</li>
<li>Fixed issue in FlexController that sometimes caused NPE errors during system startup</li>
</ul>
<p>
<strong>Support of new database versions</strong>
</p>
<ul>
<li>MySQL 5.0.x</li>
<li>Oracle 10g</li>
<li>MS SQL Server (contributed by Andras Balogh, experimental)</li>
</ul>
<p>For a complete list of features of OpenCms 6 compared to older versions, have a look at the 
<a href="%(link2)">OpenCms 6.0.0 release notes</a>.</p>
<p>
<strong>Backward compatibility</strong>
</p>
<p>OpenCms 6.2 should be highly backward compatible with all 6.0 versions. Certain minor API
changes have been made, so some adjustments may have to be done for code that uses more advanced
API functions. All Templates should be backward compatible without changes.</p>
<p>To upgrade an existing OpenCms 6.0 to the new 6.2 release, we will provide an upgrade wizard for
the final 6.2 release. No wizard is provided for this OpenCms 6.2 beta release.</p>
<p>
<strong>Compatibility with Java versions, Servlet containers and databases</strong>
</p>
<p>OpenCms 6.2 beta requires Java 1.4.x or Java 1.5.x. It won't work with Java 1.3.x. We have
tested only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so
it should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine and to some extend on JBoss 4.0.
OpenCms 6.2 beta works "out of the box" with Tomcat 5.0.x and Tomcat 5.5.x. Others have reported
deploying 6.0.x versions successfully on other servlet containers like BEA Weblogic and SunONE.</p>
<p>On the database side, we have tested with MySQL 4.0, MySQL 4.1, MySQL 5.0, Oracle 9.x and Oracle
10.x. PostgresSQL support has been contributed thanks to Antonio Core. maxDB support has been
contributed thanks to Clovis Wichoski and Fabiano Rech. MS SQL server support&nbsp; has been
contributed thanks to Andras Balogh. We still are looking for volunteers to support testing the
stability of the PostgreSQL, maxDB and MS SQL server releases.</p>
<p>
<strong>Regarding version numbers and CVS build tags</strong>
</p>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS
tag for the 6.2 release is "build_6_1_8". Development of the 6.2 version is done in CVS "dev_6_0_1"
branch. This branch will be merged to CVS HEAD when the final 6.2 release is available.</p>
<p>
<strong>How you can help</strong>
</p>
<p>Contributions to the OpenCms core development are most welcome. Please contact 
<a href="%(link3)">contributions@opencms.org</a> in case you are interested
in supporting the development of OpenCms 6, or give your feedback on the 
<a href="%(link4)">opencms-dev</a> mailing list.</p>
<p>Please use our Bugzilla to report bugs in this release: 
<a target="_blank" href="%(link5)">http://bugzilla.opencms.org/
<br /></a></p>&nbsp;]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1139500800000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
