<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms Version 5.0.1 ab sofort verfügbar]]></Title>
    <Date>1073640420000</Date>
    <Preface><![CDATA[Die neue Version 5.0.1 von OpenCms, einem der populärsten Open Source Content Management Systeme, ist ab sofort verfügbar.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Die neue Version 5.0.1 von OpenCms, einem der popul&auml;rsten Open Source Content Management Systeme, ist ab sofort verf&uuml;gbar. Entwickelt wurde die neue Version von der OpenCms Community und Alkacon Software.&nbsp;</p>
<p>Bei OpenCms 5.0.1 handelt es sich um ein Upgrade, welches einige bekannte Probleme der bisherigen Version 5.0.0 behebt. Anwendern, die Ihre Webseite mit OpenCms 5 verwalten, wird ein Update auf die neue Version empfohlen. Details zu den Verbesserungen der Version 5.0.1, sowie eine genaue Update-Beschreibung f&uuml;r Benutzer der Version 5.0.0, sind unter <a href="%(link0)">http://www.opencms.org</a> verf&uuml;gbar.</p>
<p>Unabh&auml;ngige Umfragen weisen OpenCms als eine marktf&uuml;hrende L&ouml;sung im Bereich der Open Source CMS Systeme aus. Die Software wird seit &uuml;ber 4 Jahren st&auml;ndig weiterentwickelt und verf&uuml;gt &uuml;ber eine aktive Community von Open Source Entwicklern. Seit der Ver&ouml;ffentlichung der Version 5 im Mai 2003 kann ein stark wachsender Einsatz beobachtet werden. &Uuml;ber 50 internationale Software - Beratungsunternehmen bieten Ihren Kunden heute professionellen Support als offizieller &quot;OpenCms Solution Provider&quot; an. Eine stetig wachsende Liste von Referenzen belegt au&szlig;erdem die steigende Verbreitung von OpenCms.</p>
<p>OpenCms ist eine vollst&auml;ndige, Java und XML basierte Content Management L&ouml;sung f&uuml;r Unternehmen, welche komplett aus Open Source Komponenten aufgebaut ist. OpenCms bietet leistungsstarke und einfach zu bedienende Funktionen, die sich insbesondere f&uuml;r Internet- oder Intranetanwendungen mittlerer und gro&szlig;er Unternehmen eignen. OpenCms ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System kann kostenlos von der OpenCms Website (<a href="%(link1)">http://www.opencms.org</a>) herunter geladen werden.</p>
<p>Alkacon Software (<a href="%(link2)">http://www.alkacon.com</a>) ist ein Software - Unternehmen aus K&ouml;ln. Das OpenCms Projekt wird offiziell durch Alkacon Software betreut und ma&szlig;geblich mitentwickelt. Alkacon Software ist au&szlig;erdem Anbieter von Support, Schulungen und Entwicklungsdienstleistungen f&uuml;r OpenCms.</p>
<p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung von OpenCms 5.0.1 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1073640420000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 5.0.1 released]]></Title>
    <Date>1073640420000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the final release of OpenCms 5.0.1, the open source content management system.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/opencms.html]]></target>
          </link>
          <link name="link1" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the&nbsp;final release of OpenCms version 5.0.1,&nbsp;the&nbsp;open source content management system. This release&nbsp;contains lots of improvements&nbsp;that have been applied since the 5.0.0 release. We recommend everyone who uses OpenCms to upgrade to the 5.0.1 version.</p>
<p>OpenCms 5.0.1&nbsp;comes in&nbsp;4 distribution packages:</p>
<ul>
    <li><strong>Standard distribution</strong>: Contains everything you need to setup an OpenCms system.</li>
    <li><strong>Fat distribution</strong>: Contains the standard distribution with additional templates, example code and the complete&nbsp;Alkacon documentation, good for getting started.</li>
    <li><strong>Source distribution</strong>: Contains the OpenCms source code.</li>
    <li><strong>Upgrade distribution</strong>: Contains only the files required to upgrade a 5.0.0 OpenCms system to 5.0.1.</li>
</ul>
<p>You can download any of these packages from the  <a href="%(link0)">OpenCms download</a> page.</p>
<p>The almost complete list of changes and improvements in OpenCms 5.0.1 over the last release (5.0.0):</p>
<ul>
    <li>Refactored JSP integration to be more standards compliant</li>
    <li>Added &quot;delete&quot; option to image and download galleries to delete resources directly in the gallery views</li>
    <li>Added &quot;getNavigationBreadCrumb()&quot; and &quot;getSiteNavigation()&quot; methods to com.opencms.flex.jsp.CmsJspNavBuilder</li>
    <li>Fixed bugzilla issue #15: Navigation for index.html pages was broken when using com.opencms.defaults.CmsXmlNav</li>
    <li>Fixed bugzilla issue #13: Required permissions not sufficient to browse through galleries</li>
    <li>Fixed bugzilla issue #20: Misplaced context menues in IE 6</li>
    <li>Fixed bugzilla issue #22: Missing localization keys in the XML template for the channel administration backoffice</li>
    <li>Fixed bugzilla issue #25: Typo in the workflow preferences dialog</li>
    <li>Fixed bugzilla issue #28: Properties of published resources were not found in the Online project</li>
    <li>Fixed bugzilla issue #32: Missing &quot;rel&quot; attrib. in the link tag to load the style sheet of the JSP template of the howto-template module</li>
    <li>Fixed bugzilla issue #34: Malformed URI to restart the setup wizard</li>
    <li>Fixed bugzilla issue #36: Unnecessary quote chars. in mystyle.css of the howto-template documentation module</li>
    <li>Fixed bugzilla issue #40: Site-root gets added twice to the import path in the importFolder shell command</li>
    <li>Fixed bugzilla issue #42: Leading/trailing filenames are not trimmed when new resources are created</li>
    <li>Fixed bugzilla issue #70: Malformed crontab entries prevent OpenCms from starting</li>
    <li>Fixed bugzilla issue #87: Possible NullPointer exception in cascading calls of getModuleParameterBoolean</li>
    <li>Fixed bugzilla issue #94: Values for CATALINA_OPTS&nbsp;not wrapped in quote chars in the how-to install documentation page of the welcome module</li>
    <li>Fixed bugzilla issue #95: Typo in the in the history &quot;Restore Version&quot; dialog</li>
    <li>Fixed bugzilla issue #102: Typo in the empty template's meta tag</li>
</ul>
<p>The team at  <a href="%(link1)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1073640420000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
