<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms Slides from OSCOM 1 conference]]></Title>
    <Date>1017488160000</Date>
    <Preface/>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.oscom.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alexander Kandzior, Director of Alkacon Software and lead developer on the OpenCms project has
presented OpenCms at the first annual Open Source Content Management Systems Conference in Zurich,
Switzerland.</p>
<p>The conference was organized by 
<a target="_blank" href="%(link0)">OSCOM</a>,&nbsp;an international not-for-profit
organization dedicated to Open Source Content Management, based in Zurich, Switzerland. The primary
goal of OSCOM is to build a network between the community of open source content management
developers. The primary activities for OSCOM focus on organizing conferences and representing open
source content management in the media. OSCOM is run by developers, for developers, and has a board
consisting of open source leaders.</p>
<p>OSCOM 1 took&nbsp;place&nbsp;at the Department of Information Technology and Electrical
Engineering of the Swiss Federal Institute of Technology Zurich (ETH), from Thursday,&nbsp;March
21&nbsp;to Friday, March 22,&nbsp;2002. The conference was a great success. More than a 100 people
were attending.</p>
<p>The OpenCms slide presentation&nbsp;for OSCOM 1 is called "An introduction to OpenCms, version
4.6". It contains&nbsp;a general overview about the systems features and some technical details
about OpenCms.</p>]]></content>
      </Text>
      <Link>
        <Text><![CDATA[OpenCms slides from OSCOM 1 (419 kb)]]></Text>
        <URI>
          <link internal="false" type="WEAK">
            <target><![CDATA[http://files.opencms.org/downloads/alkacon/Slides_OpenCms_Kandzior_Oscom1.pdf]]></target>
          </link>
        </URI>
        <NewWindow>true</NewWindow>
      </Link>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1017488160000</Release>
    </Availability>
  </Article>
</ArticleData>
