<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms version 5.0 beta 2 released]]></Title>
    <Date>1036969200000</Date>
    <Preface><![CDATA[Alkacon Software and the OpenCms Group release version 5.0 beta 2 of OpenCms, a major step towards the final release of OpenCms 5.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software together with the OpenCms Group has released version 5.0 beta 2 of OpenCms, one of the leading open source content management solutions. This version is a major step towards the final release of OpenCms 5. It adds a number of important features especially for the JSP integration and caching mechanism. The most visible change from previous versions is the new structure of the OpenCms workplace in the virtual file system (VFS), which now has a much more streamlined directory layout. A long list of minor enhancements and fixes completes this release.</p>
<p>OpenCms 5.0 beta 2 is Open Source software published under the LGPL license. The software is freely available from the  <a href="%(link0)">OpenCms website</a>. The OpenCms 5.0 beta 2 includes all features from the last &quot;major&quot; release 4.6.1, the FLEX alpha 1, the 4.7.7 version and of course the 5.0 beta 1. It's at last as stable as all of these earlier versions. I encourage everyone to try this version and provide feedback on the opencms-dev mailing list.</p>
<p>OpenCms 5.0 beta 2 supports Java 1.4. and 1.4.1. Because of required features related to file encoding and JDBC we recommend not using earlier releases of Java.</p>
<p>The almost complete list of changes&nbsp;and improvements&nbsp;in OpenCms 5.0 beta 2:</p>
<ul>
    <li>JSP now support nested includes with XMLTemplates</li>
    <li>The JSP cms:include tag functionality has been extended, the include target can now be set from a property, from an expression in the tag's body or from a request attribute</li>
    <li>More new and improved JSP tags for easier template development</li>
    <li>Exception handling in JSP now directly points to the problem (even if it is in an included element)</li>
    <li>The FlexCache for caching of JSP now implements a LRU policy and can be fully configured in the opencms.properties</li>
    <li>A new class com.opencms.flex.jsp.CmsJspActionBean provides access to the OpenCms taglibs features through JSP scriplet code</li>
    <li>The new, streamlined 5.0 workplace directory layout is in place</li>
    <li>The new &quot;directory translation&quot; feature allows setting resource name translation rules in opencms.properties for backward compatibility</li>
    <li>The &quot;file name translation&quot; feature automatically replaces illegal characters (e.g. space, ? or &amp;) in uploaded file names and in extracted ZIP files, rules can be set in opencms.properties</li>
    <li>The default file name for a directroy (the page that is displayed if a user just requests a directory name, usually &quot;index.html&quot;) can now be defined in the opencms.properties and in the folder property default-file</li>
    <li>The handling of default files (like &quot;index.html&quot;) has changed: if a default file was found it is now returned directly by OpenCms (in previous versions a redirect to &quot;index.html&quot; was send)</li>
    <li>The default file encoding is now UTF-8 for better international support, please note that this change is preliminary and subject to further observation</li>
    <li>A default index.jsp &quot;Welcome to OpenCms&quot; page is now included in a new installation with a simple default template</li>
    <li>New &quot;replace&quot; feature in the workplace context menus, it's now possible to replace e.g. an image in the VFS by an uploaded image with a different name directly, keeping the VFS name and file properties</li>
    <li>If you upload a file in the workplace and a file with the same name already exists, you are now asked if you want to overwrite it (instead of OpenCms throwing an exception)</li>
    <li>New &quot;touch&quot; feature in context menus allows setting of the file &quot;last changed&quot; timestamp</li>
    <li>When exporting files with the &quot;Database export&quot; feature, you can now set a max age for the content to export, i.e. export only files that have changed after a specified date</li>
    <li>Page body files (now stored in /system/bodies) are now automatically exported when a &quot;page&quot; type file is exported</li>
    <li>The &lt;stylesheet&gt; tag in XMLTemplates can now also be defined in the mastertemplate (in addition to the frametemplate)</li>
    <li>The &lt;stylesheet&gt; tag in XMLTemplates (for display of the style sheet in the HTML editor) can now start with a &quot;/&quot;</li>
    <li>Added an option to the HTML editor to remove the &quot;new body&quot; function while keeping the body selector (to be used with default bodies)</li>
    <li>Module management: Added support for &quot;simple&quot; modules</li>
    <li>When importing resources the content of files is converted if the encoding parameter does not exist in the xml- or meta-tag, this should provide the ability to import content exported from 4.x versions into a 5.0 system</li>
    <li>If the property definition for a property of an imported resource does not exist, it will be created during the import</li>
    <li>Fixed some issues in the HTML editor with the new link dialog, it's now also possible to add links to images</li>
    <li>The locale &quot;uk&quot; has been renamed to &quot;en&quot;</li>
    <li>Usage of methods deprecated in Java 1.4 has been removed where possible</li>
    <li>Issues with XML export of filenames that use special characters (like umlauts) have been resolved</li>
    <li>Issues with XML export or registry with special characters (like umlauts) have been resolved</li>
    <li>Fixed ElementCache for DumpLauncher, for dumped elements no file.encoding translation is allowed</li>
    <li>Fixed ElementCache for MethodElements, switched handling from byte[] to String</li>
    <li>Fixed a bug in the cache settings that prevented PDFs from offline projects to be displayed in Acrobat Reader</li>
    <li>Refactoring of constant names for VFS paths and directories in com.opencms.workplace.I_CmsWpConstants</li>
    <li>Some cleanup of code and JavaDoc documentation in packages *.core and *.flex (still a long way to go here)</li>
    <li>Additional options for the setup wizard to enable / disable Flex JSP and directory translation options included</li>
    <li>The deprecated FOP based PdfLauncher was removed</li>
    <li>The login dialog page has moved to /system/login, it now features improved behaviour for active sessions</li>
    <li>Changed the workplace style sheet to fix problems displaying special characters like german umlauts&nbsp;</li>
</ul>
<p>With the new release, Alkacon Software continues it's increased&nbsp;efforts in adding and enhancing support for the standard JSP and JSP Taglib technology in OpenCms. Alkacon has also started to improve the OpenCms workplace with a lot of features that make life and work with OpenCms easier. The team at Alkacon continues working towards the final release of the 5.0 version.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1036969200000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
