<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[Interaktive OpenCms 5.0 Dokumentation von Alkacon Software verfügbar]]></Title>
    <Date>1052129760000</Date>
    <Preface><![CDATA[Die Dokumentation für die OpenCms 5.0 Version ist nun verfügbar. Diese Dokumentation wurde von Alkacon Software entwickelt.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/downloads/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Die Dokumentation f&uuml;r die OpenCms 5.0 Version ist nun verf&uuml;gbar. Diese Dokumentation wurde von Alkacon Software entwickelt.</p> <p>Ab der OpenCms Version 5.0 wird die Dokumentation in Form von OpenCms Modulen angeboten. Einer der grossen Vorteile hiervon ist, dass der Benutzer damit eine interaktive Dokumentation mit einer Reihe direkt lauff&auml;higer Beispiele erh&auml;lt, da die Dokumentation auf einem lauff&auml;higen OpenCms System installiert wird. Dar&uuml;ber hinaus werden bestimmte Teile der bisherigen Dokumentation weiterhin als PDF verf&uuml;gbar sein. Der Hauptzweck der PDF Dokumentation ist, neuen Benutzern eine erste Einf&uuml;hrung &uuml;ber OpenCms zu geben, wie z.B. eine Installations- Anleitung, eine Dokumentation f&uuml;r Endbenutzer sowie eine &Uuml;bersicht &uuml;ber das System.</p> <p><strong>Die interaktive OpenCms 5.0&nbsp;Dokumentation beinhaltet die folgenden Module:</strong></p> <ul>     <li>Alkacon OpenCms 5.0 interactive documentation base module</li>     <li>Alkacon OpenCms 5.0 Howto: JSP template development</li>     <li>Alkacon OpenCms 5.0 Howto: Translating the OpenCms Workplace</li>     <li>Alkacon OpenCms 5.0 JSP basic documentation</li>     <li>Alkacon OpenCms 5.0 JSP scriptlet documentation</li>     <li>Alkacon OpenCms 5.0 JSP taglib documentation</li>     <li>Alkacon OpenCms 5.0 Flexcache documentation</li>     <li>Alkacon OpenCms 5.0 Module mechanism documentation</li>     <li>Alkacon OpenCms 5.0 Flex examples set 1</li>     <li>Alkacon OpenCms 5.0 Flex examples set 2</li>     <li>Alkacon OpenCms 5.0 Flex examples set 3</li>     <li>Alkacon OpenCms 5.0 Original JSTL 1.0 standard taglib examples</li>     <li>Alkacon OpenCms 5.0 Original Tomcat 4.x JSP examples</li> </ul> <p>Diese Dokumentations- Module sind zum Download verf&uuml;gbar unter:<br /> <a target="_self" href="%(link0)">http://www.opencms.org/downloads/</a></p> <p>Weitere Dokumentationsmodule sind in Vorbereitung und werden zu gegebener Zeit ver&ouml;ffentlicht.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1052129760000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[Interactive OpenCms 5.0 documentation available from Alkacon Software]]></Title>
    <Date>1052129760000</Date>
    <Preface><![CDATA[The updated documentation for the OpenCms 5.0 release is now available.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>The updated documentation for the OpenCms 5.0 release is now available. This documentation has been developed (and will be maintained) by Alkacon Software.</p> <p>From version 5.0 onward, the main part of the OpenCms documentation is maintained in the form of OpenCms modules. One of the big advantages is that this gives the reader an interactive documentation with a lot of working example code, because everything can directly be checked out in the running system. It's also easier to write the documentation that way. Some documentation material is available as PDF. The main purpose of the PDF documentation is to provide introductory material about OpenCms, especially providing installation instructions, an &quot;end user&quot; introduction and a general system overview.</p> <p><strong>The OpenCms 5.0 interactive documentation includes the following modules:</strong></p> <ul> <li>Alkacon OpenCms 5.0 interactive documentation base module</li> <li>Alkacon OpenCms 5.0 Howto: JSP template development</li> <li>Alkacon OpenCms 5.0 Howto: Translating the OpenCms Workplace</li> <li>Alkacon OpenCms 5.0 JSP basic documentation</li> <li>Alkacon OpenCms 5.0 JSP scriptlet documentation</li> <li>Alkacon OpenCms 5.0 JSP taglib documentation</li> <li>Alkacon OpenCms 5.0 Flexcache documentation</li> <li>Alkacon OpenCms 5.0 Module mechanism documentation</li> <li>Alkacon OpenCms 5.0 Flex examples set 1</li> <li>Alkacon OpenCms 5.0 Flex examples set 2</li> <li>Alkacon OpenCms 5.0 Flex examples set 3</li> <li>Alkacon OpenCms 5.0 Original JSTL 1.0 standard taglib examples</li> <li>Alkacon OpenCms 5.0 Original Tomcat 4.x JSP examples</li> </ul> <p>Additional documentation chapters are under development and will be released in due course.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1052129760000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
