<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.2 BETA veröffentlicht]]></Title>
    <Date>1139504400000</Date>
    <Preface><![CDATA[Die Beta Version 6.2 von OpenCms kann ab sofort herunter geladen werden. OpenCms 6.2 BETA bietet eine Reihe neuer, nützlicher Funktionen und Verbesserungen
]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>Die Beta Version 6.2 von OpenCms kann ab sofort herunter geladen werden.</p> <p>OpenCms 6.2 BETA bietet eine Reihe&nbsp;neuer, n&uuml;tzlicher Funktionen und Verbesserungen wie zum Beispiel:</p> <ul><li>Mehrfachauswahl und -operationen im Workplace Explorer</li><li>Integrierte Bildskalierung und Bildmanipulation</li><li>Visueller Vergleich des Inhalts von Dokumentenversionen (&auml;hnlich &quot;diff&quot;)</li><li>Integration des popul&auml;ren FCKeditor f&uuml;r WYSIWYG Bearbeitung von Inhalten</li><li>Stark verbesserte Oberfl&auml;che f&uuml;r die Suchindex-Administration</li><li>Zus&auml;tzliche M&ouml;glichkeiten f&uuml;r das erstellen barierrefreier Webseiten</li><li>Unterst&uuml;tzung der Datenbanken mySQL 5 und Oracle 10</li></ul> <p>Die Freigabe der &quot;stabilen&quot; Version 6.2 ist f&uuml;r Ende M&auml;rz 2006 vorgesehen, vorausgesetzt dass keine gr&ouml;&szlig;eren Probleme in dieser BETA Version entdeckt werden.</p> <p>&nbsp;</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1139504400000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.2 BETA released]]></Title>
    <Date>1139504400000</Date>
    <Preface><![CDATA[The BETA version for the upcoming 6.2&nbsp;release of OpenCms is now available for download. OpenCms 6.2&nbsp;adds a number of useful features not available in OpenCms 6.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links/>
        <content><![CDATA[<p>The beta version for the upcoming 6.2&nbsp;release of OpenCms is now available for download.</p>
<p>OpenCms 6.2 BETA adds several useful features&nbsp;to&nbsp;OpenCms such as:</p>
<ul>
<li>Multiple selections and operations in the Workplace Explorer</li>
<li>Native image scaling and manipulation</li>
<li>Visual ("diff" like) comparison of document versions</li>
<li>Integration of the popular FCKeditor for WYSIWYG editing</li>
<li>Much improved search index admininstation interface</li>
<li>More&nbsp;options for generating accessible website content</li>
<li>Added database support for&nbsp;mySQL 5 and Oracle 10</li>
</ul>
<p>The final release of OpenCms 6.2 is scheduled for end of March 2006, provided that&nbsp;there
are&nbsp;no major issues discovered with this BETA release.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1139504400000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
