<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms module sandbox launched]]></Title>
    <Date>1056623820000</Date>
    <Preface><![CDATA[By popular demand, the <A href="/en/download/contributions.html" >Modules sandbox </A>has been added to the Download section. Preliminary but still useful versions of OpenCms modules developed by the community can now be made available in the sandbox.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/contributions.html]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/contributions.html]]></target>
          </link>
          <link name="link3" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/download/contribute_module_form.html]]></target>
          </link>
          <link name="link4" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>By popular demand, the  <a href="%(link0)">Modules sandbox</a> has been added to the  <a href="%(link1)">Download</a> section. Preliminary but still useful versions of OpenCms modules developed by the community can now be made available in the sandbox.</p>
<p>Most often if a module is developed in the course of a project it is build to just do whatever is required by that project. This usually means it still has some &quot;rough edges&quot;, some information that should be configurable is hard-coded and the documentation is a bit lacking. However, this module might still be useful for others that maybe can improve on that functionality.</p>
<p>If you have developed such a preliminary version of an OpenCms module, please make it available to the OpenCms community by adding it to the  <a href="%(link2)">Modules sandbox</a> using the  <a href="%(link3)">add a module download</a> form.</p>
<p><strong>Some guidelines for adding modules:</strong></p>
<p>If a module is contributed, we at  <a href="%(link4)">Alkacon Software</a> perform only a minimal check if it is usable at all and contains at last a minimal documentation.</p>
<p>Even though the wording on this site implies that all downloads must be in OpenCms module form,&nbsp;you can also&nbsp;publish other stuff in the sandbox, e.g. PDFs or ZIPs related to OpenCms but not in module form. We would however appreciate if functional additions to the OpenCms system are made as modules when possible.</p>
<p>Also, it is important that it is&nbsp;clearly visible&nbsp;who has developed the module. This of course can be&nbsp;a company, a person or both. The reason is that questions about the module can be directed to the right people. Make sure to place this information with a valid contact email address in the module description.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1056623820000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
