<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[Development on the next OpenCms version has started]]></Title>
    <Date>1052313360000</Date>
    <Preface><![CDATA[After the successful release of OpenCms 5.0 (which was downloaded over 1000 times within 48 hours after the release) <A href="http://www.alkacon.com/" >Alkacon Software</A> has started development on the next version of OpenCms.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>After the successful release of OpenCms 5.0 (which was downloaded over 1000 times within 48
hours after the release)
<a href="%(link0)">Alkacon Software</a> has started development on the next version of
OpenCms.</p>
<p>The next version of OpenCms will feature substantial changes to the database model. Please see
below for more details about the changes. Developers using the OpenCms source code from the CVS
repository should be aware that this means the HEAD (i.e. default) CVS branch will be heavily
modified within the following weeks, and will most certainly not be usable in production
environments.</p>
<p>Bug fixed and smaller enhancements for the 5.0 version of OpenCms will of course still be
developed and released in the "branch_5_0_x" branch of the CVS. The version numbers for these
updates will be 5.0.1, 5.0.2 etc. Developers that run OpenCms in production and are looking for
updates or improvements to OpenCms 5.0 should use the "branch_5_0_x" CVS branch until further
notice.</p>
<p>The current development version of OpenCms is 5.1.0. Subsequent development releases will be
5.1.1, 5.1.2 etc. When development on the 5.1.x version is finished, the next OpenCms stable
version will be released with the 5.2.0 number.</p>
<p>Here's what Alkacon Software will be working on in the next couple of months:&nbsp;</p>
<ul>
<li>The OpenCms VFS will be made more scalable, so that OpenCms can be used better for document
management</li>
<li>The user OpenCms user management will be made independent from the OpenCms VFS, so that other
user directories (e.g. LDAP) can be "plugged" into the system as a separate module</li>
<li>In this process, we will probably re-write part or all of the OpenCms publishing,
link-management&nbsp;and export code</li>
<li>Proprietary solutions (e.g. for&nbsp;database pooling) are going to be replaced with Java 1.4 /
J2EE standard solutions or well known packages from other open source projects</li>
<li>We will provide all resources in the OpenCms VFS with a UUID</li>
<li>We will add interfaces to the OpenCms core that allow the addition of a
module-based&nbsp;OpenCms database replication mechanism</li>
<li>We will provide a mechanism to update content from a 5.0.x version to the upcoming 5.2 version
before this is released</li>
</ul>
<p>Please keep in mind that contributions to the OpenCms development are most welcome. I expect
that the 5.2 release will feature improvements in the OpenCms workplace and probably in the WYSIWYG
editors, hopefully with a Mozilla 1.3 compatible editor. The Alkacon team will support the
development of these (or other) additions as much as possible.</p>
<p>At this point,&nbsp;we can not give any release date or even a timeframe for the 5.2
release.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1052313360000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
