<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 6.2 release notes]]></Title>
    <Date>1146574440000</Date>
    <Preface><![CDATA[The OpenCms 6.2 release notes contain detailed information about the new features and fixed issues in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_690.html]]></target>
            <uuid>3ded6667-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 6.2 adds several useful features&nbsp;to&nbsp;OpenCms that are not available in version
6.0.</p>
<p>
<strong>The most important changes the 6.2 release compared to the 6.0 version:</strong>
</p>
<p>
<strong>Major new features</strong>
</p>
<ul>
<li>Multiple selections and operations in the Workplace Explorer</li>
<li>Native image scaling and manipulation</li>
<li>Visual ("diff" like) comparison of document versions</li>
<li>Integration of the popular FCKeditor for WYSIWYG editing</li>
<li>Added "move content up and down" function to the XML content editor</li>
<li>Much improved search index administration interface</li>
<li>More options for generating accessible website content</li>
</ul>
<p>
<strong>Additional improvements
<br /></strong>
</p>
<ul>
<li>New frontend module to display photo albums conveniently on a website</li>
<li>New frontend module containing the new resource type "layout pattern page" that allows content
editors
<br />to easily create new web pages from from predefined paragraph layouts</li>
<li>New Content check tool to validate file contents and properties</li>
<li>All list displays in the Workplace offer a print version</li>
<li>Image galleries now show a thumbnail of all the images in the gallery</li>
<li>In the Workplace Explorer, it is&nbsp;now possible to select resources by right-clicking on the
resource name</li>
<li>The Workplace Explorer tree now shows the resource state for new and changed resources</li>
<li>It's possible to enable Link or Gallery dialogs in XML content WYSIWYG fields</li>
<li>XML content WYSIWYG fields use the user configured editor (if possible)</li>
<li>Improved XML content editor dynamic HTML generation for element operation buttons and localized
help texts</li>
<li>Added &lt;cms:img&gt; tag that automatically generates HTML for scaled images</li>
<li>Added &lt;cms:decorate&gt; tag for parsing and decorating HTML content</li>
<li>It is&nbsp;now possible to select 'individual' or 'shared' property mappings for XML
content</li>
<li>Workplace Explorer resources to display can now be configured using a Collector</li>
<li>New project file list</li>
<li>New option to export webuser data</li>
<li>New option to export a folder recursively or not</li>
<li>Project resources can now be modified in the Project Management "Edit project" dialog</li>
<li>Added "before publish" event</li>
<li>
<p>Added several new mime type settings to the "mimetypes.properties" file</p>
</li>
</ul>
<p>
<strong>Resolved Issues</strong>
</p>
<ul>
<li>Fixed issue #878: PostgreSQL now uses the right db name during installation (thanks to Ivan
Codarin)</li>
<li>Fixed issue #995: improved scrubbing of statically exported files</li>
<li>Fixed issue #999: addCookie() and sendRedirect() can now be used on a JSP page</li>
<li>Fixed issue #990: it is now possible to set the status code in a JSP using the CmsJspBean</li>
<li>Fixed issue #1001: added confirmation to lock dialog if a folder contains already locked
resources</li>
<li>Fixed issue #1002: static export does not produce NPEs in BackupHandler anymore</li>
<li>Fixed issue #1004: editor preview button is now working even if the edited file is expired</li>
<li>Fixed issue #1010: PostgreSQL user / group delete problems are solved (thanks to Ivan
Codarin)</li>
<li>Fixed issue #1015: simultaneous creation of new XML content resources with frontend direct edit
button is now possible</li>
<li>Fixed issue #1030: detail issues fixed in the 'Administration view' list</li>
<li>Fixed issue #1032: needless module sub-directories are skipped during setup</li>
<li>Fixed issue #1033: Setup wizards now checks for image scaling issues</li>
<li>Fixed issue #1035: long project names do not make 'Preferences' and 'Exit' buttons disappear
anymore</li>
<li>Fixed issue #1043: Html from FCKeditor and XML contents is now re-formatted while saving, so
that "diff" can be used</li>
<li>Fixed issue #1047: change MySQL tables from MEDIUMBLOB to LONGBLOB to allow resources of size
&gt; 16MB</li>
<li>Fixed issue #1049: multi copy &amp; move operations now work with relative paths</li>
<li>Fixed issue #1051: Administration menu width is now adjusted during refresh</li>
<li>Fixed issue #1052: FCKeditor now shows new unpublished images in WYSIWYG view</li>
<li>Fixed issue #1064: font modifications in upload applet to let it work on systems without the
Verdana font</li>
<li>Fixed issue #1092: WYSIWYG editor property popup window now has scrollbars to avoid problems
accessing ok/cancel buttons</li>
<li>Fixed issue #1105: Added entry for MS IE 7 in editor_configuration.xml</li>
<li>Fixed issue #1106: User name validation is now always using the same constraints</li>
</ul>
<p>
<strong>Improvements to database support</strong>
</p>
<ul>
<li>MySQL 5.0.x</li>
<li>Oracle 10g</li>
<li>PostgeSQL 7 + 8 issues fixed (thanks to Ivan Codarin)</li>
<li>MS SQL Server (contributed by Andras Balogh, experimental)</li>
</ul>
<p>For a list of features of OpenCms 6 compared to version 5, have a look at the 
<a href="%(link0)">OpenCms 6.0.0 release notes</a>.</p>
<p>
<strong>Backward compatibility</strong>
</p>
<p>We recommend everyone who uses an earlier version of OpenCms to update to the 6.2 release. In
case you are using one of the previous versions (OpenCms 6.0.x or 6.2 beta&nbsp;), there have been
a lot of issues fixed in the final 6.2&nbsp;release. If you still use OpenCms 5.0.x, you should
definitely consider an update since the 6.2 version is much more advanced and stable.</p>
<p>OpenCms 6.2 should be highly backward compatible with all 6.0 versions. Certain minor API
changes have been made, so some adjustments may have to be done for code that uses more advanced
API functions. All Templates should be backward compatible without changes.</p>
<p>To upgrade an existing OpenCms 6.0.x or 6.2 beta&nbsp;to the new 6.2 final&nbsp;release, an easy
to use upgrade wizard is provided. The update wizard can automatically update OpenCms version
6.0.0, 6.0.1, 6.0.2, 6.0.3, 6.0.4 and 6.2 beta to 6.2 stable.</p>
<p>
<strong>Compatibility with Java versions, Servlet containers and databases</strong>
</p>
<p>OpenCms 6.2 requires Java 1.4.x or Java 1.5.x. It won't work with Java 1.3.x. We have tested
only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it
should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine and to some extend on JBoss 4.0.
OpenCms 6.2 works "out of the box" with Tomcat 5.0.x and Tomcat 5.5.x. Others have reported
deploying 6.x versions successfully on other servlet containers like BEA Weblogic and SunONE.</p>
<p>On the database side, we have tested with MySQL 4.0, MySQL 4.1, MySQL 5.0, Oracle 9.x and Oracle
10.x. PostgresSQL support has been tested and improved by Ivan Codarin. maxDB support has been
contributed thanks to Clovis Wichoski and Fabiano Rech. Experimental MS SQL server support has been
contributed thanks to Andras Balogh. We still are looking for volunteers to support testing the
stability of the maxDB and MS SQL versions.</p>
<p>
<strong>Regarding version numbers and CVS build tags</strong>
</p>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS
<br />tag for the 6.2 release is "build_6_2_0". Development of further releases will be done in the
CVS HEAD until further notice. Upcoming development version will use the version numbers 6.3.x and
will be likewise tagged in the CVS.</p>
<p>
<strong>How you can help</strong>
</p>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core
development team on the 
<a href="%(link1)">opencms-dev</a> mailing list.</p>
<p>Please use our Bugzilla to report bugs in this release: 
<a target="_blank" href="%(link2)">http://bugzilla.opencms.org/</a></p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1146574440000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
