<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[New OpenCms infrastructure in place]]></Title>
    <Date>1052129700000</Date>
    <Preface><![CDATA[Updated CVS server, bug tracking system and new searchable mailing list archive are now available for the OpenCms project.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://cvs.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>We have installed a new and improved infrastructure for the OpenCms development. This includes
new servers for the OpenCms CVS and the OpenCms bug tracking system (which is based on Bugzilla).
We also have created a full-text searchable index for the recently updated mailing list server.</p>
<p>
<br />
<strong>OpenCms CVS client configuration</strong>
</p>
<p>Set your environment variable CVSROOT or GUI client equivalent to</p>
<blockquote dir="ltr">
<p>
<em>:pserver:anon@cvs.opencms.org:/usr/local/cvs</em>
</p>
</blockquote>
<p>Next, you need to login into the CVS repository by typing</p>
<blockquote dir="ltr">
<p>
<em>cvs login</em>
</p>
</blockquote>
<p>or using the equivalent login method for your GUI client. This will ask you for a password.</p>
<p>The password for anonymous read-only access is " 
<em>anon</em>".</p>
<p>The complete OpenCms source code is available in the 
<em>opencms/</em> subdirectory of the CVS tree. To get the whole opencms tree and place it in a
subdir of your current working directory, issue the command</p>
<blockquote dir="ltr">
<p>
<em>cvs checkout opencms</em>
</p>
</blockquote>
<p>or use the equivalent method of your GUI client.</p>
<p>We also provide a new CVS web interface at:
<br />
<a href="%(link0)">http://cvs.opencms.org/</a></p>
<p>
<br />
<strong>The OpenCms bug tracking system</strong>
</p>
<p>We also have installed a new bug tracker (based on Bugzilla) which now also features the new
version information for the 5.0 release.</p>
<p>Please use the OpenCms bug tracking system to report all bugs you find in OpenCms. Using the bug
tracking system makes it easier for everyone using OpenCms and participating in the OpenCms
development to manage to process of bug fixing. You will have to create an account first.</p>
<p>Unfortunately we were unable to move the 15 currently "open" or "new" bugs to the new server. We
will re-enter the most important bugs manually later. If you have recently filed a serious bug
report, please re-file it in the new bugzilla.</p>
<p>The new OpenCms bug tracking system is still available at:
<br />
<a href="%(link1)">http://bugzilla.opencms.org/</a></p>
<p>
<em>Please note:</em> If you encounter setup related problems, please consult the OpenCms mailing
list first. In 95% of all cases, setup issues are not bugs in OpenCms but related to your local
environment configuration. In this case, you should first search the mailing list archive because
most of the setup problems have already been answered a couple of times. If you don't find the
answer to your setup problem in the archive, post it to the OpenCms mailing list.</p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1052129700000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
