<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="de">
    <Title><![CDATA[OpenCms 6.0 Beta 1 veröffentlicht]]></Title>
    <Date>1108983600000</Date>
    <Preface><![CDATA[Alkacon Software hat die erste öffentliche Beta-Version von OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Diese Version enthält unter anderem erweiterte Beispiele, sowie eine überarbeitete Version der <em>Alkacon Dokumentation</em> für OpenCms 6.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://kamino.alkacon.com/alkacon/en/company/news.html]]></target>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software hat die erste &ouml;ffentliche&nbsp;Beta-Version von&nbsp;OpenCms 6.0 fertig gestellt und zum Download frei gegeben. Diese Version enth&auml;lt unter anderem erweiterte Beispiele, sowie eine &uuml;berarbeitete Version der <em>Alkacon Dokumentation</em> f&uuml;r OpenCms 6.0.</p> <p>OpenCms 6.0 ist Open Source Software und wird unter der LGPL Lizenz ver&ouml;ffentlicht. Das System ist frei verf&uuml;gbar und kann unter <a href="%(link0)">http://www.opencms.org</a>&nbsp;herunter geladen werden.</p> <p>Die (fast) vollst&auml;ndige Liste der neuen Funktionen und Verbessungen in OpenCms&nbsp;6.0 gegen&uuml;ber der Version 5.0&nbsp;finden Sie bei unseren <a href="%(link1)" target="_self">News in Englisch</a>.</p> <p>Das Team von Alkacon Software m&ouml;chte sich bei allen bedanken, die zur Entwicklung dieser Version von OpenCms&nbsp;6.0 beigetragen haben.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1108983600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
  <Article language="en">
    <Title><![CDATA[OpenCms 6.0 beta 1 released]]></Title>
    <Date>1108983600000</Date>
    <Preface><![CDATA[Alkacon Software has finished work on the first beta release of OpenCms 6.0. This&nbsp;beta 1&nbsp;release contains enhanced examples and an updated version of the&nbsp;<EM>Alkacon Documentation</EM> for OpenCms 6.0.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="true" type="A">
            <target><![CDATA[/sites/web/alkacon/]]></target>
            <uuid>28cfeac6-d070-11e9-861d-0242ac11002b</uuid>
          </link>
        </links>
        <content><![CDATA[<p>Alkacon Software has finished work on the first beta release of OpenCms 6.0. This&nbsp;beta 1&nbsp;release contains enhanced examples and an updated version of the&nbsp;  <em>Alkacon Documentation</em> for 6.0.</p> <p><strong>The most important new features in this beta 1 release compared to the alpha 3 version:</strong></p> <ul>     <li>Documentation available for 6.0 features:     <ul>         <li>This release contains the updated &quot;Alkacon Documentation&quot; for version 6.0</li>         <li>The documentation of the 5.0 release was updated</li>         <li>New documentation modules for XML content, Multisite configuration and how to use the &quot;Direct Edit&quot; feature are available</li>     </ul></li>     <li>Improvements and additions to the &quot;templateone&quot; demo:     <ul>         <li>The demo&nbsp;now features a configurable email form generator</li>         <li>The horizontal menu navigation can now show sub-levels of navigation</li>         <li>The horizontal menu navigation allows for optional images in the first level</li>     </ul></li>     <li>Redesign of the &quot;Administration&quot; view:</li>     <li><ul>         <li>The &quot;Administration&quot; view in the OpenCms Workplace is in the process of being modularized to allow easier update of individual tools</li>         <li>First version of new API for the development of Workplace Administration tools</li>         <li>Unified the css files of the Workplace in one JSP</li>         <li>Administration is in the process of being split into separate modules</li>     </ul></li>     <li>XML content improvements and new features:     <ul>         <li>Added selector widget for XML content to create dropdown selections</li>         <li>Added &lt;cms:contentcheck&gt; tag to provide information about XML content</li>         <li>Paramaters to the &lt;cms:contentload&gt; tag can now be passed as macro variables, including properties, request parameters etc.</li>         <li>Added support for paging of results from &lt;cms:contentload&gt; tag</li>     </ul></li>     <li>Further improvements:</li>     <li><ul>         <li>Improved performance of internal Lucene search</li>         <li>Updated PDFbox for better results searching in PDF documents</li>         <li>Static export &quot;file scrubbing&quot; can now be customized</li>         <li>Added logging option to site manager for debugging site configuration</li>         <li>Height of popup windows in WYSIWYG editor now automatically adjusts</li>         <li>Permission ACL for folders are not longer automatically inherited to subfolders</li>         <li>Added option to expand/collapse ACL permission dialog details</li>         <li>New module build.xml file available for easy building of individual modules</li>         <li>Modules are now distributed as .zip files to avoid issues with long path names in MS Windows</li>     </ul></li>     <li>Resolved Issues:</li>     <li><ul>         <li>Fixed issue with stray locks of deleted new resources</li>         <li>Fixed several small issues in the static export</li>         <li>Fixed issue with http headers not being written according to http spec</li>         <li>Fixed issue with &quot;help bubbles&quot; hidden behind input elements</li>     </ul></li> </ul> <p><strong>When will the &quot;final&quot; release of OpenCms 6.0 be available?</strong></p> <p>End of Q2/2005. You can help speeding up the process of development by providing feedback for this release and the following releases, especially regarding bugs. In case you find any bug, please use the  <a href="%(link0)">OpenCms bugzilla</a> to document it, or at least post a note to the  <a href="%(link1)">opencms-dev</a> mailing list. The more feedback and code contributions are made, the faster we can fix the issues and finish the development.</p> <p><strong>Who should use this 6.0 beta 1 version?</strong></p> <p>This is a beta version. Please don't expect it to be perfectly stable.</p> <p>Having said that, we believe that this 6.0 beta 1 version is certainly stable enough to be used in a production system. It's likely to be more stable than the current &quot;stable&quot; 5.0.1 release. The main reason for still being in &quot;beta&quot; status is that we want to fully re-write the Workplace &quot;Administration&quot; view before we announce 6.0 as finished.</p> <p>If and how you should use this version depends on what your goals are:</p> <ul>     <li>If you starting a new OpenCms project, you should use this 6.0 beta 1 and not 5.0.1.</li>     <li>If you are currently using any previous 6.0 development release (e.g. 6.0 alpha 1, 2 or 3), you should upgrade to this new version in case you have encountered issues with the release you are using. If this is not the case, you may as well wait until the 6.0 final release is out.</li>     <li>If you are running a website based on OpenCms 5.0.1, and you want to upgrade, you should wait until the final 6.0 release is available.</li> </ul> <p><strong>TODO list to be finished before OpenCms 6.0 is released:</strong></p> <ul>     <li>The rest of the &quot;Administration&quot; view is to be re-implemented in the new tool API</li>     <li>Writing a&nbsp;documentation on&nbsp;how to update from 5.0 to 6.0</li>     <li>Testing and bug fixing - your feedback is required!</li> </ul> <p><strong>Please note:</strong>  <em>The development of JMX for OpenCms and the Content Relationship Engine (CRE), both features initially intended for the 6.0 release, will not make it in the 6.0 release. We hope to add these features in a later version.</em></p> <p>The team at  <a href="%(link2)">Alkacon Software - The OpenCms Experts</a> wants to thank everyone who has contributed to this release of OpenCms.</p>]]></content>
      </Text>
      <Image>
        <Image>
          <link type="WEAK">
            <target><![CDATA[/shared/web/logos/alkacon-opencms-logo.svg]]></target>
            <uuid>33e0f846-a801-11ef-84d7-0242ac11002b</uuid>
          </link>
        </Image>
        <Title><![CDATA[Alkacon OpenCms Logo]]></Title>
      </Image>
    </Paragraph>
    <Author><![CDATA[Alkacon Software GmbH&CoKG]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category>
      <!--Categories are read dynamically-->
    </Category>
    <Availability>
      <Release>1108983600000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
