<?xml version="1.0" encoding="UTF-8"?>

<ArticleData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/article.xsd">
  <Article language="en">
    <Title><![CDATA[OpenCms 6.2.2 release notes]]></Title>
    <Date>1153471980000</Date>
    <Preface><![CDATA[The OpenCms 6.2.2 release notes contain detailed information about the new features and fixed issues in this release.]]></Preface>
    <Paragraph>
      <Text name="Text0">
        <links>
          <link name="link0" internal="true" type="A">
            <target><![CDATA[/shared/web/imported/.content/article-m/oldnews_690.html]]></target>
            <uuid>3ded6667-39e3-11dc-bdab-b7a33137a728</uuid>
          </link>
          <link name="link1" internal="false" type="A">
            <target><![CDATA[http://www.opencms.org/en/development/mailinglist.html]]></target>
          </link>
          <link name="link2" internal="false" type="A">
            <target><![CDATA[http://bugzilla.opencms.org/]]></target>
          </link>
        </links>
        <content><![CDATA[<p>OpenCms 6.2.2 is a maintenance release which fixes several issues reported in OpenCms 6.2.1.
OpenCms 6.2 adds several useful features&nbsp;to&nbsp;OpenCms that are not available in version
6.0.</p>
<p>
<strong>The most important changes the 6.2 release compared to the 6.0 version:</strong>
</p>
<p>
<strong>Major new features (in OpenCms 6.2)</strong>
</p>
<ul>
<li>Multiple selections and operations in the Workplace Explorer</li>
<li>Native image scaling and manipulation</li>
<li>Visual ("diff" like) comparison of document versions</li>
<li>Integration of the popular FCKeditor for WYSIWYG editing</li>
<li>Added "move content up and down" function to the XML content editor</li>
<li>Much improved search index administration interface</li>
<li>More options for generating accessible website content</li>
</ul>
<p>
<strong>Resolved Issues in 6.2.1 compared to the 6.2.0 release</strong>
</p>
<ul>
<li>Added configurable validation handler for user and group name</li>
<li>Improved caching of XML Content definitions by adding a cache to the "unmarshal" factory
methods</li>
<li>Fixed issue with workplace localization that required all explorer related key to be in a
single package</li>
<li>Fixed issue with static export not deleting parameter versions of exported files</li>
<li>Fixed some localization issues in the XML content widget implementations</li>
<li>Fixed issue with synchonization during static export blocking the "clear cache" event</li>
<li>Fixed issue #1078: Custom implementations of CmsWidgetDialog are now able to provide a custom
Title</li>
<li>Fixed issue #1131: Problems with CmsFileUtile#readFully() (thanks to the contribution of Jason
Trump)</li>
<li>Fixed issue #1148: image.size property is now updated when using replace() operation</li>
<li>Fixed issue #1151: Exception when accessing file properties if TemplateOne module not
installed</li>
<li>Fixed issue #1155: Oracle DB contraints are not longer violated during OpenCms setup</li>
<li>Fixed issue #1156: The Setup is trying to drop DB when it doesn't exist</li>
<li>Fixed issue #1157: JavaScript for displaying explorer view is crashed when resource title ends
with "/" ,"\" chars</li>
<li>Fixed issue #1163: NULL_PROPERTY now uses equals() to check for identity, also has a name set
to avoid NPE</li>
<li>Fixed issue #1167: build-single.xml ClassNotFoundException (thanks to the contribution of
Harald Brabenetz)</li>
<li>Fixed issue #1168: JavaScript error when closing database import/export report</li>
<li>Fixed issue #1173: CmsSynchronize called CmsRequestContext#saveSiteRoot() multiple times</li>
<li>Fixed issue #1174: Cache key in Flex request "params" without parameter</li>
<li>Fixed issue #1178: Updated PDFBox.jar to 0.7.2 version to avoid issues with certain PDFs during
search indexing</li>
<li>Fixed issue #1183: CmsJspActionElement.getContent(String) generates NPE for XML Content</li>
<li>Fixed issue #1186: Help bubble popup: Wrong display position using nested XML content</li>
<li>Fixed issue #1187: '&amp;' Character in project name gives "String index out of range: -1"</li>
<li>Fixed issue #1188: Wrong resource link in contenttools module</li>
<li>Fixed issue #1190: Multiple access control and input validation vulnerabilities</li>
<li>Fixed issue #1195: default locale while creating a XmlPage is missing</li>
<li>Fixed issue #1196: Wrong cast in CmsNewsletter has been removed</li>
<li>
<p>Fixed issue #1197: Static export on demand does not scrub parameter based image versions</p>
</li>
</ul>
<p>For a list of features of OpenCms 6 compared to version 5, have a look at the 
<a href="%(link0)">OpenCms 6.0.0 release notes</a>.</p>
<p>
<strong>Backward compatibility</strong>
</p>
<p>We recommend everyone who uses an earlier version of OpenCms to update to this 6.2.2 release. In
case you are using one of the previous versions (OpenCms 6.0.x, 6.2 beta, 6.2.0 or 6.2.1), there
have been several issues fixed in this 6.2.2 release. If you still use OpenCms 5.0.x, you should
definitely consider an update since the 6.2 version is much more advanced and stable.</p>
<p>OpenCms 6.2.2 should be highly backward compatible with all 6.0 versions. Certain minor API
changes have been made, so some adjustments may have to be done for code that uses more advanced
API functions. All Templates should be backward compatible without changes.</p>
<p>To upgrade an existing OpenCms 6.0.x, 6.2 beta, 6.2.0 or 6.2.1&nbsp;to the new 6.2.1 final
release, an easy to use upgrade wizard is provided.</p>
<p>
<strong>Compatibility with Java versions, Servlet containers and databases</strong>
</p>
<p>OpenCms 6.2 requires Java 1.4.x or Java 1.5.x. It won't work with Java 1.3.x. We have tested
only with SUNs version of the JDK. However, OpenCms has no dependencies to sun.* packages so it
should in theory run with all compliant JVMs.</p>
<p>We have tested this release on the Tomcat servlet engine and to some extend on JBoss 4.0.
OpenCms 6.2 works "out of the box" with Tomcat 5.0.x and Tomcat 5.5.x. Others have reported
deploying 6.x versions successfully on other servlet containers like BEA Weblogic and SunONE.</p>
<p>On the database side, we have tested with MySQL 4.0, MySQL 4.1, MySQL 5.0, Oracle 9.x and Oracle
10.x. PostgresSQL support has been tested and improved by Ivan Codarin. maxDB support has been
contributed thanks to Clovis Wichoski and Fabiano Rech. Experimental MS SQL server support has been
contributed thanks to Andras Balogh. We still are looking for volunteers to support testing the
stability of the maxDB and MS SQL versions.</p>
<p>
<strong>Regarding version numbers and CVS build tags</strong>
</p>
<p>In case you want to check out OpenCms from the CVS, please keep the following in mind: The CVS
tag for the 6.2.2 release is "build_6_2_2". Development of the next OpenCms release is done in the
"DEV_7_0" branch. Upcoming development version will use the version numbers 6.3.x for the next time
and will be likewise tagged in the CVS.</p>
<p>
<strong>How you can help</strong>
</p>
<p>Contributions to the OpenCms core development are most welcome. Please contact the core
development team on the 
<a href="%(link1)">opencms-dev</a> mailing list.</p>
<p>Please use our Bugzilla to report bugs in this release: 
<a target="_blank" href="%(link2)">http://bugzilla.opencms.org/</a></p>]]></content>
      </Text>
    </Paragraph>
    <Author><![CDATA[Alkacon Software]]></Author>
    <MetaInfo>
      <Description><![CDATA[Alkacon OpenCms, easy to use, professional open source content management based on Java and XML.]]></Description>
      <Keywords><![CDATA[Alkacon, OpenCms, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website]]></Keywords>
    </MetaInfo>
    <Category/>
    <Availability>
      <Release>1153471980000</Release>
      <Expiration>0</Expiration>
    </Availability>
  </Article>
</ArticleData>
