<?xml version="1.0" encoding="UTF-8"?>

<RedirectPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.sitemap/schemas/redirect.xsd">
  <RedirectPage language="en">
    <Link>
      <link internal="false" type="WEAK">
        <target><![CDATA[http://www.opencms.org/de/download/opencms.html]]></target>
      </link>
    </Link>
    <Type><![CDATA[307]]></Type>
  </RedirectPage>
</RedirectPages>
