<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>8573f3e3-4e6a-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-group/lg_00006.xml]]></target>
            <uuid>7bf6ef22-c33e-11e9-9daf-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b-header-breadcrumbs]]></Name>
      <Type><![CDATA[nav-breadcrumbs]]></Type>
      <ParentInstanceId><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>b2891737-4e6a-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/breadcrumbs</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>4bca37f4-8119-11e9-9d43-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[breadcrumbsIncludeHidden]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssVisibility]]></Name>
          <Value>
            <String><![CDATA[hidden-xs hidden-sm hidden-md]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b-header-config]]></Name>
      <Type><![CDATA[header-config]]></Type>
      <ParentInstanceId><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>92ca6974-4e6a-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/functions/header-config</FormatterKey>
        <Properties>
          <Name><![CDATA[acDisplay]]></Name>
          <Value>
            <String><![CDATA[ac-page-size]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[acPosition]]></Name>
          <Value>
            <String><![CDATA[ac-above-logo]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[logoSize]]></Name>
          <Value>
            <String><![CDATA[ls-3]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[metaDisplay]]></Name>
          <Value>
            <String><![CDATA[hide-meta]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b-header-container]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>141611b0-69bc-11ea-8d2f-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[141611b0-69bc-11ea-8d2f-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[141611b0-69bc-11ea-8d2f-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>a91cb431-69bc-11ea-8d2f-0242ac11002b</ElementInstanceId>
        <FormatterKey>53818823-69bb-11ea-8d2f-0242ac11002b</FormatterKey>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b-header-image]]></Name>
      <Type><![CDATA[image-minimal]]></Type>
      <ParentInstanceId><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>33c281f5-812c-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/section/image-minimal</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/section-m/cs_00001.xml]]></target>
            <uuid>3668c2c8-812c-11e9-9cd8-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b-header-nav-main]]></Name>
      <Type><![CDATA[nav-main]]></Type>
      <ParentInstanceId><![CDATA[8573f3e3-4e6a-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>8355413a-812b-11e9-9cd8-d529725938a7</ElementInstanceId>
        <FormatterKey>m/navigation/main</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>4bca37f4-8119-11e9-9d43-d529725938a7</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
