<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>4b344fb8-4e6e-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[4b344fb8-4e6e-11ea-a7f8-0242ac11002b-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[4b344fb8-4e6e-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>54564359-4e6e-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-group/lg_00004.xml]]></target>
            <uuid>f51431af-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[54564359-4e6e-11ea-a7f8-0242ac11002b-side-group]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[54564359-4e6e-11ea-a7f8-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>6f811fd7-571e-11ea-bfef-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/side</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/navigation-m/nav_00002.xml]]></target>
            <uuid>733e4ee8-571e-11ea-bfef-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssVisibility]]></Name>
          <Value>
            <String><![CDATA[hidden-xs hidden-sm hidden-md]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
