<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>ba82c9ab-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-group/lg_00002.xml]]></target>
            <uuid>f5132039-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::source_containerpage_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b-subfoot]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>17a30999-8b06-11ef-8b18-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-full]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[17a30999-8b06-11ef-8b18-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[17a30999-8b06-11ef-8b18-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>3aa1a04c-8b06-11ef-8b18-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/linksequence-m/ls_00001.xml]]></target>
            <uuid>e2f9c5da-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[line]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linksequenceType]]></Name>
          <Value>
            <String><![CDATA[ls-row]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b-topfoot]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[ba82c9ab-cfe3-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>5ea1eee5-8b06-11ef-8b18-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00009.xml]]></target>
            <uuid>f51987fc-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-full]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[5ea1eee5-8b06-11ef-8b18-0242ac11002b-addcol1]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[5ea1eee5-8b06-11ef-8b18-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>85fcce53-9a85-11ef-996c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/linksequence-m/ls_00004.xml]]></target>
            <uuid>87357567-9a85-11ef-996c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[5ea1eee5-8b06-11ef-8b18-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[5ea1eee5-8b06-11ef-8b18-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>41d3ebac-9a85-11ef-996c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/linksequence-m/ls_00003.xml]]></target>
            <uuid>43825f02-9a85-11ef-996c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[5ea1eee5-8b06-11ef-8b18-0242ac11002b-sidecol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[5ea1eee5-8b06-11ef-8b18-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>525c5fff-9a88-11ef-996c-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/linksequence-m/ls_00005.xml]]></target>
            <uuid>54646508-9a88-11ef-996c-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[iconClass]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
