<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>409780e6-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-group/lg_00006.xml]]></target>
            <uuid>7bf6ef22-c33e-11e9-9daf-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-image]]></Name>
      <Type><![CDATA[image-minimal]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>593c18e8-cfe2-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/image-minimal</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00001.xml]]></target>
            <uuid>e31a1f38-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-linksequence]]></Name>
      <Type><![CDATA[linksequence-header]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2d8cf4bc-cfea-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/element/linksequence-header</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/linksequence-m/ls_00002.xml]]></target>
            <uuid>e2fde48d-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b-header-nav-main]]></Name>
      <Type><![CDATA[nav-main]]></Type>
      <ParentInstanceId><![CDATA[409780e6-cfe2-11e9-8fbe-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>3716af03-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/navigation/main</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/navigation-m/nav_00001.xml]]></target>
            <uuid>e30c3c7e-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[showSearch]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textDisplay]]></Name>
          <Value>
            <String><![CDATA[cap-none]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
