<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>989295fa-cfe3-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>e3027872-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3027872-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>907c7b8c-d07c-11e9-861d-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00001.xml]]></target>
            <uuid>f50e8c42-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>24ca7886-cfe5-11e9-8fbe-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>e3064907-77e4-11ea-8d2f-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[e3064907-77e4-11ea-8d2f-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[907c7b8c-d07c-11e9-861d-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>017d1126-abd2-11ef-9de1-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[cssWrapper2]]></Name>
          <Value>
            <String><![CDATA[fluid-raster-small]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[017d1126-abd2-11ef-9de1-0242ac11002b-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[017d1126-abd2-11ef-9de1-0242ac11002b]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>2746e955-92d6-11ef-b29b-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00058.xml]]></target>
            <uuid>2893dbb9-92d6-11ef-b29b-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[box box-theme box-stretch stretch-left]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[1]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[lead]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>2b8db03b-e878-11ef-a42a-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/dynamic</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/list-m/list_00007.xml]]></target>
            <uuid>2c8d1edf-e878-11ef-a42a-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[appendSwitch]]></Name>
          <Value>
            <String><![CDATA[md-sm-xs-lg-xl-xxl]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[buttonText]]></Name>
          <Value>
            <String><![CDATA[Zeige Showcase]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[dateFormat]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listPaginationPosition]]></Name>
          <Value>
            <String><![CDATA[pagination-center]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceLayoutList]]></Name>
          <Value>
            <String><![CDATA[2]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeDesktop]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[pieceSizeMobile]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textLength]]></Name>
          <Value>
            <String><![CDATA[-1]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>298477e9-9534-11ef-b29b-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/filter</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/list-m/list_00002.xml]]></target>
            <uuid>ec8981f2-9533-11ef-b29b-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[catdisplayoptions]]></Name>
          <Value>
            <String><![CDATA[onlyleafs]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[catfilters]]></Name>
          <Value>
            <String><![CDATA[blacklist:Alkacon Partner]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[reference-sites mb-sm]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[headline]]></Name>
          <Value>
            <String><![CDATA[Branchen]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showarchive]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showsearch]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>51212ab7-abf5-11ef-b234-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/section/text-only</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/section-m/cs_00002.xml]]></target>
            <uuid>53830f8a-abf5-11ef-b234-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[hsize]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[linkOption]]></Name>
          <Value>
            <String><![CDATA[button-sm]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[textOption]]></Name>
          <Value>
            <String><![CDATA[none]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>e9d81d8d-9533-11ef-b29b-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/dynamic</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/opencms/.content/list-m/list_00002.xml]]></target>
            <uuid>ec8981f2-9533-11ef-b29b-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[itemsPerPage]]></Name>
          <Value>
            <String><![CDATA[100]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listHsize]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
