<?xml version="1.0" encoding="UTF-8"?>

<AlkaconContainerPages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_page.xsd">
  <AlkaconContainerPage language="en">
    <Containers>
      <Name><![CDATA[mercury-page]]></Name>
      <Type><![CDATA[area]]></Type>
      <IsRootContainer>true</IsRootContainer>
      <Elements>
        <ElementInstanceId>8bc601b6-4e6e-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00001.html]]></target>
            <uuid>59535163-812b-11e9-9cd8-d529725938a7</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[59535163-812b-11e9-9cd8-d529725938a7]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>24c4982f-8119-11e9-9d43-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/area-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-area/la_00003.xml]]></target>
            <uuid>f50fc4c8-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>8fa007fb-4e6e-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00002.html]]></target>
            <uuid>d11f5fb5-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[d11f5fb5-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[24c4982f-8119-11e9-9d43-d529725938a7-aside]]></Name>
      <Type><![CDATA[element, side-group]]></Type>
      <ParentInstanceId><![CDATA[24c4982f-8119-11e9-9d43-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>b29ce769-53d8-11ea-a6ea-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/filter</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00012.xml]]></target>
            <uuid>3153377f-53d8-11ea-a6ea-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showarchive]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[showcategories]]></Name>
          <Value>
            <String><![CDATA[hidden]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>889beae5-4e6e-11ea-a7f8-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/layout/group</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/modelgroup/modelgroup-00003.html]]></target>
            <uuid>f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_id]]></Name>
          <Value>
            <String><![CDATA[f8fe6f8b-4e6c-11ea-a7f8-0242ac11002b]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::model_group_state]]></Name>
          <Value>
            <String><![CDATA[isModelGroup]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[SYSTEM::use_as_copy_model]]></Name>
          <Value>
            <String><![CDATA[false]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[24c4982f-8119-11e9-9d43-d529725938a7-main]]></Name>
      <Type><![CDATA[row]]></Type>
      <ParentInstanceId><![CDATA[24c4982f-8119-11e9-9d43-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>342ed290-8119-11e9-9d43-d529725938a7</ElementInstanceId>
        <FormatterKey>m/layout/row-simple</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/system/shared/mercury/template/layout-row/lr_00001.xml]]></target>
            <uuid>f5151b14-3a95-11e9-bd84-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
    </Containers>
    <Containers>
      <Name><![CDATA[342ed290-8119-11e9-9d43-d529725938a7-maincol]]></Name>
      <Type><![CDATA[element]]></Type>
      <ParentInstanceId><![CDATA[342ed290-8119-11e9-9d43-d529725938a7]]></ParentInstanceId>
      <Elements>
        <ElementInstanceId>927abca5-53d8-11ea-a6ea-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/sortoptions</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00012.xml]]></target>
            <uuid>3153377f-53d8-11ea-a6ea-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
      </Elements>
      <Elements>
        <ElementInstanceId>27ad19a5-5ec7-11ea-93df-0242ac11002b</ElementInstanceId>
        <FormatterKey>f7ea58ea-5ec5-11ea-93df-0242ac11002b</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00012.xml]]></target>
            <uuid>3153377f-53d8-11ea-a6ea-0242ac11002b</uuid>
          </link>
        </Uri>
      </Elements>
      <Elements>
        <ElementInstanceId>2f4ce02e-53d8-11ea-a6ea-0242ac11002b</ElementInstanceId>
        <FormatterKey>m/list/dynamic</FormatterKey>
        <Uri>
          <link type="STRONG">
            <target><![CDATA[/sites/web/intranet/.content/list-m/list_00012.xml]]></target>
            <uuid>3153377f-53d8-11ea-a6ea-0242ac11002b</uuid>
          </link>
        </Uri>
        <Properties>
          <Name><![CDATA[SYSTEM::create_new]]></Name>
          <Value>
            <String><![CDATA[true]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[appendSwitch]]></Name>
          <Value>
            <String><![CDATA[md-sm-xs-lg-xl]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[cssWrapper]]></Name>
          <Value>
            <String><![CDATA[intra-list-mark-inactive]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[itemsPerPage]]></Name>
          <Value>
            <String><![CDATA[50]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listHsize]]></Name>
          <Value>
            <String><![CDATA[0]]></String>
          </Value>
        </Properties>
        <Properties>
          <Name><![CDATA[listPaginationPosition]]></Name>
          <Value>
            <String><![CDATA[pagination-center]]></String>
          </Value>
        </Properties>
      </Elements>
    </Containers>
  </AlkaconContainerPage>
</AlkaconContainerPages>
