<%--

Redirect JSP modified 08/02/25 by AK.

--%><%@ page session="false" import="java.util.*" %><%

// initialise Cms Action Element
org.opencms.jsp.CmsJspActionElement cms = new org.opencms.jsp.CmsJspActionElement(pageContext, request, response);

List browserLanguages = new ArrayList();
String accLangs = request.getHeader("Accept-Language");
if (accLangs != null) {
    StringTokenizer toks = new StringTokenizer(accLangs, ",");
    while (toks.hasMoreTokens()) {
        // Loop through all languages and cut off trailing extensions
        String current = toks.nextToken().trim();
        if (current.indexOf("-") > -1) {
            current = current.substring(0, current.indexOf("-"));
        }
        if (current.indexOf(";") > -1) {
            current = current.substring(0, current.indexOf(";"));
        }
        browserLanguages.add(current.toLowerCase());
    }
}

String target = null;
Iterator i = browserLanguages.iterator();
String targetLang = null;
boolean found = false;

while(i.hasNext() && (! found)) {
    String lang = (String)i.next();
    target = cms.property("redirect-" + lang);
    try {
        cms.getCmsObject().readResource(target);
        found = true;
    } catch (Exception e) {}
}
if (! found) {
    target = cms.property("redirect-en");
}

if ((target != null) && (!"".equals(target)) && (request.getParameter("test") == null)) {
    response.sendRedirect(cms.link(target));
}

%><!DOCTYPE html>
<html lang="en">
<head>
<title>Language redirect to <%= target %></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="Alkacon OpenCms & Co. KG, easy to use, professional open source content management based on Java and XML." />
<meta name="keywords" content="Alkacon, OpenCms & Co. KG, Java, CMS, J2EE, OSS, Open Source, Content, Management, Software, Website" />
<meta name="author" content="Alkacon Software GmbH & Co. KG, Cologne, Germany" />
<meta name="copyright" content="Alkacon Software GmbH & Co. KG, Cologne, Germany" />
<meta name="robots" content="noindex, follow, noarchive" />
</head>
<body>
<h1>You are redirected to your language version!</h1>
<p>Please redirect your browser to: <a href="<%= cms.link(target) %>"><%= cms.link(target) %></a></p>
</body>
</html>
